[2015-03-24 23:16] ehazlett commented on #869
hmm ok thanks -- could you run `docker version` as well?

[2015-03-25 00:47] hairyhenderson commented on #869
@rajurs - It's a little odd that `machine env test` returns a `DOCKER_CERT_PATH` without double-quotes. Also, `machine config test` should have double-quotes surrounding each of the paths. Which version of docker-machine is this?

[2015-03-25 00:54] rajurs commented on #869
Being a Linux Noob, I don’t know why the quotes are not showing up!

I just checked the version for docker machine, I am running 0.1.0

Sent from Windows Mail

From: Dave Henderson
Sent: ‎Tuesday‎, ‎March‎ ‎24‎, ‎2015 ‎5‎:‎47‎ ‎PM
To: docker/machine
Cc: Pradeep Rajurs

@rajurs - It's a little odd that machine env test returns a DOCKER_CERT_PATH without double-quotes. Also, machine config test shou

[2015-03-25 01:03] rajurs commented on #869
Here is what is confusing to me…

When I remove the machines, (machine stop, rm etc) and then just use the docker installation on the Ubuntu box, docker version says its 1.5 (this is the docker installation from sudo apt-get install docker.io).

When a machine is running, docker version is returning Client Version 1.0.1

Rajurs

Sent from Windows Mail

From: Evan Hazlett
Sent: ‎Tuesday‎, ‎March‎ ‎

[2015-03-25 01:39] hairyhenderson commented on #869
@rajurs - would you mind trying this out with the 0.2.0 release candidate? Download it from  https://github.com/docker/machine/releases/tag/v0.2.0-rc1

I thought you were using a more recent build, which is why I assumed there would be quotes :)

[2015-03-25 02:00] hairyhenderson commented on #864
@dwamara - you could try adding `--debug` to get more information:

[code]

[2015-03-25 04:12] cboettig opened #871 "How to authenticate with amazonec2 driver with IAM-based security credentials?"
Hi,

I'm looking for advice on how to use docker machine without using a root-level key and secret key, as Amazon recommends.

First, I noticed a minor inconsistency in the [docker machine documentation](https://docs.docker.com/machine/), which appears to be for version `0.1.0` (which is what is available for download on that site right now), but still documents the argument `--amazonec2-iam-insta

[2015-03-25 14:22] shawnzhu commented on #669
@TrumanLing the option `--virtualbox-boot2docker-url` is fixed in #805

[2015-03-25 16:10] rajurs commented on #869
I downloaded the linux amd64 binary from the link below and ran machine

It still says it is version
VERSION:
    0.1.0 (aeb89ff)

Is this the right version? Does not say its 0.2.0

On 03/24/2015 06:39 PM, Dave Henderson wrote:

[2015-03-25 16:30] ehazlett commented on #869
@rajurs yes there was a versioning issue but that is the correct SHA for the RC1.

Do you have any aliases or functions in your shell config that would be changing the Docker binary used?  Can you also run `docker version` so we can see what versions you are working with?

Thanks

[2015-03-25 16:44] rajurs commented on #869
Nope, its a clean machine with no aliases.

Even with version 0.2.0, machine is failing to list containers.

Here is what I did:

rajurs@rajurs:~$ machine create --driver virtualbox dev
INFO[0000] Creating SSH key...
INFO[0000] Creating VirtualBox VM...
INFO[0011] Starting VirtualBox VM...
INFO[0011] Waiting for VM to start...
INFO[0044] "dev" has been created and is now the active machine.
INFO[0

[2015-03-25 17:58] ehazlett commented on #869
So it looks like you have an old version of the client as it cannot even get the Docker version.  Can you try updating your local client to 1.5?

[2015-03-25 18:32] tombee commented on #843
### Test Environment
Mac OS Yosemite and VirtualBox 4.3.20
[code]
### Documentation and Flags
The flags available for configuring the VirtualBox driver are:
[code]
@ehazlett Are we missing environment variables for `$VIRTUALBOX_DISK_SIZE` and `$VIRTUALBOX_MEMORY`?

### 1. Can create a VirtualBox host with default boot2docker URL, 10000MB disk size and 512MB memory
I'm finding it just hangs here:
[

[2015-03-25 18:40] slashk commented on #843
@tombee @ehazlett   pull request #873 adds integration tests that exercises @tombee scenario above

[2015-03-25 19:10] dwamara commented on #864
Here you go
[code]

[2015-03-25 19:30] christiprez opened #874 "Docker-Machine : "ERRO[0036] Error creating machine: exit status 1""
Hello,

I am a new-comer. I am trying to use Docker-Machine but I cannot create a machine.
I run the following command : $ docker-machine create -d virtualbox dev

Here is the error I am getting :
ERRO[0036] Error creating machine: exit status 1
WARN[0036] You will want to check the provider to make sure the machine and associated resources were properly removed.

I am using a VM on VirtualBox wit

[2015-03-25 19:41] ehazlett commented on #871
/cc @sthulb

[2015-03-25 19:42] ehazlett commented on #871
@cboettig thanks for the feedback and kind words! I cc'd simon as I think he can give some guidance.

[2015-03-25 19:42] ehazlett commented on #874
welcome!  could you run the following to give some more debug info: `docker-machine -D create -d virtualbox dev`

thanks

[2015-03-25 19:44] ehazlett commented on #843
@slashk thanks!

@tombee yes i think those would be good to have (env vars).  would you mind submitting a PR?  thanks!

[2015-03-25 19:55] tombee commented on #843
@ehazlett I'd be glad to, thanks for that.

I'll resume the validation once there's a fix for the issue @slashk and I have ran into :smiley:

[2015-03-25 19:55] ehazlett commented on #843
@tombee thanks!

[2015-03-25 20:24] sthulb commented on #871
That particular flag is to attach a role to an instance. By any chance are you trying to run machine using the credentials from the instance? If so are you specifying the session token via --amazonec2-session-token?

[2015-03-25 20:32] andrewwatson commented on #871
FWIW I am using an AWS access and secret key that is **not** a root key and not specifying iam-instance-profile and I am able to create instances just fine...

[2015-03-25 20:56] christiprez commented on #874
Hi ehazlett,

here it is :
DEBU[0000] executing: /usr/bin/VBoxManage
DEBU[0000] STDOUT: Oracle VM VirtualBox Command Line Management Interface Version 4.3.26
(C) 2005-2015 Oracle Corporation
All rights reserved.

Usage:

  VBoxManage [<general option>] <command>

General Options:

  [-v|--version]            print version number and exit
  [-q|--nologo]             suppress the logo
  [--settingsp

[2015-03-25 21:01] ChristopherBiscardi opened #875 "Can't communicate through unix socket on b2d machines"
when ssh'd in to b2d instance, you should be able to use docker. Currently you can't because it doesn't accept connections on the socket.

(Using master build)

cc @nathanleclaire

[2015-03-25 21:04] nathanleclaire commented on #875
I'm on this

[2015-03-25 22:45] tombee commented on #843
OK.. tried again after rebooting, seems I just had some spurious VirtualBox issues

### Test Environment
Mac OS Yosemite and VirtualBox 4.3.20
[code]
### Documentation and Flags
The flags available for configuring the VirtualBox driver are:
[code]
@ehazlett Are we missing environment variables for `$VIRTUALBOX_DISK_SIZE` and `$VIRTUALBOX_MEMORY`?

### [:large_blue_circle: PASS] 1. Can create a Vir

[2015-03-25 23:46] jjacobso commented on #840
#dibs

[2015-03-25 23:53] aanand opened #877 "Print usage hint on `docker-machine env`"
In light of confusing experiences like #851 (which I just experienced myself), it might be nice to show a usage hint in the output of `docker-machine env` - commented out, of course:

[code]

(It needs to come afterwards because of shell expansion - if the hash is at the beginning, the whole thing will be treated as a comment :smirk:)

[2015-03-26 00:33] ehazlett commented on #874
@slashk @tombee did your vbox issues look like this?

@christiprez thanks for the paste.  could you also pastebin the virtualbox log?  You can find that in `~/.docker/machine/machines/dev/dev/Logs/VBox.log`

Thanks!

[2015-03-26 00:34] ehazlett commented on #871
thanks @andrewwatson

all: is there anything we can document more to help get this setup?

[2015-03-26 00:36] slashk commented on #874
Yes. However, I ran it again and while I still got the curious first VBoxManage usage, it completed correctly. Did we change the .docker/machine file format from 0.1 to 0.2 ? perhaps we are seeing some left over bad data ?

[2015-03-26 00:43] rajurs commented on #869
Evan,

Installed newer versions of machine and docker. Things seem to be working as documented.

Thanks

Rajurs

Sent from Surface

From: Evan Hazlett
Sent: ‎Wednesday‎, ‎March‎ ‎25‎, ‎2015 ‎10‎:‎58‎ ‎AM
To: docker/machine
Cc: 'Pradeep Rajurs'

So it looks like you have an old version of the client as it cannot even get the Docker version. Can you try updating your local client to 1.5?

—
Reply to

[2015-03-26 00:59] #855 closed

[2015-03-26 01:13] mattreyuk commented on #877
#dibs

[2015-03-26 01:38] awsmsrc commented on #858
#dibs

[2015-03-26 01:59] slashk commented on #840
#dibs

[2015-03-26 02:00] ehazlett commented on #675
This has been fixed in #770

[2015-03-26 02:00] #675 closed

[2015-03-26 02:06] awsmsrc commented on #797
@ehazlett just checked this and couldn't replicate

[2015-03-26 02:08] mattreyuk opened #878 "Stuck waiting for VM to start and Bad port '0' on virtualbox driver on mac"
creating a virtualbox machine with `docker-machine create --driver virtualbox devVM` leads to output:

INFO[0000] Creating SSH key...
INFO[0001] Creating VirtualBox VM...
INFO[0010] Starting VirtualBox VM...
INFO[0011] Waiting for VM to start...

it then hangs. Looking at the virtualBox manager it shows the machine running. If i try and run other commands in another window (eg docker-machine ls )

[2015-03-26 02:14] pbiggar commented on #819
Trying to do this during the open-source-a-thon

[2015-03-26 02:14] ehazlett commented on #878
Hey thanks for reporting!  We currently have a PR (https://github.com/docker/machine/pull/828) for this issue.  It is in our allocation for a high port for virtualbox.  You can usually fix the issue by removing the machine and re-creating.

[2015-03-26 02:15] ehazlett commented on #877
@aanand +1

[2015-03-26 02:17] ehazlett commented on #875
This appears to be in our provisioner (https://github.com/docker/machine/blob/master/libmachine/provision/boot2docker.go#L91) doesn't have the socket option for b2d whereas the Ubuntu one does (https://github.com/docker/machine/blob/master/libmachine/provision/ubuntu.go#L150)

I'll let @nathanleclaire get this :)

Thanks for reporting!

[2015-03-26 02:17] ehazlett commented on #869
@rajurs awesome!  thanks for reporting and letting us know it fixed it!

[2015-03-26 02:17] #869 closed

[2015-03-26 02:18] ehazlett commented on #874
@slashk there were updates but we have a migration shim that should take care of old machines but should not affect new ones.

[2015-03-26 02:44] ehazlett commented on #797
@awsmsrc thanks for verifying!  i think this was fixed in #832 just merged.  thanks!

[2015-03-26 02:44] #797 closed

[2015-03-26 03:23] #819 closed

[2015-03-26 03:40] awsmsrc commented on #808
#dibs

[2015-03-26 03:52] cboettig commented on #871
Thanks for the replies. @sthulb I couldn't actually figure out what an `--amazonec2-session-token` is -- do I need that for authentication to work when using IAM keys instead of root keys?  (Also not sure I follow what you mean by 'credentials from the instance', but I'm trying to create an instance via docker machine, so there isn't an existing instance that possesses certain credentials, just an

[2015-03-26 06:03] christiprez commented on #874
Hello Evan, here below is the log. Many thanks for your help.

VirtualBox VM 4.3.26 r98988 linux.amd64 (Mar 16 2015 14:50:37) release log
00:00:00.030268 Log opened 2015-03-23T15:34:55.086436000Z
00:00:00.030271 Build Type: release
00:00:00.030276 OS Product: Linux
00:00:00.030279 OS Release: 3.10.0-123.20.1.el7.x86_64
00:00:00.030282 OS Version: #1 SMP Thu Jan 29 18:05:33 UTC 2015
00:00:00.030411

[2015-03-26 06:18] slashk commented on #874
@christiprez   some of the lines of your output indicate that you don't have a virtualization capable CPU or you have VT-x disabled in the bios. It's these lines:

[code]

You can confirm this by executing this command in your bash shell:

[code]

If it comes back with 0 (zero), you need to turn on virtualization support in the BIOS (or get a new laptop). On Lenovo laptops, this is in the BIOS (wh

[2015-03-26 06:27] christiprez commented on #874
Hi slashk,
It is coming back with 0.
my virtualbox version is : 4.3.26r98988
I have a Dell laptop, but I had the some problem at the university. I will try to turn on virtualiszation support and try again.
Cheers,
Chris

[2015-03-26 06:30] slashk commented on #874
@christiprez   oh, a dell laptop. sorry, enabling vt-x seems to be a bit harder on those.

read this, it might help you:

http://www.keycruncher.com/blog/2013/11/26/enable-long-64-bit-vt-x-mode-support-on-latitude-d630-for-virtualbox/

[2015-03-26 08:33] christiprez commented on #874
In fact, I am on my virtual machine in virtualbox and for my VM the VT-x is enabled :
![vt-x](https://cloud.githubusercontent.com/assets/9840608/6842661/0c844458-d39b-11e4-8d9a-e7ce8b014224.jpg)

[2015-03-26 09:29] sthulb opened #883 "Strip out dependencies"
We should remove some of our dependencies, a good example is: `github.com/docker/docker/api`, it's only used by the `none` driver for validating a host.

[2015-03-26 10:04] sthulb commented on #883
Q: Are a lot of the things in our `Godeps.json` file there because they're dependencies of dependencies?

cc @ehazlett @nathanleclaire

[2015-03-26 12:08] sthulb commented on #871
I guess firstly:
 - Where are you getting the 403? from machine or a service on your instance?
 - Where are you running machine, on a local computer or on an instance?
 - Does the IAM user have access to `ec2:*`?

[2015-03-26 13:39] tombee commented on #717
Ping @ehazlett @bfirsh

Just doing some triage... I think this issue can be closed as @shawnzhu, it is also working fine for me using `http_proxy`.

[2015-03-26 14:36] hairyhenderson commented on #819
I think this was a duplicate of #822

[2015-03-26 17:47] rhodgin commented on #863
@hairyhenderson - I'm able to consistently reproduce this issue with the 0.1.0 release but it doesn't happen after compiling 0.2.0. 0.2.0 doesn't include the "Configuring host OS step" in its output but displays "Waiting for host setup transactions to complete". This step completes quickly and finishes creation as expected.

[2015-03-26 19:46] twhiteman opened #886 "Add option to skip SSH provisioning"
Currently the "none" driver name is used to skip the SSH provisioning steps:
https://github.com/docker/machine/blob/45f08d9815734d88d25e9c49873cf67b6699a5fd/libmachine/host.go#L110

I'd like to be able to skip the SSH provisioning too, for a [SDC Docker](https://github.com/joyent/sdc-docker) driver I'm writing.

My initial thoughts are to add *SupportsSSH* or *SupportsSSHProvisioning()* to the Dri

[2015-03-26 20:14] dwamara commented on #864
It looks like I closed it by mistake yesternite.

[2015-03-26 23:28] jeremy646 commented on #838
#dibs

[2015-03-26 23:34] soleo commented on #843
#dibs

[2015-03-26 23:42] djfarrelly commented on #746
#dibs

[2015-03-26 23:56] djfarrelly commented on #776
#dibs

[2015-03-27 00:16] soleo opened #888 "machine didn't start downloading boot2docker.iso first time to use"
[code]

It works after remove dev and create again

[2015-03-27 00:24] jeremy646 commented on #838
Just needed to add the --digitalocean-access-token flag with my DO token for a successful droplet creation - ny3 and ubuntu 14 are default. Tested additionally with the --digitalocean-image flag and the --digitalocean-region flag.

The image flag worked for ubuntu 14, debian 7,

Fedora 21 could not install docker. Coreos and centos showed invalid image errors (not surprising for centos)

The regio

[2015-03-27 02:02] mattetti opened #889 "DOC: not everyone is familiar with the concept of PATH, link or add more information about it"
The documentation asks users to download the binary to their `PATH`, however, lots of users won't be familiar with their path. I would strongly suggest to link to some documentation about path, especially for Windows users out there. Another option is to suggest some common paths based on the os, `/usr/local/bin` for instance for Mac and Linux.

[2015-03-27 02:03] mattetti commented on #889
https://docs.docker.com/machine/

[2015-03-27 02:24] mattetti opened #890 "DOC: simplify the setup information"
I was trying to setup machine tonight and run into a few issues, I'm about to contribute a simple doc PR but apparently I need an issue to properly name my branch, so here I am :p

[2015-03-27 07:17] soleo commented on #843
I did check for MemorySize and DiskSize. Looks like need to check boot2docker url as well. Everything looks good in my commit? If this approach is good, I think I could use the same method to close all the other issues related with flag checking.

[2015-03-27 14:19] ehazlett commented on #843
@soleo thanks!  commented in that PR

[2015-03-27 15:05] ehazlett commented on #890
Thanks!  Closing as #891 is merged.

[2015-03-27 15:05] #890 closed

[2015-03-27 15:57] ehazlett commented on #717
yes -- thanks!

[2015-03-27 15:57] #717 closed

[2015-03-27 17:48] teng-lin commented on #858
I have initial successful to replace the driver with aws-sdk-go. Not sure if the API is stable or not though.
@ehazlett, do you plan to do some kind of integration testing for various driver?

[2015-03-27 17:56] nathanleclaire commented on #888
It looks like we try to go forward anyway even though the release check / ISO download failed (might be related to the Github DDoS, but that's neither here nor there).  I have a fix in mind for this, thanks for the bug report.

[2015-03-27 18:22] ehazlett commented on #883
@sthulb yes i believe so

[2015-03-27 18:33] ehazlett commented on #874
@christiprez you are running virtualbox from within a virtual machine?  i don't think the nesting will work.

[2015-03-27 18:42] ehazlett commented on #858
@teng-lin we have (a few) unit tests for the existing AWS driver and integration tests with bats (check the test/integration dir).

/cc @sthulb as he has worked on this in the past

[2015-03-27 19:35] christiprez commented on #874
Ok, thanks for your help.

[2015-03-27 19:35] #874 closed

[2015-03-27 20:43] gauthamacharya commented on #863
Confirming that the issue is closed with 0.2.0 builds ! The issues was consistent with 0.1.0 version

[2015-03-27 20:43] #863 closed

[2015-03-27 21:47] wzymaster commented on #863
where to download 0.2.0 version ? or I have to build it myself ?

[2015-03-27 21:57] hairyhenderson commented on #863
@wzymaster - 0.2.0 isn't quite out yet, but you can get a release candidate here: https://github.com/docker/machine/releases

[2015-03-27 22:04] wzymaster commented on #863
thx very much and I will give it a try.

[2015-03-27 22:11] joshuacalloway opened #897 "amazonec2 login to centos ami"
Not obvious to me, but I'm trying to login into a centos based Amazon AMI.   The username is "root" and not "ubuntu"

Maybe add this flag "--amazonec2-username=root"

script example
-------
`docker-machine create --driver amazonec2  --amazonec2-access-key=AXXY --amazonec2-secret-key=Uxdfsc --amazonec2-vpc-id=vpc-123 --amazonec2-subnet-id=subnet-123 --amazonec2-security-group=vpc-wide-open-for-test

[2015-03-27 22:31] wzymaster commented on #863
Sorry, I just download the pre-release of 0.2.0 and run docker-machine like below :
./docker-machine create --driver softlayer      --softlayer-user leow      --softlayer-api-key 0a7e316ab1004f761672ab1a890f906cb3a90ba978c5c217c2ca500fd42b820d       --softlayer-cpu 4      --softlayer-memory 8192      --softlayer-disk-size  0      --softlayer-domain imdemocloud.com      --softlayer-hostname "leo-de

[2015-03-27 22:31] sthulb commented on #897
I'd expect `--ssh-user` as a flag I guess.

[2015-03-27 22:32] wzymaster commented on #863
btw, I am running docker-machine on the macBook with OS X v10.9.5

[2015-03-27 22:34] ahmetalpbalkan commented on #555
+1 this would improve windows command line prompt (cmd.exe) & PowerShell experience a great deal as Windows by default doesn't have ssh.exe in PATH.

[2015-03-27 22:35] ahmetalpbalkan commented on #555
A big +1 for this! This would improve windows command line prompt (cmd.exe) & PowerShell experience a great deal for users as Windows by default doesn't have ssh.exe in PATH.

[2015-03-27 23:32] nathanleclaire commented on #897
If we had that flag it _maybe_ would have worked with previous versions of machine, but with the current master branch of `docker-machine` we only support Ubuntu and boot2docker as OSes.  We will gradually be expanding our reach into other OSes, though (just did a big refactor to support this), so stay tuned.

cc @ehazlett probably want to close this.

[2015-03-27 23:33] nathanleclaire commented on #889
Yeah I definitely want curl + chmod example(s) to copy-paste for OSX/Linux install.  Windows is a little trickier but I'm sure we can figure something out.

[2015-03-28 04:53] znmeb commented on #512
I ran into this today - is there a fix / workaround on Windows 8.1?

[2015-03-28 13:40] silarsis commented on #779
I think I've partially resolved this - for some reason, on creation of a new hyper-v machine the create process gets to a point where the network adapter has an ip, but the powershell call being made to find it is returning nothing. Previously that's meant I've broken the install at that point, which is before certs are properly installed. I found if I reboot the boot2docker instance, the powershe

[2015-03-28 13:42] silarsis commented on #733
I'd be keen to help with powershell support - right now I have a powershell function that parses the export lines and sets variables accordingly, but it's not a good solution - I'd much rather docker-machine recognised it was in powershell and actually set the variables for me.

[2015-03-28 13:47] silarsis opened #899 "docker-machine upgrade fails on windows"
windows 10 tech preview here, docker-machine has successfully installed, but on doing a docker-machine upgrade (attempting to resolve a mismatch between docker client and server because I'm running a locally compiled docker client) I get the following:
[code]

[2015-03-28 16:27] hairyhenderson commented on #863
@wzymaster - can you run docker-machine with debug enabled?

Something like:

[code]

[2015-03-28 16:28] hairyhenderson commented on #863
@wzymaster also, you're probably going to want to change your API key, because you pasted it in your earlier comment :)

[2015-03-28 16:29] hairyhenderson commented on #863
@wzymaster also - would you mind logging a new issue for what you're seeing? This is different than what @gauthamacharya originally logged, and this issue is closed...

[2015-03-28 16:32] hairyhenderson commented on #656
I'm guessing this can probably be closed now, based on the status of #665?

[2015-03-28 17:55] ahmetalpbalkan commented on #733
@silarsis I recently tackled this problem in boot2docker shellinit:

https://github.com/boot2docker/boot2docker-cli/pull/356

Unfortunately there is no way to find out if we are running on cmd or powershell. (Unless we done win32 api calls and try to find name of parent process, which is very hacky).

However we were able to support this for powershell:

    boot2docker shellinit | Invoke-Expressi

[2015-03-28 21:59] znmeb opened #900 "Creating machine fails on Windows 8.1 Client Hyper-V"
I got past issue #512 but I'm still getting error messages! I ran in a command prompt as Administrator:

[code]
The machine does exist - it shows up as 'Running' in the Hyper-V management console.

[2015-03-28 22:11] wzymaster commented on #863
Thanks for the reminder of my API key and just updated.

[2015-03-29 04:37] ehazlett opened #902 "Enable Docker Engine configuration"
Currently there are only a few things that can be configured in the Docker Engine. This will enable more operations such as Engine labels, storage drivers, etc.

- [x] label
- [x] graph (graph dir)
- [x] storage-driver
- [x] insecure-registry
- [x] registry-mirror

[2015-03-29 04:38] ehazlett opened #903 "Enable Swarm configuration"
This will enable more customization of Swarm such as strategies and filters.

Refs https://github.com/docker/machine/pull/1138

[2015-03-29 04:39] ehazlett opened #904 "Boot2Docker Migration Support"
This will enable migration from boot2docker to machine.  This includes migrating the disk as well as document the cli changes.

[2015-03-29 04:43] ehazlett opened #905 "Expand Provisioning capabilities"
This will enable the provisioning capabilities for other base distributions besides boot2docker and Ubuntu.  For example, RedHat like distributions.

[2015-03-29 04:48] ehazlett opened #906 "Create a consistent Windows experience"
The current Windows experience with Machine is sub-par from its Mac/Linux counterpart.  This will bring it up to be consistent.  This includes getting Machine running as well as logging and output formatting consistency.

- [x] Use Powershell for Machine interaction (https://github.com/docker/machine/pull/1033)
- [x] Cleanup logging (ascii chars in output)
- [x] Remove dependency on external apps

[2015-03-29 12:53] pmario commented on #647
@ehazlett
Just did a test with v0.2.0-rc2 -> problem seems to be fixed. So I'll close this issue again.

[2015-03-29 12:53] #647 closed

[2015-03-29 16:41] defermat opened #908 "Unable to find certs in Docker client when creating machines that have no driver"
I'm trying to connect an existing boot2docker host to machine following these commands:

[code]

Is there some step I'm missing to resolve this?

[2015-03-29 16:55] DieterReuter commented on #908
I've already done the same, connecting `docker-machine` to an existing Boot2Docker VM, just follow the instructions here https://github.com/hypriot/kitematic/pull/1.

[2015-03-29 17:11] defermat commented on #908
@DieterReuter thanks, that gets me closer, but now I'm getting:

[code]

Did you do anything special to `config.json` or have to change the certs in `~/.docker/machine/certs`?

[2015-03-29 17:19] DieterReuter commented on #908
No, after copying the cert/key files I was able to connect directly to the Boot2Docker VM.

[2015-03-29 18:01] jasonwilliams200OK commented on #512
Solution for all Windows 2000+: `Press Window-Key > type cmd > Ctrl+Shift+Enter to run as administrator`

As a note, Windows 8.1 has a "Hyper-V Administrators" group that makes it very easy to give a regular user the correct permissions.

The hyper-v drive should attempt an operation and, if it fails, examine the returned error.

[2015-03-29 20:51] defermat commented on #908
Nevermind, appears something got goofed with my copy, that worked.  Thanks @DieterReuter !

[2015-03-29 20:51] #908 closed

[2015-03-29 23:11] silarsis commented on #733
I don't even mind if there's no automatic recognition - `docker-machine env --powershell` would be fine.

I'm new to powershell - is it possible to set env variables in a sub-process, or is that restricted the same way bash is? I ask because I'm wondering if the `docker-machine env | Invoke-Expression` pattern is appropriate, or if docker-machine can just set the variables and be done with it...?

[2015-03-30 00:00] znmeb commented on #733
I don't know PowerShell at all. At this point, I'd settle for something that works exactly like Boot2Docker for Windows with Client Hyper-V replacing VirtualBox. If that's not possible, I'll probably end up rolling my own.

On a Windows system, you have three mutually exclusive options:

1. Buy a VMWare Workstation license,
2. Use the open source licensed subset of VirtualBox, or
3. For Windows 8

[2015-03-30 03:45] ldpc opened #910 "Enable openstack driver can specify machine flavor otherwise the flavor id & specify image file otherwise imageid"
When use Openstack driver, we must specify the flavor-id and image-id.That's means the end-user must use Openstack api to create image and flavor.If we enable user can just only specify machine flavor and the url where we can download the image, that's make the Openstack driver more userable.

[2015-03-30 05:31] clkao opened #911 "allow setting storage backend when creating machine"
Might require different provision strategy for different provider.

For example for using overlayfs on boot2docker, it's adding `DOCKER_STORAGE=overlay` to `/var/lib/boot2docker/profile`.  for btrfs it's also required to mkfs.btrfs first.

[2015-03-30 07:58] Fangfenghua opened #912 "Openstack driver got error"
When i run docker-machine ls i got error like:
ERRO[0000] error getting state for host test: Post https://192.168.1.3:443/identity/v2.0/tokens: x509: certificate signed by unknown authority

attach:
[root@centos-master ~]# docker-machine ls
ERRO[0000] error getting state for host test: Post https://192.168.1.3:443/identity/v2.0/tokens: x509: certificate signed by unknown authority
ERRO[0000] error

[2015-03-30 09:13] Fangfenghua opened #913 "Add more store for machine"
From now on,the storage part of machines create by docker-machine is  in local file.In simple use-case it  sufficient.But in use case need high reliability it's unsufficient. That mybe have problem are:
     --If the host we execute the docker-machine CMD is going down, we will can't find out the machine we have create.
     --We wiil can't  share machines info between different node;
 So, we want

[2015-03-30 12:13] ggiamarchi commented on #912
@ldpc When you use a self-signed certificate you have to use the flag `--openstack-insecure` to ignore SSL errors.

[2015-03-30 12:28] ggiamarchi commented on #910
For images we can add a flag `--openstack-image-url`. But usally we don't want to create a new image each time we create a machine. In my opinion this option should always be used with `--openstack-image-name`. With this configuration docker-machine will look for an image matching the requested name. If no image is found, it will create one based on the given URL.

For flavors, i'm not sure what e

[2015-03-30 13:17] #808 closed

[2015-03-30 13:20] ehazlett commented on #897
@joshuacalloway yeah as @nathanleclaire mentioned we currently only support Ubuntu so this would not have worked even with the login.  We will be expanding support for more base operating systems soon.  Thanks for the feedback!

[2015-03-30 13:20] #897 closed

[2015-03-30 13:31] ehazlett commented on #656
@hairyhenderson thx!  closing as new ssh detection is in place.  please feel free to re-open if the issue continues.

[2015-03-30 13:31] #656 closed

[2015-03-30 13:54] Fangfenghua commented on #912
@ggiamarchi  Where  can i  add the --openstack-insecure  option?

[2015-03-30 14:18] wzymaster opened #915 "Docker Machine get stuck on IBM Softlayer"
Here is a derived issue from  #863.

Sorry, I just download the pre-release of 0.2.0 and run docker-machine like below :

./docker-machine create --driver softlayer --softlayer-user leow --softlayer-api-key xxx  --softlayer-cpu 4 --softlayer-memory 8192 --softlayer-disk-size 0 --softlayer-domain imdemocloud.com --softlayer-hostname "leo-demo1" --softlayer-image CENTOS_LATEST_64 --softlayer-region

[2015-03-30 14:32] Fangfenghua commented on #910
@ggiamarchi   I agree with you the about  the image, use the image name and the URL.  Also we can specify a meaningful names such as docker_machine_image.
    For the flavor,I mean give the amount vCPU,RAM,DISK.For the a administrator  it's useful.Also, I suggest add a flavor name, so we can specify a meaningful names.

[2015-03-30 14:56] ggiamarchi commented on #912
@Fangfenghua You can give this flag when you create the machine using the `docker-machine create` command. Then docker-machine will remember it for all others commands.

[2015-03-30 15:10] ehazlett commented on #512
@jasonwilliams200OK ah thanks!  @znmeb @runseb @SvenDowideit  could you try adding yourself to the "Hyper-V Administrators" group to see if that resolves?

[2015-03-30 15:11] runseb commented on #512
@ehazlett as far as I know that does not solve all problems. I will try the latest machine but I don't think this driver works on 8.1 desktop.

[2015-03-30 15:34] ehazlett commented on #512
@runseb yeah could we just check the original issue with finding the vswitch? /cc @SvenDowideit

[2015-03-30 15:41] ehazlett commented on #776
+1

[2015-03-30 16:31] ehazlett opened #917 "Add Upgrade to Provisioner"
The new provisioner interface had removed the upgrade functionality.  This should be brought back from the original design and integrated into the provisioner.  Since VMware Fusion uses its own custom ISO, it should not be included -- an error can be reported to the user as it did before.

[2015-03-30 16:39] ggiamarchi commented on #910
@Fangfenghua Actually the flag `--openstack-flavor-name` is already available. I just realized that it is not documented. The same for `--openstack-image-name`.

[2015-03-30 17:00] nathanleclaire commented on #917
#dibs

[2015-03-30 17:36] ehazlett commented on #915
Currently, only Ubuntu is supported.  Could you try with that and see if you still have the issue?

[2015-03-30 17:48] ahmetalpbalkan commented on #733
@silarsis setting environment variables in sub-processes doesn't due to the way operating systems work, probably not specific to bash or powershell. :) Piping it to `Invoke-Expression` seems like a good way to go.

@znmeb (1) probably won't work (2) is what we have today (3) only ships in Windows Professional SKUs and is not enabled by default. And (2)-(3) cannot coexist on the same machine (i.e.

[2015-03-30 18:25] ahmetalpbalkan commented on #733
@silarsis also, I liked the idea of something like `shellinit --shellname`. Not only we can do best effort when the argument is omitted (esp. on posix), we can print cleaner output for `ps` and `cmd` cases.

[2015-03-30 18:54] Fangfenghua commented on #910
@ggiamarchi Great，so we  just need add the URL.

[2015-03-30 20:10] ehazlett commented on #915
I just created a machine on Softlayer fine with the defaults.

[2015-03-30 20:21] cboettig commented on #871
- Where are you getting the 403? from machine or a service on your
   instance?

from docker-machine

   - Where are you running machine, on a local computer or on an instance?

running locally on my laptop.

   - Does the IAM user have access to ec2:*?

Yes, the IAM user has access to EC2, as does the IAM "role" (although that
seems redundant).

Not sure why the auth issue persists in the IAM ins

[2015-03-30 21:34] hairyhenderson commented on #915
@wzymaster - I'm thinking @ehazlett is right - you should use Ubuntu instead (just omit the `--softlayer-image` option and it'll default to the right image). But, can you retry with the `--debug` option (before the `create` subcommand) to make sure it's not something else?

[2015-03-30 23:27] nathanleclaire commented on #900
Hey @znmeb, which version of Machine are you using?  Please give the 0.2.0rc2 a whirl when you get a chance at https://github.com/docker/machine/releases

[2015-03-30 23:32] nathanleclaire commented on #854
This is done

[2015-03-30 23:32] #854 closed

[2015-03-31 01:12] znmeb commented on #900
@nathanleclaire I'm using the released version - I'll try the rc2 tomorrow.

[2015-03-31 01:42] SvenDowideit commented on #512
mmm, my windows box isn't happy anymore, so I can't be sure any tests I do a relevant atm :/

[2015-03-31 02:31] ehazlett opened #922 "Regenerate certs fails"
When trying to regenerate certificates on virtualbox an error similar to this is generated:

[code]

I'm guessing this might be a regression in restarting docker on virtualbox.

[2015-03-31 04:45] wzymaster commented on #915
Here is what I tried but still hanging there after almost 40 minutes :

Zhongs-MacBook-Pro:Leo_Demo wzymaster$ ./docker-machine create --driver softlayer \

INFO[0000] Creating SSH key...
INFO[0007] Getting Host IP
INFO[0030] Waiting for host to become available
INFO[0195] Waiting for host setup transactions to complete

Can you share me  your ./docker-machine cmd for a successful run ?  @ehazlett

[2015-03-31 04:49] wzymaster commented on #915
One more point:  I am running ./docker-machine on my MacBook (OS X 10.9.2) using Boot2Docker instead.

Is it ever verified on Boot2docker on macBook ?

[2015-03-31 08:09] waitingkuo opened #925 "Proposal: add DOCKER_MACHINE_NAME in machine env"
Goal: add following line when execute `machine env dev`

    export DOCKER_MACHINE_NAME=dev

Why?
When we want to control more than more machine in the same time, we need to open several terminal tabs, set the different env for each tabs, and switch between these tabs. It's easy to forget where we are. Currently, we can use `export | grep DOCKER_HOST` to see which host we are using. However, somet

[2015-03-31 09:14] fdangtran opened #926 "OpenStack driver stuck waiting for SSH server on its private IP address"
Checked with machine 0.2.0 (382f71f)

When I try to create a machine with the OpenStack driver, the client get stuck waiting for the SSH server to be started.  Unless I'm wrong, the client attempts to connect to the VM on its private IP address not its floating IP (which has not been allocated yet).
Currently, the only way to use docker-machine is from a machine within the cloud with access to the

[2015-03-31 10:16] ggiamarchi commented on #926
@fdangtran Can you please put here the exact command you ran to create the machine ?

[2015-03-31 10:19] fdangtran commented on #926
./docker-machine_darwin-amd64 --debug create -d openstack --openstack-image-id=3236f93d-23ae-4eaf-864f-3cb89b45a1d6 --openstack-flavor-id=a25dab6d-b2dd-49a8-87a9-64c2c0016e5b --openstack-net-id=aa4ffefc-e11b-4197-a334-a15e1649034b test

[2015-03-31 10:36] jareware commented on #531
Having the same issue, will check out #770 soon...

[2015-03-31 10:37] ggiamarchi commented on #926
With this command it's normal your machine does not get a floating IP. You have to use the flag `--openstack-floatingip-pool <<pool name>>`. Then, docker-machine will use your floating IP to SSH the machine.

[2015-03-31 11:18] Fangfenghua commented on #910
@ggiamarchi  Did you have any plane to add the --openstack-image-url, if you didn't you can assign it to me! I will do it!

[2015-03-31 12:21] ggiamarchi commented on #910
@Fangfenghua I haven't planed to work on this one. Feel free to submit a PR.

[2015-03-31 14:26] fdangtran commented on #926
OK thanks. It works fine now.

[2015-03-31 14:26] #926 closed

[2015-03-31 15:36] rossbachp commented on #531
You can use the current head:)

[2015-03-31 15:54] ehazlett commented on #531
Or you can use the RCs -- they have the fix.

[2015-03-31 16:12] coopernurse opened #933 "docker-machine create hangs on digitalocean"
I'm still isolating where the issue is here.  But I'll file this with the symptom in case others see something similar.  This may occur with other ubuntu based providers, but I'm seeing it today with digitalocean.  I did not have this problem yesterday, so perhaps the base image or the get.docker.com script has changed recently?

Summary: `start docker` is hanging during the initial boot/provision

[2015-03-31 16:13] ehazlett commented on #917
Completed in #920

[2015-03-31 16:13] #917 closed

[2015-03-31 16:32] ehazlett commented on #933
Hmm I just successfully tested on nyc and sfo.  Could you try again?  Perhaps it was a momentary issue with their service.

[2015-03-31 16:34] ehazlett commented on #913
I think the direction we are leaning towards is a declarative syntax (see https://github.com/docker/machine/issues/773).  This would replace the store and would itself be the source of truth.  What are your thoughts for something like that?

[2015-03-31 17:30] ehazlett commented on #911
Thanks!  We are targeting this for the 0.3.0 release (https://github.com/docker/machine/issues/902).  We would love to have you help and test :)

[2015-03-31 17:30] #911 closed

[2015-03-31 17:32] ehazlett commented on #925
+1 -- I like the idea of having some "metadata" available in the environment.

/cc @nathanleclaire @sthulb thoughts?

[2015-03-31 17:34] sthulb commented on #925
fine with me

[2015-03-31 17:40] ehazlett commented on #922
This is only happening where Docker is already stopped.

[2015-03-31 18:00] ehazlett commented on #922
I don't think we can fix this without mucking up the current service actions (we would have to test for the pid file and then check if the process exists).  I'm going to close for now as it seems to be an edge case and the machine would probably already have other issues.  This might be fixed with a "re-provision" command or an "apply" to a config to reset the configuration.

[2015-03-31 18:00] #922 closed

[2015-03-31 20:01] booyaa opened #935 "docker-machine env places double quotes around path for DOCKER_CERT_PATH, but around the certificate"
To reproduce:

[code]

presumably for this to work, the file path to ca.pem should be: ```"/Users/booyaa/.docker/machine/machines/dev/ca.pem"```

this behaviour appears to be have been introduced in v0.2.0.

version I'm using: docker-machine version 0.2.0 (45f08d9)
os: OSX Yosemite 10.10.2

[2015-03-31 20:17] knarz commented on #935
It's `eval $(docker-machine env machine)` to load the settings into the env now.

[2015-03-31 20:26] booyaa commented on #933
digital ocean frequently have scheduling delays. sadly they don't keep their status page up to date. if you email support they'll usually confirm if this is the case.

[2015-03-31 20:32] booyaa commented on #935
cheers!

[2015-03-31 20:32] #935 closed

[2015-03-31 20:40] znmeb commented on #900
@nathanleclaire It's working now with v0.2.0-rc2 - found the virtual switch and started up the VM. You can close this!

[2015-03-31 21:04] hairyhenderson commented on #915
@wzymaster - I'm not sure what you mean, do you mean you're running the `docker-machine` binary inside the boot2docker VM? Otherwise, docker-machine has no interaction with boot2docker and should be fine.

Can you please re-run the command with the `--debug` option? There's likely some useful debug information that might help track down what's going wrong.

[2015-03-31 21:05] coopernurse commented on #933
@ehazlett Thanks for looking into it.  I just re-tested and it worked.

@booyaa The Droplet status on the DO webapp was "Active", and I could ssh into it normally.  What was curious was that the hung command appeared to be the upstart "start docker" command.

I'm willing to chalk this up to a transient DO issue, so I'll close this out.  Thanks again for looking into it

[2015-03-31 21:05] #933 closed

[2015-03-31 21:10] wzymaster commented on #915
Sorry for the confusion.  I mean the same cmd line works fine on a Linux Box(CentOS 6.6) but failed on my macBook installed with boot2docker.

[2015-03-31 21:14] hairyhenderson commented on #864
@dwamara - Looks to me like there's an issue with how VirtualBox is installed... Does VBox work for other purposes?

This forum posting from virtualbox.org might be relevant: https://forums.virtualbox.org/viewtopic.php?f=8&t=55347

[2015-03-31 21:21] nathanleclaire commented on #900
@znmeb Great!  cc @ehazlett to close

[2015-03-31 21:36] hairyhenderson commented on #915
@wzymaster - Ah, I see.

[2015-03-31 21:51] ehazlett commented on #933
@coopernurse thanks for digging -- we have brainstormed ideas around these "random" (not quite so random ;) failures.  hopefully we can get a solution to them.  thanks for the update!

[2015-03-31 21:51] ehazlett commented on #900
@znmeb thanks for the feedback!

[2015-03-31 21:51] #900 closed

[2015-03-31 23:41] ggiamarchi commented on #679
In order to implement it correctly, there were some work to do in gophercloud to fix things in keystone v3 implementation. I have just submit this pull request https://github.com/rackspace/gophercloud/pull/408

Then, the work in docker-machine is pretty easy, i'm on it.

[2015-04-01 01:15] Fangfenghua commented on #913
@ehazlett  I am thoughts about that let machine work like swarm, if we use zk、etcd...we can get the machine state in any nodes which can access zk or etcd.I think this maybe part of #773.

[2015-04-01 01:20] nathanleclaire commented on #925
Why not have something like:

[code]

in your `~/.bashrc`?

I know that sometimes active drifts from `DOCKER_HOST`, but I'd rather fix that issue directly than introducing additional complexity to `env`.

[2015-04-01 01:47] nathanleclaire commented on #831
@ehazlett I think this can be closed now?

[2015-04-01 01:53] nathanleclaire opened #936 "Proposal: rename "libmachine.Machine" to "libmachine.Provider""
I find `libmachine.Machine` to be a really confusing name, since I would expect a `Machine` to be what `Host` is.  Instead I'd propose that we call it `Provider` since what it actually does is provide machines.

[2015-04-01 03:42] umegaya commented on #721
hi, I hit same issue today and at least in my environment, the reason caused "No IP address found", seems to be my host interface setting.
it was like following. that is, IP address was in the range which docker-machine want to assign to its eth1
[code]

so I changed this to below setting and re-create docker machine again, this problem did not occur.
[code]

hope this would help you guys in troub

[2015-04-01 04:47] rajurs commented on #721
Thanks.

My setup is throwing a weird error on a Windows 8.1 setup. (Docker Client compiled and installed on the machine with VirtualBox (4.3.26)

I keep getting the error message stating that the client and server versions are different. Boot2Docker says I have version 1.5 and I can SSH into the machine. I just can’t issue Docker commands from the cmd prompt.

Rajurs

Sent from Windows Mail

From

[2015-04-01 07:32] waitingkuo commented on #925
Hi @nathanleclaire thank you for the feedback.

In my case, I manipulate more than one docker hosts in different terminal tabs in the same time. But we can only have an active machine. Any thoughts for fixing this issue?

[2015-04-01 09:47] philipz commented on #925
I use tmux to switch~~~ :)

[2015-04-01 13:36] ehazlett commented on #936
This is fine with me.

[2015-04-01 13:37] ehazlett commented on #925
I think without getting hung up on the specific shell configuration, I like the idea of having more info about the active settings in the environment.  I'm not sure it adds too much complexity -- simply another export to `env`.

[2015-04-01 13:39] ehazlett commented on #913
@Fangfenghua yeah i see where you are going but having a distributed state is something more along the lines of machine server I think.  It makes sense in Swarm because it's orchestrating and is continuously active.  In machine, you bring up a machine and then pass it on.  I'm not sure in it's current state, that it fits our usage.

[2015-04-01 13:39] ehazlett commented on #831
Closing as #831 was merged.

[2015-04-01 13:39] #831 closed

[2015-04-01 13:40] waitingkuo commented on #925
I prefer adding machine name as an env variable because its something like the primary_id in the database. We could use this name to query other information by the `docker-machine` command (maybe a machine restful server in the future)

[2015-04-01 13:48] Fangfenghua commented on #913
@ehazlett  If the node we create the machine is going down,then how can we stop it or kill it?

[2015-04-01 13:48] ehazlett commented on #721
@umegaya ah ok -- perhaps we need to check the subnet when creating.  most of the time it shouldn't overlap but we should check it to make sure.

@rajurs that is because you are using a newer client than server.  you will need to build the windows docker client for v1.5.0 (you can use the tag).

[2015-04-01 13:52] ehazlett commented on #913
Right now there is no way even if we had a backend with zk.  Since Machine has to be run by the user (we have no persistent running server instance to monitor) there is no way to react from an event like that from the machine side yet.  I think having a declaration of what the machines *should* look like and then having machine make that happen is a better way.  There is less to keep in sync.

Per

[2015-04-01 13:59] Fangfenghua commented on #913
@ehazlett  You mean docker-machine didn't maintaining the state of the machine wo had create? So I don't know why we need the cmd stop or kill? By the way, i didn't mean the node running machine down,I mean the node we execute docker-machine cli cmd node going down,then we can't access the local file record!

[2015-04-01 14:13] ehazlett commented on #913
You mentioned having machine access information from zk or etcd.  I'm assuming this is for other things to access it.  If those things change the state of the machines, things start to get out of sync.  Yes, machine knows what it creates -- unless that data is changed from outside of machine.

The failure upon create is a different issue not related to the store.  We have refactored the creation s

[2015-04-01 14:21] Fangfenghua commented on #913
@ehazlett  I got it! If we can find a way monitor the state of the machine we created  will  sound good.I will follow  #773 and close the issue.

[2015-04-01 14:21] #913 closed

[2015-04-01 15:39] Fangfenghua opened #940 "Build machine fail"
[root@ip-172-31-45-134 machine]# uname -a
Linux ip-172-31-45-134.us-west-2.compute.internal 3.10.0-229.el7.x86_64 #1 SMP Thu Jan 29 18:37:38 EST 2015 x86_64 x86_64 x86_64 GNU/Linux

[root@ip-172-31-45-134 machine]# docker -v
Docker version 1.5.0-dev, build fc0329b/1.5.0
[root@ip-172-31-45-134 machine]#

-->     linux/amd64: github.com/docker/machine
-->     windows/386: github.com/docker/machine
-

[2015-04-01 17:25] nathanleclaire commented on #925
Ah, I see.  I'm in favor of another environment variable in env for this purpose, and if we do something like https://github.com/docker/machine/pull/777 too "active" will be tracked transparently and you will be able to have different "active" hosts in different windows.

[2015-04-01 18:52] ehazlett commented on #875
Closing as #887 was merged.

[2015-04-01 18:52] #875 closed

[2015-04-01 18:53] ehazlett commented on #940
Are you using `script/build` to build the binaries?

[2015-04-01 19:21] #554 closed

[2015-04-01 19:22] ehazlett commented on #744
ugh waffle.

[2015-04-01 19:23] ehazlett commented on #744
@nathanleclaire is this complete?  i believe we have the single wait for ssh don't we?

[2015-04-01 19:28] nathanleclaire commented on #744
So, we have the single wait for SSH, but there are still some situations where the drivers do it themselves like https://github.com/docker/machine/blob/cf136eacd70d5e510331de3d4c2fe50de46e06d3/drivers/azure/azure.go#L266 .  So we probably should make a "hitlist" of which drivers do it on their own still and which need to be removed.  It isn't _super terrible_ but if the drivers wait for SSH on the

[2015-04-01 19:28] nathanleclaire commented on #744
I'll put together a checkbox list of which drivers fulfill this requirement here

[2015-04-01 19:41] nathanleclaire commented on #744
- [ ] amazonec2/ - needs removal
- [ ] azure/ - needs removal
- [ ] digitalocean/ - needs removal
- [x] fakedriver/ -
- [ ] google/ - needs removal
- [ ] hyperv/ - needs removal
- [x] none/
- [ ] openstack/ - needs removal
- [ ] rackspace/ - need removal (depends on openstack I think)
- [ ] softlayer/ - needs removal
- [x] virtualbox/
- [x] vmwarefusion/
- [ ] vmwarevcloudair/ - needs removal
- [x

[2015-04-01 19:42] nathanleclaire commented on #744
Alright the above list has been updated to the best of my ability to indicate which drivers still wait for SSH vs. which drivers don't.

Checked means they don't, so they are good to go, unchecked means they do not.

It's tricky though, because some of them expect for SSH to be up and then do some custom stuff (I'm mostly thinking of the VMware ones in particular here).

(sorry for the noise @ehaz

[2015-04-01 19:57] ehazlett commented on #789
This was completed in #934

[2015-04-01 19:57] #789 closed

[2015-04-01 21:30] ehazlett commented on #744
@nathanleclaire np at all -- thanks for the checklist!

[2015-04-01 22:18] nathanleclaire commented on #899
Hi @silarsis, thanks for the report.  What is the output of `docker-machine -v` on your computer?

[2015-04-01 22:26] nathanleclaire commented on #902
Just a thought on implementation: moving away from our current `Sprintf` method and over to using `text/template` will probably provide us far more flexibility on this in the long run.

[2015-04-01 22:43] nathanleclaire commented on #888
cc @ehazlett this should be fixed now

[2015-04-01 23:07] nathanleclaire commented on #878
This should be fixed by #828 cc @ehazlett to close

[2015-04-01 23:21] Fangfenghua commented on #940
@ehazlett  Yes，I use script/build.

[root@ip-172-31-45-134 ec2-user]# ps -ef|grep docker
root      2292     1  0 12:00 ?        00:01:04 /usr/bin/docker -d --selinux-enabled
root      4380  4364  0 19:21 pts/0    00:00:00 grep --color=auto docker
[root@ip-172-31-45-134 ec2-user]#

[2015-04-02 00:16] ipedrazas commented on #871
There are 2 scenarios.

* Running locally in your machine: you use AWS credentials (KEY & SECRET). This is to create containers in EC2 from your laptop using your credentials.
* Running in an EC2 instance: you use your IAM role from an EC2 instance. You cannot use IAM roles in your laptop, it doesn't work.

IAM roles provide a temporary token in the instance where the role is applied.

[2015-04-02 00:24] cboettig commented on #871
Ivan, thanks for clarification!  So when running docker-machine from a
laptop it is impossible to avoid the use of root keys, even though their
use is not recommended by AWS.  Is that correct?

On Wed, Apr 1, 2015, 5:16 PM Ivan Pedrazas <notifications@github.com> wrote:

[2015-04-02 00:35] ipedrazas commented on #871
You don't need the root keys, any user with the right permissions can use docker-machine.

I guess that your problem is that the key/secret pair you were trying did not have the rights to create EC2 instances.

But the principle is the same. Machines that are not in AWS, credentials, machines inside AWS, roles :smile:

[2015-04-02 01:06] cboettig commented on #871
Ah, of course, works like a charm. Sorry for my confusion and thanks for
your patience and explanations!

On Wed, Apr 1, 2015, 5:35 PM Ivan Pedrazas <notifications@github.com> wrote:

[2015-04-02 01:49] Fangfenghua commented on #940
@ehazlett  May be it's becasue i enable SELinux,  when i disable SELinux it's also work ok. Did you enable the SElinux option?

[2015-04-02 03:02] cboettig commented on #661
+1

it would also/meanwhile be useful for the error message to point to how to remove such a keypair -- I get this error even when `docker-machine ls` does not show any machines, and `docker -h` doesn't suggest any other way of removing this keypair record.

[2015-04-02 03:31] #871 closed

[2015-04-02 07:10] Fangfenghua opened #944 "[Proposal] Add centos、rhel support for docker-machine"
@ehazlett
 When i test openstack-driver with os type centos, i got error “OS type not recognized”. I check the code and found that we just support  ubuntu 14:04 or boot2docker.

 Can we support more ostype?Like centos7 or rhel7.

[2015-04-02 08:20] znmeb commented on #944
@Fangfenghua CentOS as a guest or CentOS as a host?

[2015-04-02 08:23] Fangfenghua commented on #944
@znmeb  CentOS as a guest!

[2015-04-02 09:58] booyaa opened #945 "Error creating machine: ssh-keygen not found in the path, please install ssh-keygen"
docker-machine version: 0.2.0 (48bea37)

[code]

Is docker-machine compatible with puttygen? If so how do I configure docker-machine to use it instead of ssh-keygen?

[2015-04-02 10:32] booyaa commented on #945
Looks like ssh-keygen will be removed as a dependency and certs will get created using a library in 0.3.0 #885

[2015-04-02 10:32] #945 closed

[2015-04-02 13:51] imton opened #948 "Google when swarm should create an endpoint on port 3376"
Right now I have to enable it manually which kind of limit the usefulness of this amazing tool in first place.

Thanks

[2015-04-02 13:58] ehazlett commented on #888
@soleo please re-open if you experience this again.  thanks for reporting!

[2015-04-02 13:58] #888 closed

[2015-04-02 13:59] ehazlett commented on #878
@mattreyuk please re-open if you experience again.  thanks for reporting!

[2015-04-02 13:59] #878 closed

[2015-04-02 14:05] ehazlett commented on #944
This is planned as part of #905. :)

[2015-04-02 14:07] ehazlett commented on #948
I'm checking this now but it looks like it should be working: https://github.com/docker/machine/blob/master/drivers/google/compute_util.go#L105

[2015-04-02 14:07] Fangfenghua commented on #944
@ehazlett  Did you have any plan  to implement it?

[2015-04-02 14:10] imton commented on #948
This didn't create the swarm port

[code]

[2015-04-02 14:10] Fangfenghua commented on #940
@ehazlett  Did you run script/buil on ubuntu? In ubuntu the SELinux is disable default.

[2015-04-02 14:15] ehazlett commented on #940
@Fangfenghua can you give me the OS version you are using so I can re-produce?  thanks

[2015-04-02 14:16] ehazlett commented on #948
ok thanks -- checking

[2015-04-02 14:21] Fangfenghua commented on #940
@ehazlett  A aws instance with ostype   Red Hat Enterprise Linux 7.1 (HVM),

[2015-04-02 14:22] imton commented on #948
:+1:

[2015-04-02 15:23] ehazlett commented on #948
Everything looks ok to me:

[code]

What version of Machine are you using?

[2015-04-02 15:24] imton commented on #948
[code]

[2015-04-02 15:26] ehazlett commented on #948
ah ok -- can you try the latest RC available here: https://github.com/docker/machine/releases/tag/v0.2.0-rc3

[2015-04-02 15:57] ipedrazas commented on #889
Guess I should have started with #dibs

[2015-04-02 15:59] metcalfc commented on #915
Seeing this as well with the latest rc.

Running with debug only yields a little more infromation.

[code]

And then nothing. Visiting the SL console the host is up running, ssh is fine, etc.

[2015-04-02 17:54] kpettijohn commented on #430
@frapposelli Were you able to come up with a short term solution or does the short term solution also depend on boot2docker/boot2docker#747?

[2015-04-02 19:22] ehazlett opened #949 "softlayer: debug displayed during provisioning"
During creation debug is displayed:

[code]

[2015-04-02 19:23] ehazlett commented on #944
@Fangfenghua we will most likely use the Provisioner interface as Ubuntu uses.  We haven't discussed specifics beyond that.  Feel free to visit IRC if you want to discuss :)

[2015-04-02 19:24] ehazlett commented on #915
Hmm i can create SL instances fine.  Perhaps it's a region related issue?

[2015-04-02 19:31] metcalfc commented on #915
I tried dal01 and sjc01. Using the default API endpoint. Hourly billing. 

On April 2, 2015 at 12:25:02 PM PDT, Evan Hazlett <notifications@github.com> wrote:Hmm i can create SL instances fine. Perhaps it's a region related issue?  —Reply to this email directly or view it on GitHub.

[2015-04-02 21:51] cjellick opened #950 "Random problem downloading docker"
We noticed the following problem when trying to launch a DO machine.
Please ignore/forgive the odd formatting. We are calling docker-machine from a golang program via `exec.Cmd`

docker-machin create -d digitalocean --digitalocean-image ubuntu-14-04-x64 --digitalocean-size 1gb --digitalocean-region nyc3 --digitalocean-access-token <redacted> foo1
[code]

[2015-04-02 22:00] cjellick opened #951 "Digital Ocean "Waiting for SSH..." seems to hang a lot"
We see a lot of problems during the Waiting for SSH phase of provisioning a Digital Ocean machine.

Here's one instance of the command and resulting error. Forgive/ignore the weird formatting. We're calling docker-machine from a golang program via `exec.Cmd`

[code]
[code]

[2015-04-02 22:05] ehazlett commented on #951
Is this on the latest rc3?

[2015-04-02 22:14] cjellick commented on #951
yup.
[code]

[2015-04-02 22:16] ehazlett commented on #951
thanks! i'm noticing the same issues now -- digging

[2015-04-02 22:17] ehazlett commented on #950
Yes this happens when the keyserver at ubuntu is having issues.  I think we need to get that key file and store on the cdn instead of requesting it from `keyserver.ubuntu.com` each time.

@tianon thoughts?

[2015-04-02 22:18] ehazlett commented on #950
actually that looks like it does get the key now that i look again -- i still think we should keep the file on the cdn though :)

[2015-04-02 22:19] ehazlett commented on #950
@cjellick that issue looks like the DO instance closed the connection thus killing the provisioning.

[2015-04-02 22:19] tianon commented on #950
Why not switch to use http://pool.sks-keyservers.net/ instead?  It's much more reliable than any single keyserver is going to be, and won't have the MITM problems that fetching the key off our own CDN would.

[2015-04-02 22:35] mattreyuk commented on #878
I tried with a build from master [be9113a] that should have this fix in and I still have the same issue. I also tried upgrading my virtual box to 4.3.26 (prior was running 4.3.20) no dice.

[2015-04-02 23:22] nathanleclaire commented on #878
@mattreyuk Any chance you ran the command with `-D` mode and could paste the create output?

[2015-04-02 23:22] nathanleclaire commented on #878
Also, what's your base OS and is there any VPN or firewall at play?

[2015-04-02 23:33] UserTaken commented on #951
I have also experienced hanging in all releases when creating multiple droplets in rapid succession. A somewhat related problem I've been having with Digital Ocean is the lack of swap as described in [#829](https://github.com/docker/machine/issues/829) so I'm wondering if something can be done about that?

[2015-04-02 23:49] znmeb commented on #889
There definitely needs to be more documentation for Windows.
1. The executable download isn't an installer - it's an executable. Windows users are used to installers, which put things where they need to be with the right names and adjust PATHs accordingly so things "just work".
2. The executable has the name `docker-machine_windows-amd64.exe` but the documentation shows people just typing `docker-

[2015-04-03 02:37] mattreyuk commented on #878
I'm away from my computer for a few days but I'll try that and report back.

[2015-04-03 10:11] gusun1 commented on #673
I got the same error.
[code]

Anybody can help? Thank you!

[2015-04-03 12:49] #912 closed

[2015-04-03 14:41] ehazlett commented on #950
@tianon perfect thanks!

[2015-04-03 15:27] ehazlett commented on #951
@cjellick could you try fix in #952 to see if it works any better for you?  I haven't had any issues after that but it may just be coincidence :)

[2015-04-03 15:50] cjellick commented on #951
Will do. Thanks!

[2015-04-03 17:50] deniseschannon opened #954 "DO OS types are not supported"
I am trying to create different images using docker machine on Digital Ocean.

Currently, only ubuntu works and anytime I try the other images, I get a 'OS type not recognized' when trying other images (i.e. fedora, debian, coresos, centos).

Please forgive the odd formatting. We are calling docker-machine from a golang program via ```exec.cmd```.

docker-machine create -d digitalocean --digitaloc

[2015-04-03 19:04] UserTaken commented on #954
Expanding provisioning capabilities is in the milestone for v0.3.0 #905.

[2015-04-03 21:46] nathanleclaire commented on #889
Nice points @znmeb @mattetti .  I am working on some slightly better documentation on the Windows side in particular for this next release.

[2015-04-04 01:22] ehazlett commented on #944
Closing.  This is referenced in #905 and will be added there.  Thanks!

[2015-04-04 01:22] #944 closed

[2015-04-04 04:46] znmeb commented on #889
@nathanleclaire any chance of either a Windows installer for docker-machine or boot2docker supporting Hyper-V instead of VirtualBox? Either one would work for me.

[2015-04-04 08:54] ipedrazas commented on #889
Unfortunately I don't have a windows machine to test all the cases but splitting the installation docs by OS makes a lot of sense to me.

[2015-04-04 14:27] stevengssns commented on #721
@umegaya Thanks a lot! This workaround finally worked for me.

Some details about my environment should anyone be interested..

I was having this issue on my most recent laptop:

MacBook Pro with Yosemite
VirtualBox v4.3.26
docker client v1.5.0

On an older MacBook Pro (same setup) everything was working without a problem.

[2015-04-04 15:15] crunchywelch opened #959 "do not register hosts until successful/finished provision"
Right now, if you do a docker-machine ls, and a device is in the middle of a provision, or there are host entries that failed mid-provision but you haven't force removed yet, you get timeouts and errors. Same if you attempt other operations on a failed host or host still being provisioned. I'd propose we make an indicator that represents that a host is not ready or available to be operated on.

Mo

[2015-04-04 15:46] crunchywelch commented on #959
Also, I should say I'm happy to do this myself if folks think it is a good idea and we agree on an implementation strategy :)

[2015-04-04 16:11] crunchywelch opened #961 "push docker configuration logic into provider files"
Right now we just pipe a string into a file location returned by the provider in libmachine/provision/utils.go over ssh like so:

`cmd, err = p.SSHCommand(fmt.Sprintf("echo \"%s\" | sudo tee -a %s", dkrcfg.EngineOptions, dkrcfg.EngineOptionsPath))`

but I think we should let the provider decide how to do this, for example, Centos7 (and presumably fedora, etc) use /etc/sysconfig/docker which should

[2015-04-04 23:34] znmeb commented on #889
@ipedrazas I have a dual-booted laptop (Windows 8.1 and Fedora Linux 22 Alpha). I'm testing heavily all ways of running Docker containers with Windows Client Hyper-V. So far I have Docker Machine and Fedora Project Atomic running and hope to have Vagrant running in the near future.

This is a bake-off - most convenient to an end user wins. ;-) That means working documentation and as few stop-point

[2015-04-04 23:38] znmeb commented on #889
P.S.: Vagrant is a long shot in this race because its config file is Ruby code! That's about as end-user-unfriendly as it gets! ;-)

[2015-04-05 07:32] janeczku commented on #838
Yes that's a problem. The user or application deploying via machine does not know about current availability of zones or the available instance sizes in a particular zone.
A solution would be to expose this information via the drivers, since most provider APIs include this information anyway.
Then the user could have machine list the available zones and instance sizes for a particular provider.

[2015-04-05 12:05] nodefourtytwo commented on #878
I'm using Arch Linux as a base OS, no VPN, no firewall, same problem with 2.0_rc3
[code]
and in another terminal:
[code]

[2015-04-06 12:22] bfirsh opened #962 "Error message about host not existing is printed to stdout"
The error message about the host not existing is printed to stdout, so this fails silently:

[code]

[2015-04-06 14:49] haihappen commented on #641
I spend several hours tracing this back because I thought Docker Compose was broken. [2]

[2015-04-06 15:13] drish opened #963 "docs: documentation shows commands of version 0.2, but download links are 0.1"
Hey guys,

I'm a new-comer.

I've being going through the official docs, and seems that some driver options are only available for the version 0.2.x, but the download links are for version 0.1, which can be confusing for users.

For example:

--digitalocean-private-networking: Enable private networking support for the droplet. Default: false
--digitalocean-backups: Enable Digital Oceans backups fo

[2015-04-06 16:47] wzymaster opened #964 "Docker-Machine failed to provision on AWS using defaults"
I run the below command and hanging there for ever, here is my cmd line :

[code]
In fact, I am using the default for the most of them. Can you advise it  ?

Here is Docker-Machine version :

[code]

[2015-04-06 16:53] wzymaster commented on #964
Moreover,  this instance is provisioned on AWS EC2 actually but I am not able to ssh to it using generated private key at all.

[2015-04-06 17:46] nathanleclaire commented on #889
Tentatively I think the plan here is to offer a Windows installer for `docker-machine`, but I'm not sure when that would come down the pipe.  Until then I intend to provide some instructions to make installing easier via msysgit.

Lol - Vagrant has very good docs and is a pretty mature tool though - at any rate I'd like to hear your thoughts when you're finished so we can improve :)

[2015-04-06 19:19] ehazlett commented on #902
+1

[2015-04-06 20:02] ehazlett commented on #963
It looks like the docs were pushed a bit prematurely.  I will follow up.  Thanks!

[2015-04-06 20:06] ehazlett commented on #878
@nodefourtytwo thanks for reporting.  can you report what you network scheme is?  i.e. local IP and vbox host-only address space as well?

[2015-04-06 20:29] nodefourtytwo commented on #878
Not sure that's what you're asking for but here it is:
local IP is on 192.168.1.0/24
vbox IP is on 192.168.99.0/24

[2015-04-06 21:19] clnperez commented on #812
I'm hitting this on Fedora 21 as well. I see in PR #813 that @ehazlett suggested using a cap. I tried DAC_READ_SEARCH, then DAC_OVERRIDE, then and FOWNER along with DAC_READ_SEARCH, but no love. I also tried using 'all,' which didn't work either. That alone leads me to wonder if caps is what we need.

It's definitely an selinux issue. setenforce 0 will get it to work, but that's not the solution f

[2015-04-06 22:38] clnperez commented on #812
I'm seeing this too, on Fedora 21 (which is just upstream RHEL). I saw in PR #813 that @ehazlett mentioned adding a CAP for RH.

[2015-04-06 22:47] clnperez commented on #812
I google'd some more, and found a great video by Dan Walsh at last year's Docker Con, and at 36:11, appeared the answer: selinux doesn't work with volume mounts. The workaround is to relabel your local directory:
$ sudo chcon -Rt svirt_sandbox_file_t ../machine

That worked.

Then Dan mentioned they had a PR to relabel FS, which, I think is  the noatsecure denial I saw. So, IIUC, we (selinux users

[2015-04-06 22:52] mattreyuk commented on #878
@nathanleclaire I'm running OSX 10.9.5, no firewall, no VPN. I created a gist of the -D output at https://gist.github.com/mattreyuk/1ee391e845c1e21ad401 If I stop and restart the VM in the virtual box manager, it looks like it was created ok

[2015-04-06 22:52] nathanleclaire opened #967 "Proposal: Logging cleanup"
The current method of outputting information from Docker Machine commands is a bit of an awkward fit.  The majority of code uses `logrus` to print things to the terminal, and while `logrus` is a great package there are a few issues:

- We'd like finer-grained control over what goes to STDOUT and STDERR
- Current output looks not so great on Windows
- `logrus` is meant more for long-running applica

[2015-04-07 00:16] znmeb commented on #889
@nathanleclaire Vagrant is a tool for developers, not end-users. It depends heavily on Ruby devops tools like Puppet, Chef, etc. And it is heavily VirtualBox-centric. If you don't know Ruby well enough to read a Vagrantfile you're going to flounder trying to do anything except read instructions from a blog post and follow them. Then again, so is Docker. ;-)

[2015-04-07 07:41] lloeki opened #969 "SSH issues and VMware Fusion"
Using docker-machine 0.1 (from homebrew), I can't create a VMware Fusion machine (7.1.1 (2498930)) anymore due to SSH suddenly being stubbornly uncooperative:

[code]

Sometimes, instead of being uncooperative, SSH is just being lazy as I get a timeout error.

Issue confirmed on two distinct machines (one on OS X 10.10.2, the other on 10.10.3 beta). Virtualbox works fine but I'd rather continue us

[2015-04-07 09:37] slavashvets commented on #673
The same error (client windows/amd64):

[code]

[2015-04-07 13:15] sthulb commented on #967
+1 The logging implementation is rather out of place with what I'd expect in a client app.

I guess for now, we should perhaps wrap go's native `log` package with `docker/machine/log`, but this would be a stop-gap for a better solution later.

[2015-04-07 18:11] gschmutz commented on #531
had the same problem but with the latest milestone version 0.2.0 it is solved! Thanks!

[2015-04-07 18:59] nathanleclaire commented on #969
Could you try the [RC](https://github.com/docker/machine/releases/tag/v0.2.0-rc3) please to see if it works better for you?

[2015-04-07 20:31] lloeki commented on #969
Workie! Here's hoping it's not a fluke. Let me confirm that at work tomorrow.

[2015-04-07 21:16] nathanleclaire commented on #886
@twhiteman What specifically are you wanting to skip?  Installation of Docker?  Setting hostname, configuration of the certs etc.?

[2015-04-07 21:31] janeczku opened #972 "Do not save new host unless driver.create() succeeds"
When driver.create() fails with error, the host is saved to the store anyway. As a result while the user is shown a `Error creating machine` message, subsequent `docker machine ls` will still display the host even though it was never created in the first place.

Is there a reason, why SaveConfig() is called *before* actually creating the host?
https://github.com/docker/machine/blob/1b81ddeb900e813

[2015-04-07 21:40] ehazlett commented on #972
Yes, this way if there is a momentary blip during provisioning of a cloud instance, we have the credentials, etc so we can do a `docker-machine rm`.

[2015-04-07 21:40] ehazlett commented on #531
@gschmutz thanks for the feedback!

[2015-04-07 21:42] janeczku commented on #972
@ehazlett  When you say "provisioning", do you refer to the provisioning portion of the code (which comes after driver.create()) or to creating an instance in the cloud?

[2015-04-07 21:43] ehazlett commented on #972
Sorry, I mean the process of creating the instance.  For example, if the EC2 API has a fail or the instance has an issue starting, then this gives us the ability to fail with an error and still have the persisted credentials so the user can then issue the `rm` command.  Otherwise, the user must login to whatever console or separate tool to remove the instance.

[2015-04-07 21:54] twhiteman commented on #886
@nathanleclaire All of it :P - I wanted to create a driver (which behaves similar to the *none* driver), but where I can specify the SDC Docker settings, like:
[code]
This is in the aim of then being able to use *docker-machine env* to populate the docker client settings.

Perhaps another take on this would be imaging the provisioning steps occurring over a REST API?

Note: The SDC Docker already

[2015-04-07 22:14] nathanleclaire commented on #886
What OS is SDC behind the scenes?  If SDC supports `/etc/os-release` I think your easiest way would be to implement a custom provisioner.

[2015-04-07 22:58] twhiteman commented on #886
OS: SmartOS / Illumos (aka Solaris) - no /etc/os-release (it's Unix but not Linux).

For custom provisioner, it looks like it still requires SSH, thus my question about an alternative merthod (if I'm reading the code right). C.f.:
https://github.com/docker/machine/blob/45f08d9815734d88d25e9c49873cf67b6699a5fd/libmachine/provision/provisioner.go#L71
https://github.com/docker/machine/blob/45f08d9815

[2015-04-07 23:05] nathanleclaire opened #974 "Proposal: Support configuration of created Docker Engines from Machine CLI"
### Abstract

This proposal outlines a method by which users would be able to more flexibly configure Docker daemons created by Docker Machine.  It is a more fleshed out version of https://github.com/docker/machine/issues/902 .

### Setup

Currently we support the "bare minimum" required configuration of a Docker daemon in created instances.  This works great for things like TLS configuration wher

[2015-04-07 23:06] nathanleclaire commented on #974
oh and cc @ehazlett of course :+1:

[2015-04-08 00:06] janeczku commented on #972
If, like in your example, the EC2 API has a fail, isn't leaving the host in the store not helping the user at all since without having received the instanceID from the API a `rm` command will always fail?

Why i think the current behavior is not ideal:

1. Machine host store should be in-sync with what is actually deployed by machine in the cloud.
By storing a (likely) failed deployment this is no

[2015-04-08 00:45] janeczku commented on #964
I suspect the instance's security-group permissions don't allow inbound traffic on port 22.
By default, docker-machine assigns instances to a new security group named "docker-machine".
Please check on your AWS account if this security group exists and is assigned to VPC vpc-8e84fce7.
Also, run the command in debug mode  `docker-machine create -D ...` and check the output relating to creation of se

[2015-04-08 01:39] hairyhenderson commented on #974
:+1: I like this, and I like the possibilities that this adds.

I'm also concerned about the growing plethora of `create` options. I think it's been suggested a few times before, but there is the option of turning `create -d drivername` into `create drivername` (i.e. making the driver a subcommand instead of a flag. There's some discussion of that in #901. I _think_ that would make the flags busin

[2015-04-08 05:16] wzymaster commented on #964
@janeczku  In fact,  the security group of 'docker-machine' has been created automatically and ssh is also set up properly.  here is log from re-run with debug and it's the same hanging issue :

[code]

[2015-04-08 08:46] lloeki commented on #969
It seems to be ok on my second machine too.

[2015-04-08 09:22] lloeki opened #975 "Starting VMware Fusion app makes the VM go headful in some cases"
- create and start a VMware Fusion machine via docker-machine
- start the VMware Fusion app
- the VM that should stay headless is displayed in a window
- the VM that should stay ignored from the library is registered into the library
- the VM will be suspended or shut down when quitting the VMware Fusion app

The last two items don't happen if:
- the VM is stopped via docker-machine before startin

[2015-04-08 10:34] bfirsh opened #976 "Documentation home page should point at GitHub, IRC, etc"
http://docs.docker.com/machine/ is currently the landing page for Machine. A few cases this page doesn't cater for:

- Somebody wants some help using Machine, in which case we should point them at the mailing list or IRC channel
- Somebody wants to suggest features, report bugs or contribute code, in which case we should point them at GitHub

I think we should have links off to those things somewh

[2015-04-08 11:00] sthulb commented on #975
This is an issue with VMware fusion rather than docker-machine, the same behaviour happens with Vagrant too...

Maybe @frapposelli will be able to shed light on this too.

But this is also a dupe of: #788

[2015-04-08 13:56] ehazlett commented on #788
ping @frapposelli

[2015-04-08 13:58] frapposelli commented on #788
There is no workaround/fix at the moment, the only way to keep the VM headless is to avoid opening the Fusion GUI, I'm raising this with the Fusion team internally as this doesn't happen with VMware Workstation on Windows/Linux.

[2015-04-08 14:28] lloeki commented on #975
OK I suspected so. I will patiently wait, and follow further developments on #788.

[2015-04-08 14:28] #975 closed

[2015-04-08 14:45] ehazlett commented on #974
I agree however I think keeping the number of options to a minimum and getting the ability to configure the engine for those is good for now.  But I agree it's rapidly approaching :)

Like you said, for now let's keep this simple.  We will assume the user is using a system that has the support for the options.  Perhaps we could make our "is docker available" check a little better in the event they

[2015-04-08 14:47] cpuguy83 opened #977 "ssh - can't use commands with args"
When using `docker-machine ssh <name> <command>`, you can pass in as manyh args to `<command>` as you like... unless they are traditional cli args that start with a `-`... in that case it's interpreting the args as being passed into docker-machine and not to the ssh command.

[2015-04-08 15:17] bclaridge commented on #977
Have you tried wrapping  ```<command>``` in quotes?

[code]

[2015-04-08 15:18] sthulb commented on #773
@ehazlett Can we make this actually support compose syntax? So people can get swarms/machines up running containers?

[2015-04-08 15:30] ehazlett commented on #976
SGTM

[2015-04-08 15:32] ehazlett commented on #788
@frapposelli thanks!

[2015-04-08 15:32] ehazlett commented on #773
@sthulb i would love to see that :)  I think it would also be a good integration with compose as well.

[2015-04-08 15:39] cpuguy83 commented on #977
Ah yes, of course. This works, silly me.
Closing.

[2015-04-08 15:39] #977 closed

[2015-04-08 18:04] nathanleclaire commented on #969
Great!  Do you feel like we can close this ticket?

[2015-04-08 18:09] nathanleclaire commented on #976
Absolutely.  I'll put in a quick PR for it actually...

[2015-04-08 18:13] fredlf commented on #976
Yes, we should have the same boilerplate for all three tools. Good idea. Nathan, you can probably just point people here: https://docs.docker.com/project/get-help/

[2015-04-08 18:16] nathanleclaire commented on #976
Nice @fredlf I will definitely include that link; I want a little blurb specific to us too, so we can talk about it in the PR.

[2015-04-08 18:20] fredlf commented on #976
Sounds good, @nathanleclaire, go get 'em Tiger.

[2015-04-08 19:16] lloeki commented on #969
Sure, thanks.

[2015-04-08 19:16] #969 closed

[2015-04-08 22:58] wlan0 commented on #974
:+1:

[2015-04-09 02:42] huslage opened #982 "Add support for SoftLayer Local disk on VMs"
The SoftLayer API supports Local disk via the `localDiskFlag` boolean parameter. Please expose this so that we can create VMs with Local disk.

[code]

[2015-04-09 04:09] janeczku commented on #959
See related #972

[2015-04-09 13:40] mbentley commented on #915
I am also able to reproduce.  Here are the env vars I have set:

[code]

And here is my output:

[code]

I am using `dal06` because the default keeps complaining about not having SAN space and I haven't had a change to figure out why `SOFTLAYER_LOCAL_DISK` isn't working for me (I am probably just not giving it the right parameter) but the problem exists anyway so it isn't really the focus at this

[2015-04-09 13:46] adamtheturtle opened #983 "--rackspace-ap-key typo, should be --rackspace-api-key"
At http://docs.docker.com/machine/

there is a mapping of environment variables to CLI options. `OS_API_KEY	--rackspace-ap-key` is shown. The CLI option is missing an `i`.

[2015-04-09 15:10] #983 closed

[2015-04-09 15:52] ggiamarchi commented on #679
@stenstad Can you test the PR https://github.com/docker/machine/pull/955 against your OpenStack domains ? It would be great in order to validate this work. From my part, i have tested it against a devstack installation.

[2015-04-09 16:20] errordeveloper opened #985 "Release artefact names should follow covnetion used in Compose"
To get Compose, I run
[code]

where expanded URL is
[code]

With Machine, I cannot do the same, as URLs look like
[code]

So first of all it's the way OS/architecture prefix is. Secondly, there is the `1.2.0rc3` vs `v0.2.0-rc3`, which is somewhat less annoying.

[2015-04-09 17:39] dave-tucker opened #986 "virtualbox: Hangs on Waiting for VM to start"
Tried starting a VM via `docker-machine start` and it hung on:
[code]
Check the VirtualBox GUI and the VM state was `aborted`.
The underlying cause here was that my VM image was corrupted, but as a user I'd expect machine to be aware of this and provide an appropriate error message.

[2015-04-09 17:53] dave-tucker opened #987 "Machine should manage credentials for drivers"
I find that managing env variables for the various drivers to be a little clumsy. Not only are there issues related to me accidentally putting these in my `.zshrc` which is hosted on GitHub, but it's tricky to manage multiple accounts with the same provider.

For example, consider DigitalOcean, where I have a "personal" account and a "company" account.
To perform operations on  one, or the other,

[2015-04-09 20:32] deniseschannon opened #988 "Digital Ocean: Name of host is 'true' when setting any of these parameters Private Networking, IPv6, Enable Backups to true"
Docker Machine Command

[code]

In Digital Ocean, the machine is created fine, but instead of "test456" as the name, the name of the machine is 'true'.

![screen shot 2015-04-09 at 1 30 47 pm](https://cloud.githubusercontent.com/assets/11410997/7076213/a55f234c-debc-11e4-91b8-d968ba77c2f1.png)

[2015-04-09 21:17] ibuildthecloud commented on #974
Some of these options concern me.  Obviously I'm looking at this from a RancherOS perspective and some options aren't really configurable in RancherOS.  Like the directory of the graph and the storage driver.  If all of these options were added provisioner would have to support them on a best effort approach.

[2015-04-09 21:25] deniseschannon commented on #988
Never mind. I realized it was in my own code.

[2015-04-09 21:25] #988 closed

[2015-04-09 21:57] dave-tucker commented on #962
+1, it's not just the host not existing, but *any* error message
e.g `FATA[0000] Unexpected error getting machine url: exit status 255`
This happened to me today and I ended up running containers on the wrong docker host as I had assumed that the command had completed successfully :(

[2015-04-10 07:01] TrumanLing opened #989 "Proposal to support SSH login VM without password, but it is up to OS vendor support"
I created machine on openstack, but it needs password input, like below message. Thus, it is not convinient to deploy VM at real engineering environment.
```console```
docker@host-161-17-241-22:~/l0031659$ sudo ./docker-machine_linux-amd64 -D create -d openstack --openstack-insecure --openstack-auth-url=https://identity.az1.dc1.domainname.com:443/identity/v2.0 --openstack-username=dc1_admin --open

[2015-04-10 11:59] hairyhenderson commented on #915
@mbentley - Interesting... Seems like you and @metcalfc are both seeing the polling stop after ~140 seconds...

I've only been testing this out in the `tor01` datacenter. When I get some time I'll see about testing in `dal06` and `hkg02`.

I might also have the loop simply time out if it takes too long. I'm thinking 5 or 10 minutes is reasonable...

[2015-04-10 12:55] ggiamarchi commented on #989
Actually, the OpenStack driver already implements the deployment of the SSH key on the machine. On your command line you did not provide the flag `--openstack-ssh-user`, that means docker-machine will use the user `root` to SSH into the machine. Are you sure you can log in with `root` on your machine ? Often in cloud images, remote login with root is not possible.

Can you check :
 * If you can SS

[2015-04-10 13:05] ehazlett commented on #982
Thanks!  This option is supported via the `--softlayer-local-disk` option.  See https://github.com/docker/machine/blob/master/docs/index.md#ibm-softlayer for details.

[2015-04-10 13:05] #982 closed

[2015-04-10 13:11] ehazlett commented on #986
Hmm I haven't seen that before -- thanks for reporting.  How were you able to tell it was corrupted?

[2015-04-10 13:15] ehazlett commented on #974
@ibuildthecloud thanks for the feedback.  i think in those cases we would fall into the second bullet point where an option was passed but is not supported (we should throw a warn perhaps).  I think it's similar to the case where someone would pass a `--security-opt` but not have selinux enabled or something.  Maybe we would need a capabilities check or something on each provisioner to inform the

[2015-04-10 13:17] ehazlett commented on #985
Thanks for the feedback.  Closing as a duplicate of #494.  We will get this on the 0.3.0 milestone for the next release.  As for the versioning (rc, etc), we use the same convention as the docker engine and swarm.

[2015-04-10 13:17] #985 closed

[2015-04-10 13:20] ehazlett commented on #987
We are looking at adding support for this in #773.  Not sure on timeline though.

[2015-04-10 13:23] Fangfenghua commented on #940
ping  @ehazlett  Did you re-produce that?

[2015-04-10 13:35] errordeveloper commented on #985
Makes sense. So it's a in issue with Compose not using the same convention.

[2015-04-10 14:14] ehazlett commented on #529
@atomi this is pushed to 0.3.0

[2015-04-10 14:15] ehazlett commented on #961
+1.  In the current implementation, it was aimed at Ubuntu/b2d.  Moving forward, I think this makes sense to put in the provisioner.

/cc @nathanleclaire thoughts?

[2015-04-10 14:39] ibuildthecloud commented on #974
@ehazlett If a provisioner could return a list of a configurable flags that could work.  That could be a maintenance issue though as new flags are added each provisioner would have to change.  Maybe we could return a list of unsupported flags.

[2015-04-10 14:43] ehazlett commented on #974
@ibuildthecloud yeah i agree.  i think a list of unsupported would be the route.  thanks!

[2015-04-10 14:59] ibuildthecloud opened #992 "Proposal: RancherOS support"
At Rancher Labs our goal is that we would really like our "Getting Started" guides for RancherOS to point people to using Docker Machine.  The quick start guide for EC2, for example, would be "Run docker-machine create --amazon..."  @ehazlett has already done most of the heavy lifting to get RancherOS initially working with machine and we would just like to take that work to completion.  Additiona

[2015-04-10 15:41] ehazlett commented on #992
Thanks for the write up!  I am excited about RancherOS too and I think would be a great option for machine.  I think integration into our provisioning system would be a good path.  I'm not sure about specifics just thinking out loud :)

Very excited to see this :)

[2015-04-10 15:49] sthulb commented on #992
+1

[2015-04-10 16:42] dave-tucker commented on #986
I was guessing at "corrupted". On manual start of the VM from the virtualbox GUI it got mid-way through the boot process and then the state changed to "aborted". A little digging suggests it could be related to a [bug in virtualbox](https://www.virtualbox.org/ticket/13874)....

Still, it would be great for machine to notify the user about these type of errors when they occur.

[2015-04-10 17:16] twhiteman commented on #886
Note that the SDC Docker I'm referring to uses its **own implementation** of the Docker Remote API, so it's somewhat different to a regular docker host setup. This means the provisioning side for SDC Docker (setting up keys/certs, managing machines, installing docker, ...) is already done (already available) when the user first creates an account with SDC.

[2015-04-10 17:18] nathanleclaire commented on #974
Yes, @ibuildthecloud an "engine option blacklist" on a per-provisioner basis seems like the best approach to me -- it will need to be maintained in tandem with docs IMO so the users aren't left guessing.  If the provisioner is opinionated about how certain engine options are configured, I'd rather just bomb out than make a best effort / silently configure things other than how we have "promised" e

[2015-04-10 17:24] dave-tucker commented on #987
Cool! Thanks @ehazlett

[2015-04-10 18:20] mback2k commented on #691
@nathanleclaire Actually it would be great if the functionality of docker-enter / nsenter could be included into docker-machine.

[2015-04-10 18:36] nathanleclaire commented on #691
@mback2k What would you be interested that `docker exec` doesn't provide?

[2015-04-10 18:39] frankh commented on #691
Would be nice to add
    docker enter <name>

Instead of
    docker exec -it <name> /bin/bash

(I'm not even sure if -it are the right switches)

I know it seems like a trivial change but I think it would really make a
difference
On 10 Apr 2015 7:36 pm, "Nathan LeClaire" <notifications@github.com> wrote:

[2015-04-10 19:38] stevesmename commented on #691
@frankh think that aliases will do help you achieve this.
[code]
Then you should have the following available:
[code]
Side note, not sure why we are talking about this in this ticket (unrelated?) or in the Machine repo. Further convo should likely move into the docker/docker project.

[2015-04-10 20:17] #976 closed

[2015-04-10 20:37] ehazlett commented on #987
yw!  this is ref'd in that issue -- feel free to re-open if you have other ideas or questions.  thanks!

[2015-04-10 20:37] #987 closed

[2015-04-10 20:55] ehazlett commented on #967
+1 for cleaner and "standard" log formats across drivers and platforms.  After glancing into `logrus` I wonder if we should look into the hooks and formatters?  This way we wouldn't have to implement / maintain the various backends ourselves and potentially re-use it if/when a server version happens.  If it doesn't fit then we could roll our own.  Just a thought.

As far as the WithFields, perhaps

[2015-04-10 20:57] #679 closed

[2015-04-10 21:30] thaJeztah commented on #992
I hate bare +1s, so, erm, +9 -8?

[2015-04-10 21:48] nathanleclaire commented on #967
I'd definitely like to re-use as much as possible.  Maybe we could include as part of the architecture a logrus driver with an "Options" struct that could be used to configure this sort of thing (if we implement logging through a standard interface, logrus-specific features will have to be exposed through that interface somehow).

[2015-04-10 22:22] nathanleclaire commented on #992
I'm definitely on board with this.

I'm on board with this for a quick fix- as you mention, in the medium-term I think we will need to make handling this more robust.  Not every OS users would want to run locally works like b2d expects to, so I'd definitely be interested to see if we can solve this problem in a general way for RancherOS and, of course, Debian, Ubuntu, CentOS etc.  Naturally, we wi

[2015-04-10 22:51] nathanleclaire commented on #961
Why not over-write the whole file?  I basically assume all bets are off about the default setup if we're configuring with Machine.

I'm not opposed, just curious.  As long as it's the case that there's only one "config" file for the daemon to support, the current method should be fine - but I acknowledge that won't necessarily be the case forever.

[2015-04-10 23:25] atomi commented on #529
Wow yeah.. Great work! I'm really excited to try it. Thanks!

[2015-04-11 00:14] posita commented on #786
See PR #939.

[2015-04-11 01:40] ehazlett commented on #529
@atomi thanks!  and i would love to be able to test -- right now it looks like there is no way to actually get the container to run but that fix will be coming as part of the "better Windows experience" task for this sprint :)

[2015-04-11 02:29] zchee opened #994 "[GCE] Why imgeName do not update?"
Hi,

imgeName on google driver is `ubuntu-1404-trusty-v20150128`, but The latest version ubuntu-1404-trusty-v20150316.
Why?

[2015-04-11 02:31] zchee commented on #994
And if necessary, I will pr.

[2015-04-11 02:44] zchee commented on #994
I think that it may be to flag.
How you do you feel about it?

[2015-04-11 05:57] mback2k commented on #691
@stevesmename You are probably right, but in order to answer @nathanleclaire question, I would like to add the following statement from the nsenter project:

[2015-04-11 16:20] ms-clovis commented on #986
This happens in with boot2docker image also. If you stop the vm for the image and choose stop (instead of option sending signal to stop, it will show aborted and probably not restart from virtual machine or boot2docker cli. Recommended fix (and it worked for me) is simply rebooting windows or whatever os you are running boot2docker on. Hope this helps.

[2015-04-12 02:47] fventuri commented on #504
Sven, I worked on your initial KVM/Qemu driver and I finished a few parts that were missing.
The code is here: https://github.com/fventuri/machine/tree/504-kvm-qemu-driver
This version should be able to create/start/stop/remove a docker machine locally with the KVM/Qemu driver.
It still needs some cleaning and can definitely be improved, but it at least somewhat functional.

Please give it a try a

[2015-04-12 17:06] tchak commented on #130
There is a version in brew now (0.1.0) which have known issues. Would be nice if brew would be up to date.

@bfirsh why brew is not the recommended path? It is the "normal" way now days people install stuff on mac...

[2015-04-12 19:59] themattrix commented on #951
I've encountered this too.

Additionally, it often gets stuck on the next step, "Configuring Machine...". It exits with an error after a few minutes.

[code]

The actual VM seems to have been created normally and is accessible over SSH.

[2015-04-13 03:33] TrumanLing commented on #989
@ggiamarchi thx for your reponse. Generally, ```root``` can not be permitted to access, but the environment I used is just a test environment and don't make strict policy for user SSH login. Below lines are the result I checked for your two questions：
For the 1st one, it outputted like below
```console```
docker@host-xxx-xxx-xxx-xxx:~/xxx$ sudo ssh -i /home/docker/.docker/machine/machines/dockerma

[2015-04-13 09:48] cmoro-deusto commented on #641
+1 thanks very much

[2015-04-13 13:08] ehazlett commented on #994
Thanks!  It simply hasn't been updated.  Feel free to send a PR.

[2015-04-13 13:08] #994 closed

[2015-04-13 13:09] ehazlett commented on #951
@themattrix what version of machine are you using?  can you run with `-D` for debug?

[2015-04-13 13:16] ehazlett commented on #130
@tchak this is why -- we do not maintain that and don't have a way to update it.  we will have installers with update functionality in the future.

perhaps @jkp could update the current formula when 0.2.0 is released?

[2015-04-13 13:26] #790 closed

[2015-04-13 13:28] ehazlett commented on #954
Closing as this will be in 0.3.0.

[2015-04-13 13:28] #954 closed

[2015-04-13 13:31] AxelVoitier opened #996 "[CoreOS] docker-machine create -> panic: runtime error: index out of range"
Hello,

I tried to create a machine using openstack and a coreos image. I used docker-machine v0.2.0-rc3. I get the following error:

[code]

(Sorry, I am no good at interpreting a go stacktrace ;( can edit the issue title if you know a more descriptive one ;) )

[2015-04-13 14:00] ehazlett commented on #996
@AxelVoitier Thanks for reporting!  Right now we only support Ubuntu.  We are working on expanding host OS capabilities in 0.3.0.  Would you mind trying with Ubuntu 14.04 amd64?

[2015-04-13 14:30] crunchywelch commented on #961
After thinking about this some more, I think it's ok to write over the
entire file for CentOs, but I haven't thought about how this might work
with rancher or coreos yet, there may be a good reason to let the provider
construct the entire command in those cases...

On Fri, Apr 10, 2015 at 6:51 PM, Nathan LeClaire <notifications@github.com>
wrote:

--

Aaron Welch
SVP of Product
---
212.933.9785 x3

[2015-04-13 14:30] AxelVoitier commented on #996
Ah! I was actually looking for a recommendation on what OS image I should try with with the openstack driver. Yes, I am happy to test with Ubuntu.

[2015-04-13 14:40] yunspace commented on #640
+1 got the same issue using 0.2.0-rc3

needed to manually create the 3376 endpoint on master machine as pointed out by @chanezon

[2015-04-13 15:49] clnperez commented on #951
I'm seeing this as well, having built from upstream:
$ machine -v
$ machine version 0.2.0 (HEAD)

It was a pretty long (maybe an hour? not sure) lag yesterday, but when I checked this morning it had finished. I just ran again with -D and it finished in two minutes. I ran again without -D and it hung. Odd, so I ran again with -D, and it hung:

time="2015-04-13T10:44:50-05:00" level="info" msg="Crea

[2015-04-13 16:01] dougborg commented on #661
I have run into this as well. Does anyone know where these keys are being created? I have looked around in the machine storage path and in my home directory and come up empty.

[2015-04-13 16:06] nathanleclaire commented on #961
Cool - I'm totally OK with moving over to doing it in a less prescriptive (from the "general" case) way if the needs of the provisioners demand it, but let's take a specific look at making sure that others need it that way before we implement it.  We can always just move the "current way" to a few helper methods that the current provisioners call if need be.

[2015-04-13 16:18] AxelVoitier commented on #996
Indeed, works fine with Ubuntu :).
You can keep the issue open if you want to support CoreOS one day. I am fine with ubuntu for the moment :).

[2015-04-13 18:18] dougborg commented on #661
Ok, so now I get it. This is the "Key Pair" in EC2, not anything stored locally. I was able to remove them in the EC2 management console and now all is well.

[2015-04-13 19:32] fpommier opened #997 "vmwarevsphere : Unable to upload on datastore the boot2docker iso : error "is a directory""
When running docker-machine_linux-amd64 -D create -d vmwarevsphere , have error when upload boot2docker iso to datastore.
[code]
[code]
The file create on filesystem is : /root/.docker/machine/cache/boot2docker-1.5.0-GH747.iso/boot2docker-1.5.0-GH747.iso
I must create the directory (mkdir /root/.docker/machine/cache/boot2docker-1.5.0-GH747.iso) before run mchnCreate.sh otherwise i have another err

[2015-04-13 19:36] ehazlett commented on #996
Thanks for the feedback!  I am going to close this for now.  Feel free to open a new issue when we get the expanded provisioning.

[2015-04-13 19:36] #996 closed

[2015-04-13 19:36] ehazlett commented on #997
/cc @frapposelli

[2015-04-13 19:38] ehazlett commented on #951
Hmm that looked like it finished ok.  I have noticed some issues occasionally with DO but they usually timeout well before an hour.

[2015-04-13 20:37] tknerr commented on #733
+1 for `shellinit --<shellname>`. Seeing this in other places too and seems pretty intuitive. If `<shellname>` is omitted one could still default to auto-detecing / guessing

[2015-04-13 20:58] tknerr commented on #732
I'm hopefully waiting for docker 1.6.0 release to support this out of the box.

@StefanScherer awesome info! I got stuck with the different protocol versions, using `sed` to *fix* that is nice ;-)

Is it usable like that or do you actually run into protocol incompatibilies quite early for the basic commands?

[2015-04-13 21:00] ahmetalpbalkan commented on #732
@tknerr @StefanScherer about the overriding API version, you can +1 the proposal here: https://github.com/docker/docker/issues/11486

[2015-04-13 21:19] fpommier commented on #997
When test with last release v0.2.0-rc3 on ubuntu 14.04 it's work

[2015-04-13 21:19] #997 closed

[2015-04-13 21:41] j0hnsmith commented on #721
I'm getting this problem too, where do I find the settings shown in https://github.com/docker/machine/issues/721#issuecomment-88340886

[2015-04-14 03:39] themattrix commented on #951
@ehazlett I've been using docker-machine `0.1.0`. This issue only happens occasionally, but when it does it usually occurs several times in a row. I've enabled debug mode and will report back when I see it again.

[2015-04-14 06:11] StefanScherer commented on #732
@ahmetalpbalkan I'll have a look at your proposal.
I've tested the output of the current `docker-machine.exe` v0.2.0-rc3 and found some other issues:

[code]

1. The "bash" comment `# Run this command ...` has to be ignored on Windows.
2. The quotes in the envionment variable seems to make trouble.

After correcting the `DOCKER_CERT_PATH` environment the docker client can find the cert:

[code]

S

[2015-04-14 06:19] ahmetalpbalkan commented on #732
@StefanScherer sorry I didn't get your point.

     set DOCKER_CERT_PATH="C:\\Users\\vagrant\\.docker\\machine\\machines\\dev"

this is not a valid usage for cmd.exe. you should not use backslashes or double quotes.

I recently fixed the same issue b2d-cli for windows: https://github.com/boot2docker/boot2docker-cli/pull/356 I'm hoping to port that here soon.

[2015-04-14 06:28] StefanScherer commented on #732
@ahmetalpbalkan I've just retried my `for` loop from three weeks ago. Parsing the current output of `docker-machine.exe` results in the two errors above. So it gets more complicated for Windows users to use these envs.

I know the output of `docker-machine` is for unix shells at the moment. It would be fine if `docker-machine` outputs the correct values without the double quotes and without quotes

[2015-04-14 06:30] ahmetalpbalkan commented on #732
@StefanScherer umm, yes this issue is about that precisely :)

[2015-04-14 06:37] StefanScherer commented on #732
@ahmetalpbalkan your PR in boot2docker-cli looks promising!

[2015-04-14 11:20] yunspace commented on #492
I had the same issue as @roldancer and was able to work around using `azure account export`

In my case, the .pem key was generated using my existing id_rsa key as per instructions here: http://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-use-ssh-key/

    openssl req -x509 -key ~/.ssh/id_rsa -nodes -days 365 -newkey rsa:2048 -out myCert.pem

My id_rsa key was originally

[2015-04-14 12:58] frntn opened #999 "`machine ip` chained arguments"
## What I do

I use the `ip` command to get the ip list of my two servers :

[code]

## What I get

I only get the first IP of the list :

[code]

## What I expected

I expected to have the same behaviour as the `rm` command.
So I expected to see the following ouput :

[code]

[2015-04-14 14:34] ehazlett commented on #733
+1 for `env --shellname` as well and auto-detecting if missing.

[2015-04-14 14:47] ehazlett commented on #997
thanks for the follow-up!

[2015-04-14 14:49] ehazlett commented on #721
@j0hnsmith you can view that with `VBoxManage list hostonlyifs` -- would you mind posting that here too?  thanks!

[2015-04-14 15:32] ehazlett commented on #951
@themattrix thanks.  could you also try it with the latest RC?  several fixes have been made.  thanks!

[2015-04-14 15:34] ehazlett commented on #732
@StefanScherer this is a goal for 0.3.0 -- better windows experience.  we want to be able to support cmd.exe / powershell out of the box.

[2015-04-14 15:40] themattrix commented on #951
@ehazlett sure thing!

[2015-04-14 16:33] j0hnsmith commented on #721
@ehazlett, thanks, here's the pertinent output

    ...
    Name:            vboxnet5
    GUID:            786f6276-656e-4574-8000-0a0027000005
    DHCP:            Disabled
    IPAddress:       192.168.99.1
    NetworkMask:     255.255.255.0
    IPV6Address:
    IPV6NetworkMaskPrefixLength: 0
    HardwareAddress: 0a:00:27:00:00:05
    MediumType:      Ethernet
    Status:          Up
    VBoxNetw

[2015-04-14 19:55] UserTaken commented on #999
In the meanwhile you can run something like `for i in $(docker-machine ls -q); do docker-machine ip $i; done` as a workaround.

[2015-04-14 20:06] ehazlett commented on #721
Hmm that's odd.  Mine is `192.168.99.1` as well and everything works.  I wonder if it's a race in vbox to grab a default or something.

[2015-04-14 20:14] j0hnsmith commented on #721
I had an _existing_ host only network configured to use `192.168.99.1` (vboxnet5) that wasn't created by `docker-machine`, once I changed the IP to `192.168.100.1` `docker-machine` created a new network on `192.168.99.1` (vboxnet8) and all is good.

[2015-04-14 21:08] #226 closed

[2015-04-14 21:14] peebles opened #1001 "Amazon AMIs should fix grub to support memory limits on containers"
docker-machine create --driver amazonec2 \
    --amazonec2-access-key XXXX \
    --amazonec2-secret-key XXXX \
    --amazonec2-vpc-id XXXX \
    --amazonec2-region us-east-1 \
    --amazonec2-zone a \
    --amazonec2-instance-type t2.medium \
   staging

When I run containers on this and try to specify memory limits, I get the infamous "WARNING: Your kernel does not support swap limit capabilities

[2015-04-14 21:18] ogrisel commented on #226
Thanks @qicongchen  and @ehazlett!

[2015-04-15 03:52] cboettig opened #1002 "assigning swarm labels when running docker-machine create?"
The integration of `docker-machine` with `swarm` through a handful of simple flags is just awesome.  The tutorial on using docker swarm that you have in the docker-machine docs is far easier than anything Google gives me on docker swarm tutorials, which really highlights just what a win docker-machine is.  Nice work!

However, it's not obvious how one goes about adding labels for swarm constraints

[2015-04-15 07:20] zekizeki commented on #915
I can also reproduce this with both docker-machine 0.1.0 and 0.2.0  (e4c2173)

I'm running this from OS X 10.10.2

For both versions I am using the following env variables and command...

[code]

Debug output for 0.1.0 is ...
[code]

The last command repeats endlessly. Logging onto the VM I can see that docker has not been installed.

The debug output for 0.2.0 is...

[code]

[code]

Again the vm

[2015-04-15 09:00] ggiamarchi commented on #967
Actually, i originally widely used `WithFields` in the OpenStack driver just because i like the log output which is very clear but i don't see any problem to replace it by another API. Log format proposed by @ehazlett looks good :+1:

[2015-04-15 10:15] frntn commented on #999
Hehe yes that's what I do actually
Thanks anyway :)

[2015-04-15 11:44] hairyhenderson commented on #915
@zekizeki - was there anything after the last line? The `INSTALL_COMPLETE` transaction isn't usually the last transaction - there's often a few transactions that happen afterwards.

[2015-04-15 12:14] hairyhenderson commented on #915
I'm seeing something interesting which may be related to this problem (or totally unrelated). I see much the same output as @zekizeki, but at the end:

[code]

At this point, the process just hangs. Trying to SSH in to the public IP address of the VM fails. In my particular case, we have a firewall on our public VLAN, so by default SSH doesn't work to that IP. Given that the ssh command is told to

[2015-04-15 12:48] hairyhenderson commented on #915
Just tried this out in `ams01`, and it took considerably longer to finish the setup transactions (after 521 seconds!), but it did complete, and because we don't have any firewalls on VLANs in `ams01`, the SSH commands completed correctly and docker installed no problem.

Will try out a few other regions...

[2015-04-15 13:03] hairyhenderson commented on #915
Ok, `hkg02` works fine for me as well.

I have a feeling there's some difference in SL account permissions that's causing things to work fine for myself and @ehazlett, but not for everyone else on this thread.

[2015-04-15 13:06] hairyhenderson opened #1003 "softlayer: softlayer-hostname should default to the machine name, not "docker""
When I forget to set `--softlayer-hostname`, I get a host named `docker.my-domain` in SL. Instead of `docker`, the hostname should default to the machine's name.

[2015-04-15 13:10] hairyhenderson opened #1004 "softlayer: machine removal doesn't always properly cancel host"
Sometimes (but not always!), issuing a `docker-machine rm foo` succeeds, but when I check on the host in SoftLayer later, it's still present with no pending Cancel transaction. I can cancel manually just fine.

[2015-04-15 13:13] mbentley commented on #982
Upon further investigation, it looks like the driver doesn't actually sent and pass the localdisk option.  The option is there in machine but it essentially isn't doing anything.

[2015-04-15 13:24] frapposelli commented on #716
Can't reproduce, are you using a custom b2d iso?

[2015-04-15 13:28] frapposelli commented on #641
AFAIK only Virtualbox supports mounting local volumes through the shared folders feat. we expect to have the same feature on Fusion with Docker 1.7.0 as B2D has to move to a 64bit userspace for shared folders to work with Fusion. see boot2docker/boot2docker#747 and boot2docker/boot2docker#748

[2015-04-15 14:02] kraney commented on #716
I'm no longer able to reproduce it, either.

I was not using a custom boot2docker, but at the time I reported the issue the iso that was downloaded by docker-machine was named boot2docker-vmw.iso (on Feb 26.) Now it's boot2docker-1.5.0-GH747.iso.

It seems likely that the current boot2docker iso resolves the issue. In any case, something has resolved it.

[2015-04-15 14:02] #716 closed

[2015-04-15 14:20] nathanleclaire commented on #964
Peculiar.  Thanks for reporting.  Do you have any VPN / corporate firewall / proxy active?  Some corporate firewalls block access to remote server port 22, for instance.

[2015-04-15 14:25] ehazlett commented on #721
@j0hnsmith ah ok that could be it -- would you mind posting all of your interface output so I can compare to see what we do different?

[2015-04-15 14:25] ehazlett commented on #226
@ogrisel yw!

[2015-04-15 14:28] ehazlett commented on #999
Thanks for the feedback.  Yes this looks reasonable to use -- I expect it to show all IPs :)

[2015-04-15 14:28] j0hnsmith commented on #721
@ehazlett Here's the output from when I was getting the error

    $ VBoxManage list hostonlyifs
    Name:            vboxnet0
    GUID:            786f6276-656e-4074-8000-0a0027000000
    DHCP:            Disabled
    IPAddress:       192.168.56.1
    NetworkMask:     255.255.255.0
    IPV6Address:
    IPV6NetworkMaskPrefixLength: 0
    HardwareAddress: 0a:00:27:00:00:00
    MediumType:      Ethe

[2015-04-15 15:04] nathanleclaire commented on #1002
Hey @cboettig.  Thanks for the praise!

If I understand correctly, you're interested in setting labels for the daemon so that you can selectively schedule on daemons?

That should be covered by https://github.com/docker/machine/issues/974 in the 0.3.0 release.

Until then, if you just want to play around, you could always just manually edit the relevant file (for instance, `/etc/default/docker` on

[2015-04-15 15:12] jeremyll commented on #584
__Subscribing__ - This issue makes machine unusable for me right now.

[2015-04-15 15:14] ehazlett commented on #721
hmm yeah nothing is sticking out.  perhaps we should have a "reset" command that would tear these down and rebuild?  /cc @nathanleclaire

[2015-04-15 15:20] ehazlett commented on #584
@jeremyll what version of machine are you using?

[2015-04-15 15:34] cboettig commented on #1002
#974 looks awesome, thanks for the link!

[2015-04-15 15:34] #1002 closed

[2015-04-15 15:40] mbentley commented on #915
I just tried to replicate starting two instances, one with my credentials and one with those from @ehazlett  and both instances hung.

Using my credentials:
[code]

Using @ehazlett's:
[code]

All other environment variables are the same:
[code]

[2015-04-15 15:46] jeremyll commented on #584
`0.1.0`

[2015-04-15 15:53] zekizeki commented on #915
@hairyhenderson there was nothing after the line ...
[code]
it just hung there, I left it overnight in the hope it might complete but no joy.

I tried it again on a different data center and it got as far as ...

[code]
then hung.

In terms of permissions on the SL account, my user does have full admin permissions for everything.

[2015-04-15 15:57] parknicker commented on #641
@frapposelli does shared folder support work with the VMWare Fusion driver in Docker 1.5/1.6 if it's run against the b2d image on your VMWare 64-bit branch (https://github.com/frapposelli/boot2docker/tree/vmware-64bit)?

[2015-04-15 15:59] frapposelli commented on #641
@parknicker yes it does, the branch is still in flux but has been tested on 1.5.0 and it's the one I use daily to build stuff.

Note that you'll have to mount `/Users` manually inside the machine as it's not done by the driver today.

[2015-04-15 16:27] ehazlett commented on #584
@jeremyll would you mind trying the latest RC?  It has several fixes for stability and retry.

[2015-04-15 18:01] lox opened #1007 "Docker-machine env command takes ~150ms to run"
After putting `docker-machine env` in my `.profile`, I'm seeing around 150ms of shell boot up time.

Should this really be taking that long to run?

[code]

[2015-04-15 18:11] zekizeki commented on #915
@hairyhenderson this might help a bit.

I watched the docker-machine process via a 'nettop -m tcp' command on my mac.

I can see it connecting out to the softlayer API server for the machine provisioning, however as soon as it starts to perform the SSH oparations it trys to connect to localhost:22 rather than the IP address of the softlayer VM which obviously won't work. Got to head off now but wi

[2015-04-15 21:17] nathanleclaire commented on #1007
I'm not 100% positive, but I think that a majority of that time is the driver doing its thing to get access to the IP address for `DOCKER_HOST`.

For instance, consider the following sequence of events:

1. `docker-machine start foo`
2. The IP address has changed (this happens with VBox, Amazon, and other drivers)
3. `eval $(docker-machine env foo)` has to call out to figure out what the new IP is

[2015-04-15 21:18] nathanleclaire commented on #999
Yes commands like `docker-machine start foo bar spam` will work on all 3 so we should probably support this.

[2015-04-15 22:04] bfil commented on #878
I'm still having issues with this as well, I've tried the following version:

[code]

Sometimes it managed to start a machine up, so it seems like it improved since version 0.1.0, but still hangs most of the times.

I'm running OSX 10.9.5 as well, with no particular network configuration.

[2015-04-15 22:15] nathanleclaire commented on #878
Thanks for the report @bfil .  If you could paste some output of failed `docker-machine -D create -d virtualbox foo` type commands it would be very helpful!  (note the `-D` - it's for debug output)

[2015-04-15 22:36] bfil commented on #878
No problem, here it is: https://gist.github.com/bfil/76498a4b019d1183487d

Just to confirm: it did work on my first attempt to generate this log, then the second time just got stuck at "Waiting for VM to start... ".

[2015-04-16 00:48] hairyhenderson commented on #915
Totally weird... @zekizeki, my command was:

[code]

The localhost business seems very odd. Is it possible that you have an alias in /etc/hosts pointing to the same name as `--softlayer-hostname/SOFTLAYER_HOSTNAME`? It's a long-shot, but...

[2015-04-16 00:49] hairyhenderson commented on #915
I altered the SSH timeouts in #1006, which will help the driver return faster when there are connection issues. Just to rule out that remote possibility, would you guys mind re-testing with HEAD?

[2015-04-16 04:18] rsmitty commented on #130
I asked some questions around this in the IRC channel this evening. I agree that this makes sense for a sane way to install and keep docker-machine up to date. I'm trying to learn how to push updates into homebrew now so that we may be able to keep docker-machine up to date in there.

[2015-04-16 05:13] nathanleclaire opened #1011 "Document docker-machine create flags "filter""
Just noting for self reference: Feature of being able to filter create flags by running `docker-machine create -d driver` is awesome, it should be documented.

[2015-04-16 06:00] nathanleclaire commented on #972
Hi @janeczku,

I applaud the sentiment to improve the user experience, but it's been my experience from working on machine that the problem here is much deeper than shuffling around where and when the config file gets saved.  I filed a very similar issue here: https://github.com/docker/machine/issues/119 a while back and we played around with various solutions, including auto-cleanup, which we eve

[2015-04-16 07:42] zekizeki commented on #915
@hairyhenderson OK so some progress, this is confirming my wierd observation from yesterday that docker-machine is trying to connect to localhost:22

So I tried running again with your commands with no success. It was once again trying to connect to localhost:22 and looping endlessly. So... I thought I'd give it what it wanted and enabled ssh logins on my Mac and boom... it stopped looping and jum

[2015-04-16 09:03] stenstad commented on #679
@ggiamarchi Hi, sorry for answering so late. Identity seems to work now! I am still not able to actually launch a working VM yet, but I assume that is not related to the identity part.

A few things I have noticed:

There should be a check for more environment variables. Some of them are new and/or have changed names.

OS_TENANT_ID is now OS_PROJECT_ID.
OS_TENANT_NAME is now OS_PROJECT_NAME
OS_DOM

[2015-04-16 09:13] tchak commented on #130
I just want you to think about the fact that homebrew is the default way most developers on mac install software... I would newer use an installer unless I have to and I think lots of developers out there are in the same set of mind.

How every other pice of software out there doing it? If it's the matter of not owning the formula in homebrew, would be nice if you could talk to the guy who owns it

[2015-04-16 09:16] stenstad commented on #679
@ggiamarchi It works now! Awesome.

[2015-04-16 09:35] zekizeki commented on #915
@hairyhenderson The problem is in the softlayer/driver.go file, d.IPAddress is never set and so in driver.go Create() method the ssh.WaitForTCP(d.IPAddress + ":22")   method passes in a blank string as the address. This must then default to localhost in the net library used in WaitForTCP.

In addition there are two methods called GetIP and getIP that otherwise have the same method signature and ar

[2015-04-16 09:57] stenstad commented on #933
@ehazlett Hi, I have noticed this running Ubuntu 14.04 on an Openstack installation (Zetta.IO) as well. For some reason the Docker initscript doesn't work randomly. I think there might be a timing-issue somewhere. It worked 1 in 4 times for now.

It seems to hang in the post-installation step:

Setting up lxc-docker-1.5.0 (1.5.0) ...

If I look at /var/log/upstart/docker.log:

Waiting for /var/run

[2015-04-16 10:39] stenstad commented on #679
@ggiamarchi Actually, OS_DOMAIN_NAME is used for scoping to a domain and not a project/tenant. If it is defined python-openstackclient complains.

[2015-04-16 11:27] hairyhenderson commented on #915
@zekizeki - wow, nice find! :+1:

[2015-04-16 11:30] hairyhenderson commented on #915
@zekizeki - feel free to issue a PR and I'll take a look :)

[2015-04-16 12:30] zekizeki commented on #915
@hairyhenderson apologies I cancelled the first pull after some first timer commit issues, go fmt, signature etc. second pull request passes travis fine though. The fix for this issue is just a one liner.

[2015-04-16 13:23] ehazlett commented on #878
This looks like perhaps another network related issue.  We are seeing more of these.

@bfil could you paste the output of `VBoxManager list hostonlyifs`

[2015-04-16 13:44] ehazlett commented on #130
@tchak thanks!  we are working on how to get the "getting started with machine" experience happens.  for instance, it's not just a simple update the brew formula and go.  anyone on OS X will need a hypervisor so we also have to account for that.  Also, machine provides multiple hypervisor options so I also do not think it would be a good idea to forcibly install VirtualBox if the user is using Fus

[2015-04-16 13:45] ehazlett commented on #933
@stenstad yes we have noticed this in the RCs of 1.6 as well.  There is a fix coming that should fix this.  Basically it's a module not being loaded -- the new installer takes care of it.

[2015-04-16 13:56] ruprict commented on #878
Having this same issue with the 0.2.0 prerelease...here's my output:

[code]

Hope this helps

[2015-04-16 14:01] bfil commented on #878
@ehazlett here it is:

[code]

[2015-04-16 16:32] tchak commented on #130
@ehazlett :+1:

[2015-04-16 20:05] UserTaken opened #1014 "Help Output"
`Docker` commands are organized alphabetically while there is no clear order to how `Docker Machine` commands are listed. The options for `Docker Machine` is listed below commands while options for `Docker` and `Docker Compose` are listed above. The `-v` option is redundant if version number is displayed by default.

[code]

[2015-04-16 23:55] arun-gupta opened #1017 "New command to have an existing machine to join the cluster"
Per the documentation at http://docs.docker.com/machine/#using-docker-machine-with-docker-swarm, only `docker create` command can be used to create a node and join the Swarm cluster. There should be an option to have an existing Machine join the swarm cluster as well.

[2015-04-17 00:25] arun-gupta opened #1018 "Option to specify Swarm cluster name"
Created a Swarm cluster as:

[code]

Created a Swarm master as:

[code]

Listing the machines is shown as:

[code]

Added another node and the machine listing is shown as:

[code]

Seems like the cluster name is `swarm-master` is picked up from the master's machine name. There should be an option to specify the cluster name when creating the cluster.

[2015-04-17 00:28] arun-gupta commented on #1017
There should also be an option to make an existing machine a Swarm master.

[2015-04-17 00:29] jeffdm opened #1019 "docker-machine upgrade fails if VM is powered off"
[code]

Because it relies on SSH access to read /etc/os-release. Low priority since for Kitematic we can just attempt to upgrade after starting the VM.

Before this we've been directly reading the `boot2docker.iso` file which has the version encoded as a string somewhere as `Boot2Docker-x.x.x`. This is a hack, but worked offline. Is there a reliable way to inspect the `os-release` file from the is

[2015-04-17 01:34] jayed opened #1020 "vmwarefusion boot2docker running docker 1.5.0"
The machine virtualbox driver is installing docker 1.6.0 while the vmwarefusion driver is installing 1.5.0.

                        ##        .
                  ## ## ##       ==
               ## ## ## ##      ===
           /""""""""""""""""\___/ ===
[code]

[2015-04-17 01:35] jayed opened #1021 "vmwarefusion driver errors with 'fail to create'"
Creating a vmwarefusion machine errs out with "fail to create" while actually creating the machine.

Jays-MacBook-Air-2:Downloads jayed$ docker-machine -D create -d vmwarefusion localvm
INFO[0000] Creating SSH key...
DEBU[0000] executing: /usr/local/bin/ssh-keygen ssh-keygen -t rsa -N  -f /Users/jayed/.docker/machine/machines/localvm/id_rsa

Generating public/private rsa key pair.
Your identificat

[2015-04-17 01:36] jayed commented on #1021
The SSH connection is refused because the boot2docker instance isn't doing key authentication; it wants a password.

Jays-MacBook-Air-2:Downloads jayed$ docker-machine ssh
docker@172.16.164.135's password:
docker@172.16.164.135's password:
docker@172.16.164.135's password:
FATA[0004] exit status 255

[2015-04-17 01:38] jayed commented on #1021
The docker user does not have an authorized_keys file.

docker@boot2docker:~/.ssh$ pwd
/home/docker/.ssh
docker@boot2docker:~/.ssh$ ls -al
total 4
drwx--S---    2 docker   staff           60 Apr 17 01:37 ./
drwxr-sr-x    5 docker   staff          180 Apr 17 01:37 ../
-rw-r--r--    1 docker   staff          171 Apr 17 01:37 known_hosts

[2015-04-17 02:30] aemonfly opened #1022 "docker-machine -v error on Mac osx"
1. enviroment
  Mac OS X 10.9.5
2. steps:
    2.1 install the docker follow the document http://docs.docker.com/installation/mac/

    2.2 install the docker machine follow the document https://docs.docker.com/machine/

it gives the following errors and exit when i enter the command "docker-machine -v"

[2015-04-17 03:30] jayed commented on #1021
I've got about a 40% success rate. It seems to occur randomly. Here's another failure. The machine is created in VMWare and boots up just fine.

Jays-MacBook-Air-2:localvm jayed$ docker-machine -D create -d vmwarefusion localvm3
INFO[0000] Creating SSH key...
DEBU[0000] executing: /usr/local/bin/ssh-keygen ssh-keygen -t rsa -N  -f /Users/jayed/.docker/machine/machines/localvm3/id_rsa

Generating p

[2015-04-17 03:47] jayed commented on #1020
Jays-MacBook-Air-2:localvm jayed$ docker ps
FATA[0000] Error response from daemon: client and server don't have same version (client : 1.18, server: 1.17)
Jays-MacBook-Air-2:localvm jayed$ docker --version
Docker version 1.6.0, build 4749651

[2015-04-17 09:40] eric-leblouch commented on #479
Same issue with 0.2.0 (8b9eaf2), only creating one instance on Mac OSX 10.9.5, Virtualbox 4.3.26

create command with debug following:

[code]

[2015-04-17 10:21] eric-leblouch commented on #479
And it does not seem intermittent to me it is each time since using 0.2.0

[2015-04-17 10:35] andrea-spoldi commented on #581
can't quite understand if this has been addressed somehow with recent machine 0.2 release...
Release notes state :

Support for using Private IPs in VPC

and if I try to create a new machine :

DEBU[0025] created instance ID i-f8fdfb2f, IP address 52.1.252.193, Private IP address 10.0.1.173

...but it still tries to check for port 22 on the public IP, so it fails again...

missing something ?

[2015-04-17 11:15] johnkeenleyside commented on #479
Same problem for me. Mac OS X 10.10.3 , docker-machine 0.2.0

[0] bin> docker-machine url dev2
Bad port '0'
FATA[0000] exit status 255
[1] bin> docker-machine --version
docker-machine version 0.2.0 (8b9eaf2)

[2015-04-17 12:47] eric-leblouch commented on #479
Got it to work by trying and trying again with the debug option and I got to the WaitForSSH function and then all was ok.

On all the failes tries my last debug line was: `INFO[0007] Waiting for VM to start... `

[code]

[2015-04-17 14:22] stenstad commented on #679
@ggiamarchi Seems like Openstack Client has upgraded their docs regarding auth, explaining what is needed and used for v3 auth with regards to scoping:

https://github.com/openstack/python-openstackclient/blob/master/doc/source/authentication.rst

[2015-04-17 15:13] ehazlett commented on #581
@andrea-spoldi currently the check is "automatic".  If the instance does not get a public IP (i.e. you don't have that enabled in the subnet) then it will use the private.  Otherwise, it uses the public.

Also note, you must have a connection to the VPC via VPN (we do not handle tunneling etc -- it's assumed you can connect to the private address space).

[2015-04-17 15:15] ehazlett opened #1024 "VirtualBox: check for host only network interface"
There appears to be some occasional issues if there is an existing host only network interface before machine creates it (see https://github.com/docker/machine/issues/878#issuecomment-93741533).  We should detect and perhaps create a separate interface to prevent issues.

[2015-04-17 15:16] ehazlett commented on #1022
This was from an error in the docs.  Those have been updated.  Specifically:

[code]

There was a missing arg to curl.

Please follow those again to properly download machine.  Thanks!

[2015-04-17 15:16] #1022 closed

[2015-04-17 15:17] ehazlett commented on #1021
/cc @frapposelli

[2015-04-17 15:18] ehazlett commented on #1020
@frapposelli any chance we could get an updated vmwarefusion ISO?

[2015-04-17 15:20] frapposelli commented on #1020
Well, we were supposed to get boot2docker 1.6.0 with vmtools in it so we could switch to the mainline boot2docker release, see last @tianon comment here https://github.com/boot2docker/boot2docker/pull/747

Not sure why this didn't work out.

[2015-04-17 15:23] frapposelli commented on #1020
If we can't work this out I will cut another custom iso, but I'd rather not :)

[2015-04-17 15:27] ehazlett commented on #1019
@jeffdm thanks -- we could perhaps check for that.  i think if it's virtualbox we could probably safely ignore this check and just skip the stop of the VM and proceed with the upgrade.

@nathanleclaire thoughts?

[2015-04-17 15:39] frapposelli commented on #1021
Can't reproduce right now, @jayed what version of Fusion are you using?

[2015-04-17 16:44] adamtwiss commented on #479
Same problem here:
docker-machine version 0.2.0 (8b9eaf2)    MacOS 10.10.3
Create command just: docker-machine create -d virtualbox local
Virtualbox 4.3.26
VM appears to have booted fine, but doesn't come up (stuck saying for waiting for VM)

[code]

In another window:
[code]

Boot2docker runs fine on the same system ok.

[2015-04-17 17:20] johnkeenleyside commented on #479
Like Eric, after several retries I was able to get it to work. Almost gave up....

[2015-04-17 17:40] ehazlett commented on #479
For those interested, I've created #1024  to track the network side.  Thanks for all of the feedback!

[2015-04-17 17:49] zekizeki commented on #915
@wzymaster this should work for you now if you pull and build the latest.

[2015-04-17 19:02] nathanleclaire commented on #1019
In the future we will not necessarily know what OS a stopped machine is running, and we need to know that in order to know how to proceed on an upgrade.  Additionally it is unique to b2d that it can be upgraded while stopped, Ubuntu for instance has to be running.

So I think we should either require the machine be running to perform an upgrade, or run the start command ourselves before we go forw

[2015-04-17 19:05] jeffdm commented on #1019
That makes sense! I had forgotten about the cloud providers. I think a good solution is just to spit out an error if it's stopped

[2015-04-17 19:15] adamtwiss commented on #479
Related to what @ehazlett said and #1024.  I can confirm that when i delete all my other VirtualBox Host only networks (that fortunately I no longer needed) everything then works fine.

[2015-04-17 19:22] jayed commented on #1021
@frapposelli I'm using 7.1. I rolled a custom version of docker-machine that puts a 5 second sleep after "Got an IP" and can't repro it. The original version still spits out the error periodically.

[2015-04-17 19:34] adamtwiss commented on #479
Not quite so simple...... if I delete all my existing VirtualBox Host-only networks, I can create on new docker-machine fine. If I try and create a second docker-machine locally it then still fails ... presumably for exactly the same reasons.

[2015-04-17 20:25] ehazlett commented on #479
@adamtwiss thanks for the feedback.  i'll try the same on my end to see if i can re-create.

[2015-04-17 21:12] frapposelli commented on #1021
Will work on this over the weekend, thanks for reporting

On Friday, April 17, 2015, Jay <notifications@github.com> wrote:

[2015-04-17 22:07] weifengbao opened #1026 "Broken download link for windows Installation Guide"
In the Windows section, it listed install the Docker Machine binary:

curl https://github.com/docker/machine/releases/docker-machine_windows-amd64.exe

However, the link appears is broken.  Returns: {"error":"Not Found"}

The following command works:

curl -L https://github.com/docker/machine/releases/download/v0.2.0/docker-machine_windows-amd64.exe > /bin/docker-machine

[2015-04-17 22:12] far-blue opened #1027 "Issues with restarting the docker daemon and /var/run/docker.sock"
I'm seeing a problem with restarting the docker daemon when there are auto-starting containers that link to the /var/run/docker.sock socket, the jwilder/nginx-proxy being one example. The result is that docker is unable to create the socket after restart.

To create the situation:
1) create a new virtualbox-backed docker-machine
2) create and start a container from the jwilder/nginx-proxy image wi

[2015-04-17 22:30] jeffdm opened #1028 "docker-machine hangs on create"
I was using `docker-machine` with VirtualBox 4.3.26. I had an existing VM powered off.

I ran `docker-machine create -d dev 2` and it hung after the VM finished booting. I could ssh in but the daemon was dead. It eventually came to life. Here are the daemon logs:

[code]

This line seems important:

`2015/04/17 22:22:36 http: TLS handshake error from 192.168.99.1:59492: EOF`

[2015-04-17 22:52] juliomenendez opened #1029 "Rackspace driver not getting the correct IP address"
Rackspace assigns a temporary public IP address when the server is created and changes it to the final one little bit after, usually a minute or 2. docker-machine is getting the temporary one only making it unusable from docker-machine.
As a workaround one can edit the corresponding ```.json``` in ```~/.docker/machines``` to set the final IP address.

[2015-04-18 05:47] jamshid opened #1030 "docker server certificate -- requires exact ip match?"
Let's say I have two machines: my desktop machine running docker in Virtual Box, and my laptop where I want to run the docker client.

I created a Virtual Box docker server named "docker" on my desktop with:
[code]
I'm trying to access that docker server from my laptop (OSX).

I'm running this ssh tunnel between my laptop and my desktop, exposing the docker server port on my laptop's localhost por

[2015-04-18 08:41] cjonagam commented on #479
same problem for me!   process halts at
`INFO[0009] Waiting for VM to start... `

[2015-04-19 04:02] jamshid commented on #1030
I see `certs.go` `newCertificate()` sets the Subject Name "Organization" to the docker-machine name.
https://github.com/docker/machine/blob/344c7d771afd681322d543891df948db8749cb7b/utils/certs.go
[code]
Maybe it should set the "Common Name" to that too too? Then as long as I access the server by that hostname (eg. add "127.0.0.1 docker" to my `/etc/hosts` and set `DOCKER_HOST=tcp://docker:12376`),

[2015-04-19 05:45] jamshid commented on #1030
Yup, setting "CommonName" allows `docker` client on my laptop to validate the cert, even through an ssh tunnel to the docker server running in a Virtual Box on my desktop. Code diff below.

Had some trouble figuring out which cert files I needed on my laptop. I assumed all the .pem files I need are in /var/lib/boot2docker/tls, but `./docker-machine_darwin-amd64 regenerate-certs docker` did not see

[2015-04-19 17:29] crunchywelch commented on #463
@nathanleclaire @ehazlett  hopefully not hijacking this thread too badly, but I'm writing a logentries hook for logrus, and integrating it into a special branch of docker machine, would there be any interest in spending some time finding a way to provide the ability to set the logging backend using the logrus hook functionality in machine? Let me know if I should make a new proposal issue for this

[2015-04-20 07:26] andrea-spoldi commented on #581
Hi @ehazlett thanks for replying...
Sorry but I think I do not understand what you mean for "automatic"

this is what I use :

docker-machine -D create -d amazonec2 --amazonec2-access-key="mykey" --amazonec2-secret-key="myscret" --amazonec2-subnet-id="subnet-MY-PRIVATE-SUBNET" --amazonec2-vpc-id="vpc-MYVPC" test-machine2

sorry for using caps

I'm on VPN, the new instance receives both a public ip

[2015-04-20 10:47] far-blue opened #1031 "Another reason docker-machine create is hanging"
I'm also seeing `create` hang during the creation process with `Waiting for VM to start...`.

For me, the VM is being created fine but docker-machine never realises this and so will hang forever. In the process it also seems to take 100% cpu.

I believe the problem is rooted in the ssh port forwarding. I notice in the config.json for the machine that SSHPort is 0 and if I run `docker-machine ip` w

[2015-04-20 12:36] wires commented on #1031
Ha, just wanted to file the same issue:

[code]

Spinning with 100% CPU, same problem with `./docker-machine ip`.

[code]

[2015-04-20 12:41] arun-gupta commented on #974
Looking forward to a fix for this as this would allow us to specify certificates during machine creation.

[2015-04-20 13:22] RickWieman opened #1032 "Proposal: Change log output when upgrading an unsupported driver"
When upgrading a Docker machine with the `vmwarefusion` driver, you get the following error message:

[code]

I'd like to propose to remove the first `INFO` line, as it isn't executed at all (the VM is still running after this), and it doesn't make sense to stop a machine if you know beforehand that you cannot upgrade it.

[2015-04-20 13:52] ehazlett commented on #915
Closing as this appears to be fixed.  Feel free to re-open if the issue persists.  Thanks!

[2015-04-20 13:52] #915 closed

[2015-04-20 14:06] ehazlett commented on #581
@andrea-spoldi my apologies -- i thought we had this configurable.  It looks like we forcibly specify the configuration of  a public address (https://github.com/docker/machine/blob/master/drivers/amazonec2/amz/ec2.go#L189) -- I thought we deferred to whatever the "Auto-Assign Public IP" setting of the subnet group.  Would you mind opening an issue to add that functionality?

[2015-04-20 14:07] ehazlett commented on #974
@arun-gupta thanks -- if you are just looking to pass certificates, check the global options - you should be able to do that now.

[2015-04-20 16:22] wzymaster commented on #915
@zekizeki thanks for your update and wonder if this one is included in Docker-machine 0.2.0 or I have to pull the latest code to build a new binary myself ?

[2015-04-20 17:00] jfieber commented on #1031
The virtualbox driver has a bug that it checks for a free tcp port when the VM instance is _created_ but there is no guarantee that the port will be there some days in the future.  I submitted a PR (#1025) that addresses that.  I've been digging a lot in the virtual box driver this past week but I haven't encountered.  For a VM with this problem, can you verify the value of `SSHPort` in $HOME/.doc

[2015-04-20 17:03] jfieber commented on #1031
I suspect this is a duplicate of #479

[2015-04-20 17:36] arun-gupta commented on #974
@ehazlett Tried to create the machine as:

[code]

`~/.docker/machine/certs` shows:

[code]

Can only one client-cert be used as opposed to storing them in a keystore?

[2015-04-20 18:07] far-blue commented on #1031
I don't think this is a duplicate of the original issue reported in #479 but I agree that some commenters have reported problems closer to the problem I've raised than to the original issue reported.

As I say in the original issue report, yes, the SSHPort value in the config.son file is set to 0 and this is why the `docker-machine ip` fails. I believe it is also why the `docker-machine create` fa

[2015-04-20 19:06] zekizeki commented on #915
@wzymaster I'm pretty sure it didn't make it in time unfortunately so you'll need to pull and build.

[2015-04-20 19:44] ehazlett commented on #915
@wzymaster yes you need from master.  if you just want a binary, you can use these (latest builds from master: https://docker-machine-builds.evanhazlett.com/latest/).  We may cut a point release if need be.  Thanks!

[2015-04-20 21:00] #765 closed

[2015-04-20 21:02] ehazlett commented on #974
You cannot use remote files.  It expects them locally.

[2015-04-20 21:04] flavio commented on #905
Hi, where is this work being done? I would like to help adding SUSE/openSUSE support.

[2015-04-20 22:06] jfieber commented on #1031
It looks like the only return case from `getAvailableTCPPort()` with a `nil` error value is in a conditional guaranteeing that the port is non-zero.  The only caller is the driver `Create` method which does an early return with the error.   At least in the current code.  Need to pin down the versions showing the problem.  It is a given that all sorts of things will fail later on if `SSHport` is ze

[2015-04-20 23:47] nathanleclaire commented on #974
@ibuildthecloud To follow up on your use case a bit:

Consider that we have a RancherOS provisioner, which does not want to allow users to set the graph dir.  Would throwing an error from the `Provision` step if the provisioner detects that the user is trying to use a custom graph dir be sufficient?  The only issue I can think of is that it can only occur _after_ the machine has actually been crea

[2015-04-21 05:54] frapposelli commented on #1021
This PR should fix it https://github.com/docker/machine/pull/1034

[2015-04-21 05:54] frapposelli commented on #1020
This PR will fix it and also add shared folders support https://github.com/docker/machine/pull/1034

[2015-04-21 05:55] frapposelli commented on #641
This PR adds shared folders support for Fusion https://github.com/docker/machine/pull/1034

[2015-04-21 05:56] frapposelli commented on #430
This PR adds shared folders support for Fusion and should fix this issue https://github.com/docker/machine/pull/1034

[2015-04-21 06:27] thomschke commented on #1031
same problem, under 0.2.0-rc3 it works.

[2015-04-21 07:15] jolestar commented on #661
+1 @dougborg

[2015-04-21 08:16] far-blue commented on #1031
Ok, I've had a chance to confirm the debug output and the correct port info *is* generated for VirtualBox. So this means `getAvailableTCPPort()` is fine and the issue is elsewhere. One thing I have noticed is that  all the failing creates have high port numbers - could it be something as stupid as an int overflow during json encoding? There certainly seems to be no issue with reading back a json f

[2015-04-21 08:21] andrea-spoldi opened #1036 "[AmazonEC2 driver] -- make "Autoassign Public IP address" configurable"
see issue #581

"Autoassign Public IP address" (https://github.com/docker/machine/blob/master/drivers/amazonec2/amz/ec2.go#L189) should be configurabile in order to create a new host into a VPC's private subnet, like

--auto-public-ip = "true" >> a public Elastic IP Address is assigned and port 22 is checked against it for monitoring when the new host come up

--auto-public-ip = "false" >> do not

[2015-04-21 08:21] andrea-spoldi commented on #581
Hi @ehazlett , done .

[2015-04-21 12:34] #1032 closed

[2015-04-21 14:22] #1021 closed

[2015-04-21 15:00] ehazlett commented on #905
@flavio not yet -- i was planning on starting on centos/fedora this week.

[2015-04-21 15:01] ehazlett commented on #1020
Closing as #1034 is merged which updates to 1.6.0.  Thanks!

[2015-04-21 15:01] #1020 closed

[2015-04-21 15:02] ehazlett commented on #581
@andrea-spoldi thanks!  i'm going to close this on and continue with that one.  We will get this for the 0.3.0.

[2015-04-21 15:02] #581 closed

[2015-04-21 15:38] jeffdm commented on #616
+1 to removal. As a consumer of machine, we will probably need the `active` concept. That said, we can keep track of the active VM ourselves via the unique name.

[2015-04-21 16:16] errordeveloper commented on #1027
May be related to boot2docker/boot2docker#844.

[2015-04-21 17:56] haihappen opened #1038 "Revert `env` command to former output."
With the version prior to `0.2.0` I was able to run `$(machine env)` on my ZSH, however the recent changes result in following error:
[code]

Any chance to get the old behaviour back?

[2015-04-21 18:13] rsmitty commented on #130
FYI all - looks like this was already updated before I got back around to it.

https://github.com/Homebrew/homebrew/pull/38851
https://github.com/Homebrew/homebrew/commit/d7c140a21c5ef0ae459d7e5dfaad82154e5b8bae

[2015-04-21 18:18] RickWieman commented on #1038
That's something I noticed as well, unfortunately.
It *does* work if you use `eval "$(docker-machine env)"`, though.

[2015-04-21 18:24] haihappen commented on #1038
Yes, however this more to type :stuck_out_tongue:
This was my workflow:

[code]

[2015-04-21 19:42] ehazlett commented on #130
@rsmitty thanks!  :+1:

[2015-04-21 19:42] ehazlett commented on #130
I'm going to close this.  We can add new issues for future updates.

[2015-04-21 19:42] #130 closed

[2015-04-21 22:03] nathanleclaire opened #1039 "docker-machine ssh command with flags seem to not work anymore"
@sthulb @ehazlett

Try this with an older version of `docker-machine` (probably 0.2.0 will suffice):

[code]

But with the recent SSH changes doing such commands with flags and flag parsing terminator seems to no longer work:

[code]

[2015-04-21 22:15] sthulb commented on #1039
@nathanleclaire Thanks! I'll create a patch for @ehazlett to merge tomorrow

[2015-04-21 22:15] nathanleclaire commented on #1039
:+1:

[2015-04-22 00:27] hamiltont opened #1041 "Cannot build 'env' output from 'inspect' output"
I'm trying to interface with `docker-machine` from an external program using `inspect`. Some information seems to be missing. Using the digitalocean driver, I see

[code]

When I run `inspect`, I don't find the `2376` anywhere in the output, and the value of `TlsVerify` seems to disagree with `DOCKER_TLS_VERIFY` above. I know that [2376 is the recommended port](https://github.com/docker/docker/blo

[2015-04-22 01:06] hairyhenderson commented on #877
This was fixed by #882

[2015-04-22 01:13] hairyhenderson commented on #1038
@haihappen - Sorry about this! This was changed in the 0.2.0 release. See #795 for background on the rationale. All of our documentation _should_ mention the `eval "$(docker-machine env}"` syntax now, too.

And, while it _would've_ worked without `eval` in the past, because of #783, it can't anymore.

[2015-04-22 01:19] hairyhenderson commented on #1041
:+1: I ran into this while working on #921.

There are two separate issues here, really:
1. not all drivers expose an IP Address, and to make matters worse, those that do sometimes spell `IPAddress` differently.
2. the Docker port is hard-coded in a bunch of places to 2376. For now, you can assume it'll always be 2376... We _could_ add it in the `inspect` output too - the place that makes the most

[2015-04-22 01:22] hamiltont opened #1042 "'inspect' should include VM status for virtualbox driver"
When using `virtualbox` driver, I noticed that running `env` will fail if you have not run `start`. However, as far as I can see there is no output in `inspect` that tells me if the machine is started or not. It would be nice to have this info included under the `Driver` section

[code]

[2015-04-22 01:26] hamiltont commented on #1041
1 - Perhaps you re-use the code path for `docker-machine ip` - if that returns a result, then ensure it's exposed using a common key like `IPAddress` (even if that means you'd occasionally see stuff like `IPaddress` and `IPAddress`, IMO it's ok to duplicate the data so the user of inspect can rely on that key being set if there is an ip address available)
2 - Hardcoded it for now, and either appro

[2015-04-22 06:20] #1038 closed

[2015-04-22 06:47] CADBOT opened #1045 "Command line inconsistency"
When creating a swam node on digital ocean, I noticed something a little awkward. The --digital-ocean-access-token flag is set with an equal, and swam-discovery is set with a space. i.e.

docker-machine create \
  -d digital-ocean \
  --digital-ocean-access-token=SECRET \
  --swam \
  --swarm-discovery token://OTHER-SECRET \
my-node

It's only a small inconsistency, but I did get tripped up on it

[2015-04-22 10:22] sthulb commented on #1045
the = symbol in args is optional as far as I know.

[2015-04-22 10:24] sthulb commented on #1039
There seems to be a problem with codegansta/cli parsing things after `--`

[2015-04-22 12:16] #877 closed

[2015-04-22 12:40] ehazlett commented on #1039
This is fixed in #1046.  Thanks!

[2015-04-22 12:40] #1039 closed

[2015-04-22 14:42] cusspvz commented on #749
@jangelfdez seems that I'm getting the same error hahaha
Could you please specify what you did wrong?

[2015-04-22 14:54] cusspvz commented on #749
Well, really an ID10T error!!

For those with the same problem, check that you are `azure-subscription-cert` pointing to `.pem` instead of `.cer` file.

[2015-04-22 15:47] ehazlett commented on #749
@cusspvz ah haha thanks for the feedback!

[2015-04-22 15:58] jangelfdez commented on #749
Same here ;)

[2015-04-22 16:18] ehazlett commented on #1045
Yes, the args can use either spaces or an equal sign to assign values.  Thanks for the feedback!

[2015-04-22 16:18] #1045 closed

[2015-04-22 16:19] ehazlett commented on #1042
Thanks for the feedback.  I think we could add the result from `GetState` to inspect.

[2015-04-22 16:21] ehazlett commented on #1041
I agree this would be beneficial.  I would also like to remove the hard coded port throughout machine as well.

[2015-04-22 16:24] ehazlett commented on #1031
thanks for confirming @far-blue -- my hunch was it was just a side effect and not `getAvailableTCPPort()` -- thanks.

Would you happen to have the VirtualBox logs (`~/.docker/machine/machines/<name>/<name>/Logs/Vbox.log`) for one of the fails?  If it is too high of a port then it should throw an error in virtualbox i would hope.  That would then leave it at port `0` causing the issue.

[2015-04-22 16:30] far-blue commented on #1031
Added as a gist: https://gist.github.com/far-blue/f9be3350918b3d5163dc

[2015-04-22 16:31] hamiltont commented on #1042
Great, thanks for looking!

[2015-04-22 16:31] far-blue commented on #1031
Although I can see in VirtualBox that a port has been setup for the forwarding so I don't think that's the issue.

[2015-04-22 16:48] ehazlett commented on #1031
Correct -- it does indeed get a port: https://gist.github.com/far-blue/f9be3350918b3d5163dc#file-vbox-log-L931

[2015-04-22 17:57] ehazlett commented on #1018
You can set the name of the cluster by changing the machine name.  Since this data lives only in Machine and only shown here, I don't think there would be much benefit from having a separate option.

[2015-04-22 17:59] arun-gupta commented on #1018
So the machine name and cluster name are currently the same? And will continue to be so?

[2015-04-22 18:18] jmaya commented on #673
Try to remove the certificates in ~/.docker/machine/certs/  This worked for me.  It seems you have older certs associated with the boot2docker image.

[2015-04-22 20:22] nathanleclaire opened #1047 "Add docs for b2d migration"
When https://github.com/docker/machine/pull/979 it will need docs to assist users in the migration from boot2docker to machine (this usage is self-evident to us, but not clear to new users). Let's add them!  cc @ehazlett @SvenDowideit @tianon

[2015-04-22 22:02] killerwolf commented on #992
+1

[2015-04-22 22:08] nathanleclaire commented on #1041
Heh... it's the `EngineOptions.TlsVerify` which has the wrong value here, not the env var... we simply set an empty struct so it defaults to false.  I'll make sure to include setting that correctly in the engine options PR.

[2015-04-22 22:14] nathanleclaire commented on #1026
Dang, it should be this.  I will make a PR to correct it

[2015-04-23 01:47] gusun1 commented on #673
Thank you, everybody. I just restart the boot2docker-vm machine.
`$ boot2docker restart`
This works for me.

[2015-04-23 06:04] jamshid opened #1049 "tls-regenerate-certs ignores/overrides EXTRA_ARGS customizations in /var/lib/boot2docker/profile"
`docker-machine tls-regenerate-certs` appends new env variable settings like EXTRA_ARGS to `/var/lib/boot2docker/profile`:
[code]
This breaks docker server customizations that had been made to EXTRA_ARGS in that file. E.g. this behavior caused this line I previously appending to `profile` to be ignored:
[code]
Seems `tls-regenerate-certs` should replace instead of append if possible, or maybe the

[2015-04-23 07:30] hbokh opened #1050 "docker / machine only outputs when used with strace"
I installed docker-machine as described in the off. documentation and ran into this weird issue.
There is only output when using `strace`... The docker daemon itself has been stopped on the host I run this on.

Here is some more information:

**docker-machine ls**

[code]

**docker images** - with and without strace

[code]

**docker info** - with and without strace:

[code]

**ENV**

[code]

**Di

[2015-04-23 07:58] hbokh commented on #1050
For some additional "debugging", I created this "wrapper" around the docker-command:

[code]

**Output**
[code]

Can it be one has to export some extra TLS-related settings?

[2015-04-23 12:56] ehazlett commented on #1042
@hairyhenderson thoughts on this one?  it would be similar to the `GetIP` I would imagine right?

[2015-04-23 12:58] ehazlett commented on #1018
As for now unless there is a compelling reason to change (I'm open for discussion :) )  Since this only lives in Machine and only shown on the `ls` I'm not sure what would be the use.  We could add the ability to do operations on a named cluster but that seems a bit confusing.

[2015-04-23 12:59] ehazlett commented on #1047
@nathanleclaire thanks!  You beat me to the issue :)

[2015-04-23 13:01] ehazlett commented on #1041
@nathanleclaire :+1:

[2015-04-23 13:45] far-blue commented on #1031
I've had success today creating a vm where the port configured was 62016 so I guess this proves it's not an issue with large port numbers.

[2015-04-23 17:20] hairyhenderson commented on #1041
@nathanleclaire - lol, apparently I totally mis-read the issue... My comments were heavily influenced by an IRC chat with @hamiltont, so I was focused on the IP address and port issues. :)

[2015-04-23 17:36] hairyhenderson commented on #1042
Hrm... I've always just used `machine ls` to figure out whether a machine is up or not :)

Right now, the `inspect` command just takes the current state of the `Host` and turns it into a map. We don't actually call `GetIP` to get the IP address, we just let the current state of `Driver.IPAddress` show up (where present - *cough* #1043 *cough*).

For something like the result from `GetState` though

[2015-04-23 19:21] ehazlett commented on #1047
Closing this -- we can continue the review in #1051

[2015-04-23 19:21] #1047 closed

[2015-04-23 22:03] #999 closed

[2015-04-24 01:01] imton commented on #23
+1 would be awesome

[2015-04-24 01:22] arun-gupta opened #1052 "Start Swarm cluster using docker-machine"
`docker-machine start --help` shows:

[code]

An option should be added that will allow to start the complete cluster. This could be something like:

`docker-machine start --swarm swarm-master`

`swarm-master` is the master, and this should start the other nodes as well.

Without this command, multiple commands need to be given:

[code]

[2015-04-24 01:31] arun-gupta opened #1053 "Remove multiple machines with a single command"
[code]
removed only a single machine.

The command should be updated to remove multiple machines. It would be better if it can take a regular expression, this can be very useful for (re)deployment of a cluster.

[2015-04-24 01:31] hairyhenderson commented on #555
I think this was resolved by #909 - right? /cc @ehazlett

[2015-04-24 01:33] hairyhenderson commented on #776
Fixed by #901 :tada:

[2015-04-24 01:33] #776 closed

[2015-04-24 02:05] nathanleclaire commented on #1053
Hi @arun-gupta, thanks for the report (and for the articles as well btw).  This command _should_ actually work to remove the machines specified (it does for me) but I the text is quite misleading as it references only one machine.  Do you think maybe we should spit back the machine names instead like how `docker rm` works?  cc @ehazlett for thoughts

[2015-04-24 02:09] nathanleclaire opened #1054 "Add docs for new docker-machine env command"
The `docker-machine env` command now is a bit more flexible in terms of working on `cmd.exe` and `powershell`.  It introduced the `--shell` flag to do so.  Let's document!  cc @ehazlett @SvenDowideit @fredlf  (https://github.com/docker/machine/pull/1033)

[2015-04-24 02:10] nathanleclaire commented on #1052
@arun-gupta I think `docker-machine start nodeA nodeB nodeC` should do it for you, does it not work?

[2015-04-24 02:13] nathanleclaire commented on #1029
Interesting, I wonder if doing a `docker-machine ip raxmachine` would serve as a workaround to save the correct IP.  I'm not sure if the certs are causing you issues, but there's a `regenerate-certs` command that is meant to help with these types of situations as well.

[2015-04-24 02:24] nathanleclaire commented on #1050
Thanks for the detailed report.  I'm really quite baffled by this behavior.  If the environment variables are set like you mentioned the `docker` command should run the same way every time.  cc @jfrazzelle @crosbymichael any ideas what could be causing this behavior?

[2015-04-24 03:44] gregaumann opened #1055 "Unable to change StorageDriver in virtualbox driver"
I need to change the storage driver in the virtualbox driver to use devicemapper rather than aufs. This is because aufs doesn't support setcap and devicemapper does. When using boot2docker without docker-machine this can be done as per these instructions: echo 'EXTRA_ARGS="--storage-driver=devicemapper"' > /var/lib/boot2docker/profile && sudo /etc/init.d/docker restart. I have found a StorageDrive

[2015-04-24 08:52] hbokh commented on #1050
Could it be `docker` is looking for TLSCACERT normally in `$HOME/.docker/ca.pem`?

[2015-04-24 13:00] arun-gupta commented on #1052
@nathanleclaire The command does work but this would require the knowledge of all machines in the cluster. The command should either take the discovery token or master node, find out all the machines in the cluster, and then start them.

[2015-04-24 13:03] arun-gupta commented on #1053
@nathanleclaire thanks, hope the articles would benefit others too!

+1, the command does work and the output is misleading. Spitting out machine names would be useful. Also include a command to delete entire cluster by specifying the master or discovery token.

[2015-04-24 14:16] ehazlett commented on #1042
@hairyhenderson yeah that's kind of what i was thinking (inject state into map) although I agree it feels a bit odd.

@nathanleclaire thoughts?

[2015-04-24 15:59] nathanleclaire commented on #1042
Yes, I've always used `ls` to check machine status although I don't think it is a very machine-readable approach.  To that extent maybe we could add a `machine status foo` command if there is demand for it.

My original goal for `inspect` was just to have a very quick way of querying the json file on disk which describes the saved machine properties, so if we aren't saving it in there, I don't rea

[2015-04-24 16:18] nathanleclaire commented on #1055
Hi @gregaumann - I'm not sure that suggestion will work with docker-machine as we already set EXTRA_ARGS in that file, but this exact feature will be supported by https://github.com/docker/machine/pull/1040 which will hopefully be making its way into master soon.

[2015-04-24 16:27] nathanleclaire commented on #1049
Hm, this should be fixed by : https://github.com/docker/machine/pull/1040 which would allow you to skip adding EXTRA_ARGS the manual way, but keep us posted.

[2015-04-24 16:40] ehazlett commented on #555
@hairyhenderson yes should be.  @sthulb #909 replaced all of the ssh shell-out correct?

[2015-04-24 16:43] ehazlett commented on #1053
I agree -- we should tell what machines were removed -- whether it is a single or multiple.  As far as the swarm cluster, we could inspect the swarm-agent-master container to get the token and delete automatically.

[2015-04-24 18:09] hairyhenderson commented on #1042
@nathanleclaire - I think that's a good goal for `inspect`. Maybe the best of both worlds could be to add some sort of `--update` flag to `inspect` to explicitly tell it "make sure you're getting the latest information, and I don't care if it takes a few seconds to query a bunch of stuff first."

I do like the idea of having a `State` value somewhere in the `inspect` output, even if it's (potentia

[2015-04-24 18:16] sthulb commented on #555
Ja!

[2015-04-24 18:48] hamiltont commented on #1042
As a total newbie to the project, I thought `inspect` would always return fresh output that could then be fed into external programs. Using a flag for this "update everything before returning to me" seems quite reasonable to me

[2015-04-24 18:57] nathanleclaire commented on #1052
@arun-gupta I'm wondering if a slightly more flexible solution for your use case might be some kind of `--filter` flag on `docker-machine ls`.  Then, you could do `docker-machine start $(docker-machine ls -q --filter swarm=swarm-master` similar to how you would, say, remove all containers in docker today.  What do you think?

[2015-04-24 19:03] arun-gupta commented on #1052
@nathanleclaire that's the Docker way, and seems appropriate to me.

[2015-04-24 19:13] hairyhenderson commented on #1042
Given that `docker inspect` _always_ returns fresh output, it's actually a pretty natural assumption that `docker-machine inspect`'s output would be fresh...

Maybe we should handle this in the usage message, and mention something like `...provides reasonably recent information about a machine...` (I don't like that wording, but...)?

The problem with altering `inspect` to be consistent with reali

[2015-04-24 19:15] hamiltont commented on #1042
perhaps `docker-machine inspect --no-cache` would suffice?

[2015-04-24 22:46] cascadian commented on #496
+1

[2015-04-24 23:58] ehazlett commented on #555
sweet.  closing.  thx!

[2015-04-24 23:58] #555 closed

[2015-04-25 02:41] dwilson6 opened #1057 "VirtualBox machine hostname not added to /etc/hosts on the first boot"
After creating a new VirtualBox machine the /etc/hosts file still has boot2docker as the hostname instead of the machine name. If I do a docker-machine restart then the machine name is in the hosts file.

After a little investigation, it looks like the set hostname function in the boot2docker provisioner doesn't call the binary which actually updates the hosts file (but that binary is called in th

[2015-04-25 19:10] nathanleclaire commented on #1057
Very interesting - which script is it?

[2015-04-25 21:08] jamshid commented on #1049
Thanks, great feature, but unfortunately #1040 doesn't address my use case since `--enable-flag` only works at machine `create` time. In my probably uncommon use case I want to create a docker machine, build a dnsmasq container, then change my docker machine to use itself as the DNS server.

[2015-04-25 22:13] dwilson6 commented on #1057
The script is https://github.com/boot2docker/boot2docker/blob/master/rootfs/rootfs/etc/rc.d/hostname

That script is called by https://github.com/boot2docker/boot2docker/blob/master/rootfs/rootfs/bootscript.sh

[2015-04-26 13:50] thaJeztah commented on #1014
At this point, perhaps, but having a `-v` is good because a) people expect it b) it allows to change the default output (no flags) and still have a way to get the version output.

I'm +1 for being consistent between the projects, so alphabetically and same order of flags/commands

[2015-04-26 14:14] sshaw commented on #986
Same problem after installing from `https://github.com/docker/machine/releases/download/v0.2.0/docker-machine_darwin-amd64`:

[code]

`VBoxHeadless` is running.

In my case opening VirtualBox shows the `dev` image as *Running* and the docker ASCII art + command prompt in the Preview section.

* OS X 10.9.5
* docker-machine 0.2.0
* VirtualBox 4.3.25 r98716

[2015-04-26 14:25] sshaw commented on #986
Also note that the [aforementioned bug](https://www.virtualbox.org/ticket/13874) was supposed to be fixed in `4.3.24` but I was running `4.3.25`. Tried with `4.3.26` too, same problem.

[2015-04-26 17:27] hairyhenderson commented on #1053
I've got a pretty simple solution in the referenced PR... It'll just report success on each machine removal. That way if there's a failure, you know that some machines were removed.

[2015-04-26 17:46] hairyhenderson commented on #1018
The trouble with the cluster name being derived from the master's name is that there seem to be plans for some sort of redundancy with master elections in `swarm`. If the master changes, it'd be useful for `machine` to be able to handle that, and it would be super-confusing if the master of the cluster named `swarm-master-1` was actually `swarm-master-2` :)

As well, I can think of cases where per

[2015-04-26 18:08] hairyhenderson commented on #1017
I think this is totally possible by exposing the `configureSwarm` function we have in `libmachine/provision/utils.go`.

I think we could pretty easily have a `join` command:

[code]

One question on the second part: what happens if the cluster already has a master that `docker-machine` knows about?

[2015-04-26 18:25] hairyhenderson commented on #1014
@UserTaken - Not hard to alphabetize _most_ of the commands, but we're somewhat constrained by our use of `codegangsta/cli` to handle this stuff for us. In particular, the `help, h` option is added for us automatically so it always ends up at the bottom.

Personally I like `help` being at the bottom, because it draws attention to it, which can be useful at a glance (people tend to scan the stuff a

[2015-04-26 21:05] DavideDelVecchio commented on #986
Same thing here I'm on
* OS X 10.9.5
* VirtualBox v4.3.26-r98988
* docker-machine 0.2.0
when running

docker-machine create  --driver virtualbox mymachine

it hangs

[2015-04-27 00:33] gregaumann commented on #1055
Yes the solution for boot2docker without machine doesn't work with machine. Can you suggest a work around that will work or do I need to build from source with your pull request?

[2015-04-27 07:53] UserTaken commented on #1014
@hairyhenderson Since `-h, --help` is already in the options category like Docker, how about removing it from the commands  category and instead add a note at the bottom as Docker does. The explanation for options such as `-h, --help=false` is different between the projects. Also the capitalization  and wording such as `COMMANDS` vs `Commands` and `GLOBAL OPTIONS` vs `Options`.

[2015-04-27 08:56] FlxPeters opened #1060 "vmwarevsphere boot2docker running docker 1.6.0 and docker-machine version 0.2.0"
Hi,

i think this is related to #1020 issue. When i create a new docker-machine on a vSphere 5.5 I can not make any command to this machine.

[code]
Lokal versions:
[code]

[code]

[2015-04-27 09:25] FlxPeters commented on #1060
I found a dirty workaround. Just Download the the Image from #1034 and rename it to `/User/xxx/.docker/machine/cache/boot2docker-1.5.0-GH747.iso` and remove all caches.

[2015-04-27 12:26] hairyhenderson commented on #1014
@UserTaken - Ok, I think most of those things can be altered - will have a stab at it in separate PRs.

[2015-04-27 13:41] rossbachp commented on #1031
I've no success with current head. Complete day no chance to create a virtualbox machine.... Very Bad.

* 100% CPU load...
* setup is no finished.
* Manually ssh connection possible. `cd .docker/machine/machines/<box>/ ; ssh -i id_rsa docker@192.168.99.100`

[2015-04-27 15:23] dwilson6 commented on #1057
In the docker-machine [boot2docker provisioner](https://github.com/docker/machine/blob/master/libmachine/provision/boot2docker.go), the SetHostname method should run "sudo /usr/bin/sethostname %s && echo %q | sudo tee /var/lib/boot2docker/etc/hostname" instead of "sudo hostname %s && echo %q | sudo tee /var/lib/boot2docker/etc/hostname"

[2015-04-27 16:19] nathanleclaire commented on #1055
@gregaumann For now, if you edit the `EXTRA_ARGS` variable in `/var/lib/boot2docker/profile` (perhaps with a command like `docker-machine ssh machinename vi /var/lib/boot2docker/profile` to include the storage driver flag you want, and restart the daemon, it will work.

[2015-04-27 16:23] sthulb commented on #1036
Mine! I'll look into this tomorrow morning.

[2015-04-27 19:01] arun-gupta commented on #1017
Only one master is permitted per cluster at this time so that should result in an error message. When multiple (redundant) masters are allowed then should be allowed to be added.

[2015-04-27 20:34] nerdalert commented on #584
@ehazlett in case you are still looking for data. The key pair does get created in EC2. I saw the same deserialization error. I didn't poke around in the code for a bug as I saw in #584 that the AWS Go API would likely replace the current.

[code]
Thanks

[2015-04-27 20:40] CivJ commented on #1036
:+1:

I would love to see this!

[2015-04-27 20:43] ehazlett commented on #496
/cc @ahmetalpbalkan

[2015-04-27 21:07] ahmetalpbalkan commented on #496
@ehazlett duly noted. I was expecting this request to come. Let's keep in the backlog. Thanks for labeling.

[2015-04-27 21:20] ehazlett commented on #1018
@hairyhenderson ok this sounds good.  yeah when leader election comes we will definitely want to be able to detect and update the machine list.  makes sense.

[2015-04-27 21:33] ehazlett commented on #986
@sshaw @DavideDelVecchio can you post the output of both `VBoxManager list hostonlyifs` and `netstat -nr`?

[2015-04-27 21:34] ehazlett commented on #1031
@rossbachp are you using any VPN software?  can you post the output of `VBoxManage list hostonlyifs` and `netstat -nr`?

[2015-04-27 21:54] nerdalert commented on #584
@ehazlett sorted me out. I had a mismatch in the VPC. Ty Evan!
- Pasting in output for future reference:

[code]

[2015-04-27 22:01] ehazlett commented on #584
Thanks for the feedback!  I thought we checked if the specified VPC actually existed in the desired zone.  We should check that.

[2015-04-27 22:05] sundarseswaran commented on #1017
I think this feature is mandatory, just encountered a need for this and found this issue here.

BTW, what happens if the node that acts as the swarm-master goes down? Can any other node in the cluster become a swarm-master instantaneously using the same discovery token?

[2015-04-27 22:26] cboettig opened #1061 "Google auth failures bork docker-machine, and clarify docs?"
Hi Docker-machine devs,

Very much enjoying docker machine; but having a few hiccups on using it with the Google Compute Engine.  Maybe you could clarify the definitions of the a few of the command-line arguments?

- `--google-project` Is this the user-created 'name' of the project, or the (globally unique) `id` of the project?  (Or the OAuth Client ID?)

- `--google-auth-token` Is this the OAuth

[2015-04-27 23:13] nathanleclaire commented on #1057
Nice - I will make a PR to do so

[2015-04-27 23:56] hairyhenderson commented on #1042
So, with a few days of mulling this about in my head, I think I like more and more the idea of changing the way `inspect` is designed to be more consistent with reality (i.e. query the provider for the up-to-date state first, then return it to the user). It's a slower model, but I think that's acceptable.

With that model, we'd preserve the current behaviour with something like `docker-machine ins

[2015-04-27 23:58] dwilson6 commented on #1057
Thanks!

[2015-04-28 00:24] nathanleclaire commented on #1042
Don't you feel that this will be _extremely_ difficult and time-consuming to get correct?  Trying to provide true consistency for every single field you can get back from `inspect` has a lot of surface area to consider.  What happens if the user goes and changes the daemon options that they originally created the instance with?  Do we support tracking that too?  What about re-sizing an existing in

[2015-04-28 00:37] hairyhenderson commented on #1042
@nathanleclaire - ok, you're absolutely right. I hadn't thought about this quite that deeply ;)

So... that brings us back to what to do about having the VM state in the `inspect` output. Should we start caching the VM's state, updating it at opportune times like during `Driver.Start` and `Driver.Stop`? I think this would be reasonably simple and not too misleading...

[2015-04-28 00:41] hamiltont commented on #1042
Isn't one main point of the docker machine project to deal with that wide
surface area?

Re 5-minute cache, I think that would only be useful if a --no-cache flag
was provided to disable it. Otherwise external programs(or impatient users
;-) ) could not poll inspect

[2015-04-28 00:44] hamiltont commented on #1042
To clarify: I definitely don't think you should standardize the entire set
of returned keys, but choosing a small set that is always correct seems
very beneficial

[2015-04-28 00:59] gregaumann commented on #1055
Your instructions above are working for me.

thanks so much you're a legend
Greg

[2015-04-28 00:59] #1055 closed

[2015-04-28 01:39] SvenDowideit opened #1062 "Default to a single CPU core"
reported as https://github.com/boot2docker/boot2docker/issues/769 by @lmakarov

I'm getting considerably better results with a single core on both Mac and Windows.
The application uses two containers: a web (nginx+php-fpm) and a db (mysql).
I'm seeing a 40% (!!!) performance gain from switching from 8 cores (default and recommended max by VirtualBox) to a single core.

Apparently virtualizing mult

[2015-04-28 01:42] znmeb commented on #1062
+1 ... in fact, on my hyperthreaded Core i5 Windows 8.1 machine, it defaults to four "CPUs" and VirtualBox flags that as non-optimal - recommends dropping it to the two physical cores.

[2015-04-28 01:58] ehazlett commented on #496
@ahmetalpbalkan thanks!

[2015-04-28 01:58] lesaux commented on #1060
thanks for this! helps me until next release

[2015-04-28 02:05] ehazlett commented on #1042
I think perhaps doing it on start/stop as @hairyhenderson is a good compromise.  I agree with @nathanleclaire that it would be very time consuming and a great potential for failure if we tried every field.  However, I think updating common fields that we perhaps get each start/stop would be better than what we have.

[2015-04-28 02:54] ehazlett commented on #1062
@SvenDowideit wow -- nice.  we'll get this in to see.  thanks!

[2015-04-28 03:05] hamiltont commented on #1042
Works for me! You guys know way more about how in/feasible it is to
implement any of this, my main concern as a user is to get an interface
that's consistent enough for an external program to rely on :-)​

[2015-04-28 04:23] sshaw commented on #986
[code]
[code]

Note that deleting the route and replacing it with:

[code]

still results in a route to the interface `vboxnet`.

Maybe this is the problem?

[2015-04-28 05:41] rossbachp commented on #1031
No VPN Software installed...

[code]

[code]

[2015-04-28 05:49] znmeb commented on #1062
Incidentally, I haven't run any tests recently but a year or so ago on Windows 8 I ran a Linux VM with the Redis built-in benchmark with Client Hyper-V, VMware Workstation and VirtualBox and VirtualBox was just horrible - IIRC half the throughput of Client Hyper-V. VMware Workstation was close to what Client Hyper-V got (but it costs money).

Oracle is claiming they've made some performance improv

[2015-04-28 08:51] pugnascotia commented on #986
I saw the same behaviour last night - I installed the latest VirtualBox from the official website, installed docker and docker-machine via brew, and it hung on "Waiting for VM to start". I didn't get a chance to try rebooting the machine.

[2015-04-28 09:03] #1060 closed

[2015-04-28 09:39] DavideDelVecchio commented on #986
I finally got it work this way
I have previously installed Kitematic that hanged upon startup
installed then docker-machine via brew and had "Waiting for VM to start"
then removed all the VMs and installed docker-machine this way
curl -L https://github.com/docker/machine/releases/download/v0.2.0/docker-machine_darwin-amd64  > /usr/local/bin/docker-machine
chmod +x  /usr/local/bin/docker-machine
do

[2015-04-28 10:27] UserTaken commented on #1062
With my desktop i3 running Siege against the default Nginx container in Boot2Docker build a66bce5 in Virtualbox 4.3.26-3 under Arch Linux, I get

[code]

I wonder if this also the case with AMD CPUs.

[2015-04-28 11:10] SvenDowideit commented on #641
I've rebased the 64 bit boot2docker in #854 - lets see if we can get this merged for testing soon :)

[2015-04-28 13:22] koalalorenzo commented on #479
I have the same problem with Virtualbox on my Mac.

[2015-04-28 16:24] ljrittle commented on #1031
I too am seeing this on one OS X 10.10.3 machine with docker-machine-0.2.0
(never had boot2docker installed thereupon; VirtualBox is the recommended
4.3.26).  docker-machine works fine on another OS X 10.10.3 machine with
both different network interfaces and network connectivity (and which also
has the boot2docker CLI installed).  If it helps, here is the output of the
failing system:

$ docker-m

[2015-04-28 16:28] sthulb commented on #1036
@CivJ / @andrea-spoldi: I've added this in #1063, mind testing to see if it's what you guys wanted?

[2015-04-28 17:00] errordeveloper commented on #773
:+1:

[2015-04-28 17:26] jfieber commented on #1031
For those with a hang-on-create, do the last few lines of output from this show?

[code]

The routing tables look fine.  A quick way to verify the routing without relying on eyeball scanning of the table is:

[code]

How about firewall rules?  I found them a bit tricky to inspect because there are two firewalls in Yosemite, pf and ipfw.  The latter is deprecated and in Yosemite they actually took

[2015-04-28 20:04] nathanleclaire commented on #1055
Ha!  Thanks!  Glad it's working for you!

[2015-04-28 20:20] zchee opened #1066 "[GCE] Happened to panic runtime error, Therefore not added user, pem file is not copied to the local"
Happened to panic runtime error when launch google compute engine instance.

This problem happen in the HEAD build.
Doesn't seem occurred in the pre-release 0.2.0 version.

It seems instance is created successfully.
but, **`.pem` is not copied to the local.**
Therefore, docker-machine {ssh, env} commands are not available.

Duplicate https://github.com/docker/machine/issues/771 ?

See result.
[cod

[2015-04-28 21:26] zchee commented on #1066
Where I was confirmed now, user also does not appear to have been added, I could not be a login docker-user even normal ssh command.
If this is my of environmental problems, forgive me please.

[2015-04-28 21:27] nathanleclaire opened #1068 "Panic on machine create"
(digitalocean, but I don't think it's unique that driver)

What seems to be the relevant bit:

[code]

The offending code seems to be the `buf.ReadFrom` line:

[code]

It seems not to like to try and read from `Stderr` when something has gone wrong.  I'm not sure that trying to read from `STDERR` on the command if the right thing to do, really - we might want to just return the error.  If you look

[2015-04-28 21:36] ljrittle commented on #1031
(Thanks for the hint about checking firewall rules; I didn't think I had
any enabled on this machine.  However, this machine has been incrementally
upgraded since ~Leopard ...; pf appears to be the default/off with status:
Disabled; "ipfw list" reports "65535 allow ip from any to any")

The last few lines don't reveal anything extra:

[...]
GuestMemoryBalloon=0

DEBU[0025] STDERR:
DEBU[0025] execu

[2015-04-28 22:17] nathanleclaire commented on #1068
I'm not sure if it's related, but I'm getting some (not infrequent) SSH timeouts on create as well:

[code]

[2015-04-28 22:28] jeffmendoza commented on #1066
See my last comment here: #995

[2015-04-28 22:33] nathanleclaire commented on #1062
Sounds good to me.

[2015-04-28 23:53] zchee commented on #1066
@jeffmendoza
Thanks refer.
I understand the reason for the panic error.

but, Although returns a code that has been deleted, it's state of the processing of docker-machine does not end :(

stopped console result when enable --debug flag
[code]

[2015-04-29 00:27] CivJ commented on #1036
I was about to test this when I noticed the [build failure] (https://travis-ci.org/docker/machine/builds/60405134). I'll hold off until that's resolved. @sthulb thanks for getting this in so quickly, I'm pretty excited to see it in action.

[2015-04-29 00:42] ahmetalpbalkan commented on #733
@ehazlett just remembered you were asking me about this on IRC. did you write code for it or should I submit a PR?

[2015-04-29 01:44] adamjgray commented on #1031
### Description
I'm seeing this consistently on any vm creation in virtualbox past the first (or if there are pre-existing `hostonlyifs`).

Starting with no running vms and an empty list of `hostonlyifs`, the first vm will create correctly and work as expected.  The next create for any other vm hangs at `Waiting for VM to start...`.

I've been able to reproduce this every time I've tried so far (a

[2015-04-29 06:03] yograterol opened #1070 "eval "$(docker-machine env xxx)" does not work in ZSH"
Hi, today I'm trying Docker Machine and I saw that does not work in ZSH, in BASH work without problem but in ZSH when I run `eval "$(docker-machine env xxx)"` (xxx is the my machine name) not set the settings for Docker.

[2015-04-29 07:53] leyyinad commented on #1070
Same here, running `$(docker-machine env)` gives `export: not valid in this context: shell:`.

[2015-04-29 07:56] UserTaken commented on #1070
`eval "$(docker-machine env xxx)" ` with ZSH works for me.

[![Alt Text](http://chunk.io/f/1699da4d8a1f4c21be2f70e18cd77098)](http://chunk.io/f/678a3f9c840d4729a76e69512663839a)

[2015-04-29 08:39] sthulb commented on #1036
Fixed locally.

[2015-04-29 10:26] zchee commented on #1070
I'm works too.

- OSX darwin
- `docker-machine` HEAD version (self build after git clone)
- `zsh 5.0.7 (x86_64-apple-darwin14.0.0)`

I think the cause of the your zsh config or zsh version.

If there is influence, it might `typeset -gU cdpath fpath mailpath path PATH` ?
This config is [Ensure path arrays do not contain duplicates](https://github.com/sorin-ionescu/prezto/blob/master/runcoms/zprofil

[2015-04-29 10:30] leyyinad commented on #1070
It used to work this way some time ago. But prepending `eval` did it for me.

[2015-04-29 10:59] zchee commented on #1070
@yograterol
@leyyinad
Can you write a configuration file of your zsh the gist in the permissible range?

[2015-04-29 12:32] yograterol commented on #1070
@zchee this is my ZSH config https://gist.github.com/yograterol/0abb556c201525b571e8

My Docker's version
Docker version 1.6.0, build 3eac457/1.6.0

My Docker Machine version:
docker-machine version 0.2.0 (8b9eaf2)

[2015-04-29 12:40] Spirit328 opened #1071 "Docker machine is not working with Swarm"
Hi there,

something with docker-machine resp. docker swarm is not working as described in the documentation.

I am wokring on
`$ uname -a`
`Linux BIGServer 3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

with

`$ docker version`
`Client version: 1.6.0`
`Client API version: 1.18`
`Go version (client): go1.4.2`
`Git commit (client): 4749651`
`OS/Arch (

[2015-04-29 12:53] zchee commented on #1070
@yograterol
I'll try in the your environment.
BTW, What your os distribution?

[2015-04-29 12:57] yograterol commented on #1070
@zchee thank u, my OS distribution is Fedora 21

[2015-04-29 12:58] zchee commented on #1070
Ok, I'm try now....

[2015-04-29 13:16] ehazlett commented on #986
@sshaw thanks for the feedback. if the route (as shown in the table) is using `vboxnet` and not the `vboxnet0` interface, this looks like the issue.  i was able to reproduce this behavior by manually removing my routing entries.  i'm not sure why this would be messed with -- are you using any VPN software by chance?  @pugnascotia are you using vpn?

[2015-04-29 13:18] ehazlett commented on #479
@koalalorenzo thanks for the feedback.  would you mind pasting `VBoxManage list hostonlyifs` and `netstat -nr` while connected to the VPN?  My guess is it's messing with the routing table causing machine to hang while trying to connect.

[2015-04-29 13:21] #1053 closed

[2015-04-29 13:23] pugnascotia commented on #986
Nope, no VPN for me. I'll try to dig into this more.

[2015-04-29 13:23] ehazlett commented on #1068
@nathanleclaire the problem with just returning from an error is that the install script outputs stuff to stderr which appears to be not err.  I believe this is still the case -- I will do a quick test with `curl` to check.

[2015-04-29 13:25] ehazlett commented on #1062
@frapposelli should we do this for fusion as well?

[2015-04-29 13:26] #1026 closed

[2015-04-29 13:26] frapposelli commented on #1062
Yes we should, It was actually the default on fusion a while back, then changed it to align with virtualbox.

[2015-04-29 13:27] ehazlett commented on #733
@ahmetalpbalkan PR - https://github.com/docker/machine/pull/1033 -- would love your feedback :)

[2015-04-29 13:29] frapposelli commented on #1062
Honestly, Fusion should scale decently, I think we should do something like `totalcores/2` by default

[2015-04-29 13:42] sshaw commented on #986
@ehazlett yes, seems so but when I delete the route do:

[code]

The route gets added as `vboxnet`. Does this happen for you?

[2015-04-29 13:44] ehazlett commented on #1062
@frapposelli yes i remember asking you to switch to match :)  I want to do what works best for each hypervisor.  If fusion works well with multiple then lets do that.  sorry for the motion around it :)

I'll do a PR for this.  @frapposelli i will leave fusion as is since it should scale fine -- feel free to switch to `total/2` if you want.  Thanks!

[2015-04-29 13:47] zchee commented on #1070
@yograterol
I create fedora container in docker.
https://registry.hub.docker.com/_/fedora/

In root user,

[code]

I works now. Why? :(
Do you are not set environment in this state?

[2015-04-29 14:07] ehazlett commented on #1066
All is working for me with both oauth flow and specifying a token.  could you check to make sure the old directory is removed?

[2015-04-29 14:12] perj opened #1074 "Proposal: Add `docker-machine exec`"
These would set the environment variables and then execute the command. E.g.

    docker-machine exec mymachine docker images
    docker-machine exec mymachine ./my-docker-wrapper.sh

[2015-04-29 14:30] yograterol commented on #1070
hmmm, I will try again with a clean ZSH.

[2015-04-29 14:31] aanm commented on #1071
@Spirit328
Like I told you before:
First you wrote

then you did

and you should have done

they are different things (see the `--swarm` option ;-) )
You need to use the `--swarm` option`if you want use docker info and see swarm nodes

[2015-04-29 14:53] ehazlett commented on #1066
I just checked on Darwin too (I run Linux mostly) and it's working fine there as well with this branch.

[2015-04-29 14:56] zchee commented on #1066
@ehazlett
I'm works too.
close.

[2015-04-29 14:56] #1066 closed

[2015-04-29 15:01] ehazlett commented on #986
@sshaw the way i was to fix was to delete the route and then `ifconfig vboxnet0 down` and `ifconfig vboxnet0 up`.  the route was back up and i was able to connect.

[2015-04-29 15:18] UserTaken commented on #1074
Sounds like this is already what `ssh` does?

[code]

Can you elaborate on how that would be different?

[2015-04-29 16:06] ehazlett commented on #986
@sshaw ok this is a difference between OS X and Linux -- on Linux it shows as the exact name but on OS X i see it as `vboxnet`.

[2015-04-29 16:22] sshaw commented on #986
Ah yes, I thought you were testing on OS X too...

[2015-04-29 16:25] CivJ commented on #1036
Creation and SSH are working for me:
[code]
However, I may have encountered a bug (possibly in the docker client):
[code]
I cannot list my machines, and we hang here for at least 10 minutes. I suspect we're hanging on the API call to AWS that fetches the status. As you can see, I'm running the OXS docker-machine build.

[2015-04-29 16:59] ehazlett commented on #1070
@tianon this should work for zsh right?

[2015-04-29 17:05] ehazlett commented on #1071
as @aanm said you need to use `--swarm`.  We use the bash hint to connect to the engine. We could open a discussion on whether to default swarm nodes to use swarm.

In the docs it looks correct when interacting with swarm (http://docs.docker.com/machine/#swarm-nodes).  We leave both ways in case you need to interact with the engine direct.

[2015-04-29 17:06] ehazlett commented on #1071
Closing.  Feel free to open a separate issue if you would like to discuss defaulting to swarm for swarm nodes.  Thanks!

[2015-04-29 17:06] #1071 closed

[2015-04-29 17:36] koalalorenzo commented on #479
@ehazlett I fixed the problem by deleting ~/.docker/ directory and running everything with kitematic. It is setting everything up correctly. After that docker-machine (v0.2.0) and all the other software are working properly.

VBoxManage returned: http://pastebin.com/32m4NajN
netstat instead returned: http://pastebin.com/pwp9TzTq

[2015-04-29 17:41] tianon commented on #1070
Hmm, good question.  I'm not actually sure on the semantics of ZSH specifically, but it _should_ work given that it's standard POSIX shell.

[2015-04-29 17:45] perj commented on #1074
I don't want it to run on the docker host, I want it to run locally, but with docker setup to talk to the remote one. Basically a simpler version of

    bash -c "eval $(docker-machine env mymachine);
    docker images
    "

I'm not so fond of changing my environment in my outermost shell, I keep forgetting I've done it, and then suddenly docker behaves differently and I'm confused.

[2015-04-29 18:07] #1062 closed

[2015-04-29 18:27] ahmetalpbalkan commented on #906
:+1: following this

[2015-04-29 18:27] nathanleclaire commented on #1053
Just to riff on this a bit- I think I would actually prefer to implement filters for `ls` so that instead user could do:

[code]

It would be simpler.  And we could definitely use filters for other things too, like getting back just a subset of machines if some are hanging on returning their state.

[2015-04-29 18:30] znmeb commented on #906
A point and click interface for Client Hyper-V is pretty high on my wishlist for Windows. Maybe that belongs under Boot2Docker?

[2015-04-29 18:36] nathanleclaire commented on #1074
It's a little verbose, but if I want to run one-off docker commands on machines I usually use `docker-machine config`, which will spit out the correct `docker` flags for connection to a given machine:

[code]

You could also write a little shell alias like so if it's too much to type:

[code]

It will point the Docker client at the machine specified by first argument, and pass through the rest to

[2015-04-29 18:41] hairyhenderson commented on #1053
@nathanleclaire - +1

If you open an issue for filters on `ls`, I can hack at a PR :)

[2015-04-29 18:42] CivJ commented on #1036
This is working for me now! Maybe it was a problem on Amazon's side?

[code]

I think we're good to go here.

[2015-04-29 18:52] nathanleclaire opened #1076 "Proposal: Filters for "docker-machine ls""
## Abstract

Right now it is not possible to query only a subset of machines for their state using `docker-machine ls`.  For a variety of reasons, including the ability to integrate nicely with other commands such as `rm` that accept multiple machine names as arguments, I propose that we support a `docker-machine ls --filter` flag which will only query a subset of those machines.  It is similar to

[2015-04-29 19:24] ahmetalpbalkan commented on #906
@znmeb care to explain more? What is that?

[2015-04-29 20:04] nathanleclaire commented on #1061
cc @jeffmendoza

[2015-04-29 20:07] hairyhenderson commented on #1076
:+1:

#dibs if nobody else wants this ;)

[2015-04-29 20:08] nathanleclaire commented on #1070
I am a daily `zsh` user and it works for me.  There may be something in your shell configuration which is interfering with it.  Could you please post the output of running just `docker-machine env name`?  Thanks.

[2015-04-29 20:12] cboettig commented on #1061
- It appears that `--google-project` is the (globally unique) project id, not the project name (At least using these terms as they appear on the google web interface; it does seem that the gcloud SDK tool also has the habit of referring to this unique id as a 'project name' instead of the 'project id', so perhaps the confusion is not on docker-machine's side ;-))

- It also appears that `auth-toke

[2015-04-29 20:18] zchee commented on #1070
@yograterol FYI, I pushed docker image.
Try it.
`docker run -it --rm zchee/yograterol`
INFO https://registry.hub.docker.com/u/zchee/yograterol/

[2015-04-29 20:50] perj commented on #1074
I wasn't aware of that command, so thanks for that. It does help, but it's not as transparent as an exec command. E.g. difficult to use with docker-compose, fig, or any kind of wrapper script. I have one that builds the Dockerfile out of several files in the current dir and feeds it via `docker build -`.

I could do something like `DOCKER="docker $(docker-machine config mymachine)" ./build.sh` and

[2015-04-29 22:34] nathanleclaire commented on #1074
Heh, yeah, if you want to use `docker-compose` you're best off setting the proper environment variables.

[2015-04-30 07:33] znmeb commented on #906
@ahmetalpbalkan Boot2Docker is a one-click installer. It installs Git for Windows and VirtualBox, then creates a virtual machine running the Boot2Docker ISO. What I'm looking for is something that does the same thing but creates the virtual machine in Windows 8.1 Professional's Client Hyper-V native virtualizer.

The pieces are there - Docker Machine can create Hyper-V machines running Boot2Docker

[2015-04-30 08:09] ahmetalpbalkan opened #1077 "Handling of tilda in path as cli argument"
I realized

    $ machine create --azure-subscription-cert=~/junk/mycert.pem [...]

fails with error saying

    stat: ~/junk/mycert.pem no such file or directory

apparently ~ is not getting expanded. We should probably support that somehow. I don't know why the shell doesn't expand that already before passing to `machine`. (I'm using zsh on osx.)

[2015-04-30 08:15] ahmetalpbalkan opened #1078 "Better message for shellinit after create"
Whenever I watch people using docker-machine to create a VM

![image](https://cloud.githubusercontent.com/assets/159209/7408835/f49dc2fa-eed5-11e4-9ecb-9ca94825747d.png)

they just copy/paste the part **inside quotes** and forgot the `eval` all time.

I think we can do something like `.... shell:\n\t\teval $(...` for better readability.

[2015-04-30 10:14] UserTaken commented on #1078
What about highlighting the eval part?

![Image](http://oi58.tinypic.com/5vdc3t.jpg)

[2015-04-30 12:38] sthulb commented on #1076
Perhaps counter to this, I'd like to see us filter from things in inspect with go templates.

[2015-04-30 12:46] bhagyas commented on #1050
+1

[2015-04-30 13:13] 7diracseas commented on #479
I'm having this issue too. I havent' tried it very rigorously (since it takes too long) but I *think* downgrading to boot2docker v1.5.0 fixes the issue.

[2015-04-30 13:17] nwknu commented on #673
It did not worked for me:

	adrien@nknu [15:08:29]
	~ $ rm -fr ~/.docker/machine/certs

	adrien@nknu [15:08:44]
	~ $ machine create -d virtualbox dev
	INFO[0000] Creating CA: /home/adrien/.docker/machine/certs/ca.pem
	INFO[0000] Creating client certificate: /home/adrien/.docker/machine/certs/cert.pem
	INFO[0001] Creating SSH key...
	INFO[0001] Creating VirtualBox VM...
	INFO[0010] Starting Virtual

[2015-04-30 13:27] victorock opened #1079 "Fusion Driver: ssh keys not being copied"
When i try to use docker-machine with VMware Fusion driver with the latest boot2docker:

victor$ docker-machine rm local-fusion #create -d vmwarefusion local-fusion
INFO[0000] Forcibly halting local-fusion...
INFO[0002] Deleting local-fusion...
INFO[0002] The machine was successfully removed.
vicdacosta:dacosta victor$ docker-machine -D create -d vmwarefusion --vmwarefusion-boot2docker-url https:/

[2015-04-30 15:02] ehazlett commented on #1053
+1 for filters too

[2015-04-30 15:40] hairyhenderson commented on #1014
@UserTaken - I think I've almost addressed all of this issue ;)

I think this issue is about 3 different things:
1. the general format of the usage message (capitalization, order, names)
2. sorting of commands
3. removing the `help` command from the listing, and leaving `--help`.

I've accomplished 1 and 2 in #1059 and #1065, which leaves 3. I looked into it and it's going to be difficult without

[2015-04-30 15:58] UserTaken commented on #1014
@hairyhenderson
I just compiled Machine with #1065 and noticed that the spacing off. Beyond that, some things things that can be adjusted include matching the explanation of an option with Docker, and listing the option the short syntax first.

 `--version, -v                     print the version`
vs
`-v, --version=false          Print version information and quit`