[2015-06-08 20:42] jeffmendoza commented on #1243
Would machine work with CentOS? I thought it assumes Ubuntu and does apt-get, etc.

[2015-06-08 20:43] nathanleclaire commented on #1335
See also https://github.com/docker/compose/issues/1484 @shin-

[2015-06-08 20:50] nathanleclaire commented on #1243
@jeffmendoza Yep, support for CentOS, though experimental, was recently added: https://github.com/docker/machine/blob/master/libmachine/provision/centos.go

[2015-06-08 21:02] kacole2 opened #1337 "Cannot use any other AWS AMI"
I am trying to create a CentOS based image and have used a multitude of AMIs, including the AWS AMI and they all fail during `Waiting for SSH`. However, the instance IS created and IS running in EC2. for some unknown reason, docker-machine cannot SSH to finish up its process. If i don't specify an AMI and I use the default Ubuntu build, then the process works without fail.

here is my command `doc

[2015-06-08 21:05] kacole2 commented on #1337
oh.... well this is probably why `ubuntu@52.5.197.5`

hah.. how can we change the user?

[2015-06-08 21:06] justinclayton commented on #24
+1. same issue as @cwilkes with Cisco AnyConnect VPN. Can't use docker-machine with the certs if I'm to use the workaround listed here: https://github.com/boot2docker/boot2docker/issues/628

[2015-06-08 21:08] jeffmendoza commented on #1243
Ah cool.

[2015-06-08 21:13] aanand commented on #1335
I don't think this is the same as docker/compose#890, but I did get this error ("no appropriate commonName or subjectAltName fields") when debugging that one with docker-py. It doesn't seem to happen with a VM provisioned with boot2docker-cli.

In my experience, setting `kwargs['tls'].assert_hostname = False` (and leaving `verify` set to `True`) fixed it, so the certificate isn't invalid, but it's

[2015-06-08 21:17] aperepel commented on #1243
So far had no issues with CentOS, as long as you go with CentOS 7.x (6.x has an older kernel and isn't very stable for Docker needs)

[2015-06-08 21:38] nathanleclaire commented on #1337
@kacole2 `--amazonec2-ssh-user` will solve your issue!

[2015-06-08 21:38] #1337 closed

[2015-06-09 01:18] kacole2 commented on #1337
@nathanleclaire is this a part of v0.3.0? not seeing it in v0.2.0

[2015-06-09 01:24] kacole2 commented on #1337
i should really read more before posting :)

found it. https://github.com/docker/machine/releases

[2015-06-09 11:41] myfear opened #1340 "Creating Machine in Cygwin (Babun) fails with No IP Address Found.."
{ ~ }  » docker-machine create --driver=virtualbox --virtualbox-memory=4096 mymachine
Creating VirtualBox VM...
Creating SSH key...
Starting VirtualBox VM...
Starting VM...
Error creating machine: No IP address found 4: eth1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP qlen 1000
    link/ether 08:00:27:61:8e:3d brd ff:ff:ff:ff:ff:ff
    inet6 fe80::a00:27ff:fe61:8e3d/64 sc

[2015-06-09 16:06] nathanleclaire commented on #1337
:) Yes, sorry, I could have been a little more clear.

[2015-06-09 16:21] moxiegirl commented on #1329
@nathanleclaire @ehazlett My understanding from yesterday's meeting was that for 0.3.0 we **might** include a note that Boot2Docker is going to be deprecated. I think the migration documentation is premature. For 0.4.0 if we plan on asking people to migrate, there many more points in the documentation that need to be addressed.  I have a task for myself to scope the actual hits.

@samalba was taki

[2015-06-09 16:33] nathanleclaire commented on #1340
Hi @myfear.  Thanks for the report.

Using Windows 7 or Windows 8?

[2015-06-09 16:35] #24 closed

[2015-06-09 16:35] #1290 closed

[2015-06-09 16:49] moxiegirl commented on #1329
@ehazlett @nathanleclaire @samalba I've talked to Sam about this.  Since machine is still in BETA for 1.7 and we don't want this to be an official migration until 1.8.0, I would recommend that we handle this like an experimental feature.   Those features  we don't document in the official documentation and risk confusing users.  Instead, the tack is this:

- create an experimental directory at the

[2015-06-09 16:49] myfear commented on #1340
It's windows 7! Forgot to mention. Sorry.
On Jun 9, 2015 6:33 PM, "Nathan LeClaire" <notifications@github.com> wrote:

[2015-06-09 16:55] ehazlett commented on #1329
SGTM

[2015-06-09 17:06] moxiegirl commented on #1329
cool. Thanks Evan. ping @nathanleclaire

[2015-06-09 17:24] ehazlett commented on #685
@frapposelli perhaps we could use `os.LookPath` for `vmrun`?

[2015-06-09 17:26] ehazlett commented on #1306
@aperepel interesting -- thanks for the feedback -- i will take a look.

[2015-06-09 17:28] ehazlett commented on #948
@aperepel yw -- i agree it widens the attack surface, however, with changing IPs (office vs. home, etc) I think we would run into connection issues often.  Thus, we choose to use all access (with TLS) by default and allow the user to change if desired.  Thanks for the feedback!

[2015-06-09 17:30] ehazlett commented on #1301
@paul-bell I would try running something like `ntpdate time.nist.gov` and re-running docker-machine.  Just to make sure both are in sync.

[2015-06-09 17:32] kacole2 opened #1342 "FR: Get internal IP of cloud hosted machine"
It would be great if I could get the internal/private IP address of my machine for doing some cluster management work. currently `docker-machine ip mymachine` will give me the external IP address.

it would be awesome if it were possible to have something like `docker-machine private-ip mymachine`. This way I can build configurations using the docker-machine CLI.

i noticed in the diagnostics it's

[2015-06-09 17:38] ehazlett commented on #1340
@myfear just to test, would you mind trying msysgit?  I'm curious if it's something in cygwin.

[2015-06-09 17:46] myfear commented on #1340
Actually,  I can't run compose without babun on Windows.
But I use mysysgit in my windows cmd. So,  yes,  it has to be something in either babun or cygwin.

[2015-06-09 18:17] nathanleclaire commented on #1329
That sounds good to me.  If we are not going to include a comprehensive migration document, though, I want to at least include a section detailing the use of the `--virtualbox-import-boot2docker-vm` in `docs/index.md`.

[2015-06-09 18:29] moxiegirl commented on #1329
@nathanleclaire OK.  My scope is kind of limited tho. Were you thinking of this level of detail?

http://docs.docker.com/machine/#using-docker-machine-with-a-cloud-provider

Or something else? If you can rough out the command sequence, I can beef them up.  Normally, I'd just take time to do it all myself but I have too many critical path projects in the air at the moment.

[2015-06-09 18:30] paul-bell commented on #1301
Ok, will do; thanks.

[2015-06-09 18:35] nathanleclaire commented on #1329
@moxiegirl Yes, I hadn't envisioned anything fancy, just a subsection in the VirtualBox section labeled "Importing an existing boot2docker VM', with a sentence or two and a sample command like:

[code]

[2015-06-09 18:38] nathanleclaire commented on #1340
@myfear Just out of curiosity, have you duplicated this multiple times or is it an ephemeral issue?  Can you please paste the output of the commands (in Cygwin):

[code]

[2015-06-09 18:57] moxiegirl commented on #1329
@nathanleclaire  Np. I can do that. I'll create a PR by EOD for the whole thing soup-to-nuts as we all discussed here.

[2015-06-09 19:00] UserTaken commented on #1342
I have heard that `Machine` will eventually support cloud-init which will include `$public_ipv4` and `$private_ipv4` variables.

[2015-06-09 19:49] myfear commented on #1340
It actually happens every time. I can't execute this command at all.

{ ~ }  » which ssh
/usr/bin/ssh
{ ~ }  » env
HOMEPATH=\Users\myfear
DISABLE_CHECK_ON_STARTUP=false
APPDATA=C:\Users\myfear\AppData\Roaming
ProgramW6432=C:\Program Files
HOSTNAME=myfears
SHELL=/bin/bash
TERM=xterm-256color
PROCESSOR_IDENTIFIER=Intel64 Family 6 Model 42 Stepping 7, GenuineIntel
PROFILEREAD=true
WINDIR=C:\Windows
P

[2015-06-10 07:35] sthulb commented on #685
(Copy from another #1322) This has some merit. Not everyone puts VMware fusion in the default place or uses home brew to install. Although, for the users that don't install it in either place, I'm unsure if we should bother, instead we should advise them to add it to their path manually.

[2015-06-10 07:37] sthulb commented on #1342
It will. For a command though, perhaps machine ip <name> --internal would be cool.

[2015-06-10 07:40] sthulb commented on #1319
If we could, we should detect the proxy and then pass it through, if it's a local machine.

[2015-06-10 11:34] hairyhenderson commented on #1319
@sthulb +1, though that's definitely only relevant for the local drivers

[2015-06-10 16:01] paul-bell commented on #1301
Hmm....output from "ntpdate time.nist.gov" is "no server suitable for synchronization found". Am I doing something wrong?

FWIW: "timedatectl status" issued at 11:57AM (as reported by the PC) gives

   Local time: Wed 2015-06-10 11:48:54 EDT
  Universal time: Wed 2015-06-10 15:48:54 UTC
        RTC time: Wed 2015-06-10 15:48:54
        Timezone: America/New_York (EDT, -0400)
     NTP enabled: no
N

[2015-06-10 17:16] ehazlett commented on #1319
@hairyhenderson good point re: cloudinit.  I think we could add a `--proxy` option.  I'll look into this.

[2015-06-10 18:50] nathanleclaire commented on #1319
I'm in favor of the general idea (we've had enough requests for setting the proxy for daemon in particular that I think we should support it), I am not sure if we should conflate provisioning-time proxy with daemon run-time proxy or not though.  Having a proxy for the daemon would imply `--engine-proxy` or similar.

Hm, maybe an option/flag to do so, but I'm hesitant on automatic behaviors such as

[2015-06-10 19:48] chouclee opened #1344 "[v0.3.0-rc2] VMware Fusion shared folders do not work"
I created the machine with standard iso.
i.e. $ docker-machine create --driver vmwarefusion dev

Inside boot2docker, I could see the shared directories. But all contents inside the directories are empty.

I'm using VMware Fusion Pro v7.1.1

BTW, is it normal that I could't see my machine in Virtual Machine Library?

Edit: I re-created the machine, now the shared folders are gone. If I run a new co

[2015-06-10 20:01] nathanleclaire commented on #1344
@chouclee Are you using the most recent release candidate?

[2015-06-10 20:10] chouclee commented on #1344
@nathanleclaire  I built the v0.3.0-rc source code my self. Probably I should use the binary package directly?

[2015-06-10 20:49] #1327 closed

[2015-06-10 20:51] nathanleclaire commented on #1342
`docker-machine ip --private` seems reasonable, although it should come with a caveat that it's only available where such a private IP is supported.

[2015-06-10 20:53] nathanleclaire commented on #1275
@frapposelli Any update on this?  It's getting pretty urgent for the release.

[2015-06-10 20:53] nathanleclaire commented on #1344
Are you seeing issues like : https://github.com/docker/machine/issues/1275 ?

[2015-06-10 21:15] frapposelli commented on #1275
Right now I don't have an ETA on the fix, unfortunately it's out of my control, the only way to make this work right now is to go back to a pre-4.0 kernel.

[2015-06-10 21:18] frapposelli commented on #1275
I'm going to find a way to make it work, I'll circle back asap.

[2015-06-10 21:24] adambiggs commented on #1275
Thanks @frapposelli, this is the only thing holding us back from switching to Docker Machine.

[2015-06-10 21:40] clnperez commented on #1328
How about adding it to the 2nd system using the 'generic' driver, and then use the same eval command there?

[2015-06-10 21:42] Oliboy50 commented on #1328
@clnperez is this a proposal or something you're confident that it work?

[2015-06-10 22:04] frapposelli commented on #1275
That was easier than anticipated... see boot2docker/boot2docker#925

[code]

Ping @nathanleclaire @ehazlett @tianon @SvenDowideit

[2015-06-10 22:12] clnperez commented on #1328
Well, in hindsight, I don't think you can do this b/c you'd have to set up the ssh keys again, or import them from your other system.

[2015-06-10 23:50] chouclee commented on #1344
@nathanleclaire  Mine is more weird. I couldn't see any content even for read only. And I tested the issue #1275, I have the same result.

[2015-06-10 23:52] nathanleclaire commented on #1344
cc @frapposelli for input.  @chouclee, please stay tuned and I will hopefully be able to provide you with a command with a new ISO to try.

[2015-06-10 23:56] ljrittle commented on #1328
I see your case.  One can't add a docker-machine entry on the second system using the generic driver unless you want to invalidate the original docker-machine setup (since e.g. new creds are generated).  One may run `docker-machine create -d none --url [...]` on the second system mirroring important options (like the swarm flags) from the original create on the first system and then manually copyi

[2015-06-11 00:02] frapposelli commented on #1344
Here you go: https://github.com/frapposelli/boot2docker/releases/tag/lk4

https://github.com/frapposelli/boot2docker/releases/download/lk4/boot2docker-lk4-vmhgfs-fix.iso

[2015-06-11 00:07] chouclee commented on #1344
@frapposelli @nathanleclaire  I just tried it. The issues are gone. It works perfect!

[2015-06-11 00:09] chouclee commented on #1344
@frapposelli  BTW,  is it normal that I couldn't see this machine in Fusion's Virtual Machine Library?

[2015-06-11 00:14] frapposelli commented on #1344
@chouclee yes, that's the expected behavior.

[2015-06-11 02:17] nathanleclaire commented on #1344
The fix is merged into b2d so I'm closing --- thanks @chouclee for reporting and thanks a _lot_ @frapposelli for the fix!

[2015-06-11 02:17] #1344 closed

[2015-06-11 02:20] nathanleclaire commented on #1275
I've verified this as fixed by https://github.com/boot2docker/boot2docker/pull/925#issuecomment-110959938

If anyone wants to test I've published an unofficial 1.7rc2 / fixed Fusion shared folders ISO:

[code]

[2015-06-11 02:20] #1275 closed

[2015-06-11 02:22] nathanleclaire commented on #1204
This is done now!

[2015-06-11 02:22] #1204 closed

[2015-06-11 02:40] kc8viq commented on #1275
Briefly tested with the URL @nathanleclaire provided. Seems to be working for me. Thanks all!

[2015-06-11 03:13] nathanleclaire opened #1345 "Panics on machine start and stop"
I'm on a master-ish branch and I'm getting panics trying to do `docker-machine start foo`, `docker-machine stop foo`, etc. with `virtualbox` VM.

Can anyone bang on a Virtualbox with master (i.e. run a lot of `start` and `stop` in a shell loop) and see if they can reproduce please?

[code]

cc @sthulb @ehazlett @tianon @SvenDowideit @hairyhenderson

[2015-06-11 03:14] nathanleclaire commented on #1345
It doesn't seem to happen with the most recent release candidate (`fec8b4a`), so I'm wondering if something might have happened along the way.

[2015-06-11 03:19] nathanleclaire opened #1346 "No IP address found on machine start"
When running `docker-machine start`, with a high enough probability to be considered worrisome, I see this:

[code]

Everything seems to work after that, so the error message is slightly misleading (I suspect a race or, surprise, funny business in the network setup) -- BUT, it's still important to fix this, especially as it's affecting downstream -- see https://github.com/kitematic/kitematic/issue

[2015-06-11 03:25] nathanleclaire commented on #1345
`setupHostOnlyNetwork` in `virtualbox.go` seems to presume the existence of an IP, so I suspect this is just an extension of the issue from https://github.com/docker/machine/issues/1346

[2015-06-11 08:54] igoratencompass commented on #796
Same here except I'm running the commands manually:

$ docker-machine create --driver amazonec2 --swarm --swarm-discovery token://$TOKEN --amazonec2-region "eu-west-1" --amazonec2-root-size "8" --amazonec2-vpc-id vpc-xxxxxxxx --amazonec2-zone "b" swarm-node-21
INFO[0002] Launching instance...
INFO[0026] Waiting for SSH on 52.17.161.105:22

which never finishes and just sits there stuck. I can see

[2015-06-11 08:57] nartamonov commented on #742
Same error with docker-machine 0.3.0-rc2:

[code]

Windows 7 SP1
VirtualBox 4.3.28 r100309

[2015-06-11 09:56] childnode commented on #673
1. you might try to check via curl for detailed error message
2. (Windows) perhaps you have set a NO_PROXY env in system that is not inherited by boot2docker but redefined and used as no_proxy (lowercased) by curl. Try export NO_PROXY=$no_proxy
3. you try to use IP wildbards: that's not valid: https://github.com/docker/docker/issues/9145

[2015-06-11 13:58] ehazlett commented on #1275
yay!! :+1:

[2015-06-11 14:03] ehazlett commented on #1346
Perhaps it's a race in bringing up the second interface (hostonly).  We currently only wait for SSH which is on the NAT with a port forward (https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L400).  I wonder if it's attempting to `GetIP` before the hostonly is ready?

[2015-06-11 14:11] ehazlett commented on #1328
Correct.  The only current way would be to take the entire directory but this won't work with some drivers (i.e. VirtualBox because it registers VMs and networks with UUIDs that would not match).  There has been discussion around an import/export feature in the past (https://github.com/docker/machine/issues/23)

[2015-06-11 14:11] ehazlett commented on #1204
:+1:

[2015-06-11 14:14] ehazlett commented on #1345
@nathanleclaire No it does not (or shouldn't).  That is the IP CIDR coming from the flag (https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L99) which has a default.  Unless you specified "" for the flag perhaps.

[2015-06-11 14:19] ehazlett commented on #796
@rossbachp that looks like the AWS api responding with issues.  I wonder if it was trying to throttle the requests or something?  Could you try it without parallel to see if you have the same issues?

@igoratencompass this sounds like perhaps a security group issue.  machine will create the group (with appropriate permissions) if it doesn't exist.  Otherwise, it uses the existing group.

[2015-06-11 14:21] ehazlett commented on #1329
@smashwilson can I ask why you closed this?  This issue is for the migration from b2d to machine (the larger issue not just docs).

[2015-06-11 14:42] paul-bell commented on #1301
Hi Nathan,

In re the IAM question: I see no users, groups, customer managed policies, roles, or identity providers. Zeros across the board.

Could this be problematic?

-Paul

[2015-06-11 17:51] ehazlett commented on #1346
This appears to be from the legacy configs in VirtualBox and doesn't appear to be happening with new machines.  I think we need a config migration.

[2015-06-11 18:02] nathanleclaire commented on #1301
@paul-bell Hm, I'm not really sure how that is possible.  Where is your access key from then?  You should have at least one user.

[2015-06-11 21:02] #1345 closed

[2015-06-12 01:27] nathanleclaire commented on #190
Been thinking about this exact thing lately.  +1 from my end.

[2015-06-12 01:27] nathanleclaire commented on #190
Do you have some more thoughts on this @bfirsh ?

[2015-06-12 02:24] aperepel commented on #1243
Hey guys, I've sent a PR https://github.com/docker/machine/pull/1350 - things work well for me. I've updated the machine docs in this PR as well, take a look.

[2015-06-12 03:29] chouclee opened #1351 "VMware Fusion Port Forwarding"
Anyone knows how to do port forwarding via docker machine?

I need to let other computers access the web services I deployed in containers. So only port forwarding could work.

Virtual Box could do that, but the shared folder performance is just super slow.

[2015-06-12 14:51] aperepel commented on #1342
@nathanleclaire adding private ip command isn't too difficult, but it would require an update to a driver spec, wouldn't it? Wanted to check your stance on this, as it will cut across every driver implementation as a result.

[2015-06-12 15:12] aperepel commented on #1324
I tried it today with the latest build of machine, and looks like things are working again - could be some network fluke in the azure infrastructure.

[2015-06-12 15:12] #1324 closed

[2015-06-12 16:03] ehazlett commented on #1243
@aperepel thanks i'll take a look!

[2015-06-12 16:05] ehazlett commented on #1351
We currently don't have a mechanism in place in machine to do this.  You would have to use the Fusion UI.  We've discussed port forwarding for local and it's getting more and more request.  We should put together a formal proposal to do this for local providers.

[2015-06-12 16:06] ehazlett commented on #1342
@aperepel IMO it probably should.  Something like `GetPrivateIP` that way drivers that don't support it can return an `err`.

[2015-06-12 16:07] ehazlett commented on #1324
@aperepel thanks for the update!

[2015-06-12 16:44] nathanleclaire commented on #1342
Yes, we would have to update the drivers to have such a method.

[2015-06-12 17:27] aperepel commented on #1334
I took a quick look, but want to get clarity on the scope and expectations here:

* Swarm master is picking up the e.g. `--swarm-host tcp://0.0.0.0:3380` property correctly and stands it up at the specified port (latest dev builds), is there a problem with the way it works or am I looking at the wrong port assignment?
* The above command doesn't open up the new firewall rule correctly - I think th

[2015-06-12 17:29] aperepel commented on #1289
I've added some more fixes in https://github.com/docker/machine/pull/1339 to take care of the post-create help message too.

[2015-06-12 17:30] chouclee opened #1353 "VMware Fusion Docker Performance Issue after Modifying Portwarding Config"
See description: https://github.com/boot2docker/boot2docker/pull/925#issuecomment-111320383
boot2docker iso: https://github.com/boot2docker/boot2docker/pull/925
Finally I figured out how to reproduce this problem. @nathanleclaire

1. Run a docker machine first.

2. Change the NAT port forwarding config file nat.conf under /Library/Preferences/VMware\ Fusion/vmnet8
![screen shot 2015-06-12 at 10 18

[2015-06-12 17:37] aperepel commented on #1342
I could take a look, but before I do, any tips on picking up an internal IP? E.g. I had cases when 5 different ones were returned.

[2015-06-12 18:02] nathanleclaire commented on #1353
cc @frapposelli

[2015-06-12 20:28] chouclee opened #1354 "VirtualBox Cannot create machine"
Using cmd: "docker-machine -D create -d virtualbox dev"

error:
...
SSH cmd err, output: exit status 255:
Error getting ssh command 'exit 0' : exit status 255
...
SSH returned: 4: eth1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP qlen 1000
    link/ether 08:00:27:e2:f5:bf brd ff:ff:ff:ff:ff:ff
    inet 192.168.99.103/24 brd 192.168.99.255 scope global eth1
       valid_lft

[2015-06-12 21:04] aperepel commented on #1342
Hey guys, I took the first cut and implemented the GCE driver support (ways to get at private ip will differ greatly for each provider). All other drivers are simply throwing an error for the GetPrivateIP() https://github.com/docker/machine/pull/1355

[2015-06-12 21:08] frapposelli commented on #1353
The shared folder feature does not involve the network at all, it uses a specific host/guest channel to perform file transfers through the hypervisor.

The warnings you see on the console are expected, as boot2docker does not include the `vmstat` command.

The docker-machine driver for Fusion only mount `/Users` on the OSX system as a shared folder under  `/Users` in boot2docker, to test shared fo

[2015-06-12 21:45] aperepel commented on #1342
Figured out the VirtualBox part too, added to the same PR.

[2015-06-12 22:34] nathanleclaire commented on #1354
So what exactly is the issue you are seeing?

[2015-06-12 22:57] chouclee commented on #1354
It never finish creating.

[2015-06-12 22:59] chouclee commented on #1354
My mac is totally a mess now... Too much problems...
I could crete a machine using vmware fusion driver. But I encountered error message like " Failured to generate cert: crypto/tls: private key does not match public key"
So I cannot use private registry anymore.

[2015-06-12 23:10] chouclee commented on #1353
@frapposelli  Yes, you are right. I used the command time cp suggested by you. The net config didn't affect the shared folder performance at all.

I guess the Docker's performance was affected. "docker run" command would take more than 20s to load the private image after modifying the config. Previously it was blazingly fast. You are an expert on VMware, do you have any suggestions on how to find

[2015-06-12 23:17] frapposelli commented on #1353
@chouclee I'm not very well versed on the networking stack of Fusion but there's nothing there that could justify a 20 seconds delay, I suggest you to run some tests to better isolate the root cause, like running an [`iperf`](https://iperf.fr/) test between host and guest and see if it changes when you're using the port forwarding feature.

[2015-06-12 23:20] chouclee commented on #1353
@frapposelli thanks for the suggestion.
issue closed. I do need more tests to find out what's really going on.

[2015-06-12 23:20] #1353 closed

[2015-06-13 00:15] chouclee commented on #1274
Same problem:(

docker-machine --storage-path /tmp/store create -d virtualbox dev
Creating CA: /tmp/store/certs/ca.pem
Creating client certificate: /tmp/store/certs/cert.pem
Image cache does not exist, creating it at /tmp/store/cache...
No default boot2docker iso found locally, downloading the latest release...
Error creating machine: Get https://api.github.com/repos/boot2docker/boot2docker/releas

[2015-06-13 01:32] vovimayhem commented on #1275
+1!

[2015-06-13 01:32] vovimayhem commented on #641
+1!

[2015-06-13 06:39] errordeveloper commented on #1334
The issue with `--swarm-host tcp://0.0.0.0:3380` is that you really should be specifying `--swarm-host tcp://_IP_OF_THIS_MACHINE_I_DONT_KNOW_YET_:3380`, which you cannot and really why should you have to, unless it's gonna be a DNS name, perhaps. So we just need to be able to set the port.

[2015-06-13 08:26] igoratencompass commented on #796
Well the security group docker-machine has been created with tcp ports 22, 2376 and 3376 opened to the world. Anything missing?

[2015-06-13 08:29] igoratencompass commented on #796
AND it has been assigned to the 2 instances that failed too.

[2015-06-13 08:32] djsly opened #1356 "generic driver doesn't work with RHEL based OS with version < 7"
version: Docker Machine 0.3.0rc2

The following command fails
[code]
on my remote node
[code]
[code]

[2015-06-13 08:40] djsly commented on #1356
Oracle 7 /etc/os-release format isn't compatible

[code]

results in

[code]

[2015-06-13 13:55] aperepel commented on #1334
Is it a real issue? It's just that `0.0.0.0` instructs it to bind to all interfaces, external included (which we want, don't we?), and the actual in will be assigned once the vm is up. In that context we don't even need the ip part, as we always know which node is a swarm master. Is my understanding correct or is there anything else I might be missing?

[2015-06-13 14:41] Oliboy50 opened #1357 "More informations about how to use Generic driver"
I'm trying to use `Docker Machine 0.3.0rc2` to create a `generic` remote machine on a Virtual Private Server.

Here is the OS running on this VPS:
`Ubuntu 15.04 (GNU/Linux 2.6.32-042stab106.4 x86_64)`

There, I configured the whole thing to be able to connect through SSH only with a user called `oliboy50`.

Here is what I added to my `visudo` file:
`oliboy50  ALL=(ALL)NOPASSWD: ALL`

Now, back on

[2015-06-14 05:21] imton commented on #1324
Failed the first time. Created successfully the second.

[2015-06-14 08:18] FabienD commented on #1275
It works ! Thx

[2015-06-14 09:51] far-blue commented on #1031
Having had a chance to play with 0.3.0-rc2 I can confirm that I'm no longer experiencing the hanging on create. As a side, note, however, if you have modified your vm with additional network adaptors using virtio then I've found the vm will then not restart correctly. The solution to this is to switch the driver for the additional interfaces to use the PRO 1000 driver to match the normal interface

[2015-06-14 10:53] errordeveloper commented on #1334
Ok, we got confused a little. It's not about `--swarm-host`, but `--swarm-addr`.

[2015-06-14 10:56] errordeveloper commented on #1334
So flag that is needed for my usecase is `--swarm-addr-port`, so that Machine still passes the IP address it knows for the given box, but then I can set it to advertise a different port for our proxy.

[2015-06-14 15:04] idyll commented on #641
If you use the the latest "rc2" of machine and compile your own boot2docker from master this is resolved.

Just waiting for official release.

[2015-06-15 20:13] ehazlett commented on #1346
Closing as #1349 was merged

[2015-06-15 20:13] #1346 closed

[2015-06-15 20:29] djsly opened #1361 "OEL 7 isn't supported for the 'generic' driver"
version: Docker Machine 0.3.0rc2

Oracle 7 /etc/os-release format isn't compatible

[code]
results in
[code]

[2015-06-15 20:33] djsly opened #1362 "'generic' driver should document that it changes the Os name, force yum update, etc"
version: Docker Machine 0.3.0rc2

When trying the 'generic' driver on a machine running centOS 7 with docker already installed using EPEL, and with the configured FS to be BTRFS.

docker-machine, changed my original hostname, forced a yum update (we are controlling the rpm version we wan't to use in production) and tried to installed a version of Docker that doesn't match our need.

I was first lo

[2015-06-16 01:05] Oliboy50 commented on #1357
@nathanleclaire I read your whole [article](http://nathanleclaire.com/blog/2015/06/02/docker-machine-0.3.0-sneak-preview-transmogrify-existing-servers-to-be-docker-ready-and-much-much-more/) about 'generic' driver and swarm, but it didn't help because it doesn't really explain the requirements before how to use it...

[2015-06-16 05:46] nathanleclaire commented on #1362
I agree that the behavior should be described better in the documentation.  I think the `url` driver is more akin to what you have in mind, but it requires you to setup and manage certs for yourself, and is a little hard to use IMO.

[2015-06-16 05:51] nathanleclaire commented on #1361
Yes, if Machine doesn't recognize the underlying OS, it will not be able to import the machine.  I think Oracle is based on RHEL, so maybe writing a provisioner for it would be not too bad (see for instance the CentOS and Fedora provisioners).  Perhaps this behavior could be better documented?

[2015-06-16 08:10] egut commented on #1301
@paul-bell If those where your correct keys you should **immediately delete** those key.

I mean with that information I can create host in your account, and github is continuously scanned for AWS credentials.

/BR Erik

[2015-06-16 08:30] fifiant opened #1365 "Error creating machine: Unable to create docker host dockervm0: Error: no such host"
I a m trying to create a machine with the driver ```vmwarevsphere``` like this:
[code]

[2015-06-16 08:45] egut opened #1366 "Use of ~/.aws/credentials for AWS driver"
Hi

**TL;DR** Add --amazonec2-profile and read ~/.aws/credentials

* To secure command line to not include aws keys and secret key it should be possible not have these keys in commands.

* To enable (git) check in of commands without aws keys and secret key for continues integration/continues deploy.

* To be more user friendly and less error pron by enabling the user to specify a user friendly na

[2015-06-16 09:32] ilkka commented on #1357
This is exactly my experience as well, just tried it by running the clients on OS X and pointing them at an Ubuntu 14.04 box.

[2015-06-16 09:53] ilkka opened #1367 "Setting active machine broken in 0.3.0-rc3"
Docker-machine doesn't accept any arguments for the "active" command:

[code]

[2015-06-16 10:00] djsly commented on #1362
Correct. This is what brought me here. After trying the URL method. 

Sent from Outlook on iPhone

    _____________________________
From: Nathan LeClaire <notifications@github.com>
Sent: Tuesday, June 16, 2015 1:47 AM
Subject: Re: [machine] 'generic' driver should document that it changes the Os name, force yum update, etc (#1362)
To: docker/machine <machine@noreply.github.com>
Cc: Sylvain Boily

[2015-06-16 10:00] ilkka commented on #1367
Oh okay, reading e.g. #616, #443 and #777 it seems like the whole active machine concept might be going away. A further clue is that commands like "ip" no longer seem to use the active machine by default.

The reason this would've been nice for me is that I had a bit of automation that got the IP of the active docker host by just running

[code]

and that would work no matter what the active machi

[2015-06-16 13:09] ehazlett opened #1368 "Azure: update Go lib to current"
The Azure Go lib is quite a bit behind.  When trying to update it appears to have changed drastically.  We should get this up to date.

[2015-06-16 13:09] ehazlett commented on #1368
/cc @ahmetalpbalkan

[2015-06-16 13:11] ehazlett commented on #1368
I started on it and found that things like `CreateAzureVMConfiguration` and `ImportPublishSettingsFile` no longer exist.  Looks like the driver will need significant refactoring.

[2015-06-16 13:17] ehazlett commented on #1274
@chouclee that error is machine not being able to resolve github.com.  Are you behind a firewall or anything?

[2015-06-16 13:17] ehazlett commented on #796
@igoratencompass hmm that looks ok.  could you try another region perhaps?

[2015-06-16 13:18] ehazlett commented on #1356
Machine will currently only provision with 7+.  See https://github.com/docker/machine/blob/master/docs/machine-overview.md#specify-a-base-operating-systems for a complete list.

[2015-06-16 13:18] #1356 closed

[2015-06-16 13:19] ehazlett commented on #1031
@far-blue thanks for the feedback!

[2015-06-16 13:21] ehazlett commented on #641
FYI you can also use the b2d RC candidates here: https://github.com/tianon/boot2docker/releases

[2015-06-16 13:25] ehazlett commented on #1301
@paul-bell as @egut said, if those are valid keys you should re-issue them immediately to prevent unauthorized usage on your account.

Could you perhaps create a new VPC in a separate region to see if you have the same issues?

[2015-06-16 13:26] ehazlett commented on #1365
/cc @frapposelli

[2015-06-16 13:29] ehazlett commented on #1357
Currently if you want to use password protected SSH keys you will have to enter the password each time (perhaps we should look into agent support).  This is why you keep getting prompted (we have several SSH calls to provision).  Actually, now that I think about it, adding that key to your ssh agent might work.  I'm not sure if the `-i` overrides the agent or not.

[2015-06-16 13:54] Oliboy50 commented on #1357
@ehazlett Thanks.

So I followed [the github stuff](https://help.github.com/articles/generating-ssh-keys/#step-3-add-your-key-to-the-ssh-agent) to add my passpharse to my ssh-agent.

And now, `docker-machine create ...` gives me this:
[code]

Thanks for your time! (I think this may also help ppl in the same case than mine)

[2015-06-16 13:59] ehazlett commented on #1367
@ilkka yes this behavior has changed (see https://github.com/docker/machine/blob/master/docs/machine-overview.md#active).  I see your point.  I was wondering if we could add a `active` key to the ls `filter` but I don't think that would get you any better than your last workaround.

[2015-06-16 13:59] clnperez commented on #1357
Hey @Oliboy50, try running the create with a -D to see what's failing (docker-machine -D create -d...).

[2015-06-16 13:59] ehazlett commented on #1357
@clnperez +1 -- I will do some local testing.  I think it would be good to support the SSH agent in any case.

[2015-06-16 14:25] paul-bell commented on #1301
Gents,

Thanks for the concern; I do appreciate it. But they are not live keys (see emphasis below).

I really would like to get to the bottom of this problem and am quite happy to allow that it's something I am doing wrong.

To @nathanleclaire's point: I've never set up an IAM account despite endless prompts from AWS about how awesome it is to do this. I've simply used access & secret keys for bo

[2015-06-16 14:27] Oliboy50 commented on #1357
@clnperez Thanks for the tip ;)

For some reasons now, I can't use the `ssh-agent` correctly again (or `docker-machine` just don't want to talk with it anymore =S)...

Here is my output with `-D` options anyway:
[code]

BTW, it gives me the same output if I type my correct passphrase or if I don't type any passphrase...

Thanks

[2015-06-16 14:55] Oliboy50 commented on #1357
After some tests, here is what work for me to connect to my remote machine:

[code]

Now I'm pretty sure that the problem comes from the SSH program needs my remote user password to establish a connection...

So, what kind of settings on my remote machine should I do to prevent SSH for asking my user password? As I said in my first comment, I already add this to my `visudo` stuff: `oliboy50 ALL=(A

[2015-06-16 16:02] ahmetalpbalkan commented on #1368
Yep it will require a big refactoring, leave this task to me :-) I guess there's no hurry?

[2015-06-16 17:11] djsly commented on #1356
Thanks, I guess I never ended up all the way to the bottom of that page! :)

[2015-06-16 18:02] nathanleclaire commented on #1357
Ah, yes, we turned the `PasswordAuthentication=no` option on to fix some issues with CentOS provisioning, but perhaps we need to revisit that kludgey fix and see if we can come up with something more elegant, as it clearly has side effects like mentioned here.

[2015-06-16 19:06] ehazlett commented on #1368
@ahmetalpbalkan i wasn't meaning to assign you :)  No rush.

[2015-06-16 19:08] ahmetalpbalkan commented on #1368
Yeah the version you got is stable enough, we pretty much rewrote everything in the meanwhile.

I recently re-vendored the SDK into docker/distribution, I will do for machine as well when I can find time. We still have no versioning yet as things are really moving fast, too.

[2015-06-16 19:39] chouclee commented on #1274
@ehazlett  Yes... I think you are right.  Now it's working.

[2015-06-16 21:08] nathanleclaire commented on #1367
Hey @ilkka, sorry to hear that you ran into some trouble around this.  Perhaps we could communicate it better in the release notes.

[2015-06-16 22:01] chouclee opened #1372 "Do we need to support multiple ssh commands within one ssh connection?"
Currently I can execute multiple ssh commands by repeatedly calling `docker-machine ssh name 'command'`.

I think it is very easy to let client support commands like `docker-machine ssh name 'cmd1' 'cmd2'...`
or even `docker-machine ssh name 'script'`

[2015-06-16 22:09] dhawal55 commented on #479
I'm running into the same issue:

DEBU[0036] STDERR:
DEBU[0036] executing: ssh -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectionAttempts=30 -o LogLevel=quiet -p 52920 -i /Users/xacj/.docker/machine/machines/dev/id_rsa docker@localhost ip addr show dev eth1
DEBU[0036] SSH returned: 4: eth1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast sta

[2015-06-17 08:11] Oliboy50 opened #1374 "[Generic driver] working with remote user password and SSH key passphrase"
### Problem

As seen in #1357, the `generic` driver is facing some authentication issues which are:

- If our SSH key has a passphrase, `docker-machine create` asks for the SSH key passphrase for each `ssh` call ([there are several ssh calls to provision a machine](https://github.com/docker/machine/issues/1357#issuecomment-112428741)).

- If our remote user (at least on Ubuntu) has a password, it

[2015-06-17 14:09] pacaletx opened #1375 "Machine should not update/install packages if Docker is already installed"
Hi,

I saw that actually for Ubuntu machines the provisionner does apt-get update, install curl, then after check if docker exists.

According to me, it should check before if docker is already installed, and then if it's the case do not install/update packages (if it's possible, I'm not very familiar with the code).
It would make machine faster and for example if we give a local repo for the swar

[2015-06-17 16:01] jonocodes opened #1376 "VirtualBox VM created on Linux does not mount shared folders"
Steps to reproduce (Ubuntu host):

/testhome:
total 4
drwxr-xr-x    2 root     root            40 Jun 17 15:57 .
drwxr-xr-x   24 root     root          4096 Jun 17 15:57 ..

I would expect it to see a list of the files from my host home directory, but it shows and empty file list instead.

Looking at the code it appears there is support for this in Win and OSX, but not Linux yet.
https://github.co

[2015-06-17 18:45] UserTaken commented on #1376
When using the Docker Remote API, `$HOME` points to your Docker client's `$HOME` which may not exist on the server.

[2015-06-18 10:24] sirlatrom commented on #1319
@nathanleclaire I can imagine multiple scenarios when the proxy used for `docker-machine` would be a different one than that used by the engines it creates and configures

[2015-06-18 17:07] ehazlett commented on #1281
Fixed in #1380

[2015-06-18 17:07] #1281 closed

[2015-06-18 18:09] brownoxford opened #1383 "Machine certs not created with --virtualbox-hostonly-cidr"
I created a docker machine using the following commands:

[code]

At this point the command hangs, but I can docker-machine ssh into the server from another terminal window with no issue, but the cert and key files (ca.pem, cert.pem, key.pem, server-key.pem and server.pem) are missing from the machines folder and any attempt to use docker-machine env, config, etc. produce an error:

[code]

Runnin

[2015-06-18 19:34] ewindisch commented on #733
@ehazlett I see PR #1033 is merged, but it only addresses powershell. I still see the 'bash'-oriented suggestion with standard Windows cmd.exe.

[2015-06-18 20:34] ahmetalpbalkan commented on #733
@ewindisch is SHELL or TERM set in your windows console? If so that's gonna print bash output.

[2015-06-18 22:47] nireak opened #1386 "Different Default SSH Users among providers (VirtualBox and Digital Ocean)"
I have noticed that the default SSH User (and I don't know how to change it) is "docker" at VirtualBox and "root" at Digital Ocean. I think that could be a problem IMHO if your use, for instance, VBOX for developing and DO for staging/production and you want to be sure that both environments and the scripts used to configure them are exactly the same.

Is there an easy way to configure DockerMachi

[2015-06-18 23:27] nathanleclaire commented on #1082
This is pretty well closed for this release

[2015-06-18 23:27] #1082 closed

[2015-06-18 23:27] nathanleclaire commented on #1094
Haven't been able to dupe this again

[2015-06-18 23:27] nathanleclaire commented on #1068
Haven't duped this

[2015-06-18 23:27] #1068 closed

[2015-06-19 10:54] hendrikstier opened #1387 "Virtualbox 5.0.0.RC1 - parameter SynthCPU no longer supported"
Running

leads to failure in VM creation/modification using VBoxManage:

I tried my best to figure out where the command options are set. I found https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L273 and removed the line after forking the repository. Afterwards I installed using a modified homebrew formula pointing to the forked github repository. Still the option is

[2015-06-19 12:37] Oliboy50 commented on #1374
Actually, I think I'd prefer just to be prompted once for all when a passphrase or password is needed.
Because I don't like the idea of seeing my passwords in my terminal (it sucks if we have to do a live demo).

[2015-06-19 12:39] brownoxford commented on #1383
This is not a bug, CIDR must be specified using a valid host IP, not a network. Using 172.30.0.0/24 does not work, but 172.30.0.1/24 does.

[2015-06-19 12:39] #1383 closed

[2015-06-19 13:37] hendrikstier commented on #1387
I did some changes in my form. Are those helpful to you?

1. Removal of synthcpu-flag: https://github.com/hendrikstier/machine/commit/436497fde460c9d042ee72ee446f7031d067646c
2. Explicit logrus dependency in godeps: https://github.com/hendrikstier/machine/commit/36c28569928b6726ca53d4fd7054ddb76d845dc2

[2015-06-19 18:05] jpadilla opened #1390 "Allow specifying DigitalOcean existing SSH Key ID"
It'd be great If if we could skip createSSHKey and instead pass via a flag the ID of an existing SSH Key already in DigitalOcean.

[2015-06-19 18:11] nathanleclaire commented on #1094
Reopening this.  Kitematic is duplicating this with 0.3.0 and some users are running into it.  FYI @jeffdm maybe you can provide a little more info about the current situation.

[2015-06-19 23:01] jmmills opened #1392 "Unable to connect docker from inside guest, or UNIX socket"
I've been trying to troubleshoot why my logspout container wasn't able to connect to docker via UNIX socket and found this behavior. It seems that I can't use the docker client from inside the provided boot2docker guest, nor can I share the unix socket from a volume mount. Either expected behavior has changed, and I'm unaware, or something is amiss.

If this is actually an an issue with something

[2015-06-19 23:30] nathanleclaire commented on #1392
It looks like the daemon is not up.  If the daemon is not up, normal Docker commands will not work and naturally mounting the socket will not work either as nobody's listening on it.

What is the output of `tail /var/log/docker.log` in the VM?  It might give you a clue why the daemon did not come up.

Also, that version of Machine is really old, so please try `rm -rf ~/.docker` and creating a new

[2015-06-19 23:58] jmmills commented on #1392
If the daemon wasn't up then I wouldn't have been able to do a docker run from outside the guest. I will attempt this with the updated docker-machine to see if that makes a difference.

[2015-06-20 00:08] adambiggs commented on #1351
+1

[2015-06-20 00:19] nathanleclaire commented on #1392
OK, you hadn't mentioned that in your bug report -- please make 100% certain that you are actually hitting the created / faulty machine e.g. by running the command using `docker $(docker-machine config dev) ps`, and let us know how the create with a new version goes.

[2015-06-20 01:08] jmmills commented on #1392
Just tried it with machine v0.3.0 and it seems to be working, it's on a different machine so it would lead me to believe that if it's still an issue it's something to do with my environment.

[2015-06-20 01:08] #1392 closed

[2015-06-20 01:36] fgimian commented on #685
Same problem here folks, any possibility of a fix on the horizon? :smile:

Thanks heaps!
Fotis

[2015-06-20 01:41] fgimian commented on #685
Little trick I used to get me across the line for now :smile:

[code]

Cheers
Fotis

[2015-06-20 01:44] riddopic opened #1393 "docker-machine create no longer works on 3.0?"
Hello,

I have been using docker-machine for months without any trouble but most today when I updated to 3.0 I have not been able to get my machine going again. I am on OS X Yosemite, I downloaded docker-machine and docker today and removed my old .docker directory. When I try and create a machine using the VMware driver it just hangs indefinitely.

Running in debug mode I see the following:

[cod

[2015-06-20 04:54] rhunter commented on #1366
Docker Machine currently uses its own code to read credentials (from the command-line or environment variables) and then passes them to [Go AWS Auth](https://github.com/smartystreets/go-aws-auth).

Go AWS Auth can [look for credentials itself](https://github.com/smartystreets/go-aws-auth#using-your-aws-credentials) but currently uses different logic to the [official AWS tools](http://blogs.aws.ama

[2015-06-20 08:04] StefanScherer commented on #512
Running into the same issue in a fresh Windows 10 VM with Hyper-V installed. There is no virtual switch after installation, so docker-machine gives me the error **no vswitch found**. I have opened a PowerShell as administrator:

[code]

Then I created a private network with the Hyper-V Manager tool and tried docker-machine again. Then it creates the VM and starts it, but the boot2docker VM does no

[2015-06-20 21:57] nadiasvertex opened #1395 "docker-machine create --swarm-master requires --swarm to work"
The command:

docker-machine create -d virtualbox --swarm-master --swarm-discovery consul://192.168.99.100:8500/swarm m0

Will create a machine with no running containers. I would expect a "swarm manage" container to have been created. In the swarm docs, we are told that running a swarm node on same host as a master is not a good idea for production. If that's true, then docker-machine should be a

[2015-06-21 00:01] fgimian opened #1396 "Constant vmsvc warnings in console of machine"
Hey there folks, love docker-machine, thank you :smile:

Just a little annoyance, I'm getting constant warnings in the console from vmsvc:

![screen shot 2015-06-21 at 9 59 03 am](https://cloud.githubusercontent.com/assets/1811813/8269771/2d48ba70-17fc-11e5-9725-76cccd62e9e3.png)

Cheers
Fotis

[2015-06-21 09:39] dperetti opened #1397 "docker-machine create --driver digitalocean not working, no error message"
Just trying to create a digitalocean machine for the first time using a token that I just created in DO console :
```docker-machine create --driver digitalocean --digitalocean-access-token 1239080....12123eafad prod```
... and nothing is happening. It's just hanging without any message. Nothing in the console.

docker-machine version 0.3.0 (0a251fe). Yosemite 10.10.3.

[2015-06-21 09:48] dperetti commented on #1397
My bad... firewall issue.

[2015-06-21 09:48] #1397 closed

[2015-06-21 11:52] Oliboy50 commented on #1397
@dperetti Just something to know about Docker Machine: there is a "debug mode" if you add a `-D` flag (i.e. `docker-machine create -D`)

[2015-06-21 15:07] gravis commented on #531
I'm having this since my upgrade to 1.7.0.
Restarting b2d will lead to this error:

[code]

thanks

[2015-06-21 15:35] cpuguy83 commented on #531
@gravis How come you are using `boot2docker shellinit` with machine?

[2015-06-21 15:40] gravis commented on #531
Sorry, I posted in the wrong repo :)
I thought it was b2d, I messed up with my tabs.

[2015-06-21 21:07] adamveld12 commented on #673
In case other people have the same issues as I did on Windows 64bit: https://x86x64.wordpress.com/2015/05/03/docker-on-windows-fata0021-an-error-occurred-trying-to-connect/

[2015-06-21 22:00] dperetti commented on #1397
Thanks, next time I'll think about either the firewall or debug mode trick ! :-)

[2015-06-21 22:26] arun-gupta opened #1398 "Find out machine/server version"
The current set of docker-machine commands show:

[code]

Need a way to find out the exact version of machine/server so that can find out what version of client is needed. This will allow to minimize the errors as in https://github.com/docker/docker/issues/14077.

[2015-06-21 22:42] arun-gupta opened #1399 "No need to start machine for upgrade"
Upgrading a machine requires the machine to be started otherwise the following error is reported:

[code]

Upgrading the machine, after stopping the machine, shows the following steps:

[code]

If the machine needs to stop anyway, the requirement to start the machine to upgrade seems superfluous.

[2015-06-21 23:24] AnneTheAgile commented on #395
@zaps , are you planning to submit a PR back to Docker/Machine with the VMWare configs? Or are you thinking we should wait for something 'official' from VMWare?
From what I read, to get Ubuntu 14.04 to run with Docker, we need a 64-bit machine, so hard-coding that (and erroring out if not present) might be a sane default to start with.
AnneTheAgile

[2015-06-22 01:47] allen-servedio commented on #531
For anyone else that comes across this, here is a possible solution: https://github.com/boot2docker/boot2docker/issues/824#issuecomment-113904164
AND
https://github.com/boot2docker/boot2docker/pull/411

So far, this has fixed the problem for me. I can see that the /var/lib/boot2docker/tls/hostnames file does not have the VM's IP (ie. it does not have the IP you see when you type: boot2docker ip),

[2015-06-22 02:51] tmkbry commented on #673
thanks @adamveld12, it worked for me.

[2015-06-22 04:04] mbailey opened #1400 "Please include versions in artifact filenames"
I've spent the past 30 minutes trying to get docker working again after upgrading to docker-1.7 on OSX.

Debugging and maintenance would be easier if a convention of including versions in filenames for artifacts was adopted.

While versions of downloaded files can be obtained by running then with --version, this is not possible with boot2docker.iso.

[code]

[2015-06-22 14:07] samwierema opened #1402 "[generic driver] OSX adds extra output to SSH command, causing error on create"
I just upgraded to 0.3.0 with Homebrew and facing an issue with the generic driver when running the following command:

[code]
The command prompts me for the id_rsa password for each command (see #1374), and **is able to successfully connect** to the server using SSH. The issue occurs due to the output of the SSH command on OSX, where it adds one or two lines on top of the output.

[code]
This cau

[2015-06-22 15:41] mojodna commented on #1393
I managed to get it working by passing the `--native-ssh`

[2015-06-22 15:43] mojodna opened #1403 "docs: VMware environment vars / CLI options are mismatched"
![image](https://cloud.githubusercontent.com/assets/45/8285817/b4b34fe8-18ba-11e5-8a42-0cea2562ada7.png)

Specifically `FUSION_MEMORY_SIZE` + `--vmwarefusion-disk-size` and `FUSION_DISK_SIZE` + `--vmwarefusion-memory-size`

[2015-06-22 15:45] mojodna commented on #1367
@nathanleclaire the included help should also be updated (it's currently misleading given `[arg...]`), assuming that `active` isn't going away completely:

[code]

[2015-06-22 16:13] erwin16 commented on #1393
Thanks for the tip, I had the same issue today... w 3.0, is it documented somewhere ? ( how did you find this tip ?)

[2015-06-22 16:19] mojodna commented on #1393
Not that I've seen.  I saw the option in the `docker-machine` args and figured I'd try it, since the SSH connection was the thing hanging...

[2015-06-22 16:27] erwin16 commented on #1393
thanks will give it a try ... I'm reinstalling ... enjoy your day

[2015-06-23 00:16] ekristen opened #1407 "Proposal: Make paths in config.json relative to storage path"
For easier portability of the machine storage metadata about machines, it would be beneficial to have all paths relative to the storage engine path, this would make portability between users easier, and sharing of the machine metadata.

[2015-06-23 00:18] ekristen opened #1408 "Proposal: Use storage backends for machine metadata"
Instead of storing everything locally, it might be advantageous to use a storage backend like Consul or etc. This would allow easier sharing of machine data between multiple server admins. This would also align docker-machine with the likes of swarm, machine and others that are now supporting multiple key/value store systems for orchestration and discovery.

[2015-06-23 02:30] fsoppelsa opened #1409 "Progress bar when some download is required"
I'd expect a progress bar or progress element when some download is required, e.g.

    bash-3.2$ ./docker-machine create -d virtualbox v
    No default boot2docker iso found locally, downloading the latest release...
    Downloading https://github.com/boot2docker/boot2docker/releases/download/v1.7.0/boot2docker.iso to /Users/user1/.docker/machine/cache/boot2docker.iso...

[2015-06-23 04:46] rhunter commented on #858
Do @teng-lin 's changes make use of the AWS SDK credential handling (reading `~/.aws/credentials`, profiles, etc)? If they do, then they'll address #1366 as well :-)

[2015-06-23 05:21] rhunter opened #1410 "Usability polish: per-command template text"
Currently, all commands use the same usage guide template.

**`$ docker-machine help create`**
[code]

In the case of `create`, the reality is that exactly one final argument is required and that it refers to the machine name.

I don't know if there's a *formal* specification of Unix command usage notation, but there's certainly a convention that `[]` is for optional arguments and `...` is for rep

[2015-06-23 06:13] ronag opened #1411 "After upgrade to 0.3 - client and server don't have same version (client : 1.19, server: 1.18)"
After upgrading both docker and docker-machine to the latest versions (1.7.0 and 0.3.0) I get the following error:

`client and server don't have same version (client : 1.19, server: 1.18)`

[code]

[2015-06-23 08:17] docteurklein commented on #1168
The same problems appears on (only) one of my aws instance as well.
The thing is that `docker-machine ssh` works well tho.

[2015-06-23 08:23] sthulb commented on #858
AWS claimed that the go-sdk is usable now. They had a blog post about a month ago?

[2015-06-23 10:11] tonivdv opened #1412 "docker-machine restart randomly fails with "exit status 1""
Hello,

Since I upgraded to 0.3.0 I got randomly "exit status1" when executing the docker-machine restart [a-machine]

I was able to have it in debug mode, and this is the error I got

[code]

The full stack:

[code]

Hopefully the stacktrace can help to figure out this issue.

PS: I'm running on Mac OSX Yosemite (10.10.3)

[2015-06-23 10:17] sarvagnan opened #1413 "i/o timeout when upgrading vm"
When running docker-machine upgrade for a vm, the upgrade operation timesout. I'm running machine on OS X 10.10.3
The output is as follows:
Stopping machine to do the upgrade...
Upgrading machine devdocker...
Downloading https://github.com/boot2docker/boot2docker/releases/download/v1.7.0/boot2docker.iso to /Users/sarvagnan/.docker/machine/cache/boot2docker.iso...
Get https://github.com/boot2docker

[2015-06-23 12:16] kgrvamsi opened #1414 "Docker Machine Cleanup when Resources are not created"
Problem

With the new flag for aws in requesting spot instances i have tried creating the instance and seems like the requests halts in waiting for the spot instance to create but it creates the keypair with the machine name .

Is it possible that when the user does a CTRL+^C then the resources which are created for this request will be cleaned so that the user can request for a new resource with

[2015-06-23 12:50] miketheman commented on #1168
@docteurklein This is a driver-specific implementation responsibility, so should be addressed in a separate issue.

Could you possible open another issue with information, and debug details, similar to the initial report?
Having versions of all the pieces is useful - especially if you'e saying it happens to only one of your AWS instances.

[2015-06-23 18:56] stephanbuys opened #1415 "Catalog of changes to machine target"
Hi, is there a way to see (or perhaps a doc?) that catalogues the changes made by machine on a target host?

I'm mostly interested in determining if machine will eventually take care of all of the hardening, customisation, etc required to 'run docker right' or if another provisioner (such as saltstack) should be used to harden systems.

Thanks!

[2015-06-23 20:17] jconlon commented on #1393
I am seeing something similar but with a host that does not have a driver:
`$ docker-machine create --url=tcp:192.168.0.133:2376 shamu`
`To see how to connect Docker to this machine, run: docker-machine env shamu`
`$ docker-machine env shamu`
`open /home/jconlon/.docker/machine/machines/shamu/ca.pem: no such file or directory`
`$ docker-machine ls`
`NAME             ACTIVE   DRIVER      STATE

[2015-06-23 20:42] hairyhenderson commented on #641
So... B2D 1.7 was released - should this issue be closed now?
/cc @adambiggs @ehazlett

[2015-06-23 20:58] adambiggs commented on #641
Yes this is now working for me.

[2015-06-23 20:58] #641 closed

[2015-06-23 21:00] hairyhenderson commented on #641
:tada:

[2015-06-23 23:54] parabuzzle opened #1416 "Support config file over "eval""
I would like to be able to do intelligent machine switching per project (like the way rvm uses `.ruby-version` & `.gemset` to automatically change over to the correct ruby and gemset when switching into the directory)

Instead of the `eval "$(docker-machine env foo)"` configuration should be handled by a config file in the directory.

The problem I'm attempting to solve here is, at the minimum, I

[2015-06-24 06:49] jimmycuadra commented on #1285
Should the cached ISO have the version number in its filename? I just spent a while trying to figure out why I couldn't create a VMware Fusion machine, and eventually discovered that it was using an old version of boot2docker that was sitting in the cache from when I tried docker-machine previously (weeks or months, I forget.) I had to remove the cached file to get a newly created machine to downl

[2015-06-24 13:18] pmario commented on #1163
@ecourtenay is this still a problem. there have been several improvements in 0.3.0.

You may also define the virtual switch. I had this problem too. The debug mode may tell you what's going wrong. Take care, to update your boot2docker image too.

`docker-machine create -d hyper-v --hyper-v-virtual-switch <your-switch-name-here>  dockervm`

[2015-06-24 13:25] pmario commented on #671
@rchaganti sitll a problem with docker-machine 0.3.0?

[2015-06-24 13:57] Oliboy50 opened #1417 "Boot2docker with containers `/etc/hosts` updated to point localhost to other containers"
When I used `boot2docker` to run a development environment using Docker (on Windows), I was able to link several containers and let them talk between them with the IP `127.0.0.1`. But it seems that Docker Machine does not behave the same.

Let's say my application is composed of 2 containers: **container WEB** and **container DB**.

Using `boot2docker`, I was able to make **container WEB** talking

[2015-06-24 14:34] pasitolonen commented on #531
I tested boot2docker some time ago, forgot it for a long time and today I downloaded the latest version of boot2docker and installed it. After installation, I encountered this same X.509 problem mentioned here and I solved it by

1) removing .boot2docker directory (located in my home directory) and its contents and
2) removing all boot2docker virtual machine files as well

Hope this helps.

ps. Si

[2015-06-24 14:51] dnozay commented on #1274
I had the same problem because of the nameservers in my `/etc/resolv.conf`; the DNS resolver will pick them in the same order as they are listed and won't try the next one in the list unless the previous one times out.

[2015-06-24 15:17] dnozay commented on #1413
In my case (as commented in bug #1274), I had to re-order nameservers in my `/etc/resolv.conf` to pick up a different nameserver. Check with `nslookup` if you can resolve the server's address.

[2015-06-24 17:15] sarvagnan commented on #1413
This is my resolv.conf

#
# Mac OS X Notice
#
# This file is not used by the host name and address resolution
# or the DNS query routing mechanisms used by most processes on
# this Mac OS X system.
#
# This file is automatically generated.
#
nameserver 192.168.1.1

As to nslookup, github.com is resolved, but https://github.com, github.com/boot2docker/boot2docker, https://github.com/boot2docker/boo

[2015-06-24 17:35] dnozay commented on #1413
you can open your network preferences > advanced > DNS and add some DNS servers explicitly.

[2015-06-24 18:17] moxiegirl opened #1418 "Synd master > docs"
Hi,

For the Dockercon  1.7 Eng and 2.0 Hub release, your project documentation was pulling from your master branch.

At this point, you must sync your  master branch files into the docs files BEFORE making changes for future releases in master.

This step allows Docker _as a whole_ to make incremental updates to the documentation website between releases.

After completing this work, please respo

[2015-06-24 18:40] evanyetter opened #1419 "I got an error when trying to run docker run hello-world"
As you can probably tell by the title, I am extremely new to docker, so I am just attempting to get it set up.  After I completed the installation and running the start script, I ran the test line "docker run hello-world" to make sure everything was alright, but got the following error:

An error occurred trying to connect: Post https://192.168.56.101:2376/v1.19/cont
ainers/create: x509: certifica

[2015-06-24 19:09] kalbasit commented on #878
currently having a similar issue, mine starts OK but it seems docker-machine is not able to SSH into the machine.

full log: https://gist.github.com/kalbasit/03bf8464a6163d485a6f

I tried multiple times, I tried removing Vbox's adapter and no luck.

[code]

[2015-06-24 19:21] kalbasit commented on #479
`docker-machine version 0.2.0 (8b9eaf2)` worked for me. `docker-machine version 0.3.0 (HEAD)` did not.

full log: https://gist.github.com/kalbasit/03bf8464a6163d485a6f

I tried multiple times, I tried removing Vbox's adapter and no luck.

[code]

[2015-06-25 02:01] parabuzzle commented on #16
+1

Also, I may have created a duplicate (or augmentation) to this issue yesterday: https://github.com/docker/machine/issues/1416

[2015-06-25 07:40] sthulb commented on #1417
Hi,

The actual virtual machine probably shouldn't have any references in hosts to containers.

However, if you link containers, the container that specified the link should have a reference the linked container, i.e.: web should have an entry in /etc/hosts for mysql.

The IP: 172.17.0.11, is assigned by docker, that's probably one of the container IPs.

S

[2015-06-25 08:27] marcellodesales commented on #1357
I have Docker 1.6.2 running in a RHEL 7 host and I'm trying to connect to it using docker-machine and it fails with the regular setup...

[code]

Lots of attempts are made and nothing happens... What else should I do to get it to work?

[code]

thanks!

[2015-06-25 12:29] sarvagnan commented on #1413
That worked. Thanks!

[2015-06-25 12:29] #1413 closed

[2015-06-25 13:46] ekristen opened #1424 "Machine hangs indefinitely if unable to access machine via SSH"
It appears that machine hangs indefinitely and chews up a good percentage of CPU when it is unable to access the machine it is spinning up via SSH. Perhaps there should be a timeout and an subsequent error?

[2015-06-25 14:11] Oliboy50 commented on #1417
@sthulb Thanks. Yes, I understand that Docker assigns the linked container IP on the `/etc/hosts` of the main container.

So I really just dreamed about the fact that my "web application container" was able to talk to a "mysql container" using the IP "127.0.0.1"?

Different containers must use a different IP (never localhost)?

[2015-06-25 14:49] wenlock commented on #1419
@evanyetter i was trying to follow the same steps, im new to machine as well.. can you tell me what docker-machine -v is for you?

[2015-06-25 14:54] DazWilkin opened #1425 "Enumerate in the documentation the list of cloud provider drivers"
"...there are drivers included for several providers including Amazon Web Services, Google Compute Engine, and Microsoft Azure". However, the documentation is sparse with regards the mapping between this list of providers and the parameter values of the docker-machine create driver parameter.

For example, this (somewhat hidden) page includes Google Compute Engine and a good first line would be an

[2015-06-25 19:09] cdosso opened #1427 "[vsphere driver] Esxi free license ( Not 60 days trial )"
Hello,

Could you add in your documentation that vsphere driver isn't working for ESXi free license?

It's related to govc but enjoyed by your documentation I've been really frustraded while trying it and getting this error on machine creation :

Cheers

[2015-06-25 19:14] holic commented on #809
Just ran into this issue. I'm on OSX 10.10.3 using the latest Docker Engine stable release and the latest Docker Machine (installed both yesterday).

I created a Virtualbox VM, used it a bit yesterday, left it running and closed my MacBook.

Today when I opened it up, Docker Machine reported the VM in "Saved" state:

[code]

I tried to start, stop, restart, and kill the VM, to no avail:

[code]

I

[2015-06-25 19:16] nathanleclaire commented on #1367
Good point @mojodna -- I think it's added automatically by codegangsta/cli but we'll see what we can do.

[2015-06-25 19:16] #1367 closed

[2015-06-25 19:17] nathanleclaire commented on #1427
Nice point - want to win some Machine Points and make a pull request to do so ?   :)

[2015-06-25 19:26] nathanleclaire commented on #1274
I've had this happen to me since, but trying more creates seems to work eventually  :(

[2015-06-25 19:28] nathanleclaire commented on #809
Argh, this should work.  I'll try and see if I can reproduce and/or fix.

[2015-06-25 19:38] nathanleclaire commented on #1414
Hi @kgrvamsi thanks for the report and while we'd love such a feature, it cannot really be done reliably.  See https://github.com/docker/machine/issues/972#issuecomment-93651103 for explanation.

[2015-06-25 19:38] #1414 closed

[2015-06-25 19:40] nathanleclaire commented on #1398
My preference would be to leave this to the Docker client - it already informs the user when the versions are incompatible.

[2015-06-25 20:15] ekristen opened #1429 "Proposal: Use CFSSL for Certificates (CloudFlare SSL Toolkit)"
CloudFlare has put together an awesome utility to manage an internal CA, it too is written in go. It would be really nice to see docker-machine leverage `cfssl` for local certificate generation and/or allow using a remote `cfssl api` for certificate generation so that there can easily be a common CA shared amongst many systems and developers.

[2015-06-25 20:24] jconlon commented on #1393
Regarding the previous noted problem.

Since I am on a local dev lan, I really did not need tls, so  I was able to get a connection to the remote host running docker by adding this line:
DOCKER_OPTS="-H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock"
to the target host docker configuration (in /etc/default/docker) which causes docker to startup like:
/usr/bin/docker -d -H tcp://0.0.0.0:2375 -H

[2015-06-25 23:38] labianchin commented on #1424
Same problem.
Running on OSX, openstack driver with ubuntu 14.04 as flavor when running *docker-machine -D create" it hangs here:

[code]

This only happens on machine v0.3.

[2015-06-26 01:16] gsfr commented on #1402
I encountered the same problem, but was able to temporarily work around it by using a passphrase-less ssh key. Not ideal by any means.

[2015-06-26 17:21] tscheinecker opened #1430 "docker-machine curl fails on windows 8.1 with msysgit 1.9.5-preview20150319"
When trying to execute `curl -L https://github.com/docker/machine/releases/download/v0.3.0/docker-machine_windows-amd64.exe > /bin/docker-machine` with msysgit version `1.9.5-preview20150319` I recieve the following output:

[code]

When using msysgit version `1.9.5-preview141217`everything is working fine.

A workaround of course is the `--insecure` flag but as `curl -L https://get.docker.com/bui

[2015-06-26 17:47] nathanleclaire commented on #1427
The fix this is now merged!  Thanks !

[2015-06-26 17:47] #1427 closed

[2015-06-26 17:49] nathanleclaire commented on #1418
I think this is done @ehazlett ?

[2015-06-26 17:54] moxiegirl commented on #1418
Evan did this I believe.

[2015-06-26 17:54] #1418 closed

[2015-06-26 17:55] moxiegirl commented on #1418
![image](https://cloud.githubusercontent.com/assets/1347209/8383870/d39f7866-1bf1-11e5-8d4e-3f8896c5e455.png)

[2015-06-26 17:57] nathanleclaire commented on #1429
Ah, very interesting.  I certainly would like to make managing that easier and/or enable teams to use Machine effectively in this manner.

[2015-06-26 18:21] ekristen commented on #1429
@nathanleclaire I opened two other tickets with respect to making paths relative to the storage paths in each machine's config, so that the machines storage path could be moved or shared more easily.

For sharing I'm looking at using https://github.com/progrium/envy once shared environments are setup, this will allow users to commonly login to an environment and use the same machine data.

However

[2015-06-26 19:50] rogaha opened #1431 "docker-machine create hangs when using ``--digitalocean-image ubuntu-15-04-x64``"
The machine is created, but further commands from ``docker-machine`` that needs to talk to the daemon as ``docker-machine env`` also hangs for those VMs. It hangs because the daemon is not reachable.

[2015-06-26 20:25] nathany commented on #685
Thanks @fgimian. However I'm still not able to start Vmware Fusion:

[code]

[code]

[code]

[code]

[code]

[2015-06-26 20:30] DazWilkin opened #1432 "The Google driver creates a firewall rule for docker (2376) but not swarm (3376)"
After learning about machine and swarm this week at DockerCon was excited to explore them using [Google] Compute Engine (GCE).

One problem that may confuse those unfamiliar with GCE is that the docker-machine driver for Google creates the needed firewall rule for port 2376 but -- somewhat understandably -- does not open 3376 which is needed once one decides to go "whole-hog" and play with swarm t

[2015-06-26 20:59] rogaha commented on #1431
``ubuntu 15.04`` doesn't use upstart it uses systemd, it might be related to this issue.

[2015-06-26 22:09] fgimian commented on #685
Cool mate.  I was going to suggest making sure you open VMware Fusion and entering your license before creating the machine, otherwise it may not work.

[2015-06-26 22:22] NoamB commented on #1412
I get same "exit status 1" when trying to "start" or "restart" a "Saved" virtualbox with machine 0.3.0. Downgraded to machine 0.2.0 and everything works again.

[2015-06-26 23:39] stevvooe opened #1433 "docker-machine hangs after creation with virtualbox"
The following command hangs nearly forever:

[code]

I can ssh in and it looks like the daemon is running:

[code]

However, if I use eval, I get an error message:

[code]

Here is the debug output: https://gist.github.com/stevvooe/b89bb209b0ee38608bc4

I cannot use docker at all on my machine, at this point.

[code]

[2015-06-27 00:16] fgimian commented on #685
Hey guys, I have attempted to fix this in my branch at https://github.com/fgimian/machine/tree/vmware-cask-support

I'm just testing it out to see if it works as expected but I welcome others to try it out too so I can submit it :smile:

This is my first dabble in Go, so please let me know if I did anything wrong

Cheers
Fotis

[2015-06-27 00:39] urish commented on #23
+1

[2015-06-27 00:42] fgimian commented on #685
Had some dramas building a new docker machine to fully test this pull request but I have tested the altered code in a standalone script and it works as expected.

I'd welcome folks who can assist to give it a shot and let me know how it looks.

Cheers
Fotis

[2015-06-27 11:45] garystafford commented on #1433
gstafford@gstafford-X555LA$ docker-machine --version
docker-machine version 0.3.0 (0a251fe)

Seeing identical issues/results, repeatedly, with basic docker-machine command with VirtualBox
Created gist of most of output: https://gist.github.com/8d244fe478e59dd4d131.git
It worked for first two days, then started this behavior...

gstafford@gstafford-X555LA$ docker-machine create --driver virtualbox

[2015-06-27 19:35] veggiemonk commented on #1433
+1  Same here

[code]
It differs a little bit here
[code]
Maybe that version has problem
[code]

[2015-06-27 19:40] veggiemonk commented on #1409
:+1: That would be nice indeed

[2015-06-28 01:16] liudonghua123 commented on #1433
I also got the similar problem.
[code]

and I noticed some failures when installing virtualbox, is the installation not successful?
[code]

[2015-06-28 02:24] liudonghua123 commented on #1433
I think it might be a VT-x problem.
I checked whether the VT-x of my computer(actually it's a virtual machine) is enabled or not by executing `sudo kvm-ok` according [how-to-determine-if-cpu-vt-extensions-enabled-in-bios](http://askubuntu.com/questions/103965/how-to-determine-if-cpu-vt-extensions-enabled-in-bios)

[code]

I will consult the administrator about changing VT-x settings and try again.

[2015-06-28 04:56] jleskovar opened #1435 "Managing local unix-socket based docker via docker-machine"
Hi there,

For the sake of consistency, I'd like to have my local docker be managed via docker-machine. When I try to create and use my local docker-machine using the 'none' driver:

[code]

I end up with: ```FATA[0000] Couldn't read ca cert /home/james/.docker/machine/machines/localhost/ca.pem: open /home/james/.docker/machine/machines/localhost/ca.pem: no such file or directory ```

To get aroun

[2015-06-28 05:23] liudonghua123 commented on #1433
I have the similar problem when I run on Windows, I have VT-x enabled.
[code]

[2015-06-28 10:39] sbanal commented on #673
The following commands worked for me:

In dos prompt:
[code]

After executing commands above i closed re-opened a new Boot2Docker console and it works
when i execute ```docker run hello-world```

[2015-06-29 01:21] Elido commented on #809
same issue here. Just happened today.

[2015-06-29 09:47] Boran commented on #742
Same on docker-machine version 0.3.0 (0a251fe), virtual box 4.3.28 (freshly installed)

In a separate window "docker-machine ls" list the machine as running, but env does not work:

bash.exe"-3.1$ docker-machine env dev
open C:\Users\myuser\.docker\machine\machines\dev\ca.pem: The system cannot find the file specified.

There is a ca.pem, but it is a directory higher at C:\Users\myuser\.docker\mac

[2015-06-29 11:01] jobinar commented on #479
I was facing the same issue and found that virtualization was not enabled in the BIOS of the machine on which I was trying to create the docker swarm container.

I enabled VT-x on the host machine and it works fine now.

[2015-06-29 13:20] nathanchere commented on #1094
Not scientific by any means but I have had the issue on two machines which had VirtualBox already installed, no issue on two boxes where VirtualBox was installed as part of docker-install.exe.
All Windows 7 x64.

[2015-06-29 15:04] ehazlett commented on #1433
@stevvooe i've seen this too.  as @garystafford mentioned, a `eval $(docker-machine env -u)` fixes it for me.  i need to dig further into what the root cause is.

[2015-06-29 15:05] ehazlett commented on #1433
@veggiemonk i'm not sure you can run a 64 bit OS on 32 bit host.  Starting with b2d 1.7, I believe it's 64 bit now.  that could be part of it.

[2015-06-29 18:09] jgkamat commented on #1431
Right now DOCKER_OPTS isn't appended to the docker daemon on debian 8/ubuntu 15.04. See [this pull](https://github.com/docker/docker/pull/13923) for a discussion. Docker machine uses that file to specify options, so probably they aren't getting applied to the daemon.

[2015-06-29 18:58] stevvooe commented on #1433
@ehazlett I did a full restart to address the issue. There may have been a few things going on that were fixed with the restart (the env issue, being one of them). I was also getting problems where the daemon would not start because it would not bind to the interface. My guess is that there is a bug related to env setup and a networking problem with VirtualBox. I'm sorry I don't have better inform

[2015-06-29 18:58] sjwhyte opened #1437 "EC2 deployment with machine keeps on looping through Testing TCP connection to: xxx.xxx.xxx.xxx:22"
I run the following to provision a new ec2 instance in my VPC:

docker-machine --debug create --driver amazonec2 --amazonec2-access-key <aws key> --amazonec2-secret-key <aws secret key> --amazonec2-vpc-id vpc-12345678 --amazonec2-subnet-id subnet-12345678 --amazonec2-region us-east-1 --amazonec2-ssh-user <ssh-user> --amazonec2-zone a aws-mse-1;

The subnet and the vpc are in the same region and zo

[2015-06-29 20:28] #1148 closed

[2015-06-29 20:29] clnperez commented on #1148
Closing, as this discussion has been picked up in PR #1156.

[2015-06-29 21:11] jvivian commented on #531
I fixed the problem the same way pasitolonen fixed it.   Deleting .boot2docker dir and running  boot2docker init.  This has the side-effect of deleting my images (which I didn't mind).

[2015-06-29 22:31] TeckniX commented on #1435
What about just adding the host without specifying the driver?
`docker-machine create --url=unix:///var/run/docker.sock localbox`

[2015-06-29 23:49] arthuroliveira commented on #1357
no able to add an existing Host to docker-machine

$ docker-machine create -d generic --generic-ip-address SERVER_IP --generic-ssh-user root --generic-ssh-key ~/.ssh/id_rsa --generic-ssh-port 22 SERVER_NAME
Importing SSH key... (it keeps asking: Enter your password for the SSH key “id_rsa”)
^C~
$ docker-machine env SERVER_NAME
open /Users/USER/.docker/machine/machines/SERVER_NAME/ca.pem: no such f

[2015-06-29 23:54] jleskovar commented on #1435
Adding the host without specifying the driver is the same as -d none, AFAIK...
Just to clarify, I get CA cert error when I attempt to run any docker commands after running the eval -- e.g. docker ps.

The problem is that since DOCKER_TLS_VERIFY=1 gets set as part of the eval, the client will attempt to use TLS to talk to the local daemon via the unix socket, which fails as I haven't setup any cert

[2015-06-30 03:34] garystafford commented on #1433
@ehazlett the unset command you/I mentioned works for me occasionally, but most often I am also rebooting to clear whatever state Docker Machine is in, and then deleting the existing, mis-configured VM. I hit the problem pretty often. I have the latest release version of Docker, Compose, and Machine, running on Ubuntu 14.10.

[2015-06-30 11:53] hairyhenderson commented on #1411
@ronag - you likely have a boot2docker ISO cached in `~/.docker/machine/cache/`.

To upgrade this you should run `docker-machine upgrade test`, or delete the cached ISO before `create`ing the machine.

[2015-06-30 13:35] robertjustjones opened #1440 "Rackspace driver doesn't list or recognize openstack switches like --openstack-net-name"
The Rackspace driver PR #73 mentions support for adding networks by name and adds that functionality to the underlying openstack driver, but the rackspace driver doesn't report or recongnize such a switch
[code]
ignores the net directive. And there is no `--rackspace-net-name` option.

[2015-06-30 18:17] shuron commented on #504
+1

[2015-06-30 19:25] jstclair opened #1441 "docker-machine on Windows / msysgit bash cannot generate env keys (v1.3)"
Tried the normal `eval "$(docker-machine env dev)"`, but that resulted in an error that I should pass `--shell` with either `cmd` or `powershell`.

I tried to pass `bash` (and `powershell`), but both attempts hung. I did get the output when I passed `cmd` and could manually set the values (via `export`).

[2015-06-30 19:39] jstclair commented on #1441
Sorry, it worked when I used `--shell sh` -- d'oh!
But you might want to tweak the message (as long as msysgit is still the recommended way to run docker-machine)

[2015-06-30 19:51] paul-bell commented on #1301
I'm probably out of my depth here, but is it possible that there's an issue with docker-machine itself? packer.io must also sign AWS API requests and it has known problems with authenticating to EC2. See:

https://github.com/mitchellh/goamz/issues/120
https://github.com/mitchellh/goamz/pull/154

FWIW: I established a new set of keys (access + secret) and docker-machine continues to encounter the s

[2015-06-30 19:54] Oliboy50 commented on #1441
I'm using `msysgit` and `--shell cmd` just work fine for me.

[2015-06-30 21:03] tavisto commented on #1433
I was not having this issue until I did a
[code]
Where dev was my docker host on virtualbox that had previously worked just fine.

OSX 10.10.3 with virtaulbox 4.3.26, docker-machine 0.3.0

I updated my virtualbox to v4.3.28 as well as the Extension pack.
According to the boot2docker release it included the VirtualBox Guest Additions v4.3.28.

Once I updated everything it all worked again. I am the

[2015-06-30 21:25] elabrc opened #1442 "AWS with private addresses"
I'm having a problem with docker machine creating non-public facing instances at AWS/EC2. If I add --amazonec2-private-addresses-only it doesn't add a public IP to the instance. However when there is no public IP present, the instance has no Internet access (this is normal for EC2 I think - no public Internet if you don't have a public IP).

What I really want is for docker-machine to spin up a VM

[2015-06-30 23:48] deepakdeore2004 commented on #1340
I have same issue with windows "7 + cygwin". I tried with "windows 7 + msysgit (gitbash)" but there is same issue:

Virtualbox version is 4.3.28.

STDERR:
Using SSH client type: external
About to run SSH command:
ip addr show dev eth1
&{C:\Program Files (x86)\Git\bin\ssh.exe [C:\Program Files (x86)\Git\bin\ssh.exe
 -o PasswordAuthentication=no -o IdentitiesOnly=yes -o StrictHostKeyChecking=no
-o U

[2015-07-01 01:22] DazWilkin commented on #1061
I'm unable to create a machine on GCE using --google-auth-token parameter. The docker-machine create command prompts for the user consent flow regardless.

A good model for the implementation of the auth model for GCE driver is Google's gcloud CLI. Using gcloud, once a user's account is authenticated, its credentials are persisted, do not expire and the auth tokens are seamlessly used across ensui

[2015-07-01 09:30] leomrocha commented on #1160
Same issue on Windows 7 boot2docker

[2015-07-01 12:17] jeffbrl opened #1443 "virtualbox: docker-machine hangs at ssh attempt when host can't support 64 bit VMs"
I'd like to see a more graceful exit with a helpful error message when the host can't run the 64 bit boot2docker image. Currently docker-machine hangs while it attempts to ssh into the virtualbox VM before eventually timing out. VBoxManage shows the machine in "running" state; however, it does not boot if CPU virtualization extensions are not present.

I noticed this problem using a Ubuntu 14.04 V

[2015-07-01 13:34] robertjustjones opened #1444 "OpenStack driver should accept multiple --openstack-net-id switches"
The OpenStack driver accepts only a single network option (id or name) which overrides the default connection(s).

[2015-07-01 14:27] usmanismail opened #1445 "Digital Ocean Driver creates a new ssh key everytime."
Currently there is no way to tell the digital ocean driver use a preexisting ssh key. This leads to a lot of cruft with new keys for every instance launch

[2015-07-01 17:04] mklatsky opened #1447 "docker-machine fails with digital ocean provider"
When running the following command (from https://github.com/docker/docker/blob/master/experimental/compose_swarm_networking.md):

**docker-machine --debug create -d digitalocean --digitalocean-image="ubuntu-14-10-x64" --engine-install-url="https://experimental.docker.com" --engine-opt="default-network=overlay:multihost" --engine-opt="kv-store=consul:$(docker-machine ip consul):8500" --engine-label

[2015-07-01 17:24] kung-fu-tzu commented on #1424
+1, but without CPU consumption.

[2015-07-01 17:28] kung-fu-tzu opened #1448 "Error reading X509 key pair (...) crypto/tls: private key does not match public key"
Description of problem:

Weird error log messages from a running Docker daemon.

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:

[code]

Environment details (AWS, VirtualBox, physical, etc.):

A DigitalOcean droplet created and provided by docker-machine v0.2.0 on 22.06.2015
Droplet details: 2GB Ram 30GB SSD Disk Amsterdam 3 Ubuntu 14.04 x64

How reproducible:

Stop docker daemon u

[2015-07-01 17:34] kung-fu-tzu commented on #1448
Started digging here: https://github.com/docker/docker/issues/14317

[2015-07-01 20:09] jkrukoff commented on #1057
Just ran into this, as it was causing a marathon container to fail to boot. Appears to also affect vmware based hosts.

Temporarily resolved by only running a single machine named "boot2docker" so that there's no mismatch, though it'd be nice to be able to run more than one.

[2015-07-02 08:22] marcuslinke opened #1450 "vmwaresphere: can't find network while creating machine"
Error creating machine: Unable to create docker host docker-machine1: Error: network 'Test Network 192.168.231.64/26' not found

Seems network names that contains slashes could not be found.

[2015-07-02 15:52] robertjustjones commented on #1444
The PR accepts a comma separated list of net-id's or net-name's for openstack and rackspace drivers.

[2015-07-02 17:05] usmanismail commented on #124
Is there any ETA on this? Anyone working on this or should I take a stab.

[2015-07-02 22:28] cwandrews opened #1452 "Add support for VMWare AppCatalyst"
Add a driver type for [VMWare AppCatalyst](https://communities.vmware.com/community/vmtn/devops/vmware-appcatalyst). Not sure what this effort would look like, but I just tried AppCatalyst out and I think it is a good candidate for having a docker-machine driver.

[2015-07-03 05:19] igoratencompass commented on #796
Thought I would leave a feedback on this one. I found the problem, it was the subnet in the second zone of the eu-west-1 that was left without NAT Internet gateway. So nothing to do with docker-machine. The swarm cluster was successfully created in other regions.

[2015-07-03 05:27] ehazlett commented on #1442
This looks like everything is working as designed.  If you pass `--amazonec2-private-addresses-only` then it does just that.  It assumes that you have connectivity to the instance (VPN) and internet access (most likely a NAT instance for internet connectivity).  This looks more like a VPC configuration issue rather than a machine configuration issue.  You can specify it to create with private addr

[2015-07-03 05:41] kelseyhightower opened #1455 "docker-machine does not support setting the docker engine bridge IP"
Currently docker-machine times out when setting the bip flag.

[code]

[2015-07-03 07:43] rajaraodv commented on #531
This happens to me whenever the wifi changes. For example when I use it from home and then again in office.

Error: An error occurred trying to connect: Get https://192.168.59.104:2376/v1.19/version: x509: certificate is valid for 127.0.0.1, 10.0.2.15, not 192.168.59.104

$ docker version
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Ar

[2015-07-03 07:49] rajaraodv commented on #531
Apparently this seems to solve the problem: https://github.com/boot2docker/boot2docker/issues/938#issuecomment-118211836

`alias docker="docker --tlsverify=false"`

[2015-07-03 08:57] timothyclifford commented on #584
Hi,

Just wanted to update this again as I've done a little more testing. Using v 0.3.0

Using a VPC in US West, I still get same error

`Error decoding error response: Error decoding error response: http: read on closed response body`

Using a VPC in US East and I get the following:

[code]

Looking in AWS, I can see the machine created successfully. So your suggestion about the problem being AWS

[2015-07-03 09:46] awsmsrc commented on #1412
+1

[2015-07-03 09:54] pmario opened #1456 "docker-machine, hyper-v stops provisioning, getting ip-address fails, but pinging VM is OK"
Hi foks,
I just created an issue for rancher IO repo. I'm not 100% sure, if it belongs to them. So please have a look.

to reproduce:

* I'm using: https://github.com/rancherio/os/releases/download/v0.3.3/machine-rancheros.iso
* docker-machine:  version 0.3.0 (0a251fe)
* OS: windows 8.1 pro with hyper-v

I create the vm with:

[code]

More details and debug info can be found there:  https://github

[2015-07-03 10:13] pmario opened #1457 "boot2docker string for switches and ISOs need to be more generic and not hardcoded"
I think all boot2docker switches need a more generic name, since other iso can be used, to create VMs.

to reproduce:

* I'm using: https://github.com/rancherio/os/releases/download/v0.3.3/machine-rancheros.iso
* docker-machine:  version 0.3.0 (0a251fe)
* OS: windows 8.1 pro with hyper-v

I create the vm with:

[code]

**a highly confusing renaming problem**

* as seen in the command line, I use `

[2015-07-03 10:44] peter-leonov opened #1458 "Sporadically stoping with Processing signal 'terminated'"
No matter what I do, after a few hours a find docker daemon stopped with all the containers. At times, the daemon is up but few of the `--restart=always` containers I find stopped with exit status 128.

All the containers and the app itself is just a dockerized version of an app running for a year on Ubuntu 14.04.

The box is a fresh DigitalOcean droplet created with:
[code]
Then I enabled swap wi

[2015-07-03 11:08] arthurk commented on #1031
Hi, I'm having the same issue. I'm running VirtualBox 4.3.28 and docker-machine 0.3 on OSX 10.10.4.

[code]

[code]

Running with --debug shows the following error at the end:

[code]

[2015-07-03 11:13] jorahn commented on #977
Is there a specific reason, why `docker-machine ssh` takes multi-word commands only in quotes while `docker exec` doesn't allow quotes? I realize these do different things, but in my current workflow I stumbled over this a couple of times and just wanted to let you know.

    docker Client/Server version 1.7.0, API versions 1.19
    docker-machine version 0.3.0

[2015-07-03 12:02] cpuguy83 commented on #977
They use completely different cli libraries.

[2015-07-03 12:04] jorahn commented on #977
thanks for your reply. i'm aware of that, it's just a comment towards api design

[2015-07-03 12:09] cpuguy83 commented on #977
Really the "right" way is to do a double-dash to split cli args from args to the app that's going to be exec'd

[2015-07-03 14:01] rdgreis commented on #1442
Is there any specific reason to why we can't use the private address and still have the public interface added to the provisioned instance?

In my case (similar to the described above) I just need to use the private address, but I don't want to add a NAT instance, since all my instances have public address.

[2015-07-03 14:26] StefanScherer commented on #1452
Have a look at #1401, it is on its way.

[2015-07-03 15:53] fventuri commented on #504
@clnperez - I see @SvenDowideit has already a pull request (https://github.com/docker/machine/pull/650) that he is working on for the same thing.
Not sure if I should create another one, or what is the best way to work on this driver, since I am new here.

[2015-07-03 17:25] jamshid opened #1459 "Upgrade should support --virtualbox-boot2docker-url"
The `upgrade` docs imply it supports specifying the iso https://docs.docker.com/machine/, but that option only appears to work with `create`. Seems useful and consistent to allow a specific iso to be specified, e.g. to easily upgrade your docker server to an RC build.

[code]
FYI this workaround accomplished what I wanted to do:
[code]
This came out of https://github.com/docker/docker/pull/14264#i

[2015-07-03 18:31] adambiggs opened #1460 "VMware Fusion: Host volume file corruption"
I've been testing Machine with VMware Fusion for local development now that #641 has been resolved, but have run into another issue with file corruption in host volumes.

When writing to an existing file on the host, in some cases the shared file in the VM is corrupted. Similar to #1275, but instead of the file having no contents, it contains the *old* data (before being written), but it's length

[2015-07-03 18:40] adambiggs commented on #1460
I found this thread in the VMware forums which sounds very similar: https://communities.vmware.com/thread/462303

[2015-07-03 19:10] shawnaten opened #1461 "OpenStack Extra Parameters"
I'm trying to use Machine with [Chameleon Cloud](https://www.chameleoncloud.org) which from my understanding is a modified version of OpenStack. One of the modifications is a reservation and lease system.

In their documentation [here](https://www.chameleoncloud.org/docs/user-guides/technology-preview-user-guide/) they show using nova client and passing a *lease id* through the **--hint** argument

[2015-07-03 19:13] Pixelworlds commented on #1351
+1

[2015-07-03 22:30] thaJeztah commented on #1459
Thanks @jamshid !

[2015-07-04 01:15] MiLk commented on #41
:+1:

[2015-07-04 01:30] vinceprignano commented on #179
Are there any updates on this?

[2015-07-04 06:09] yeyan commented on #1441
I can't get it work on windows as well.  I have tried with and without --shell
[code]

[2015-07-04 06:58] arthurk commented on #1031
I figured out a solution that works in my case.

Checking ifconfig showed a lot of vboxnet# adapters that were used by virtual machines that are long gone, but for some reason the adapter was still holding on to its ip address:

[code]

Docker-machine wanted to create a vm with an ip in the 192.168.99.* range, but vboxnet10 was still holding on to the `192.168.99.1` address. For some reason, this

[2015-07-04 09:14] donnex commented on #1460
I'm having the same issue. My python files got corrupt when I was testing docker-machine with Fusion. I had a shared folder from my Yosemite host to my VMWare Fusion Docker VM. Noticed some really strange file corruptions/files not updating when saved.

I was running Gunicorn inside the container and it picked up and reloaded the server when files were saved, but the content of the files did not u

[2015-07-04 11:30] pizzurro commented on #1430
Experienced same issue

[2015-07-04 11:57] pizzurro commented on #1094
Got this in Windows 8.1 -- VirtualBox installed prior to docker-machine.

Executed:
`docker run ubuntu:14.04 /bin/echo 'Hello world'`

Received:
[code]

[2015-07-04 15:47] kikov79 commented on #1368
When doing the refactor, I think it could be great supporting the Azure cloud service name to be able to construct clusters within the same service in different machines. At the moment, each vm go to a different cloud service (so escalation it's not possible).

[2015-07-04 19:22] tscheinecker commented on #479
For me i got it working only after downgrading msysgit to `1.9.5-preview141217` and virtualbox to `4.3.20`

i tried this because on one of my notebooks everything worked fine, on the other it didn't. the one where it wasn't working was running msysgit at version `1.9.5-preview20150319` and virtualbox `4.3.28` as i installed everything according to instructions on that machine. the other one had bo

[2015-07-04 22:33] kitotik commented on #1447
I am seeing the same results on:

Docker version 1.8.0-dev, build 71f8ca3, experimental
docker-machine version 0.4.0-dev (HEAD)
docker-compose version: 1.4.0dev

[2015-07-05 03:23] naoko commented on #531
I experienced this after I reallocated RAM. as rajaraodv metnioned ```alias docker="docker --tlsverify=false"``` solved

[2015-07-06 01:32] zysimplelife opened #1464 "Docker-Machine doesn't support proxy"
Hi
It could be better if docker-machine support adding proxy to those generated master/client node.
manually adding those config to each node is disaster for the lab environment which cant connect to network directly.

Thanks
Charlie

[2015-07-06 06:34] eddietejeda commented on #673
@sbanal I think you meant you ran:

[code]

That worked for me.

[2015-07-06 14:28] errordeveloper commented on #1334
@ehazlett @nathanleclaire ping

[2015-07-06 17:21] ahmetalpbalkan commented on #1368
@kikov79 that probably would require using our new upcoming REST API set called ARM (azure resource manager) and ARM templates. Currently the REST API used (service management api) does not allow parallel-deployments within the same affinity group / virtual network.

In the long run, we'll be switching to the new API set and making it possible (I imagine at some point we'd  allow creating swarm cl

[2015-07-06 18:13] nathanleclaire opened #1468 "A few inconsistencies with the docs"
I will fix these, but for my own reference:

- The `devicemapper` option doesn't work with b2d anymore, so change that example to use `overlay`.
- IIRC files aren't copied recursively by default with `scp` so that information is misleading and doesn't cover the `-r` flag.
- The "upgrade" section is slightly out of date.

[2015-07-06 18:18] nathanleclaire commented on #180
This has largely been covered by the `--virtualbox-use-boot2docker-vm` flag IMO.

[2015-07-06 18:18] #180 closed

[2015-07-06 18:22] nathanleclaire commented on #16
I am closing this issue as I think it's "as good as it's going to get" in Machine right now and further solutions would mandate support in Docker itself.

[2015-07-06 18:22] #16 closed

[2015-07-06 18:28] nathanleclaire commented on #1416
As you mentioned, there's nothing that Machine can do in terms of environment.  In order to get `docker` client to "automatically" point at a machine, without environment variables, one would have to get upstream Docker to honor the config file.

However, you could use a shell script workaround such as:

[code]

[2015-07-06 18:28] #1416 closed

[2015-07-06 18:29] nathanleclaire commented on #1464
I hear you... This is a common request so I think I will consolidate a few of the issues into one proposal to add such functionality.

If I understand correctly, you would like to be able to configure `HTTP_PROXY` for the Docker daemon, and consequently all containers created with it, no?

[2015-07-06 18:31] nathanleclaire commented on #253
I think we're in a pretty happy place as far as saving the config file goes nowadays... I agree SIGINT handling could be better, but that ties into a broader discussion about enabling re-provisioning.

[2015-07-06 18:31] #253 closed

[2015-07-06 18:33] nathanleclaire commented on #124
@usmanismail We're not opposed to the idea, but so far the difficulty of implementing this in a uniform way has stunted progress on the issue.

[2015-07-06 18:36] nathanleclaire commented on #556
I'd say this is pretty well supported now

[2015-07-06 18:36] #556 closed

[2015-07-06 18:37] nathanleclaire commented on #542
`upgrade` now works in `vmwarefusion`, so I'm closing this.  Agree we need to be clearer about what's supported and not in general though.

[2015-07-06 18:37] #542 closed

[2015-07-06 18:37] nathanleclaire commented on #537
@databus23 Do you still have interest in working on this?

[2015-07-06 18:41] #532 closed

[2015-07-06 18:42] #430 closed

[2015-07-06 18:45] nathanleclaire commented on #512
@ahmetalpbalkan @johngossman Can you please take a look at this and confirm it as a bug?

[2015-07-06 18:46] nathanleclaire commented on #510
@ahmetalpbalkan @johngossman Can you please take a look at this and see if you can dupe?

[2015-07-06 18:46] nathanleclaire commented on #509
We've cleaned up the output a bit so please re-open if you run into any more issues

[2015-07-06 18:46] #509 closed

[2015-07-06 18:48] ahmetalpbalkan commented on #512
I have no idea about Hyper-V, redirecting the question to @jstarks @jhowardmsft

[2015-07-06 18:49] ahmetalpbalkan commented on #510
cc: @jstarks @jhowardmsft

[2015-07-06 18:50] jhowardmsft commented on #512
A private network is just that - private. If you are expecting to get a IP address from an off-box DHCP server you would need an external network in Hyper-V terminology

[2015-07-06 18:50] nathanleclaire commented on #465
This should be OK now

[2015-07-06 18:50] #465 closed

[2015-07-06 18:50] #463 closed

[2015-07-06 18:52] nathanleclaire commented on #447
The issue with this is that `docker-machine upgrade dev` should only work on that machine.  If the ISOs are shared, it will affect all of them, and also we would need to make sure they are all powered down, and so on.  So, I'm closing this.

[2015-07-06 18:52] #447 closed

[2015-07-06 18:52] nathanleclaire commented on #698
This _should_ work now, please re-open if you have any issues.  Thanks!

[2015-07-06 18:52] #698 closed

[2015-07-06 18:53] nathanleclaire commented on #693
The first draft of this is well implemented at this point

[2015-07-06 18:53] #693 closed

[2015-07-06 18:54] nathanleclaire commented on #682
I think this is more of a "We need a coding style guide" than a specific issue which we can point at as definitively solved.  I do agree strongly though.

[2015-07-06 18:54] #682 closed

[2015-07-06 18:54] databus23 commented on #537
@nathanleclaire I do. i got distracted by other tasks and this fell off the desk. That's being said I'm one week away from a two week vacation and won't be able to attend to this before the vacation. So this will linger for at least three more weeks.

[2015-07-06 18:55] nathanleclaire commented on #677
I wonder if `docker-machine regenerate-certs blah` would work.

[2015-07-06 18:56] nathanleclaire commented on #676
@fikovnik Can you confirm if this is still a bug with Machine 0.3.0?

cc @proppy @jeffmendoza Do you see this issue?

[2015-07-06 18:56] #671 closed

[2015-07-06 18:57] #669 closed

[2015-07-06 18:58] nathanleclaire commented on #660
I think this is done? @ehazlett please re-open if I'm wrong.

[2015-07-06 18:58] #660 closed

[2015-07-06 18:59] nathanleclaire commented on #640
@chanezon Is this still happening as far as you know?

[2015-07-06 19:02] nathanleclaire commented on #598
I think this is covered by @hairyhenderson `BaseDriver` PR

[2015-07-06 19:02] #598 closed

[2015-07-06 19:02] nathanleclaire commented on #617
Dupe of https://github.com/docker/machine/issues/1243

[2015-07-06 19:02] #617 closed

[2015-07-06 19:03] nathanleclaire commented on #632
I wonder if a check for `len(c.Args())` would be the most elegant solution here.

[2015-07-06 19:07] nathanleclaire commented on #835
It's not clear if we will merge `libvirt` support in, so this jumps the gun a little.

[2015-07-06 19:07] #835 closed

[2015-07-06 19:07] nathanleclaire commented on #836
It's not clear if we will merge libvirt support in, so this jumps the gun a little.

[2015-07-06 19:07] #836 closed

[2015-07-06 19:07] nathanleclaire commented on #837
It's not clear if we will merge libvirt support in, so this jumps the gun a little.

[2015-07-06 19:07] #837 closed

[2015-07-06 19:08] nathanleclaire commented on #820
There have been many changes to this code since then, so please re-test and re-open if it is still an issue.  Thanks!

[2015-07-06 19:08] #820 closed

[2015-07-06 19:09] douglasjarquin commented on #878
I was getting this behavior as well. After reading through a bunch of issue comments, and trying a bunch of the suggestions, it turns out that modifying the stock ssh config was the fix. Props to @ctrlrsf for figuring it out, and validating it on his machine, too.

I'm running:
[code]

The stock Yosemite ssh config looks like:
[code]

I commented out all the config vars that match `Control*`, ran

[2015-07-06 19:09] nathanleclaire commented on #806
I think longer-termish we will have to support some kind of "sync" to the config store, I don't know if the Docker Hub token discovery service would support modifying the cluster IPs, but I'm sure the KV backends would.

cc @aluzzardi @vieux @abronan How would you envision workflow for this case (changing IPs in the swarm)?

[2015-07-06 19:10] nathanleclaire commented on #798
cc @frapposelli

@sirvon If you get a chance please re-test and confirm this is happening with 0.3.0.  Thanks!

[2015-07-06 19:10] nathanleclaire commented on #801
Yep, out of scope.  Thanks!

[2015-07-06 19:10] #801 closed

[2015-07-06 19:11] nathanleclaire commented on #838
My opinion is that this is out of scope for Machine.  The user must set the correct parameters, and we can try to help, but we have to draw the line somewhere.

[2015-07-06 19:11] thaJeztah commented on #682
@ehazlett @nathanleclaire not sure if this is the same thing, but you might be interested in the work @duglin and @stevvooe did here; https://github.com/docker/distribution/pull/548

[2015-07-06 19:11] #838 closed

[2015-07-06 19:12] nathanleclaire commented on #812
Yep, SELinux issues.  There's not much we can do here because it is largely dependent on how the user's system is set up, but thanks for filing- it will probably help others who run into the issue in the future.

[2015-07-06 19:12] #812 closed

[2015-07-06 19:13] nathanleclaire commented on #796
This issue has split into several different directions without very coherent steps to reproduce a specific issue, so please re-open if you can narrow the focus down a little bit.  Thanks!

[2015-07-06 19:13] #796 closed

[2015-07-06 19:14] nathanleclaire commented on #787
This uses an old version, so please test with 0.3.0 and re-open if you run into any issues.  Thanks!

[2015-07-06 19:14] #787 closed

[2015-07-06 19:14] nathanleclaire commented on #746
These actually error out now thx

[2015-07-06 19:15] #746 closed

[2015-07-06 19:15] nathanleclaire commented on #742
cc @ahmetalpbalkan @johngossman can you reproduce this issue?

[2015-07-06 19:17] nathanleclaire commented on #733
I think this should be pretty well-rounded now, but please open a new issue if there are unexpected workflow consequences.

[2015-07-06 19:17] #733 closed

[2015-07-06 19:18] nathanleclaire commented on #961
Each provisioner has the ability to take care of this on their own if need be, so I'm closing until we have some specific instances that we know are problematic.

[2015-07-06 19:18] #961 closed

[2015-07-06 19:19] #972 closed

[2015-07-06 19:19] nathanleclaire commented on #959
It's getting created, so I want to err on the side of showing it.  It is much more common to leave cloud resources lingering than not, I'd prefer a way to detect / salvage them to leaving them unreferenced.

[2015-07-06 19:19] #959 closed

[2015-07-06 19:28] ahmetalpbalkan opened #1469 "Better UX for `docker-machine create -h`"
Currently `docker-machine create -h` prints hundreds of lines (probably more than 50 cli options) for all machine drivers.

If we can have something like:

    docker-machine create -d virtualbox -h

that only shows me virtualbox, that'd be very tractable.

[2015-07-06 19:34] robertjustjones commented on #1469
Try this
[code]

[2015-07-06 19:36] ahmetalpbalkan commented on #742
yes I can see an error from `machine -D create -d virtualbox`  too ([gist](https://gist.github.com/ahmetalpbalkan/74e56afb3f07c0a27a3f)):

[code]

and goes into a loop... For more info here's the network settings of the VM on VirtualBox:

![image](https://cloud.githubusercontent.com/assets/159209/8531340/7e69ec4a-23db-11e5-9660-c297ffa3ff31.png)
![image](https://cloud.githubusercontent.com/assets/

[2015-07-06 19:51] nathanleclaire commented on #940
This is an issue related to permissions set with SELinux, not Machine, but perhaps we can add a note in the README.

[2015-07-06 19:52] nathanleclaire commented on #950
We don't control that usually as we use the script from `get.docker.com` to install.

[2015-07-06 19:53] nathanleclaire commented on #883
Unfortunately, at the moment we don't have a great way to audit dependencies, although I do think a sweep to clean up would be good at some point.  Let's revisit this when we get some direction from Go upstream about their vendoring solution.

[2015-07-06 19:53] #883 closed

[2015-07-06 19:55] nathanleclaire commented on #852
msysgit is currently the recommended way to run `docker-machine`, and I think we use the native SSH key generation in every case so this should be taken care of.  Thanks!

[2015-07-06 19:55] #852 closed

[2015-07-06 19:56] nathanleclaire commented on #889
In general I think a working understanding of `PATH` is pretty essential to running on the command line so I think it's a little out of scope for Machine docs to cover.  We should be offering Mac and Windows installers soon, too.

[2015-07-06 19:56] #889 closed

[2015-07-06 19:58] nathanleclaire commented on #812
Hey @clnperez , any chance I could persuade you to make a PR for the CONTRIBUTING.md file detailing the steps that you took to set SELinux correctly in a general way?

[2015-07-06 20:00] nathanleclaire commented on #864
@dwamara Are you still getting this with 0.3.0?

[2015-07-06 20:00] jeffmendoza commented on #676
I think the machine driver was written before stopping VM's was available. So the stop/start in machine might be delete/create.

[2015-07-06 20:00] #849 closed

[2015-07-06 20:02] nathanleclaire commented on #848
This should work if using msysgit or anywhere that `bash` is available, although I'm not sure if `bats` is directly supported on windows so I'm not sure if it's a lost cause or not.

[2015-07-06 20:02] #848 closed

[2015-07-06 20:02] #847 closed

[2015-07-06 20:02] #846 closed

[2015-07-06 20:02] #845 closed

[2015-07-06 20:03] nathanleclaire commented on #843
This looks good I think

[2015-07-06 20:03] #843 closed

[2015-07-06 20:03] #842 closed

[2015-07-06 20:03] #841 closed

[2015-07-06 20:03] #840 closed

[2015-07-06 20:03] #839 closed

[2015-07-06 20:03] nathanleclaire commented on #844
LGTM

[2015-07-06 20:03] #844 closed

[2015-07-06 20:04] #1074 closed

[2015-07-06 20:04] nathanleclaire commented on #1070
`zsh` works fine on my end and I use it every day

[2015-07-06 20:04] #1070 closed

[2015-07-06 20:06] nathanleclaire commented on #1052
Filters have been implemented so commands similar to the above work now

[2015-07-06 20:06] #1052 closed

[2015-07-06 20:13] nathanleclaire commented on #727
I think this issue has not really gone anywhere and I personally and fine with the current naming.

[2015-07-06 20:13] #727 closed

[2015-07-06 20:14] nathanleclaire commented on #779
cc @ahmetalpbalkan @jstarks please take a look at this.

@silarsis Do you still see the issue with Machine 0.3.0?

[2015-07-06 20:17] nathanleclaire commented on #1041
So I think this is close-able, and modifying the exposed port should be something we take care of in the future.

[2015-07-06 20:17] #1041 closed

[2015-07-06 20:18] nathanleclaire commented on #1042
I would much rather have a `docker-machine status` command -- So I'm going to file an issue for that.

[2015-07-06 20:18] #1042 closed

[2015-07-06 20:18] nathanleclaire opened #1471 "docker-machine status command"
To easily get the status of one particular machine, we should support:

[code]

That would provide issues like https://github.com/docker/machine/issues/1042 what they are after, and prevent awk hacking of the `ls` output, etc.

[2015-07-06 20:19] #1057 closed

[2015-07-06 20:23] nathanleclaire commented on #1030
@jamshid Maybe you could make some specific propsals for features, including how they would be integrated with the Machine CLI, to follow up on this?  There's a couple different threads in this issue.

[2015-07-06 20:24] nathanleclaire commented on #1028
Hmm, I think this is a duplicate of some other filed issues, so I am going to close since it'd be very hard to reproduce.

[2015-07-06 20:24] #1028 closed

[2015-07-06 20:25] nathanleclaire commented on #1027
This seems more like a docker/docker issue than a Docker Machine issue.  I'm not sure what we could do to help with this, but please feel free to open a new issue if you have ideas.

[2015-07-06 20:25] #1027 closed

[2015-07-06 20:26] nathanleclaire commented on #1050
@hbokh Can you still repro this?  Have you tried with 0.3.0?

[2015-07-06 20:28] ahmetalpbalkan commented on #1469
@robertjustjones that does the job (just prints vbox arguments) but I think adding `-h` to this command should not print the entire `create` subcmd usage. It's confusing.

[2015-07-06 20:29] nathanleclaire commented on #1017
In general I am moving towards having some sort of `docker-machine apply` command which would re-apply configuration for all things.  E.g. engine options, swarm settings, TLS, and so on.

[2015-07-06 20:29] #1007 closed

[2015-07-06 20:30] nathanleclaire commented on #1014
Hi @UserTaken, I am pretty happy with what we have now but feel free to open a more specific issue if you feel like it could be further improved.

[2015-07-06 20:30] #1014 closed

[2015-07-06 20:32] nathanleclaire commented on #1211
I would not say "no" to alternative store implementations (indeed, that's why we made it an interface) but it's a separate issue from making `libmachine` a fully independent entity.

[2015-07-06 20:33] nathanleclaire commented on #1219
Yes, so probably VirtualBox driver needs a "meaner" kill.

[2015-07-06 20:34] nathanleclaire commented on #1207
This should be supported now - I can see all SSH commands used when I run a command.

[2015-07-06 20:34] #1207 closed

[2015-07-06 20:36] nathanleclaire commented on #1193
@ramschmaerchen, I am going to close this as I can't duplicate it, but _please_ retry with 0.3.0 if you get a chance, and re-open if needed.  Thanks!

[2015-07-06 20:36] #1193 closed

[2015-07-06 20:37] nathanleclaire commented on #1195
We have `--swarm-image` now, so I am closing this, but I like your idea for the integration tests @aluzzardi, I will open a separate issue for that.

[2015-07-06 20:37] nathanleclaire opened #1472 "Run integration tests with dockerswarm/swarm:latest"
This will always give us the latest swarm master to test with.

[2015-07-06 20:37] #1195 closed

[2015-07-06 20:38] nathanleclaire commented on #1177
Any ideas for this @frapposelli ?

[2015-07-06 20:40] nathanleclaire commented on #1149
@arun-gupta Can you confirm this is still happening with 0.3.0?

[2015-07-06 20:41] nathanleclaire commented on #1123
+1 to what @hairyhenderson said -- if the issues are specific to OSes, please open issues for that.

[2015-07-06 20:41] #1123 closed

[2015-07-06 20:45] nathanleclaire commented on #1126
For now at least, the Machine name and hostname are always expected to correspond exactly, and to deviate from that pattern would introduce frustrating inconsistency.  I am supportive of allowing skipping some or all of provisioning, which includes the host name, but unfortunately if Microsoft has opted to have only one global namespace I don't think I can get behind Machine being responsible for

[2015-07-06 21:41] nathanleclaire commented on #1294
Yeah +1 to what @ehazlett said.  I'm going to close this issue and file a new one for password protected SSH keys.

[2015-07-06 21:41] #1294 closed

[2015-07-06 21:42] nathanleclaire opened #1473 "Add support for password-protected SSH keys"
Right now Machine has no such support for this.  It would be great for security to enable SSH keys protected by passwords for the users who want it.

[2015-07-06 21:44] nathanleclaire commented on #1136
This is dupe of https://github.com/docker/machine/issues/1311

[2015-07-06 21:45] nathanleclaire commented on #1226
I think this is out of scope for the main Machine repo, but have at it if you are interested!!  I would really like to have you involved with all discussion around `libmachine` and any kind of declarative configuration if we end up implementing that as well.

[2015-07-06 21:45] #1226 closed

[2015-07-06 21:46] nathanleclaire commented on #1250
This exists:  https://github.com/docker/machine/blob/master/test/integration/provision/os/redhat.bats

A bit hacky, but it's there.

[2015-07-06 21:46] #1250 closed

[2015-07-06 21:47] nathanleclaire commented on #1229
Definitely would like to support passphrase SSH key usage.

I've filed an issue here: https://github.com/docker/machine/issues/1473

[2015-07-06 21:47] #1229 closed

[2015-07-06 21:48] nathanleclaire commented on #1240
I am confused about what this issue means, there isn't a `docker-machine info` command.

[2015-07-06 21:50] nathanleclaire commented on #1221
@smakam Any update on this issue or can we close it?

[2015-07-06 21:51] nathanleclaire commented on #1241
I think this falls into the general class of issues where specifying `HTTP_PROXY` for the daemon is needed.  Do you agree @pacaletx @ehazlett ?

[2015-07-06 21:51] nathanleclaire commented on #1284
NO

[2015-07-06 21:53] prologic commented on #1226
@nathanleclaire Yeah no worries at all; right now I haven't had much time to *think* about how other language bindings *could* be acheived at this point. However I did come up with [factory](https://github.com/prologic/factory) -- Is this what you meant by declarative machines?

[2015-07-06 21:54] prologic commented on #1229
:+1:

[2015-07-06 21:54] nathanleclaire commented on #1303
Well, `--url` is a bit different because the basic idea is to have an existing daemon which is running and configured already, and you just set the port to connect on.  With our TLS setup though, I'm really starting to think it's more trouble than it's worth.

[2015-07-06 21:55] nathanleclaire commented on #1283
@cglewis Do you feel like this solves your issue adequately?

[2015-07-06 21:57] nathanleclaire commented on #1372
This would break our current ability to do things like `docker-machine ssh dev -- sh -c 'echo foo'` which I'm a big fan of.  I'm -1 on this, but I do wonder what the best approach is since I've seen a lot of "machine ssh sleds" in scripts.

[2015-07-06 21:59] nathanleclaire commented on #1386
@nireak If the provider supports it, there's a `*-ssh-user` flag:

[code]

Perhaps we should allow a `--virtualbox-ssh-user` flag, or simply a generic flag that works for all providers.

[2015-07-06 21:59] #1386 closed

[2015-07-06 21:59] cglewis commented on #1283
@nathanleclaire I think it would if the filter supported the filter key `name` and with wildcards.  as far as I can tell, right now it only supports the filter key `driver` which would mean that my multiple environments would all have to be of disparate drivers.

[2015-07-06 22:00] nathanleclaire commented on #1375
It will not install Docker if it detects `docker` binary on the system, but the other package installation happens anyway.

[2015-07-06 22:02] nathanleclaire commented on #1366
I'd be wary of this for the simple fact that it isn't precedented (i.e. users wouldn't know to expect it as it isn't consistent with other drivers), but not 100% opposed.

[2015-07-06 22:02] nathanleclaire commented on #858
I'm +1 on this long-term

[2015-07-06 22:05] teng-lin commented on #858
Will take a close look to see if the API is stable enough to pursue this.

Sent from my iPhone

[2015-07-06 22:06] nathanleclaire opened #1474 "Set default timeout to ~30 seconds and use wait for specific when needed longer"
I think a lot of the hangs our users are seeing would be less frustrating and maybe give more useful info if they just bombed out faster.  Most uses of `WaitFor` don't take very long, by far the longest is likely to be waiting for the VM to start.  Maybe we can run some tests to get a feel for the median time of each call and change the VM start instance to use `WaitForSpecific`.

[2015-07-06 22:08] nathanleclaire commented on #1433
@stevvooe Looks like your flags aren't getting parsed quite correctly as well, which definitely means we need to fix that issue.

[2015-07-06 22:10] nathanleclaire commented on #1433
Really peculiar issue.  Looks like the daemon starts fine but Machine fails to detect it.  @stevvooe do you have some non-vanilla stuff in terms on networking on the box where you've run this?  Perhaps VPN, changes to your DNS resolution, etc.?  Does the Machine get an IP from the Virtualbox host only network?

[2015-07-06 22:10] nathanleclaire commented on #1328
I have a PR/hacky solution to this in the wings... Generally I think I want to move config over to being portable / templated instead of hardcoded like things are now.

[2015-07-06 22:11] nathanleclaire commented on #1435
I'm a fan of detecting any hosts listening at `/var/run/docker.sock` and displaying them in `docker-machine ls` by default, so maybe we can make this work.

[2015-07-06 22:13] nathanleclaire commented on #1431
Yes, I think it's because we expect the "old school" init, and 15.04 switches to use systemd.  We will have to do some kind of funny systemd / non-systemd split with the provisioners methinks.

[2015-07-06 22:14] nathanleclaire commented on #1430
If I experience this, sadly I usually just resort to `-k`, but I wonder what the underlying issue is.

[2015-07-06 22:18] nathanleclaire commented on #1419
@evanyetter Is it still an issue?

Please make sure you upgrade to 0.3.0 and try:

- `docker-machine restart name`
- (if that doesn't work) `docker-machine regenerate-certs name`

Then the usual `eval $(docker-machine env name)` and see if it works.

[2015-07-06 22:20] nathanleclaire commented on #1417
Yes, I'm not really sure what you're alluding to.  In containers by default, because each is in its own network namespace, that container will have its own unique `localhost`.  Links is really the way to go here, as @sthulb mentioned.

Going to close and please re-open if you have any other questions.  Thanks!

[2015-07-06 22:20] #1417 closed

[2015-07-06 22:21] nathanleclaire commented on #1415
There is not such a thing today (other than the code, of course), but I do really like this idea.  Especially as it would allow operators a quick chance to look at, critique and make suggestions.

[2015-07-06 22:21] nathanleclaire commented on #1411
@hairyhenderson is right on the money.  Please re-open if `upgrade` doesn't work out for you.  Thanks!

[2015-07-06 22:21] #1411 closed

[2015-07-06 22:22] nathanleclaire commented on #1410
Sounds good to me.

Could be a good first PR to machine project to add these templates ;D

[2015-07-06 22:23] nathanleclaire commented on #1408
Indeed, this is why we made `Store` an interface (so there could be multiple implementations), but there are a few things which need to be ironed out first before it is really quite viable.

[2015-07-06 22:24] #1403 closed

[2015-07-06 22:26] nathanleclaire commented on #1402
Mmmmm yeah that's no fun.  I wonder if differentiating the STDOUT and STDERR of the command would help.

[2015-07-06 22:27] nathanleclaire commented on #1400
Does `file` work for this use case?

[code]

[2015-07-06 22:28] #1398 closed

[2015-07-06 22:29] nathanleclaire commented on #1399
For now, our provisioning system requires the machine to be running in order to detect the OS.  Maybe eventually we can move to storing that information after detecting it once.

[2015-07-06 22:31] nathanleclaire commented on #1469
Argh, I'm afraid that might be a `codegangsta/cli` thing which we have to workaround.

[2015-07-06 22:31] nathanleclaire commented on #1452
Since I'm going to treat the PR as the "proposal" for including that driver, I'm going to close this lest I forget.  Thanks @cwandrews @StefanScherer

[2015-07-06 22:31] #1452 closed

[2015-07-06 22:32] nathanleclaire commented on #1460
cc @frapposelli

[2015-07-06 22:32] nathanleclaire commented on #1440
cc @ggiamarchi

[2015-07-06 22:33] nathanleclaire commented on #1445
Yeah I would be OK with adding this.

[2015-07-06 22:34] nathanleclaire commented on #1441
I could have sworn that this worked with msysgit, but maybe we overlooked it.

[2015-07-06 22:35] nathanleclaire commented on #1441
cc @ahmetalpbalkan please try this out when you get a chance.

[2015-07-06 22:35] nathanleclaire commented on #1444
cc @ggiamarchi

[2015-07-06 22:36] nathanleclaire commented on #1450
cc @frapposelli

[2015-07-06 22:36] nathanleclaire commented on #1450
cc @frapposelli

[2015-07-06 22:36] nathanleclaire commented on #1455
Dang, should work.  I'll try / run by our in house networking gurus and get back to you.

[2015-07-06 22:38] nathanleclaire commented on #1443
Hm, agreed.  I wonder if there's a way to detect the "feasibility" of booting successfully.

[2015-07-06 22:38] nathanleclaire commented on #1461
cc @ggiamarchi

[2015-07-06 22:38] nathanleclaire commented on #1396
Hi @fgimian, could you give a little more detail about how to reproduce this issue please?

[2015-07-06 22:40] clnperez commented on #812
Sure, @nathanleclaire. IIUC, it might not be an issue with Docker later than 1.7 (see https://github.com/docker/docker/pull/5910 and https://github.com/docker/docker/pull/12572). However, after a super quick scan of 12527 -- a change to a Dockerfile somewhere in machine might need to add [z,Z] to use that new feature. I can look into it this week and see what we need to do for this.

[2015-07-06 22:40] arun-gupta commented on #1399
Yes, that would be useful.

[2015-07-06 22:43] arun-gupta commented on #1149
@nathanleclaire @ehazlett heading back home tomorrow and will respond back later this week.

[2015-07-06 22:46] nathanleclaire commented on #1437
Argh, I've seen similar issues.  Thanks for the report.  We need to do some more testing around non-default VPCs in general.

[2015-07-06 23:03] nathanleclaire commented on #1455
Hm, OK, so I know why this happens, but not 100% sure how to fix it.  Basically, the first time docker comes up it creates `docker0` with the default `bip`, but then we try to restart it with the new parameters and it doesn't see the network the right way.  You have to delete the default bridge and restart Docker to get it to work.

[2015-07-06 23:05] ahmetalpbalkan commented on #1441
I don't have a windows machine with me atm. Can you please read the code if the code is checking for $SHELL first and then `runtime.GOOS=="windows"` @nathanleclaire?

[2015-07-06 23:06] nathanleclaire commented on #1458
Hmmmm tricky tricky.  Looks like a Docker daemon issue.

[2015-07-06 23:09] clnperez commented on #812
I just put the original selinux label  (user_home_t) back and the build failed with Docker 1.6. It worked with 1.7, though. I can still add a note in CONTRIBUTING.md and state that the workaround is only needed for versions < 1.7. WDYT, @nathanleclaire?

[2015-07-06 23:18] nathanleclaire commented on #1226
Yep, it's similar.  I saw that and that's why I thought you might be interested :D

[2015-07-06 23:20] prologic commented on #1226
Most definitely :)

[2015-07-06 23:24] nathanleclaire commented on #682
Nice callout @thaJeztah ; noted

[2015-07-06 23:24] ahmetalpbalkan commented on #1441
... it doesn't: https://github.com/docker/machine/blame/6d26992101db6bc10872d75c72239ca88290d5e7/commands/commands.go#L654-L672

If there's $SHELL present (even though it's windows) it should be used as computing the return value. After that the `if runtime.GOOS == "windows" ...` check should happen.

[2015-07-06 23:48] nathanleclaire commented on #1441
Hm, I thought msysgit set `SHELL` as `cygwin`.  I remember talking to @ehazlett about this.

[2015-07-07 00:04] ahmetalpbalkan commented on #1441
I don't know why there's a `os.Getenv("TERM") != "cygwin"` case in the `if GOOS==windows` stmt I linked above...

It should be like:

[code]

[2015-07-07 00:50] hairyhenderson commented on #1283
@cglewis - you can filter on `driver`, `swarm`, or `state`, but you're right you can't filter on `name` yet, and you also can't filter with wildcards.

I think I like the idea of being able to filter on `name`, though, and also with wildcards (or regex?). Care to log a separate issue for that? :)

[2015-07-07 00:54] GoNZooo commented on #1433
I hesitate to say that this is exactly the same issue, but I just now got past this. When I tried to create a new machine using 'docker-machine create -d virtualbox' I ended up halting at "Starting VM...".

I had all but given up when I checked out some VirtualBox documentation on the Arch wiki and saw that it requires the package ['net-tools'](https://www.archlinux.org/packages/core/x86_64/net-to

[2015-07-07 00:54] #1468 closed

[2015-07-07 01:10] mchiang0610 opened #1478 "VirtualBox machine already exists even though VM is removed"
`~/.docker/machine/machines/dev` exists but the `dev` VM is deleted.

The VirtualBox driver should detect the VM is deleted and ignore what's in `~/.docker/machine/machines/dev`?

[code]

[2015-07-07 02:47] hairyhenderson commented on #1473
@nathanleclaire - #1299 is a partial solution to this issue, from what I can tell

[2015-07-07 03:03] hairyhenderson commented on #1471
:+1:

[2015-07-07 03:06] hairyhenderson commented on #1464
I think this is a duplicate of #1319, right?

[2015-07-07 06:27] pacaletx commented on #1375
Yup exactly what I understood =) and I'm asking why ?

[2015-07-07 06:35] pacaletx commented on #1241
It's in the same area yes.

[2015-07-07 06:56] stephanbuys commented on #1415
Agreed, the docker-machine model allows an operator to really treat the machine in a hands-off fashion via a secure port, so if we get all the right hardening, etc, bits in there it might solve a lot of use cases (CIS, etc). Other option is to include a `script` option that will be run in conjunction to the creation commands that already exist allowing an operator to customise, lock things down.

[2015-07-07 07:10] chouclee commented on #1372
well, if it's well handled,  `docker-machine ssh dev -- "sh -c 'echo foo'" "sh -c 'echo bar'"` or `docker-machine ssh dev -- "sh -c 'echo foo'; sh -c 'echo bar'"` could be a proper way.

[2015-07-07 07:49] difro opened #1481 "error creating digitalocean machine when on ko_KR.UTF-8 locale"
I was trying to create digitalocean machine on a ubuntu machine which has ko_KR.UTF-8 locale.

Following error occurred.
[code]

[2015-07-07 08:58] frapposelli commented on #1450
@marcuslinke there is no specific code in the driver for that, are you sure your Fusion install is working correctly?

Please reproduce the error with the `-D` flag.

[2015-07-07 09:01] frapposelli commented on #1460
@adambiggs @donnex I tried but cannot reproduce, can you get me a simple case I can test? also, which version of Docker/Boot2Docker are you using?

[2015-07-07 09:03] frapposelli commented on #1177
@nathanleclaire not sure what is wrong here, most likely a combination of old driver and non working Fusion install.

@berinle have you tried a recent version of docker-machine with Docker/Boot2Docker 1.7.0?

[2015-07-07 09:04] frapposelli commented on #798
@sirvon seems like you're using On Demand credentials to use vCloud Air, at this point the driver only support Subscription accounts, On Demand support is coming soon.

[2015-07-07 09:13] frapposelli commented on #1450
@marcuslinke sorry, my previous comment was completely wrong, please run the create command with `-D` so I can take a look at the govc command that fails.

[2015-07-07 09:30] fgimian commented on #1396
Sure @nathanleclaire, thanks for your help.

Firstly, my system details are:

* Mac OS X 10.10.4
* VMware Fusion Pro 7.1.2

We start by installing docker and docker-machine using homebrew:

[code]

Next up, create the machine:

[code]

And now simply open VMware Fusion and check out the console window after a few minutes :smile:

![screen shot 2015-07-07 at 7 21 00 pm](https://cloud.githubusercont

[2015-07-07 09:34] marcuslinke commented on #1450
No problem ;-) Here it is:

[code]

[2015-07-07 09:38] fgimian commented on #1396
Here's an strace when the error happens in case it's helpful:

[code]

[2015-07-07 09:49] donnex commented on #1460
## Versions
Docker version 1.7.0, build 0baf609

docker-machine version 0.3.0 (HEAD)

docker-compose version: 1.3.1
CPython version: 2.7.6
OpenSSL version: OpenSSL 0.9.8zf 19 Mar 2015

VMWare Fusion Version 7.1.2 (2779224)

Boot2Docker version 1.7.0, build master : 7960f90

## To reproduce
Here is how I can reproduce this error. Creating a standard new docker-machine and then running Nginx with a

[2015-07-07 10:09] fgimian commented on #1396
OK, I started getting into this.  After enabling syslog on this box, I can clearly see all errors which are created by vmtoolsd.

[code]

I raised the debug level of vmtoolsd but sadly it didn't really provide any further useful info:

[code]

Any ideas?
Fotis

[2015-07-07 10:20] kung-fu-tzu commented on #1458
Maybe, but the exactly same setup works fine on VirtualBox machine provisioned the same way (RAM, CPU count, drive size) with `docker-machine` and `docker-compose`.

[2015-07-07 10:40] frapposelli commented on #1460
@donnex thanks, I'm able to reproduce now, seems like `vmhgfs` is not picking up changes if the filesize stays the same (see https://asciinema.org/a/bq8qrusg4pclg8qeewrw17sqs).

I will file a bug for this as it needs to be fixed upstream.

[2015-07-07 14:34] mtscout6 opened #1483 "Feature Request: Add support for Github Token to avoid Github API Rate limits"
I tried creating a machine today for the first time and I got the following output:

[code]

I'm presuming the offending code is here: https://github.com/docker/machine/blob/master/utils/b2d.go#L71-L95

I'm pretty sure I ran into this because I used `brew search docker-machine` which dinged my rate limit. Homebrew allowed an option for me to add an environment variable to define a token, which is

[2015-07-07 16:06] stevvooe commented on #1433
@nathanleclaire I don't have anything special setup, except the for a standard VPN, which does inject routes. Inspection of those routes showed nothing peculiar. As far as I could tell, the machine got an IP assigned but the traffic was being black-holed.

I issued a restart and the issue went away, so take what I say above with a grain of salt.

[2015-07-07 16:09] stevvooe commented on #682
@thaJeztah The `errcode` package is targeted at API-level errors. We should start using it for any errors that may cross an http/rpc (and maybe cli) boundary.

@nathanleclaire @ehazlett We're still experimenting with the API, but Machine might want to explore use of the package.

[2015-07-07 16:27] topiaruss opened #1484 "docker-machine create -d amazonec2 fails due to modprobe aufs not found"
## Symptoms
The following command hangs while running **curl get.docker.com | sh** command

[code]
## Versions
Host: OSX
[code]
The default ami for eu-west-1  ubuntu-trusty-14.04-amd64-server-20150603 (ami-45d8a532)

## Diagnosis
The following steps performed directly on the remote machine allowed **curl get.docker.com | sh** to complete:

Aborted the create on OSX with ^C, then

[code]

## Conclu

[2015-07-07 16:28] misalarie commented on #1301
+1 - experiencing same thing as @paul-bell.  I'm new to docker-machine (and docker in general), so I may be doing something wrong.  However, after burning through several hours of trying to figure this out and reading through several online posts, I'm no closer to resolving this than when I started.

[2015-07-07 16:28] thaJeztah commented on #682
@stevvooe yup, I was aware of that (API / http); I thought it might be interesting (for inspiration). Thanks for adding your thoughts :+1:

[2015-07-07 17:02] nathanleclaire commented on #1396
cc @frapposelli

[2015-07-07 17:07] smakam commented on #1221
@nathanleclaire I am still not able to get it to work. I even tried with docker-machine 3.0 with generic driver procedure mentioned here(http://blog.docker.com/2015/06/docker-machine-0-3-0-deep-dive/)
This is what is mentioned:
docker-machine create -d generic \
--generic-ssh-user ubuntu \
--generic-ssh-key ~/Downloads/manually_created_key.pub \
--generic-ip-address 12.34.56.78 \
jungle

I assume

[2015-07-07 17:13] nathanleclaire commented on #1372
@chouclee Why not do it like so:

[code]

This will work out of the box today.

[2015-07-07 17:18] frapposelli commented on #1396
This is expected, boot2docker doesn't carry `vmstat` (used to gather guest metrics to report back to the hypervisor). That is why `vmtoolsd` complains.

[2015-07-07 17:29] topiaruss commented on #1484
Related to #1324?

Note: sudo apt-get install -y linux-image-extra-$(uname -r) when carried out as shown above is very slow (> 8 mins).

It's consistently failing for me today, but succeeded several times yesterday. Several comments on #1324 point to intermittent failure.

Race condition?  Repo availability issue?

[2015-07-07 17:34] nathanleclaire commented on #537
@databus23 No problem, just checking in.

[2015-07-07 17:41] mchiang0610 opened #1485 "Deleting machine VM shows machine does not exist but then shows successfully removed."
Manually removed the machine VMs, and it first outputs an error regarding machine does not exist but then proceed to remove it.

[code]

[2015-07-07 17:54] jamshid commented on #1030
I think being able to specify multiple `--tls-san` when creating machine or regenerating certs covers my use case, so I think https://github.com/docker/machine/pull/1228 resolves this.

[2015-07-07 17:54] #1030 closed

[2015-07-07 18:16] chouclee commented on #1372
@nathanleclaire  Oh, I didn't realize we already could do that.

[2015-07-07 18:16] #1372 closed

[2015-07-07 18:28] nathanleclaire commented on #809
I can duplicate this and want to get a fix in ASAP.

[2015-07-07 19:02] gotascii commented on #640
I think this is still happening. If you look at [where the endpoint creation method is called](https://github.com/docker/machine/blob/master/drivers/azure/azure.go#L245) and [the method that handles endpoint creation](https://github.com/docker/machine/blob/master/drivers/azure/azure.go#L408-L426) it appears that the only endpoint port that is ever created is for `d.DockerPort`. Something along the

[2015-07-07 20:24] donnex commented on #1460
@frapposelli Ah, sweet, let's hope it gets fixed.

Could that problem also explain the corrupted files? I was able to reproduce the corrupted files in a similar way as the previous one with files not updating.

If you start with a large index.html, I added ~1000 lines of lorem ipsum. Then add a word to search for at the end of this file, I used ENDING. As far as I can tell the file get corrupted i

[2015-07-07 20:42] abest0 commented on #1437
:+1:  To what @sjwhyte is seeing.

@nathanleclaire this seems to have been working until recently, are there any know workarounds?

Thanks

--a

[2015-07-07 20:57] adambiggs opened #1486 "VMware Fusion: Can't start VM"
Machine `0.3.0 (0a251fe)`
Docker `1.7.0, build 0baf609`
VMware Fusion `7.1.2 (2779224)`
OSX `10.10.4`

I have no idea what happened, but starting today I can no longer boot VMware Fusion machines. I tried creating a new VM but it always stalls when trying to start:

[code]

Oddly, Machine lists the new VM as "Stopped", but it doesn't show up in the VMware Fusion GUI like it usually does.

[2015-07-07 21:15] adambiggs commented on #1486
The VM also won't boot when opening `test.vmx` manually from the Fusion GUI.

[code]

[2015-07-07 21:20] adambiggs commented on #1486
I tried multiple reboots and a complete uninstall/reinstall of Fusion... But the problem remains.

[2015-07-07 21:21] dave-tucker commented on #1412
Also :+1:, this happens only when the VM is in the "Saved' state.
Workaround is to go to the VirtualBox UI, right click the VM and select "Discard Saved State"

[2015-07-07 21:22] sjwhyte commented on #1437
Actually this is my fault. I did not have my Internet Gateway configured to allow traffic to the VPC for SSH, so it was blocked.

[2015-07-07 21:22] #1437 closed

[2015-07-07 21:38] nathanleclaire commented on #1412
I have https://github.com/docker/machine/pull/1487 in the pipe for this.

[2015-07-07 21:38] nathanleclaire commented on #809
https://github.com/docker/machine/pull/1487

[2015-07-07 21:40] ruffsl commented on #661
+1 I ran into this today too.

[2015-07-07 22:11] nathanleclaire commented on #1483
Yeah, I agree it's bad.  I think we want to move to having a file on master in boot2docker/boot2docker which we update per-release to check instead of using the API.

[2015-07-07 22:31] cglewis opened #1488 "Proposal: allow `ls` to filter by `name` and allow wildcards/regex"
Original idea started in #1283, but opening new one to show how the proposal has changed.

@hairyhenderson thanks for the examples :+1:

Current setup:
[code]
You can filter on driver, state, or swarm. But not on name.

Proposed additions:
[code]

Additionally, it would be super awesome to be able to do wildcarding or basic regex like so:
[code]

I'm not exactly sure what the best format would be

[2015-07-07 22:54] #809 closed

[2015-07-07 22:54] #1412 closed

[2015-07-08 01:14] mdub commented on #1031
I'm having the same problem here, with:

* VirtualBox 4.3.28
* docker-machine 0.3.0
* docker (client) 1.7.0 (in case that matters)

I've removed all existing VMs, and host-only networks:

[code]

and cleaned out existing docker-machine state:

[code]

But `docker-machine create ...` still hangs:

[code]

[2015-07-08 01:24] mdub commented on #1031
More info: the SSH command that is "failing" appears to work fine when run from the command-line:

[code]

[2015-07-08 02:12] difro commented on #1481
same error happens on google-cloud driver.
[code]

[2015-07-08 02:57] difro commented on #1481
prepending ```LC_ALL=C``` seems to fix the issue.
```LC_ALL=C docker-machine create --driver digitalocean ....```

I believe the culprit is this line in my host's ```/etc/ssh/ssh_config```.
```    SendEnv LANG LC_* ```

[2015-07-08 06:19] abest0 commented on #1437
@sjwhyte... Bonehead mistake on my part.  After deleting a working VPC and then recreating it, it turns out that I too did not have an Internet Gateway set.  Thanks for the follow up...it showed me the error in my ways.

[2015-07-08 07:48] tonivdv commented on #1412
Thanks @nathanleclaire

[2015-07-08 09:27] jstclair commented on #1441
@yeyan Note I did get it to work with `--shell sh`

[2015-07-08 10:14] myfear opened #1491 "creating "bridged" or "host-only" vm's with machine?"
I was wondering, if anybody can point me to an instruction how to create a vm with either a bridged or a host-only eth0 NIC on the host.

Creating a standard machine with "docker-machine create --driver virtualbox mymachine" and changing Adapter 1 to bridged or host-only doesn't work afterwards. (Which totally makes sense to me).

In some scenarios, I'd actually love to have the docker machine vm

[2015-07-08 10:34] fgimian opened #1492 "Is there a way to create a machine but NOT start it?"
Hey there guys, great work on docker machine :smile:

Forgive me if this is totally obvious and I've missed it, but is there any way at all to create a machine but not start it automatically?

The reason I wish to do this is because I've automated the creation of my machine via Ansible but don't want the VM started, just created for later use.

Thanks
Fotis

[2015-07-08 13:27] ehazlett commented on #1492
Hey thanks!  Right now machine requires the host to be running to provision.

[2015-07-08 13:27] #1492 closed

[2015-07-08 13:28] fgimian commented on #1492
Aah, gotcha.  Thanks for the quick reply :smile:

[2015-07-08 14:33] rhardih commented on #1177
I'm seeing the same issue. Fusion 7.1.2 and docker-machine 0.3.0. I can't start the vm afterwards, since the vmdk never get's created:

[code]

[2015-07-08 14:34] frapposelli commented on #1177
@rhardih please run a create with `-D` and post the output.

[2015-07-08 14:40] rhardih commented on #1177
[code]

[2015-07-08 15:07] kung-fu-tzu commented on #1460
Related discussion at vagrant: https://github.com/mitchellh/vagrant/issues/2533
And a maybe working solution: https://github.com/mitchellh/vagrant/issues/2533#issuecomment-42606883

[2015-07-08 15:37] sjwhyte commented on #1437
That is exactly what I did, delete and recreate and forgot to reset internet gateway.

[2015-07-08 16:03] InfoSec812 commented on #1491
Agreed! +1

[2015-07-08 17:34] adambiggs commented on #1486
Finally got this working again after trying a bunch of stuff... I'm not 100% certain but I think it was fixed after repairing my disk permissions.

[2015-07-08 17:34] #1486 closed

[2015-07-08 17:36] lookfirst commented on #673
I just ran into this yesterday. Ran @eddietejeda fix above and that worked. I stopped everything. Today, I go and start everything back up. Same problem again. Seems kind of bad to have to constantly rebuild b2d every time I want to use it.

I have b2d 1.7.0 installed via brew on OSX 10.10.4.

[2015-07-08 17:38] adambiggs commented on #1460
I came across this thread which also seems relevant: https://communities.vmware.com/thread/498273

[2015-07-08 17:49] ruffsl commented on #584
Having the same issues as @timothyclifford .
[code]

[2015-07-08 18:22] usmanismail commented on #1445
@nathanleclaire Cool, is there an ETA for when you can review the PR.

[2015-07-08 19:56] fivetanley commented on #1177
Same here, just built master. Same output with -D as @rhardih.

Here's my `.vmx` file if that helps. https://gist.github.com/fivetanley/08eaa2b216611742da68

Running OSX Yosemite 10.10.4, VMWare fusion 7.1.2, Docker Machine 0dc1d417ace97ec6c55e5b68aa567d9b4b251b4e

[2015-07-08 19:58] fivetanley commented on #1177
After uninstalling and reinstalling VMWare fusion, I'm seeing this message:

`VixDiskLib: Invalid configuration file parameter. Failed to read configuration file.`

Going to start reading the docker-machine code to try and find that.

[2015-07-08 20:01] frapposelli commented on #1177
The VixDisk message is normal, if that appears the vmdk should be present,
can you check that for me?

On Wednesday, July 8, 2015, Stanley Stuart <notifications@github.com> wrote:

[2015-07-08 20:07] fivetanley commented on #1177
I think this is a binary file, but here's what I was able to screenshot. The rest of the file seems to look like the stuff at the bottom (too big to gist) http://drif.tt/1NP5eWl

![](https://dl.dropboxusercontent.com/s/q9o4654a8zei2gi/2015-07-08%20at%203.06%20PM.png)

[2015-07-08 21:10] fivetanley commented on #1177
I found out `/var/log/vnetlib` is a thing, here's a line that's repeated a lot:

`Jul 08 16:02:28 VNLAdapterStatus - ioctl: SIOCGIFFLAGS failed, error: Device not configured`

[2015-07-08 21:13] jayfk commented on #1061
@DazWilkin Can this be limited to only authenticate for the google compute engine, or is this a global authentication mechanism for the whole google account?

[2015-07-08 21:18] nathanleclaire commented on #1412
:+1:

[2015-07-08 21:27] frapposelli commented on #1177
The VMDK looks normal, after you reinstalled Fusion are you still not able
to create a machine correctly?

On Wednesday, July 8, 2015, Stanley Stuart <notifications@github.com> wrote:

[2015-07-08 21:57] fivetanley commented on #1177
Correct. This happened after I upgraded to master of the latest docker-machine. Can't get vagrant to work either. I tried rebooting, updates, etc. If there's anything else I can try or find for you that might help, I'm happy to oblige. Thanks for responding and helping!

[2015-07-08 22:57] DazWilkin commented on #1061
A Google account is authenticated against all Google services but the authorization is constrained by the use of scopes. It's possible to authorize only for Compute Engine and then for read-write<sup>1</sup> or read-only<sup>2</sup> on Compute Engine methods:

<sup>1</sup>https://www.googleapis.com/auth/compute
<sup>2</sup>https://www.googleapis.com/auth/compute.readonly

I suspect, the scopes sho

[2015-07-09 07:28] zephiransas commented on #964
I have the same issue.
docker-machine create and launch ec2 instance, but instance will stopped automatically.
It looks, docker-machine is hangging until connecting to ec2.

FYI...

[2015-07-09 09:15] frapposelli commented on #1177
@fivetanley if Vagrant doesn't work as well I suspect you have a botched install of some sort, have you tried running the uninstaller tool for Fusion, reboot, and reinstall from the DMG?

@rhardih seems like you have a similar problem as @fivetanley, you seem to miss the VMDK creation part from your log, can you double check if your Fusion install is kosher? also check if `/Applications/VMware\ Fu

[2015-07-09 09:24] stephanbuys commented on #1319
@nathanleclaire I would propose the ability to simply pass through an environment variable during machine `create`, currently the Docker Engine works fine with proxies if the environment is configured before the engine is started (usually as part of the init script or something like /etc/default/docker).

How about something like `docker-machine create -d virtualbox --engine-env HTTP_PROXY=http://

[2015-07-09 11:36] rhardih commented on #1177
@frapposelli It's kosher, but I install it through Homebrew Cask, so `/Applications/VMware\ Fusion.app/Contents/Library/vmware-vdiskmanager` doesn't exist, but rather:

[code]

I guess this path isn't autodetected then?

[2015-07-09 11:40] frapposelli commented on #1177
@rhardih nope, it's not autodetected yet, it's a pending change I'm working on (there's another issue open for that #685).

In the other issue thread I've seen people using a workaround (symlink to /Applications) that apparently works, but at this moment the only supported way to use Fusion is through regular install from the .dmg inside /Applications

[2015-07-09 11:55] hairyhenderson commented on #1319
@stephanbuys - that's definitely part of it, but when a proxy is required usually it's needed for installation as well, so it's not just an engine-specific environment variable - it needs to be set in other places too.

I definitely think there's a place for a general  option like `--engine-env`, but the scope for `--proxy` is slightly wider IMO.

[2015-07-09 12:12] rhardih commented on #1177
Ah, I see. Yes that is the exact issue I'm having then. +1 for autodetection :)

[2015-07-09 12:33] berinle commented on #1177
@frapposelli, currently on vacation with no access to my computer. I'll verify this once I get back. Thanks

[2015-07-09 13:31] methane commented on #1387
VirtualBox 5.0 is released.

[2015-07-09 14:58] jitakirin opened #1495 "docker service not enabled on debian"
docker-machine creates an ``/etc/systemd/system/docker.service`` file that contains only ``[Service]`` section, this causes the following error later when it runs ``systemctl enable docker``:

[code]

Which results in docker service not being enabled to start on boot.

I think overriding the entire service file shouldn't be needed, machine could re-use the service settings that the lxc-docker pack

[2015-07-09 15:14] herrtreas commented on #1484
Could be related to the region as well. The same thing that fails on ````eu-west-1```` successfully completes on ````us-east-1````

[2015-07-09 16:33] zongzhankui commented on #122
You can read this article: http://cxwangyi.github.io/notes/2015-01-13-docker-pitfalls.html

[2015-07-09 16:35] donbora commented on #742
Getting the same issue on Windows 7 Enterprise SP1 & Boot2Docker.

docker-Machine is able to create VirtualBox VMs but does not seem to be able to create certs. (tried twice dev & dev1)
$ docker-machine ls
NAME   ACTIVE   DRIVER       STATE     URL                         SWARM
dev             virtualbox   Running   tcp://192.168.99.100:2376
dev1            virtualbox   Running   tcp://192.168.99.

[2015-07-09 16:49] c3c commented on #1387
Also experiencing this problem with the latest docker release.

[2015-07-09 17:45] nathanleclaire commented on #1387
Hey all, I've submitted a fix here: https://github.com/docker/machine/pull/1496 Sorry for any inconvenience in the meantime.

[2015-07-09 17:58] udryan10 commented on #1319
@ehazlett have you gotten a chance to do any work on this? If not, I just about have a PR ready that I can submit. In my fork I added the following flags as I thought it made the most sense:

[code]

I agree with @nathanleclaire that automatically pulling from environment variables is an automatic behavior that may create some undesirable results. ie.. I may be running my localhost with a proxy bu

[2015-07-09 17:58] nathanleclaire commented on #1319
@udryan10 I haven't had a chance to work on this and I don't think @ehazlett has either so we welcome the contribution!

[2015-07-09 18:33] alexisvincent commented on #1460
I remember there being an issue with virtual box and parallels not handling sendfile correctly. This lead to a host of issues. Could a similar thing be happening here?

[2015-07-09 19:04] luongnv89 commented on #673
[code]

This also worked for me! Just notice that I have to open new terminal window (to reset the DOCKER_ environment variables if you have set them before).

Thanks!

[2015-07-09 23:26] Oliboy50 commented on #1374
I'm still hoping for this to be handled in order to use Docker Machine on my remote server :octocat:

[2015-07-10 06:38] zeleznypa opened #1498 "Unable to work with Virtualbox 5"
Today the Oracle announce, that new version of [Virtualbox](https://www.virtualbox.org) is released. Unfortunately this version is incompatible with docker-machine. Previously builded virtualbox instance won't start by `docker-machine run dev` and exit with code 1. Same when creating new instance

[code]

[2015-07-10 08:02] chouclee opened #1500 "docker-machine env xxx hangs forever"
The machine is running, and I could use `docker-machine ssh xxx` login that machine.
But `docker-machine env xxx` hangs forever. The debugging output said the "host is down". But
`docker-machine ls` gave me
"NAME       ACTIVE   DRIVER       STATE     URL                         SWARM
dev-test            virtualbox   Running   tcp://192.168.99.100:2376   "

possible related issue: https://github.co

[2015-07-10 12:51] sjwhyte commented on #1485
@mchiang0610 The *"machine does not exist, assuming it has been removed already"* is checking the VM to see if it exists and the *"Successfully removed dev"* removes the the local files in $USER/.docker/machines. If the VM that docker-machine creates is deleted from within the VM tools, you will gets this behavior. You may also want to add the force option (-f, --force to the rm) to guarantee comp

[2015-07-10 12:52] sjwhyte commented on #1478
@mchiang0610 see my comment in your other issue https://github.com/docker/machine/issues/1485

[2015-07-10 15:44] ggiamarchi commented on #1461
Passing scheduler hints to Nova is relevant for any Nova client that create instances, so i agree. This is definitely a must have feature.

[2015-07-10 16:38] gkze commented on #1498
:+1: bump, running into this as well

[2015-07-10 17:50] nathanleclaire commented on #1498
A fix for this has been submitted at https://github.com/docker/machine/pull/1496

[2015-07-10 18:10] nathanleclaire commented on #1266
Update:  I may have been a bit hasty.  I think that the "good" SSH failures (testing if SSH is up / working) are largely exit code 255, so perhaps the proposed solution in my PR might work OK for now.

[2015-07-10 19:39] UserTaken commented on #773
Something I would be concerned about with a declarative file is the handling of sensitive information. Presumably someone would want to check their config into version control and I've seen too many horror stories of people being charged hundreds of dollars due to bots constantly scanning GitHub and other sites for API keys. Possible solutions include taking the key from shell environmental variab

[2015-07-10 20:36] saurabh-g opened #1502 "Docker machine panics when 'ls' is run with invalid filter params"
Steps to reproduce:
`docker-machine ls --filter random`

Expected Output:
[code]
Actual Output:
[code]

[2015-07-10 20:54] hairyhenderson commented on #773
@UserTaken - very good point. If we take a cue from `docker-compose.yml`, then we could use an [`env_file`](http://docs.docker.com/compose/yml/#env-file) property, which enables users to keep secrets in files but out of source control. Obviously, that adds an extra step in CI builds since secrets need to be written to temporary files, then deleted from those files.

[2015-07-10 21:16] thaJeztah commented on #773
Handling of secrets still is a hot topic. If an env-file is supported, tools such as [HashiCorp Vault](https://www.vaultproject.io/), [Keywhiz](http://square.github.io/keywhiz/) or [Sneaker](https://github.com/codahale/sneaker) could be useful.

Also, I requested the Docker security maintainers to write up their thoughts / recommendations here; https://github.com/docker/docker/issues/13490

[2015-07-10 22:01] pedroxs commented on #1500
I have similar issue with windows 7 OS. here is a [gist](https://gist.github.com/pedroxs/f353346d84c8dfa38a80) of the log file.

[2015-07-10 22:08] #1495 closed

[2015-07-10 22:48] andrewshawcare commented on #1498
For anyone who comes across this issue and wants docker-machine up again before the issue is resolved (and are using brew cask to manage VirtualBox):

1. `brew cask uninstall virtualbox`
2. `brew cask install virtualbox43691406`

[2015-07-10 22:57] nathanleclaire commented on #773
To be clear, in terms of secrets such as API tokens which might be needed in such a `docker-machine.yml` file, I would like to support either inheriting them from the environment or keeping them in some other secondary "var" file which is deliberately meant to be kept out of version control.  Either way, we should actively discourage having them in whichever file is meant explicitly to be checked

[2015-07-11 00:02] nathanleclaire commented on #1330
:+1:

[2015-07-11 00:03] nathanleclaire commented on #1330
`docker-machine provision` ?  It would also allow to bootstrap swarm based on the settings for that machine after a restart and so on.

[2015-07-11 00:13] indygreg commented on #531
Disabling security (`--tlsverify=false`) should never be a recommended workaround.

A workaround that works for me is `boot2docker ssh 'sudo /etc/init.d/docker restart'`, which will cause Docker to generate a new x509 certificate valid for `boot2docker` in addition to other IP addresses. Please try that before turning off security features.

[2015-07-11 02:51] sergiobuj commented on #1471
I was just looking for a way to easily get the status of a machine. I can help with this.

[2015-07-11 04:44] heidsoft opened #1505 "machine是什么？它能为数据中心带来哪些便利"

[2015-07-11 05:14] ericsage commented on #1502
I think there should be an explicit error here since the syntax is incorrect.

[2015-07-11 08:48] robertwe opened #1509 "Not able to expose ports via EXPOSE or -p switch"
hi everyone,
Im using latest *docker-machine* (0.3 HEAD) with boot2docker.iso (v.1.7.0) and VirtualBox 4.3.28 r100309
I recently created docker machine like this:
[code]

Everything seems to be fine but check this out:
https://www.dropbox.com/s/dg7rlljvfftokfi/Screenshot%202015-07-11%2010.37.35.png?dl=0

No matter what port I would like to *EXPOSE* it simple does not work.
I got same issue if I us

[2015-07-11 09:23] thaJeztah commented on #1505
Using google translate;

I think the best point to start is the documentation here; https://docs.docker.com/machine/

(please note that the GitHub issue tracker is for tracking bugs and feature requests, not for general questions)

[2015-07-11 12:00] robertwe commented on #1509
Looks like I found it.
my docker client was in version 1.6 .
Additionally we can read  [here](https://docs.docker.com/reference/builder/)
`Note: EXPOSE doesn’t define which ports can be exposed to the host or make ports accessible from the host by default. To expose ports to the host, at runtime, use the -p flag or the -P flag.`

So it looks like everything is fine :). Sorry for bother you guys.

[2015-07-11 12:00] #1509 closed

[2015-07-11 17:29] lkalaivanan commented on #1301
+1

I am experiencing the same issue...

Docker Machine version : docker-machine version 0.3.0 (0a251fe)
---------------------------------

Command used:
----------------------

docker-machine -D create --driver amazonec2 --amazonec2-access-key <my-access-key> --amazonec2-secret-key <my-secret-key> --amazonec2-vpc-id <my-vpc-id> --amazonec2-zone b --amazonec2-region us-west-2 <name>

Output :
----

[2015-07-11 20:26] CpuID commented on #1500
I am noticing "docker-machine env machinename" hang a lot also, especially when it is in my ~/.profile, causes new terminals to hang and not start 50% of the time approx. Currently just ctrl+c'ing the new tab shell, and spawning another one 2 seconds later tends to do the job.

Difficult to reproduce in a new/active terminal, tends to be far more often when spawning a new one.

OSX 10.10.4, Docker

[2015-07-11 22:03] CpuID opened #1510 "Docker machines created require a password for SSH (fail to create completely), makes docker-machine commands interactive (docker-machine HEAD)"
Using VirtualBox 5.0 on OSX 10.10.4, with the Boot2Docker 1.7.0 image, cannot access newly created Docker machines.

[code]

(Note - I had built locally with https://github.com/docker/machine/pull/1496 applied to get it working with VirtualBox 5.0, being that has not been merged yet)

(docker-machine -D create output further down)

After creating, it hangs on "Starting VM...", when I ctrl+c it and

[2015-07-12 01:51] #1387 closed

[2015-07-12 02:33] #936 closed

[2015-07-13 03:12] CpuID commented on #1510
Just tested rolling back to VirtualBox 4.3.26 and docker-machine 0.2.0, similar issue. Possibly an issue with boot2docker 1.7.0?

[2015-07-13 03:25] CpuID commented on #1510
Have done some more testing, I suspect this was all related to a badly configured ~/.ssh/config re PasswordAuthentication and PubkeyAuthentication values. Closing for now.

[2015-07-13 03:25] #1510 closed

[2015-07-13 05:03] jcmoore commented on #1328
+1

I would love to be able to quickly reconnect to cloud instances (I'm using GCE) that already exist.

Certainly having importable/exportable configs would be very useful, but I wonder if (additionally) addressing the issue as a driver concern might not yield a simpler user experience.

That way, using the google driver, one could connect to an existing instance on an alternate computer simply b

[2015-07-13 08:03] jcmoore opened #1511 "Proposal: pass driver-specific flags to subcommands other than "docker-machine create""
Certain subcommands (`rm`, `ls`, etc.) may need authentication credentials depending on what driver was used to create the relevant machines -- this is at least the case for the google drive and I suspect it is true for other cloud drivers.

Being able to pass useful driver configuration into subcommands other than `create` could greatly simplify their use.

EDIT:

I'm working towards a PR here --

[2015-07-13 08:06] orangeudav commented on #1500
I have same issue with strange exit status 255
[code]

[2015-07-13 12:55] yexingok opened #1513 "docker machine 0.3.0(0a251fe) amazonec2 driver cannot run in AWS China(cn-north-1)"
Hi Forks,

I notice when use docker-machine to launch machine in AWS China the endpoint is not right, the error message is:

'''client encountered error while doing the request: Get https://ec2.cn-north-1.amazonaws.com/?Action=DescribeKeyPairs&Version=2014-06-15: dial tcp: lookup ec2.cn-north-1.amazonaws.com: no such hostError creating machine: Problem with AWS API call: client encountered error w

[2015-07-13 13:23] odedpr commented on #1455
Hi,

I also got this issue,

I ran this command
<docker-machine create docker -d virtualbox --engine-opt bip=10.20.0.0/16>

[2015-07-13 13:48] blaggacao commented on #179
Windows, rsync and the fswatch problems: In order to reduce hooping through github issues, i reference explicitly:
https://github.com/boot2docker/boot2docker-cli/issues/66#issuecomment-120675231

In a nutshell, for serious development you need the inotify (or corresponding) functionality to work. [fswatch](https://github.com/emcrisostomo/fswatch) implements an intersting library, but which does no

[2015-07-13 15:10] jingweno opened #1514 "Heroku driver"
Would it make sense to add a Heroku driver as part of `docker-machine`? I could contribute if it's desirable :smile_cat:

[2015-07-13 16:35] tarun6006 commented on #652
i'm facing same issue for docker machine, please redirect to the solution @ehazlett

[2015-07-13 16:42] skaegi opened #1515 "Unable to download boot2docker iso from github"
On Windows 7 using docker-machine 3.0
- tried both behind corporate firewall and also via my phone data connection which should be proxy free

I was trying to reset my docker-machine install and removed my <username>/.docker folder and then ran...

C:\dockdockgoose>docker-machine create -d virtualbox dev
Creating CA: C:\Users\<username>\.docker\machine\certs\ca.pem
Creating client certificate: C:\

[2015-07-13 16:46] bfirsh opened #1516 "--virtualbox-import-boot2docker-vm could default to boot2docker-vm"
Could this:

[code]

just be this?

[code]

[2015-07-13 17:19] moxiegirl opened #1517 "Add a blog/docs about supported iso's / direction to release note documentation"
* Distribution of ISOs --- boot2docker based on Debian (sic)

ping @ehazlett can you make sure this issue description is correct.   We should add this statement to the release notes as well

[2015-07-13 18:44] nireak commented on #1386
@nathanleclaire thank you for your answer.

I think the best option would be a generic flag that works for all providers. The default ssh-user should be the same (root, perhaps) for all providers. If not, portability would be problematic.

[2015-07-13 18:56] smo921 commented on #1031
Resolved this on my instance after finding another post pointing at ssh_config changes that may be needed (https://github.com/docker/machine/issues/878).  I had a block in my users .ssh/config file for 'Host *' that I commented out and docker-machine is working as expected now.  You may want to look at your .ssh/config or /etc/ssh_config file.

[2015-07-13 18:57] jeffbrl commented on #1443
I've been studying the docs for VBoxManage. I don't see a way to determine a successful boot. Failure to ping is one indicator; however, there could be other reasons why the network stack isn't working.

[2015-07-13 19:58] hairyhenderson commented on #1514
@jingweno - does Heroku expose a Docker engine API? I wasn't aware of this :)

[2015-07-13 20:16] jingweno commented on #1514
Does `docker-machine` require a Docker engine running? I'm wondering we could bridge the command to the [Heroku platform API](https://devcenter.heroku.com/categories/platform-api)?

[2015-07-13 21:20] arun-gupta opened #1518 "Machine state not preserved across reboots"
Created a couple of machines as:

[code]

Restarted the host machine, and now the status is shown as:

[code]

State of the machine is not preserved across host reboot.

[2015-07-13 21:27] nathanleclaire commented on #1516
I don't think it's very common to have your boot2docker VM named anything else, so I was in favor of doing it this way (`BoolFlag`), but it is true that it _could_ be named something else.  Maybe we could default the flag to `boot2docker-vm` and check if is has changed to determine whether or not to proceed with a migration cc @ehazlett

[2015-07-13 22:34] squarism commented on #531
@indygreg solution worked for me.  Many thanks.

[2015-07-14 02:16] skaegi commented on #1515
I noticed that all worked if I disabled Symantec Endpoint Protection the download worked. Scanning through the logs I notice the call to api.github.com was blocked. Digging deeper and trying to understand why.

[2015-07-14 03:33] skaegi commented on #1515
All I can think is that I may have been a couple of shells down and was somehow not asked if I would like to allow docker-machine to make the request. Anyway the short answer is I unblocked docker-machine and all is good. (Closing)

[2015-07-14 03:33] #1515 closed

[2015-07-14 04:19] mdub commented on #1031
Great tip, thanks @smo921!  Indeed, I had the following in my `~/.ssh/config`:

[code]

and removing them solved the problem.

The solution I settled on was to explicitly override those defaults for "localhost":

[code]

[2015-07-14 05:17] chantra commented on #1500
I am able to reproduce this issue on MacOSX for the virtualbox driver. The issue typically happens when the route to the private network is missing (the one used by docker cli).
In my case, one of the reason I suspect this route is missing is because I am using a VPN that tends to mess up with priv network routes. A fix to this is to run something along:
[code]
Where `192.168.99.0/24` is the netwo

[2015-07-14 05:18] generalov commented on #1031
@arthurk, +1

Removing the adapter with 192.168.99.1 address helps me too.

[2015-07-14 07:54] broxio commented on #673
@sbanal It's work for me to on OSX too.

MBP:~ cook$ docker version
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): darwin/amd64
Server version: 1.7.0
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 0baf609

Thanks , saving ton of hours.!

[2015-07-14 08:52] hheimbuerger opened #1521 "Cannot create host-only adapter with VBox 5 on Windows 10 (using administrative shell)"
Environment:
 * Windows 10 build 10162 (basically the RC1)
 * VirtualBox 5.0 (final)
 * docker-machine latest as of 2015-07-13 (downloaded from the [nightly builds](https://docker-machine-builds.evanhazlett.com/latest/), because VBox 5 needs [this fix](https://github.com/docker/machine/commit/8089e222c36aaeaee127e5f919d348b51d180b9c))

In an administrative command prompt (`Win-X -> Command Prompt

[2015-07-14 11:57] frapposelli commented on #1450
@marcuslinke can you please test my PR #1522 and see if you still have the same problem? the PR is a complete rewrite and doesn't require `govc` at all.

[2015-07-14 18:52] #1298 closed

[2015-07-14 21:39] abronan commented on #806
@nathanleclaire Entries in the K/V are deleted after TTL expiration (nodes are removed from the discovery). So if the IPs are changing, the store will reflect the state of the cluster correctly after a stop/restart (on EC2 for example). Still you might expect old entries to be listed for a bit of time until their TTL expires (If you have 3 machines, expect to have 6 of those listed even though old

[2015-07-14 22:00] nathanleclaire commented on #1521
Thanks for reporting this issue.  I'll look into it.

[2015-07-14 22:41] ehazlett commented on #1301
Would you mind listing the permissions the account has with that key?

[2015-07-15 03:04] erichonkanen opened #1523 "Starting saved machine not working in Virtualbox"
I have a machine that is in the saved state and I cannot restart it. When I do `docker-machine -D start mymachine`, I get error I pasted at bottom of this:

https://github.com/boot2docker/boot2docker-cli/issues/292

[2015-07-15 04:56] Sukumi commented on #1430
same problem for me except that msysgit 1.9.5-preview20150319 fails also with the same message.

docker-latest.exe OK from https://get.docker.com with available cert.
docker-machine_windows-amd64.exe FAILED from https://s3.amazonaws.com with missing cert

The latter gets its binary from AWS and ther cert is no available

[2015-07-15 09:10] gi4nks opened #1524 "Fail on creating dev virtualbox machine on ubuntu"
Hi all,
I am trying to create a new dev machine in ubuntu but i am getting an error.

Environment
Ubuntu: 15.04
VirtualBox:  Oracle VM VirtualBox Command Line Management Interface Version 5.0.0

Running command:
```$ docker-machine -D create -d virtualbox dev```

I am getting following error:

[code]

Thanks

[2015-07-15 09:45] jonatanblue commented on #1274
I got the same error:

    docker-machine create --driver virtualbox dev
    No default boot2docker iso found locally, downloading the latest release...
    Error creating machine: Get https://api.github.com/repos/boot2docker/boot2docker/releases: dial tcp: i/o timeout
    You will want to check the provider to make sure the machine and associated resources were properly removed.

I was able to re

[2015-07-15 11:20] jjperezaguinaga commented on #1301
+1 Same here, although in my case it I do manage to be able to create the instance.

[code]

However, after that it just hangs trying to connect to the SSH service (I'm using an AMI template, when booted normally I have no issues SSH'ing to it). Security policy and VPC is set up properly (port 22 inbound open).

[code]

Command used was:

[code]

[2015-07-15 13:49] ekristen commented on #1366
Perhaps just a flag to use the `~/.aws/credentials` file or the instance profile to meet in the middle? +1 to the idea though in general.

[2015-07-15 14:16] kadishmal commented on #698
I still have the same issue with docker-machine v0.3.0 on CentOS 6.6.

If I ssh manually I can start docker and use docker normally. However when adding the host to docker machine it exist with an error:

    ....
    Using SSH client type: external
    &{/usr/bin/ssh [/usr/bin/ssh -o PasswordAuthentication=no -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o Log

[2015-07-15 14:20] cmluciano opened #1526 "vmwarefusion ports listed in docker-compose file not opened"
For some reason I cannot get port forwarding to work properly. It seems from the docs that I should be allowed to access any port exposed in my docker-compose file.

Steps to recreate:
- Create machine ```docker-machine create --driver vmwarefusion demo```
- Run ```docker-compose up -d``` with this file https://github.com/dontrebootme/compose-mesos
- Change the microbot_v1.json to this https://gis

[2015-07-15 14:20] ehazlett opened #1527 "switch to use repo for rpm"
Refs https://github.com/docker/docker/pull/13680

[2015-07-15 14:58] jjperezaguinaga commented on #1437
So initially issue #1301 brought me here, and I thought as well that it was something related to our VPC or security groups... until the machines started to stop by themselves. A colleagued pointed this out and after fiddling we found out that an additional volume showed up in the EC2 dashboard (`sda1`, most likely from [here](https://github.com/docker/machine/blob/master/drivers/amazonec2/amazone

[2015-07-15 17:33] jamshid opened #1529 ""/etc/init.d/docker restart" fails to start service"
Just did a `brew update && brew upgrade` to docker 1.7.1 / docker-machine 0.3.0, created a machine with `docker-machine create --driver virtualbox test`. I then `docker-machine ssh test` and try to `restart` the docker service but it outputs message about needing certs and the `docker` client no longer works ("Cannot connect to the Docker daemon").

I can restart fine with `docker-machine restart

[2015-07-15 17:39] jamshid opened #1530 "FYI 1.7.1 seems buggy with old machines"
I just had a heck of a time getting my 1.7.1 upgraded machine working (originally created under docker 1.6 or probably earlier). The `docker` client when ssh'd into the machine wasn't working, complained `Cannot connect to the Docker daemon. Is 'docker -d' running on this host?`. I could see the service running as:
```root       834  0.5  0.8 1779296 42768 ?       Sl   16:13   0:16 /usr/local/bin/

[2015-07-15 17:44] nathanleclaire commented on #698
@kadishmal Hm, as far as I know the CentOS support in Docker Machine is for versions >=7.

[2015-07-15 21:17] inkel commented on #1500
I've tried @chantra's solution but didn't do the trick, `docker-machine` still hangs when in a new shell with any subcommand. Interrupting with `^C` and trying again works, though.

[2015-07-15 21:50] nathanleclaire commented on #1500
Hi all, anyone who is encountering this issue, one of the possible issues at play is that the Docker daemon is not running.

Can you please try / paste the output of the following commands (this is for VMs running boot2docker):

[code]

Thanks!

[2015-07-15 22:00] inkel commented on #1500
@nathanleclaire when I try to run that command, it hangs here:

[code]

Once if finishes (if it ever does) I'll paste what's next.

[2015-07-15 22:01] nathanleclaire commented on #1500
@inkel Hm, it should run pretty much right away if it's going to succeed, so if it takes more than a few seconds something's wrong.

[2015-07-15 22:03] inkel commented on #1500
It just finished with:

[code]

It took definitively more than a few seconds. I'm running again with `time` to see how much.

[2015-07-15 22:09] inkel commented on #1500
[code]

[2015-07-15 22:12] nathanleclaire commented on #1500
If you run `/usr/bin/ssh -vvv -o PasswordAuthentication=no -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAttempts=3 -o ConnectTimeout=10 -i /Users/inkel/.docker/machine/machines/dev/id_rsa -p 54973 docker@localhost sudo /etc/init.d/docker restart` from the CLI on its own, what do you get?

[2015-07-15 22:14] kl2848 opened #1531 "failed to start boot2docker"
I have tried to download boot2docker v1.7.1. I stry to start boot2docker and i get an error that I failed to connect with 192.30.252.136. How are the proxy connections configured for IE.

Thanks

[2015-07-15 22:14] inkel commented on #1500
[code]

[2015-07-15 22:28] inkel commented on #1500
I think I've made a mistake with my previous comment, this is the right output:

[code]

[2015-07-15 22:35] inkel commented on #1500
Mmm... after a few minutes, the following appeared on my screen:

[code]

[2015-07-15 22:44] nathanleclaire commented on #1500
@inkel Odd.  Do you have a VPN or any unusual setup as far as your network goes that you can think of?

[2015-07-15 22:47] inkel commented on #1500
No, not that I can think of. A few days ago I was still using `0.1.0` and worked perfectly, then updated to `0.3.0` and it started to worked funky as currently. I've another coworker, @fsaravia, who's suffering the same issue.

[2015-07-15 23:03] kudos commented on #1498
@andrewshawcare you also need to `brew tap caskroom/versions` to get older Virtualbox versions.

[2015-07-15 23:59] mikedougherty opened #1532 "Cannot specify --tlsverify=false"
I have some hosts that are swarmed together, and I'm trying to add the master to machine with `-d none`. Everything has worked as expected so far, but the last bit I'm stuck on is that there's no way to specify the equivalent of `--tlsverify=false` or `DOCKER_TLS_VERIFY=`. This is my current workaround:

[code]

Being able to specify this option during creation would be great; just having a field

[2015-07-16 00:00] inkel commented on #1500
@nathanleclaire after talking with my colleague I've found that I was using the following version, 'cause the one in homebrew was giving me this error:

[code]

He is using the latest one, so I deleted that version, `brew install docker-machine` and now seems to work :smile_cat: sorry for the trouble.

[2015-07-16 00:16] nathanleclaire commented on #1500
@inkel Nice, glad you got it working.

[2015-07-16 03:27] pedroxs commented on #1500
I just tried again with the most recent version of docker-machine with no success. I am runing on windows 7 with git shell. All steps and respective outputs are [here](https://gist.github.com/pedroxs/b3cc0e2e3f5dd4433c37).

The out.log file contains the main steps. Then there is a docker-machine-create.log and a docker-machine-env.log

After manually coping the cert files from /var/lib/boot2docker

[2015-07-16 06:28] sakai135 commented on #1521
I'm having the same issue with Windows 10 build 10240 and VirtualBox 5.0. It seems to be a VirtualBox issue though, since just running `VBoxManage.exe hostonlyif create` alone errors.

I have been able to bypass the issue by setting the IP address on the adapter manually to match the `HostOnlyCIDR` value.

[2015-07-16 06:46] hheimbuerger commented on #1521
Yeah, that's similar to how I've been solving it, too.

I'm also having occasional routing errors (the correct routing entries disappear) with the host-only adapter, which might be related to all of this.

[2015-07-16 07:19] yeasy commented on #1221
same problem.
Both --url and -d generic ways do not work.

[2015-07-16 07:20] mimizone opened #1533 "Openstack floating IP not working"
I have issues making work a deployment with the openstack driver when using the openstack-floatingip-pool.
It seems the code behind this option actually uses the wrong Openstack API to get the list of pools.
It uses the exact same function as for listing the networks.

see below here:
https://github.com/docker/machine/blob/master/drivers/openstack/client.go#L189
[code]

or am I doing something wro

[2015-07-16 07:38] henriiik commented on #1521
Thanks for sharing your solution @sakai135, I was having the same problem. :)

I also had to enable DHCP server on the network interface to get it up and running.

[2015-07-16 08:24] linhmtran168 commented on #1524
I encountered the same error with VirtualBox 5.0.0. Switched back to VirtualBox 4.3.0 and problem disappeared.

[2015-07-16 10:12] nsandalov opened #1534 "VBoxManage.exe: error: Unknown option: --synthcpu"
Hello,

I am on Win8.1 with VirtualBox 5.0 and Docker 1.7.1 trying to create VM with:
 docker-machine -D create -d virtualbox dev

output is:

VBoxManage.exe: error: Unknown option: --synthcpu

Error creating machine: exit status 1
You will want to check the provider to make sure the machine and associated resources were properly removed.

There are no logs in the .docker\machine\machines\dev\dev

[2015-07-16 11:27] philwinder opened #1535 "Virtualbox arguments are not used and do not error if passed after machine name"
What I see:
[code]

I would expect that the first command should either use the parameters, or error to say that they haven't been read.

docker-machine version 0.3.0 (0a251fe)

[2015-07-16 11:56] JrCs commented on #1031
I used the docker-machine 0.3.1 and it hang creating the VM on my Mac.
All is working if i remove the ControlXXXX options in my ~/.ssh/config.
It's working because if i don't use ControlXXXX option for the ssh connections the time to connect to the VM is longer.
The problem is from docker-machine that use this options for ssh: **-o ConnectionAttempts=3 -o ConnectTimeout=10** and is too short for t

[2015-07-16 12:11] doxxx commented on #1498
This is working for me with Kitematic 0.7.5 that contains docker-machine 0.3.1-rc1.

[2015-07-16 13:59] nupuragrawal3 commented on #798
Hello,
I am facing the same error even with the subscription account!
Whats wrong?

[2015-07-16 14:21] tgoeke opened #1536 "docker-machine not working behind certificate tampering firewall (severe cert hurt)"
Running an image behind a corporate firewall that hacks the TLS certificate causes "docker run" to fail when pulling the image.

[code]

All attempts to add the corporate certificate to the local machine have failed since docker 1.5.  (Currently using docker-machine 0.3.0 and docker 1.7.1 with VMware Fusion.)

It would be great to have an official procedure or even support for easily adding the co

[2015-07-16 15:02] ehazlett commented on #1535
Thanks for the feedback.  Due to the way the CLI library we use handles the args, you must pass all driver flags before the machine name arg.  Also I'm not sure with the `--` after the machine name arg that we will be able to tell what is a driver flag or not due to the terminator.  Not sure though.

[2015-07-16 15:03] ehazlett commented on #1536
This is probably because it's pulling from the engine and not your local host.  You could try to add them to the engine (Fusion VM).

[2015-07-16 15:04] ehazlett commented on #1534
Thanks for submitting.  This has been fixed in master and is available in the [v0.3.1-rc1](https://github.com/docker/machine/releases/tag/v0.3.1-rc1) release.

[2015-07-16 15:04] #1534 closed

[2015-07-16 15:04] ehazlett commented on #1533
/cc @ggiamarchi

[2015-07-16 15:06] ehazlett commented on #1532
Could you try `--engine-tlsverify=false`?

[2015-07-16 15:07] ehazlett commented on #1531
Can you provide some more detail on the error?  Are you using machine upgrade or just trying to download from your browser?

[2015-07-16 15:09] ehazlett commented on #1530
It's hard to say which version the homebrew is using.  Would you mind trying v0.3.1-rc1 with the latest b2d?  You can get it https://github.com/docker/machine/releases/tag/v0.3.1-rc1

[2015-07-16 15:10] ehazlett commented on #1529
Can you post the version of machine you are using?  (`docker-machine -v`)

[2015-07-16 15:13] ehazlett commented on #1526
If you can run docker containers and connect to port `5050` in the browser then machine has setup the engine properly.  Are you sure all of the containers are starting properly when running compose?

[2015-07-16 15:24] cmluciano commented on #1526
all containers are working and I can deploy things to them, but the ports are not exposed to me on my host machine

[2015-07-16 15:47] matglas commented on #1357
Same problem here. Using version docker-machine version 0.3.0 (0a251fe). Running `docker-machine create --driver generic --generic-ip-address 192.168.1.117 docker-host-1` with a key without passphrase.

Getting:
[code]

[2015-07-16 16:30] chouclee commented on #1500
This issue is really hard to reproduce... After deleting all vmboxnet_x except vmboxnet0 and vmboxnet1, and rebooting the computer (rather than docker-machine), my issue was gone.

[2015-07-16 16:38] tgoeke commented on #1536
Thanks for the suggestion, it's right on, but we already tried that.

To further test the issue, I have a vagrant setup the uses Ubuntu 14.04 to setup a docker environment in VMware Fusion.  We append the corporate certs to "/etc/ssl/certs/ca-certificates.crt", restart docker, everything works (on the same laptop).

I also appended the certs to "/etc/ssl/certs/ca-certificates.crt" on the boot2dock

[2015-07-16 17:27] chouclee commented on #1523
For me, it never works. I always re-create a new machine if it is in `saved` state.
Mac, machine version 0.3.0

[2015-07-16 17:40] ekristen commented on #1429
After having a chat with @ehazlett in #docker-machine, I think it is important to note that this does not have to be a replacement for the default system that is already in place.

The best idea is to require the `cfssl` binary to be available locally and just make it an options. Here are some ideas ...

* `-certificates=(default|cfssl)` (could be named `-pki`)
* `-cfssl-remote=hostname` `CFSSL_RE

[2015-07-16 17:46] mbentley opened #1537 "machine 0.3.1-rc1 panic when running commands"
Environment:
 - OS X
 - Previously running docker-machine 0.3.0; upgraded to `docker-machine version 0.3.1-rc1 (993f2db)`
 - Drivers in use: `amazonec2`, `softlayer`, `virtualbox`, and `none`

I am now getting panics anytime I run any command that reads my `amazonec2` or `none` based configs, such as `docker-machine ls` or `docker-machine ssh <instance-name>`.  I can do a `docker-machine ssh` succ

[2015-07-16 17:53] chantra opened #1538 "Support for vagrant boxes"
`docker-machine` currently come with a virtualbox and vmware driver. As far as I can see, those are mainly focused at provisioning boot2docker.

It would be handy to be able to provision any vagrant boxes, this would allow to provision from vagrant boxes like the ones created by chef's bento project: https://atlas.hashicorp.com/chef making it easier to test/create provisioners.

It looks like the

[2015-07-16 17:57] erichonkanen commented on #1523
@chouclee I was able to use the virtualbox dashboard to power off the machine and then use docker-machine to start it

[2015-07-16 18:13] chouclee opened #1539 "[machine v0.3.1-rc1] error getting machine url: exit status 255"
Please delete this issue.
After re-install docker-machine, problems are gone. Not sure what happened.

[2015-07-16 18:18] chouclee commented on #1523
@erichonkanen I never tried to start it via GUI. I can try your solution next time. Thanks.
 "it never works" I mean by command line `docker-machine start --`.

[2015-07-16 18:25] rynam0 commented on #531
@indygreg saved me as well.  thanks!

[2015-07-16 18:29] mbentley commented on #1537
After doing some comparisons from a newly generated config for `amazonec2` and mine, I am seeing some major differences.  `"HostOptions": {` and `"AuthOptions": {` seem to be the big offenders that are different.  Just in testing, I was able to add some of those lines and I can at least do a `docker-machine ls` with a stripped down config of a single machine but it looks like it is failing to migr

[2015-07-16 18:37] Oliboy50 opened #1540 "[VirtualBox] Machine (or VirtualBox) somehow deactivated host DNS resolution"
I don't even know how this happened in my case, all I know is that my `dev` virtualbox machine (created 3 or 4 months ago) suddently stopped to use my host DNS...

So I ended having DNS issues in my containers... I don't know if this issue could happen to someone else but here is what I did to solve this particular problem:

[code]

BTW, I'm working on Windows 8.1

[2015-07-16 18:44] dave-tucker opened #1541 "Proposal: Virtualbox: Support non-boot2docker images"
As a user, I want to make my "dev" environment as close to my "staging" environment as possible.
Today I use `boot2docker` in dev and when I use Digital Ocean (or another driver) I get an Ubuntu LTS image. I want to use an Ubuntu LTS image with the virtualbox driver as my "dev" environment.

This is particularly important where one is using (or expecting to use) software that requires a specific k

[2015-07-16 19:13] nathanleclaire commented on #1541
:+1:

[2015-07-16 21:13] cyclonebt commented on #1521
I can also confirm this, on Win 10, build 10240
VBoxManage.exe: error: Failed to create the host-only adapter
VBoxManage.exe: error: Code E_FAIL (0x80004005) - Unspecified error (extended info not available)
VBoxManage.exe: error: Context: "enum RTEXITCODE __cdecl handleCreate(struct HandlerArg *)" at line 70 of file VBoxManageHostonly.cpp

This is fixed when, as above, I input the expected IP add

[2015-07-16 22:03] r4j4h commented on #1541
:+1:

[2015-07-16 22:05] r4j4h commented on #1538
I think this overlaps with #1541

[2015-07-16 22:29] nathanleclaire commented on #1538
Yes, @chantra I'm going to consolidate this one into #1541 - please post there with any questions or discussion.  A Vagrant box is mostly a VMDK with some metadata IIRC, so maybe we can keep that in mind in designing.

[2015-07-16 22:29] #1538 closed

[2015-07-16 23:10] mschygulla commented on #1200
Synology boxes are no valid target platform for docker-machine, because you do not deploy virtual machines on the Synology box. You only need to configure the remote api for the docker daemon on the box, and then you can use your local docker client to work with containers.

The configuration is very easy. SSH into your Synology box as root and open the script with
```$ vi /var/packages/Docker/scr

[2015-07-16 23:37] alvinr opened #1542 "Default AMI kernel needs to be upgraded to 3.15 or above"
# Problem
When using the EC2 Driver, the AMI used to create the instance is based on a 3.13 kernel. However, a libnetworking issues means that (for now) 3.15 kernel is the minimum supported version, see

https://github.com/docker/libnetwork/issues/329

# Solution
Base the AMI that machine launches for EC2 on a 3.15 or greater kernel.

# Environment

[code]

[code]

[2015-07-17 00:12] nathanleclaire commented on #1524
This should be fixed in master; please try the builds at https://docker-machine-builds.evanhazlett.com/latest/ and let us know if you have any more issues.

[2015-07-17 00:12] #1524 closed

[2015-07-17 00:13] nathanleclaire commented on #1542
I wonder if there are any of the Canonical AMIs which do this, since I think that is what we are relying on today.

[2015-07-17 00:52] nathanleclaire commented on #1537
Argh, I suspect it's related to https://github.com/docker/machine/pull/1263, unfortunately I may have to revert that PR.

[2015-07-17 00:53] #1539 closed

[2015-07-17 00:55] nathanleclaire commented on #1537
cc @ehazlett WDYT about this?

[2015-07-17 00:57] mbentley commented on #1537
I'd be happy to test a binary with #1263 reverted if that would help or I can ship you the config of an instance for testing.

[2015-07-17 01:53] nathanleclaire commented on #1537
Alright @ehazlett I know the underlying cause and want to know your take / how you think we should handle this.

If the user did not do anything which is performed through "run action with context" (e.g. `start`, `stop`, and other verbs which take multiple arguments on the CLI) on a new machine version, then the migration will happen in-memory but the config will not be saved to disk.  In Matt's c

[2015-07-17 01:57] ehazlett commented on #1537
@nathanleclaire thanks for the digging and +1 to the course of action.

[2015-07-17 02:04] ehazlett commented on #1505
@thaJeztah thx

@heidsoft as said, this is for tracking issues and feature requests.  you can find project information at the link above.

thanks!

[2015-07-17 02:04] #1505 closed

[2015-07-17 02:05] ehazlett commented on #1542
@alvinr also we use the LTS version for stability which defaults to 3.13 I believe.  FYI you can use custom AMIs with machine using the `--amazonec-ami` flag.

[2015-07-17 02:18] alvinr commented on #1542
saw the ```--amazonec2-ami`` flag and under desire to pick an LTS. Just a heads up that libnetwork may require a higher kernel version.

[2015-07-17 04:29] caylorme commented on #742
I'm seeing this issue as well.

[2015-07-17 04:31] chantra commented on #1541
In #1538 I was suggesting to be able to use vagrant boxes. My original intent is to be able to easily provision most distros by leveraging the effort made by projects like bento, whose boxes are available there: https://atlas.hashicorp.com/chef

[2015-07-17 04:31] chantra commented on #1541
and yes, let me also :+1: that!

[2015-07-17 06:11] nupuragrawal3 opened #1544 "Unable to login to my vCA on-demand account using vca-cli"
When I try to login to my vCA on-demand account using the following command:
[code]
I get the following error:
[code]
Environment on which I am running the above command:
[code]

[2015-07-17 06:16] nupuragrawal3 commented on #1544
I could get this issue resolved by changing the ```host``` parameter to ```us-california-1-3.vchs.vmware.com```, so the command I issued to login is as follows:

[code]

[2015-07-17 06:17] #1544 closed

[2015-07-17 06:26] shanyu-e commented on #673
@sbanal   thx!   It's work for me.

[2015-07-17 10:29] ggiamarchi commented on #1533
@mimizone A floating IP pool is actually a network of public IP. So, it's normal that the API call is the same as the network list. Your last assumption is right, it behaves exactly as you describe it.

Can you describe more in detail you problem ? Please supply your docker-machine command line and the full log.

On another note, the OpenStack driver currently works only with neutron (not with nov

[2015-07-17 11:41] ddmrs commented on #742
Same problem here with windows 8.1:
- no certs are created
- process doesn't notice vm is already up and running
- docker-machine env dev failing due to no certs available/found

[2015-07-17 12:43] CristianCantoro opened #1545 "Error response from daemon: client and server don't have same version (client : 1.19, server: 1.18)"
Software versions:
* OS: Ubuntu 15.04 (3.19.0-22-generic #22-Ubuntu x86_64)
* Docker: Docker version 1.7.1, build 786b29d
* Machine: docker-machine version 0.3.0 (0a251fe)
* VirtualBox: Oracle VM VirtualBox Manager 4.3.28 r100309

Steps to reproduce:
1. `docker-machine create -d virtualbox test `
2. `eval "$(docker-machine env test)"`
3. `docker ps`
[code]

The `Boot2Docker` version that gets inst

[2015-07-17 12:56] ddmrs commented on #742
For your info, the boot2docker installer is able to create the required ca's and certs. So you should perhaps look/compare how it is done there.

[2015-07-17 13:57] dave-tucker commented on #1541
For prosperity, links to other distros that support the same - image + cloud-init, there are probably more out there...
- [Fedora](https://getfedora.org/en/cloud/download/)
- [Centos](http://cloud.centos.org/centos/7/images/)

[2015-07-17 15:13] ghigt commented on #677
Same thing for, can't figure out what to do with (without) the `ca.pem` on the server.

[2015-07-17 15:25] windweller commented on #1545
I have the same problem. It seems like Docker updated itself before all its components (Boot2Docker, Docker-machine) get a chance to upgrade.

[2015-07-17 15:49] phathocker commented on #1241
I would like to configure it for all containers.  Is that easier to do?

[2015-07-17 17:47] nathanleclaire commented on #1241
If you're going to be using such a wide-ranging proxy, why not set it at the firewall level?

[2015-07-17 19:08] adambiggs commented on #1460
I found a simpler way to reproduce the issue (no need to involve Docker), and wrote up some test cases below. Hope this helps to resolve this issue, since the VMware Fusion driver is nearly useless for local development until this is fixed. :cry:

#### Setup

Create a new VMware Fusion machine, SSH into it, and `cd` to your shared user directory:
[code]

In a different terminal, create a new test