[2016-02-02 19:24] atomi opened #2980 "v0.6.0-rc2 User Folder Share Still Not Working on Linux"
Tested on v0.6.0-rc2 shared user folder still not working on Linux using the local Virtualbox driver.
I've gone through some of the older issues for this and it appears a fix should have been merged by now.
Maybe I missed something?

[2016-02-02 20:44] gkastrinis commented on #2147
There is a version B for the release candidate2

https://github.com/boot2docker/boot2docker/releases/tag/v1.10.0-rc2-b

use
`docker-machine create -d=virtualbox -virtualbox-boot2docker-url https://github.com/boot2docker/boot2docker/releases/download/v1.10.0-rc2-b/boot2docker.iso docker`

[2016-02-02 21:31] nathanleclaire commented on #2980
Hm, it should work.  Maybe you have an older version of `boot2docker.iso` in the cache?  If it's not a recent one it won't work.

[2016-02-02 22:48] atomi commented on #2980
If I delete ~/.docker directory v0.6.0-rc2 downloads boot2docker from https://github.com/boot2docker/boot2docker/releases/download/v1.9.1/boot2docker.iso

[code]
There is no /home/atomi folder :(

[2016-02-02 23:34] nathanleclaire commented on #2980
OK thanks.  Do you see the share as created in the VirtualBox GUI?

[2016-02-02 23:35] nathanleclaire commented on #2980
cc @chantra Can you please take a look?

[2016-02-03 00:06] atomi commented on #2980
Here's the Shared Folders settings:
![screenshot 2016-02-02 16 05 08](https://cloud.githubusercontent.com/assets/83137/12768748/c3ea0976-c9c6-11e5-83c0-723fdf367349.png)

[2016-02-03 00:16] nathanleclaire commented on #2890
@jjimjam How's the network where you're working from (to DigitalOcean's datacenter -- in NY by default)?  It looks like Machine is getting a few successful connections where you are but then they are timing out when it goes to follow up, which indicates network conditions are probably not ideal.  If issues persist, I'd recommend either:

1. using a hand-created server as a jump box (and possibly h

[2016-02-03 00:58] nathanleclaire commented on #2980
Argh, I thought the relevant modification had been merged into boot2docker, but it looks like it hasn't yet: https://github.com/boot2docker/boot2docker/pull/1086

[2016-02-03 00:59] nathanleclaire commented on #2980
In the meanwhile, you could build your own `boot2docker.iso` using that branch and use `--virtualbox-boot2docker-url`, then shared folders should work like a charm on Linux.

[2016-02-03 02:07] jquacinella commented on #1709
I have a feeling that not setting a static ip on my machine running consul is what is giving me issues with respect to my swarm cluster. +1 for this

[2016-02-03 03:06] atomi commented on #2980
Thanks @nathanleclaire - I'll build boot2docker locally for the time being as I doubt the PR will make it to 1.10.

[2016-02-03 03:06] chantra commented on #2980
@nathanleclaire @atomi yeah, until boot2docker/boot2docker#1086 get pulled in, this will not work.

[2016-02-03 08:24] tiangolo commented on #2253
@Ralle Here's what I would do:

* I would write the script in Python inside Windows.
* I would rename each file with Werkzeug's secure_filename, it will use a filename that's secure for the OS and that "as a plus" doesn't have any non ASCII characters, which is the point of using it: http://werkzeug.pocoo.org/docs/0.11/utils/#werkzeug.utils.secure_filename
* And then, after renaming them, I would

[2016-02-03 10:44] jjimjam commented on #2890
@nathanleclaire Thanks for your reply.   Yes, it does look like network connection problems.   My internet connection is normally pretty good.   I'll perhaps investigate a bit more.

Yes, I am near London, creating droplets in the London datacenter.    I have tried the NY datacenter twice and it worked both times without error.   I'll try that again and also try the jump box suggestion.

[2016-02-03 16:22] dgageot opened #2982 "Shell auto detection is broken"
It always default to `bash` even on windows and even if a `SHELL` env variable is set

[2016-02-03 16:23] jezell opened #2983 "Allow passing of VMWare Fusion specific configuration flags"
To optimize performance of our VMs, our Vagrant our setup would specify certain VMWare specific parameters for the vm such as:

        f.vmx["refvmx.minVmMemPct"] = "100"
	f.vmx["MemTrimRate"] = "0"
	f.vmx["sched.mem.pshare.enable"] = "FALSE"
	f.vmx["prefvmx.useRecommendedLockedMemSize"] = "TRUE"
	f.vmx["mainMem.partialLazySave"] = "FALSE"
	f.vmx["mainMem.partialLazyRestore"] = "FALSE"
	f.vmx["pr

[2016-02-03 17:42] #2982 closed

[2016-02-03 18:05] nathanleclaire commented on #2975
Are you passing them after the machine name maybe?

Something like this:

[code]

Is invalid syntax today.  `foo` (the machine name) has to come last.

[2016-02-03 18:19] nathanleclaire commented on #2975
Yeah, this works for me with the latest RC, so let me know if you continue to encounter issues (include the `create` command please).

[2016-02-03 18:19] #2975 closed

[2016-02-03 19:22] dgageot commented on #2972
Hi @dejames, thanks for filling a bug report. Can you tell us which version of docker machine you are using?

[2016-02-03 21:06] sjackman commented on #2765
I'm getting this error as well now. It worked fine yesterday. I don't think I'm being rate limited. I provided a `--github-api-token`, but it didn't help.

[code]

[2016-02-03 21:11] sjackman commented on #2765
Here's a workaround inspired by @kurtharriger
[code]

[2016-02-03 21:19] sipicsg commented on #2969
see #2932

[2016-02-03 21:28] sipicsg opened #2985 "hyper-v machine creation on remote host"
It would be nice it docker-machine could create a new machine on remote host.

New-VM -ComputerName<String[]>

[Info](https://technet.microsoft.com/en-us/library/hh848537.aspx)

I don't know if remote vhd creation for the new vm is possible in this way or not.

[2016-02-04 01:14] lavalamp- opened #2987 "Hanging on deploying CoreOS images on DigitalOcean"
Greetings,

I recently ran into an issue where I could not properly create CoreOS-based droplets on DigitalOcean through the docker-machine digitalocean driver. Specifically, the process fails when attempting to SSH in and invoke commands:

**Using SSH client type: external
{[-o PasswordAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAtt

[2016-02-04 01:18] rhim commented on #2975
No, I am putting machine name last. 
Can you give me your version and OS version pls?
Thanks,

-Himanshu

On Wed, Feb 3, 2016 at 10:19 AM -0800, "Nathan LeClaire" <notifications@github.com> wrote:

Yeah, this works for me with the latest RC, so let me know if you continue to encounter issues (include the create command please).

—
Reply to this email directly or view it on GitHub.

[2016-02-04 01:35] nathanleclaire commented on #2975
I'm on OSX El Cap, Machine 0.6.0-rc4.

How about you?

[2016-02-04 01:49] nathanleclaire commented on #2987
Did you set the SSH user?

[2016-02-04 01:50] nathanleclaire commented on #2987
I think `core` is the default, so you need something like `--digitalocean-ssh-user core`

[2016-02-04 02:06] lavalamp- commented on #2987
Aha - I did not. It looks like that was the problem as well.

I double checked the documentation here:

https://docs.docker.com/machine/drivers/digital-ocean/

And I don't believe there is any mention of this command line flag.

Thanks for your help!

[2016-02-04 02:06] #2987 closed

[2016-02-04 02:51] mlovci opened #2988 "Swarm does not resolve machine nodes on external machines correctly"
I have two (physical) machines that I'd like to join into the same docker swarm. I have a consul keystore running on machine 1 and a swarm master connected to that keystore on machine 1. I can start a worker node on machine 1, but attempts to join the swarm from machine 2 have failed.

## on machine1:

 - Create Swarm master

`machine1 $> docker-machine create -d virtualbox --swarm --swarm-master

[2016-02-04 08:59] bahchis commented on #2810
I am experiencing related issue with 0.5.6 version.

When specifying subnet id only without vpc id, if a group with the same name already exists the machine creation fails for duplicate security group error.

After debugging it a bit, I think the reason is that if vpc id is not specified (specifying it fixes the issue), the check for existing security group fails to fetch the group and docker mach

[2016-02-04 12:07] dkirrane commented on #1435
Any workaround for this? I cannot use docker virtualbox machines on windows at all due to `certificate signed by unknown authority`
[code]

[2016-02-04 12:21] jtnord opened #2989 "can't create machine as a user that has "Hyper-V Administration" rights"
using `docker-machine create --driver hyperv` should not require administrator rights.

Users who are a member of "Hyper-V Administrators" groups can create/destroy Virtual machines.

[code]

This is the [offending code](https://github.com/docker/machine/blob/b6be1b79bcb2bf7ef6f74031ed5da3e72b882b4b/drivers/hyperv/hyperv.go#L152-L159) - the check should check the user is an administrator or a memb

[2016-02-04 16:11] zramsay commented on #2890
@nathanleclaire Noted. It's works quite nicely so far.

[2016-02-04 17:40] christianbundy commented on #2968
@Kuzmin
It looks to me like docker/docker#13555.

[2016-02-04 18:03] GaryHost commented on #1328
It is indeed astonishing that for multiple persons to work on the same vm, we have to export/import certificates from one machine to another. If someone found a practical, production-ready solution, that would be good to know.

[2016-02-04 18:05] Pierre-Gilles commented on #1328
+1

[2016-02-04 18:44] kitotik commented on #2890
Anecdotally, it's starting to seem like an issue when attempting to create a droplet with a name that has been used previously.

In my testing I have yet to see the error happen when using a new unique name for the droplet.

[2016-02-04 18:45] nathanleclaire commented on #2890
Yes, historically duplicate names tend to be kind of a headache for several of the drivers.

[2016-02-04 18:46] nathanleclaire commented on #2890
Since I think this issue is about as tied up as it's going to get (and diverging from the original report a bit), I'm going to close -- however all should feel free to open new issues with more specific symptoms if things continue to look problematic.  Thanks!

[2016-02-04 18:46] #2890 closed

[2016-02-04 20:14] Kuzmin commented on #2968
@christianbundy
Right, yeah it looks like my comment is docker/docker#13555

I still think the things in the opening post is a separate issue

[2016-02-04 20:22] christianbundy commented on #2968
Totally, sorry -- I should've been more clear. The original issue is absolutely a problem (that I've dealt with again and again).

[2016-02-04 21:28] mlabieniec commented on #2533
I have the same issue using AWS driver, token discovery and docker-machine version 0.5.3, build 4d39a66 on ubuntu 15.10 (it was working previously, i provisioned a new machine and now i'm getting the

    ....
    Setting Docker configuration on the remote daemon...
    Error creating machine: Error running provisioning: Unable to verify the Docker daemon is listening: Maximum number of retries (1

[2016-02-04 21:39] ahmetalpbalkan opened #2991 "Debug logs should have date or time elapsed"
When someone sends me a `docker-machine --debug create` the log statements don't have dates. Exact date is not super important by logrus' default format where it shows the seconds passed since process launched is actually very useful.

Right now I'm looking at a log output where:

    Error creating machine: Error waiting for machine to be running:
    Maximum number of retries (60) exceeded

but

[2016-02-04 21:43] ahmetalpbalkan opened #2992 "Save debug level logs temporarily to /tmp"
When someone posts an issue with a driver (such as flakiness), and they run docker-machine _without_ `--debug`, we will not have full visibility into the events.

But if we actually store the detailed log output and save it to some random temp file on the filesystem and still show the user only the INFO level statements, they can send us the log file from /tmp/* when some flakiness occurs even tho

[2016-02-04 23:18] jeanlaurent opened #2994 "Virtualbox VM should have 2 cores by default"

[2016-02-04 23:18] jeanlaurent opened #2995 "hyperv driver should be more explicit when the vswitch is not created"
We should output a link to the documentation explaning how it works.

[2016-02-05 00:01] Oliboy50 commented on #2995
You mean, when the user haven't create any Virtual Switch / or / when the Virtual Switch used does not have access to Internet ?

I didn't try the first case.

But in the second case, the `docker-machine` provisioning get stuck at

[code]

So yes, it should be more explicit :+1:

[2016-02-05 00:05] jeanlaurent commented on #2995
I meant the first case.

I suggest you submit a specific issue for your case, so we can track it more efficiently.

[2016-02-05 00:08] alvinr opened #2996 "--engine-install-url not support with vmwarefusion"
# Problem

I want to use a specific Boot2Docker ISO and a specific Docker Engine, so I would do the following

[code]

in 1.10.0-rc1 (and prior) this works fine.
[code]

However, in 1.10.0 you get the following

[code]

It appears that this is a regression since 1.10.0-rc1

# Environment
[code]

[2016-02-05 00:12] Oliboy50 opened #2997 "hyperv driver should be more explicit when the vswitch used can't reach Internet"
As said in #2995, the docker-machine provisioning get stuck at

[code]

When the Virtual Switch used with the Hyper-V machine does not have a proper Internet connection.

And the machine IP cannot be found, if we try to do `docker-machine ls`.

We should output a link to the documentation explaining how it works.
Personnally, this link (from the docker documentation) https://www.packet6.com/allowi

[2016-02-05 01:36] nathanleclaire commented on #2996
I think you want `--vmwarefusion-boot2docker-url`.  In local VMs so far we have mostly just provided capability for specifying custom ISOs (usually boot2docker).

[2016-02-05 01:55] ahmetalpbalkan opened #2999 "Ubuntu(upstart) provisioner does not use Docker apt repos?"
After Docker 1.10 is released I went into my docker-machine VM running Ubuntu 14.04.3 I created the other day and I did an `apt-get update && apt-get upgrade` and I was still on Docker 1.9.

Then I realized machine was not configured to use the `apt.dockerproject.org` repos at all.  Is this normal? I'm running from tip of master.

[2016-02-05 01:59] alvinr commented on #2996
So my intent is to
- pull a specific boot2docker iso
- pull a specific docker machine version

In 1.10.0-rc1 and prior this seemed possible - but not now

-Alvin

[2016-02-05 02:02] nathanleclaire commented on #2996
Yes, we added a check to bail if `--engine-install-url` was used with boot2docker-based VMs.  So, you can simply drop the `--engine-install-url`, and it should work.

[2016-02-05 02:29] dobesv commented on #1435
Normally if you are managing local stuff you can just not use docker-machine.  I wanted to use PyCharm with docker, and PyCharm only manages docker via docker-machine.  In this case I could work around it, to some degree, by writing a fake docker-machine shell script that emulated docker-machine for local docker.

[2016-02-05 02:47] nathanleclaire commented on #2996
LMK if we can close -- thanks Alvin

[2016-02-05 02:48] nathanleclaire commented on #2999
How old is it?  If it was created with a slightly older version of Docker, the package names may have changed.  If that's the case, I suggest upgrading using `docker-machine upgrade`, or nuking the packages and re-installing yourself.

[2016-02-05 02:48] nathanleclaire commented on #2999
We use the `get.docker.com` script, so if it's not set that way, it's the result of something funny that script did at the time of `create`.

[2016-02-05 03:41] christianbundy opened #3000 "eval $(docker-machine env foo) does not exit 1 in case of failure"
Usually, `docker-machine env foobar` returns this:

[code]

Following the advice to eval the command substitution, I learned today that this script will **always exit 0, even if it hits an error** (in my case it was [`ErrCertInvalid`](https://github.com/docker/machine/blob/b282f5abe1d5a68298aac81070f3ff9c8e5a97b1/libmachine/check/check.go#L29-L34)). Additionally, it doesn't tell you that the previ

[2016-02-05 03:43] jeanlaurent opened #3001 "docker-machine can't remove machine"
with the docker-machine 0.6.0 when you try to remove a machine in  a weird state like this :
[code]

it fails :
[code]

[2016-02-05 03:57] ahmetalpbalkan commented on #2999
Hmm I was bascially at commit 36aed62 (9 days ago). I forgot to mention, `docker-machine upgrade` from outside did not work either. I was still seeing the same version. Therefore I had to add the apt repo manually.

Now I can't repro this, weird.

[2016-02-05 03:57] #2999 closed

[2016-02-05 06:45] rhim commented on #2975
Same here.

Here is the failing command:

/usr/local/bin/docker-machine -D create --driver amazonec2 --amazonec2-access-key XXX --amazonec2-secret-key XXXX --amazonec2-region us-west-1 --amazonec2-vpc-id vpc-838804e6 --amazonec2-subnet-id subnet-7041f729 --amazonec2-zone b --amazonec2-instance-type t2.micro --amazonec2-ami ami-3f50245f --engine-install-url http://X.X.X.X:8081/pkgs/install.sh --eng

[2016-02-05 09:27] MatteoGgl opened #3002 "Starting default machine fails after upgrade on Windows 7"
Installed the new docker-toolbox version 1.10.0 this morning; output of the command `docker-machine start` is
[code]
Starting from VBox (version 5.0.14 r105127) gives this error:
![vbox_error](https://cloud.githubusercontent.com/assets/16136669/12842253/dfa85834-cbf1-11e5-8501-4c7ac2e1f2e7.png)
Tried rebooting the system and this is the output of `sc.exe query vboxdrv`:
[code]
[VBox.log on pastebi

[2016-02-05 09:48] jjimjam commented on #2890
I was wondering the same thing as @kitotik.   I'm repeatedly destroying and recreating a droplet with the same name.    If that's the case then it's a problem at digital ocean, isn't it?

[2016-02-05 10:48] molivier opened #3003 "Interactive shell for docker-machine create"
Wouldn't it be nice to have an interactive shell for `docker-machine create`like:

[code]

Maybe it's to complicated too maintain but I was just wondering. Thanks.

[2016-02-05 14:08] errordeveloper opened #3004 "[amazonec2] install fails on Ubuntu"
I've just tried creating an EC2 instance with the latest release and it failed.

[code]

[2016-02-05 14:08] errordeveloper commented on #3004
[code]

[2016-02-05 14:36] blueimp commented on #1491
We had the use case that we wanted to access our developer machines running docker in VirtualBox machines with external devices (e.g. smartphones, tablets) and found the easiest way is to expose the docker machine via a bridged network.

We use the following script, that adds the bridged network adapter and prints the external IP:
https://github.com/blueimp/docker/blob/1.18.0/bin/docker-machine-br

[2016-02-05 14:36] benediktarnold commented on #2822
+1 for pluggable provisioners

[2016-02-05 14:48] micheletedeschi commented on #3004
+1

[2016-02-05 15:14] milesibastos commented on #1709
+1

[2016-02-05 16:28] micheletedeschi commented on #1702
+1 the last version 1.10 doesn't work on amazon ec2!

[2016-02-05 16:29] mlabieniec commented on #1702
:+1:  agree amazon ec2 no longer works

[2016-02-05 16:45] rm25282 commented on #1328
+1

[2016-02-05 17:06] pandrew opened #3005 "machine upgrade does not upgrade vmwarevsphere"
`machine upgrade` machines using the vmwarevsphere driver seems to fail without errors.

`docker-machine version 0.6.0, build e27fb87`

[code]

[2016-02-05 18:01] bbedwell opened #3006 "0.6.0 upgrade issue - provisioning on mac and virtualbox"
Upgraded via docker tools on my mac os x today and I can no longer successfully provision on virtualbox

I ran the command:
`docker-machine --debug create -d virtualbox --virtualbox-memory "2048" --virtualbox-cpu-count "1" default`

and, in short, my error consists of:
`This machine has been allocated an IP address, but Docker Machine could not reach it successfully.`

In the past I have had to nu

[2016-02-05 18:38] nathanleclaire commented on #2975
I notice that the last flag you posted (`--engine-opt cluster-advertise=eth0:2376`) has an "em dash" (`–` - sometimes automatically inserted by Mac editors) instead of a normal hyphen (`-`) -- maybe that's it?  If you replace that argument with a real dash does it work?

[2016-02-05 18:41] aharpervc opened #3007 "v0.6.0 Error creating machine: Error detecting OS: Too many retries waiting for SSH to be available."
Windows 10 x64 (version 1511, build 10586.63)

[code]

the machine appears to being creating ok, but then I see a series of retried ssh connections ending in failure:

[code]

The machine exists but with a problem:
[code]

[2016-02-05 18:55] nathanleclaire commented on #3007
Hm, I'm not really sure it's supposed to be going to IPv6 by default.  Our SSH code might not handle that exactly properly.

[2016-02-05 18:58] nathanleclaire commented on #3005
cc @frapposelli

[2016-02-05 18:59] nathanleclaire commented on #3004
Odd - our provisioning code should always use `daemon` instead of `-d`.  I'll take a look.

[2016-02-05 19:00] nathanleclaire commented on #3004
The AMI used is just whatever Docker Machine picked by default?

[2016-02-05 19:02] nathanleclaire commented on #3004
Also, can you please post the output of running such a failing command using `--debug` flag?

[2016-02-05 19:06] nathanleclaire commented on #2999
Thanks for following up to close Ahmet.  Let us know if any issues persist.

[2016-02-05 19:13] jmreicha opened #3008 "0.6.0 upgrade issue - Error with pre-create check"
Here is the full output of the error.

[code]

Here is the command I am using to create the VM.

`docker-machine create -d virtualbox --virtualbox-cpu-count 2 dev`

I was playing around around with network interfaces prior to this to test network performance but a) I disabled the interfaces after I was done testing and b) this is attempting to bring up a new VM.

Any ideas?

[2016-02-05 19:27] rhim commented on #2975
OMG, that indeed was the case.

Thanks for pointing it out.

[2016-02-05 19:29] nathanleclaire commented on #3000
I'm not sure that there's anything we can do about the exit status of `eval` -- it seems to always succeed if the passed argument is a subshell, e.g.:

[code]

Running `eval $(docker-machine env)` will still spit out errors printed to STDERR, so I'm not sure what else we can do.  Any suggestions?

I usually manually verify that the `DOCKER_HOST` I'm running against is the intended one in the case

[2016-02-05 19:30] nathanleclaire commented on #3008
Did you remove one of the host only interfaces with duplicate IPs?  It should be fairly straightforward to do so through the VirtualBox GUI.

[2016-02-05 19:31] nathanleclaire commented on #2975
:+1: I hate that Mac behavior of replacing with the fancy dashes.  Glad to hear it worked out.

[2016-02-05 19:32] bbedwell commented on #3006
Related to VPN issues -- resolved

[2016-02-05 19:32] #3006 closed

[2016-02-05 19:33] nathanleclaire commented on #3006
Thanks for following up to close :+1:

[2016-02-05 19:37] nathanleclaire commented on #2994
There was quite some discussion about this a while back.  Based on some claims from @SvenDowideit (I forget if it was anecdotal or benchmark), we decided on 1 core instead of the number of available cores on the system (this was the default previously).  I definitely think we should put together some benchmarks / analysis before jumping in to anything.

That said, I definitely think kicking the me

[2016-02-05 19:37] jmreicha commented on #3008
@nathanleclaire Yeah, I got tripped up a little bit but I was able to use [this post](http://superuser.com/questions/854369/how-do-i-remove-a-virtualbox-host-only-network-adapter) to remove stale hostonly nics.  After I removed the old nics everything started working again.

Thanks.

[2016-02-05 19:37] #3008 closed

[2016-02-05 19:48] nathanleclaire commented on #3008
Awesome glad it worked out.  Thanks for the isuse.

[2016-02-05 20:00] t0v commented on #2740
this happened to me twice today with docker-machine version 0.6.0, build e27fb87.
i didn't investigate the 1st incidence (just created a new machine), but 2nd time was too much.
something had overwritten the config.json without
[code]
i added those back to the config and everything seems to be running fine again.

so, to me this sounds like a bug.

[2016-02-05 20:11] zbyte64 commented on #2898
Still an issue with docker-machine 0.6.0

[2016-02-05 21:04] brettdh opened #3009 "`docker-machine upgrade` with ubuntu 14.04 via 'generic' driver doesn't work"
Expected: after `upgrade`, remote docker version will be 1.10.0.
Actual: after `upgrade`, remote docker version is 1.9.1.

I notice that `apt-get update && apt-get install docker-engine` at the remote host also doesn't pull in version 1.10.0, but I had expected that docker-machine had its own install method to always grab the latest version, whether via PPA or whatever.

Note: 'generic' is actuall

[2016-02-05 21:46] brettdh commented on #3009
**Quick workaround: if I go to the remote box and `apt-get purge docker-engine`, the subsequent `docker-machine create` succeeds, and it has version 1.10.0.**

Further trial and error:

Interesting... if I go to a host and `apt-get remove docker-engine`, then try to upgrade again:
[code]

If I remove the machine and create it again, this happens:
[code]
Yep, that's the end of the error message.

T

[2016-02-05 23:52] nickdgriffin commented on #3004
So I noticed this yesterday just as Docker 1.10 and Machine 0.6 were released where we were still running Docker 1.9.1 and Machine 0.5.3 locally however Machine was provisioning Engine 1.10 machines using "-d" instead of "daemon" which resulted in the Engine failing to start. This was using a Ubuntu 15.x AMI that we specified (I think for networking perhaps?), rather than the default it selects.

[2016-02-06 00:05] mrmachine commented on #13
I use VMware Fusion (not VirtualBox) which has much more performant file sharing. However, I still need to share directories other than `/Users` to the docker host (`boot2docker` created with `docker-machine`). I want to run some docker containers that have access to files on my and other drives physically attached to my iMac. Is there any other workaround? Should I be trying to configure boot2doc

[2016-02-06 00:12] zbyte64 commented on #3004
Yes, I had the same issue and then I discovered I was running Machine 0.5.3 . I can confirm that Machine 0.6.0 properly specifies the `daemon` command on AWS ubuntu. It seems docker-machine will install the latest version of docker by default.

[2016-02-06 00:32] micheletedeschi commented on #3004
I use docker-machine 0.5.6 and 0.6.0 with driver amazonec2 the create command always install the latest docker version using https://get.docker.com script. I resolve copying the script and parametrize the docker version that I want to Install.

with docker-machine I use the parameter --engine-install-url [public url point to custom script with fixed 1.9.1 version ].

[2016-02-06 01:00] nathanleclaire commented on #3004
FYI, in some situations you might be able to use 0.6.0's `docker-machine provision` command to re-set the config file to correctly use `daemon` instead of `-d`.  However, be advised this will have two side effects:

1. Will not work if Swarm containers are existing on this instance
2. Will regenerate the existing certificates

[2016-02-06 10:19] kirkstrobeck commented on #1819
@ehazlett thanks much -- after trying everything https://github.com/docker/machine/issues/1819#issuecomment-138981139 fixed it

[2016-02-06 11:04] java4africa commented on #661
You can delete the keypair in the AWS console. "Network & Security" -> "Key Pairs" -> "Delete"

[2016-02-06 11:24] eivantsov opened #3010 "cannot create a digital ocean machine"
`C:\Users\Eugene>docker-machine -D create --driver digitalocean --digitalocean-size=4gb --digitalocean-access-token=$token test12`

Results in:

`notifying bugsnag: [Error running provisioning: Unable to verify the Docker daemon is listening: Maximum number of retries (10) exceeded]
Error creating machine: Error running provisioning: Unable to verify the Docker daemon is listening: Maximum number

[2016-02-06 14:34] leandromoreira commented on #1328
@ehazlett so I can:

1. compress the cloud machine `~/.docker/machine/machines/staging`
2. share with team members, they'll decompress at `~/.docker/machine/machines/`
3. they'll have staging machine as I have?

[2016-02-06 15:50] bhurlow commented on #1328
@leandromoreira one barrier to that approach is that the docker-machine config files have hard-coded paths specific to the host machine:

[code]

so simply copying the entire dir isn't a complete solution

[2016-02-06 16:44] leandromoreira commented on #1328
@bhurlow thanks a lot :smile: , is there any tool to help this? or should I edit the `config.json` manually by my own? is that the only barrier?

[2016-02-06 18:09] raagav-iyer commented on #1031
I faced the same issue.
It was working like a clock and all of a sudden it stopped.
I back tracked what I did. I figured out the I had installed OpenSSH for windows, since when it stopped.
I uninstalled OpenSSH and it started working like a clock again.

[2016-02-06 18:15] fmonniot commented on #2195
I encountered this problem while trying to update to docker 1.10.
I understand that defining a new behavior (wether it's a `-f` flag or new commands) is hard, but in the meantime maybe docker-machine could just display a simple message indicating no upgrade have been performed because of the `--virtualbox-boot2docker-url` usage ? At least people will not wonder why nothing happened even if the com

[2016-02-06 19:19] gaffo opened #3011 "Docker machine does not re-bind network on change of ip"
When I'm workign on my laptop I'm often changing wifi networks because I'm working on multiple customer vpns. Every time I bind to a new network I get a new IP. Every time I bind to a new vpn I generally get a new IP. Because docker-machine uses tls and apparently binds it to the current ip address these certs are invalid when I change networks. This requires me to restart the docker machine prett

[2016-02-06 19:25] bhurlow commented on #1328
@leandromoreira I have scripted around it like [this](https://github.com/bhurlow/machine-share), more recent versions of docker-machine no longer base64 encode keys in the config file. At the end of the day, anyone who wants to use a remote docker-machine *must* have the TLS certs so some exchange between parties is required I think

[2016-02-06 19:34] leandromoreira commented on #1328
Thanks @bhurlow

[2016-02-07 00:59] shanewow commented on #23
+1

[2016-02-07 01:43] leandromoreira commented on #23
+1

[2016-02-07 01:46] zstarer commented on #3010
I think I have the root of this .. I will open a larger item as my failure is on AWS, but I've debugged this to my personal satisfaction.  I have no idea how to fix it though. :)

[2016-02-07 01:50] leandromoreira commented on #1328
@bcwalrus did a great tool until we get something official.

[code]

[2016-02-07 02:03] zstarer commented on #3010
I've fixed this by upgrading to the latest versions of `docker-machine` and `docker` locally.

when you do `docker-machine ssh test12` can you connect and run `sudo service docker status`?

if you see something like this (**bold for emphasis**) you are experiencing the same thing I did. basically, it looks like `docker -d` was deprecated in favor of a (new to me) `docker daemon` command flag.

  R

[2016-02-07 08:34] eivantsov commented on #3010
I'll update docker machine, try it again, and then try to ssh into it. Will report back with results. Thanks for your help!

[2016-02-07 10:58] #2492 closed

[2016-02-07 10:59] mwarren2 commented on #2492
In the end I discovered that I didn't actually need a private instance, I needed a public one. So I am closing this.

[2016-02-07 12:10] errordeveloper commented on #3004
Yes.

[2016-02-07 12:38] errordeveloper commented on #3004
@nathanleclaire the AMI appears to be `ubuntu-wily-15.10-amd64-server-20151116.1 (ami-ab0210c7)` and it's in `eu-central-1`.

Here is the debug output:
[code]

[2016-02-07 12:51] errordeveloper commented on #3004
Oops, looks like I wasn't using 0.6.0. It's really odd, may be toolbox upgrade didn't work properly or I missed something.

[2016-02-07 12:51] #3004 closed

[2016-02-07 13:14] rm-jamotion commented on #2650
@dustinblackman Yes I know, but I have to remove the first machine using the aws driver. But it would be better if it is possible to remove the machine created with generic driver and move the keys to the aws machine. So the start/stop features of aws will stay available...

[2016-02-07 17:04] zacksiri commented on #1351
+ 1

[2016-02-07 21:15] rrva opened #3012 "NoShare driver setting not persistent across machine restart (vmwarefusion)"
1. Create a machine with shared folders disabled

        docker-machine create --driver=vmwarefusion --vmwarefusion-no-share default

2. Restart the machine

        docker-machine restart default

    Expected: No shared folders
    **Actual**: Shared folders mounted upon restart even if NoShare is enabled.

3. Checking the config upon restart NoShare is true

        docker-machine inspect defa

[2016-02-07 22:17] schmunk42 opened #3013 "docker-machine upgrade to 1.10; containers did not start again"
I have done a `docker-machine upgrade ...` on a machine with one container with policy `restart: always`, but after the upgrade there were no containers running at all.

I'd have expected that my containers start, like they do when I am restarting a machine

[code]

[2016-02-07 23:44] lox commented on #3011
This shouldn't be happening as the network interface is NAT, which means that internally it should provide the same IP range. What is probable is that DNS settings are changing per network. Try creating your machine with `--virtualbox-host-dns-resolver`, which will use your hosts dns resolver via a proxy rather than passing down upstream DNS whenever DHCP provides it.

[2016-02-08 01:39] Hokutosei commented on #3009
Greetings,

I was about to report this, I am experiencing this now on a GCE instance

[code]

[2016-02-08 01:52] Hokutosei opened #3014 "docker-machine upgrade google compute instance failed"
Greetings,

tried to upgrade my google instance with `docker-machine upgrade dev01` from 1.9.1 to 1.10 but failed, here is the debug log

[code]

[code]

tried ssh and reboot the machine, but to no avail..

[code]

created the google machine with a script that I created

[code]

[2016-02-08 05:51] dejames commented on #2972
Hi @dgageot
These are the versions :
- docker version 1.9.1, build a34a1d5
- docker-machine version 0.5.6, build 61388e9
- docker-compose version 1.5.2, build e5cf49d

[2016-02-08 08:04] ozlerhakan commented on #2494
**Stopping** a machine sporadically gets failure in docker 1.10 on windows 10

Do you want me to create another issue for that? @nathanleclaire

[code]
[code]

[2016-02-08 10:31] patrikerdes opened #3015 "The 'docker-machine active' command should print a different message than "No active host found" on timeout"
I sometimes get "No active host found" when running the command `docker-machine active`, even though there is an active host. This is because of the default 10 s timeout. When there is a timeout, I think that the the error message should somehow state that there was a timeout. Just saying "No active host found" is misleading.

How to reproduce:
I have 6 machines on AWS and one virtualbox, I can re

[2016-02-08 10:35] patrikerdes opened #3016 "The 'docker-machine active' command should have a --timeout flag"
I sometimes get "No active host found" when running the command `docker-machine active`, even though there is an active host. I believe that is because of a timeout after 10 s. I think that the `active` command needs a --timeout flag, just like the one for `ls`.

How to reproduce:
I have 6 machines on AWS and one virtualbox, I can reproduce this issue quite easily. When the command take less than

[2016-02-08 11:21] byrnedo commented on #3009
Also experiencing this.

[2016-02-08 16:18] dgageot commented on #2972
Thanks @dejames Can you try with version 0.6.0?

[2016-02-08 16:29] pdalpra commented on #2832
@nathanleclaire Would you be okay with the `Simplest for the end user` solution ? (fresh cloning for every command)

[2016-02-08 20:43] gregory commented on #1843
You should remove any host only network adapters above 3.
Ex to remove the 4: `VBoxManage hostonlyif remove vboxnet4`

Then you should be good to go :)

[2016-02-08 22:57] nathanleclaire commented on #3004
Thanks for following up to close @errordeveloper !

[2016-02-08 23:03] nathanleclaire commented on #2494
Yes, please file a new issue @ozlerhakan

[2016-02-08 23:04] nathanleclaire commented on #2195
Sounds good, a new issue / PR for this would help us to track the feature request if you're willing.

[2016-02-08 23:35] pdalpra commented on #2195
@nathanleclaire provided a PR for this @ #3019

[2016-02-09 00:29] gregory commented on #2740
same here. pretty annoying.
`docker-machine version 0.6.0, build e27fb87`

[2016-02-09 01:24] richtong commented on #226
`docker-machine rm -f` seems to take care of instance which have vanished.

[2016-02-09 02:17] Hokutosei commented on #3014
any news on this? had to downgrade my client to 1.9 because I cant create/run containers...

[2016-02-09 02:17] adithep commented on #1709
+1

[2016-02-09 06:07] booyaa commented on #3009
Similar thing happened to me, removing docker-engine worked, but in addition to this I appear to have lost my docker repo entry  in `/etc/apt/sources.list.d/docker.list`

Added it back as per [installation](https://docs.docker.com/engine/installation/linux/ubuntulinux/#update-your-apt-sources:7064cc4a474d59e7463e9c65d7d35de5) docs and was able to upgrade to v0.10.0. After that it was just a straig

[2016-02-09 06:10] booyaa commented on #3014
#3009 similar issue being exhibited in Ubuntu LTS 14.04

[2016-02-09 14:02] ElChupacabra26 commented on #2740
The problem persists. I'm thinking maybe we should reopen this one.

[2016-02-09 14:22] montytorr commented on #23
+1

[2016-02-09 14:56] matlockx commented on #2740
I had the problem too today. As it turned out that I had two different docker-machine versions in place (one was called by a bash script which had an old docker-machine version in the path) and the old one always was overwriting the confif file whenever docker-machine ip [NAME] was used.

[2016-02-09 15:48] dnorth98 commented on #2893
I've got a similar problem.  Our cluster name has a space in the name but when specifying

--vmwarevsphere-hostsystem='VMware Cluster/*'

I get back an error that

Error creating machine: Invalid hostname specified. Allowed hostname chars are: 0-9a-zA-Z . -

[2016-02-09 15:53] pskiwi commented on #3005
Manually (via vSphere-client) replacing the boot2docker.iso in the vm-datastore seems to resolve the problem.

[2016-02-09 18:43] nathanleclaire commented on #2893
cc @frapposelli

[2016-02-09 19:36] sydisnet commented on #2565
Same issue too ==> hanging to configure swarm with --driver virtualbox

[2016-02-09 20:18] nathanleclaire commented on #3016
`ls` has `--timeout`, maybe it should be a global-level flag instead

[2016-02-09 20:35] gregory commented on #2740
@nathanleclaire - Sounds like this is definitely a bug, any plan to reopen this issue?

[2016-02-09 21:45] nathanleclaire commented on #2740
@gregory Can you provide an end-to-end dupe?  Does the issue happen with newly created machines as well?

[2016-02-09 22:32] ozlerhakan opened #3022 "Stopping a machine sporadically gets failure"
As @nathanleclaire 's request  I open an issue for:

*Stopping* a machine sporadically gets failure in docker 1.10 on windows 10

[code]
[code]

[2016-02-09 22:46] raeesiqbal opened #3023 "Invalid command to connect Windows Command Prompt"
Using Docker Machine `docker-machine version 0.5.6, build 61388e9` on Windows 10 x64.
The command returned by `docker-machine env --shell cmd default` is
[code]
But if I execute the last one
[code]
It returns an error `i was unexpected at this time.`. Which means that the FOR loop is not valid.

[2016-02-09 22:53] jeanlaurent commented on #3023
There are a couple of changes recently on this. Does the issue comes out with 0.6.0 version ?

[2016-02-09 23:17] raeesiqbal commented on #3023
After the upgrade, when I executed `docker-machine env --shell cmd default`, it said that it couldnt connect to the Docker virtual machine. So, I deleted the previous one and started Docker Quick Start Terminal and it also said that it couldnt start the VM. So, I deleted the failed VM and Hostonly interfaces in VirtualBox and started Quick Start Terminal again and that is failing also.
[code]

[2016-02-09 23:18] raeesiqbal commented on #3023
Its on `docker-machine version 0.6.0, build e27fb87`

[2016-02-09 23:35] ljrittle opened #3024 "PSA: Upgrade from docker-machine 0.5.3 to 0.6.0 broke vmwarevsphere plugin for existing machines"
$ docker-machine version
    docker-machine version 0.5.3, build 4d39a66
    $ docker-machine ls
    NAME                    ACTIVE   DRIVER          STATE     URL                       SWARM                DOCKER    ERRORS
    arc-dev-00              *        vmwarevsphere   Running   tcp://10.26.67.187:2376                        v1.9.0
    [...]

Upgrade to docker-machine-0.6.0.

    $ docker-m

[2016-02-09 23:37] jeanlaurent commented on #3023
Ouch, an `upgrade` bug.

You should probably clean that up ( in docker-machine and virtualbox ), and instead of launching Docker QuickStart, runs `docker-machine -D create -d virtualbox default` and check the details there

[2016-02-09 23:47] raeesiqbal commented on #3023
I had to do a whole lot of clean up. Uninstalled Docker Toolbox and VirtualBox, deleted cleaned up temp dirs and deleted .docker directory. Reinstalled Docker Toolbox and Docker is running fine now. Luckily I had no important stuff in Windows installation
I think it was a certificates issue, as I remember that when I tried to execute `docker-machine env --shell cmd default` for the first time afte

[2016-02-10 00:27] raeesiqbal commented on #3000
I faced a similar problem today with `docker-machine env --shell cmd default` when it said that there was an error with the TLS certificate and I executed `docker-machine regenerate-certs default` to create new ones which messed up everything.

https://github.com/docker/machine/issues/3023 is related

[2016-02-10 00:54] davemkirk opened #3025 "$ENGINE_REGISTRY_MIRROR environment variable?"
`docker-machine create` currently accepts the option flag `--engine-registry-mirror` to specify the registry mirrors to use.

I'd like to be able to use an environment variable to set this flag's default value in the same way that `$MACHINE_DOCKER_INSTALL_URL` sets `--engine-install-url`

Thoughts?

[2016-02-10 01:04] jeanlaurent commented on #3023
@raeesiqbal your current shell is `cmd.exe` right ?

Does the output of `docker-machine env` works ? Withrout the `--cmd shell default`

[2016-02-10 01:24] #2995 closed

[2016-02-10 01:27] christianbundy commented on #3000
@nathanleclaire
You're right, exit statuses aren't the way to go, although sending a warning to STDERR and `false` to STDOUT would do the trick. I think there are three possible solutions:

1. The user should be advised that the machine has *not* been activated.
2. All Docker Machine environment variables should be unset.
3. The eval command should return an exit status of `1`.

[code]

[code]

It

[2016-02-10 01:32] jeanlaurent commented on #3025
Thats definitely something we could do. Can you tell us a bit more about your use case, for wanting a env variable for that. Are those registry mirrors permanent ?

[2016-02-10 01:52] nathanleclaire commented on #3024
cc @frapposelli

[2016-02-10 01:53] nathanleclaire commented on #3023
cc @StefanScherer please take a look at this and let us know if you can dupe!

[2016-02-10 01:55] nathanleclaire commented on #3013
Can you please trying Docker Machine version 0.6.0?

Also, it's possible this might be related to the 1.10 image layer migration (which will hang the existing daemon for some time when upgrading).

[2016-02-10 02:06] nathanleclaire commented on #3014
If you give it some time and re-run the `upgrade` (or daemon/service reload), does it work?  1.10 had a content addressability migration that I suspect might be causing issues.

[2016-02-10 02:28] davemkirk commented on #3025
I run a local registry mirror to minimize downloading the same images over and over. The flag works for me but became a hassle when trying to share some simple scripts with others who don't have the same mirror setup. I guess I could just change my scripts to take mirrors as an option but it sure would be convenient if docker-machine just picked up the environment variable :-)

[2016-02-10 03:33] Hokutosei commented on #3014
Greetings,

I don't get what you mean by give it some time.. could you be more specific? `machine upgrade dev01` then?

I will update my post on how did I created the machine..

[2016-02-10 07:56] StefanScherer commented on #3023
@raeesiqbal Are you running the FOR loop interactively or in a Batch script?

Using a `cmd.exe` shell in a Win10x64 machine with the FOR loop

[code]

everything works well:

[code]

But using this FOR loop `FOR /f "tokens=*" %i IN ('docker-machine env --shell cmd default') DO %i` in a `.bat` file it doesn't work:

[code]

The problem is that in a `.bat` script **you have to use two `%%` signs** f

[2016-02-10 08:08] raeesiqbal commented on #3023
Yes, my current shell is cmd.exe. And yes I'm actually using a batch script to configure `ssh-agent` whenever a new `cmd` is spawned. I though it was a good idea to configure `docker` within that also, and I was using single % for variables in batch file.
Now when I execute `FOR /f "tokens=*" %i IN ('docker-machine env default') DO %i`, it seems to work fine in the interactive shell.
But when I pu

[2016-02-10 08:20] raeesiqbal commented on #3000
Yeah I actually had to cleanup everything and do a clean install and delete `.docker` directory to make it work again. I figured out afterward that it had issues with the newly generated certificates. Which were not working for any of the machines I was trying to create or run.

[2016-02-10 09:20] StefanScherer commented on #3023
@raeesiqbal Don't know. I have tested a small batch script and a shortcut as follows:

Shortcut target: `C:\Windows\System32\cmd.exe /K %USERPROFILE%\setenv.bat`

setenv.bat:
[code]

Opening the CMD shell works fine and using docker works.

<img width="930" alt="cmd-setenv-bat-docker-env" src="https://cloud.githubusercontent.com/assets/207759/12943191/df832892-cfdf-11e5-8b90-98c301a623ac.png">

Wh

[2016-02-10 09:22] schmunk42 commented on #3013
Will report when I have the chance to try it again.

[2016-02-10 09:40] sanga commented on #3009
Same thing happened here for me (swarm node in AWS).

[code]

As mentioned above by @booyaa (thanks!) manually re-adding the sources.list.d entry and manually upgrade the docker-engine package works, but that kinda defeats the purpose of machine upgrade

[2016-02-10 10:00] sydisnet commented on #2565
I've finally found a workaround in my case. The problem was we are behind a proxy. I had to configure NO_PROXY and it's working fine now :)

I think you have to deal with NO_PROXY and list all AWS machines in this variable.

[2016-02-10 11:03] moxiegirl opened #3028 "Machine Overview has a bad link on the page"
https://docs.docker.com/machine/overview/

Provision a Docker Swarm cluster with Docker Machine
Goes to: https://docs.docker.com/swarm/machine-provisioning/provision-w-machine/  -> 404

[2016-02-10 12:10] PavelVanecek commented on #533
I just ran into this issue. In our configuration, AWS tokens expire after ~30 minutes. I can however see the old credentials cached in `~/.docker/machine/machines/mymachinename/config.json`. This is effectively prohibiting us from using amazon EC2 driver.

If I delete the credentials from JSON, I get `error EmptyStaticCreds: static credentials are empty`.

Relates to https://github.com/docker/mach

[2016-02-10 14:23] sleepylemur commented on #531
Just hit this problem on OS X, Docker Toolbox 1.10.0
`docker-machine regenerate-certs dinghy` fixed it. Thanks!

[2016-02-10 14:51] frapposelli commented on #3024
@ljrittle your problem seems to be related to the vCenter port (shown as `0` in the failed command).

@nathanleclaire was there any particular change in `v0.6.0` related to provider configuration?

[2016-02-10 14:53] frapposelli commented on #3005
definitely a bug, I'll look into it, thanks for reporting.

[2016-02-10 14:57] muhammadghazali commented on #1328
@leandromoreira looks great dude, I was able to export and import the configs successfully.

[2016-02-10 15:23] samm0ss commented on #1709
+1

[2016-02-10 15:30] ain commented on #2050
Any updates here?

[2016-02-10 15:33] raeesiqbal commented on #3023
Ah.... found the problem. It worked just fine for me when executed after the `cmd` had loaded. But as weird as it gets, `FOR` runs a new command processor for every loop! and since I was using `FOR /f "tokens=*" %%i IN ('docker-machine env default') DO %%i` in the startup script of `cmd`. It was causing an infinite loop.
So, here is what I did.
[code]

[2016-02-10 15:33] #3023 closed

[2016-02-10 15:34] raeesiqbal commented on #3023
@StefanScherer thank you so much for your time.

[2016-02-10 16:22] ain commented on #2050
@dburry any ideas on how would mount the users home (`~`) without hardcoding it?

[2016-02-10 16:44] ain commented on #1460
I'm calling to reopen this ticket. I'm running `1.10.0` with respective boot2docker.iso and I can still reproduce the issue. File rights differ.

[2016-02-10 16:45] frapposelli commented on #1460
@ain please file another issue with reproduction steps.

[2016-02-10 18:16] nathanleclaire commented on #533
I wonder if we could modify the AWS driver to support temporary tokens.  I might be mis-remembering, but I think @jeffellin may have done some research in this regard.

[2016-02-10 18:32] hittepit commented on #2972
Hi,

Same issue for me, Windows 7.

- docker version  1.10.0, build 590d5108
- docker-machine Version: 0.6.0, build e27fb87
- docker-compose version 1.6.0, build cdb920a

[2016-02-10 18:39] leandromoreira commented on #1328
@muhammadghazali it was @bhurlow idea and effort :stuck_out_tongue:

[2016-02-10 19:12] tripper54 commented on #2240
I had this problem, it turned out to be a corrupt ~/.ssh/config file on my mac. I had mapped my ~/.ssh folder to a container that had appended some stuff to the end of it without inserting a new line, causing a syntax error. Thanks to @felipesabino , I never would have found the issue without the info here!

[2016-02-10 19:28] thieman commented on #1942
As a related issue, we are seeing significantly better non-host networking performance (e.g. pulling Docker images from the public registry) when we change NIC 1 to PCnet-FAST III.

[2016-02-10 20:01] jeffellin commented on #533
So this is a little nuanced depending on if you want to break backwards compatibility.  The truth is now that you are using the aws sdk you don't need to store credentials at all.  The sdk has a pre-determined notion of where they should be,  env variables,  .aws dir, etc.  So my recommendation is to stop reading the credentials from the config file and just use whats in the environment.  This sho

[2016-02-10 20:04] nathanleclaire commented on #3024
Hm, I'm not sure exactly what you mean.  There were no config migrations and the host loading => plugin mechanic has been largely unchanged since the 0.5.* series of releases.

[2016-02-10 20:13] nathanleclaire commented on #3028
Oof, turned in https://github.com/docker/machine/pull/3030 to fix it -- looks like @londoncalling's is a bit more comprehensive in terms of fixing links so we can use that instead

[2016-02-10 20:17] erkie commented on #179
Running this command works fine for copying between development machines on the same network:

[code]

[2016-02-10 20:22] frapposelli commented on #3024
@nathanleclaire that's what I've thought, I've tried to reproduce this issue to no avail.

@ljrittle do you have repro steps for this?

[2016-02-10 22:26] jseaidou opened #3031 "certs after create in wrong path"
after running
[code]
I see in my local machine (OSX) the certs in $HOME/.docker/machine/machines/certs
however according to this issue: https://github.com/docker/machine/issues/705 it should be in
[code]
but I find them in
[code]

[2016-02-10 22:33] davad commented on #3004
FYI, had the same problem. Upgrading docker-machine fixed it.

[2016-02-10 22:36] errordeveloper opened #3032 "Inconcisten UID an permissions on login"
With `vmwarefusion` and `virtualbox` drivers `docker-machine ssh` logs you in as `docker` an allows calling `docker` commands directly, while with `amazonec2` driver you get `ubuntu` UUID and need to run `sudo docker`, and with `digitalocean` you get logged in as `root` user.

For `docker` command one can always just use the remote API, but when some small customisation to the system are require,

[2016-02-10 23:04] recht commented on #2740
It's pretty easy to reproduce:
- Using docker machine 0.6.0: docker-machine create -d virtualbox test
- Using docker machine 0.4.2: docker-machine ls
- Using docker machine 0.6.0: docker-machine ls
- Output:
[code]

[2016-02-10 23:16] nathanleclaire commented on #2740
Thanks @recht -- Unfortunately 0.4.2 isn't forwards compatible and running `docker-machine` 0.4.2 commands after creating with 0.6.0 is destructive to the configuration file format.  The recommendation is to always use the latest version of Docker Machine.

https://github.com/docker/machine/blob/master/libmachine/host/migrate.go#L65 was introduced to prevent using older Machine versions  it but 0.

[2016-02-11 00:33] nathanleclaire commented on #3028
Should be fixed by #2998

[2016-02-11 00:33] #3028 closed

[2016-02-11 00:37] skirdey commented on #1709
+1

[2016-02-11 00:51] dburry commented on #2050
@ain I would imagine one might be able to substitute ${HOME} instead of ${PWD} in my example above... it's just an environment variable referring to the home or current directory, respectively.

[2016-02-11 00:55] nathanleclaire commented on #2050
@ain If you use Compose you can do `.:/foo` notation in volumes block and it will always expand (I think to the directory where the Compose file itself is located).  Docker CLI always takes absolute paths so most do something like `docker run -v $(pwd):/foo` if they are scripting it.

[2016-02-11 04:11] toh2526 commented on #23
+1

[2016-02-11 07:07] jdmarshall commented on #1714
I'm having the same trouble today, only it gives up after 10 attempts.

[2016-02-11 08:50] ain commented on #2050
@dburry I'd think `HOME` is not referring to home on host, but the guest. The idea I got from your suggestion tho is to pass in `ENV` variable with the backreference to `/mnt/hgfs/Users…` somehow…

[2016-02-11 08:54] ain commented on #2050
@nathanleclaire no they are not expanding and that is actually the essence of this ticket. The only way to access host is to go over `/mnt/hgfs/Users…`.

[2016-02-11 12:57] AlexZeitler opened #3036 "Understanding disk size"
I'm running Docker Machine 0.6.0 on Ubuntu 14.04 LTS.

I created a machine ```default``` with no changes to settings like disk size.

Thus, ```docker-machine inspect default | grep DiskSize``` returns: ``` "DiskSize": 20000```.

If I ssh into the machine using ```docker-machine ssh default```, I do a ```df -h``` which results in:

[code]

Back an the host, when I goto ```~/.docker/machine/machines

[2016-02-11 15:43] jaxgeller opened #3037 "Github api response limited error with correct personal access token"
I'm running
`docker-machine --debug --github-api-token=mytokenhere create --driver vmwarefusion default`

And this is the error I'm getting, I'm not sure it even recognizes the token to begin with.

[code]

[2016-02-11 15:48] jaxgeller commented on #3037
Closing. Seems like it needs a couple of minutes to propagate on github's side.

[2016-02-11 15:48] #3037 closed

[2016-02-11 17:29] errordeveloper commented on #178
cc #3032

[2016-02-11 17:37] errordeveloper opened #3039 "Installer fails and hangs"
As I'm provisioning 7 machines in a row, I'm staring to see various failures, especially when using `--dirver digitalocean`.

[2016-02-11 17:39] errordeveloper commented on #3039
Having provisioned 5 machines, 6th one fails:
[code]

and
[code]

[2016-02-11 17:40] errordeveloper commented on #3039
And another one where 1st and 2nd provisioned okay, while 3rd hang:
[code]

[2016-02-11 17:51] jeanlaurent opened #3040 "very slow test"
Test in `github.com/docker/machine/commands` suddenly takes 3 minutes, to investigate.

https://api.travis-ci.org/jobs/108593199/log.txt?deansi=true

[2016-02-11 18:09] nathanleclaire commented on #3039
Looks like `get.docker.com` going sideways.  Can you post the output using `--debug` if problems persist?

[2016-02-11 18:40] aperepel commented on #2257
I noticed the `config` command output values each on a new line, could it be the reason? any special treatment or `\` to be added in the output maybe?

[code]

The error suggests it may not be reading all of the config values from the command because of this:
[code]

[2016-02-11 18:43] jeanlaurent commented on #3031
What's your `docker-machine version` ?

[2016-02-11 18:46] joshbedo commented on #1709
+1

[2016-02-11 18:47] dgageot commented on #3040
It's `TestRunActionForeachMachine` in `commands_test.go` that takes a lot of time. looks like it's trying actual sshing

[2016-02-11 18:53] nathanleclaire commented on #2257
@aperepel It might not work in some shells, but works fine in bash and zsh for me.

[2016-02-11 18:57] aperepel commented on #2257
Thanks, @nathanleclaire . Nothing has changed for me since November 2015, same mac, same bash. This script fails at the line: https://github.com/aperepel/docker-nifi/blob/master/bootstrap_vms.sh#L24

The only change was a docker & docker-machine upgrade. Should we reopen?

[2016-02-11 18:59] aperepel commented on #2257
I noticed that if I remove double-quotes, it works again. Go figure, subtle change, but lots of repercussions. I did add them as per shelllint's best practices.

[2016-02-11 20:55] Tritlo commented on #905
could we get support for the default AWS Linux? Running the AWS Linux AMIs is cheaper than running the ubuntu ones.

[2016-02-11 21:12] weisjohn commented on #2740
This happened to me right after changing the configuration of my VM's networking from NAT to Bridged. I don't see a `SSHKeyPath` variable (mentioned above by @t0v).

[code]

The weird thing is, I can still `docker-machine start default` and it'll bring it up, however, it won't connect. And I've had to hard-code the environment settings.

Should I change the networking back to NAT?

[2016-02-11 21:39] jseaidou commented on #3031
``docker-machine version
docker-machine version 0.5.6, build 61388e9```

[2016-02-11 21:49] kwatson commented on #2147
I just had this issue with my local mac (homebrew) running 1.10, while the docker-machine -- in this case on google gce, wouldn't work even after trying docker-machine upgrade. I had to manually ssh into it and specifically add the deb repo in order to force an upgrade to 1.10.

[2016-02-11 21:55] #3040 closed

[2016-02-11 22:05] chrisdopuch opened #3043 "Docker-machine rm cannot remove a VM in state:saved"
Docker-machine rm subcommand cannot remove a container that is in a saved state. The container must be started using `docker-machine start` before you can delete it.
Using:
`OSX Yosemite 10.10.5`
`docker-machine version 0.5.6, build 61388e9`
`Docker version 1.9.1, build a34a1d5`

Example:
[code]

I'm fairly sure it is possible to delete a virtualbox VM that has been suspended and is in a saved sta

[2016-02-11 22:12] dgageot commented on #3043
This is fixed in 0.6.0

[2016-02-11 22:12] #3043 closed

[2016-02-11 22:15] #3016 closed

[2016-02-11 22:15] jeanlaurent commented on #3036
You're running docker-machine host inside virtualbox on a Ubuntu host ?

[2016-02-11 22:27] jeanlaurent commented on #3036
vmdk files are compressed anyway so this will not reflect the size of the actual disk space from within the container. One reason could be that you imported a lot of data inside your mongo container.

Anyway you would probably want to increase the default size of your machine with the `--virtualbox-disk-size` in mb.

[2016-02-11 22:38] AlexZeitler commented on #3036
@jeanlaurent Yes, the host is Ubuntu (which runs inside VMware Workstation on Windows), the machine is a Virtualbox machine.

The MongoDb container did not contain any data and has been created right before the error occurred.

But if disks get compressed, the disk of the machine might have full indeed.

Thanks for explanation.

[2016-02-11 22:38] #3036 closed

[2016-02-11 22:46] jeanlaurent commented on #3031
Some certs directory should be in `~/.docker/machine/certs`  and the other specific to your default machine in `~/.docker/machine/certs/default`

Do you have these directory and some .pem inside them ?

What are the certs file you see at the root of `~/.docker/` ?

[2016-02-11 22:50] jseaidou commented on #3031
docker@default:~$ ll .docker/
total 12
-rw-r--r--    1 docker   staff         1038 Feb 11 05:24 ca.pem
-rw-r--r--    1 docker   staff         1070 Feb 11 05:24 cert.pem
-rw-------    1 docker   staff         1675 Feb 11 05:24 key.pem

[2016-02-11 22:59] jeanlaurent commented on #3031
That's the expected behavior.

On the host pem files are in `~/.docker/machine/certs/default`
On the 'remote' machine there are indeed in `~/.docker/`

[2016-02-11 23:06] jseaidou commented on #3031
Perfect, thanks for clarifiying!

[2016-02-11 23:11] #3031 closed

[2016-02-11 23:16] jeanlaurent commented on #3003
Thanks @molivier for the idea, we believe this can be achieved with some sort of wrapper on top of docker-machine a similar to the [docker-machine use](https://github.com/docker/machine/blob/master/contrib/completion/bash/docker-machine-wrapper.bash) command, rather than directly into `docker-machine` code itself.

If you want to contribute such a script, we will be happy to test it and put it in

[2016-02-11 23:16] #3003 closed

[2016-02-11 23:17] jeanlaurent commented on #2996
Closing for now, feel free to re-open if needed.

[2016-02-11 23:17] #2996 closed

[2016-02-11 23:21] SteveLasker opened #3044 "Docker-machine env in Powershell includes the full path to docker-machine.exe"
On Mac, and on Windows in cmd, docker-machine isn't specified by it's full path.
However, using 1.10, when calling docker-machine from a powershell prompt, the fully qualified path is included

[code]

[2016-02-11 23:24] jeanlaurent commented on #2985
We have no plan on working on this as of now, as current `hyperv` driver support only local vm. But we gladly accept contribution.

Indeed we don't really know how to setup/transfer the vhd on the target machine, do you feel investigating it or even better contributing to it ?

[2016-02-12 01:46] dgageot commented on #1163
Closing since the original issue was with docker-machine 0.2.0 and couldn't be replicated since

[2016-02-12 01:46] #1163 closed

[2016-02-12 01:49] dgageot commented on #1713
Duplicate https://github.com/docker/machine/issues/2985

[2016-02-12 01:49] #1713 closed

[2016-02-12 01:52] dgageot commented on #2630
Closed with https://github.com/docker/machine/pull/2744

[2016-02-12 01:54] dgageot commented on #2594
Closing. All problems should be fixed. Please reopen separate tickets for any issue that might still exist.

[2016-02-12 01:54] #2594 closed

[2016-02-12 01:58] dgageot commented on #3044
@SteveLasker we use the name of the binary as it is on the command line. I guess Powershell always expands the binary to its full path.

We could keep only the base name but then it would break for people having multiple docker-machine` binaries in their path.

[2016-02-12 02:04] jeanlaurent commented on #3044
On MacOSX, if the binary is in the `$PATH` only the binary name is passed along.

If the binary is not in the `$PATH`, we get the full path to the binary.
On Windows we always get the full path to the binary on this is a powershell or cmd.exe.

There is no reliable way of determining wether the full path of the binary is available in the `%PATH%`.

One thing we can do, is always return the full pa

[2016-02-12 02:04] #3044 closed

[2016-02-12 02:06] jeanlaurent commented on #2499
I believe this is done. Feel free to re-open it if I missed something.

[2016-02-12 02:06] #2499 closed

[2016-02-12 02:07] dgageot commented on #2857
@caiofbpa any update of this or are you ok to close the ticket?

[2016-02-12 02:09] dgageot commented on #2226
@iammerrick I'm going to close the issue. Feel free to reopen if you still face this issue

[2016-02-12 02:09] #2226 closed

[2016-02-12 02:10] dgageot commented on #1402
Closing the issue. The official way of supporting password protected keys with the generic driver is to use an ssh-agent.

[2016-02-12 02:10] #1402 closed

[2016-02-12 02:55] Tritlo opened #3045 "AWS credentials does not respect $AWS_DEFAULT_PROFILE"
When using the credentials from `~/.aws/credentials`, the `[default]` profile is always used. When using the aws-cli, it either uses `[default]` or the entry specified by the environment variable `$AWS_DEFAULT_PROFILE`. It would make more sense if docker-machine did the same.

[2016-02-12 02:56] alambike commented on #1954
Same problem here with azure driver. Every time that we I create a new azure machine it fails with the error:
[code]

After running ```docker-machine regenerate-certs``` the certs validations works ok.

In docker-machine v0.5.5 there is no problem, and the creation of a docker host works ok:
[code]

[2016-02-12 03:36] lox opened #3046 "Virtualbox machine fails with `tls: DialWithDialer timed out` when checking certificates"
I get the following error after `docker-machine start mymachine` after it's been stopped some time (hard to pin down exact cause, can't force reproducing it with a machine sleep or network change). Subsequent runs do not have this error:

[code]

At a guess, is it possible that there is a race condition occurring where the docker daemon is slow to start but the machine is reporting it's ip as read

[2016-02-12 05:48] dgageot commented on #1916
@DazWilkin The only thing that changed is that with https://github.com/docker/machine/commit/b995a4d65a3e666b6cdec79036db0379b3d58b69, ssh metadata are better formed.
Anyways, happy to see everything is working ok

[2016-02-12 05:48] #1916 closed

[2016-02-12 05:54] dgageot commented on #2741
Because drivers are discovered by the name of their binary, supporting aliases seems very unlikely. Sorry @dmp42, I'm going to close this one.

[2016-02-12 05:54] #2741 closed

[2016-02-12 06:06] dgageot commented on #2910
@BrianAdams did you sort out your issue? Our tests show that everything is ok.

[2016-02-12 06:09] dgageot commented on #2891
Hi @soupdiver, have you tried with docker-machine 0.6.0 and docker 1.10.1?

[2016-02-12 06:11] dgageot commented on #2877
Closing as won't do. See https://github.com/docker/machine/pull/2897

[2016-02-12 06:11] #2877 closed

[2016-02-12 06:12] dgageot commented on #2836
Duplicate of https://github.com/docker/machine/issues/2318

[2016-02-12 06:12] #2836 closed

[2016-02-12 06:17] dgageot commented on #2710
Hi @VenkateshSrini, can you share the result of `docker-machine ls` and `docker-machine -D env [YOUR-DOCKER-MACHINE-NAME]`? Thank you

[2016-02-12 06:19] dgageot commented on #2358
@manei @frapposelli Is there something we can improve or shall we just close the ticket?

[2016-02-12 06:21] dgageot commented on #1896
Closing in favour of https://github.com/docker/machine/issues/1572 that itself is fixed

[2016-02-12 06:21] #1896 closed

[2016-02-12 06:25] dgageot commented on #1587
@WebAppFlow @nathanleclaire is this issue something we can do about? Looks like it's not in docker-machine's garden

[2016-02-12 06:27] dgageot commented on #1202
Duplicate of https://github.com/docker/machine/issues/2815

[2016-02-12 06:27] #1202 closed

[2016-02-12 06:30] dgageot commented on #1672
Duplicate of https://github.com/docker/machine/issues/489

[2016-02-12 06:30] #1672 closed

[2016-02-12 06:47] dgageot commented on #2753
Closing. This is a kernel issue

[2016-02-12 06:47] #2753 closed

[2016-02-12 06:48] dgageot commented on #1770
Closing. Support of passphrase protected ssh keys in the generic driver involves using the ssh-agent.

[2016-02-12 06:48] #1770 closed

[2016-02-12 06:52] dgageot commented on #1357
Closing. Generic driver supports password protected ssh keys through ssh-agent as specified here: https://github.com/docker/machine/blob/master/docs/drivers/generic.md#interaction-with-ssh-agents

[2016-02-12 06:52] #1357 closed

[2016-02-12 06:53] dgageot commented on #2258
duplicate of https://github.com/docker/machine/issues/2632

[2016-02-12 06:53] #2258 closed

[2016-02-12 07:12] kweng2 commented on #3010
Running into the exact same issue here
```docker-machine -D create --driver digitalocean --digitalocean-access-token=<token> test```
Running that gives me this:
[code]

After running ```docker-machine ssh test```, then running ```sudo service docker status```, I get this:
[code]

[2016-02-12 08:26] drewcrawford commented on #1655
I also needed (at least initially)

[code]

I discovered these by running `docker-machine -D [blah]` to diagnose 403 forbidden errors.

[2016-02-12 09:29] soupdiver commented on #2891
Will check and update here @dgageot

[2016-02-12 09:35] frapposelli commented on #2358
@dgageot this is a permission problem, no way to improve around it.

[2016-02-12 10:42] caiofbpa commented on #2857
I've opened #3047 to add this to the documentations. I'll fix the sign your work issue and hope we can move the conversation there.

[2016-02-12 14:29] mcandre opened #3048 "Enhancement: Grow to use more host fs space"
docker-machine's disk space can become too low to function properly, even though the host has plenty of free space. Please let docker-machine's virtual disk grow as it fills.

[2016-02-12 17:49] jeanlaurent commented on #3045
@Tritlo we rely on the [aws-sdk-go](https://github.com/aws/) for everything related to aws. The goal is to ensure the aws driver benefits from everything built there by amazon.

Unfortunately aws-sdk-go does not support `AWS_DEFAULT_PROFILE`, we opened https://github.com/aws/aws-sdk-go/pull/554 for this matter. We rather continue relying on the aws-sdk-go features than monkey patch here.

[2016-02-12 18:19] nathanleclaire commented on #1655
Yes, if the `docker-machine` security group does not exist, Machine will need these permissions to create the security group and authorize ingress e.g. on port 22.

[2016-02-12 18:42] jeanlaurent commented on #3048
On virtualbox, and most probably under fusion too, there is no such thing as dynamically growing disk size. I suspect this is because most OS's or filesystems could not cope with a disk drive with a variable capacity.

You can either choose a "big enough" disk size, or fiddle with external tools to grow the capacity of your current disk size, and set another, bigger, limit.

Note that the disk fro

[2016-02-12 18:45] nathanleclaire commented on #3048
The VirtualBox disk created is a "dymamically growing" drive already, so if you want more space, I'd suggest just creating your machines with `--virtualbox-disk-size` set to `100000` or however much you'd like to allocate.  The VM won't actually use that much space until it's needed _but_ once it's used, the host OS won't be able to reclaim it until the virtual disk is destroyed.

[2016-02-12 18:47] #3048 closed

[2016-02-12 19:10] jeanlaurent commented on #3045
So it appears per https://github.com/aws/aws-sdk-go/pull/554#issuecomment-183439395 that the `AWS_DEFAULT_PROFILE` is a legacy flag only used by aws cli, as the aws-sdk-go wont support it, we sont either. :disappointed:

Closing this, feel free to re-open if we missed something.

[2016-02-12 19:13] #2858 closed

[2016-02-12 19:34] dgageot commented on #1160
@aoffermann I'm going to close this issue since it seems nobody faces similar issues with recent versions of docker-machine. Thanks again for your feedback and of course feel free to reopen if you are still facing the issue with docker-machine 0.6.0

[2016-02-12 19:34] #1160 closed

[2016-02-12 19:38] dgageot commented on #1230
@frapposelli Thanks for sharing this idea. This is not something we plan to do. Upgrade process clearly needs some improvement but we have no plan delegating this process to the plugins.

[2016-02-12 19:38] #1230 closed

[2016-02-12 19:42] dgageot commented on #2407
Hi @klaus1982 You should try docker-machine 0.6.0. It fixes a lot of issues with virtualbox. Also, upgrading Virtualbox to 5.0.14 could help

[2016-02-12 19:47] dgageot commented on #1797
I suggest this plan to start really fresh:
+ Delete all existing virtualbox machines
+ Delete all ghost VM that might remain in virtualbox GUI
+ Upgrade to the latest Toolbox. Make sure Virtualbox version is 5.0.14
+ Delete all host-only interfaces in Virtualbox GUI
+ Create a new default docker machine

Please tell me if it fixes the issue for any if you

[2016-02-12 20:09] nathanleclaire commented on #2795
Looks like on my fresh install of 1.10.1 on Debian Jessie the default service file gets dropped into `/lib/systemd/system/docker.service`.  I'm not sure what location the latest versions of Ubuntu use but we should probably follow upstream Docker's lead and modify our default location.

[2016-02-12 20:42] ahmetalpbalkan commented on #2886
@anthonydahanne from what I learned from the capacity planning team is, they assign different locations to different Free Trial subscriptions and there is no common region available to all Free Trial subscriptions. Even if there were one, it would change based on conditions. So nothing we can do here. I think the failure would be user-friendly in the new docker-machine azure driver, so users can f

[2016-02-12 21:15] DanielDent commented on #2795
See https://www.freedesktop.org/wiki/Software/systemd/FrequentlyAskedQuestions/

The TL;DR: /etc is intended for unit files which have been locally modified, and take precedence over files in /lib. Files included in a package should typically go in /lib. In this case, where docker-machine is reaching out and provisioning a system, if it's modifying unit files /etc is probably the right place to pu

[2016-02-12 21:17] nathanleclaire commented on #2795
Ah, good call -- thanks for pointing that out @DanielDent

[2016-02-12 21:43] vikstrous opened #3049 "the makefile is very strict about where godep has to be"
The AUR package for docker machine is failing to install for me because the docker machine makefile looks for godep at `GODEP_BIN := $(GOPATH)/bin/godep` but I have it installed elsewhere, still in my path. This happens at https://github.com/docker/machine/blob/7f2e3c1d19ceabaa369ab149882985b2488143f4/mk/main.mk#L15

The makefile should be okay with any godep found in $PATH regardless of where it

[2016-02-12 22:02] dmp42 commented on #3049
The AUR package is bonkers.
There is no need for godep when building.

Removing lines 31 & 32 of that should fix it.

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=docker-machine

Agreed the makefile *may* be more tolerant with godep location though.

Once we move to go 1.6 this will no longer be a concern though.

[2016-02-12 23:26] dgageot opened #3051 "Use golang 1.6"

[2016-02-12 23:31] nathanleclaire commented on #1954
@alambike You're hitting this issue wtih 0.6.0?

[2016-02-12 23:42] schmunk42 commented on #3009
I have the same problems. Tried to upgrade a `1.9.1` machine to `1.10.1` and the upgrade had no effect.
So I tried to remove the machine and recreate it again - also with no luck.

It's a Vagrant box with `ubuntu/wily64` - I destroyed it and upped it, but still no luck.
Seeing similar output to https://github.com/docker/machine/issues/2978

[2016-02-12 23:53] prudhvi-chaganti opened #3052 "Can a single docker host be managed by multiple docker-machine instances?"
Using docker-machine on my system (S1), i created a docker host on AWS using amazon-ec2 driver. I have another system (S2) on which i installed docker-machine. Used generic driver and pointed docker-machine to manage the docker host on AWS. From this point onwards, i am unable to access the docker host from S1. Any suggestions on how to get this working?

[2016-02-13 00:13] alambike commented on #1954
Sure, from 0.5.5 onwards. I have test this with 0.5.6 and 0.6.0.

[2016-02-13 00:44] schmunk42 commented on #3009
Could this in any way be related to network problems or missing IPv6 connections?

I was trying to install docker for an hour, tried manually via get.docker.com ... suddenly it worked.
I'm asking, because I know I do not have IPv6 connectivity on my host.

[2016-02-13 01:36] #2857 closed

[2016-02-13 02:06] jeanlaurent commented on #3052
Using the generic driver on an existing host, will reset the credentials and check docker is probably installed.

What you want to do is to share the credentials of an existing machine in another workstation. This is in the roadmap, but not done atm.

The known workaround for this, is to copy the content of your `~/.docker/machines/MACHINENAME` folder from one workstation to the other, you may hav

[2016-02-13 02:06] #3052 closed

[2016-02-13 02:46] Tritlo commented on #3045
Oh, ok then. Could you add a mention to 'AWS_PROFILE' to the documentation
though? It's quite confusing if one is used to the "legacy" standard.

On fös., 12. feb. 2016 at 20:11, Jean-Laurent de Morlhon <
notifications@github.com> wrote:

--
Matthías Páll Gissurarson

[2016-02-13 04:15] klaus1982 commented on #2407
It works now, I think we can close this issue now.

[2016-02-13 04:16] #2407 closed

[2016-02-13 05:36] dgageot commented on #3049
@vikstrous Clearly, the AUR package is wrong. `godep` is not used by `make build`
@dmp42 a vendoring tool is still needed with go 1.6. So `godep` is here to stay. Right?
I'd rather leave the Makefile as is and close the ticket. @vikstrous wdyt?

[2016-02-13 08:13] dmp42 commented on #3049
@dgageot godep is here to stay, but there will no longer be a need for godep specific tasks in the makefile itself (exit GO15VENDOREXPERIMENT)

[2016-02-13 09:39] janeczku opened #3056 "docker-machine ls: Timeout error when instance has been stopped"
[code]

[code]

[code]

This is obviously doomed to fail, with commit 670c4808ed8abdc80d4a71444b10df5360bed62b assuming incorrectly that when the driver returns the URL it means that the machine is running.

https://github.com/docker/machine/blob/master/commands/ls.go#L343-L347

/cc @dgageot

**Version Info:**
docker-machine version 0.6.0, build e27fb87

[2016-02-13 09:46] rossedman commented on #2279
Wondering what the status of this was? I know @frapposelli is a busy man, but interested to know if there is any progress. :100:

[2016-02-13 14:26] dduportal commented on #2383
Hi !

Just to let you know that i'm waiting for the integration of @nathanleclaire before going more inside :)
I'll try to rebase to latest docker-machine code also asap, to not fall in a rebase-pocalypse :)

[2016-02-13 20:36] zbilbo commented on #1521
not fixed at all...

tried VB 5.0.14, and different 5.0.15.xxxxxx.

same shit happening.

[2016-02-13 21:21] zbilbo commented on #2972
our friends over at Oracle:

C:\Program Files\Oracle\VirtualBox>VBoxManage hostonlyif create
0%...
Progress state: E_FAIL
VBoxManage.exe: error: Failed to create the host-only adapter
VBoxManage.exe: error: Querying NetCfgInstanceId failed (0x00000002)
VBoxManage.exe: error: Details: code E_FAIL (0x80004005), component HostNetworkInterfaceWrap, interface IHostNetworkInterface
VBoxManage.exe: error

[2016-02-13 21:45] OpakAlex commented on #1709
+1_000000 :)

[2016-02-13 22:10] #2861 closed

[2016-02-14 03:48] howdoicomputer commented on #1521
I'm unable to get this working as well.

[code]

Windows 10
docker-machine 0.6.0
docker 1.10.0
VirtualBox 5.0.14

[2016-02-14 06:39] helinwang commented on #1954
same for me on 0.6.0 with aws driver (constantly). Not happening with virtual box driver.

[2016-02-14 07:18] helinwang commented on #1954
fixed after changing ```--engine-opt="cluster-advertise=eth1:2376"``` to ```--engine-opt="cluster-advertise=eth0:2376"``` using docker-machine 0.6.0 (docker-machine 0.5.4 still fails)

[2016-02-14 10:35] NoamB opened #3058 "docker machine upgrade from 1.9.1 to 1.10.* on Azure, does not upgrade"
Hi,

Been trying over the last few days to upgrade Azure VMs (Ubuntu 14.04.3 LTS) using toolbox 1.10 and 1.10.1 with no success.
Upgrade seems to go without an error, however `docker-machine ls` shows no change in docker version on the node (still shows 1.9.1).

[2016-02-14 16:42] atrauzzi commented on #2630
Err.  Are you sure that ticket "closes" this one?

The one you referenced is simply a message highlighting non-compatibility.  This ticket is a request to improve the tooling around using docker machine with hyper-v.

[2016-02-14 19:07] cloudsan42 commented on #2632
@formerlyKurt

are u able solve this issue? I have similar issue with ciscoVpn.

[2016-02-15 00:06] magamlag commented on #3002
I have same problem.

Installed Docker Toolbox on Windows 7 and executed Docker Quickstart Terminal:

Agent pid 1488
Starting "default"...
(default) Check network to re-create if needed...
(default) Windows might ask for the permission to create a network adapter. Some
times, such confirmation window is minimized in the taskbar.
(default) Found a new host-only adapter: "VirtualBox Host-Only Ethern

[2016-02-15 06:28] dgageot commented on #3056
@janeczku The (implicit?) contract with `GetUrl()` is that it should return the url only if the machine is running. I'll take a look at fixing `GetUrl()` in the openstack driver.

[2016-02-15 08:33] janeczku commented on #3056
Hi @dgageot, are you sure? I haven't seen any driver that behaves the way you described it. They all construct the URL from the IP address, so the only implicit requirement to return an URL is that the machine has an IP address.  E.g.: https://github.com/docker/machine/blob/master/drivers/digitalocean/digitalocean.go#L257-L258

[2016-02-15 09:29] dgageot commented on #3056
@janeczku Yes, I'm sure ;-) `GetIP` often checks for the VM state or implicitly fails if the VM is not running since it gets an IP only if it's running

[2016-02-15 11:12] janeczku commented on #3056
I beg to differ:
https://github.com/docker/machine/blob/master/libmachine/drivers/base.go#L38-L44

Nothing being checked here. It just returns the IP from the JSON store.

[2016-02-15 11:23] dgageot commented on #3056
@janeczku Let me be clearer: every driver that relies on the default implementation of `GetIP` and/or returns an IP without checking that the VM is running is flawed. If it needs to be fixed then it needs to fixed. All local VM drivers behave OK. Some cloud drivers are OK. Some are not OK.

[2016-02-15 11:46] janeczku commented on #3056
Thanks. Now we are talking :smile:

[2016-02-15 14:51] jamromia opened #3059 "Error setting machine configuration from flags provided: unexpected EOF"
I followed the supposed solution of https://github.com/docker/machine/issues/2661 by upgrading to 0.6.0 from version 0.5.3 I had on Ubuntu 14.04 and keep getting above error and also tried with 0.5.6 with same results. A colleague copied and tested the same command on his MacOSX machine and it works with 0.5.3 so nothing wrong with my command. My command
docker-machine -D create --driver amazonec2

[2016-02-15 16:21] dbarvitsky commented on #3007
Struggling with the same thing. Looks like the problem is here:

[code]

Judging from error message it is the space in un-escaped **C:\Program Files (x86)\Gow\bin\ssh.bat** path. Is there a way to make it use a different SSH? Or somehow configure the SSH command to be used?

[2016-02-15 17:10] dbarvitsky commented on #3007
A bit of an update - got it working on Windows 10 x64 + Hyper-V. Bruteforce hack for now - install mingw64 into a folder that does not have spaces (e.g. C:\Tools) and then re-run docker -D provision <vmname>. The Gow did not work for me because it actually uses plink for SSH, and plink does not understand -o options.

[2016-02-15 17:22] barnabyc commented on #3046
I'm experiencing the same issues, same versions.

Following the advice of regenerating the certs also has no effect.

I have not been able to start my instances since upgrading with DockerToolbox from 1.9.1g to 1.10.1 last night...

[2016-02-15 17:30] barnabyc commented on #3046
Update: After trying the same steps I've tried several times, it now works. I did not machine any other changes, all Id id was: stop default, ensure it was stopped via status, start default, then check env - this time no error and I'm able to connect.

[2016-02-15 19:40] nadworny commented on #1591
I had the same issue. Apparently I had an OpenSSH installed before and it was taking it while creating the docker image which led to the ControlMaster error. I uninstalled it, added Git\bin to the path and it worked like a charm.

[2016-02-16 01:36] prudhvi-chaganti commented on #2516
Any updates on this?

[2016-02-16 06:42] bacongobbler commented on #1532
I'm giving up on docker-machine, but for those interested, on Vagrant you can just manage the daemon's settings *after* it's been provisioned:

[code]

Then run `docker-machine env <machine-id>` to see the recommended settings, but modify it to the following:

[code]

Drop DOCKER_CERT_PATH from your environment and enjoy your TLS-free docker vm. Hope this helps!

[2016-02-16 10:34] soupdiver commented on #2891
I have checked with
[code]

It's working now. Not sure what the root cause was.

[2016-02-16 10:34] #2891 closed

[2016-02-16 11:18] frankbolviken commented on #1521
Not fixed.

[2016-02-16 13:01] jotunskij commented on #496
+1

I would like some way to send arbitrary flags to the azure vm create-command (I assume) is run by the azure-driver of docker-machine create. In my case I want to be able to specify a static private IP (the -S/--static-ip flag) to the machines I'm creating for the swarm managers and the consul instances.

[2016-02-16 15:42] gnanasundar commented on #2773
Hi, I'm also facing the same issue. It doesn't happen when I start the "default" machine using docker quickstart. I'm seeing this when I created my own machine "dev", started it and then did a ssh into it.
[code]

[2016-02-16 16:22] luebken commented on #3008
I'm getting the same error. Even after deleting all Virtualbox VMs:
[code]
Any pointers?

[2016-02-16 17:20] jmreicha commented on #3008
@luebken Did you try the link in my post above?   I also needed to remove the vboxnet NIC.

[2016-02-16 18:13] mikedougherty commented on #1532
@bacongobbler to be fair, you can do the same thing after the fact on any host provisioned by docker-machine. Also worth mentioning is that the goal here isn't a TLS-free docker connection, but rather one which does not verify the endpoint. Your solution will work for certain desired configurations but does not address the problem of a TLS-enabled daemon that is not verified by the client.

[2016-02-16 18:14] paul-callahan opened #3060 "machine VM unreachable if the virtualbox host-only network conflicts with one of the machine host's network interfaces"
Description of problem:    If one of the host's network interfaces has the same subnet/broadcast as the host-only virtualbox network, there will be problems creating and accessing the docker-machine vm(s).  They manifest themselves as "no route to host" errors during creation (visible with the --debug flag).   The vm will actually launch and look like it is running, but then subsequent docker comm

[2016-02-16 18:47] bacongobbler commented on #1532
Sorry! I missed that requirement in the OP. I was just looking for a way to shut off TLS altogether since I just want plain tcp connections from my laptop to my vbox machine. This wasn't configurable so I opted for the above.

Judging by @nathanleclaire's comment it seems clear that this probably won't be something that can be configured through machine any time soon. You'll be better off with a D

[2016-02-16 18:56] paul-callahan commented on #3060
#dibs if accepted.
Proposed fix:   raise an error if docker-machine attempts to create or start a vm that has a CIDR conflict with the host.

I've tested a bit of code that will will compare all the host's non-loopback, up-state interfaces with the CIDR docker-machine wishes to use.  If the CIDR conflicts, it will raise an error before it attempts to create/launch the machine.

[2016-02-16 19:51] sjwhyte opened #3061 "MissingRegion: could not find region configuration on EC2 instances."
Upgraded to docker toolbox 1.10.1 (machine 0.6.0) and when listing machines on aws get MissingRegion: could not find region configuration

[2016-02-16 19:52] formerlyKurt commented on #1872
+1
I'd love to be able to add a `--engine-registry-cert` option to the `docker-machine create` command.

[2016-02-16 20:34] luebken commented on #3008
Yes.`VBoxManage hostonlyif remove vboxnetX` worked. Thanks. I thought removing the VMs would do the trick.

[2016-02-16 21:59] dweomer commented on #3025
It would be nice if the two different --engine-* with envvar defaults were named similarly. The `ENGINE_` pattern seems more consistent with other envvars than the `MACHINE_DOCKER_` pattern.

[2016-02-16 22:07] meticulo3366 commented on #2595
docker-machine rm is generally total failure with something like AWS...

[2016-02-16 22:09] meticulo3366 commented on #609
docker-machine rm -f does not work on creating a new docker machine on aws!

[2016-02-16 22:54] dweomer opened #3062 "implement support for daemon --config-file option (/etc/docker/daemon.json by default)"
This is a proposal to simplify the divergence of daemon options persistence across providers by leveraging the new `--config-file` option. Simply put: consistent `DaemonOptionsFile` persistence into the  location specified by `--config-file`.

# Problem
Prior to Docker 1.10 and the advent of the `--config-file` daemon option, all `--engine-*` options passed to `docker-machine create` are persisted

[2016-02-16 23:48] nathanleclaire commented on #3062
I think that ideally what should be done is to migrate the existing `--engine-*` flags to use the new config file, and pull as much as possible out of the existing service / upstart configuration files.

Nothing wrong with that, in fact I prefer it ;P

[2016-02-16 23:49] dweomer commented on #3062
The "new config file" meaning the machine compose/declaration WIP?

[2016-02-16 23:50] nathanleclaire commented on #3062
No, the Docker daemon configuration file introduced in 1.10

[2016-02-16 23:51] moxiegirl opened #3063 "Link to drivers reference fails with 404"
https://docs.docker.com/machine/get-started/

[2016-02-16 23:53] dweomer commented on #3062
Ah, I see. Yes that would simplify it. This reminds me of something that I neglected to add/discuss: support of docker prior to 1.10. I guess the config file could be translated to the target system either way. Removing all of the old `--engine-*` flags would, however, break backwards compatibility.

[2016-02-16 23:55] nathanleclaire commented on #3062
Yes, unfortunately at this point and time Machine (or any other tool, really) is not good at seamless migrations between different versions of Docker.

[2016-02-16 23:56] nathanleclaire commented on #1521
@frankbolviken Please file an issue with clear steps to reproduce and information about your host system, Machine version, and so on -- without any information issues cannot be fixed.

[2016-02-17 00:34] dweomer commented on #2820
:+1:

[2016-02-17 01:47] andrewsomething commented on #3010
What version of docker-machine are you using? Seems to be fixed with 0.6.0:

[code]

[code]

In this commit: https://github.com/docker/machine/commit/28b2fe9ce054d482be0174e5493274f1eab08108 PR: https://github.com/docker/machine/pull/2844

[2016-02-17 03:33] rjsteinert commented on #1771
Zone matters but I don't know why. Thanks @murilopolese for pointing this out.

This doesn't work...
[code]
This does work...
[code]

[2016-02-17 06:27] janeczku commented on #3056
Here is the list of drivers that according to @dgageot are flawed in that they return the machine IP and/or URL without checking that the machine is actually running (Hint: All the the cloud drivers):

https://github.com/docker/machine/blob/master/drivers/vmwarevcloudair/vcloudair.go
https://github.com/docker/machine/blob/master/drivers/azure/azure.go
https://github.com/docker/machine/blob/master/

[2016-02-17 08:55] dgageot commented on #3056
@janeczku Thanks for the inventory. I worked on it yesterday and will create a PR soon. Some of the drivers you listed are not flawed. Here's the list of drivers that have to be fixed:

https://github.com/docker/machine/blob/master/drivers/amazonec2/amazonec2.go
https://github.com/docker/machine/blob/master/drivers/azure/azure.go
https://github.com/docker/machine/blob/master/drivers/digitalocean/d

[2016-02-17 10:20] eesprit commented on #1702
+1, the absence of this functionnality makes docker-machine useless if wanting to deploy CS version of docker engine (or am I missing something?)

[2016-02-17 10:39] dgageot opened #3065 "Improve VT-X check"
On VM start, the `virtualbox` driver checks the VBox.log for VT-x related errors. Sometimes, it wrongly thinks the VM couldn't be started.

One error case is when the logs contain the line `Falling back to raw-mode: VT-x is disabled in the BIOS for all CPU modes`. It's more a warning than an actual error.

[2016-02-17 10:44] dgageot commented on #3065
Related to https://github.com/docker/machine/pull/3018

[2016-02-17 11:12] onnimonni commented on #531
This happens a lot to me because of switching wlans and using VPN sometimes. Is there a way that this could be  Automated? Or could The certificates be valid for a range of ip addresses instead?

[2016-02-17 11:44] VonC commented on #531
@johnmccabe Note, you can simply make sure your VM always starts with the same IP: http://stackoverflow.com/a/35367277/6309

[2016-02-17 12:24] jakub-c commented on #13
I've been struggling to mount something else than default `\Users` directory on Mac OS X, and here's what worked for me:

- Go to Virtual Box app
- Choose the docker VM in my case it's called 'default'
- Go to Settings -> Shared Folders
- In the Folder List double click an item under 'Machine Folders' - that's the folder docker is going to use. By default it's going to be aliased as 'Users' unless

[2016-02-17 13:04] dgageot commented on #3056
Related to https://github.com/docker/machine/pull/1296

[2016-02-17 13:13] dgageot opened #3068 "Virtualbox dns resolution is broken when the network changes"
Because a Virtualbox VM gets its name servers at creation time, changing the network breaks running VMs.

Virtualbox support multiple DNS resolution modes:

 + `passthrough`: The VM gets name servers from the dhcp and requests those servers directly. This does not support changing the network transparently. This is the mode currently used.
 + `dnsresolver`: The host interprets all the dns requests

[2016-02-17 13:59] posita commented on #13
@jakub-c, thanks for the VBox-specific work-around, but I don't think that's the point of this issue. As far as I understand, this is a feature request to abstract (or at least expose) each underlying drivers' shared folder mounting options through the `docker-machine` command.

[2016-02-17 14:06] lukaville commented on #23
+1

[2016-02-17 14:06] dimorinny commented on #23
+1

[2016-02-17 14:28] tobilg opened #3070 "Can't use newly created VirtualBox machine on Win 10"
I run the following commands to create a new VirtualBox machine:

[code]

The creation of the machine is running smoothly, but I can't use it because it's not in the list of machines if I do a `docker-machine ls`. The OS is a freshly installed Win 10 with all updates.

Can you please check?

[2016-02-17 14:51] rafarocha commented on #1709
+1

[2016-02-17 15:04] rteusner opened #3071 "Attach Websocket via Remote API into Container: Error during WebSocket handshake: net::ERR_CONNECTION_CLOSED"
When trying to open a Websocket connection into one of my running docker containers being on a docker-machine based docker-daemon (running on 192.168.99.100:2376), I always get the following error:

`WebSocket connection to 'ws://192.168.99.100:2376/containers/2ad4e2e42345/attach/ws?logs=1&stderr=1&stdout=1&stream=1&stdin=1' failed: Error during WebSocket handshake: net::ERR_CONNECTION_CLOSED`

I

[2016-02-17 15:05] VonC commented on #1709
Based on @micheletedeschi's [comment](https://github.com/docker/machine/issues/1709#issuecomment-178668664), here is my script to set a fixed IP to a docker-machine VM:
http://stackoverflow.com/a/35367277/6309

[2016-02-17 15:18] jimzucker commented on #1709
+1

[2016-02-17 15:43] #3065 closed

[2016-02-17 17:10] onnimonni commented on #531
I'm using OS X and tired of using these hacks and having them broken eventually.

Vagrant has option to set ip address in configuration. I can't understand why this kind of parameter or flag is not already existing in docker-machine (Just comparing to vagrant because both use virtualbox)

[2016-02-17 17:23] cpuguy83 commented on #531
@onnimonni: this has been resolved for a long long  time (almost a year). Machine includes a command to regenerate certs in case the ip changed.

[2016-02-17 17:26] jeanlaurent commented on #3061
Hi @sjwhyte, could you paste the full logs ? eventually in debug mode.

[2016-02-17 17:36] dweomer commented on #3062
Although I like the idea of being able to replace all `--engine-*` switches with one `--engine-config-file` plus its corresponding content, I am worried about the materiel that this forces users to gather before being able to successfully create a machine (assuming the other `--engine-*` switches were removed). This would seem to me to be an advanced option and regardless that we generate a `daemo

[2016-02-17 18:36] janeczku commented on #3056
:+1: Great

[2016-02-17 19:25] ahmetalpbalkan commented on #496
@jotunskij are you aware of any other machine driver for cloud provider that lets you specify a static private IP address?

[2016-02-17 19:26] jezell commented on #1934
This also happens to me every day. VMWare Fusion on OSX. Makes docker-machine a complete pain to use.

[2016-02-17 19:27] dgageot commented on #496
@ahmetalpbalkan @jotunskij the google driver with the `google-address` flag.

[2016-02-17 19:31] jbwinters commented on #2533
@nathanleclaire
docker-machine version 0.5.4, build 6643d0e, AWS driver (without swarm options)

[code]

[2016-02-17 19:57] nathanleclaire commented on #2533
Thanks -- Try with Machine 0.6.0 and see if it fares any better

[2016-02-17 20:08] jbwinters commented on #2533
Worked with 0.6.0, thanks!

[2016-02-17 21:28] martynsmith commented on #1435
@dobesv - could I grab a copy of that script, I have exactly the same use case :-)

[2016-02-17 21:35] #3068 closed

[2016-02-17 21:37] nathanleclaire commented on #2533
Cool thanks @jbwinters.  Going to close this ticket all, please file a new one with information if the issues persist with 0.6.0

[2016-02-17 21:37] #2533 closed

[2016-02-17 23:13] oiavorskyi opened #3077 "Docker Machine does not preserve manual DHCP settings in VirtualBox"
When `docker-machine` creates new VM using VirtualBox or starts existing one it validates that there is VirtualBox DHCP server with precise parameters on the target interface. When it cannot find it or identifies discrepancy in the parameters it forces creation/modification of the DHCP server. Thus manual changes to the DHCP settings get overwritten every time.

While in many scenarios this is a p

[2016-02-18 00:30] ahmetalpbalkan commented on #496
@dgageot hmm `google-address` appears to be for external IP addr. Internal IP is way easier to do for Azure case. External IP will be harder for users to actually specify the argument (it'll be a long argument to the IP resource). @jotunskij do you only need specifying an internal IP address or do you need static public IP addresses, too?

[2016-02-18 00:56] krodelabestiole opened #3078 "Slow network checks and dhcp at machine startup, static ip?"
hello

im on windows 10 and my docker machine (virtualbox driver) takes a bit more than 40 sec to start (without container)
it takes 5 sec to "check network to re-create if needed"
and 35 sec "waiting for an IP"
i guess it's not a normal behavior, it must be a timeout or something ?
i don't really need neither of this operations at startup. i don't need DHCP and i would prefer to set a static ip f

[2016-02-18 02:55] nicklucking opened #3079 "'docker-machine upgrade <env-name>' not upgrdaing amazonec2 v1.9.1 to v1.10.1"
I upgrade docker-machine to 6.0 and now I can't connect to some remote docker-machine instances that are on Ubuntu 14 hosted on amazonec2. I can't run docker commands on them because they are  v1.9.1. and i get an error that says:

Error response from daemon: client is newer than server (client API version: 1.22, server API version: 1.21)

Running 'docker-machine upgrade <env-name>' goes through u

[2016-02-18 03:21] RRAlex commented on #1357
Agreed, but the error message right now is very cryptic and should give you something else than a number (ie: key not found / not unlocked / agent not found ... ?)

[2016-02-18 05:59] dobesv commented on #1435
@martynsmith

You can get the script in the PyCharm issue tracker:  https://youtrack.jetbrains.com/issue/PY-17454

[2016-02-18 07:41] #3056 closed

[2016-02-18 08:02] dgageot opened #3080 "Create an issue template on Github"
It's now easy to create an issue template on Github: https://github.com/blog/2111-issue-and-pull-request-templates

We should create one to help bug reporters not forget important information such as:
 + Operating System
 + The output of `docker-machine version`
 + Driver used
 + Content of VBox.log
 + The full output of the failing command in debug mode

We could also add a link to the troublesho

[2016-02-18 08:53] #3051 closed

[2016-02-18 09:34] jotunskij commented on #496
@ahmetalpbalkan Since machine is the only one I've tried, no. The static ip configuration can in fact be done after docker-machine create by using the azure cli. Since machine is using the azure sdk and this let's you specify a static ip flag I'm not sure why this couldn't be done though? The more important aspect is (as many before me have mentioned) the possibility to add the machine to a virtua

[2016-02-18 09:36] dgageot commented on #496
@ahmetalpbalkan You are right. It's not for a private IP. I misread your question!

[2016-02-18 10:03] ahmetalpbalkan commented on #496
@jotunskij I see. I just implemented `--azure-private-ip-address`  for the new version of azure driver that we'll release soon. Virtual networks and many such problems are already addressed there. Stay tuned.

[2016-02-18 11:02] jotunskij commented on #496
@ahmetalpbalkan Alright, thanks and great work!

[2016-02-18 12:46] cedricve commented on #2841
Any update on this ticket guys?

[2016-02-18 15:03] arpagon commented on #23
+1

[2016-02-18 15:21] sjwhyte commented on #3061
@jeanlaurent I have fixed this on my machine, I will have to do the upgrade to 0.6.0 on another machine to see if the upgrade caused the issue. What happened was the config.json for my aws instances were changed and the aws keys, region and other aws attributes were empty, I was not sure if the upgrade sis this or something else. I copied the config.json.bak that were there back to config.json and

[2016-02-18 15:27] samzhang111 opened #3083 "amazonec2 driver: Error with pre-create check: "RequestError: send request failed\ncaused by: Post https://ec2.us-east-1.amazonaws.com/: http: error connecting to proxy ../: dial tcp: i/o timeout""
I am running `docker-machine create --driver amazonec2 ...` on a computer behind a proxy, and the debug message shows:

[code]

I see this repeat a few times before it fails out with
[code]

What does `HTTP/0.0 status code 0` mean?

[2016-02-18 16:44] batsatt opened #3084 "boot2docker.iso auto upgrade should be constrained to same docker major version"
The recent https://github.com/docker/machine/pull/2298 change causes a Docker version upgrade if you have an older version, e.g. 1.9.x to 1.10.x.

Setting aside the fact that this changes only _one_ part of the toolbox, it caused breakage: Docker 1.10.x requires an upgrade of Artifactory to version 4.4.3. In our case, that upgrade is out of our control, so we've been forced to hack around this aut

[2016-02-18 17:59] zbilbo commented on #1521
@nathanleclaire see also https://github.com/docker/machine/issues/2972#issuecomment-183755968.

is in fact not related to Docker per se, but maybe someone might get somewhat tired of the Oracle shit...

[2016-02-18 18:27] Zugwalt commented on #2136
Hit same problem recreating a machine with same name but more memory. Following advice from @zhangcheng-aa worked for me too.

[2016-02-18 18:43] zbilbo commented on #2972
Now also add VB 5.0.15-105570 (test build) to the list.

[2016-02-18 19:31] nathanleclaire commented on #3084
Hi @batsatt, thanks for the issue.  I feel strongly that the upgrade should always upgrade to the latest released version of Docker.  For instance, 1.10.1 contains some fixes which are critical for Docker networking.  As you noted, it's possible to workaround if you need a different version, so I feel we are good with the current behavior.

[2016-02-18 19:31] #3015 closed

[2016-02-18 19:42] alanwill commented on #2773
FWIW, I was getting this error all of a sudden, but it didn't go away until I restarted the virtualbox instance
`docker-machine restart default`

Note: My default is not the OOB default but one that I manually created and called default so I expect this may work for others with any named vm

[2016-02-18 19:50] agentfitz commented on #13
Just getting started with Docker (from the Vagrant world) and this has been my biggest pain point. An easy and intuitive way to sync a host directory (from OSX) all the way down to the web root in the container would be HUGE.

[2016-02-18 20:14] jstoner commented on #2616
I am seeing the same issue with a freshly downloaded CentOS 7 image. Downloaded it, gave it a static IP, made my user sudo and set up the ssh key, and kablooey.

[ jstoner@erzulie:~ ]
2s $> docker-machine -D create --driver generic --generic-ip-address=192.168.80.252 --generic-ssh-user jstoner default
Docker Machine Version:  0.6.0, build e27fb87
Found binary path at /usr/local/bin/docker-machine

[2016-02-18 20:19] batsatt commented on #3084
I understand the idea, but... does it strike you as correct that executing `docker --version` from outside vs. inside the VM will return  _different_ results?

It is not only odd to have the toolbox partially upgraded, it has caused significant disruption on my team in this case. Yes, I found the workaround, but reverting everywhere was a royal pain.

Maybe there is a better solution than the one

[2016-02-18 20:52] frankbolviken commented on #1521
Scratch my comment. Turns out that Cisco VPN client totally borks up all network stuff, and renders docker-machine useless after use. Have to reboot computer.

[2016-02-18 21:39] prudhvi-chaganti commented on #1328
+1 Any updates on an official solution for this?

[2016-02-18 22:00] prudhvi-chaganti commented on #1328
I see that config.json file has references to the following

            "CertDir": "/home/abc/.docker/machine/certs",
            "CaCertPath": "/home/abc/.docker/machine/certs/ca.pem",
            "CaPrivateKeyPath": "/home/abc/.docker/machine/certs/ca-key.pem",
            "ClientKeyPath": "/home/prudhvi/.docker/machine/certs/key.pem",
            "ClientCertPath": "/home/prudhvi/.docker/machin

[2016-02-19 00:23] pangch commented on #1709
+1

[2016-02-19 04:42] eagle21st commented on #2628
OMG this drives me nuts! +1 for the solution of changing `ServerCertPath ` and `ServerKeyPath` to use client cert and key!

[2016-02-19 06:30] dgageot commented on #1362
See https://github.com/docker/machine/pull/3085

[2016-02-19 06:56] Gogistics commented on #2739
i got the same error after upgrading my docker-machine to 0.6.0

[2016-02-19 07:45] dgageot commented on #1362
Documentation added with https://github.com/docker/machine/pull/3085

[2016-02-19 07:45] #1362 closed

[2016-02-19 08:19] fesor commented on #13
@agentfitz for OSX there is [dinghy project](https://github.com/codekitchen/dinghy)

[2016-02-19 08:43] jalleyne opened #3086 "Create fails on digitalocean with custom image"
Description of problem:
Cannot create machine with custom digitalocean image/ snapshot.

`docker version`: Docker version 1.10.1, build 9e83765

`docker info`: cannot output, no machine created.

`uname -a`: Darwin shadow 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64

Environment details (AWS, VirtualBox, physical, etc.): DigitalOcean

[2016-02-19 08:48] fsoppelsa commented on #1444
[code]
Is this incompatible with floating?

[code]

[2016-02-19 08:53] fsoppelsa commented on #1444
Sorry for the delay, tried it (without looking at code):

[code]

[code]
Is this incompatible with floating pools?

[code]

With `openstack-net-id ID` I can't make it work while it goes smoothly with `openstack-net-name mynet05`

[code]

This was an attempt with multiple networks.

[2016-02-19 09:05] fsoppelsa commented on #2887
@thbranch did you try to point `OS_AUTH_URL` to your VIP?

[2016-02-19 09:18] fsoppelsa opened #3087 "Drop hardcoded port tcp/2376 from OpenStack driver"
I was reading https://github.com/docker/machine/issues/2820 and definitely this hardcode must be removed from **driver/openstack**:

https://github.com/docker/machine/blob/master/drivers/openstack/openstack.go#L291

Though, not clear yet from where to load the variable. It depends on Machine's roadmap.

[2016-02-19 09:19] fsoppelsa commented on #2820
Maybe `config.json` would be a good start point to store the port.

[2016-02-19 10:28] Didier-Lalli opened #3089 "docker-machine / Openstack failing after host OS discovery (CentOS)"
I’m hitting a problem with docker-machine/Openstack (version 0.6). I also tried going back to 0.5.5 and have the same behavior. I’m sure it’s something I’m doing wrong (client is CentOS7, cloud image is also CentOS), but I had it working fine back in November. I'm sitting behind corporate firewall, but I'm passing proxy details via --engine-env as shown below:

docker-machine --debug create --driv

[2016-02-19 11:24] honsiorovskyi commented on #1872
+1 for `—engine-registry-cert` option.

[2016-02-19 13:04] gomex commented on #23
+1

[2016-02-19 15:01] agentfitz commented on #13
@fesor Thanks! Hey, last night I realized I had totally missed something. Since /Users is automatically mapped from OSX to the docker-machine (if I'm not mistaken), then setting up your synced volume from your host OSX all the way down into the docker container is as simple as targeting a specific directory from within /Users for your mapping, so:

`docker run -v /Users/my/folder:/var/www me/my-do

[2016-02-19 15:31] mrmachine commented on #13
@agentfitz because VirtualBox is terribly slow at sharing folders from OSX into the VM. Even VMware, which is much faster, is still supposedly not as fast as NFS (which `dinghy` uses), which is again not as fast as rsync (which `docker-osx-dev` uses). Rsync has the drawback of actually copying files into the container, though, which often may not be practical. Plus, there are permissions issues. H

[2016-02-19 15:34] vipconsult commented on #13
https://github.com/adlogix/docker-machine-nfs

is by far the most simple solution and my favourite.
It is just a script which sets the nfs share even after the machine is creates.

[2016-02-19 15:40] agentfitz commented on #13
@mrmachine ah, so are you saying the -v flag to the docker run command uses VirtualBox's built in syncing under the hood? I do remember reading about performance concerns but when I set it up last night source code changes seemed to be reflected in the docker container instantly. Is it an issue with bigger files (like images or something?) as opposed to source code?

I also hadn't considered the p

[2016-02-19 16:50] fmontada commented on #2129
Hi I having the same problem, I just install "Docker Toolbox" https://docs.docker.com/engine/installation/mac/

And I want to create a EC2 with the amazonec2 driver but I am getting this error
Driver "amazonec2\u00a0" not found. Do you have the plugin binary accessible in your PATH?

I using "docker-machine version 0.6.0, build e27fb87"

Can someone help us ?

Thanks
Francisco

[2016-02-19 17:55] alainkr commented on #1814
Is it possible to script "sudo mount -t vboxsf ..." somewhere inside the boot2docker ? So that it is executed each time the docker-machine starts ?

[2016-02-19 18:17] nathanleclaire commented on #2129
@fmontada Looks like whichever command you are attempting to run (`docker-machine create -d amazonec2 ...`) has some hidden "garbage" characters in the driver arg that are throwing off the CLI.

[2016-02-19 18:17] nathanleclaire commented on #2129
Are you copy pasting?  Might want to try typing manually if so.

[2016-02-19 18:21] nathanleclaire commented on #13
`-v` flag for `docker run` specifies that the first part of the arg (before the colon) should be bind mounted into the container at the second part of the arg.  It _happens_ to be the case that we mount `/Users` from the host (OSX) into `/Users` in the VM (Linux / boot2docker) at boot of the VM.

VirtualBox shared folders -- they work fine for simple use cases, but with large files and/or lots of

[2016-02-19 18:22] nathanleclaire commented on #1814
@alainkr Check out https://github.com/boot2docker/boot2docker/blob/master/doc/FAQ.md#local-customisation-with-persistent-partition

[2016-02-19 19:06] jpae commented on #2879
I ran into the same issue of `Unable to query docker version: Cannot connect to the docker engine endpoint` This happened after using a VPN. Fortunately, I didn't have to create a new one. What I did to bring it back to life is just stop it and start it again.

[2016-02-19 23:44] kkirsche commented on #1177
I'm seeing this issue as well with VMWare Fusion Professional Version 8.1.0 (3272237)

[2016-02-20 02:31] #3025 closed

[2016-02-20 04:08] tdensmore commented on #2661
I can't tell if this issue is stale (fixed but not closed), or if it is still open and unresolved because it is too hard to reproduce. At the very least the error message might be improved (since I stumbled on this issue because I just received the same error using :

DOCKER_VERSION: 1.10.0
DOCKER_COMPOSE_VERSION: 1.6.0
DOCKER_MACHINE_VERSION: 0.6.0

However I suspect my issue might be related to

[2016-02-20 04:10] tdensmore commented on #3059
Looks like this issue might be a duplicate of :

https://github.com/docker/machine/issues/2661

[2016-02-20 05:18] fmontada commented on #2129
Hi @nathanleclaire thanks for the reply, yes I had a "space" on one of the parameter
Thanks a lot
Francisco

[2016-02-20 08:51] fsoppelsa commented on #1444
@robertjustjones yes https://github.com/docker/machine/pull/2974

[2016-02-20 09:05] fsoppelsa commented on #3089
Hi Didier, it looks like cloud-initi can't inject some values, and then probably something happens here https://github.com/docker/machine/blob/master/libmachine/provision/redhat_ssh_commander.go#L24

Is it 100% reproducible, and with the standard centos cloud image (qcow2, raw)?

@dgageot @nathanleclaire can you please add label OpenStack

[2016-02-20 09:07] fsoppelsa commented on #3087
@dgageot can you please add label OpenStack

[2016-02-20 09:54] jeanlaurent commented on #3087
Done

[2016-02-20 10:53] dgageot commented on #3059
duplicate of #2661

[2016-02-20 10:53] #3059 closed

[2016-02-20 11:49] benzimmer commented on #3058
I have the same problem. The only lead I can give comes from the debug log during the run:

`rm: cannot remove '/etc/apt/sources.list.d/docker.list': No such file or directory`

The rest looks rather normal.

It also seems that this is also not working on ec2: #3079

[2016-02-20 15:11] robertjustjones commented on #1444
Thanks @fsoppelsa. Mind trying again from https://github.com/robertjustjones/machine/tree/rackspace-net-switches?

[2016-02-20 21:52] oleksdovz commented on #179
+1

[2016-02-21 04:44] atomi opened #3092 "certs not created when using --virtualbox-boot2docker-url"
This may be related to #1221
I'm trying to run a custom boot2docker.iso ( one that includes a PR that hasn't been merged for linux shares). This is the only change to the current boot2docker master branch https://github.com/atomi/boot2docker/commit/d742b38f5a5d243f54fba91a76118e0e031e1e16

However, docker-machine isn't creating the certs required. I get the following error using docker-machine ver

[2016-02-21 12:18] svetlyak40wt commented on #1709
+1

[2016-02-21 14:05] Compufreak345 commented on #13
@agentfitz For me the performance issues are huge as I use SQLite-databases. I am also using the script mentioned by vipconsult since some months, it works really well.

[2016-02-21 14:50] fsoppelsa commented on #1444
Yeah recompiled again that branch (apology I had some shell variables that conflicted yesterday, so partly my fault).

Seems working fine with two networks (did you test with > 2)? Also in combination with other relevant driver options, I end up with a provisioned machine.

@nathanleclaire @dgageot for me it's OK for merge. There is a red test though. That, idk.

[2016-02-21 16:21] Didier-Lalli commented on #3089
Hi Fabrizio, yes it's the standard CentOs cloud image (qcow2). And yes it's 100% reproducible, at least in my environment. Again it might be a problem on my side, so if anyone has this working, let me know.

[2016-02-21 17:11] robertjustjones commented on #1444
@fsoppelsa I did just successfully test with 3 networks using this command
[code]
I'll try to figure out the red test.

[2016-02-21 17:31] robertjustjones commented on #1444
ok, fixed whitespace, all checks pass again now.  Thanks!!

[2016-02-21 19:10] hminaya commented on #3084
Outside the VM is the docker version for you local machine. Inside the VM is the docker version for the host which contains all of the containers.

Those two versions are independent of one another. You can have multiple developers connecting to the same docker host, and all of them are using different versions.

[2016-02-21 21:28] dhallam commented on #1797
I had a number of issues, including the "Machine IP could not be fetched." issue.  Running on Win10.  Updated VirtualBox from 5.0.10 to 5.0.14, did not remove an existing VM and Kinematic has started fine.

[2016-02-21 22:24] aleksandr-vin opened #3093 "Multiple machines IP tossing that lead to certificate check errors"
I have `default` and `jay` machines created in order.

After reboot I've tried to start the second one first. Felt on env set:

[code]

Regeneration helps but it seems to be fixed other way.

[2016-02-22 00:24] tbostelmann opened #3094 "docker-machine create --driver="generic" failing with "exit status 1""
[code]

[2016-02-22 00:42] tbostelmann commented on #3094
It's hard to get much information about what's going on beyond setting debug flag on docker-machine.  Is there a way to get output from script that is running on the remote machine?

[2016-02-22 03:48] trinitronx commented on #1716
Ran into this problem on OSX `10.9.5`, using `VirtualBox 5.0.14 r105127`.  Solved problem by upgrading `docker-machine` via HomeBrew, then repairing disk permissions [to avoid this issue][1].

    brew update
    brew upgrade docker-machine
    brew link docker-machine --overwrite

Open Disk Utility app, select Mac OSX root FS partition, then "`Repair Disk Permissions`".

Solved the error:

    St

[2016-02-22 06:28] khantilpatel opened #3095 "SSH for the machine should still work, but connecting to exposed ports, such as the Docker daemon port (usually <ip>:2376), may not work properly."
Could not run docker-machine on CentOS release 6.7 (Final) with docker-machine version 0.6.0, build e27fb87.

"SSH for the machine should still work, but connecting to exposed ports, such as
the Docker daemon port (usually <ip>:2376), may not work properly.

You may need to add the route manually, or use another related workaround."

Here is the log file for `docker-machine --debug create -d virtu

[2016-02-22 09:14] mikus commented on #2739
I confirm this error existence on docker-machine 0.6.0.

[2016-02-22 09:23] tobilg commented on #3070
Any idea how this can be fixed?

[2016-02-22 09:37] jeanlaurent commented on #3093
Which driver are you using @aleksandr-vin ?

[2016-02-22 09:44] rehia commented on #2879
Same for me here.
Like @alycda, my VM was running.
And like @jpae, I just restarted it, and I didn't get error messages anymore.

[2016-02-22 10:05] mxab opened #3096 "docker-machine upgrade <machineId> on Digital Ocean has no effect"
Hi,
if I run docker-machine upgrade for my digital ocean docker machines, it looks ok:
[code]

docker-machine version <machineId> still prints 1.9

I also tried to restart it but it doesn't seem to have any effect

[2016-02-22 11:29] fsoppelsa commented on #1444
Cool!

[2016-02-22 14:02] Didier-Lalli commented on #3089
Ok, I made some progress. First of all I was able to get further in the install by adding the proxy settings in my profile and in my yum.conf (in addition to the --engine-env).

I was then able to get to the docker install section but later on it failed after 10 attempts to find out if my docker daemon was up. After looking this up I discovered that it generated a /etc/systemd/system/docker.servic

[2016-02-22 14:18] boyvinall commented on #1984
@slecache you're a legend :)  thanks

[2016-02-22 14:32] zbilbo commented on #2972
Since there is a new test build of VirtualBox available for Windows, lets also add that one to the list:

* VirtualBox 5.0.15-105609

[2016-02-22 15:51] manei commented on #2358
It can be closed, I think the code was rewritten, I cannot find the problem anymore. The problem was not about the permission was about the actual error it shows: was showing that I did not have permissions to upload on datastore where in fact I hadn't permissions on Datacenter. Which was a little misleading.

[2016-02-22 15:51] #2358 closed

[2016-02-22 18:02] ekristen commented on #2548
This just happened to me too.

`docker-machine version 0.5.6, build 61388e9`

[2016-02-22 18:04] ekristen commented on #2548
I'm missing DropletID, AccessToken, DropletName, Image, Region, SSHKeyID, Size (which are all digital ocean related)

[2016-02-22 18:39] LoungeFlyZ commented on #2742
This will be very helpful!  Thanks for actively working on it.

[2016-02-22 19:10] wenlock commented on #3089
@Didier-Lalli this one looks fixed now by https://github.com/docker/machine/pull/2850

I bet you just need an exe that has that fix in it.

[2016-02-22 19:12] FireballDWF opened #3098 "Error creating machine: Error detecting OS: OS type not recognized"
docker-machine (running on OSX) attempt to create/register a previously manually installed docker-engine instance on AWS running amazon-linux-ami 2015.09 (latest) results in error "Error creating machine: Error detecting OS: OS type not recognized".

following shows the local output then the remote host docker version

bash-3.2$ docker-machine create --driver generic --generic-ip-address docker-te

[2016-02-22 19:14] nathanleclaire commented on #3098
Yes, I don't think we recognize Amazon Linux today (what does `/etc/os-release` say on that instance?), but it might be possible to add it without too much trouble as another Red Hat provisoiner.

[2016-02-22 19:14] FireballDWF commented on #3098
$ cat /etc/os-release
NAME="Amazon Linux AMI"
VERSION="2015.09"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2015.09"
PRETTY_NAME="Amazon Linux AMI 2015.09"
ANSI_COLOR="0;33"
CPE_NAME="cpe:/o:amazon:linux:2015.09:ga"
HOME_URL="http://aws.amazon.com/amazon-linux-ami/"

[2016-02-22 19:46] gvidaver opened #3099 "error occurred trying to connect on mac OS X"
I've download docker to a mac running 10.10.5.

After installation, I can't communicate with the docker instance and I can't do hello world:

515918-mitll:~ go22670$ docker-machine ls
NAME      ACTIVE   DRIVER         STATE     URL                         SWARM   DOCKER    ERRORS
default   *        virtualbox     Running   tcp://192.168.99.100:2376           v1.10.0

515918-mitll:~ go22670$ docker

[2016-02-22 20:01] nathanleclaire commented on #3098
Yes, we don't recognize it today, but it could theoretically be added to the [provisioners](https://github.com/docker/machine/tree/master/libmachine/provision)

[2016-02-22 20:40] dogik commented on #3058
+1
Ubuntu 14.04.2 LTS. Driver - generic. Same error:
[code]

@NoamB Thanks for posting this. In lights of the Can you please change `driver/azure` to `driver/all` label? Thanks.

[2016-02-22 21:06] nathanleclaire commented on #2129
:+1:

[2016-02-22 21:12] nathanleclaire commented on #2841
No update on our end, but let us know if you figure anything else out.

[2016-02-22 21:15] nathanleclaire commented on #3099
Did you try `docker-machine regenerate-certs -f`?

[2016-02-22 21:16] nathanleclaire commented on #3093
Current recommendation is to `regenerate-certs` as suggested when the IP address changes.  Please re-open if this does not fix the problem.

[2016-02-22 21:16] #3093 closed

[2016-02-22 21:18] nathanleclaire commented on #3094
Thanks for the ticket @tbostelmann -- Usually it should dump slightly more information from the individual SSH commands.  I wonder if something is slightly off with our RedHat SSH commander (internal Machine abstraction).

[2016-02-22 21:19] gvidaver commented on #3099
No luck -

docker is configured to use the default machine with IP 192.168.99.100
For help getting started, check out the docs at https://docs.docker.com

515918-mitll:netPron2 go22670$ docker run hello-world
docker: An error occurred trying to connect: Post https://192.168.99.100:2376/v1.22/containers/create: x509: cannot validate certificate for 192.168.99.100 because it doesn't contain any IP S

[2016-02-22 21:25] nathanleclaire commented on #3099
What's the output of `openssl x509 -in ~/.docker/machine/machines/default/server.pem -text -noout`?

[2016-02-22 21:26] nathanleclaire commented on #3099
Also, if you don't mind losing DM VM state, can you please try:

[code]

[2016-02-22 21:28] nathanleclaire commented on #3092
Can you please post the output of running the command using `--debug`?

[2016-02-22 21:29] gvidaver commented on #3099
515918-mitll:netPron2 go22670$ openssl x509 -in ~/.docker/machine/machines/default/server.pem -text -noout
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            5a:6b:b6:5f:bb:9e:94:5e:8e:06:08:00:67:7c:4e:41
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: O=go22670
        Validity
            Not Before: Feb 22 21:12:00 2016 GMT
            Not A

[2016-02-22 21:31] nathanleclaire commented on #3099
The cert _does_ seem to have valid IP SANs:

[code]

Maybe you need to re-run `eval $(docker-machine env)`?

[2016-02-22 21:35] gvidaver commented on #3099
And the next one:

515918-mitll:netPron2 go22670$ docker-machine rm -f default && rm -rf ~/.docker/machine && docker-machine create -d virtualbox --virtualbox-memory 2048 default
About to remove default
Successfully removed default
Creating CA: /Users/go22670/.docker/machine/certs/ca.pem
Creating client certificate: /Users/go22670/.docker/machine/certs/cert.pem
Running pre-create checks...
(defaul

[2016-02-22 21:52] tbostelmann commented on #3094
Is there a way I can help answer that question?

[2016-02-22 22:24] gvidaver commented on #3099
Hmm, I also did the eval:

515918-mitll:netPron2 go22670$ eval $(docker-machine env)
515918-mitll:netPron2 go22670$ docker run ls
docker: An error occurred trying to connect: Post https://192.168.99.100:2376/v1.22/containers/create: x509: cannot validate certificate for 192.168.99.100 because it doesn't contain any IP SANs.
See 'docker run --help'.
515918-mitll:netPron2 go22670$ docker run hello-w

[2016-02-23 00:54] zbyte64 commented on #1771
Amazon doesn't have a zone "a" for us-east-1, or at least it isn't available through their API.

[2016-02-23 01:50] hairyhenderson commented on #1771
@zbyte64 - they actually do... but for some reason they don't necessarily expose all AZs to all accounts. so it may not be accessible from your account :|

[2016-02-23 06:38] atomi commented on #3092
Apologies for the late reply.

[code]

[2016-02-23 06:45] atomi commented on #3092
I just tested using the --virtualbox-boot2docker-url flag using the official iso and that seems to work fine. So this seems like an issue with my custom boot2docker iso but literally the only change I've made is the PR merge.

[2016-02-23 10:34] Didier-Lalli opened #3100 "docker-machine / Openstack - Ubuntu failing to retrieve key (behind proxy)"
When deploying an Ubuntu host behind proxy using:

docker-machine --debug create --driver openstack  --openstack-insecure --openstack-ssh-user ubuntu --openstack-image-name "UbuntuTrustyDockerReady2"  --openstack-flavor-name m1.small --openstack-net-name "Demo Private Net1"  --openstack-floatingip-pool "external" --openstack-sec-groups DemoSecurityGroup --engine-env "HTTP_PROXY=http://proxy.corp.n

[2016-02-23 13:05] donnex commented on #2548
@ekristen I solved my problem by adding the missing entries manually as scottatron wrote. I'm running the latest version (0.6.0) of docker-machine.

[2016-02-23 13:53] allustin commented on #3096
try to run

[code]

the `-D` arg print verbose information about upgrade

[2016-02-23 14:02] kawasakitoshiya opened #3101 "docker-machine upgrade command should have --swarm option"
docker-machine should provide function to upgrade running swarm container on the managed machines.

like...
[code]

[2016-02-23 14:13] ozlerhakan opened #3102 "About `$docker-machine ls` options"
Hi,

I have read the doc of `$docker-machine ls` (https://docs.docker.com/machine/reference/ls/) and It says that we can use `--filter` for filtering however accidentally I found that I can use `-filter` flag as well, so is it normal? Plus, this is the case also for `--f`, `-format`,  `-quiet` , `--q`, `-timeout`, and `--t` .

[code]

[code]

[code]

[2016-02-23 14:33] fabiomargarido commented on #2898
I have the same problem on EC2 with a Debian Jessie AMI on 0.6.0.

[2016-02-23 14:39] mxab commented on #3096
[code]

`###.###.###.###` is the ip address of my machine

[2016-02-23 14:57] allustin commented on #3096
i found your error

[code]

you must hotfix like this

[code]

or manual upgrade

[code]

[2016-02-23 15:04] rjsteinert commented on #1771
Dear Amazon, What's the deal?

[2016-02-23 15:33] mxab commented on #3096
Hi @allustin, thank you for your help, unfortunately both suggestions didn't work.

The /etc/apt/sources.list.d/docker.list still doesn't seem to exist

[2016-02-23 15:45] pcgeek86 opened #3103 "Docker-machine doesn't show how to specify a Docker host name"
On my Macbook Pro, running Mac OS X El Capitan, I tried using `docker-machine` to create a new Docker host, and received an error:

However, there is absolutely nothing in the help text that tells me how to specify the "machine name."

The "usage" says:

[code]

The error message is helpful, but it doesn't tell you how to resolve the error. I'm using `docker` version:

[code]

My recommendation is

[2016-02-23 17:50] puleos commented on #1455
I am running docker machine 0.6.0 and it appears to still be an issue.

[2016-02-23 19:17] jpierson opened #3104 "Using Win32-OpenSSH for Docker on Windows"
Opening issue here for docker/machine as requested by @thaJeztah https://github.com/docker/docker/issues/20583.

Steps to reproduce:

1. Install Win32-OpenSSH (ex. `choco install win32-openssh`)
2. Reboot Windows.
2. Follow Docker Install instructions for Windows from official documentation using the CMD or PowerShell option (https://docs.docker.com/engine/installation/windows/#using-the-docker-qu

[2016-02-23 19:34] dtomasi opened #3105 "Error on creating docker-machine with vmware-fusion driver"
Hey Guys,

I ran in an Error while trying to create a docker-machine using VMware Fusion Version 8.1.0 (3272237). I used the following versions of docker and docker-machine on OS X El Capitan 10.11.3 (15D21).

[code]

[code]

A fresh installation of docker via brew does not help. :-(

I´ve seen some closed issues for previous versions but nothing that is still open ... so sorry if I created a dupl

[2016-02-23 19:37] nathanleclaire commented on #1455
@puleos Can you open another issue and post `--debug` output please?  Thanks!

[2016-02-23 19:41] allustin commented on #3096
@mxab may be `docker-machine ssh $host uname -a`

what is an OS version on digital ocean host ? may be it is not ubuntu ;-)

[2016-02-23 19:56] fredboutin commented on #1709
+1

[2016-02-23 21:00] FireballDWF commented on #3098
Should I go submit an issue on provisioners, or you'll handle it?

[2016-02-23 21:02] formerlyKurt commented on #2632
@cloudsan42 I was not able to resolve this issue. Hoping that @nathanleclaire has a good suggestion.

Found instructions on port forwarding in the [boot2docker docs](https://github.com/boot2docker/boot2docker#running-behind-a-vpn-cisco-anyconnect-etc) but that did not resolve this issue.

:(

[2016-02-23 22:05] nathanleclaire commented on #3098
I think changing the title of this issue should suffice.

[2016-02-23 22:35] mxab commented on #3096
`Linux pt-machine1 3.13.0-57-generic #95-Ubuntu SMP Fri Jun 19 09:28:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

[2016-02-24 04:43] peschkaj commented on #2989
I've managed to get this working locally (see https://github.com/peschkaj/machine/commit/3480af26881eef0483dee3ca7ce5c21a273c3ea3) but VM creation fails after the security checks pass:

[code]

Base VHDs are successfully created, but it looks like the VM isn't correctly being registered with Hyper-V. I can't see it using `Get-VM` or the Hyper-V Manager.

[2016-02-24 05:02] peschkaj commented on #2989
Spoke too soon - after some good old fashioned `print` debugging, `Resize-VHD` is failing due to a permissions issue. The error appears to be `The system failed to resize 'g:\docker\machines\mytest\fixed.vhd': General access denied error (0x80070005).`

[2016-02-24 08:16] briceburg commented on #3009
I'm running into this issue as well on a generically provisioned (with docker-machine) Debian Jessie box.

I believe it relates to #3058 and #3079 as well.

Looking at the debug output, machine doesn't appear to ever add the docker.com apt repository, or to download the dpkg itself. All it does is removes the docker.com repository it may have previously created. Below are the steps (found by searc

[2016-02-24 09:20] Starefossen commented on #2740
WOW! Just WOW! So this is why I am having problems with my Docker Machines. Thanks.

[2016-02-24 12:23] zbilbo commented on #2972
So after giving up on whatever suits Oracle in their random priorities of making people suffer I did get deep into this.

After a lot of experimenting and reading up on what happens where, especially with regards to installing drivers, I was able to manage to get the network driver "Host Only Adapter" installed as a device, but NOT appearing in Network Connections.

To get it installed as a device

[2016-02-24 15:39] gabrielhao commented on #2753
Sorry guys, I have the same issue here. but I don't understand what is the reason. could somebody tell a bit more details?

[2016-02-24 15:44] pcgeek86 opened #3106 "Add docker driver list sub-command"
`docker-machine` needs a `driver list` sub-command, to list out the supported and/or installed drivers:

- Name
- Friendly name
- Any other relevant information

Right now, to the best of my knowledge, users are required to visit an external website to find out a list of supported drivers, and more or less guess at the "short name" expected by the `docker-machine create` sub-command.

The command'

[2016-02-24 15:57] matevarga commented on #2753
You probably have a kernel that's too old or it's not supported.

[2016-02-24 16:21] gabrielhao commented on #2753
well this how i get confused. the kernel version is not old, but i still get this error.
the kernel version is: 4.4.0-x86_64-linode63, OS is Ubuntu 14.04.
and the docker info:
[code]
CPUs: 1
Total Memory: 991.7 MiB
Name: localhost
ID: S4LH:BUBO:ZCVX:QDGD:UWAI:GIFD:DL2I:KGP2:HDDL:WLQ3:WPO4:ZB34
WARNING: No swap limit support
Cluster store: consul://192.168.140.48:8500/network
Cluster advertise: 139

[2016-02-24 16:59] jezell commented on #1934
Giving up on the official drivers since there doesn't seem to be any traction on getting this show stopper solved. Anyone else having the same problem, getting rid of VMWare and switching to latest xhyve fixed it for my entire team:
https://github.com/zchee/docker-machine-driver-xhyve

[2016-02-24 17:01] matevarga commented on #2753
Yep, Linode's 4.4 kernel has this problem. Install a signed kernel (like lts-wily) from the Ubuntu repo, make sure that Linode actually boots that kernel (somewhere in the VM settings), then you're good to go.

[2016-02-24 18:09] lavalamp- opened #3107 "Support for specifying maximum connection retries"
Greetings,

I am currently working with the DigitalOcean docker-machine driver, and DigitalOcean VM spin-up times can range from very quick (< 30 seconds) to much longer (> 5 minutes). This is an issue as docker-machine will fail if the machine is not spun up in a given time frame, as the maximum number of connection retries is exceeded:

Error creating machine: Error waiting for machine to be run

[2016-02-24 18:25] nathanleclaire commented on #3092
What's the output of `docker-machine ssh ehlo tail /var/log/docker.log` after the create fails?

[2016-02-24 19:38] thieman opened #3108 "Machine can grab wrong IP for host-only network in VirtualBox"
We run Machine with VirtualBox to support our local development environments. Recently, we've been seeing a lot of networking failures with Machine 0.6.0 and VirtualBox 5.14. Basically, operations like `docker-machine regenerate-certs` will periodically be unable to connect to the VM and will time out. This problem has sometimes been solved by VM restarts, though it does not always fix itself on t

[2016-02-24 19:40] atomi commented on #3092
@nathanleclaire Thanks for following up.

[code]

[2016-02-24 19:47] atomi commented on #3092
[code]

After starting docker daemon
[code]

[2016-02-24 19:56] nathanleclaire commented on #3092
Docker daemon is not getting started correctly.  This might be because your startup script modification has a bug, or unexpected side effect.

What's the output of `mount` on the created system?

[2016-02-24 19:58] thieman commented on #3108
I think I know a bit more about why our users specifically are hitting the bug. If the user creates a machine and then never modifies any of its settings, I don't think the host-only interface should ever be anything other than `eth1`. However, we are changing settings.

After our Machines are originally created, we change the NAT network to use the PC-net FAST III adapter. `udev` seems to be reas

[2016-02-24 20:18] lancehunt commented on #531
I just ran into this issue for the first time and checked everything in this thread with the following options successfully fixing the issue:

* `docker-machine regenerate-certs default2`
* `docker-machine kill default2` then `docker-machine create default2 ...`
* `docker-machine upgrade default2` (if not already upgraded)

To repro this issue on OSX:

1. Install Docker Toolbox (v1.10)
2. Create a

[2016-02-24 20:19] StefanScherer commented on #3104
@jpierson please not that the Win32-OpenSSH from the **PowerShell** team is still a [pre-release as marked](https://github.com/PowerShell/Win32-OpenSSH/releases) in the GitHub release page. Sure this should work in the future.

For now I suggest have a look at http://www.hurryupandwait.io/blog/need-an-ssh-client-on-windows-dont-use-putty-or-cygwinuse-git and use **Git for Windows** which has a wor

[2016-02-24 20:26] atomi commented on #3092
[code]

[2016-02-24 20:27] rafaelverger commented on #2879
@jimzucker @dideler @alycda I got the same issue here. It seems to started after I've updated docker and docker-machine.
I tried to stop/start but it doesn't worked and when I remove them and try to create again I got this message:
[code]

[2016-02-24 21:08] jsirois opened #3109 "Support multiple `--amazonec2-security-group`s in `create`"
Currently you can only specify one security group by name.  In the process of beta testing DTR/UCP I ran across the need to specify 2 pre-existing security groups when spinning up extra UCP controllers to form an HA cluster.

[2016-02-24 21:10] atomi commented on #3092
@nathanleclaire I decided to build from scratch rather than using a new Dockerfile and using "FROM boot2docker/boot2docker" outlined in https://github.com/boot2docker/boot2docker/blob/master/doc/BUILD.md - and it's working correctly.

[2016-02-24 21:10] #3092 closed

[2016-02-24 21:10] jsirois commented on #3109
Noting that a team-mate and I have already worked up a branch with the fix and tests, I'm hoping to get this issue self-assigned and driver/ec2 labelled.  I think I'll break the fix up into a PR that just brings Godeps up2date (large diff), then the follow-on that adds the feature and tests.

[2016-02-24 21:11] jsirois commented on #3109
/cc my coding pair on this, @wfarner

[2016-02-24 21:54] gravis commented on #1460
I'm having the exact same behaviour with docker-machine `0.6.0`, docker `1.10.2`

[2016-02-24 22:12] thieman commented on #3108
I couldn't find a way to reliably produce the failure condition, e.g. get the host-only interface on an adapter other than `eth1`. The ephemeral nature of TCL makes it so even editing the udev config isn't sufficient. It seems likely that there might be some sort of rare race condition that can cause the interfaces to get mounted in the wrong order.

[2016-02-24 23:16] nathanleclaire commented on #3092
:+1: Glad to hear it worked out

[2016-02-24 23:22] atomi commented on #3092
Yeah! Thanks again for the follow ups. They were super helpful!

[2016-02-24 23:51] ahmetalpbalkan opened #3113 "Proposal: DRIVER environment variable"
(Apologies if this has been discussed before.) What do folks think of having a `DRIVER` environment variable that serves as an alternative to `create -d/--driver` option?

[2016-02-24 23:53] friism commented on #2907
@dgageot are you planning to crank on this? If not, I think we should point the Microsoft folks in the right direction so that they can try and make progress

[2016-02-25 00:06] SvenDowideit opened #3114 "creating a new machine has cert errors during creation?"
toolbox 1.10.2a

I presume this is a timing issue - but it sure doesn't look like we're setting the certs intentionally.

[code]

[2016-02-25 00:31] nathanleclaire commented on #3114
So cert dial check failed, but the machine was actually created correctly?

[2016-02-25 03:36] pcgeek86 commented on #2742
Definitely need this. Also need to get away from using certificates to authenticate, unless using an Azure Active Directory Service Principal. Any progress @ahmetalpbalkan?

Cheers,
Trevor Sullivan

[2016-02-25 04:06] ahmetalpbalkan commented on #2742
@pcgeek86 we won't do the service principal crap. The authn process will look exactly like Azure cross-platform CLI authentication (`"azure login"` command). Every 2 weeks it'll prompt you to open a browser window and click a button.

[2016-02-25 07:08] wenlock commented on #1954
I think im battling the same issue on my machine.  I'm using ubuntu 14.04
docker-machine version 0.5.5, build 02c4254
Running host on RHEL 7.1
Server Version: 1.10.2-cs1-rc3

Tried everything suggested with time on the machines, here is output i get from curl

curl -v --cacert ~/.docker/machine/certs/ca.pem --cert ~/.docker/machine/machines/$NODE_NAME/cert.pem --key ~/.docker/machine/machines/$NOD

[2016-02-25 07:37] dgageot commented on #2907
@friism There's ongoing work with @enderb-ms already

[2016-02-25 11:04] gsingla294 opened #3115 "Not able to add docker host in docker-machine using generic driver"
I have docker-engine installed on one of the linux VM, and it is working fine. I can spawn containers and work with them. But now I want to manage this host using my windows workstation, so I installed docker toolbox. I can use docker-machine command.
But I am not able to add the host using docker-machine command. I am executing the following command:
docker-machine --native-ssh -D create -d gener

[2016-02-25 11:38] devotox commented on #1709
What i have done is to create a copy of your hosts file anywhere.

Set a placeholder for the parts you would like to dynamically change

[code]

and in my start script i just sed replace those and then switch out the hosts file. Now if you have your copy of your hosts file the same as before. it should not affect any of your other services

[code]

[2016-02-25 12:08] Yajo opened #3116 "Please move machine files to XDG directories"
This is currently the structure for docker machine data files:

[code]

I'd love it if you move that default location to [their corresponding XDG directories](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html#variables):

-  `cache` to `$XDG_CACHE_HOME/docker/machine` (default: `~/.cache`)
- other folders under `$XDG_DATA_HOME/docker/machine` (default: `~/.local/share`).

[2016-02-25 14:49] fungjj92 commented on #2879
Bump. Having the same issue as @rafaelverger. Hung on that message, trying to recreate default.

[2016-02-25 15:10] pcgeek86 commented on #2742
@ahmetalpbalkan Excellent, so you'll have `--username` parameter as well, like azure-clil?

[2016-02-25 15:28] ahmetalpbalkan commented on #2742
@pcgeek86, no. Azure CLI doesn't require the username parameter. It's there for backwards compatibility.

[2016-02-25 15:50] gabrielhao commented on #2753
Thanks a lot. This really solved the problem. :)
but pls allow me to ask, what is the reason behind this? Linode's 4.4 kernel has something different than signed kernel which could cause this problem?
I've read some issues in github, normally this is caused by old kernel < 3.16, but why 4.4 still has this.

[2016-02-25 16:08] matevarga commented on #2753
I don't know, unfortunately.

[2016-02-25 17:31] timstott commented on #1709
+1

[2016-02-25 18:04] pcgeek86 commented on #2742
@ahmetalpbalkan I didn't say required. The `--username` parameter is what enables you to specify the Azure Active Directory (AAD) username. How is this "backwards compatibility?" What are you proposing for the final implementation?

[2016-02-25 18:06] ahmetalpbalkan commented on #2742
@pcgeek86 hmm, I never realized it is used for AAD usernames. When you go to https://aka.ms/devicelogin, does it let you specify your AAD username there? If the same task can be done without `azure login` (without `--username`) I intend to keep it that way.

[2016-02-25 18:07] pcgeek86 commented on #2742
@ahmetalpbalkan You probably need to be in ARM mode (`azure config arm`) in order to use AAD authentication with ARM. I don't really use the ASM "mode" very often.

Yes, you can use AAD username with https://aka.ms/devicelogin. However, I prefer to avoid going out to a browser, and instead specify the username with `--username`. Works better in text-only scenarios. :)

[2016-02-25 18:10] squillace commented on #2742
With an account that requires 2fa, you're going to have to Auth any way. I'm not clear this is much of an optimization for the 2fa case.

[2016-02-25 18:11] pcgeek86 commented on #2742
@squillace For multi-factor authentication users, sure. But why cater to only one group of users? My guess is that the majority will not be using MFA anyway.

[2016-02-25 18:14] LoungeFlyZ commented on #2742
You shouldn't collect usernames and passwords outside of the normal AAD login screen.  It's insecure and bad practice. Plus there are technically too many scenarios to cover to make it actually work.  2FA isnt possible without opening a browser e.g. on prem ADFS, secure fob, smartcard auth etc...

[2016-02-25 18:14] squillace commented on #2742
I don't want to cater to only one group,  but rather the basic scenario must cover all.

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Thu, Feb 25, 2016 at 10:11 AM -0800, "Trevor Sullivan" <notifications@github.com<mailto:notifications@github.com>> wrote:

@squillace<https://github.com/squillace> For multi-factor authentication users, sure. But why cater to only one group of users? My guess

[2016-02-25 18:16] pcgeek86 commented on #2742
@LoungeFlyZ So are you saying the `azure` xPlat CLI should remove its `--username` parameter? That would be a significant, breaking change, but probably possible.

[2016-02-25 18:27] LoungeFlyZ commented on #2742
Probably yeah.  I'm surprised they still have it ... but i understand why.

[2016-02-25 18:27] nathanleclaire commented on #3113
I don't mind although arguably it should be called something like `MACHINE_DRIVER`.  In fact a lot of our integration tests right now have lines like `docker-machine create -d $DRIVER foo` (where `DRIVER` is specified at invocation) which could probably be simplified by this addition.

[2016-02-25 18:43] pcgeek86 commented on #2742
@LoungeFlyZ What about command line users? Do you think this will be disruptive to them?

[2016-02-25 18:46] LoungeFlyZ commented on #2742
@pcgeek86 Yes of course. It's way less convenient I understand that.  But having any tool collect your username and password is a disaster waiting to happen.

[2016-02-25 18:49] ahmetalpbalkan commented on #3113
Yeah that's where I saw it. I'll just leave this here until somebody picks up or I find some time to do it.

[2016-02-25 18:59] pcgeek86 commented on #2742
@LoungeFlyZ I agree there, too. It seems that we're at a conflict point from a security and usability perspective. Thinking far outside the box, what would be an ideal solution for the security and usability problems we've mentioned above?

[2016-02-25 19:35] ahmetalpbalkan commented on #2742
@pcgeek86 I'm sending your email a binary drop, please try it and lmk if you find it unpractical.

[2016-02-25 21:41] mhubig commented on #23
+1

[2016-02-26 00:15] nathanleclaire commented on #3108
Weird issue... @tianon FYI this funny business is going on inside of boot2docker... I'm not 100% sure why, but I'm game to workaround with the submitted patch in the interim.

[2016-02-26 00:16] #3108 closed

[2016-02-26 00:17] tianon commented on #3108
Yuck, sounds like standard non-determinism (the kind of stuff those really annoying "deterministic interface names" was supposed to fix and actually just ended up making worse).  Doing some kind of dynamic detection makes sense here IMO. :+1:

[2016-02-26 00:21] nathanleclaire commented on #3106
SGTM

[2016-02-26 00:22] nathanleclaire commented on #3105
cc @frapposelli

[2016-02-26 00:23] nathanleclaire commented on #3102
It's normal.  codegangsta/cli support `-flag` (single dash) notation although it's not heavily referenced.  Thanks for the issue

[2016-02-26 00:23] #3102 closed

[2016-02-26 00:23] nathanleclaire commented on #3101
Yeah, that would be kind of nice, our "after initial boostrap" story with Swarm is not so good today.

[2016-02-26 01:09] pcgeek86 commented on #3106
@nathanleclaire I had to look that up on Urban Dictionary. Care to elaborate?

[2016-02-26 01:15] nathanleclaire commented on #3106
SGTM is shorthand for "Sounds good to me".  Just voicing my assent.

[2016-02-26 01:16] pcgeek86 commented on #3106
Oh, apologies. According to Google + Urban Dictionary it was "silently giggling to myself." Wasn't sure if I had missed something. My bad.

[2016-02-26 01:18] nathanleclaire commented on #3106
Heh... Sorry 'bout that, you're all good and I promise I'm not giggling at you ;D

[2016-02-26 01:19] pcgeek86 commented on #3106
By the way, I looked you up on Twitter and noticed that you appreciate feedback on software. I appreciate that openness about fellow IT folks. I'm fairly new to Docker, but trust me, you'll see some feedback coming your way. :smiley: Appreciate the collaboration!

<img width="578" alt="screen shot 2016-02-25 at 6 17 36 pm" src="https://cloud.githubusercontent.com/assets/466713/13340261/2c72b2ae-db

[2016-02-26 01:24] daehyeok commented on #3113
If nobody interesting in this. I want pick up.

[2016-02-26 01:27] nathanleclaire commented on #3113
Go for it @daehyeok

[2016-02-26 01:27] nathanleclaire commented on #3080
:+1:

[2016-02-26 01:27] nathanleclaire commented on #3106
:+1:

[2016-02-26 01:29] nathanleclaire commented on #3084
As @hminaya said, it's not unexpected behavior in terms of the current client / server model.  I agree it's definitely a Docker "gotcha", but something the Machine team can't really do anything about today.

Both will be upgraded if Toolbox is used to do the upgrade, which is the recommended method.

[2016-02-26 01:29] #3084 closed

[2016-02-26 01:31] nathanleclaire commented on #3086
Just to be clear, you're 100% sure that the image actually _is_ in the region `nyc-3`?  Verified at the API level?

[2016-02-26 02:01] jalleyne commented on #3086
@nathanleclaire you were correct actually, the region was wrong. But the issue still exists!

I've updated the initial comment with the correct details.

[2016-02-26 02:14] arun-gupta opened #3118 "Docker Machine and Compose download URIs need to be consistent"
Docker Machine download URI is:

curl -L https://github.com/docker/machine/releases/download/v0.6.0/docker-machine-Darwin-x86_64

Docker Compose is:

https://github.com/docker/compose/releases/download/1.6.2/docker-compose-Darwin-x86_64

Two points:

- Either machine contains a redundant "v" or Compose should include "v" as well. Prefer no "v".
- There should be a mechanism by which "latest" can b

[2016-02-26 02:57] jalleyne commented on #3086
Closing this as more related to either packer or digital ocean api. Being able to use the "id" in --digitalocean-image is good enough.

[2016-02-26 02:57] #3086 closed

[2016-02-26 08:14] Yajo opened #3119 "Operations on multiple machines should fork processes"
See this output:

[code]

The `agen2` machine did not start until `manager` finished. Why? They are independent machines, so IMHO they should start working simultaneously, no need to wait.

[2016-02-26 17:35] kawasakitoshiya commented on #3101
we are already using docker-machine and docker-swarm on our system for scaling, so hope docker-machine will be helpful for operating them :smile:

thanks!

[2016-02-26 17:50] GabLeRoux commented on #2740
Having same problem, my `"PrivateKeyPath"` was empty when running
[code]

I edited `~/.docker/machine/machines/default/config.json`,
replaced
[code]
with
[code]
Stoped docker machine, then ran
[code]

Still same problem, and when I do
[code]

It still shows me the empty `PrivateKeyPath`

Am-I missing something?

[code]

[code]

[code]

[2016-02-26 18:40] nathanleclaire commented on #2740
@GabLeRoux If possible, I'd highly suggest removing the machine and starting over from scratch (make sure to use the latest version of Docker Machine).  `docker-machine rm -f default && docker-machine create -d virtualbox default`

[2016-02-26 18:51] GabLeRoux commented on #2740
Deleting this vm isn't a solution for me as I've worked on a worpdress container and I still need to figure out how to handle data inside this vm, I don't want to lose this data. At least, I got it working even tough it's complaining with the error I mentioned above. I used Kitematic app and I think kitematic updated the config and broke things.

I am now able to see wordpress but It seems to redi

[2016-02-26 21:01] syardumi commented on #1709
+1

[2016-02-26 21:11] mynameismevin commented on #2137
I noticed this was due to the TinyCore init system, as dicussed [here](https://github.com/boot2docker/boot2docker/issues/1108). It seems @yyyc514 just added a basic init that open-vm-tools can understand.

However, I noticed that when assigning a static IP via dhcp.conf, `docker-machine` can still control the VM, but when it waits for SSH to become available, it will never connect.

Is anyone acti

[2016-02-26 23:05] alexander-lazarov commented on #3046
This happened to me too, after upgrading `boot2docker` image. The workaround is the following:
* open `VirtualBox` and stop the machine (send `ACPI Shutdown`)
* run `docker-machine start machine-name` in a **new** shell session. Old ones won't work (I guess there is something left in the environment that breaks even `docker-machine env`)

[2016-02-27 00:55] frankcarey opened #3123 "Support cleaner version output when using the --version flag"
Right now the version string requires more advanced parsing than should be necessary.

current output of `docker-machine --version`
[code]

I have a script and need to check the version to keep it up to date. I can use awk, but the comma messes things up.
[code]

I'd recommend just dropping the comma at least, or supporting another flag with cleaner output.

[2016-02-27 01:00] nathanleclaire commented on #3123
I'm not strongly opinionated on this, but FYI it's consistent with `docker-compose` today, so any change should probably be propagated to both programs.

[2016-02-27 01:05] nathanleclaire commented on #3119
Thanks for the issue -- That _is_ how it works today (well, not through `fork`, but through goroutines): https://github.com/docker/machine/blob/master/commands/commands.go#L438

That said, if this behavior is not working as intended, it'd be a bug -- but I'd need more concrete proof that one was blocking waiting on the other's operation(s).  This order looks simply arbitrary to me but if you can p

[2016-02-27 01:05] #3119 closed

[2016-02-27 01:07] frankcarey commented on #3123
docker, (being a go program) allows for `docker version -f {{.Client.Version}}` in a single shot.

IMO, `docker-machine version` is just cruft, but just loosing the comma would at least save an extra step to remove the trailing comma.

[2016-02-27 18:27] sukrit007 commented on #1408
+1

[2016-02-27 23:13] rwatts3 commented on #3009
Seriously still no response from docker on this issue?

[2016-02-28 06:36] anarcher commented on #1408
+1

[2016-02-28 09:17] frapposelli commented on #3105
@dtomasi can you please re run the creation with `-D` and paste the log?

[2016-02-28 09:19] frapposelli commented on #2793
@ppadala unfortunately not at this time.

[2016-02-28 09:19] frapposelli commented on #2227
@dgageot this can be closed

[2016-02-28 09:22] frapposelli commented on #2009
@jeffpereira is this still a problem?

[2016-02-28 09:24] frapposelli commented on #1592
@hhercules is this still an issue?

[2016-02-28 09:24] frapposelli commented on #1450
@marcuslinke is this fixed for you with `v0.6.0`?

[2016-02-28 09:26] frapposelli commented on #1177
@berinle is this still an issue with the latest `v0.6.0` version?

[2016-02-28 09:28] frapposelli commented on #2893
@lesaux can you please try with a version compiled from `HEAD`? this PR should've fixed this behavior https://github.com/docker/machine/pull/2933

[2016-02-28 10:47] #2227 closed

[2016-02-28 14:29] schmunk42 commented on #773
I'd really like to see this.
Why don't you split this into a separate project like docker/docker-compose?

For reference: https://github.com/efrecon/machinery

[2016-02-28 14:41] anentropic commented on #1518
is it maybe just a case of adding a restart policy to this command?

[2016-02-28 14:54] vipconsult commented on #773
good idea

[2016-02-28 15:07] anentropic opened #3125 "`ls` incorrectly reports "running", `status` correctly reports "stopped""
using 0.6.0-rc2 on Digital Ocean:
[code]
upgraded docker-machine to 0.6.0 release, still wrong
[code]

[2016-02-28 16:34] jeffpereira commented on #2009
As far as I know it is still happening. I had to switch to using docker directly in an Ubuntu VM because it was hindering my work. Also another problem I noticed that has been aparent with many of my teammates is that even if you are removing your images and containers it seems that the docker machine VMs always run out of space inevitably.

[2016-02-28 22:34] aliannejadi commented on #2660
In my case I fixed it by:
chmod +x script-address

[2016-02-29 01:51] ahmetalpbalkan commented on #2742
Hi folks, we are finally close to having a brand new Azure driver. We're polishing up a few things and I will be submitting a pull request very soon. In the meanwhile you can try out the new version before it comes out and give feedback. Please download below:

* [Source code](https://github.com/ahmetalpbalkan/machine/tree/azure-new)
* [Azure driver documentation](https://github.com/ahmetalpbalkan

[2016-02-29 01:57] dvohra opened #3126 "No active hosts found"
With 3 docker machines "running" the `docker-machine ls` command does not list any of the docker machines as active. Also ran the following command:

`eval $(sudo docker-machine env default)`

The machine name is used instead of 'default'.

The following command outputs "No active hosts found"
`docker-machine active`

[2016-02-29 03:01] squillace commented on #2742
trying the darwin now.. clean. Nice.

[2016-02-29 03:13] squillace commented on #2742
Ahmet, very, very clean.

~/workspace/ahmet-machine ‹ruby-2.2.1›  $ ld create -d azure \                                                                                                                       1 ↵
--azure-subscription-id <snip> \
--azure-ssh-user ops \
--azure-resource-group ahmetsmachine \
--azure-location eastus \
ahmetsmachine
Running pre-create checks...
(ahmetsmachine) Microsoft

[2016-02-29 03:28] ahmetalpbalkan commented on #2742
There's currently an issue on windows, it doesn't authenticate. I suggest trying with other platforms for now. Thanks @squillace!

[2016-02-29 03:29] squillace commented on #2742
OK, I'll do the debian family.

[2016-02-29 04:54] pcgeek86 commented on #2742
Yep, the bug on Windows is related to the token being copied to a token cache. Sent the details to @ahmetalpbalkan earlier this evening.

Cheers,
Trevor Sullivan

[2016-02-29 05:04] squillace commented on #2742
works perfectly on mint 17.3.

[2016-02-29 05:22] imjching commented on #23
+1

[2016-02-29 07:16] beorn commented on #3046
I have the same problem, but it doesn't work even if I try to do it in a separate shell after a ACPI shutdown.

[2016-02-29 07:56] marcuslinke commented on #1450
@frapposelli No. Same behavior as before:

[code]

[2016-02-29 08:17] joergd opened #3127 "docker-machine vs sudo docker-machine"
When I run

    docker-machine active

I get the active machine.

If I run

    sudo docker-machine active

I get "no active host found".

The same with

    docker-machine inspect dinghy

and

    sudo docker-machine dinghy

I am using dinghy to manage my docker environment on Mac OS X - and the dinghy command requires docker-machine to be elevated to sudo when running commands - but unfortunatel

[2016-02-29 08:50] theotheo commented on #3079
I've faced with same problem. I would  appreciate any ideas.

[2016-02-29 09:32] Yajo commented on #3119
Maybe it's just my perception, but here with 2 CPUs, it seems like it's not being async.

[![asciicast](https://asciinema.org/a/37757.png)](https://asciinema.org/a/37757)

Maybe a good option would be to set an async wait when waiting for an IP, which seems the slowest point where a new process could start without problem.

[2016-02-29 09:46] tire0011 opened #3129 "hardcoded port 2376 virtualbox driver"
in the virtual box driver the port 2376 is hard coded nobody can change it. With the docker-machine create it should be possible to set the port if the port 2376 blocked.

[2016-02-29 14:45] kwiky commented on #2661
Same issue for me on osx
docker-machine version 0.5.6

[2016-02-29 16:57] leandromoreira commented on #23
I think a better way to show your intention is to click on `Subscribe` (at right side **Notifications** )

[2016-02-29 17:20] BrianHutchison commented on #1709
+1

[2016-02-29 17:27] thieman commented on #3127
(Disclaimer: not a maintainer, might want to fact check me on some of this)

Machine operates on the user level by design. It stores a lot of state in `~/.docker/machine` for each user, including which machines it has defined, certificates for connecting to them, etc. If dinghy requires everything to run as `root`, then the machine you're operating on must also be owned by the `root` user.

We hav

[2016-02-29 18:20] kirillseva commented on #2661
Still happening for me
[code]

[2016-02-29 18:24] nathanleclaire commented on #3119
What's the driver you're using here?  If it's `virtualbox`, we deliberately do the operations one at a time because VirtualBox does not handle concurrent requests for operations well.  https://github.com/docker/machine/blob/7a7dfd74440a607ca9b6bc0e002884529e7d445d/libmachine/libmachine.go#L108

[2016-02-29 18:29] kvondreth commented on #2137
I tested a function using getGuestIPAddress instead of the DHCP leases.
Works, but in the end abandoned the idea of static IP for the docker machine.

[2016-02-29 18:34] lesaux commented on #2893
I just compiled from master and I still see the same issue:

[code]

 If I use
[code]
it works fine.

I found someone else mentioning this issue here: http://virtualoutlands.blogspot.ca/2016/02/docker-machine-and-vmware-vsphere.html

[2016-02-29 18:34] joergd commented on #3127
Ok awesome thank you.

[2016-02-29 18:56] hdost commented on #2795
This happens with docker-machine regenerate-certs with the generic driver also

[2016-02-29 19:48] nathanleclaire commented on #2795
@hdost Can you be more specific?  Machine version, expected vs. desired behavior etc.  I think with 0.6.0 it should at least use `daemon` correctly although a few of the desired `After=` type parameters are missing.

[2016-02-29 20:14] blaggacao commented on #2259
https://github.com/gondor/docker-volume-netshare is a hot candidate for this. It joust would need to be integrated into boot2docker...

[2016-02-29 20:20] blaggacao commented on #179
Finally I found the right issue, @nathanleclaire I would bet CIFS/NFS docker volumes, as implemented by https://github.com/gondor/docker-volume-netshare would solve the problem immediately. However those would need to be integrated seamlessly into boot2docker. Would that be possible?

[2016-02-29 20:56] hdost commented on #2795
@nathanleclaire updated

[2016-02-29 21:53] ahmetalpbalkan commented on #2742
@pcgeek86 please try this new build for windows: http://cl.ly/3k2d0g2B3j0o/docker_machine_azure_rc2.zip the issue should be fixed now. It just worked for me. (Although it is still flaky, we'll be fixing those in Azure SDK soon and import here. I will keep providing builds here as we go.)

Please try the authentication with all sorts of weird account types (Microsoft Account, AAD...) if you have th

[2016-02-29 22:12] FraBle commented on #491
@hairyhenderson, is there any solution now to retrieve a custom (corporate) boot2docker.iso from a server with https (and own company certificate)?

[2016-02-29 22:19] squillace commented on #2742
I didn't try it with personal; I'll do that now.

[2016-02-29 22:27] databus23 commented on #491
@FraBle Yes, just compile docker-machine natively. `brew install docker-machine` will do.

[2016-02-29 22:45] nathanleclaire commented on #2795
Thanks -- it shouldn't create service file with `-d`, maybe it's a bug.

[2016-02-29 22:50] FraBle commented on #491
@databus23, thanks for your super fast reply.
I tried the Homebrew version:

[code]

The certificate for out Github is imported in the System Keychain.

ps: in terms of dependencies:
[code]

[2016-02-29 22:56] databus23 commented on #491
@FraBle Thats odd. It should work if you have the SAP Global Root CA in your keychain. Are you sure you are invoking the right `docker-machine` binary? What does `which docker-machine` say? We can continue this in-house just ping me via Lync. :)

[2016-02-29 22:58] nathanleclaire commented on #491
@FraBle What is output of `which docker-machine`?  Of `ls -lah $(which docker-machine)`?

[2016-02-29 23:09] FraBle commented on #491
@nathanleclaire , @databus23

[code]

[code]

[2016-02-29 23:10] nathanleclaire commented on #491
Yup, looks symlinked to the Homebrew version correctly.

[2016-02-29 23:17] databus23 commented on #491
So this definitely should work. I'm using the same homebrew version against the same internal github enterprise installation. Has to be something with your local setup.

[2016-02-29 23:21] FraBle commented on #491
@databus23, you have mail in your corporate mailbox :)

[2016-02-29 23:23] databus23 commented on #491
@FraBle I'm on CET so i'll look into tomorrow. Cheers

[2016-02-29 23:25] FraBle commented on #491
@databus23 :+1:

[2016-03-01 01:03] nathanleclaire commented on #3127
Yes, Machine itself is not meant to be run as root.  I'd suggest if users need to `sudo` operations related to Machine (such as setting up NFS mounts) that they take a similar approach to what [Vagrant has done](https://www.vagrantup.com/docs/synced-folders/nfs.html) by creating custom sudoers entries for those commands.

[2016-03-01 01:03] #3127 closed

[2016-03-01 01:04] nathanleclaire commented on #3126
Thanks for the issue.  Please don't `sudo docker-machine`.  Machine is not meant to be invoked as a superuser.  Environment variables, path, etc. change between users and that may explain some of the issues you're seeing.

[2016-03-01 01:04] #3126 closed

[2016-03-01 01:07] frapposelli commented on #2893
@lesaux interesting, can you check if your `home` cluster has DRS activated?

[2016-03-01 02:01] hairyhenderson commented on #491
Wow, this was a blast from the past :wink: -- makes me thankful I'm no longer working for the company I was at when I logged this :grin:

Seriously though, it seems we probably need to update some docs somewhere to cover this use-case...

[2016-03-01 02:41] friism commented on #2907
@dgageot great! Is there a place I can get more details?

[2016-03-01 03:04] ahmetalpbalkan opened #3130 "rhel/centos provisioner: chkconfig docker on"
I was reading this doc: https://docs.docker.com/engine/installation/linux/centos/ which says:

I couldn't find any mentions of `chkconfig` in the codebase or https://get.docker.com/ . Any ideas how/why this is missing, yet  docker-engine keeps starting on boot?

#question

[2016-03-01 04:05] dvohra commented on #3126
But even without "sudo" same issue.

[2016-03-01 10:35] Hyunk3l commented on #1709
+1

[2016-03-01 10:45] eestein opened #3131 "Docker Machine command failed: create virtualbox (RPCServerDriver)"
My environment:

![screen shot 2016-03-01 at 07 41 08](https://cloud.githubusercontent.com/assets/2049255/13424748/69d83a36-df81-11e5-9dee-cc8a63731728.png)

Whenever I try to run kitematic I get this error:

Docker Machine Version: 0.6.0,
build e27fb87,
Found binary path at /usr/local/bin/docker-machine,
Launching plugin server for driver virtualbox,
Plugin server listening at address 127.0.0.1:5

[2016-03-01 11:54] Yajo commented on #3119
Oh yes it is. Then all should be OK, thanks for the info!

[2016-03-01 12:01] dtomasi commented on #3105
@frapposelli here is what my terminal says ...

[code]

[2016-03-01 12:54] gomex commented on #2661
I got the same problem here, but I solved using --amazonec2-subnet-id subnet-xxx instead --amazonec2-subnet-id xxx

[2016-03-01 14:08] fsoppelsa commented on #3107
So should this be only for the `create` command?

[2016-03-01 14:48] fsoppelsa commented on #3103
No, I'm against adding `--host`.

Despite the guide is very very clear on how to create a machine, I think we should fix the online help, but there is something strictly defined already in `codegangsta/cli` so it's not just modifying a string.

[2016-03-01 14:52] fsoppelsa commented on #3129
In discussion here https://github.com/docker/machine/issues/2820

[2016-03-01 14:55] fsoppelsa commented on #3131
Looks like VirtualBox is unreachable.

[2016-03-01 14:57] eestein commented on #3131
@fsoppelsa any ideas on how to solve it?

[2016-03-01 15:01] fsoppelsa commented on #3131
Can you create VMs in VirtualBox?

[2016-03-01 15:06] fsoppelsa commented on #3123
docker-machine --version | awk '{gsub(",",""); print $3}'

[2016-03-01 15:07] kirillseva commented on #2661
Got past it somehow by creating `docker-machine` subnet within my vpc. Ideally there should be a better error message though

[2016-03-01 15:15] lesaux commented on #2893
@frapposelli yes indeed, I have DRS enabled. I am almost positive that a long while ago I could use docker-machine with my vsphere and DRS. Let me see If I can test an older docker-machine version and get back to you.

Also, maybe I didn't build docker from head?? Frankly I wasn't sure exactly how to build from source, and couldn't put my hands on any documentation - so this is what I did:
I check

[2016-03-01 15:17] eestein commented on #3131
Yup, just check it here:

![screen shot 2016-03-01 at 12 16 25](https://cloud.githubusercontent.com/assets/2049255/13431268/75af3802-dfa7-11e5-8cc4-e683a1e110cb.png)

[2016-03-01 15:33] lesaux commented on #2893
@frapposelli so I tried an older docker-machine version, the oldest one I could find in the github releases:
[code]

This version uses govc and different syntax for vmwarevsphere parameters.
I am able to use the "--vmwarevsphere-pool" with the name of my DRS cluster like so:
[code]
 let me know what you think!

[2016-03-01 15:47] briceburg commented on #3009
The upgrade from 1.9 to 1.10 is a bit more involved -- and is probably why machine is not automatically upgrading the host. Mainly;
  * The -D option to docker is deprecated and replaced by `docker daemon`, and
  * Image fingerprinting now matches contents (similar to how git hashes match the tree contents), which involves rebuilding the hash of all existing images.

So I've manually upgraded my n

[2016-03-01 16:01] fumandito commented on #1709
+1

[2016-03-01 18:33] franzinc commented on #1707
And, why does "docker --version" after the upgrade still show the old version of docker?

[2016-03-01 19:38] nathanleclaire commented on #3126
So, even if you run:

[code]

No hosts show up as active?  What's the output of `env | grep DOCKER` in this case?

[2016-03-01 19:41] thaJeztah commented on #1707
@franzinc `docker-machine upgrade` will upgrade the version of docker in the "machine", but not your local client. If you run `docker version`, you should see the "server" updated

[2016-03-01 19:49] mbentley opened #3135 "Default images are non-LTS Ubuntu"
From the `v0.5.3` release notes (https://github.com/docker/machine/releases/tag/v0.5.3), it mentions that "Most base images are now set to Ubuntu 15.10".  Is there a reason why we have a non-LTS Ubuntu as the default?  I'd expect to receive the latest LTS release when creating instances.  If it was to support overlay networks, that is not an issue anymore because 1.10 has support for kernel 3.10+

[2016-03-01 19:52] nathanleclaire commented on #3135
We use the latest available.  It's fairly easy to get a custom version of Ubuntu (e.g. 15.04 or 14.04) through `--amazonec2-ami-id` or similar flags.

[2016-03-01 21:35] dvohra commented on #3126
Thanks. Running the docker-machine commands without 'sudo' fixed the error and active host gets listed.
But, had to run  docker-machine as 'root' user with sudo -i
Not documented, docker-machine is to be run as 'root'
--------------------------------------------
On Tue, 3/1/16, Nathan LeClaire <notifications@github.com> wrote:

 Subject: Re: [machine] No active hosts found (#3126)
 To: "docker/mac

[2016-03-01 21:43] dvohra opened #3136 "Certs required to be regenerated on docker machine restart"
If a docker machine is restarted (docker-machine stop; docker-machine start) or docker-machine restart; the previous certs are not valid as a new IP address is assigned. New certs are required to be generated.

Not documented in either
https://docs.docker.com/machine/reference/regenerate-certs/

or

https://docs.docker.com/machine/reference/restart/

about the requirement to regenerate certs

[2016-03-01 21:57] dvohra opened #3137 "Docker machine scripts generate error"
Copied the scripts from https://github.com/docker/machine/tree/master/contrib/completion/bash
to /etc/bash_completion.d

Got the following errors:
: command not found
-bash: /etc/bash_completion.d/docker-machine-prompt.bash: line 20: syntax error near unexpected token `$'{\r''
-bash: /etc/bash_completion.d/docker-machine-prompt.bash: line 20: `__docker_mac'ine_ps1 () {
: command not found
: comman

[2016-03-01 23:02] jonrsawyer commented on #1556
Support for inventory folders would be useful for me too. There are policies around here about what folders my VMs need to reside in, otherwise they are at risk of deletion by the IT Powers That Be.

Editing the config.json file works, but is a hack.

Could we get a VSPHERE_INVENTORY_FOLDER or VSPHERE_INVENTORY_PATH variable and corresponding command line parameter?

[2016-03-01 23:29] rjsteinert commented on #1771
Now zone A doesn't work :-/

[2016-03-01 23:36] jonrsawyer opened #3138 "Need password prompt option to avoid plain text VSphere passwords in config.json"
I would like to a way to avoid saving plain text VSphere passwords in the config.json file.

Currently, supplying a password via VSPHERE_PASSWORD at machine creation results in the password being saved as plain text in the config.json file for that machine. Of course, a password is needed for the create operation, and I should be able to supply it via a command line option or an environment variab

[2016-03-02 00:02] dvohra commented on #3126
Thanks. Running the `docker-machine` commands without 'sudo' fixed the error and active host gets listed.

But, had to run  `docker-machine` as 'root' user with `sudo -i`
Not documented, `docker-machine` is to be run as 'root'

[2016-03-02 05:28] EvanWeiner commented on #3115
Any solutions? I'm also experiencing this same issue.

[2016-03-02 08:41] ThreeWalnuts opened #3139 "Failed to create docker machine on Win7"
After installing Docker Toolbox, I ran the following command:
`docker-machine create --driver virtualbox my-docker-machine`.
After a few minutes, the win 7 CMD displayed:
`<my-docker-machine> Waiting for an IP...`
**After a long time**, it showed:
`Error creating machine: Error in driver during machine creation: Maximum number of retries (5) exceeded`

Does anyone encounter such issue on win7?
How

[2016-03-02 10:13] SeerUK commented on #2050
Also having this issue, but this current workaround is simply not feasible. We have mixed platforms on our team on both Linux and OS X, we are using Docker precisely to avoid having to put in system-specific things like that.

Has there been any kind of update on this one? Does it happen with any other drivers? I've only been able to test on VMWare Fusion currently.

[2016-03-02 10:24] denverdino commented on #2973
There is one driver in https://develop.aliyun.com/command/docker
The Git project is in https://github.com/denverdino/docker-machine-driver-aliyunecs
The PR for submit available driver plugins is in #3128

[2016-03-02 10:25] ain commented on #2050
@SeerUK this and #1789 are the main blockers for us at Interactive Pioneers so we're still running on VirtualBox and docker-osx-dev (for performance) for OS X based development environment.

[2016-03-02 10:51] SeerUK commented on #2050
From what I can tell, if you are using relative paths you can work around the issue by padding the path with several `./././././`s, it seems that it cuts off some characters from the start of the symlink's target. So if you pad it out it might work.

This will then mean it at least works on both Linux and OS X systems alike, but is still not an ideal solution. I'm considering just buying parallels

[2016-03-02 14:15] SeerUK commented on #2050
As an update to this, I've done some playing around in the machine itself, I've discovered that if you were to unmount the `/Users` mount, and remount it like so:

[code]

It seems to resolve the issue. This has led me to investigating the command that is used to perform the mount when the VM is started in the VMWare Fusion driver. It looks something more like either:

[code]

or

[code]

I wonder

[2016-03-02 14:27] jtnord commented on #2989
possibly due to the permissions on the folder where you are creating your VMs?

[2016-03-02 15:00] jnardone commented on #3060
How do I change the default network for the host-only network?  Is there any place I can globally override the use of 192.168.99.x?

[2016-03-02 15:32] udif commented on #2001
I have an old host (I installed docker-machine many months ago) with this problem which I cant remove .
Today I reinstalled docker-machine and successfully created a host using hyperv, but I cant kill the old one.
How do I clean this up? rebooting doesn't help.

[2016-03-02 16:46] paulovictorv opened #3141 "Better way to detect if docker host is running"
Hello

I'm running into a problem using the generic driver (I believe this applies to other drivers too). docker-machine fails to detect that my docker host is running because it checks the output of ``netstat -an``, which is locale dependent. I'm currently writing from Brazil, and sometimes the default linux distro language pack is downloaded according to the Locale.

I know that this is an easy

[2016-03-02 17:05] paul-callahan commented on #3060
@jnardone use --virtualbox-hostonly-cidr "10.10.10.1/24"  (replace 10.10.10.1/24 with whatever you want for the subnet.)

Or after the vm has been created, bring up the virtual box UI and change it in the network preferences.

[2016-03-02 17:25] peschkaj commented on #2989
I added myself to the Hyper-V Administrators local group, which should be enough permissions and that didn't work. I then gave Hyper-V Administrators full control of the base folder (G:\docker) and gave it cascading permissions. That also didn't work.

The appropriate directories and files are being created when run as my user, but only the `Resize-VHD` fails.

I recreated the docker folder as `E:

[2016-03-02 19:12] lavalamp- commented on #3107
I hadn't considered whether this should be used for commands other than "create," so I cannot say at present. The only issues that I've run into thus far with docker-machine have all related to the spinning up of machines. All other commands have worked flawlessly across multiple hosting providers.

[2016-03-03 02:34] VenkateshSrini commented on #2710
Hi dgageot,

Sorry for the delayed reply. Please find the output of docker-machine - ls as gif file. The output of docker-machine -D env is as below

**(default) DBG | nic8="none"
(default) DBG | hidpointing="ps2mouse"
(default) DBG | hidkeyboard="ps2kbd"
(default) DBG | uart1="off"
(default) DBG | uart2="off"
(default) DBG | lpt1="off"
(default) DBG | lpt2="off"
(default) DBG | audio="none"
(defa

[2016-03-03 02:47] nathanleclaire commented on #3141
I'm open to suggestions. I agree that using `netstat` is not really ideal, but any solution needs to account for the situation where SSH access is available, but direct access to `<ip>:2376` isn't (in which case machine can detect docker is running and finish provisioning anyway, alerting the user to the fact that the port is blocked).  This kind of IP range blockage is common with users running D

[2016-03-03 09:42] wmcg commented on #3046
After experiencing this problem and trying ACPI shutdown, separate shell, reupgrading to no avail. I removed and recreated the VM which, unsurprisingly, fixed the issue.

[2016-03-03 10:36] junkiic opened #3145 "Failed to install a specific docker engine version in Centos"
I prefer to install version 1.9.1 docker engine in centos, however, it seems only latest version can be installed as default, any suggestions?

[2016-03-03 12:24] buckett commented on #2742
I did just try with the binary earlier in this issue on OS X and got:
[code]

although I think it did up creating all the resources.

[2016-03-03 12:50] baljanak commented on #661
+1 for keypair-name option

[2016-03-03 13:01] Spaxe commented on #3095
I have the same problem. Did a fresh install on OS X by deleting ~/.docker and reinstalled docker-toolbox from the website

[2016-03-03 15:12] stumpdk commented on #1709
+1

[2016-03-03 15:17] jimzucker commented on #1709
+1

[2016-03-03 16:36] sukrit007 commented on #2516
:+1:

[2016-03-03 18:17] ppadala commented on #2907
@dgageot I have a change that can spin up Windows server instances on Azure and setup Docker engine. Is there a repo, where @enderb-ms's work is available? I can submit mine here for review and possibly merge or unify with anything @enderb-ms is doing.

Quick description of what I have done

1. Add support for spinning up Windows image.
2. Use Windows server 2016 TP4 image on Azure
3. Spin it up.

[2016-03-03 18:30] StefanScherer commented on #2907
@ppadala Amazing

[2016-03-03 18:33] friism commented on #2907
hawt

[2016-03-03 18:35] ppadala commented on #2907
Thanks @stefanfoulis @friism. The work is in https://github.com/containerx/machine, but that also includes some other changes unrelated to this PR.

I am creating a new branch, cleanup code and will submit a pull request soon.

[2016-03-03 19:12] ahmetalpbalkan commented on #2742
@buckett Thanks this is about the one last issue we're trying to address in azure go sdk. We currently aren't waiting polling on created resources until their completion.

Before sending the pull request to this repo, I'm planning to create some 1,000 machines to see how reliable it is. We're already green on functional tests but there are some flakiness as I mentioned earlier.

[2016-03-03 19:34] #1445 closed

[2016-03-03 19:43] ppadala commented on #2907
I made the pull request, any comments and reviews are appreciated.

There are still a couple of hard-coded items that need work, which I will be fixing in next few days.

[2016-03-03 20:59] friism commented on #2907
PR for reference: https://github.com/docker/machine/pull/3146

[2016-03-03 22:43] kkrauss-gpsw commented on #1709
:+1:

[2016-03-03 23:25] peteyako commented on #3099
I get a similar error. Any resolution for this?

[2016-03-04 00:11] nathanleclaire commented on #3099
Is it Docker Machine 0.6.0 for both of you?

[2016-03-04 00:14] gvidaver commented on #3099
I believe I'm using 1.10.0:

docker -v
Docker version 1.10.0, build 590d5108

[2016-03-04 00:17] nathanleclaire commented on #3099
That's Docker version, which is different than Machine version.  What does `docker-machine -v` say?

[2016-03-04 00:19] gvidaver commented on #3099
Sorry -
docker-machine -v
docker-machine version 0.6.0, build e27fb87

[2016-03-04 00:26] nathanleclaire commented on #3099
OK, so it is 0.6.0.  Thanks.

[2016-03-04 01:23] peteyako commented on #3099
docker-machine version 0.6.0, build e27fb87

[2016-03-04 02:20] ahmetalpbalkan commented on #2907
@ppadala  really nice. I think @enderb-ms & docker-machine maintainers are currently trying to figure out if they should use WinRM or bootstrap OpenSSH on Windows. I'll let those folks to decide which work should go forward.

As far as azure driver concerned, I'm afraid we can't take changes to `azure` driver. I just rewrote the azure driver with Azure Resource Manager stack (it's a huge breaking

[2016-03-04 02:21] ahmetalpbalkan commented on #2907
@ppadala it's also important that this probably should not be just an `azure` driver change as soon pretty much all cloud providers will have WS2016 images and (if required) docker-machine probably needs to add those windows-specific flags.

[2016-03-04 04:20] ppadala commented on #2907
I have actually considered the SSH option as well. I just didn't like the Windows OpenSSH server I tried, had trouble with connecting to them from OS X. That said, I haven't tried all the possible SSH servers, you guys know better. Happy to jump in to the discussion, let me know where the discussion is happening.

No worries, the change I have done actually is not just to the azure driver, but to

[2016-03-04 04:22] ppadala commented on #2907
As I mentioned above, my change has both azure driver and rest of docker-machine changes. How shall we proceed from here? I can wait for your resource manager changes to be committed and then we can figure out adding windows-specific flags to docker-machine.

[2016-03-04 06:29] #3113 closed

[2016-03-04 08:04] zhoukekestar commented on #1984
@slecache thanks

[2016-03-04 10:35] wwjgit commented on #3145
Same issue +1

To install docker v1.9.1 in centos, the steps I tried are
step1: customized the docker installation script to specify the version of docker-engine as v1.9.1
step2: uploaded the above script to https://xxx/docker-install/docker-install.sh
step3: to test the script, run the command curl -sSL http://***/docker-install.sh | sh - manually. And it works as expected, docker-engine v1.9.1 h

[2016-03-04 10:46] Junus commented on #1709
+1

[2016-03-04 15:14] PhilLogan commented on #2753
Apologies if it's a silly question, but I also have this problem. What entries are needed in /etc/apt/sources.list for the apt-get install to work, as I haven't had any luck getting it to work with the things I've tried.

[2016-03-04 15:18] ppadala commented on #2907
@ahmetalpbalkan I checked the code you posted in #2742. As I understand, it's moving the driver to use ARM APIs and doesn't have Windows image support. Here's what I propose

1. Review and commit your code
2. Add spinning up Windows image support
3. Add the Windows provisioner using WinRM (or SSH if that's the choice we agree on), flags and other changes in docker-machine core

I have done 2 and 3

[2016-03-04 17:31] chuckson commented on #3099
I have the same problem running docker on windows. Same docker-machine version 0.6.0, build e27fb87.

The cert aolso does seem to have valid IP SANs after several regenerations nohing changed. Running `docker run hello-world` delivers the same error message as for the other guys...

[2016-03-04 20:32] davclark commented on #1366
No chance then of getting that --amazonec2-profile option, then? It is common practice to have different profiles in that credentials file for different projects (or even different accounts).

[2016-03-04 20:46] nathanleclaire commented on #1366
@davclark We'd be happy to review and hopefully accept PR for that but isn't currently planned for active development.

[2016-03-04 20:47] ahmetalpbalkan commented on #2907
@ppadala sounds good. if you try rebasing your code on top of my branch, you can get unblocked and get started doing some work. Functionality-wise the new driver is ready, but we're still addressing some issues in azure-sdk-for-go and these may still take some time (like a couple weeks) and I'll be sending the end result as a pull request.

[2016-03-04 20:51] zstarer commented on #2661
on 0.6.0 it's still happening to me. it could be due to the subnet piece, because when I removed my AWS keys from the CLI and specify a vpc/subnet combo not present, the error still happens. if I remove the subnet/vpc/region specs, it passes the pre-check & launches.

[2016-03-04 21:28] tdensmore commented on #2661
I am fairly certain it is an AWS subnet related issue, but the error handling / error message is the real culprit of confusion here.

I am sure a better error message would reduce some of these tickets.

[2016-03-04 21:32] nathanleclaire commented on #2661
Hm, I added in some panic protection to `Create`, but it looks like there is an issue causing problems in `SetCreateFromFlags` as well.  Probably we should protect all driver methods.

[2016-03-04 22:47] rhunter commented on #1366
@davclark The AWS CLI apps respect the AWS_DEFAULT_PROFILE environment
variable, and I expect this to be true for any app that uses the official
AWS SDK (now including Docker Machine, I believe).

[2016-03-04 22:49] ahmetalpbalkan opened #3148 "Machine creation fails due to pool keyservers"
I get this failure a lot during machine provisioning (like 10% of the time).

I know that provisioner executes `if ! type docker; then curl -sSL https://get.docker.com | sh -; fi` and it's the get.docker.com script handles it, but could there be anything we can do in machine to prevent it (maybe add retries around this ssh command)? (Sorry if this is not the right repo to open the issue.)

[code]

[2016-03-04 23:15] alexcouper commented on #2808
I'm also having this issue after upgrading docker toolbox to 1.10.2.

OSX: 10.11.1
docker-machine: 0.6.0
virtualbox: 5.0.14

Have any of you that have had this issue found a way around it?

[2016-03-04 23:16] richnsoos commented on #2740
Getting these same errors when trying to run `docker-machine --debug create --driver virtualbox default`:

* Error getting ssh command 'exit 0' : Something went wrong running an SSH command!
* ERROR getting IP: No IP address found 4: eth1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP group default qlen 1000
* Error creating machine: Error checking the host: Error checking a

[2016-03-04 23:50] nathanleclaire commented on #3099
What's the output of `openssl version` on your system?

[2016-03-05 00:42] aytawn commented on #1709
Here's what I use to create my docker-machine environments with consistent IPs:
[code]
Some IPs tend to succeed more often than others, and I've had the best luck with those of the form 192.168.X.100 such that x is not equal to 100.

And here's what I use to quickly switch between them:
[code]
Feel free to use, modify, and distribute to your heart's content.

[2016-03-05 00:54] tyrken opened #3150 "Machine made prior to 0.5.5 missing vSphere Port Driver config"
If you try to manage (e.g. docker-machine ls) vSphere machines made before 0.5.5, with that or newer releases, you'll encounter an error like the below:

The issue is the 0.5.5 govmomi code added a "Port" config to the "Driver" section of the machine's config.json, defaulting to 443 at build time, 0 upon other uses such as above.  The simplest fix is to add this numeric value to your json manually

[2016-03-05 01:35] nathanleclaire commented on #3150
cc @frapposelli

[2016-03-05 07:23] dantran commented on #2632
same here :-)

[2016-03-05 09:41] Somebi opened #3151 "Failed to install generic machine to remove completely new host"
Error getting SSH command to check if the daemon is up: Something went wrong run
ning an SSH command!
command : sudo docker version
err     : exit status 1
output  : Client:
 Version:      1.10.2
 API version:  1.22
 Go version:   go1.5.3
 Git commit:   c3959b1
 Built:        Mon Feb 22 21:37:01 2016
 OS/Arch:      linux/amd64
Cannot connect to the Docker daemon. Is the docker daemon running on th

[2016-03-05 09:51] Somebi commented on #3151
Installing to VPS with Ubuntu 14.04 on it.

[2016-03-05 09:52] Somebi commented on #3151
Only after server reboot it finally installed. Somehow remote server reboot helped.

[2016-03-05 12:34] ebuildy commented on #2898
Same issue :/ with ubuntu-wily-15.10-amd64-server-20151116.1 and lastest docker-machine:

    docker-machine version 0.6.0, build e27fb87

SSH is not accessible.

[2016-03-05 13:53] JosephEarl commented on #179
The current solution for this seems to be (e.g. if you want to create a Docker Machine on AWS on one computer and view the logs from another):

1. Create a new directory `my-dir` for the Docker Machines you want to share so it does not use your default certs
2. Create your Docker Machine using the `--storage-path my-dir/machine` option (make sure you specify the absolute path)
3. To share the Mach

[2016-03-05 13:59] JosephEarl commented on #1328
The current solution for this seems to be (e.g. if you want to create a Docker Machine on AWS on one computer and view the logs or SSH into the machine from another):

1. Create a new directory `my-dir` and `my-dir/machine` for the Docker Machines you want to share so it does not use your default certs
2. Create your Docker Machine using the `--storage-path my-dir/machine` option (make sure you sp

[2016-03-05 20:50] devshorts opened #3152 "Cannot run docker-machine in powershell"
I did a fresh install of the docker toolbox on a new windows box today. I can run docker fine in the docker quickstart

[code]

But in powershell
[code]

When trying to set env

[code]

Seems like something may be wrong with ssh?

[code]

I'm not sure. Any help would be appreciated

[2016-03-05 20:55] devshorts commented on #3152
Seems like the ssh path isn't being escaped, since my ssh is in

[code]

[2016-03-05 21:15] stumpdk commented on #3115
Same error here...

[2016-03-05 22:44] jacobmarshall opened #3153 "Generic driver fails provisioning a new instance (on Linode)"
Since Linode doesn't have a driver right now, I opted for trying the generic driver, which I've never used before. I've replaced the IP of the instance with `1.2.3.4`, and my IP with `12.34.56.78`. Also, the linode is running Ubuntu 15.10 (4.4.0-x86_64-linode63).

I ran the following command...

[code]

All previous steps seem to be successful. It seems that the installation fails to configure the

[2016-03-05 22:46] jacobmarshall commented on #3153
Also, I'm running the following version of Docker Machine (newly updated around an hour ago)...

[code]

[2016-03-06 01:12] thaJeztah commented on #3148
There's some improvements made to the install script, but they may not be live yet; https://github.com/docker/docker/pull/20737

[2016-03-06 08:02] ahmetalpbalkan commented on #2742
@buckett here is a new release with a bunch of fixes. I currently started testing it and it pretty much seems alright (so far, all failures I got have been non-Azure related, apt repo flakines issues etc).

Here is the binary pack for supported platforms: http://cl.ly/1f2p2U44241k/docker-machine-azure_rc3.zip

I'm hoping to send a PR to machine with this version.

[2016-03-06 10:04] buckett commented on #2742
I downloaded the new build, and attempted to see what machines I had:
[code]
but then when I attempted to remove the stale azure instance I got asked to login again:
[code]

When I then created a new azure instance it work up to a point and then fell over:

[code]

[2016-03-06 11:06] buckett commented on #2742
Removing the half setup docker-machine almost all worked. Everything got removed apart from the virtual network and the storage account (by checking in https://portal.azure.com).

[2016-03-06 11:12] ahmetalpbalkan commented on #2742
@buckett argh, can't believe I sent out the link for an older build. Sorry about that. Could you please try this one: http://cl.ly/fKvS

[2016-03-06 11:14] ahmetalpbalkan commented on #2742
@buckett virtual machine should be getting removed (if you could repro on a clean resource group with `docker-machine --debug rm` that would be great) but storage account won’t get removed. It is free of charge and we clean up OS disks we allocate upon removal as well.