[2014-12-04 18:10] tlrobinson opened #2 ""machine" command name conflict"
OS X (and I assume other BSD variants) already has a "machine" command line tool: https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/machine.1.html

Probably best not to conflict with it.

[2014-12-04 18:29] parisk opened #3 "Error on first run "public-key.json: no such file or directory""
I just downloaded **machine** binary to `/usr/local/bin` on my Mac (OS.X 10.10 Yosemite) and running `machine create -d virtualbox test`, with VirtualBox already installed, leads to error `FATA[0057] open /Users/paris/.docker/public-key.json: no such file or directory`.

Could you please help me out with that?
## Logs

[code]

[2014-12-05 00:58] andrewwatson opened #5 "Proposal: Add Support Driver for GCE instances"
I'd like to investigate the feasibility of adding a driver for creating docker machines in Google Compute Engine through the Google Cloud APIs.  I have some experience with these APIs and with "GKE" and kubernetes so I'd be glad to contribute to / lead this effort.

[2014-12-05 10:03] #5 closed, assigned to nobody

[2014-12-05 11:36] robhaswell opened #10 "Cache local base VM images"
When creating multiple machines locally the base VM image is downloaded multiple times. Creating machines would be a nicer experience if the images were cached. This would allow multiple machines to be spun up consecutively:

[code]

[2014-12-05 12:08] daemonza opened #11 "Virtualbox vm does not start on osx Yosemite"
./machine -D create -d virtualbox host1                                                                                                                                                                   wgillmer@not-used
INFO[0000] Downloading boot2docker...
INFO[0007] Creating SSH key...
DEBU[0007] executing: /usr/bin/ssh-keygen ssh-keygen -t rsa -N  -f /Users/wgillmer/.docker/hosts/host1/id_rsa

[2014-12-05 12:11] bfirsh opened #12 "Document what images are used on what drivers"
We should be clear about what operating systems are used on each provider (e.g. boot2docker on VirtualBox, Ubuntu on Digital Ocean and Azure).

[2014-12-05 12:24] bfirsh opened #13 "Shared folders should be configurable for local VM drivers"

[2014-12-05 12:25] kaos opened #14 "active machine"
I seem to have to update my `DOCKER_HOST` entry manually every time I change active machine.

I got the impression that machine would take care of this for me. I know it can't change my environment, but was expecting it to make docker find the host address in some other way.

The last part of the last line when creating a new machine is particularly misleading now:

[code]

As it claims that my `d

[2014-12-05 13:22] #14 closed, assigned to nobody

[2014-12-05 13:53] bfirsh opened #16 "Machine should configure Docker to automatically control the active machine"
We should configure the Docker host and authentication method so this works seamlessly:

    $ machine create -d virtualbox dev
    $ docker run ...

The best way to do this is probably to create a configuration file that sets these options (`~/.docker/config`?). This will require modification to Docker – I'll put together a proposal on the Docker repository.

An alternative method could be to set

[2014-12-05 14:10] bfirsh opened #17 "Automatically trust machine identity fingerprints"
When you connect to a machine for the first time, it asks if you want to trust the machine you are connecting to. This isn't necessary – we can add the machine's fingerprint to `known-hosts.json` with SSH when setting up the machine.

[2014-12-05 17:00] defermat opened #21 "Dockerfile to run Machine"
Hi, I see there is already a Dockerfile for building Machine, but I created a Dockerfile to run Machine inside a container using docker-in-docker.  Wasn't sure if there was a place for it in this repo, or if I should just keep it as a separate repo and perhaps reference it in the docs for those interested?  I'm also fine if this issue is closed and the runtime Dockerfile doesn't belong here, but t

[2014-12-06 01:02] prologic opened #22 "boot2docker on Digital Ocean"
I'd like to see boot2docker on Digital Ocean :)

I know DO themselves don't support custom images; but they do obviously accept requests to add additional "supported" images. Since CoreOS (_IHMO_) is heading down a different path it would be good if the "docker" image on DO was actually bootdocker (_again IHMO_).

[2014-12-06 09:10] bfirsh opened #23 "Export / import machines"
Something like this should work for transferring machines:

[code]

(Maybe we could use `machine inspect`?)

[2014-12-06 10:27] bfirsh opened #24 "Make VirtualBox network configurable"
At the moment the subnet used by VirtualBox is hard coded. It would be neat if this was configurable, like in boot2docker-cli.

[2014-12-06 10:29] bfirsh opened #25 "Remove VirtualBox NAT network when it is no longer required"
boot2docker-cli checks if any machines are using the VirtualBox NAT network and removes it when it is not needed. We should do this too so we aren't polluting the VirtualBox host with unnecessary networking interfaces.

[2014-12-06 11:17] herveleclerc opened #26 "Azure machines don't have identity auth"
I'm using Mac OS X: https://bfirsh.s3.amazonaws.com/docker/darwin/docker-1.3.1-dev-identity-auth

./machine create -d azure  --azure-publish-settings-file="MY-credentials.publishsettings" nodeone
INFO[0000] Creating Azure host...
INFO[0054] Waiting for SSH...
INFO[0242] Waiting for docker daemon on host to be available...
INFO[0304] "nodeone" has been created and is now the active machine. To poin

[2014-12-06 12:10] prologic opened #27 "Warn about Virtualbox not being available sooner"
[code]

In general (_I think_) if something a driver needs/depends-on isn't available it would be great if the user was told about it sooner.

[2014-12-06 16:35] zeevallin opened #28 "Configuration options though environment variables"
It would be good if `machine create` used environment variables for some configuration options so we don't have to specify them every time. The DigitalOcean access token immediately comes to mind.

[code]

I think this might speed up development in some cases.

[2014-12-07 23:51] joshjdevl opened #41 "Make VirtualBox port forwarding configurable"
Hi,

It would be helpful if we can configure the port forwarding when installing a new box.

Thanks

[2014-12-08 20:07] nathanleclaire opened #45 "[Feature Request] REST(ish) API"
`docker machine` is evolving towards becoming a useful tool for programmers and systems administrators.  It is likely that a demand for:

1. higher-order functionality such as coordinating the complex interactions and topologies of an Amazon VPC
2. ways to automate `docker machine` actions via programming language of choice without shelling out

will emerge in the future as the base gets more stab

[2014-12-08 20:11] nathanleclaire opened #46 "[Feature Request] ls should report daemon availability"
Currently the `ls` command reports whether a host is active, but it does not report daemon availability.  `machine ls` should check using something like `net.DialTimeout` to see if the daemon is responding to requests as well as if the host is up.

[2014-12-08 20:14] #27 closed, assigned to nobody

[2014-12-08 20:19] nathanleclaire opened #47 "[Feature Request] struct tag for secrets"
Currently the drivers define a Go struct which maps to what gets stored on disk for that host.  Since this is tied directly to the information demarshalled from command line flags used to launch a host, it includes information such as API access tokens which is not needed to be stored on disk and increases the risk profile for users.

I propose a [struct tag](http://golang.org/pkg/reflect/#StructT

[2014-12-08 20:49] #22 closed, assigned to nobody

[2014-12-08 21:05] thaJeztah opened #48 "[Feature Request] Configure Docker client inside machine"
After creating a new machine, the Docker client on the created machine itself is not configured to connect to the daemon. It would be nice if the client *on* the machine is also automatically configured.

    # Local client is able to connect to the remote daemon;
    ./docker-1.3.1-dev-identity-auth info
    [outputs docker info of "machine"]

    # But SSH-ing into the remote machine, that clien

[2014-12-08 22:09] #47 closed, assigned to nobody

[2014-12-09 01:22] bfirsh opened #56 "Use codegangsta/cli"
The thing copied from Docker isn't very good.

[2014-12-09 15:11] robhaswell opened #59 "Set the hostname of created machines to match the machine name"
When creating and managing multiple machines, it is confusing to identify which machine you have logged into after using `machine ssh`. Setting the hostname to match the machine name would be useful in this scenario.

(woops I initially raised this against swarm by accident)

[2014-12-09 18:34] nathanleclaire opened #61 "--n-instances flag for machine create"
Suppose I want to use `docker-machine` to spin up a simple architecture of two instances running the same application behind another instance which serves as a proxy / load balancer to the two.  It'd be nice to spin up the application instances using something like:

[code]

I know that the Amazon API allows you to specify the number of instances desired to the `RunInstances` call, I'd imagine tha

[2014-12-09 20:43] pandrew opened #62 "Display better error message when "ssh-keygen" is missing"
Digitalocean driver assumes ssh-keygen is installed, if not it leaves a node in an error state. I hade to `machine rm test` and install ssh-keygen and recreate the node. A check for public key and/or ssh-keygen before creating the node might solve this.
[code]

[2014-12-10 00:29] bfirsh opened #68 "Home directory should be detected in the same way as Docker"
https://github.com/docker/machine/pull/65#issuecomment-66384187

[2014-12-10 00:34] bfirsh opened #69 "Add -v flag to report version"
[code]

[2014-12-10 00:36] #3 closed, assigned to nobody

[2014-12-10 15:26] dduportal opened #76 "Windows : strange behaviour"
Running the latest 0.0.2 in Windows results in this beahviour :

[code]

What seems strange is that code seems to be run inside the machine, and not outside (utils.go) :

[code]

[2014-12-10 17:11] bfirsh opened #77 "Machine storage directory should be configurable"
You might not want to put your machines in `.docker/hosts`.

This should probably also be `.docker/machines` or `.machine/machines` by default.

[2014-12-11 01:18] bfirsh opened #80 "Make boot2docker compatible with Machine"
I'm using this issue as a way of tracking our boot2docker dependencies for a Machine 1.0 release.

 - [Docker with identity auth](https://github.com/docker/docker/pull/8265) should be included in boot2docker
 - [This patch](https://github.com/boot2docker/boot2docker/pull/659) is required for VMware Fusion

[2014-12-11 22:05] #26 closed, assigned to nobody

[2014-12-11 22:10] bfirsh opened #85 "Documentation for 1.0"
Upon release of a stable version of Machine, we will add some docs to https://docs.docker.com/.

This should be things like:

 - Installation
 - Getting started
 - Documentation for specific drivers
 - CLI documentation

[2014-12-11 22:14] ggiamarchi opened #86 "[Proposition] Make optional machine name for some commands"
Some CLI commands like `ssh`, `start`, `stop`... should be executed on the active machine if no machine is specified in the command.

For instance, here

[code]

commands `machine ssh` and `machine stop` should be equal to `machine ssh dock002` and `machine stop dock002`.

[2014-12-12 00:22] #68 closed, assigned to nobody

[2014-12-12 08:13] nicolasff opened #90 "docker run fails with "malformed HTTP response""
On OSX Yosemite with release 0.0.2:

    $ machine -D create -d virtualbox cassandra
    DEBU[0000] executing: VBoxManage

    [Skipping VBoxManage output, hundreds of line of help]

    INFO[0000] Downloading boot2docker...
    INFO[0037] Creating SSH key...
    DEBU[0037] executing: /usr/bin/ssh-keygen ssh-keygen -t rsa -N  -f /Users/nicolas/.docker/hosts/cassandra/id_rsa

    Generating public/

[2014-12-12 13:38] ggiamarchi opened #91 "Add an option to make `machine ls` output machine readable"
It would be great have something like

[code]

[2014-12-12 15:03] johngossman opened #92 "machine url command for virtualbox fails on Windows"
First issue: In virtualbox.go GetState uses a regex to pull the value out of "VMState". The regex is:

	re := regexp.MustCompile(`(?m)^VMState="(\w+)"$`)

My wild guess on the first try was that Windows is different because of \r\n. Whether that was it or not, removing the $ to match end-of-line fixed the problem.

Second issue: driver still can't get the ip address.
This is done in the GetIP func

[2014-12-12 19:05] #69 closed, assigned to nobody

[2014-12-12 19:05] #56 closed, assigned to nobody

[2014-12-12 20:39] ehazlett opened #94 ""url" command does not return host url"
When running without args, the command does not return the url:

[code]

[2014-12-12 21:31] #94 closed, assigned to nobody

[2014-12-13 13:38] michaelbarton opened #99 "Docker unable to connect to VM after restarting laptop."
Client version: 1.3.1-dev
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 831d09f
OS/Arch (client): darwin/amd64

I used docker machine successfully last night and turned of my laptop. This
morning I turned my laptop back on and ran the following commands:

    machine start dev
    machine active dev
    DOCKER_HOST=$(machine url) DOCKER_AUTH=identity docker build --tag

[2014-12-13 18:14] jerng opened #102 "DigitalOcean bugs"
1. (machine ls) goes out of sync with the machines listed at DO's web GUI. Specifically, (machine) assumes droplets are dead when they are still alive. How hard is it to hit the API properly?
2. No obvious way to affect DO host's configuration - hosts are set up without SSH access (though you can reboot from web GUI to set a root password). First thing that became an issue was that DO's default "n

[2014-12-15 17:53] #86 closed, assigned to nobody

[2014-12-15 23:48] nathanleclaire opened #108 "[VBox] Everything works great until VM reboot, then I get TLS Handshake error: remote error: bad certificate"
[code]

Ok, everything works great.  Great!  Until....

[code]

I am using the auth-enabled binary (referred to as `docker-auth` above) provided in the README from OSX.

[2014-12-17 22:39] proppy opened #117 "add auth command"
It would be nice to have a `machine auth -d <driver>` command that authorize machine with a given provider's driver.

That way each driver could cache and manage credentials, and there wouldn't be any additional authorization step as part of `machine create`

[2014-12-18 00:19] nathanleclaire opened #118 "Amazon driver should support availability zone"
Right now we support `--amazonec2-region` but there's no `--amazonec2-availability-zone`.

[2014-12-18 00:26] nathanleclaire opened #119 "Machines are in a broken state when creation fails"
Consider this example:

[code]

User should not have to `machine rm -f` at all.  If there is _any_ error with `machine create`, machine should clean up the failed host create.

[2014-12-18 17:44] #118 closed, assigned to nobody

[2014-12-19 06:55] marcellodesales opened #121 "FATA: /v1.16/containers/create: x509: certificate is valid for 0.0.0.0, not 192.x.x.x"
Hi there,

I'm following the tutorial and I got everything setup...
## Setup

[code]

I created the credentials using Docker 1.3.1, as described:

[code]

Also, I have installed machine, and created the "dev" machine

[code]
## Problem

I created the machine as directed, and it mentions about the creation of the SSH keys...

[code]

I did run the command above and I can't get int...

[code]
## Que

[2014-12-19 07:09] marcellodesales opened #122 "x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error""
I have a new installation of Docker 1.4.1 and Boot2docker 1.4.1... Everything has a matching version but the Docker run command fails:

[code]

Any suggestions?

[2014-12-19 18:14] bfirsh opened #124 "Set up machines using cloudinit"
This will be far more reliable than logging into machines with SSH to set them up.

This doesn't need to be in the initial iteration of this, but it should also be customisable. This will make it really easy for users to customise what machine does to provision a machine. Also means we can support things which aren't Ubuntu because you can provide a cloudinit config for whatever image you would ra

[2014-12-19 20:45] #121 closed, assigned to nobody

[2014-12-21 16:39] #122 closed, assigned to nobody

[2014-12-21 22:01] #28 closed, assigned to nobody

[2014-12-22 08:32] #76 closed, assigned to nobody

[2014-12-22 22:15] #10 closed, assigned to nobody

[2014-12-26 15:06] jkp opened #130 "Add homebrew formulas"
I knocked up a quick [Formula](https://github.com/Homebrew/homebrew/pull/35272) to install machine already.  Perhaps you can link to that somewhere in your docs for people running OS X.

[2014-12-29 12:35] ankushagarwal opened #133 "Repository compromised?"
The wiki for this repo : https://github.com/docker/machine/wiki/ seems to have a lot of Indonesian spam content. Has this repository been compromised?
CC @bfirsh @ehazlett

[2014-12-29 14:42] #133 closed, assigned to nobody

[2014-12-30 14:35] #108 closed, assigned to nobody

[2014-12-30 14:39] #77 closed, assigned to nobody

[2014-12-30 20:05] nathanleclaire opened #178 "[DigitalOcean driver] Don't run as root"
The DigitalOcean driver user is `root` by default.  This should be a lower-privileged user instead.

[2014-12-30 20:22] nathanleclaire opened #179 "Proposal: machine share"
# `machine share`
## Abstract

`machine` is shaping up to be an excellent tool for quickly and painlessly creating and managing Docker hosts across a variety of virtualization platforms and hosting providers.  For a variety of reasons, syncing files between the computer where `machine` commands are executed and the machines themselves is desirable.
## Motivation

Containers are a great tool and un

[2014-12-30 22:44] ehazlett opened #180 "Discover current b2d instances and add to store"
Credit to shykes for this. This would allow for an easy transition from boot2docker to machine.

[2014-12-31 19:19] bfirsh opened #190 "Machine configuration file should have a version field"
This will make updating the format of config.json less of a PITA in the future. We can have some kind of upgrade procedure that knows how to migrate config versions.

[2015-01-01 14:41] ehazlett commented on #190
+1
On Dec 31, 2014 2:19 PM, "Ben Firshman" <notifications@github.com> wrote:

[2015-01-01 23:50] david-richer-adsk opened #202 "Unable to access /var/run/docker.sock using amazonec2 driver"
When I try to launch the following container on a machine using amazonec2 driver I got the following errors:

docker run --rm -v /var/run/docker.sock:/tmp/docker.sock jwilder/nginx-proxy
dockergen.1 | 2015/01/01 23:43:14 error listing containers: dial unix /tmp/docker.sock: connection refused

It's working properly when I used the virtualbox driver. I am using the latest version of the master bran

[2015-01-02 01:52] #202 closed

[2015-01-02 01:52] ehazlett commented on #202
@david-richer-adsk this is fixed in master.  thanks for the feedback!

[2015-01-02 16:49] bfirsh commented on #190
At some point we should also separate out the internal representation of hosts from the configuration file format so we can change internals without worrying about breaking configuration files.

[2015-01-02 17:42] bfirsh commented on #16
Here's a comment on that proposal explaining the requirements for Machine: https://github.com/docker/docker/issues/7232#issuecomment-68545474

[2015-01-02 17:42] bfirsh commented on #16
cc @ehazlett

[2015-01-02 20:49] ehazlett commented on #16
I think integration into Docker Engine would be best.  However, I think to create a better user experience we should do the env vars config for the interim.   This has bit me multiple times :)

[2015-01-02 21:15] sthulb commented on #16
+1 for the env vars via `machine config` for now.

[2015-01-02 21:31] sthulb commented on #16
However, it would perhaps be more advantageous for people to have this instead:

Zsh:
[code]

Bash:
[code]

[2015-01-03 21:50] david-richer-adsk commented on #202
It works. Thanks!

[2015-01-04 09:20] alankent opened #210 "Support for PEM in addition to JSON cert files?"
I grabbed the prebuilt version of 'machine' for Windows and gave it a try. It failed to find public-key.json. The Windows native Docker.exe (client only) I built runs successfully (talking to my local VirtualBox instance), but uses PEM files. Looking in utils.go it appears to be hard coded to use public-key.json (no way to ask it to use cert.pem), even though the lower level code seems to be able

[2015-01-05 04:17] nathanleclaire opened #214 "Create flags aren't in alphabetical order in help text"
[code]

Not sure if this is a machine or codegangsta/cli issue, I haven't done the digging yet but flag order (by driver) changes with every invocation of `machine create -h`.  This is disorienting if you're hunting down flags by provider in multiple invocations.

I'm assuming this is because they're being stored in a map internally so we will most likely need something along the lines of https://

[2015-01-05 04:50] nathanleclaire opened #215 "[DigitalOcean driver] Inconsistent / incorrect state displayed after stop"
Assume a DigitalOcean machine has been created with the default settings and is now the active host.

Now run:

[code]

You can monitor the output of `machine ls` reporting this droplet's status in the terminal with something like:

[code]

(or just run `machine ls` a few times)

**RESULT:** The droplet periodically (frequently) reports its status as "Running" instead of "Stopped", when this shoul

[2015-01-05 11:03] bfirsh opened #217 "boot2docker image cache should be indexed by version"
When boot2docker is updated, `.docker/images/boot2docker.iso` won't get updated.

I also think we should put them in a path that is machine-specific, so as to avoid polluting the ~/.docker namespace. `~/.docker/machine/something`?

[2015-01-05 11:26] #17 closed

[2015-01-05 11:32] bfirsh commented on #16
If we're going to do `machine config` then:

1) it needs a better name that makes it clear that it's outputting a shell script
2) it should just output `export DOCKER_HOST=tcp://x.x.x.x:2376 DOCKER_AUTH=identity`

[2015-01-05 11:35] sthulb commented on #16
@bfirsh Firstly, perhaps `config-shell`

Secondly, if it just outputs an export, one would have to restart their shell for it to pick it up, creating the workflow of:
1. machine create ...
1. exit shell
1. reopen shell
1. docker run ...

[2015-01-05 11:40] bfirsh commented on #16
True.

I think we should aim to get Machine to automatically configure Docker. This is a hack which can use as a last resort.

[2015-01-05 11:47] bfirsh commented on #214
Interesting.... this might be because drivers are initialised in an indeterministic order.

[2015-01-05 11:48] sthulb commented on #16
For that, we need docker to be changed to allow for your proposal from docker/docker#7232

[2015-01-05 12:30] sthulb commented on #59
If I've read this issue correctly, the implementation should be:

  1. Set a hostname on creation
  1. add `machine move/rename` which will change a machine's name in the internal data store and change the hostname
  1. For move/rename: Error if the name is taken in the internal data store.

[2015-01-05 12:37] bfirsh commented on #59
I don't think renaming is necessary to start with - that's already being worked on here https://github.com/docker/machine/issues/59

At the moment we give hostnames long random names. I think we should set the name on the provider to be the name given by the user, which normally is also the hostname given to the machine. For example – when you create a droplet on digital ocean, you give it a name,

[2015-01-05 12:38] bfirsh commented on #59
Another thing to be aware of: the name given by the user might already exist on the provider. We should display useful error messages about this.

[2015-01-05 12:51] sthulb commented on #59
I absolutely agree with setting the name on the provider too. Things like EC2 won't care since the unique criteria will be the instance id.

As per:

That's this issue :)

[2015-01-05 15:00] ehazlett commented on #59
+1 for setting the name / hostname on the provider if supported.  I agree to leave renaming / moving out of this one -- I believe bfirsh meant #30 is being worked on for that.

[2015-01-05 15:05] sthulb commented on #59
I'll give it a go :)

[2015-01-05 15:34] bfirsh commented on #59
Oh whoops, yes, wrong issue. Sorry.

[2015-01-05 15:34] bfirsh commented on #215
:+1: Stop should wait until the machine has stopped.

[2015-01-05 19:07] nathanleclaire commented on #217
We could probably introduce a check to the GH API (releases) on `machine create -d virtualbox`.  `boot2docker-cli` has some similar code for `upgrade` that we could probably cop (https://github.com/boot2docker/boot2docker-cli/blob/master/util.go#L105).

SGTM.  Should be just a few lines change.

[2015-01-05 19:48] dlorenc opened #220 "GCE driver should support configurable service account scopes"
We should add a flag for a list of scopes to pass when creating the GCE instance.

https://cloud.google.com/compute/docs/api/how-tos/authorization

[2015-01-05 21:18] nathanleclaire commented on #214
I have a fix for this incoming....

[2015-01-05 21:31] ehazlett commented on #214
Thanks!

On Mon, Jan 5, 2015 at 1:18 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-01-05 21:34] #214 closed

[2015-01-05 22:16] ehazlett commented on #215
This looks like it might be an issue with the DO API.  I've had an instance off for 10 min and I get "active" for the state from the API about 5% of the time.

[2015-01-05 22:16] michaelbarton commented on #99
I've just tried to download and build the master branch of docker/machine to test this, unfortunately I can't build this as it requires a running version of docker. Could you share a compiled build or newer release for me test? Thank you.

[2015-01-05 22:22] ehazlett commented on #215
I can also reproduce with `curl` directly against their API.  Opening an issue with them.

[2015-01-05 22:27] ahmetalpbalkan opened #222 "`machine ip` panics for no active host set"
I'm running on OS X, built from master 0b98347.

`machine ip` fails with "invalid memory address or nil pointer deference" panic.

Same goes for `machine [stop|start|ssh|...]` in the state I am in.

[code]

[2015-01-06 00:56] ehazlett commented on #222
Thanks.  I'm also getting some errors.  Investigating.

[2015-01-06 01:01] ehazlett commented on #119
What if we do the following:

If DEBUG is enabled, we do not automatically cleanup the reference nor attempt to remove the provisioned instance.

If not, we show the error and then remove the reference and attempt to remove the possibly provisioned instance.  We also show a warning that states all resources may not have been removed.

Thoughts?

[2015-01-06 01:09] ehazlett commented on #220
+1

[2015-01-06 02:12] sylvinus opened #226 "[EC2 driver] Support for spot instances"
Spot instances are one of the features that make EC2 stand out for some workloads:
http://aws.amazon.com/ec2/purchasing-options/spot-instances/

Would be great to have support for them in Machine! I don't think it would be a huge undertaking.

Thanks!!

[2015-01-06 02:20] nathanleclaire commented on #222
Ah!  I just ran into this as well (with virtualbox hosts!).  I'm not sure how, but the active host is getting unset.  Notice that in your output the `*` is missing.

[2015-01-06 02:22] nathanleclaire commented on #222
Update: Not sure if that is the issue here but if you `machine rm` the active host there will not be another active host chosen and machine will freak out on some commands like `machine ip` which assume that they will be run against an active host.

[2015-01-06 06:46] SvenDowideit commented on #217
The b2d iso's also contain the version string as one of the iso labels

[2015-01-06 09:40] ahmetalpbalkan commented on #222
@nathanleclaire okay that makes sense, my `machine create` command failed in the middle.

[2015-01-06 11:17] proppy opened #227 "GCE driver should name the instance after the machine name"
It would be nice if machine created with the GCE driver (and others) would be named (or even prefixed) after the machine name by default if no flag value for `--google-instance-name` is specified.

The current behavior is a bit confusing as `machine` will create multiple machine with the same underlying VM, if you don't specific `--google-instance-name`.

[code]

Possibly related to #59 #219
/cc @

[2015-01-06 12:20] bfirsh commented on #119
If a machine might have been created, we definitely want to keep around the local reference. Otherwise the user might not know they have created an instance and they'll be charged money for it.

Perhaps along with an error, we explain that your machine might be in a broken state, and give you instructions on how to remove it.

[2015-01-06 12:21] sthulb commented on #227
All machines will take the name from the command as the VM name in whatever account/hypervisor

[2015-01-06 13:20] proppy commented on #227
@sthulb that doesn't seems to be the case right now, at least for GCE:
https://github.com/docker/machine/blob/master/drivers/google/google.go#L96

[2015-01-06 13:42] sthulb commented on #227
Not right now. It's something I'm working on for #59

[2015-01-06 17:08] ehazlett commented on #222
Perhaps we should report an error if a command is ran and there is no active machine?

[2015-01-06 17:36] nathanleclaire commented on #222
Yes, and should probably :

- choose a fallback if you `rm` the active one.
- not switch or lose active hosts when a `create` fails

Note that `machine ip` if you have no hosts at all will still panic.

[code]

[2015-01-06 21:10] ehazlett commented on #227
Closing as #59 will handle this (as @sthulb mentioned).

[2015-01-06 21:10] #227 closed

[2015-01-06 21:12] ehazlett commented on #210
As of now, the only auth that machine supports in identity.  I am working to get multiple builds for the major platforms (linux, mac, windows) for Docker with Identity and Machine for easier testing.

[2015-01-06 22:36] nathanleclaire opened #229 "[DigitalOcean/Azure driver] Intermittent tls Handshake errors on create"
A few times now I've gotten DigitalOcean errors on `create`:

[code]

If I set that host to active and run docker commands against it it works as expected... it's just the `create` output that's blowing up.

Anyone else run into this?

[2015-01-06 23:10] nathanleclaire opened #230 "UX Suggestion: warn users when commands will take more than 10 seconds or so"
Generally I think that people expect commands to run almost instantaneously so I think it'd be good to warn them in commands like `create` that "This might take a few minutes...".

[2015-01-07 00:11] ehazlett commented on #229
I've been seeing some odd behavior today as well - like SSH never making it, droplets saying they weren't created etc.  Will investigate more.

[2015-01-07 02:11] alankent commented on #210
Thanks. I am no expert, but my reading was 'identity' is supposed to support both PEM and JSON files for holding identity. "These public keys will be stored as JSON Web Keys and can be distributed as a JSON file, *or as a standard PEM file*" - https://github.com/docker/docker/issues/7667.

The lower level code seems to be able to read PEM files - its just 'machine' seems to have a bit of hard code

[2015-01-07 02:19] ehazlett commented on #210
Ah ok I think I understand what you are saying now.  At this time we don't
have any plan to support the .pem version but PRs welcome :)

On Tue, Jan 6, 2015 at 6:11 PM, alankent <notifications@github.com> wrote:

[2015-01-07 02:40] alankent commented on #210
In case anyone else is interested, I came across https://github.com/docker/docker/blob/999d4117f6544aeefaba3c40aef678042c71aa7a/vendor/src/github.com/docker/libtrust/tlsdemo/README.md which talks about a program to convert public-key.json etc files into PEM files.

[2015-01-07 02:41] ehazlett commented on #230
+1

[2015-01-07 11:43] bfirsh opened #231 "Alias "machine ps" to "machine ls""
"machine ps" doesn't make sense because they're not processes, but lots of people are going to type it by mistake. We should probably alias "machine ps" to "machine ls" or at least say "You're looking for machine ls."

[2015-01-07 12:06] thaJeztah commented on #231
If there's any chance that a `machine ps` will exist in the future, I'd go for the latter, and not encourage people to get used to it. Just my 0.02c

[2015-01-07 17:03] nathanleclaire commented on #229
Added "Azure" to the tag in title.

[2015-01-07 18:00] ehazlett commented on #119
@bfirsh ok makes sense

So perhaps this:  if DEBUG, things basically perform as they do today and leave it in whatever state along with a message stating something went wrong and general instructions for cleanup.

By default, it would report and error and attempt to do the remove / cleanup but still report the instructions "just in case".

Thoughts?

/cc @nathanleclaire @sthulb

[2015-01-07 18:02] ehazlett commented on #231
@thaJeztah thanks for that link.  Perhaps we follow suit and report "machine --help"?

[2015-01-07 18:02] ehazlett commented on #229
@ahmetalpbalkan thanks for the report -- I'm digging to see if I can find what might be causing this for Azure as well.

[2015-01-07 18:15] ahmetalpbalkan commented on #229
@ehazlett one thing I noticed with Azure is, if you set --azure-port something other than default 2376, it still keeps using 2376.

The failure above doesn't prevent installation to complete (I guess docker is installed and started by the time we get that failure). However using the wrong port causes bad port mapping on Azure VM and you can't reach Docker daemon using the port you specified at --a

[2015-01-07 18:37] sthulb commented on #119
My thinking is, "normal" mode should clean up, if we're in a state we know we can clean up from.

Debug mode should act as we do now, leave things in place with a note telling people the resources are there still.

[2015-01-07 18:46] thaJeztah commented on #231
I think it would be good to be consistent between docker projects yes

[2015-01-07 19:35] nathanleclaire commented on #231
Yes, I am +1 on just displaying "That's not a command, run `machine --help`."  Aliasing `machine ps` to `machine ls` would encourage bad habits and confuse users IMO.

[2015-01-07 20:59] ehazlett commented on #229
@ahmetalpbalkan ok could you open a separate issue for that?  I'm getting some odd behavior with Azure itself as well (A hosted service with the specified name already exists. with no services).

/cc @jeffmendoza any ideas on that one?

DigitalOcean has been fine for me today.

[2015-01-07 21:00] ehazlett commented on #119
@sthulb cool -- thanks

[2015-01-07 21:16] sthulb commented on #231
I wouldn't alias it. Just do as others have mentioned.

[2015-01-07 21:18] sthulb commented on #229
I've had this on virtual box today.

[2015-01-07 21:21] sthulb commented on #179
+1 for `machine scp`

[2015-01-07 21:34] ehazlett commented on #119
@bfirsh @nathanleclaire @sthulb could you take a look at #234 and see if it makes sense?  Thanks!

[2015-01-07 21:48] ehazlett commented on #229
Ok this is starting to sound like a possible race issue perhaps.

On Wed, Jan 7, 2015 at 1:18 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-08 01:44] SvenDowideit commented on #179
The basic reasoning that many users ave given is that when they are developing, they want the source code to be on their local machine, that way, when they blow away the remote instance, they don't have to worry about the files going away.

I recon this concern will exist for those of us that will use ephemeral cloud Docker daemons just the same as for b2d style ones.

so I'm very +1 to this - as

[2015-01-08 01:54] ehazlett commented on #119
Closing as #234 is merged.

[2015-01-08 03:10] SvenDowideit opened #237 "weird failure to create vbox machine"
This is my first time using machine, I've build from master, using the Dockerfile.

There is a vm running, with a nice cryptic name.

[code]

[2015-01-08 04:34] SvenDowideit commented on #237
I was able to `ssh localhost:sshport` manually - by picking the right port, so the port forwarding was working, _but_ the ssh code in machine didn't return (i waited for a few minutes after the vbox UI's console snapshot showed a completed boot of b2d).

when you ctrl-c, is then doesn't write the name or port to the config.json, so thats a problem

but worse - when the vbox ui eventually crashed,

[2015-01-08 04:42] SvenDowideit commented on #237
mmmm, and its happened again - this time i'll leave it for much longer.

[2015-01-08 04:56] SvenDowideit commented on #237
[code]

and then just sitting there.

(and having commented out the read, and so on didn't help at all)

[2015-01-08 07:29] Leland-Takamine opened #239 "docker push returns "invalid argument""
I've followed the instructions [here](https://github.com/docker/machine) and most of the functionality is working, but I run into the following issue when I try to push an image.

**docker push**
[code]

**machine ls**
[code]

**docker version**
[code]

**docker info**
[code]

**Additional Information**
OS: Mac OS X Version 10.9.5
client: https://ejhazlett.s3.amazonaws.com/public/docker/darwin/doc

[2015-01-08 07:39] ankushagarwal commented on #239
Is it reproducible (after a restart of the VM)?
ᐧ

On Wed, Jan 7, 2015 at 11:29 PM, Leland-Takamine <notifications@github.com>
wrote:

--
Ankush Agarwal
http://ankush.io
@ankushio <https://twitter.com/ankushio>

*There are 10 types of people in this world. Those who understand binary
and those who don't.*

[2015-01-08 07:41] ehazlett commented on #237
Which version of b2d / virtualbox are you on?

On Wed, Jan 7, 2015 at 8:56 PM, Sven Dowideit <notifications@github.com>
wrote:

[2015-01-08 07:47] Leland-Takamine commented on #239
Yes - I restarted the VM and am still getting the same error.
[code]
I'm also able to reproduce consistently on my Digital Ocean host.
[code]

[2015-01-08 07:49] Leland-Takamine commented on #239
Reported by another user here also: docker/docker#9691

[2015-01-08 10:04] sthulb commented on #179
Perhaps local drivers could implement an arg for this. But cloud providers shouldn't have this.

[2015-01-08 10:20] sthulb commented on #237
@SvenDowideit Can you run again with --debug?

[2015-01-08 14:01] saturnism commented on #220
+1

[2015-01-08 16:39] jeffmendoza commented on #229
hosted service names are used for DNS and must be globally unique.

[2015-01-08 16:54] jeffmendoza commented on #179
scp and/or rsync would be good, same as current machine ssh.

[2015-01-08 17:31] ehazlett commented on #229
@jeffmendoza i had no services provisioned.  this issue went away for azure yesterday.  not sure what happened.

[2015-01-08 17:31] ehazlett commented on #229
@jeffmendoza thanks for explaining :)

[2015-01-08 19:21] ehazlett commented on #217
This is going to be even more important now that fusion support is merged.  We could get into a potential issue where a fusion machine is created and then the virtualbox driver uses the fusion b2d iso.  We should probably also include the driver as part of the versioning.

[2015-01-08 19:21] ehazlett commented on #239
Hmm that looks like a Docker issue.  Can you try another image to see if it does the same?

[2015-01-08 20:28] pandrew opened #240 "vmwarevsphere requires datacenter to be set"
I cant connect directly to the esxi without machine requiring --vmwarevsphere-datacenter to be set. In debug mode when using the govc command and removeing the option for datacenter it works.

[2015-01-08 21:14] SvenDowideit commented on #237
the log above is with `-D`

full version

[code]

[2015-01-08 21:18] SvenDowideit commented on #237
I'm using vbox 4.3.20 6996 and I have b2d 1.4.1 installed - though when I'm running `machine`, that b2d isn't involved - its using its own iso. (yes, I had to check)

The `ping()` is still sitting there hung at `Waiting for VM to start` - that loop needs a timeout - I also added the `.` feedback to b2d so that the user has some feeling their not waiting forever :)

[2015-01-08 21:24] SvenDowideit commented on #179
@sthulb can you elaborate on why not? this will be a common question, and so will need to be in the docs (its not that hard to envision an opportunistic `rsync` that could allow the server to happily run while the clients are gone)

[2015-01-08 21:28] sthulb commented on #179
Local machines are geared for dev environments. I feel like remote (cloud) machines are for production purposes and thus, should have their data provisioned with data containers, or via chef/puppet/ansible/etc.

I can understand the requirement to upload a single file to a remote host though (various secrets).

I'm willing to sway if others feel like this is a thing we should have.

[2015-01-08 22:41] ehazlett commented on #240
/cc @frapposelli

[2015-01-08 22:44] frapposelli commented on #240
Sorry, forgot to include that in the doc, when connecting to a single ESXi host Datacenter should be set to: ha-datacenter

Will send a PR tomorrow for that.

[2015-01-08 22:45] DanLipsitt commented on #130
I took another crack at this in Homebrew/homebrew#35676. My version also installs the official binary (because v0.0.2 doesn't compile easily with homebrew), but it also has a --HEAD version that compiles from the latest git revision.

[2015-01-08 22:47] ehazlett commented on #179
I have to agree with @sthulb.  I think we should stay away from syncing/sharing in remote environments.  I can see it being extremely powerful for local.

[2015-01-08 22:48] ehazlett commented on #240
@frapposelli thx!

[2015-01-08 23:53] ehazlett commented on #130
cool -- thanks.  we will get this in the docs

On Thu, Jan 8, 2015 at 2:45 PM, Dan Lipsitt <notifications@github.com>
wrote:

[2015-01-08 23:55] SvenDowideit commented on #179
I use digital ocean as a dev environment.

[2015-01-09 00:47] Leland-Takamine commented on #239
Trying to push a different image. Still seeing the error when using machine.

**machine**
[code]

I can push successfully with Boot2Docker:

Standard **Boot2Docker**
[code]

[2015-01-09 00:55] ehazlett commented on #239
Ok perhaps this was an older bug that is in the custom Docker build.  I'm
guessing that's it.  We are refactoring to support TLS so this should be
fixed soon.

On Thu, Jan 8, 2015 at 4:47 PM, Leland-Takamine <notifications@github.com>
wrote:

[2015-01-09 01:02] Leland-Takamine commented on #239
Awesome, thanks for the quick responses! Do you have a estimated timeline for the next release?

[2015-01-09 02:28] DanLipsitt opened #242 "machine creation failures on MacOS"
## Description of problem
`machine` fails to create new virtualbox appliances.

## Environment
These are hard to collect because the identity build of docker isn't working for me (see #245). However, this bug seems to be in machine itself because the failure occurs during virtualbox creation.

`machine` commit is 5a251c5d. Version 0.0.2 fails as well. I've named my `machine` binary `docker-machine

[2015-01-09 02:30] SvenDowideit opened #243 "weird failure creating a do machine"
very similar to the vbox one, but it shows up that `machine` needs both a timeout, and a way to recover if the `create` dies / is ctrl-c'd

[code]

it would be better if the remote name was in the non-debug log, I now have about 10 do droplets, and i'm not sure which one this is... (ok, so i now know i can use the droplet ID in the URL)

[2015-01-09 02:31] SvenDowideit opened #244 "machine needs another State - server up, docker socket not"
which can happen if the create failed, or someone sshed in and broke something, or we simply switched auth mech on one side, but not the other

some of these can be recovered from.

[2015-01-09 02:37] DanLipsitt opened #245 "identity-enabled docker can't connect"
## Description of problem
 `docker-1.4.1-136b351e-identity` from the machine README fails to connect to my existing running boot2docker instance. Since this binary seems to be created specifically for use with `machine` I'm filing the but here instead of at docker/docker. Apologies if this is the wrong place.

## Envrironment
### `docker version`:
[code]

### `docker info`:
[code]

### `uname -a`:

[2015-01-09 02:38] SvenDowideit opened #246 "machine create --driver=digitalocean crash"
only happens if you have no droplets - if i have one or more, then the code hangs at `Waiting for SSH..`

**NOTE, this panic makes no sense to me - that line is a `continue`, so I'm rebulding**

[code]

[2015-01-09 02:46] SvenDowideit commented on #246
rebuild, and the crash goes away, YAY.

[2015-01-09 02:46] #246 closed

[2015-01-09 02:57] SvenDowideit opened #247 "machine ssh name -c ls -al fails"
in b2d we had to detect where the b2d flags ended and force it not to parse past that.

[code]

[2015-01-09 03:01] SvenDowideit opened #248 "machine needs to be able to re-detect hosts its made"
this may speak against making the droplet/vm/etc name the same as the user-friendly machine name, as at this point, you could implement a `machine detect --driver=digitalocean` or `vmwarefusion` etc and have all the orphans re-added to my list of machines automatically.

tbh, this kind of recovery seems like an important thing, given that the cloud ones will cost money.

[2015-01-09 03:25] SvenDowideit opened #249 "When creating a machine of the same name as an existing host, the existing host is deleted"
So I forgot i had a perfectly good and useful vm called `vmtest`, and when I re-ran the create on it by mistake, it deleted all my data!

seriously, this would be something to error out on, not to destroy something.

also - why is it re-downloading the iso, aren't we sharing?

[code]

[2015-01-09 06:36] SvenDowideit commented on #242
mmm, `DYLD_` env vars are a horror.

if you can unset both `DYLD_LIBRARY_PATH` and `LD_LIBRARY_PATH` in the shell you're running `machine` from it should work - in boot2docker, we have some code that tries, but we also manually unset it in the OSX script-applet.

[code]

this probably should be done in `machine` too - and I would do it for all drivers, cos its a pain to reproduce

[2015-01-09 06:46] DanLipsitt commented on #242
I don't have either of those variables set in my shell:
[code]

[2015-01-09 06:50] DanLipsitt commented on #242
But just for good measure I tried
[code]
before running `docker-machine create -d virtualbox dev`. It didn't help.

[2015-01-09 08:28] sthulb commented on #179
Perhaps this is a case for plugins.

[2015-01-09 11:24] bfirsh opened #253 "Machine should save to config file as soon as possible when creating hosts"
Machine doesn't save the config file until the Machine has booted up and the Docker daemon is running. This means if you ctrl-c when Machine says "Waiting for SSH...", then the machine will always be broken.

Machine instead should save to the config file as soon as the machine has been created. This might mean a change to the driver API. This might also be easier when we're using cloudinit, becau

[2015-01-09 13:40] sthulb commented on #253
I think we should save config in /tmp until we're sure it's ok. This might mitigate #249

[2015-01-09 16:00] ehazlett opened #254 "Use "standard" TLS instead of identity auth"
We have found that the identity auth branch is a bit invasive on the Docker Engine and will not be merged soon.  I am working on using the regular TLS mechanism for auth in machine.  This is the placeholder issue.  A PR will be coming soon.

[2015-01-09 16:03] ehazlett commented on #249
The fusion driver has to use it's own build because of the vmtools.  As part of #217 we should perhaps version these ISOs by driver (currently vbox/fusion).

And +1 to @sthulb -- we should dupe check as early as possible.

[2015-01-09 16:04] sthulb commented on #254
+1 It would be nice to use a mainstream docker binary.

[2015-01-09 16:07] ehazlett commented on #248
I like the idea, however as @sthulb mentioned, I'm not sure how we would handle the keys in some cases.  If you delete the .docker dir or hardware fail or different system, the private ssh keys won't be there as machine generates these per machine.

There is a similar idea in #180 for b2d as well.  Maybe we could at least show a list or something of what is there.

[2015-01-09 16:11] ehazlett commented on #254
@sthulb +1 -- and the regular b2d iso as well.

[2015-01-09 16:13] sthulb commented on #254
Are you working on the PR? If not, I can start it since I'm done with #219 and #241

[2015-01-09 16:37] cjellick commented on #23
@bfirsh @waitingkuo This seems like a really useful feature that we'd use at Rancher (we'd like to use machine server-side).

Any reason the implementation (#29) seems to have stalled. Anything I could do to attempt to hep?

[2015-01-09 17:21] ehazlett commented on #254
@sthulb coming momentarily

[2015-01-09 17:24] ehazlett commented on #179
@sthulb i think that's a brilliant idea

[2015-01-09 18:56] pandrew commented on #240
Seems to work.

[2015-01-09 18:56] #240 closed

[2015-01-09 19:11] Leland-Takamine commented on #239
For the record, I've tested with a build from #255 and it seems to fix this issue.

[2015-01-09 20:53] cjellick opened #256 "machine url panics"
### Description of problem:
If no machine is active, ```machine url``` panics

### Machine version:
Running latest of master of machine

### Environment details:
Running machine on Mac OSX Yosemite

### How reproducible:
Very

### Steps to Reproduce:
1. Get into a state where you have no active machine. Easiest is to just not create a machine. But I think deleting the active machine should also do

[2015-01-09 22:04] sthulb commented on #256
This happens on all commands actually...

[2015-01-09 23:29] sthulb commented on #178
Perhaps something that could be addressed in #124

[2015-01-09 23:43] ehazlett commented on #239
awesome.  looks like that was it.  i will leave this open until we merge
#255.

thanks!

On Fri, Jan 9, 2015 at 11:11 AM, Leland-Takamine <notifications@github.com>
wrote:

[2015-01-10 00:41] nathanleclaire commented on #256
Indeed.  Dupe of #222 I think.

[2015-01-10 01:51] andyshinn commented on #229
I'm seeing this same issue in VirtualBox as well. The create errors. But if I run with `--debug` to keep the machine around, after it is created, I can use the Docker client against the TCP socket just fine. Here is the end of the create debug output for both Digital Ocean and VirtualBox showing the issue:

* Digital Ocean: https://gist.github.com/andyshinn/cfb0ffd350cee35b3d92
* VirtualBox: https

[2015-01-10 04:47] SvenDowideit commented on #247
personally, I was also surprised that the `-c` was needed at all

we made `boot2docker ssh ls -al` work, that way is was similar to `ssh host ls -la`

[2015-01-10 04:49] SvenDowideit commented on #248
the ssh keys are a problem, as are the TLS host keys, but at least the user would know their being charged for it :)

[2015-01-10 04:50] SvenDowideit commented on #179
+1 - if you look at the PR I made in the b2d-cli repo, I copied the driver model, but starting machine with plugins would be nicer.

[2015-01-10 04:59] SvenDowideit commented on #16
I'd propose `$(machine shellinit)` _only_ because thats what `boot2docker` has had, so many users are used to it.

[2015-01-10 11:09] sthulb commented on #247
the machine name can be specified in the ssh command `machine ssh [name] [-c command]`

If we don't care about the name and always have it perform on the active machine, we can drop the -c

[2015-01-10 11:12] sthulb commented on #248
It depends, this is perhaps a really hard thing to check.

Cloud accounts can be shared, so how do we check which instance belongs to whom?

[2015-01-10 15:30] ehazlett commented on #178
Yes I believe this is the plan if possible for the drivers.

On Fri, Jan 9, 2015 at 6:29 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-10 18:09] ehazlett commented on #248
Yeah I'm curious how we would filter non-machine instances as well.

[2015-01-10 18:11] ehazlett commented on #247
If we want to remove the name from ssh we should look at the other commands as some can take the machine name as well.  This could get confusing.

[2015-01-10 18:47] sthulb commented on #247
I like the option of specifying the name.

[2015-01-10 18:57] jaigouk commented on #210
something like this? https://github.com/jaigouk/convert_pem_to_json/blob/master/convert_pem_to_json.go

[2015-01-11 12:30] sthulb opened #261 "Test suite leaks into user's data store."
Running `go test` leaves a 'test' machine after the tests run.

Ideally, we should create a test store in `/tmp` or in the current dir and clean up afterwards.

[2015-01-11 12:34] sthulb commented on #256
@cjellick Is this something you're working on?

[2015-01-12 10:51] bfirsh commented on #249
Ouch. We should have a test for this. A good argument for having a set of integration tests for commands.

[2015-01-12 10:57] bfirsh commented on #231
Alright. Doing nothing is my favourite solution.

[2015-01-12 10:57] #231 closed

[2015-01-12 13:07] cjellick commented on #256
@sthulb I started working on it on Friday, but got into a bit of yak shaving.

[2015-01-12 14:03] sthulb commented on #256
@cjellick OK... I think I narrowed it down to a problem with the first return in `GetActive` from the store. It just returns `nil, nil`

[2015-01-12 14:08] sthulb opened #263 "Local VM hypervisors should save state"
Instead of using stop/start, we should save state of the machine.

We could implement this in two ways: we can either:
1. Introduce pause & unpause commands
2. Make stop & start save machine state and restore it via a flag

This would stop machines losing state when they don't have to be around any longer. This would be helpful on B2D machines.

[2015-01-12 14:37] ehazlett commented on #210
We are switching from identity auth to standard TLS (
https://github.com/docker/machine/issues/254).  This should fix this issue.

On Sat, Jan 10, 2015 at 1:57 PM, Jai-gouk Kim <notifications@github.com>
wrote:

[2015-01-12 14:38] cjellick commented on #256
@sthulb your PR (#262) cover it then? I'd be duplicating effort if I pursued a fix further at this point, right?

[2015-01-12 14:53] sthulb commented on #256
@cjellick It should cover it.

[2015-01-12 14:56] sthulb commented on #263
Apparently already fixed using another method...

[2015-01-12 14:56] #263 closed

[2015-01-12 15:13] Tebro commented on #263
At least my boot2docker machines seem to get reset, I use VMWare Fusion:

machine stop dev
machine start dev
docker ps
FATA[0011] TLS Handshake error: dial tcp 192.168.102.137:2376: connection refused

But IRC claims an update is coming, so just leaving this here as documentation.

[2015-01-12 16:41] ehazlett commented on #247
I personally like specifying the name as well.

@bfirsh thoughts?

[2015-01-12 20:16] ehazlett commented on #245
@DanLipsitt are you making sure to set the `DOCKER_HOST` and `DOCKER_AUTH` environment variables after creation from machine?

[2015-01-12 20:24] ehazlett commented on #261
Well ideally you use the `script/test` which runs them in a container.  Perhaps we need more clarification in the readme?

[2015-01-12 20:28] ehazlett commented on #62
Closing as #257 was merged.

[2015-01-12 20:28] #62 closed

[2015-01-12 21:19] DanLipsitt commented on #245
Well, I'm not actually able to create VMs with machine yet (see #242). But the identity build should work with VMs created by ordinary boot2docker as well, right? I just tried setting DOCKER_AUTH as well as trying some other things, but it didn't help:

[code]

[2015-01-12 21:26] ehazlett commented on #245
No, existing b2d instances will not work as they have different certs.  I
have a PR open that will allow for importing existing instances but it's
not yet merged.

On Mon, Jan 12, 2015 at 4:19 PM, Dan Lipsitt <notifications@github.com>
wrote:

[2015-01-12 22:13] sthulb commented on #261
As per @ehazlett's comment, the desired path is inside a container.

[2015-01-12 22:13] #261 closed

[2015-01-13 04:00] SvenDowideit commented on #247
or, if you always have to specify a name, then the cmds follow - prettymuch the main risk point is if a machine's name is the same as a command someone uses..

[2015-01-13 04:16] ehazlett commented on #229
@andyshinn @sthulb @ahmetalpbalkan could you test the fix in #266?  I haven't had this issue anymore after that fix.

[2015-01-13 04:40] andyshinn commented on #229
I can't reproduce this particular issue. But am having a bunch of other failures which seem to be slowness inside the DO network (failing sometimes on docker stop, curling the binary with identity, etc.).

[2015-01-13 05:24] ehazlett commented on #229
Yeah I was having a bunch of issues on DO today as well :(

On Mon, Jan 12, 2015 at 11:40 PM, Andy Shinn <notifications@github.com>
wrote:

[2015-01-14 13:52] #229 closed

[2015-01-14 16:10] ehazlett commented on #102
Closing as there do not appear to be issues.  Please re-open if you have them again.  Thanks

[2015-01-14 16:10] #102 closed

[2015-01-14 16:12] ehazlett commented on #59
Closing as #219 has been merged.

[2015-01-14 16:12] #59 closed

[2015-01-14 16:16] ehazlett commented on #99
Closing this as #111 has been merged.  Please re-open if you continue to have issues.  Thanks!

[2015-01-14 16:16] #99 closed

[2015-01-14 16:41] ehazlett commented on #215
DO states the issue is resolved and a quick test confirms.  Closing.

[2015-01-14 16:41] #215 closed

[2015-01-14 16:41] nathanleclaire commented on #215
:cake: :clap: :tada:

[2015-01-14 16:44] ehazlett commented on #237
@SvenDowideit i've created several more vbox instances with no issues.  Could you try again to see if you still get them?  Thanks!

[2015-01-14 16:49] ehazlett commented on #245
@DanLipsitt could you try with a build from master to see if you still have this issue?  Thanks!

[2015-01-14 16:49] ehazlett commented on #242
@DanLipsitt could you try with a build from master to see if you still have this issue?  thx

[2015-01-14 16:50] ehazlett commented on #253
I think I would rather save it to the regular store as soon as possible and then remove if it's not OK.  I'm not a big fan of saving it somewhere else in the filesystem.

[2015-01-14 17:04] ahmetalpbalkan commented on #229
@ehazlett just had a chance to try with #266. It works for Azure –unless I specify the `--azure-port` parameter. There's some hard coding in the code for port 2376 and this disallows custom ports from being used. Nonetheless, it doesn't give the TLS handshake error anymore.

[2015-01-14 17:46] ehazlett commented on #229
Thanks.  Yeah we should open a separate issue for that.  We have a couple
of drivers that hard code some things.

On Wed, Jan 14, 2015 at 12:04 PM, Ahmet Alp Balkan <notifications@github.com

[2015-01-14 19:00] ahmetalpbalkan opened #282 "[Azure driver] --azure-port value is not used"
The Azure driver uses port 2376 regardless of what's passed with `--azure-port` parameter. Even though I pass 4243 or something else, VM endpoint port mapping is done right (:4243&rarr;:4243), however the docker command is started with `docker -d -H=0.0.0.0:2376` and thus outside in connections are refused.

This makes `machine create -d azure` fail in different forms. For now, it is getting stuck

[2015-01-14 19:30] olibob opened #283 "amazonec2 fails creating security group"
Commit:  c2f1fea9dc8c3d8c2b182280de5124941ab904a1
Binary used: machine_darwin_amd64

[code]

There is no security group with that name on the VPC I use. I can chose whatever name for the machine, it'll fail with this error.

3 security groups are defined with following names:
- DockerTLS
- Std - SSH
- default

[2015-01-14 19:51] sthulb commented on #283
You already have a security group with that name. They have to be unique

[2015-01-14 19:52] ehazlett commented on #283
Perhaps we should do a check for existing?

On Wed, Jan 14, 2015 at 2:51 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-14 19:54] sthulb commented on #283
That is the check. Error. :)

But @olibob is convinced that he doesn't already have one.

@olibob can you check all regions?

[2015-01-14 19:57] ehazlett commented on #283
Yeah I should have been more clear :)  I was thinking more along the lines
of auto-recovery but that might be dangerous.

On Wed, Jan 14, 2015 at 2:54 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-14 19:58] olibob commented on #283
@sthulb checked, but I can pretty much use any name, for example:

[code]

[2015-01-14 20:05] sthulb commented on #283
I'll look into this

[2015-01-14 22:09] sthulb commented on #283
I've just tried this in eu-central-1, I get this from the API:

[code]

[2015-01-14 22:27] sthulb commented on #283
There's definitely something wrong. The same keys worked in us-east-1

[2015-01-14 22:30] sthulb commented on #283
After some research, apparently eu-central-1 wants a different signature version. (ver 4).

[2015-01-14 22:36] DanLipsitt commented on #242
Still fails with revision `0.0.2-158-gc2f1fea` (`docker-machine --version` lies and says just `0.0.2`):

[code]

This is after setting the `LIBRARY_PATH` variables as above.

[2015-01-14 22:38] DanLipsitt commented on #242
It also looks like those error messages are getting munged.

[2015-01-14 23:40] ahmetalpbalkan opened #285 "[AmazonEC2 driver] Takes forever to finish creating the machine"
I was playing with amazonec2 driver to create a machine on EC2. It took so long (~30 mins) and I just killed it. It got stuck at `Waiting for SSH`, however when I go to the management console, the instance is there. (although I did not ssh into the instance, where can I find the .pem for the security group anyway?)

[code]

[2015-01-14 23:47] sthulb commented on #285
The SSH key will be in $HOME/.docker/machines/name

[2015-01-14 23:48] sthulb commented on #285
I've had the same issue.

[2015-01-15 02:44] ehazlett commented on #285
What region/zone are you using?  I've been creating them tonight with no
issues.

On Wed, Jan 14, 2015 at 6:48 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-15 02:45] ahmetalpbalkan commented on #285
@ehazlett Whatever is the default, I use that. I used the command above.

[2015-01-15 03:10] ehazlett commented on #285
It depends on your account.  You will be able to find your default in the
AWS console.

On Wed, Jan 14, 2015 at 9:45 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-01-15 06:48] ahmetalpbalkan commented on #285
@ehazlett alright, I've been using us-east-1a. For some reason it didn't work back then but it is working fine now.

[2015-01-15 06:48] #285 closed

[2015-01-15 14:05] #283 closed

[2015-01-15 14:07] ehazlett commented on #285
Thanks for the follow-up!

On Thu, Jan 15, 2015 at 1:48 AM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-01-15 16:59] ehazlett commented on #282
Thanks for reporting.  We'll get it added to the backlog.

[2015-01-15 20:42] olibob opened #287 "The image id '[ami-a00461c8]' does not exist"
Follow up on #283
Commit 7efdb5a0ca5fe43a6f52851827140de4dff36ccb

The default AMI cannot be used eu-central-1 or eu-west-1 in apparently.
[code]

Using the standard amazon linux AMI fails too. The instance runs and then stops for a unknown reason. (Launching one in the AWS console works just fine)

But anyway, the ssh command from machine will never succeed. The default login user for that AMI is

[2015-01-15 22:27] sthulb commented on #287
AMIs only exist in one region, the default one only exists in us-east-1.

The docs should specify. Or machine should keep a list.

[2015-01-15 22:57] ehazlett commented on #287
Yes Simon is correct, the default AMI is intended for use in the default
region (us-east-1).  I think we could do what Simon said and keep a list of
what AMIs are intended for use in the other regions and switch based upon
region selection.  For now you can use the following:

ap-northeast-1  ami-50eaed51
ap-southeast-1  ami-f95875ab
eu-central-1    ami-ac1524b1
eu-west-1       ami-823686f5
sa-eas

[2015-01-15 23:16] sthulb commented on #287
I'll encapsulate this into my work with stripe/AWS-go

[2015-01-16 01:44] srid opened #288 "Unable to specify custom DO memory size"
I'm following the README here:

[code]

Workaround: drop the `--digitalocean-size` argument and live with the 0.5G VM.

[2015-01-16 03:49] ehazlett commented on #288
You need to specify a size DO expects (see https://developers.digitalocean.com/v1/sizes/ for the list).  In your case you can use `1gb` instead of `1024mb` and it will work.

[2015-01-16 03:49] #288 closed

[2015-01-16 03:49] ehazlett commented on #287
@sthulb thanks!

[2015-01-16 06:47] olibob commented on #287
@ehazlett thanks!

[2015-01-16 14:33] ogrisel commented on #226
+1, it would be ideal to deploy batch data processing / compute workloads.

[2015-01-16 14:39] sthulb commented on #226
I'm not against the idea, we need to decide which params to expose to a user.

[2015-01-16 15:56] ogrisel commented on #226
In addition to the existing EC2 params I would just add the bid price and a boolean flag to use spot instance pricing instead of the default pricing.

Maybe also a specific timeout in case the bid is never satisfied (bid price is too low compared to the current market).

[2015-01-16 17:59] ehazlett opened #289 "Invalid path separator in Docker config when using from Windows client"
When creating machines from the Windows machine client, the Docker daemon configs have paths such as `\etc\docker\ca.pem` etc.

[2015-01-16 19:53] Tebro commented on #248
Could we modify the images to give out something specific on some kind of nmap like scan?

[2015-01-16 20:02] Tebro commented on #179
+1 for scp, and I agree with comments above, this proposal looks useful for development machines (Vbox, fusion), but on the other providers I think this could make quite a mess real fast.

[2015-01-16 20:45] Tebro commented on #61
I would love to see what @thaJeztah is talking about. Would let me spin up a quick swarm for some testing, and then remove it when I am done. Would also allow development environments to be more like production if production runs on multiple hosts.

[2015-01-16 20:47] Tebro commented on #253
+1. And I would also rather see it removed than have it in /tmp.

[2015-01-16 20:56] Tagnard opened #291 "Driver for baremetal installation"
What is needed is drivers to make baremetal install easier with for example, IPMI, DRAC and ILO and others.

This would be a killer feature for ease of installation.

[2015-01-16 21:08] thaJeztah commented on #61
For testing, I was even thinking if it would be possible to create a docker-in-docker (https://github.com/jpetazzo/dind) driver. I haven't done a lot with dind and it would require some changes (We'll probably need ssh, so a process manager as well), but that would be interesting.

[2015-01-17 14:26] ehazlett commented on #291
Interesting.  Perhaps a `baremetal` driver :)  I guess it depends on where you wanted to start as far as automation.  I happen to have access to a 2950 so maybe I can take a look at potentially using something like the DRAC remote services API.  Would be awesome :)

[2015-01-18 09:07] waitingkuo commented on #179
+1 for scp, (perhaps sftp?)

[2015-01-19 15:15] leon opened #371 "cannot access created host"
The IP I got assigned was `192.168.99.100`
I think the problem is that we use the `10.0.0.0` series for our local network and that my computer doesn't know how to find the 192.168 network.

The code that's the problem is here https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L234-L239

Is there a workaround?

[2015-01-19 15:16] sthulb commented on #371
The code you highlighted is meant to be for creating an internal network on your computer. it's not meant for external access.

[2015-01-19 15:21] leon commented on #371
@sthulb if i run `machine url` I get `tcp://192.168.99.100:2376`

I've created a simple wordpress docker image in the machine which if I login to machine with `machine ssh dev` and run `docker ps´ it shows that the wordpress is up and running and exposing port 80

shouldn't I be able to reach wordpress via http://192.168.99.100 ?

[2015-01-19 15:25] sthulb commented on #371
`machine ssh` will use the 192.168.99.100 IP address. Can you present a docker ps -a?

[2015-01-19 15:28] leon commented on #371
[code]

[2015-01-19 15:31] leon commented on #371
@sthulb Could it be that the virtualbox interface should be located on the same network as my computer?

Or does my computer automatically have access to all the interfaces of virtualbox even If the main ip of the computer isn't on the same network?

[2015-01-19 15:41] md5 commented on #371
@leon that `PORTS` list looks like you didn't publish port 80. You need to add `-p 80:80` to your `docker run` or `docker create` command.

[2015-01-19 15:45] leon commented on #371
@md5 Ahh that may be the problem...

I thought that if the original docker container had EXPOSE those would be available by default, but that was a faulty assumption.

https://docs.docker.com/reference/builder/#expose

[2015-01-19 15:51] sthulb commented on #371
@leon For reference: Virtualbox creates a virtual network adapter on your computer in the 192.168.99.0/24 range. This is only visible to your computer. :)

[2015-01-19 15:53] leon commented on #371
@sthulb Thanks for the help!
Sometimes it's a SBK problem (Shit Behind Keyboard) :)

[2015-01-19 15:53] #371 closed

[2015-01-19 15:54] sthulb commented on #371
@leon It's fine, you should see the mistakes I make at times :)

[2015-01-19 18:54] ehazlett commented on #119
Re-opening.  If you happen to try to create a machine with the same name as an existing machine, this will remove the old one.

[2015-01-19 19:22] maximveksler opened #372 "People on #docker irc channel have suggested using libvirt & libcloud"
Hey guys, this project looks promising.

I’d to bring to your attention that there was a recent discussion on #docker freenode about docker/machine and it being “garbage” for not using libvirt & libcloud.

You might wish to pay attention to the detail available via https://botbot.me/freenode/docker/2015-01-19/?msg=29964041&page=23

-m

[2015-01-19 19:45] nathanleclaire commented on #119
Yes.  As mentioned in IRC but I actually have changed my mind on the PR that was submitted to address this due to discussion with @bfirsh and @SvenDowideit.  Auto-remove seems to be causing too many problems, I was wrong.  If you CTRL+C in the middle of a `create`, for instance, the reference will not get cleaned up.

I think leaving the machines around in an error state is fine.  However, I don't

[2015-01-19 19:59] ehazlett commented on #372
Thanks for the heads up :)

We are trying to keep machine as light and simple.  libvirt is a C library and does not have an "official" Go library (http://libvirt.org/bindings.html) which is what machine is written in.  libcloud is written in Python and while it does have a lot of provider support, vital operations to Machine (such as key management) are not all supported across providers.

We are

[2015-01-19 20:00] #372 closed

[2015-01-19 20:43] ehazlett commented on #119
Ok thx.  I agree with the extra logging.  I would like to clean up logging
in general as each driver seems to do its own thing.

On Mon, Jan 19, 2015 at 2:45 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-01-20 18:12] #289 closed

[2015-01-20 21:52] ehazlett commented on #256
Closing as #262 is merged.

[2015-01-20 21:52] #256 closed

[2015-01-21 06:37] AndrewRussellHayes opened #377 "call to `machine -v` does not print version"
call to -v results in the below output on https://github.com/docker/machine/releases/download/0.0.2/machine_darwin_amd64
[code]

[2015-01-21 16:28] ehazlett commented on #377
This is fixed in master.  We will be having a new release coming soon.  Thanks for the feedback!

[2015-01-21 16:28] #377 closed

[2015-01-21 17:26] ehazlett opened #379 "Duplicate error when no active machine"
When there is no active machine, the  error is printed as many times as the number of machines.  For example:

[code]

[2015-01-21 17:27] sthulb commented on #379
That was mentioned in #262

[2015-01-21 17:39] ehazlett commented on #379
Ah right.  Back to that :)

[2015-01-21 18:01] ehazlett commented on #178
This is the user in the default DO image.  This could be addressed if we move to cloudinit or some provider side images, etc.

[2015-01-21 18:03] ehazlett commented on #90
@nicolasff could you try this from master and see if it still exists?

[2015-01-22 00:09] nathanleclaire opened #381 "[amazonec2 driver] Error on create: read on closed body"
My environment variables for credentials and VPC seem to be set correctly, but:

[code]

_EDIT_: I forgot that I changed the code a bit to print out the error, the original error was something like "Do you already have a security group named aws_lightning_fast?"

Dumping the response it looks like there isn't any response, so I'll try seeing what the original http request error is

[2015-01-22 00:18] nathanleclaire opened #382 "machine rm is not case sensitive?"
Perhaps I'm missing something but it seems that `machine rm DEV` will actually remove the host named `dev`.  I would expect host names to be case sensitive.

[2015-01-22 00:42] nathanleclaire commented on #381
Followup:

I seem to get a few different issues that are giving me trouble.

If I create it with no security group created yet, things choke at the key pair stage (I've dumped the security group return response)

[code]

OK... what the heck?  Well, let's remove the machine and try again:

[code]

It confuses me.  The point of code block in https://github.com/docker/machine/blob/master/drivers/amaz

[2015-01-22 01:01] nathanleclaire commented on #381
The logic of creating a security group per-machine and then deleting it when we delete the machine is very confusing to me. Why not have one generic security group (exposing 22, 80, 443, and 2376) that we attach to all the machine hosts?  If user deletes EC2 instance manually they will be in for a surprise when they go to create a machine that has the same name.

[2015-01-22 01:26] nathanleclaire commented on #381
__UPDATE:__  So the issue was that I already have a key named `aws_lightning_fast`.  If anyone comes across this issue try deleting the keypair and we will hopefully deal with this condition better in `machine` in the future.

[2015-01-22 01:26] #381 closed

[2015-01-22 01:31] ehazlett opened #383 "Underscores in hostname cause error"
Thanks to @nathanleclaire for testing :)  If there is an underscore in the hostname it causes errors on creation:

[code]

[2015-01-22 01:36] nathanleclaire commented on #383
:+1:

[2015-01-22 03:38] ehazlett opened #385 "check for existing keypair"
This stems from #381.  We should check for an existing keypair with the same name as this will almost always fail since Machine will not have access to the private key.

[2015-01-22 03:47] ehazlett commented on #383
I'm thinking instead of throwing errors perhaps we replace with dashes (`-`).  For example, in the above, it would become `aws-lightning-fast`.

Thoughts? /cc @sthulb @robhaswell

[2015-01-22 07:15] nathanleclaire opened #386 "add something like drivers.ErrAuthInvalid"
This would be nice to return if your API credentials are no good.  That way, the experience of getting back that type of error would always be the same.  Actually in general I am starting to think that any time drivers write text to STDOUT or `log` which is not `log.Debug` it is kind of an anti-pattern.

[2015-01-22 08:22] rickard-von-essen commented on #90
I had the same problem and it was solved by using **docker-1.4.1-136b351e-identity** instead of **docker-1.3.1-dev-identity-auth**.

[2015-01-22 08:32] sthulb commented on #287
I've covered this in #290

[2015-01-22 09:48] sthulb commented on #382
I guess it depends on your file system. HFS will be fine with either, ext3-4 would probably complain.

[2015-01-22 09:55] sthulb commented on #385
I'll update #290 too.

[2015-01-22 09:57] sthulb commented on #386
I agree, it would be helpful if stderr was used more too. Perhaps for all logging that's not info

[2015-01-22 09:58] sthulb commented on #383
We should strip it out, or ensure it's apart of the validity check

[2015-01-22 16:58] ehazlett opened #387 "re-use machine security group"
When creating machines there can be issues if the security group does not get removed.  We should move to a single security group and re-use when creating machines.

[2015-01-22 17:01] ehazlett commented on #386
I think err types in general would be better all around.

[2015-01-22 17:08] sthulb commented on #387
I'm not sure that's the best idea. Eventually machine's hosts could be used for production purposes. I think a better idea would be to increment the group name if we find it's already in use.

We could end up with sec groups that look like swiss cheese because every other port is open.

[2015-01-22 17:08] ehazlett commented on #287
@sthulb Do you think we could pull that out and use it now?  I would like to get this fixed without having to replace the entire lib.  We will almost definitely switch to that eventually but I think having this fix now would be tremendously beneficial to those not using `us-east-1` by default.

[2015-01-22 17:09] sthulb commented on #287
Sure. I can submit a different PR containing just that :)

[2015-01-22 17:10] ehazlett commented on #387
@sthulb  My idea was that we use this for now and then add the ability to specify a security group in a separate PR.  That way you get a default if none specified and full control if you want to place them -- the same behavior as subnet-groups.

[2015-01-22 17:28] ehazlett commented on #287
@sthulb awesome thanks!

[2015-01-22 17:35] olibob commented on #287
@sthulb @ehazlett Great, thanks!

[2015-01-22 17:41] ehazlett commented on #254
Closing as #255 is merged.

[2015-01-22 17:41] #254 closed

[2015-01-22 17:43] ehazlett commented on #249
This has been fixed as of #267 and .  Closing.

[2015-01-22 17:43] #249 closed

[2015-01-22 17:46] ehazlett commented on #85
Closing as we have the docs in the repo now and are being generated / updated.

[2015-01-22 17:46] #85 closed

[2015-01-22 17:50] ehazlett commented on #217
Removing from the milestone as we are using standard TLS now so this is not as urgent.

[2015-01-22 17:51] sthulb commented on #2
Can we just rename to docker-machine now? :)

[2015-01-22 17:55] ehazlett commented on #2
@sthulb yes, `docker-machine` is it for now :)

[2015-01-22 17:59] ehazlett commented on #16
For now, we are using the `machine config` command (not shell init as it just passes args to the Docker CLI and nothing in the environment) and swarm is doing the same.  The long term solution is support in the engine.

[2015-01-22 18:04] ehazlett opened #388 "connection info for machine uses wrong name"
After a machine is created, the connect instructions say to use `machine` instead of `docker-machine`.

[2015-01-22 18:10] sthulb commented on #388
linked #2

[2015-01-22 18:24] nathanleclaire commented on #388
#389

[2015-01-22 18:47] ehazlett commented on #90
Ok thanks @rickard-von-essen.  I will close this for now as we are using the standard Docker client and server now.  Please re-open if you notice again.

[2015-01-22 18:47] #90 closed

[2015-01-22 19:47] nathanleclaire commented on #247
I think this brings up a somewhat larger underlying issue about consistency of the commands with respect to specifying the name.  I'm starting to think that I favor _always_ specifying the machine name explicitly.  It would make shell scripts easier to read and, although I like the convenience of `machine stop` and `machine start`, they invoke implicit arguments that would probably be better off e

[2015-01-22 21:16] ehazlett commented on #247
I actually love that as well.  I always specify the name simply because I
tend to favor explicit over implicit.  I like the consistency facet as
well.  Keeping everything the same instead of some commands using different
ways.

On Thu, Jan 22, 2015 at 2:47 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-01-22 21:20] ehazlett commented on #2
Closing as #2 is complete :)  Thx everyone!

[2015-01-22 21:20] #2 closed

[2015-01-22 21:22] ehazlett commented on #388
Closing as this is fixed in #389.

[2015-01-22 21:22] #388 closed

[2015-01-22 21:36] ehazlett commented on #387
Discussion from IRC:

[code]

[2015-01-23 01:01] nathanleclaire commented on #387
Hm, interesting.  I get that users will not want to use the machine default security group in prod, but they will probably not be launching `t2.micro` instances either.  It just strikes me as a bit odd to create new ones for each machine when we could just use a default one.

I would definitely like to see an option (`--amazonec2-security-group`?) to specify as many custom security groups as user

[2015-01-23 05:04] ehazlett commented on #387
We are not creating new ones unless a group is specified on the command line and it doesn't exist.  In #391, you can specify the group.  If it doesn't exist, it is created.  Then the authorizations are confirmed.

[2015-01-23 07:52] sthulb commented on #387
I'm not sure if we should open more ports, but perhaps this could introduce `docker-machine port --open/close <port> name`

[2015-01-23 07:53] sthulb commented on #387
There have been people asking for similar functionality.

[2015-01-23 09:01] leifhanack commented on #2
What about my comment?

Should this be a new ticket?

[2015-01-23 09:07] ndeloof commented on #2
see https://github.com/docker/docker/issues/10299

[2015-01-23 10:01] sthulb commented on #2
@leifhanack I think that's for the parent project, thankfully, @ndeloof created his issue :)

[2015-01-23 16:39] leifhanack commented on #2
cool. thanks!

[2015-01-23 16:42] ehazlett commented on #383
@sthulb are you saying remove them completely?  I think substituting with `-` would at least give a similar effect they are looking for.  Perhaps we should just error with `ErrInvalidHostname` or something?

[2015-01-23 17:30] robhaswell commented on #383
Think about the purpose of your "set hostname" feature. Is it purely for a way to identify machines to the user? Or is it for software to be able to identify the machines (i.e. DNS or orchestration).

For humans I was say translate the machine name into a human. For software I would say raise an exception.

I'm sorry, I know my hostname suggestion was designed for humans but I don't know if that w

[2015-01-23 18:38] zaps opened #395 "VMware Workstation driver"
I only care about the Windows version of Workstation, but obviously for completeness the driver would also support Linux version as well.

[2015-01-23 19:51] ehazlett commented on #383
@robhaswell thanks for the input.  The main reason this was created was to be aware of the machine you are on when you ssh and to provide a consistent naming scheme across the providers.  For example, in the providers, the machines are now named the same as the Machine name (including metadata and the hostname).

Now that I think about it, we should probably raise an exception as automatically cha

[2015-01-23 19:57] haldean opened #396 "CLI arguments to create command should be order-independent"
Placing arguments after the name of the machine to create causes those arguments to be silently ignored. For example, this:
[code]
Creates a VM with 8G of RAM, but this:
[code]
Creates a VM with the default amount of memory (1G), and doesn't display a warning or anything that the memory-size argument is being ignored.

[2015-01-23 20:18] sthulb commented on #396
That'll be a bug in the cli lib

[2015-01-23 20:19] sthulb commented on #383
I'd return an invalid hostname error.

[2015-01-23 21:28] ehazlett commented on #396
Yes, the usage is docker-machine <action> -d <driver> <driver-opts>
<machine-name>  -- anything after the name will be ignored.  Since the args
can be variable I'm not sure we can catch it -- perhaps we could mention it
better in the docs.

On Fri, Jan 23, 2015 at 3:18 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-23 21:53] ehazlett opened #397 "Update TLS generation to create single CA and client certs"
Currently, new CA, client and server certificates are generated for each machine.  This seems a bit much.  We should create a single CA and single client cert (for the current client) and then new server certs signed with the single CA for each machine.  This will also help integration with Swarm.

[2015-01-23 22:07] sthulb commented on #397
+1

[2015-01-24 01:47] cpuguy83 commented on #178
We can also ask DO to update this, which I would be happy to do :)

[2015-01-24 01:47] cpuguy83 commented on #178
This, being the user in the image.

[2015-01-24 04:23] ehazlett commented on #178
Perfect.  Thanks!

On Fri, Jan 23, 2015 at 8:47 PM, Brian Goff <notifications@github.com>
wrote:

[2015-01-25 20:25] rickard-von-essen opened #405 "WIP: Parallels Desktop for Mac driver"
I have built a driver for [Parallels Desktop for Mac](http://www.parallels.com/products/desktop/). I'll do I PR during this week, as soon as I have done some more testing.

[2015-01-26 01:49] Grynn commented on #395
+1 Windows version of VMWare Workstation; can't be that different from VMWare Fusion?

[2015-01-26 02:02] ehazlett commented on #405
Sounds good, thanks!

On Sun, Jan 25, 2015 at 3:25 PM, Rickard von Essen <notifications@github.com

[2015-01-26 10:00] sthulb commented on #395
I'd guess the CLI tool has the same API or similar.

[2015-01-26 16:18] #282 closed

[2015-01-26 17:35] #385 closed

[2015-01-26 17:53] ehazlett commented on #387
Closing as #391 was merged.  I think we should address the port exposure in another issue.

[2015-01-26 17:53] #387 closed

[2015-01-26 17:53] ehazlett commented on #383
Closing as #399 is merged

[2015-01-26 17:53] #383 closed

[2015-01-26 17:53] ehazlett commented on #287
Closing - #400 merged

[2015-01-26 17:53] #287 closed

[2015-01-26 17:56] ehazlett commented on #119
I think I will close this as we've reverted the auto-cleanup and fixed some of the logging.  We are looking to standardize the way we handle common tasks (create, remove, etc) and I think the error reporting can be a part of this.  We can use #392 to track that.

[2015-01-26 17:56] #119 closed

[2015-01-26 20:45] cpuguy83 commented on #178
So they can't change this anytime soon, but it's on the books.

[2015-01-26 20:46] sthulb commented on #178
We can always create an ubuntu user using cloudinit.

[2015-01-26 22:52] Grynn commented on #395
vmrun seems to have the same API

Also I think the Fusion driver picks up a MAC address from /var/db/...vmnet8.dhcpd.leases. There's no equivalent on Windows (that I could find ...)

[2015-01-26 22:59] sthulb commented on #395
There probably is. But don't quote me on it :)

[2015-01-26 23:06] #397 closed

[2015-01-27 00:05] tonyhb opened #407 "Add support for password-protected certificate authority keys"
Hey,

Generating server keys fails with a password protected CA.pem key. Right now you have to remove the key via `openssl rsa -in key.pem -out keyless.pem` and set `MACHINE_AUTH_PRIVATE_KEY` as the keyless version.

Would it be possible to prompt for the key password here? Haven't looked at the feasibility.

[2015-01-27 01:47] zaps commented on #395
Also, Fusion always puts vmrun in `/Applications/VMware Fusion.app/Contents/Library/` whereas on Windows the user has the option of installing Workstation to a location other than the default of `C:\Program Files`. I'm not familiar with the Linux version but I suspect it's a similar situation.

So I guess there would have to be some kind of logic to figure out where vmrun lives. Either that or all

[2015-01-27 03:20] tonyhb commented on #407
Made a patch which allows us to decrypt a certificate key file to make a `tls.Certificate`.

I'm not sure how you'd prefer we test this — want me to add an encrypted CA & key pair for tests to the repo?

Also, I'm not such a fan of `Godep` as it continually bloody breaks with symlinks and git errors (I use [GPM](https://github.com/pote/gpm) instead), so I modified the Godeps JSON manually. Honestl

[2015-01-27 07:36] sthulb commented on #395
Is there a way of querying windows for a path?

[2015-01-27 09:40] sthulb commented on #395
TIL: You can query the windows registry to get the path of an installed app. We could use that to figure out the path of vmrun :)

[2015-01-27 13:11] cpuguy83 opened #409 "Test suite messes with real machine dir"
Running the test suite seems to remove everything in ~/.docker/machines, but also leaves a "test" machine around.

Would be nice if tests used an alternate in os.Temp() instead of the real thing :)

[2015-01-27 13:47] zaps commented on #395
On my own installation of Workstation (version 10 on Win7 64-bit), the registry entry is:

`HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\VMware, Inc.\VMware Workstation\InstallPath`

Sure enough, the value of that key points to the install location of the product, which includes the vmrun.exe binary.

On 32-bit Windows the registry key would be the same, minus the `Wow6432Node` part.

I'm not familiar

[2015-01-27 13:52] ehazlett commented on #409
It is recommended to run the tests in a container but we will fix in case
you run it local.  Thanks!

On Tue, Jan 27, 2015 at 8:11 AM, Brian Goff <notifications@github.com>
wrote:

[2015-01-27 15:01] ehazlett opened #410 "Machine fails to build from OS X"
The current master is not building properly when using `script/build`.  The resulting binary appears to be fine but simply exits with a `0` status.  When using `godep go build` local from OS X the binary is fine and works as expected.  Linux appears to be working fine either way.

Thanks to @mbentley for reporting and debugging.

[2015-01-27 15:11] tonyhb opened #411 "Error creating machine: error generating server cert with $MACHINE_TLS_CA_{KEY|CERT} set"
`Host.ConfigureAuth` doesn't take into consideration `$MACHINE_TLS_CA_KEY` and `$MACHINE_TLS_CA_CERT` env variables when changing CA cert locations.

If the environment variables are set and you have valid client keys, the server is created and machine fails with the following error:

[code]

I think the culprit is in line 126 of host.go

The quick fix is to copy these keys into `/.docker/machines

[2015-01-27 15:19] tonyhb commented on #411
Yeah — `main.go` uses this:

[code]

whereas host.go uses this:

[code]

Going to replace this and test see if things still pass.

[2015-01-27 15:35] #410 closed

[2015-01-27 15:40] ehazlett commented on #410
Just to leave for the explanation:

The issue was `os/User` only works on unix (afaik).  The `before` used in codegangsta/cli will simply stop running commands even if it returns and error (which is documented).  So when machine ran on a platform that didn't support `os/User` it returned an `err` but was not bubbled up by the `before` thus resulting in an exit `0` instead of reporting the error.

[2015-01-27 16:00] ehazlett commented on #411
I think what `host.go` should have is a reference to the Host.CaCertPath etc.

This: https://github.com/docker/machine/blob/master/commands.go#L205 should set the Host vars and then the generation should work.  I'll work on a PR.

Thanks!

[2015-01-27 16:01] tonyhb commented on #411
Okay cool! Yeah, I just changed main.go's caCertPath variables to be pretty global. Not a pretty fix! I'll close that PR pretty fast...!

[2015-01-27 17:03] ehazlett commented on #411
@tonyhb could you test https://github.com/docker/machine/pull/414 ?

Thanks!

[2015-01-27 18:22] davesomebody opened #415 "VirtualBox driver wants admin"
Hi,

I'm trying to use machine in a somewhat restrictive corporate environment.  The issue I have is creation of a VM results in VirtualBox attempting to elevate to admin during the creation process.

Any ideas how to get the create process to successfuly complete without trying to elevate to admin?  By the way, I have the same problem with boot2docker.

edit: this is on windows, just to make it o

[2015-01-27 18:44] amylindburg opened #416 "Misleading "to connect" output when creating new machine with "docker-machine""
When I'm creating a new machine with docker-machine, I am advised:

`To connect: docker $(machine config my-new-machine) ps`

The name of the machine binary should print in this message (i.e., docker-machine).

[2015-01-27 18:57] davesomebody commented on #415
I turned on debug and got this (lightly cleansed)

time="2015-01-27T10:50:54-08:00" level="info" msg="Creating SSH key..."

Generating public/private rsa key pair.

Your identification has been saved in C:\Users\xxxxxx\.docker\machines\dev7\id_rsa.

Your public key has been saved in C:\Users\xxxxxx\.docker\machines\dev7\id_rsa.pub.

The key fingerprint is:

2d:52:6e:15:9d:95:a1:e3:d7:a2:e6:33:80:9

[2015-01-27 20:23] ehazlett commented on #416
@amylindburg thanks for reporting!  this has been fixed in master.  we will release with an updated RC probably tomorrow.  thanks!

[2015-01-27 20:23] #416 closed

[2015-01-27 20:40] ehazlett commented on #407
Thanks!  Unit tests would be nice (perhaps a cert/key named insecure_test or something) but even instructions in the readme would help.

I haven't had too many issues with Godep.  You should be able to `Godep update <repo>` to update the depends and `Godep save` to vendor new ones.

[2015-01-28 08:43] chanezon opened #419 "when using the azure driver, --azure-name parameter is not used"
Details below.
Maybe this has to do with issue https://github.com/docker/machine/pull/219
The cloud service and vm names are the same generated name. It's fine, but then the --azure-name option should be removed.

[code]

[2015-01-28 09:05] leon opened #420 "Azure - Error creating machine: The DNS name must be between 3 and 25 characters."
I've downloaded and built c209704f5affc9e3adfad383d8cefdb9abc1a5c0

and now when I try to create a azure machine it tells me:

[code]

This was working fine a couple of days ago, so something must have happened recently.

[2015-01-28 12:03] saratovsource commented on #405
@rickard-von-essen Sounds cool. This is very lacking to me. +1

[2015-01-28 16:12] ehazlett commented on #419
Thanks for reporting.  Fixed in #427.

[2015-01-28 16:12] #419 closed

[2015-01-28 16:16] ehazlett commented on #92
First part is fixed in #426.

[2015-01-28 16:41] sthulb commented on #411
LGTM.

[2015-01-28 17:44] #411 closed

[2015-01-28 17:50] #420 closed

[2015-01-28 18:48] ahmetalpbalkan commented on #419
@ehazlett so is it going to be in a format like `given_name-YYYYMMDDHHMMSS.cloudapp.net` from now on?

[2015-01-28 20:28] brianatirise opened #430 "'Bad certificate' after stopping and starting vmwarefusion machine"
VMWare Fusion machines seem not to be functional after stopping and re-starting them.

As of commit 7d6fd1f (midday January 28, 2015) with Docker 1.4.1 and a fresh boot2docker.iso, if I do the following:

docker-machine create -d vmwarefusion foo
docker $(docker-machine config foo) ps     # SUCCESS
docker-machine stop
docker-machine start
docker $(docker-machine config foo) ps     # FAILURE

the s

[2015-01-29 00:03] ehazlett opened #431 "vcloud air: intermittent connectivity issues"
This seems to happen the first time with each machine:

[code]

[2015-01-29 00:05] ehazlett commented on #430
This is a known issue.  Support for detecting the virtual disk in order to store the b2d configs needs to be added.

[2015-01-29 00:08] ehazlett commented on #419
The reason for this is Azure names all instances on the "cloudapp.net"
domain.  Therefore, if you have "test" there is a very good chance it will
collide with other instances.

The name is only used for the Azure cloud service and DNS.

On Wed, Jan 28, 2015 at 1:48 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-01-29 00:14] ahmetalpbalkan commented on #419
I see. But I was wondering if the user should have full control on the dns name or not. For some people dns name means a big deal.  (e.g. This code disallows me from creating ahmetsblog.cloudapp.net for my blog using docker machine). Instead, the code can just fail and say "cloud service name xxx.cloudapp.net is already taken".

I haven't seen the discussion about this but this would be my comment

[2015-01-29 00:57] ehazlett commented on #419
That's a great point.  Would you mind opening a separate issue for custom
DNS on azure and we can discuss?  Thanks!

On Wed, Jan 28, 2015 at 7:14 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-01-29 01:11] bfirsh opened #432 "Machine creates CA and certificate when just getting usage"
[code]

This seemed a bit odd. I was thinking "what's it doing? I didn't ask it to do anything!"

[2015-01-29 01:14] bfirsh commented on #11
The problem with the blank configuration is #253.

@daemonza Can you still reproduce with the latest RC?

[2015-01-29 01:16] bfirsh commented on #45
Thanks for this Nathan! I have added our intentions to move to a client/server model to the roadmap:

https://github.com/docker/machine/blob/master/ROADMAP.md

[2015-01-29 01:16] #45 closed

[2015-01-29 01:18] #210 closed

[2015-01-29 01:18] chanezon commented on #419
Another point to consider: https://github.com/chanezon/azure-linux/blob/master/docker/machine.md
"One word of caution: MachineName is the name of the cloud service that will be created in Azure. A cloud service name must be between 3 and 25 characters. machine adds a 16 character timestamp postfix to the name you provide on the command line. This means you want to use a machine name that is shorte

[2015-01-29 01:19] ahmetalpbalkan opened #433 "[Azure driver] Allow custom DNS (cloud service) names"
Recently the `--azure-name` parameter got removed (#219) from machine code and azure driver code now creates the Azure Cloud Service (DNS to the VM) in `machinename-YYYYMMDDHHmmss.cloudapp.net` format:

This is done at: https://github.com/ehazlett/machine/commit/861b16dba9020ae6cb3c62e699683db9554300cc#diff-93a074128ed8940ea0dafbd000270978R170

I think this should not be done and user should be al

[2015-01-29 01:21] bfirsh commented on #409
I wonder if we could set `--storage-path` for the tests...

[2015-01-29 01:24] ahmetalpbalkan commented on #419
@chanezon totally. it just creates confusion for an azure user. I think the argument should be allowed at least as optional.
@ehazlett I opened #433 to discuss.

[2015-01-29 01:24] bfirsh commented on #247
I wonder if SSH could be an exception which takes the name with a `-n` option.

`machine ssh df -h` is much better than a `-c` option. I think that's how it worked originally... when did we lose that?

[2015-01-29 01:26] bfirsh opened #434 "SSH command should be arguments, not an option"
I should be able to do something like `machine ssh name df -h`. If we want to make the name optional, perhaps we could make a `-n` (name) or `-m` (machine) option for the name.

Also see confusion in #247.

[2015-01-29 01:26] bfirsh commented on #247
---> #434. Thanks sven!

[2015-01-29 01:26] #247 closed

[2015-01-29 01:27] bfirsh commented on #245
@ehazlett can this be closed now we no longer do identity auth/

[2015-01-29 01:28] bfirsh commented on #237
Also see #253.

[2015-01-29 01:28] #239 closed

[2015-01-29 02:06] ehazlett commented on #245
Yes

On Wednesday, January 28, 2015, Ben Firshman <notifications@github.com>
wrote:

[2015-01-29 02:06] #245 closed

[2015-01-29 02:38] ehazlett commented on #432
Instead of tying this to a specific command, I set it as a "before" to the CLI app.  We could move it out but then would have to make sure to call it from each command in case the user specifies different keys.  Perhaps we just take off the info logging?

[2015-01-29 02:42] ehazlett commented on #433
Thanks for raising this.  Afaik there has never been an alert but I think that's the way to go.   (the names used to be dynamically generated with only the cloud service and DNS being named -- the "name" parameter had no effect on the machine name).  We recently added this functionality to the EC2 driver to check for the same key pair name.  I think we can do the same and query for an existing clo

[2015-01-29 02:45] ahmetalpbalkan commented on #433
Yes, you can query that if a cloud service name exists, has a bad format or contains reserved/profane words. https://msdn.microsoft.com/en-us/library/azure/jj154116.aspx

I'm not sure how it works with ec2 (or other drivers) in terms of if the machine name also serves as DNS name but in Azure, I can foresee that this would be a big limitation and people would come and ask for this as soon as it's

[2015-01-29 02:55] ehazlett commented on #434
I think if we are going to do this then we should force the name to be present.  I personally don't like how we have the inconsistency in the commands where some work on the "active" machine as well as specified and then we have this where it gets more tangled.

I would say we keep it simple and just make the command `machine ssh <name> <command>` like you said first.

[2015-01-29 02:56] ehazlett commented on #433
None of the other providers mess with DNS (with the exception of EC2 in which you get the instance IP instead).  Thanks for the link -- I think we can use that in the `PreCreate` check to make sure there are no collisions.

Thanks!

[2015-01-29 03:04] ahmetalpbalkan commented on #433
It will be pretty much the same (checking DNS availability vs getting error when you attempt to create the Cloud Service). Both will return the same error and user of docker-machine will see an human-readable error.

It's done here: https://github.com/MSOpenTech/azure-sdk-for-go/blob/005406ef924d801298dbf035c87272f3b4bd44b5/clients/vmClient/vmClient.go#L67

[2015-01-29 07:52] sthulb commented on #433
We should definitely allow for nice hostnames. And obviously @ahmetalpbalkan is right about the API.

I chose to append the date since it was easier at the time.

[2015-01-29 09:21] roldancer opened #435 "Error creating machine: Get https://api.github.com/repos/boot2docker/boot2docker/releases: dial tcp: lookup api.github.com: no such host"
Hi All,
    I'm testing the docker machine tool, it looks really good, yesterday I could create a machine using VirtualBox driver, the image boot2docker.iso is stored in my filesystem.
Now I trying to create a new virtualbox machine, but I don't have internet acces from the current network, so my question is, Is there any parameter to say "ehhh don't ask for the latest image available, use my curr

[2015-01-29 10:00] sthulb commented on #435
#424 should fix this, after that is accepted, we should keep a local repo of b2d ISO files in ~/.docker/machine/.b2d or something :)

[2015-01-29 12:54] ehazlett commented on #435
We already store the ISO locally. That error is checking to see if it's the
latest. We can change that to a warn and continue with the cached ISO if
it's available.

On Thursday, January 29, 2015, Simon Thulbourn <notifications@github.com>
wrote:

[2015-01-29 14:43] roldancer commented on #435
That would be excelent, also the create command could have an aditional flag such us "--ignoreISOUpdate", if this flag is in the cmd then don't chech for updates ... what do you think ?

[2015-01-29 16:13] ehazlett commented on #48
This is fixed with the new `env` command.  For example, `$(docker-machine env dev)`

[2015-01-29 16:13] #48 closed

[2015-01-29 19:51] bfirsh commented on #222
Was this fixed in #262?

[2015-01-29 20:02] ehazlett commented on #222
yes.  thanks!  closing.

[2015-01-29 20:02] #222 closed

[2015-01-29 20:04] #433 closed

[2015-01-29 21:40] nathanleclaire commented on #435
Oh interesting, I think we could modify #442 to also include a test for this case.

[2015-01-29 21:55] ehazlett commented on #434
@bfirsh the reason we use the `-c` is the cli package validates the flags.  For example, `machine ssh test-machine free` works but `machine ssh test-machine free -m` fails with `Incorrect usage`.  I'm digging into the cli package to see what we can do.

[2015-01-29 22:01] sthulb commented on #434
There isn't much if I recall. We can't tell if the first arg is a machine name or a command or perhaps both (machine named ls for example).

A potential solution is:
If arg[0] is a machine name, run arg[1:] on arg[0], if arg[0] isn't a machine, run all args on the active machine.

[2015-01-29 22:06] nathanleclaire commented on #434
I am +1 on args over `-c`- I think support for the flag parsing terminator (`--`) got merged into codegangsta/cli lately, so another solution available is that we might be able to bump the version and use that.  Then commands would look like `machine ssh dev -- df -h`.

[2015-01-29 22:38] nathanleclaire commented on #432
@ehazlett We won't need the CA and certificate until a machine actually gets created, right?  So why not tie it to `Create`?

[2015-01-29 23:58] ehazlett commented on #434
Oooh nice!

On Thu, Jan 29, 2015 at 5:06 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-01-30 00:02] ehazlett commented on #432
Yeah we shouldn't.  I'll update.  Thanks.

On Thu, Jan 29, 2015 at 5:38 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-01-30 09:21] TrumanLing opened #444 "Fail to download b2d.iso from local site!!!!"
In order to decrease time of downloading, I want to directly reference the b2d.iso file gotten from url before. wdyt?

[2015-01-30 10:17] noodlehaus opened #445 "script error during DOCKER_OPTS injection"
hi. i'm trying to use machine with openstack, and when it gets to the point where the `DOCKER_OPTS` are being injected into the host, the following error occurs.

[code]

This is on OS X.

[2015-01-30 10:34] sthulb commented on #445
This is probably linked with #434

[2015-01-30 10:57] sthulb commented on #434
@nathanleclaire @ehazlett This doesn't really help... in @codegangsta/cli, all the -- option does is stop anything after -- being picked up and parsed as a flag :/

[2015-01-30 14:01] ehazlett commented on #444
This is being introduced in https://github.com/docker/machine/pull/424  Thanks for the feedback!  We'll track progress there.  Thanks!

[2015-01-30 14:01] #444 closed

[2015-01-30 14:07] ehazlett commented on #445
@sthulb I don't think so.  #434 is for the `ssh` command while this is during provisioning.

[2015-01-30 14:14] ehazlett commented on #445
@ggiamarchi any idea here?

[2015-01-30 14:49] ehazlett commented on #434
Closing as #446 is merged.

[2015-01-30 14:49] #434 closed

[2015-01-30 16:04] sthulb opened #447 "One time storage for local ISOs"
At the moment boot2docker iso files are stored centrally and for each machine using it, we should stop that and only use the central iso.

[2015-01-30 16:07] sthulb opened #448 "Stop driver images from being hard coded into the source code."
Users might unknowingly be using compromised images as a result of hard coded images, I suggest that we have a `images.json` that's stored in the repository or somewhere remotely persistent for lookups.

The json file would be cached locally and revalidated either:

1. Once a day or next open
1. Upon every driver creation.

If the user doesn't have internet access, the check will log silently to d

[2015-01-30 21:03] rothgar opened #451 "Allow physical host install for Linux hosts"
This may be similar to #291 but that seems to want out of band installation/provisioning for OS and docker.

I want to configure already existing physical Linux hosts, either localhost or remote hosts via SSH, without needing a virtual machine.

I assume something like

`docker-machine create localhost` would be good enough for local setup

`docker-machine create --driver ssh remotehost` for remot

[2015-01-30 21:26] ehazlett commented on #451
Something like https://github.com/docker/machine/pull/406?

[2015-01-30 21:27] ehazlett commented on #448
+1

[2015-01-30 21:31] rothgar commented on #451
Does that also work for localhost? Sorry I didn't see it before, was only looking at issues and not PR

[2015-01-31 02:54] nathanleclaire opened #452 "docker-machine config chokes when run against non-running machine"
When the machine is running everything is cool:

[code]

But with non-running machines, everything goes haywire:

[code]

Yikes!  That shouldn't ever get thrown into a subshell.

[2015-01-31 14:57] ehazlett commented on #451
It will if the host is ubuntu and has ssh. Currently machine is coupled to
ubuntu. There is a PR to add cloudinit to allow for more customization.

On Friday, January 30, 2015, Justin Garrison <notifications@github.com>
wrote:

[2015-01-31 20:22] rothgar commented on #451
Alright, thanks for letting me know. I'm specifically looking for RHEL/CentOS hosts but I'll just keep an eye on commits for future compatibility.

[2015-01-31 20:22] #451 closed

[2015-02-01 06:18] coderigo opened #457 "Creating Digital Ocean droplets silently fails when hostnames contain "." and "-" characters"
This succeeds:
[code]

This fails:
[code]

with this error (same behaviour if one uses `my-hostname` instead of `my.hostname`):

[code]

The machine is indeed created (I have to manually nuke it from DigitalOcean) but no SSH connection is ever established.

The error is despite [hosts.go](https://github.com/docker/machine/blob/master/host.go) suggesting in [line 24]() that `.` and `-` are allowed

[2015-02-01 18:59] leth commented on #179
+1 for local VM shares, NFS is a portable option if driver-specific shares are awkward. Vagrant does this kind of thing well :) I'd love to see it in this project.

[2015-02-02 05:29] Hokutosei opened #458 "possible to install docker on running gce instance?"
Greetings,

Im sorry if this has already been talked already as I dont seen any yet. I was looking if its possible for machine to install docker on a running host with no docker installed yet?

[2015-02-02 12:22] EmileVauge commented on #61
@thaJeztah Just created it :)
https://github.com/EmileVauge/docker-cluster

[2015-02-02 14:11] #435 closed

[2015-02-02 14:13] sthulb commented on #452
What would we expect the behaviour to be? Nothing? Something to stderr?

[2015-02-02 14:15] ehazlett commented on #12
Closing as #422 is merged

[2015-02-02 14:15] #12 closed

[2015-02-02 14:19] ehazlett commented on #452
Hmm that's a good question.  I guess nothing?  Technically this behavior is the same for any command that throws an error when you run as a subshell.

Personally I think that's the right error.  You are asking for a config of something that is not running.

@nathanleclaire thoughts?

[2015-02-02 14:20] ehazlett commented on #458
There is an experimental driver called "generic" that would do this but it's not yet merged.  Feel free to test it out and comment :)  https://github.com/docker/machine/pull/406

[2015-02-02 14:20] #458 closed

[2015-02-02 14:41] thaJeztah commented on #61
@EmileVauge ah, fun! Will give it a spin (if I find some time.. LOL)

[2015-02-02 15:45] ehazlett opened #461 "vsphere: pool not found error after first run"
After running the first time (which did not succeed, the machine was never started and an error of "Invalid state" was thrown) `govc` errors out with "cannot find pool <poolname>".  The pool indeed exists and the user has administrator privileges.

[2015-02-02 15:46] ehazlett commented on #461
/cc @frapposelli

[2015-02-02 18:36] ehazlett commented on #432
Closing - #460 merged

[2015-02-02 18:36] #432 closed

[2015-02-02 18:41] sthulb opened #463 "Proposal: Logging changes"
We should:
1. Make all logging go to stderr except for info level logs.
2. Figure out if this would be useful for @sirupsen's logrus package, if so, push it there.

Remove the prefix from INFO level logs so we no longer see "INFO[0000]" or just use stdout + `fmt.Print*`

[2015-02-02 18:55] ehazlett opened #465 "vsphere: driver should use cached downloaded b2d iso instead of new one"
When using the vsphere driver, another b2d ISO is downloaded and left in the current directory.  Ideally, this should use the cached common ISO.

[2015-02-02 19:05] nathanleclaire commented on #452
It should be the same output as when the machine is running.  Now, this might be a little tricky, since in our current implementation a machine's IP address disappears when a machine is stopped due to the way that the store save mechanics work.  I'd argue that this shouldn't be the case; instead each machine should get a statically assigned IP address at create time which isn't freed up until the

[2015-02-02 20:17] Sirupsen commented on #463
To change to `stderr` you can just do `logrus.SetOutput(os.Stderr)`.

In regards to removing the prefix, we could make that [an option on the `text_formatter`])[https://github.com/Sirupsen/logrus/blob/master/text_formatter.go#L35].

[2015-02-02 20:39] ehazlett commented on #463
@Sirupsen thanks.  can you currently split out `Stdout` and `Stderr`?  It didn't look like it.

+1 for the custom formatting

[2015-02-02 20:45] Sirupsen commented on #463
Ooh, I read it too fast. No, you currently can't split `Stdout` and `Stderr`. I don't like that behaviour from loggers.

[2015-02-02 20:51] ehazlett commented on #452
If we want to leave the user without knowing there is an error and just rely on the Docker CLI to tell us, fine.  @bfirsh ?

[2015-02-02 21:03] ehazlett commented on #242
@DanLipsitt could you try this with the latest RC or master?  I'm thinking it won't because it looks VirtualBox related, but just to rule it out.  Thanks.

[2015-02-02 21:25] nathanleclaire commented on #463
We _really_ should split the project into client/daemon first before doing this.  Otherwise we will just be setting ourselves up for a lot of pain down the line when we do so.  Think about it.  Output on daemon side should basically always use logrus and should probably always write to STDOUT as well.  Output on client side should pretty much never use logrus and will sometimes write to STDOUT (e.

[2015-02-02 21:41] ehazlett commented on #457
This is working fine for me:

[code]

[2015-02-02 21:42] ehazlett commented on #463
@nathanleclaire +1

[2015-02-02 21:49] thaJeztah commented on #457
Are you both using the same region? With DO, some features are / aren't available, depending on the region / datacenter you're using, wouldn't be surprised if things like this would be different as well.

[2015-02-02 22:35] Sirupsen commented on #463
Well articulated!

[2015-02-02 22:51] nathanleclaire commented on #448
I don't really understand the reasoning of this idea.  How exactly would these users be getting owned?  MITM attack when they go to download the hardcoded image?

[2015-02-02 22:59] coderigo commented on #457
Thanks @thaJeztah and @ehazlett.
It turns out the region isn't the issue as I tried my command with `sgp1` and `nyc3` and both succeed.

Weirdly enough, this time around trying with `my.hostname`, `my-hostname`, and `myhostname` now works on `sgp1` and `nyc3` regions, and presumably others.

I must have tried at least 5 times before and got the same error but this time it seems to be working witho

[2015-02-02 22:59] #457 closed

[2015-02-02 23:12] DanLipsitt commented on #242
With v0.1.0-rc2:

[code]

With master:
[code]

[2015-02-03 01:00] nathanleclaire opened #472 "machine vendors a revision of docker which doesn't exist"
cc @bfirsh @ehazlett @sthulb

Not sure how this happened, but see for yourself:

[code]

After wrangling with Godeps a bit this afternoon I'm starting to think we should rip it out and replace it with something else (probably custom - we could either steal `vendor.sh` as a base or make our own thing).

It's not very actively maintained (last commit is from two weeks ago), [seems to have issues sup

[2015-02-03 01:34] ehazlett commented on #242
Are you using any shell aliases?  What shell?  I'm not sure why that would
not see the driver name.

On Monday, February 2, 2015, Dan Lipsitt <notifications@github.com> wrote:

[2015-02-03 01:36] ehazlett commented on #472
This probably happened from the beginning when we were using a custom
identity version from Ben's fork.  We should just be able to godep update.
I would rather use something that is half way supported then some home
grown thing ourselves.

On Monday, February 2, 2015, Nathan LeClaire <notifications@github.com>
wrote:

[2015-02-03 02:02] ehazlett commented on #472
#474 should fix this.

[2015-02-03 03:36] TrumanLing opened #476 "One Simple Question."
From information over internet, the final target of docker is to run on physical machine, but docker machine makes docker work on virtual machine. Is it docker machine a temporary tool to enforce docker's security and isolation?

[2015-02-03 11:22] Vrakfall commented on #242
I've got the same kind of issue after I installed `docker` and `boot2docker` with `Homebrew`. The installation went ok (after I fixed some directory ownership troubles because I messed it up once, I installed both homebrew and docker with sudo permissions which I shouldn't).

But then, when I type the command `docker version`, I get the same result :
[code]

I'm still trying to figure out what's h

[2015-02-03 11:38] Tebro commented on #291
a PXE solution could also work, but that would require changes in a DHCP server.

iDRAC and similar systems should not be impossible to implement, but that limits what kind of hardware can be supported.

[2015-02-03 11:44] Tebro opened #477 "Proposal: Linode driver"
Would a driver for linode be possible? Linode is a good VM hosting provider along the lines of digitalocean.

[2015-02-03 12:37] bfirsh commented on #477
Yep! Work is in progress here :) https://github.com/docker/machine/pull/268

[2015-02-03 12:37] #477 closed

[2015-02-03 13:33] sthulb commented on #242
@ehazlett Can you check against master too? I remember bug in @codegansta/cli when Before was used on commands, it could interfere with that action. Perhaps this is a result of my last PR & an old version of @codegansta/cli being used

[2015-02-03 13:36] sthulb commented on #448
@nathanleclaire For example, the glibc exploit from last week would mean that all images we used could be vulnerable, to change images (because they've probably been remade/updated) in all of our drivers would require a new release of machine. With this method, we could just download a new image list.

[2015-02-03 13:41] sthulb commented on #452
@nathanleclaire we can only assign local machines static IPs, for remote drivers that can't have static IPs or there is a charge, this would be difficult. Also, a stopped instance on some providers will have different IPs when they come back up.

I think leaving Docker CLI to tell us there's an error is fine.

[2015-02-03 13:43] sthulb commented on #463
@nathanleclaire agreed.

Perhaps for 0.2.0 we can move to server/client to fix this.

[2015-02-03 14:18] ehazlett commented on #242
@Vrakfall this is almost always due to access the Docker host without the TLS settings.  Try using the `$(boot2docker shellinit)` also detailed here https://github.com/boot2docker/boot2docker/blob/master/README.md#tls-support.

Hope this helps!

[2015-02-03 14:32] ehazlett commented on #448
I think another benefit (mentioned from @aanand) was to be able to change which base images are used on each provider without pushing a new release.  I could see this being beneficial.

[2015-02-03 14:33] ehazlett commented on #463
I'm all for this :)

[2015-02-03 14:48] ehazlett commented on #476
I'm not sure what you are reading from but Docker runs on both physical and virtual machines well.  It really depends on your environment and what works best for you.  There are many benefits to running in a cloud provider or VMs.

Docker Machine is intended to assist in getting Docker Engine(s) / Swarm cluster up and running in a secure setup with minimal effort.

Does this answer your question?

[2015-02-03 14:59] Vrakfall commented on #242
Yep, this helped a lot. It fixed my problem and even simplified my future work (I won't have to check the ip and the port of the new machine to fix the environment variable because it does it for me =D).

Thanks a lot !
(PS: I'm keeping your project in mind for later, I might need it in a close future.)

[2015-02-03 15:05] kevinsimper opened #478 "Create brew.sh package"
It could be cool to install machine by using brew.sh, as it would be easy to update.

But don't know if it should download compiled source or compile it itself?

[2015-02-03 15:42] ehazlett commented on #478
There is a formula from #130.  I think we just need to make sure it's updated and get it in the official docs if desired.  @bfirsh thoughts?

[2015-02-03 15:42] ehazlett commented on #242
@Vrakfall awesome!  thanks for reporting back!

[2015-02-03 16:27] ramschmaerchen opened #479 "virtualbox: intermittent machine create fails"
~~If running  --virtualbox-disk-size docker-machine create on OSX, no new docker machines can be generated anymore. To resolve, .docker needs to be deleted.~~

~~After deleting .docker, creating a machine works flawlessly again.~~

**Please see my first comment for updated information**

### Behaviour
Most of the times, docker-machine ~~--virtualbox-disk-size~~ waits endlessly for VM to start, alt

[2015-02-03 16:56] nlamirault opened #480 "SSH password for a new driver"
hi,
hi try to add a new driver OnlineLabs to Docker machine.
VM creation is working and upload SSH keys too.
I try to connect to VM using ssh package :

[code]

If i try to execute command in a bash it works :

[code]

Any idea about this difference ?
Thanks

[2015-02-03 17:20] ehazlett commented on #479
thanks for reporting.  I just confirmed this is working.  Can you paste the exact `create` command you used?

[2015-02-03 17:23] ehazlett commented on #480
Is the instance up and ssh available?  Sometimes this can happen if you try to ssh too quickly.

[2015-02-03 17:24] #472 closed

[2015-02-03 17:49] nlamirault commented on #480
hi think. According to  the code and the previous logs :

``̀`go
if err := ssh.WaitForTCP(fmt.Sprintf("%s:%d", d.IPAddress, 22)); err != nil {
	return err
}
log.Debugf("[OnlineLabs] Setting hostname: %s", d.MachineName)

log.Debugf("[OnlineLabs] Setting hostname: %s", d.MachineName)
cmd, err := d.GetSSHCommand(
	fmt.Sprintf(
		"echo \"127.0.0.1 %s\" | sudo tee -a /etc/hosts && sudo hostname %s &&

[2015-02-03 17:53] ehazlett commented on #480
hmm yeah it should work -- we currently shell out so it should be the same as your manual command.  the only thing i could think of is perhaps the provisioning service is doing something with the key on the server side causing some sort of race condition.  You might try a manual sleep just to see if that works.  I'm not sure what else it would be.

[2015-02-03 18:11] ehazlett commented on #479
@ramschmaerchen there was a bug with the way the cli args were processed.  could you try this again from master and see if it still errors?  thx

[2015-02-03 18:42] DanLipsitt commented on #242
@ehazlett:

No aliases.

[code]

[2015-02-03 19:06] nathanleclaire commented on #448
OK, I see now- there's a lot of benefits to this approach other than just security IMO.  In general, I think this has a lot of affinity with https://github.com/docker/docker/pull/10151 - that is, setting configuration options programatically.  Editing with `machine config --global virtualbox.defaultIso https://github.com/boot2docker/boot2docker/releases/download/1.5.0/boot2docker.iso` for instance

[2015-02-03 19:13] nathanleclaire commented on #452
@sthulb Right on, that might be more trouble than it's worth and I think I have a decent idea for a compromise.

[2015-02-03 19:36] nathanleclaire commented on #452
Another idea for this issue: https://github.com/docker/machine/pull/482

[2015-02-03 19:44] ehazlett commented on #448
@nathanleclaire yep -- exactly; +1 for the local defaults

[2015-02-03 19:49] ehazlett commented on #452
Closing as #482 is merged.

[2015-02-03 19:49] #452 closed

[2015-02-03 19:51] sthulb commented on #448
I like this approach. +1, we would have to take over `config`, which I'm fine with.

[2015-02-03 20:54] ehazlett commented on #242
@DanLipsitt have you tried with a recent build from master?  I can provide pre-built if you just want to test.

[2015-02-03 21:02] DanLipsitt commented on #242
Just tried with 4a81c4b17. No more "unknown driver" error, but I'm back to this:

[code]

I'm using this homebrew config:
Homebrew/homebrew-devel-only#11

[2015-02-03 22:19] jlrigau commented on #179
+1 for scp

[2015-02-03 22:25] nathanleclaire commented on #179
To give interested parties an update on where my head is at with this one:  I'd like to make a `machine scp` command which is simply for moving files from point A to point B one way via `scp` (I think I want a `--delta` flag for this too to optionally shell out to `rsync` instead of `scp`).

Then, for more complicated use case e.g. NFS/Samba, there would be a separate (still `docker-machine`-centr

[2015-02-03 22:37] atomi opened #483 "Windows USERPROFILE or HOME env variables are ignored"
On Windows boot2docker uses the HOME env variable to translate .boot2docker config path. Docker-machine should do that.

[2015-02-03 23:17] sthulb commented on #179
I'm starting to think we should have a git style interface, with executables starting docker-machine-foo, in this case foo would be share.

[2015-02-03 23:17] sthulb commented on #179
This would be great for extending machine.

[2015-02-04 02:56] DanLipsitt commented on #242
I don't think it's the source of your error, but it looks like Godeps.json was [updated today](https://github.com/docker/machine/commit/cdd891ce7c0ef9474c7c60269414af317683bf67). I don't understand how we're supposed to keep `go_resources` up to speed. Seems like a losing battle. Is it okay to use `godep` directly since it already freezes dependencies?

[2015-02-04 02:59] DanLipsitt commented on #242
Oops, please ignore previous comment, it was meant for the homebrew build script repo!

[2015-02-04 05:55] frapposelli commented on #431
Tracking as vmware/govcloudair#4

It's a quirk in the vCloud Air API, there's already a workaround in the bindings code to prevent that but apparently it got worse.

[2015-02-04 06:14] ehazlett commented on #431
Thanks for the update!

On Wed, Feb 4, 2015 at 12:55 AM, Fabio Rapposelli <notifications@github.com>
wrote:

[2015-02-04 06:40] frapposelli commented on #430
I'm putting together a workaround for this short term as the long term solution will take some time to develop.

[2015-02-04 08:34] TrumanLing commented on #476
@ehazlett thx for your info, I understand your explanation, docker can run physical and virtual machines, and docker machine is a tool cooperating with swarm for cluster. And I think, currently docker's security and isolation is not better than VM, and the docker running environment setup via docker machine can potentially enforce docker's weakness, moreover I want to know the trend of container t

[2015-02-04 09:08] frapposelli commented on #461
There are two concatenated issues here:

- There is a problem in the code that was introduced in docker/machine@861b16dba9020ae6cb3c62e699683db9554300cc (see my [comment in the code](https://github.com/docker/machine/commit/861b16dba9020ae6cb3c62e699683db9554300cc#commitcomment-9579065)), I'm sending a PR for that shortly.

- The B2D iso that is being pulled doesn't contain `vmtoolsd`, hence vSphe

[2015-02-04 10:13] TrumanLing opened #484 "docker registry test failed"
run "sudo ./script/test", error info:
......
Successfully built 1afb7fe6e80b
go build launchpad.net/gocheck: no buildable Go source files in
=== RUN TestGetHostState
--- PASS: TestGetHostState (0.00 seconds)
=== RUN TestLoadHostDoesNotExist
--- PASS: TestLoadHostDoesNotExist (0.00 seconds)
=== RUN TestLoadHostExists
--- PASS: TestLoadHostExists (0.00 seconds)
=== RUN TestValidateHostnameValid
---

[2015-02-04 14:24] ehazlett commented on #430
@frapposelli awesome!! thanks!

[2015-02-04 15:16] ehazlett commented on #461
@frapposelli i have a PR open to fix the first: #485

Let me discuss the `vmtools` issue.  Thanks!

[2015-02-04 15:19] ehazlett commented on #484
It looks like you are running tests from multiple projects or something.  I just ran the tests and all are passing.  Travis CI is passing as well.  Try to clear your clone and re-run the tests.

[2015-02-04 15:19] #484 closed

[2015-02-04 16:02] huslage opened #486 "Invalid memory address when running `docker-machine config`"
[code]

This is the first command I ran after installing the 0.1.0-rc2 binary on macos mavericks (x86-64). The keys were all created successfully and are in `~/.docker`.

[2015-02-04 16:20] frapposelli commented on #461
Cool :+1: the `vmtoolsd` PR is definitely a must have for vSphere.

[2015-02-04 16:25] ehazlett commented on #486
This is a bug.  Fixing.  Thanks for reporting!

[2015-02-04 16:30] #486 closed

[2015-02-04 16:39] ehazlett commented on #461
@frapposelli could you give a link of the updated b2d custom ISO so I can test?

[2015-02-04 17:26] frapposelli commented on #461
Here it is: https://github.com/cloudnativeapps/boot2docker/releases/tag/v1.4.1-vmw

[2015-02-04 17:28] ehazlett commented on #461
@frapposelli thx!

[2015-02-04 20:30] ryanwalls commented on #430
I have the same/similar problem with virtualbox.  Start/stop an engine ends up with this error when I try to connect to it again:

[code]

[2015-02-04 21:06] ehazlett commented on #430
Yes we are working on this.  There should be a workaround soon.

On Wed, Feb 4, 2015 at 3:30 PM, ryanwalls <notifications@github.com> wrote:

[2015-02-04 21:34] ryanwalls commented on #430
@ehazlett Thanks!

[2015-02-04 21:46] ehazlett commented on #430
yw -- i will post here once it's available.

On Wed, Feb 4, 2015 at 4:34 PM, ryanwalls <notifications@github.com> wrote:

[2015-02-04 23:25] ryanwalls commented on #430
@ehazlett What's weird is if I start a new terminal and run `docker $(docker-machine config dev) ps` I can connect.

If I run `$(docker-machine env dev)`, then `docker ps` it fails with the cert error.

[2015-02-05 09:01] ramschmaerchen commented on #479
Ok, I tried to investigate this issue further.

First of all, master did not fix it.

### Specs
* OSX 10.9.5
* docker-machine master branch (0.1.0, 2.4.2015)
* docker 1.4.1
* boot2docker not installed (well, uninstalled,...)

### Investigation
* The behaviour is not reproducible, at least not yet
* Sometimes, machines are created successfully, sometimes they are not.
* Failure is not dependent on

[2015-02-05 09:43] sthulb commented on #479
The IPv6 support in machine for virtual box doesn't exist, I'm not sure anyone has tried yet.

But we should look into why this is failing. I'd also like to see unified arguments for drivers. There's no reason drivers can't share flags. Things like disk size, ram and auth credentials could be reused.

[2015-02-05 09:46] sthulb opened #489 "Proposal: share flags between drivers"
We should think about sharing flags between drivers. There are prime candidates, things like disk size, ram and such could be shared easily and it would have the bonus of cleaning up the help for the create command.

Each driver would drop the prefix for the shared flags, but still register them as usual, the flag_sort could dedupe them.

[2015-02-05 12:10] ehazlett commented on #479
+1 sthulb

@ramschmaerchen could you also run the command with debug (`docker-machine -D create -d virtualbox ...`).  This will help us troubleshoot as well.

[2015-02-05 12:11] ehazlett commented on #483
Everything appears to be working on Windows as far as I can tell.  Are you experiencing a problem or issue?

[2015-02-05 12:18] ehazlett commented on #92
This appears to be fixed.  I just tested and `url` returns correctly.  If you continue to see issues, please re-open.  Thanks!

[2015-02-05 12:22] #92 closed

[2015-02-05 16:06] hairyhenderson opened #491 "Problems using a custom boot2docker ISO hosted on an internal HTTPS site with self-signed cert"
So I'm getting this error:

[code]

I need a custom `boot2docker.iso` because our internal HTTPS all uses an internal corporate Root CA for signing (so, basically self-signed). I had this working fine with boot2docker-cli (see boot2docker/boot2docker#347), but I want to try out docker-machine with the same ISO.

I'm on OS X, and I've installed the Root CA certs in such a way that most apps recogni

[2015-02-05 16:17] hairyhenderson commented on #491
Some clarification - this actually doesn't work with boot2docker-cli either. I had built the ISO locally at first, so it never had to actually _download_ it. So I guess this is a more general issue. Anyone had any experience with this?

[2015-02-05 16:35] sthulb commented on #491
I'm not quite sure how this would work. I guess it all depends on how "net/http" reads CA certs from the system, I'd assume it'll use the keychain on OS X and the CA store on Linux...

[2015-02-05 16:52] hairyhenderson commented on #491
Yeah, I did some `dtruss`ing and found that it's opening the various keychains in the right order (local, followed by System, followed by System Roots). The certs are in the System keychain. Other (non-golang) commands work fine, such as `curl`. I `dtruss`ed curl and it looked like it was opening the same keychains... Obviously I have no idea what `net/http` is _doing_ with those keychains, but...

[2015-02-05 17:57] ramschmaerchen commented on #479
Sure. I censored keys and stuff but made sure the keys and names are the same (same name for same key)

### Working machine

INFO[0001] Creating SSH key...
DEBU[0001] executing: /usr/bin/ssh-keygen ssh-keygen -t rsa -N  -f /Users/thisuser/.docker/machines/dev/id_rsa

Generating public/private rsa key pair.
Your identification has been saved in /Users/thisuser/.docker/machines/dev/id_rsa.
Your publ

[2015-02-05 18:00] ramschmaerchen commented on #479
The non-working machine is not generating certs and keys upon creation.

### Non-Working Machine

INFO[0001] Creating SSH key...
DEBU[0001] executing: /usr/bin/ssh-keygen ssh-keygen -t rsa -N  -f /Users/thisuser/.docker/machines/dev2/id_rsa

Generating public/private rsa key pair.
Your identification has been saved in /Users/thisuser/.docker/machines/dev2/id_rsa.
Your public key has been saved in

[2015-02-05 22:17] roldancer opened #492 "Problem using Azure driver"
Hi I'm running the following command but I get an error:

$ ./docker-machine_linux-amd64 -D create -d azure --azure-subscription-id=[SUB_ID] --azure-subscription-cert=azure_cert.pem   docker

ERRO[0013] Error creating machine: Get https://management.core.windows.net/[SUB_ID]/services/hostedservices/operations/isavailable/docker: local error: internal error
WARN[0013] You will want to check the pro

[2015-02-05 22:45] ehazlett commented on #492
@jeffmendoza any idea?

[2015-02-05 23:55] ehazlett commented on #479
Thanks.  Could you also post the actual machine command line you are running?

[2015-02-06 00:03] ramschmaerchen commented on #479
Sure, nothing fancy:
`dockermachine -D create -d virtualbox dev`

[2015-02-06 00:05] ehazlett commented on #479
Ok.  Is this from the RC2 or master?  Also, can you try to remove (or backup) the existing `~/.docker/machines` directory and try creation again?

I guess the obvious question is what is the difference between machines?  OS version, arch, VirtualBox version, etc?

[2015-02-06 00:16] ramschmaerchen commented on #479
Besides of the original entry, I always used master branch 4th Feb 2015.

Sorry for not mentioning: Removing .docker does not fix anything. I did not edit the original message as I was trying with RC2 then. With RC2, removing .docker worked. Or at least it looked as if it worked. With master, everything is happening by chance. Sometimes it works, sometimes not. There is no way I am able to tell wh

[2015-02-06 00:19] ehazlett commented on #479
Ok so just to confirm, it is working *some* times?  If that's the case, what is your Host OS (version) and VirtualBox version of the machine that isn't working?

[2015-02-06 00:59] jeffmendoza commented on #492
Not sure what the issue is, should be a simple request. Try curl:

curl -E azure_cert.pem -H "x-ms-version: 2014-10-01" https://management.core.windows.net/<subscription_id>/services/hostedservices/operations/isavailable/docker123

[2015-02-06 03:35] atomi commented on #483
Yeah docker-machine is ignoring the both the HOME and USERPROFILE environment variables.

[2015-02-06 04:54] noodlehaus opened #494 "Please use `uname -s`-`uname -m` as suffix for the binary releases"
This would make it easier to embed the download links in provisioning scripts.

Example:
[code]

[2015-02-06 08:03] roldancer commented on #492
curl -E azure_cert.pem --key azure_key.pem -H "x-ms-version: 2014-10-01" https://management.core.windows.net/[subscription_id]/services/hostedservices/operations/isavailable/docker123

<AvailabilityResponse xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Result>true</Result><Reason i:nil="true"/></AvailabilityResponse>

Why this operation retu

[2015-02-06 08:14] roldancer commented on #492
Hi, if look at the curl prameters, I 'm using a file por the SSL cert and another for the private key, probably that's the problem with the docker machine azure driver, what do you think ?

[2015-02-06 09:03] ramschmaerchen commented on #479
Yes, sometimes it is working, sometimes it is not, as mentioned in the comments. Specs are in the third comment. I added VirtualBox information.

[2015-02-06 13:29] ehazlett commented on #483
Can you be more specific?  What are you doing where it's ignoring?  It
shouldn't be:
https://github.com/docker/machine/blob/master/utils/utils.go#L12

On Thu, Feb 5, 2015 at 10:35 PM, atomi <notifications@github.com> wrote:

[2015-02-06 17:24] ehazlett commented on #21
Closing this.  We are getting more local drivers that rely on applications that do not offer APIs.  While I am in favor of using containers for everything, this would give an odd user experience by recommending an image for some providers and the binary for local.

[2015-02-06 17:24] #21 closed

[2015-02-06 17:31] jeffmendoza commented on #492
The cert should contain the private key. The curl command needs to work without the --key param. What commands did you use to create your cert?

You could try two different things:
1. Use the cli to spit out the cert: http://azure.microsoft.com/en-us/documentation/articles/xplat-cli/ The command is `azure account export` or something similar.
2. Download the publishsettings, and try using that. Cl

[2015-02-06 17:36] roldancer commented on #492
@jeffmendoza I run the docker-machine with the same parameters but in this case the azure_cert.pem file contains the private key, now it works ok.
Thanks for your help

[2015-02-06 17:36] #492 closed

[2015-02-06 18:19] roldancer opened #496 "Azure driver, how to specify --virtual-network-name --subnet-names"
Hi, I don't know if this place is the right place for "How to" questions ...

I would like to create my VM on Azure but on a specific network, I use the following parameters in the Azure cli for linux  "azure vm create --virtual-network-name ... --subnet-names  ...."

Is there any way to specify those parameters using the Azure driver ?

Thanks and sorry if  I posted this question in the wrong pla

[2015-02-06 18:33] ramschmaerchen commented on #479
After several tests I can confirm that RC2 is NOT working any better if .docker has been deleted before creating new machines.

[2015-02-06 18:41] sthulb commented on #496
Right place I guess, but we don't allow users to specify them yet.

[2015-02-06 19:19] roldancer commented on #496
Is there any plan to add those parameters ?, I'm asking this because wihtout those parameters is not possible to deploy a docker runtime on a private network

[2015-02-06 19:57] andrewwatson opened #497 "If i mistakenly pass a bad ec2 region, machine panics"
I have a fix for this that i've tested.  i'll be checking it in and opening a pr shortly.

if i mistakenly pass us-west-1a instead of us-west-1 as --amazonec2-region then this happens:

[code]

[2015-02-06 22:43] ahmetalpbalkan opened #499 "utils.GetHomeDir should use github.com/docker/docker/pkg/homedir"
The logic was historically copy/pasted from docker code. We now have a separate pkg for that: `github.com/docker/docker/pkg/homedir` (https://github.com/docker/docker/pull/10602)

I couldn't manage to vendor that change from docker/docker (I guess we keep Godeps at docker-1.4.1 at this point). But at some point this codebase should make use of the new package (especially at utils/utils.go).
cc: @j

[2015-02-06 22:56] nathanleclaire commented on #499
+1

[2015-02-06 22:57] nathanleclaire commented on #448
I am really digging this idea, although there is a whole lot of UX and other kinds of issues to consider... have started working on a little play implementation
![screen shot 2015-02-06 at 2 54 52 pm](https://cloud.githubusercontent.com/assets/1476820/6088914/6747675e-ae10-11e4-9014-ff279e9498e2.png)

[2015-02-07 00:20] nathanleclaire commented on #489
+1

Let's share these where possible and have a common interface.

I'd like to see `--n-instances` as a shared flag, for instance.  Each provider will have to implement this differently (e.g. AWS will accept a parameter to `RunInstances`, but VM creation with VirtualBox should probably happen one at a time in serial) but the general interface (in the CLI) should be the same from driver to driver.

[2015-02-07 00:38] nathanleclaire commented on #448
OK, I _really_ like this :)

![screen shot 2015-02-06 at 4 37 55 pm](https://cloud.githubusercontent.com/assets/1476820/6089867/9e411c74-ae1e-11e4-8400-314df1e27ddd.png)

[2015-02-07 10:38] sthulb commented on #489
We probably don't have to do it in serial. But for the n-instances flag, we have to worry more about failure States.

[2015-02-07 13:29] sthulb opened #500 "Proposal: Driver architecture"
## Proposal: Driver architecture

##### THIS PROPOSAL IS A WORK IN PROGRESS

This is a proposal to change the architecture of drivers. I think it has been universally agreed by now that drivers are going to be a maintenance problem in the future, if you don't already consider them one already.

I would like to see a point in the near future where drivers aren't a part of the machine repository, bu

[2015-02-07 13:29] sthulb commented on #500
cc: @ehazlett @nathanleclaire @bfirsh

[2015-02-07 18:27] garethr commented on #124
@bfirsh is cloudinit going to be exposed via the machine interface? Say:

    docker-machine create -d digitalocean --digitalocean-cloudinit=... dev

My rationale for this would be a mechanism to hand off the management of the underlying host to something else (Puppet in my case). I can do that via building images, but it would be nice to be able to do so without that extra step in some cases.

Ge

[2015-02-07 18:50] sthulb commented on #124
@garethr it'd make sense for us to allow people to specify their own cloudinit file if they want. Perhaps it would be merged with a partial from machine to ensure docker is installed.

[2015-02-07 19:45] nathanleclaire opened #501 "docker-machine output kind of funky on Cygwin on Windows"
I like Cygwin for Windows and haven't tried with Msysgit but the logging output looks pretty funky on Cygwin on Windows.

![windows_machine_logs](https://cloud.githubusercontent.com/assets/1476820/6093694/c33d746e-aebe-11e4-9cdd-933333865cf1.jpg)

Just marking it down for future reference; it's one reason why I'm in favor of not doing daemon-style logs on the client side.

[2015-02-07 21:50] ehazlett commented on #501
I agree.  This looks better than default msysgit (it shows escape codes).

On Sat, Feb 7, 2015 at 2:45 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-02-07 21:52] ehazlett commented on #496
Thanks for reporting.  I would imagine this would be a good thing.  /cc
@jeffmendoza

On Fri, Feb 6, 2015 at 2:19 PM, Cristian <notifications@github.com> wrote:

[2015-02-07 21:54] ehazlett commented on #499
Yes, +1 also.  Once 1.5 is released we can update the deps.

On Fri, Feb 6, 2015 at 5:56 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-02-07 22:05] ehazlett commented on #501
We also need to get an "official" supported way to run on all platforms.  OS X / Linux are pretty straight forward.  For Windows, we need to at least document out the recommended way and tools needed.  Right now that is msysgit but I'm probably the last one to recommend.  I chose msysgit because it seemed to be the lowest barrier to entry from the user side.

I think once we fix client logging thi

[2015-02-07 22:27] ehazlett commented on #500
Related to #286

[2015-02-08 03:34] razic opened #502 "restart fails after stop"
[code]

[2015-02-08 10:11] garethr commented on #124
@sthulb thanks. I'm not sure about the merging, part of the rationale for providing your own cloudinit file would be to affect how docker is installed:

* A custom build from source
* From distribution packages
* Different operating system support
* From an internal package repository
* Left to a config management system like Puppet
* etc.

At least for me, I'd see providing a cloudinit file as a

[2015-02-08 10:52] sthulb commented on #124
@garethr you're right.

The only thing we really have to think about is what we do when cloudinit isn't available on the selected host.

I proposed an OS shim to install cloudinit via apt, yum, *. After cloudinit is installed, scp the file up and run it manually.

[2015-02-08 11:06] sthulb commented on #502
We should handle this a bit better.

[2015-02-08 16:49] Tebro opened #504 "Proposal: KVM/Qemu driver"
The title says it all. A driver for KVM/Qemu could be quite useful since it is so easy to set up a host for it and using SSH to auth.

[2015-02-08 21:57] leth opened #507 "vmwareFusion 'stop' too harsh"
After a stop/start the Docker daemon fails to start due to empty trust file.

The process I followed is roughly this:

- docker-machine create -d vmwarefusion  --vmwarefusion-boot2docker-url https://github.com/cloudnativeapps/boot2docker/releases/download/v1.4.1-vmw/boot2docker-1.4.1-vmw.iso boot2docker
- docker pull busybox
- docker-machine stop
- docker-machine start
- docker ps (fails, VM daemo

[2015-02-09 00:28] SvenDowideit opened #509 "creating a new hyper-v machine changes the conf on my cmd"
I don't use the default fonts in my win8.1 terminal, and when I run `docker-machine.exe create --driver hyper-v test` in either msys-bash, or cmd, it changes the window to use a bigger heavier font.

[2015-02-09 00:28] SvenDowideit commented on #509
@jeffmendoza

[2015-02-09 00:31] SvenDowideit opened #510 "hyper-v machine create fails on mobaxterm"
its a really unhelpful error too:

[code]

[2015-02-09 00:46] SvenDowideit opened #511 "Hyper-v gets in a confused state if it fails to create a machine."
I ran `docker-machine create --driver=hyper-v msys` and it failed, as i did not create a hyper-v vswitch first.

I then created one, and re-ran that create, it failed with msys already exists - though the hyper-v manager shows that its not created. So I tried killing it (which really is not a good name, as I'm trying to delete it - generally, road kill leaves mess lying around, and users want to b

[2015-02-09 00:46] SvenDowideit commented on #511
@jeffmendoza

[2015-02-09 00:51] SvenDowideit opened #512 "Hyper-v failed to find the first (and only) vswitch"
I made a simple internal network, and then shared my internet to it, hoping it would be all dandy.

if I specify it by name, it gets further, but then dies for no documented reason.

[code]

[2015-02-09 00:51] SvenDowideit commented on #512
@jeffmendoza

[2015-02-09 00:52] SvenDowideit commented on #512
[code]

[2015-02-09 01:10] SvenDowideit commented on #512
mmm, following http://blogs.msdn.com/b/virtual_pc_guy/archive/2008/01/17/allowing-non-administrators-to-control-hyper-v.aspx does not resolve the permissions issue, I guess I'll punt on this for now.

[2015-02-09 02:47] frapposelli commented on #507
Good call, putting boot2docker/boot2docker#638 to reference the need to appropriately run shutdown through OVT.

[2015-02-09 03:48] zaps commented on #395
I started an extremely rough first stab at a VMware Workstation driver over at http://github.com/zaps/machine.

Basically I just copied the Fusion driver and replaced the locations of the vmrun and vmware-diskmanager binaries with their Windows equivalents. So the paths are hardcoded and also they assume a 64-bit OS.

It's really quite awful but I figured I had to start somewhere :smile:

[2015-02-09 08:03] leon opened #515 "Azure - connect to existing docker instance"
I created a docker instance via azures portal, only to have a hard time getting it going from my local machine.

it would be great if you could connect to your already up and running docker instances.

[2015-02-09 13:45] sthulb commented on #395
:+1:  Great! It would be awesome to detect where Workstation is installed to.

[2015-02-09 13:46] sthulb commented on #515
This is something that would be nice for all drivers if possible.

[2015-02-09 15:07] ehazlett commented on #124
The cloudinit wouldn't be merged - it would overwrite and be used entirely.  @garethr you are correct in that it would be a "poweruser" feature.

[2015-02-09 15:08] ehazlett commented on #502
I think we need a little more information.

@razic can you tell me what the host OS and VirtualBox versions are?

[2015-02-09 15:12] ehazlett commented on #510
I think this is even more reason to get a "recommended" environment up for each platform.  I'm not sure we will be able to support every possible combination of shell and terminal in the wild.  That error looks path related to me.

[2015-02-09 15:14] ehazlett commented on #511
As the docs state, an existing vswitch must be created.  This is the same behavior on all providers that create partial resources (i.e. ec2 keys, security groups, azure cloud deployments, etc).  We chose not to auto-remove these as it was potentially dangerous and we didn't want to make assumptions by removing something that could be debugged.

[2015-02-09 15:17] ehazlett commented on #507
I have a PR to use your custom ISO for the time being.  Once that is merged
we should have everything in the custom ISO to do this correct?

On Sun, Feb 8, 2015 at 9:47 PM, Fabio Rapposelli <notifications@github.com>
wrote:

[2015-02-09 16:54] ehazlett commented on #504
+1

[2015-02-09 17:42] jeffmendoza commented on #511
Yes, expected behavior. `machine rm -f <name>` should clean everything up. If that doesn't work, there is a bug.

[2015-02-09 17:53] jeffmendoza commented on #510
@SvenDowideit can you run with `--debug`? There are some `log.Debugf`s that would be helpful, thanks.

[2015-02-09 18:04] jeffmendoza commented on #512
I think we'll need to be in the Administrator role. The powershell I dug up is this:

    ( New-Object Security.Principal.WindowsPrincipal $([Security.Principal.WindowsIdentity]::GetCurrent())).IsInRole([Security.Principal.WindowsBuiltinRole]::Administrator )

Will try in a bit, and include a check.

[2015-02-09 18:27] #497 closed

[2015-02-09 18:39] jeffmendoza commented on #500
It seems to me like one of machine's goals is to unify and standardize the 'getting started with docker' experience between docker-host options. Example: trying to standardize the distro, docker daemon setup, even the hostname pattern.

Splitting up and loosely coupling the drivers would be counter to that goal. I don't necessarily think this is a bad thing, but rather a larger choice to be made o

[2015-02-09 18:42] jeffmendoza commented on #496
Agreed, these would be good. I'll see what we can do.

[2015-02-09 18:44] jeffmendoza commented on #483
HOME is not appropriate for Windows. It is not set automatically.

[2015-02-09 19:22] sthulb commented on #500
@jeffmendoza If we don't, we end up having to maintain drivers that we can't test. We're seeing drivers for some of the more esoteric providers.

[2015-02-09 20:08] sthulb commented on #500
Obviously, a number of "core" drivers would be maintained by machine devs

[2015-02-09 20:11] ehazlett commented on #483
@jeffmendoza can you confirm `USERPROFILE` is correct or do we need to update that?

[2015-02-09 20:20] ehazlett commented on #500
Thanks for the write up.

I've been trying to think through this as well.  My fear of splitting everything out into sub-binaries is what @jeffmendoza said.  Once we push all of these out to the providers we could lose a bit of the unification that machine provides.  There are those that don't like the "bloat" of machine currently, however, I also feel that this single entrypoint provides a consist

[2015-02-09 20:31] ehazlett commented on #502
Ok I can confirm this.  Thanks for reporting.  Working on a fix.

[2015-02-09 20:57] jeffmendoza commented on #483
Yes, `USERPROFILE` is correct. Also, we'll do #499 after docker 1.5 release.

[2015-02-09 21:06] ehazlett commented on #494
+1

[2015-02-09 21:14] jeffmendoza commented on #500
@sthulb Sorry, not obvious. It would be a tough decision to delineate between "core" drivers that reside under the Docker Open Source Project (DOSP, is there a term for this?) and others. I would hope that any driver with an active maintainer would be welcome.

@ehazlett Yes, discovery and install would need to be built into machine. Similar to the way vagrant does it. Vagrant has the benefit of u

[2015-02-09 22:36] ehazlett commented on #483
Yes indeed.  Thanks for confirming.

On Monday, February 9, 2015, Jeff Mendoza <notifications@github.com> wrote:

[2015-02-09 22:36] #483 closed

[2015-02-09 22:39] ehazlett commented on #500
No as far as I'm concerned we would not delineate between drivers.

On Monday, February 9, 2015, Jeff Mendoza <notifications@github.com> wrote:

[2015-02-09 22:53] sthulb commented on #500
I'd say we could utilise GitHub's releases API, which would allow something like `driver install foo/bar`, which would even allow us to use private repos to add drivers.

For the core drivers, the local ones & the most popular cloud providers (GCE, EC2, Azure — others defined later). Leaving the esoteric ones to be community managed.

The problem with keeping all the drivers as a part of the main

[2015-02-10 00:55] frapposelli commented on #507
@ehazlett I need to double check that, I'm not 100% sure.

[2015-02-10 01:59] ehazlett commented on #500
If a driver isn't maintained then it's pulled from being supported. I don't
think it's a good idea to differentiate between those "core" or not. We
should simply have a spec and maintainers.  If a driver is maintained and
adheres to that then it should be in IMO.

On Monday, February 9, 2015, Simon Thulbourn <notifications@github.com>
wrote:

[2015-02-10 02:00] ehazlett commented on #507
Thanks

On Monday, February 9, 2015, Fabio Rapposelli <notifications@github.com>
wrote:

[2015-02-10 02:43] SvenDowideit commented on #510
agreed wrt the `recomended` env - once I get any one of them working with Hyper-V, I'll document that :)

@jeffmendoza with `--debug`

[code]

[2015-02-10 02:43] SvenDowideit commented on #511
there is a bug.

[2015-02-10 02:47] SvenDowideit commented on #511
closing, though the errors make it feel really brittle atm

[2015-02-10 02:47] #511 closed

[2015-02-10 02:53] SvenDowideit commented on #501
main thing with msysgit, is that we've used it with boot2docker for the last year. One thing we wanted to try, is to use a zero-install version of the tools and plonk them into the b2d/machine dir to avoid conflicts with other installed tools.

getting everything so it works in those unix shells and cmd.exe and powershell is a bit of a horror though.

[2015-02-10 05:24] jeffmendoza commented on #511
kill is force shutdown

[2015-02-10 07:49] thaJeztah commented on #500
Or even automatically;

    $ docker-machine create -d virtualbox dev

    #custom driver;
    $ docker-machine create -d github.com/my-org/my-repo dev

Which would give a more "batteries included" experience. Manually installing/updating/deleting should also be possible though.

[2015-02-10 09:36] sthulb commented on #500
@ehazlett If we keep storing drivers in this repo, we should still support my model for enterprises that want to have their own providers. Even if they're stored in the same repo, we should perhaps allow users to select which drivers they want.

@thaJeztah I like that syntax :)

[2015-02-10 16:32] ehazlett commented on #500
Another reason I'm not a fan of using external binaries is they would be useless on their own as they would need key creation, etc from machine.  It seems odd to separate out just to have the code separated.

I agree we should have common operations in machine and a versioned API for the drivers to adhere.

[2015-02-10 16:49] databus23 commented on #491
We are experiencing this problem as well. It seems to me this is caused by the cross-compilation on linux. If I `go run` a simple go file that creates a http client this same way as [getClient] (https://github.com/docker/machine/blob/master/utils/b2d.go#L23) it works but not when building the docker-machine binary with `script/build`

[2015-02-10 16:52] ehazlett commented on #491
Ok thanks. I'll try the same for me and see if we can get a fix.

On Tuesday, February 10, 2015, Fabian Ruff <notifications@github.com> wrote:

[2015-02-10 17:42] jamshid opened #521 "Configuring the DNS server that is used by docker builds"
Hi, will there be a standard way to set and change the docker machine's DNS server, or at least add /etc/hosts entries?

Currently my Dockerfile's reference a package manager cache and http proxy cache by hostname (`apt-cacher-ng1` and `polipo1`). The first container I build and run is a DNS server (`dnsmasq`), then I set `EXTRA_ARGS="--dns 172.17.42.1 --dns-search=."` in  `/var/lib/boot2docker/pr

[2015-02-10 20:10] ehazlett commented on #521
We are hoping to move to cloudinit soon.  This will allow almost full customization of the instance.  Thanks!

[2015-02-10 20:10] #521 closed

[2015-02-10 20:22] databus23 commented on #491
Apparently this problem is pretty old news. See https://github.com/boot2docker/boot2docker-cli/pull/13 or https://github.com/docker/docker/issues/3683 for example.

Looking at go's source there are two different ways for reading the root certificates for darwin depending on whether cgo is enabled or not:

  1. https://github.com/golang/go/blob/master/src/crypto/x509/root_cgo_darwin.go
  1. https:/

[2015-02-10 20:23] nathanleclaire commented on #500
I'm not sure about implementation (e.g. having separate binaries, etc.), but I'm convinced we need a way to develop the core of machine relatively independently from drivers.  Right now is a critical time for Docker Machine's development and the project needs to be able to move quickly, experiment, iterate, and possibly throw some things out completely later if they don't end up working out.

The

[2015-02-10 20:39] ehazlett commented on #500
I personally think picking "core" drivers will lead to us looking like we play favorites whether we intend to or not.

I agree everything is in disarray at the moment as far as testing, core contribution etc.-- we've beaten that horse to death.  We all agree.  No one is arguing we don't need to refactor -- that's a given.

I think spreading drivers out in separate binaries is a bad idea but if tha

[2015-02-10 20:41] gozes opened #522 "Creating VirtualBox VMs in OVF format."
Here is an example of why OVF support would be great. Assuming that company/client X is not using docker, if they did I could just give them the container(s) with the app, but they are using a virtualization product(VMware, Xen, Hyper-V etc..). I, as the developer, can crate, setup and configure the VM(s) in OVF on my system and hand them off to IT at campany/client X to be deployed without worry

[2015-02-10 20:43] ehazlett commented on #522
We currently do not package any of the VMs up.  Perhaps this would be related to #260

[2015-02-10 20:59] thaJeztah commented on #500
Great words, @nathanleclaire making the driver more pluggable sounds like better maintainable, and might reduce the workload of the (core)maintainers, not needing to actively support users when working with drivers. Also, being able to de-couple release cycles of drivers from machine itself, makes it a lot more flexible.

WRT "official" / "non-official" and API compatibility; I think many systems

[2015-02-10 21:25] ehazlett commented on #500
Thanks for replying.  I wasn't saying not make it pluggable -- simply
trying to point out my concerns on the potential downsides.

I'm a bit scared of creating a "driver marketplace" as well.  Pulling it
out of the core is fine, but that still needs to be maintained.  I'm also
worried about a distributed plugin model.  I'm all for competition but
having 10 different EC2 drivers that each do separa

[2015-02-10 22:01] ehazlett commented on #501
yeah i agree.  i'm all for using something else if we can get them to play
nice.

On Mon, Feb 9, 2015 at 9:53 PM, Sven Dowideit <notifications@github.com>
wrote:

[2015-02-10 22:12] thaJeztah commented on #500
Well (as usual, LOL), I *am* mainly brainstorming. There could be a lot of (technical) limitations that make it impossible to do and, in the end, you (the maintainers) have the final say, because it's easy for me to *say* things.

For the time being, this could be GitHub (implemented using my [earlier suggestion](https://github.com/docker/machine/issues/500#issuecomment-73657619)). Similar to the

[2015-02-10 22:12] sthulb commented on #500
My purpose wasn't to try and enforce my opinion on the subject, this was my 20th idea on the subject and seemed like the best approach to me. But above all, the purpose was to make us think about what we want to commit to.

The binaries for drivers made sense to me because we're entering a space where there's potential to have 100s of providers, which could mean 100s of drivers. Shipping a machine

[2015-02-10 22:16] sthulb commented on #522
I looked into creating OVA VMs in #260. It's a bit of a pain with virtualbox. The import doesn't give you complete control over your FS. Also, virtualbox likes to copy them instead of using the OVA directly.

[2015-02-10 22:52] frapposelli commented on #461
I guess this is done given docker/machine@6feb419

[2015-02-11 01:17] ehazlett commented on #461
Cool. Would you be willing to test it as well to make sure?  Thanks!

On Tuesday, February 10, 2015, Fabio Rapposelli <notifications@github.com>
wrote:

[2015-02-11 03:09] SvenDowideit commented on #512
@jeffmendoza I see you updated the readme to say you need to be admin - my user _is_ an admin user, and I get the failure above.

[2015-02-11 03:37] SvenDowideit opened #525 "virtualbox driver fails when vbox is not in PATH"
testing on my boot2docker installer based windows setup, and it seems the reason we added a default path for VBoxManage.exe is that its not always in the PATH.

(this is in an MSYS-git bash shell)

[code]

[2015-02-11 03:50] SvenDowideit commented on #525
the code we use to cater for different versions of vbox, as they don't all set the same env:

[code]

[2015-02-11 07:48] sthulb commented on #525
We should pull it out of the registry but still have the ability to override it with an ENV var.

[2015-02-11 08:24] Tebro commented on #494
+1

[2015-02-11 10:54] bfirsh commented on #500
+1 We should have a core set of drivers. It doesn't matter how this is implemented, but Machine should work out of the box with a bunch of popular hypervisors/providers.

These should only be included if:

1) They can be maintained. So either the maintainers of the Machine project can commit to maintaining them (e.g. virtualbox) or we have external maintainers who can commit to maintaining them (e

[2015-02-11 10:54] SvenDowideit commented on #525
ok, I'll add some code to use the registry - though that too does not persist over different versions of virtualbox.

[2015-02-11 11:18] SvenDowideit commented on #525
btw - these ENV's are the ones set by the VirtualBox installer, not by users.

[2015-02-11 12:15] SvenDowideit commented on #525
@sthulb @ehazlett can we consider using something like https://github.com/luisiturrios/gowin to query the registry? seeing https://golang.org/src/mime/type_windows.go does not make me eager to write our own (as the VMWare driver seems to need something too)

[2015-02-11 13:38] sthulb commented on #525
Someyhing like that lib would be great. We can't use that one though since its under GPL

[2015-02-11 13:54] sthulb commented on #500
I'm not sure if we should wait. There are a number of PRs and issues open that should be resolved first, but I think drivers as plugins are definitely something we should tackle soon, given there are drivers waiting to be merged now, which probably wouldn't be labelled as core given limited user bases.

[2015-02-11 14:00] #525 closed

[2015-02-11 14:01] cvuijst opened #529 "virtualbox driver on windows doesn't mount to the local file system yet"
As discussed on IRC, after running a "docker-machine create" on Windows, the local file system is not mounted in the created docker environment. It works out of the box gracefully on OSX.
This leads possibly to a non implemented feature on Windows: See: https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L289
Currently as a workaround, you can do this manually on the win

[2015-02-11 14:05] ehazlett commented on #525
yeah as @sthulb said it's GPL -- we need a different one.

On Wed, Feb 11, 2015 at 8:38 AM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-02-11 14:17] ehazlett commented on #500
thx @bfirsh.  i think what we just need to do now is define the "core" set and what happens if they fall out of being maintained.

I also agree that we shouldn't build a plugin system.  This is the reason we waited and pushed off the separate binary or plugin system -- we were trying to see where Docker went so we didn't have yet another system in the mix.  I think the consensus is we need it so w

[2015-02-11 17:57] anweiss opened #530 "Odd console output in Windows"
Noticing odd console output behavior in Windows.

![2015-02-11_12-52-36](https://cloud.githubusercontent.com/assets/2326106/6152681/15492146-b1ed-11e4-8873-0249c6d85ec7.png)

Looks as if I'm missing a specific font or something. The status lines also don't appear until I scroll down and then scroll back up in the console.

Running Windows Server Technical Preview (Version 6.4.9841)

[2015-02-11 18:08] ehazlett commented on #530
Thanks.  This is a duplicate of #501.

[2015-02-11 18:08] #530 closed

[2015-02-11 18:15] #502 closed

[2015-02-11 18:28] stephenlawrence opened #531 "x509: certificate is valid for 192.168.99.103, not 192.168.99.100"
After having my machine running on the .103 IP I rebooted my Mac. Upon reboot my docker-machine switched to the .100 address. When I tried to perform any docker commands on my machine I get things like this:

`docker exec -it mycontainer bash`:
FATA[0000] An error occurred trying to connect: Post https://192.168.99.100:2376/v1.16/containers/mycontainer/exec: x509: certificate is valid for 192.168.

[2015-02-11 18:42] ehazlett commented on #531
Can you give some more detail on the issue?

- What version of Machine?
- What driver (I'm assuming vbox based upon the IP)?
- Command line used to create machine

Thanks

[2015-02-11 18:46] stephenlawrence commented on #531
docker-machine version 0.1.0
virtualbox
docker-machine  create  -d virtualbox --virtualbox-disk-size '40000' --virtualbox-memory '4096' devbox

I also added an --insecure-registry to the daemon so I could talk to our private registry (if that matters).

[2015-02-11 20:20] ehazlett commented on #529
@SvenDowideit @jeffmendoza what would be the best path to mount?  is there an env var for the user home dir on windows?  i would think so.

@SvenDowideit perhaps b2d already has this solved and i could reference it from somewhere?

[2015-02-12 08:30] cvuijst commented on #529
I took a look at the VMs created in the VBox management UI on OSX and Windows, it looks like for boot2docker:
* Windows: "c/Users" folder gets mounted to "c:\Users"
* OSX: "Users" folder gets mounted to "/Users"
There is a platform difference there. I'm not sure that was the original intention though.
Currently, for docker-machine on OSX:
* "Users" gets mounted to "/Users"

[2015-02-12 14:56] ehazlett opened #532 "vmware fusion machine loses keys when stopped/restarted"
When stopping a VMware fusion machine the docker daemon is no longer accessible nor is ssh etc.

[2015-02-12 14:57] ehazlett commented on #532
@frapposelli ^

[2015-02-12 14:58] ehazlett commented on #522
We have no current plans of exporting local machines besides configuration.

[2015-02-12 14:58] #522 closed

[2015-02-12 15:00] ehazlett commented on #431
This is actually happening about 50% of the time.  Is there anything we can do to help?

[2015-02-12 15:04] frapposelli commented on #431
I had back to back meetings this week to figure out the best course of action to solve these problems, will start submitting PRs early next week.

[2015-02-12 15:05] ehazlett commented on #431
Thanks!

On Thu, Feb 12, 2015 at 10:04 AM, Fabio Rapposelli <notifications@github.com

[2015-02-12 17:01] sthulb opened #533 "EC2 credentials could expire"
Under certain situations, credentials could expire for the EC2 driver, i.e. when using roles.

We could perhaps mitigate it by checking credentials and then either asking for more or using env vars.

[2015-02-12 17:10] nathanleclaire commented on #533
Good call out - this seems like something which could potentially be mitigated using config (as in `docker-machine config Drivers.AmazonEc2.AmazonSecretAccessKey mykey` to update the current key that you are using).  It's good practice to rotate keys regularly so I'm +1 on thinking about and covering this case well.

[2015-02-12 17:14] sthulb commented on #533
What do we do in the event of multiple accounts?

Keep track of the account ID the instances are in and then match them against the config so we end up with a config key of: `Drivers.EC2.[12 digit account ID].[KeyType]`?

[2015-02-12 17:19] nathanleclaire opened #534 "Turn StrictHostKeyChecking on for SSH"
If you run something like `docker-machine -D ssh dev ls` you'll see the actual SSH command we are running behind the scenes:

[code]

Some of this looks OK (although we probably don't need the port forward to `localhost` any more), but instead of turning off strict host key checking (a security feature to prevent MITM attacks) we should probably be automatically adding the host to the user's `know

[2015-02-12 17:53] ehazlett commented on #533
Why wouldn't we just throw an error and let the user present new
credentials?

If we want to add a grouping construct we would need additional options at
create time as well.

On Thu, Feb 12, 2015 at 12:14 PM, Simon Thulbourn <notifications@github.com>
wrote:

[2015-02-12 18:01] ehazlett commented on #534
+1.  I had the known_hosts stuff adding when we were using IdentityAuth.
I'll add this to the list.  Thanks

On Thu, Feb 12, 2015 at 12:19 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-02-12 20:01] sthulb commented on #534
We could also drop shelling out to SSH.

[2015-02-12 20:06] ehazlett commented on #534
Yes I'm planning this as part of the core refactor.

[2015-02-12 20:08] sthulb commented on #534
Me too. Although it's a large bit of work in terms of security.

[2015-02-12 20:09] sthulb commented on #534
Short term should be to implement this issue and then long term remove it in favour of our own client.

[2015-02-12 20:10] ehazlett commented on #531
Would you mind testing from master (you can use https://docker-machine-builds.evanhazlett.com/latest/ if you don't want to build locally).  I have tested this with VMs changing IPs and everything works as expected:

[code]

You can see that `test-vbox` switched IPs.

[2015-02-12 20:35] sthulb commented on #533
If we just throw errors things like the ls command break. I'd rather just try to detect them again.

[2015-02-12 20:47] ehazlett commented on #533
Isn't that going to do the same thing if you cannot detect the new ones?

[2015-02-12 20:54] stephenlawrence commented on #531
Ok, here is what I did:

Stop the current machine
Start using the new machine bin
"machine ls" with new machine was ok and shows:
"devbox    *        virtualbox   Running   tcp://192.168.99.100:2376
devbox2            virtualbox   Stopped"

"docker info" produces:
FATA[0000] An error occurred trying to connect: Get https://192.168.99.100:2376/v1.16/info: x509: certificate is valid for 192.168.99.1

[2015-02-12 20:57] ehazlett commented on #531
thanks.  did you try with the master build above?  I ran the same procedure you did and I didn't have any cert issues.

[2015-02-12 21:07] stephenlawrence commented on #531
I downloaded that "latest" binary.

[2015-02-12 21:21] ehazlett commented on #531
Hmm ok.  @sthulb can you try to see if you can reproduce this?

- Create a virtualbox machine
- Stop first machine
- Create second virtualbox machine
- Start first machine
- Check that the first machine IP changed
- Check if you can access the docker daemon on both

@stephenlawrence is that process correct?

Thanks

[2015-02-12 23:03] nathanleclaire commented on #534
Wait, what would we do instead?  I don't think we want to include a whole SSH / readline implementation in the machine code, why not use what's there?

[2015-02-12 23:12] sthulb commented on #534
The crypto/ssh package will do 90% of the job.

[2015-02-12 23:30] SvenDowideit commented on #534
or, pull ssh out entirely, and use `docker run`

[2015-02-13 02:31] zfogg commented on #405
+1

[2015-02-13 14:52] aanand opened #536 "Host control commands ignore arguments after the first name"
I expected `start` with multiple args to either start all the hosts I specified, or give me an error. Instead, it only started the first host I specified.

[code]

[2015-02-13 15:22] sthulb commented on #536
We only take one name at the moment. For consistency, we should perhaps enforce it with an error message for more than one argument.

[2015-02-13 15:44] stephenlawrence commented on #531
@ehazlett Technically this is not how it started. It started when I rebooted my Mac and the DM came up with a different IP on the reboot. I don't know if that is different than just doing what you describe. But now, any attempts at accessing that previously-working machine result in the x509 message.

[2015-02-13 15:45] ehazlett commented on #536
We should also look into the CLI in general.  I think this would make sense to support (much like Docker itself can take multiple container ids).  We are really inconsistent with args across the commands.  I'll add this to the refactor list.

[2015-02-13 15:48] ehazlett commented on #531
@stephenlawrence i cannot re-create that as my IP always changes and the VM stays.  I simply emulated the VM getting a different IP which should create the same thing I believe.  Would you mind trying the above with the new binary and a fresh set of VMs?  I'm wondering if the certs were created using an old build not using the correct process or something.

[2015-02-13 16:55] ehazlett opened #537 "support github enterprise urls for b2d"
We should support Github enterprise URLs for b2d.  See https://github.com/boot2docker/boot2docker-cli/pull/339

[2015-02-13 18:03] cpuguy83 commented on #531
@stephenlawrence Are you sure you don't have something in your bashrc that is messing with your settings, like DOCKER_CERT_PATH?

[2015-02-13 19:48] ehazlett commented on #499
This does not appear to be in v1.5.0. https://github.com/docker/docker/tree/v1.5.0/pkg

[2015-02-13 20:48] sthulb commented on #537
We should start putting these in a 0.2 milestone.

[2015-02-13 20:57] ahmetalpbalkan commented on #499
@ehazlett I guess it didn't make it. Feel free to specify a commit number if you like or it can wait 1.5.1?

[2015-02-13 22:16] ehazlett commented on #537
Once we have it scoped we will.

On Friday, February 13, 2015, Simon Thulbourn <notifications@github.com>
wrote:

[2015-02-13 23:29] jeffmendoza commented on #512
Interesting, I am running in a normal terminal, not "run as administrator"

@ehazlett which did you do in your testing?

[2015-02-13 23:32] jeffmendoza commented on #529
C:\Users would be fine

[2015-02-14 01:00] ehazlett commented on #512
I was administrator

On Fri, Feb 13, 2015 at 6:29 PM, Jeff Mendoza <notifications@github.com>
wrote:

[2015-02-14 01:01] razic commented on #537
@ehazlett does this have to do with the `--url` provisioner? if so, can you explain what the `--url` provisioner is?

[2015-02-14 04:31] rossbachp opened #539 "How I can create a virtualbox machine offline?"
I tested with absolute file and file:/// scheme, but with no success.

Many thanks
Peter

[code]

[2015-02-14 05:13] rossbachp opened #540 "machine change ip addresses after reboot the host."
I create and remove some machines. After reboot my Mac the ip address are don't  stable.  The DHCP virtualbox daemon use the first one...

[code]

How I can regenerate the certs and upload it to the box?
The original boot2docker regenerate the certs after an ip address change...

[2015-02-14 05:53] md5 commented on #540
This looks like a duplicate of #531

[2015-02-14 05:58] md5 commented on #531
Since I didn't see anyone else reference the relevant code, I'll just point out that `machine` is creating a certificate with the IP address in it here: https://github.com/docker/machine/blob/973b267fec3ec0a900e26557475b387891c0138a/host.go#L123

If the IP address changes, that cert will no longer work.

In the b2d init scripts, there is code that regenerates the server certificates if the relevan

[2015-02-14 06:26] rossbachp commented on #540
Many thanks! The problem is that the current docker-machine implementation generate there own certs! See /var/lib/boot2docker/profile but virtualbox change the ip addresses after reboot my MAC host. The boot2docker regeneration stuffs only works at the original certs path. We need a regen certs command at docker-machine to upload the correct one...

[2015-02-14 06:26] #540 closed

[2015-02-14 11:00] leth commented on #507
Are you certain you need the guest tools for this? Perhaps there is an API call to simulate the power button being pressed?

[2015-02-14 21:12] cartolari commented on #515
This is also required for deployments, if docker-machine can create and run commands on a bunch of drivers, it could be used for deploy to, so it needs some way to share the machines it creates and add existing ones.

[2015-02-15 03:16] ehazlett commented on #531
Yeah thanks,   I know this code is there however, when the IP changed (as
shown above) there were no issues when testing so I'm trying to at least
get this re-producable to test.

On Sat, Feb 14, 2015 at 12:58 AM, Mike Dillon <notifications@github.com>
wrote:

[2015-02-15 23:39] metcalfc opened #542 "machine should tell the user if a drivers functionality is not implemented"
For example, docker-machine upgrade on VMware Fusion. The command just returns. We should tell the user that its not implemented so they don't have to come here and read the code.

[2015-02-16 09:10] LaynePeng commented on #445
This bug is caused by \' cannot work. Please change two  \' to  " \" .

[2015-02-16 09:31] LaynePeng commented on #445
It is caused by \' . Change it to \" will work.

[2015-02-16 09:50] sthulb commented on #542
+1

[2015-02-16 10:09] LaynePeng commented on #445
I did the fix myself:

index a28fc68..61537ae 100644
--- a/host.go
+++ b/host.go
@@ -246,7 +246,7 @@ DOCKER_TLS=no`, opts, caCertPath, serverKeyPath, serverCertP
                daemonOpts = fmt.Sprintf("--host=unix:///var/run/docker.sock --h
                daemonOptsCfg = "/etc/default/docker"
                opts := fmt.Sprintf("%s %s", defaultDaemonOpts, daemonOpts)
-               daemonCfg =

[2015-02-16 11:38] ehazlett commented on #542
Thanks for reporting.  The fusion driver needs to implement something like https://github.com/docker/machine/blob/master/drivers/rackspace/client.go#L50.

We should include this behavior in the core refactor as well.  Let drivers specify what is supported and what isn't.

[2015-02-16 11:39] frapposelli commented on #431
Opened PR #543 that adds exponential backoff.

[2015-02-16 11:41] #431 closed

[2015-02-16 11:44] ehazlett commented on #431
Thanks.  This seems to work.  Is there any way we can specify a maximum re-tries and then error?  The ux is a bit odd:

[code]

[2015-02-16 11:55] frapposelli commented on #431
The maximum interval is currently fixed to 30 seconds, it will error after that, will probably make it tweakable in the next version but right now it should be enough to make it work flawlessly.

On the UX oddness, I thought this was a good compromise to highlight the retry (not showing anything would've been odd as well :), I still need to add a decent debug structure to `govcloudair` once that i

[2015-02-16 15:36] ehazlett commented on #445
@noodlehaus can you confirm the above works?

[2015-02-16 15:37] ehazlett commented on #431
Thanks.  This works.  We will most likely be refactoring logging soon too
so the timing should work.

Thanks again for the fix!

On Mon, Feb 16, 2015 at 6:55 AM, Fabio Rapposelli <notifications@github.com>
wrote:

[2015-02-16 15:44] frapposelli commented on #532
Yes, I'm aware of this, it's part of the whole "seeding disk" problem, directly related to #430

Working hard on these this week :smile:

[2015-02-16 19:33] jeffmendoza commented on #515
#406 is the answer IMO

[2015-02-16 20:57] ehazlett commented on #532
awesome, thanks!

[2015-02-16 20:59] ehazlett commented on #515
I agree with @jeffmendoza.  I think this would be what the generic driver provides.  Maybe in the future we could add a discovery mechanism to help import.

[2015-02-16 20:59] #515 closed

[2015-02-17 00:49] SvenDowideit commented on #512
@jeffmendoza ok, so I'm on Windows 8.1 Enterprise - downloaded from msdn a week or 2 ago - with just my msdn user auto-created - no domain or anything. what are we doing differently?

[2015-02-17 00:50] SvenDowideit commented on #512
@ehazlett as in actually logged in as `Administrator`? or a user that is in the Administrator group, or ?

what does the powershell line above give you?

[2015-02-17 04:16] ehazlett commented on #539
We should skip the release check if a file is specified.  Thanks for reporting.

[2015-02-17 04:27] ehazlett commented on #531
@md5 @stephenlawrence would you mind checking to see if you have anything that would be using the b2d certs by chance?  after debugging, it looks like the b2d certs are being used with machine.

[2015-02-17 04:29] rossbachp commented on #539
Great:) Many thanks!

[2015-02-17 07:24] sammcj opened #547 "Update docker-machine for Docker API 1.17"
[code]
[code]

From docker-machine help:
`upgrade	Upgrade a machine to the latest version of Docker`
[code]
Appears to do nothing?

[code]

[2015-02-17 10:13] kevinsimper opened #548 "Bind docker to 0.0.0.0 for making it work with docker swarm"
Before you can connect to the docker instance you have created with your docker machine with docker swarm, you have to change so that docker start up binding to the 0.0.0.0, else can swarm manager not connect to the machine, because it does not accept connections.

[code]

[2015-02-17 15:22] md5 commented on #531
@ehazlett I'm not sure what you're asking me to check.

[2015-02-17 15:30] ehazlett commented on #512
@SvenDowideit i was running as the Administrator user and that command gives me `True`

[2015-02-17 15:32] ehazlett commented on #548
By default machines use TLS and listen on 2376.  You will need to use the certs and that port to connect via TCP.

[2015-02-17 15:32] #548 closed

[2015-02-17 15:36] ehazlett commented on #531
@md5 sorry i should have been more clear.  check the environment variables `DOCKER_CERT_PATH` and `DOCKER_HOST` to see if they are pointed at the correct machine.  It sounds like the the `DOCKER_CERT_PATH` may be configured to the b2d certs when accessing a machine or vice versa.

[2015-02-17 17:21] md5 commented on #531
@ehazlett if this were a case of an incorrect `DOCKER_CERT_PATH`, it would be a different error. The problem in that situation would either be that `ca.pem` is not a trust root for the cert presented by the Docker server on the `machine`-controlled instance or that `cert.pem` client certificate is not accepted by the server.

The error that we're seeing here is clearly that the client (i.e. `docke

[2015-02-17 18:04] ehazlett commented on #531
@md5 that makes sense.  how do i re-create?  as you can see above i've changed the IP of my virtualbox instances and don't see this issue.

[2015-02-17 18:08] md5 commented on #531
That's a good question. I haven't been able to reproduce it myself either.

[2015-02-17 23:08] razic opened #549 "x509 and openstack"
trying to run `machine-create` with `openstack` driver but keep getting this:

[code]

[2015-02-18 01:41] ehazlett commented on #549
This is probably in the gophercloud lib not allowing self-signed certs.

/cc @smashwilson @ggiamarchi

[2015-02-18 05:02] danlynn commented on #547
Is there a work-around until fixed?  How does one update the server version manually?

[2015-02-18 06:07] ehazlett commented on #547
This should only affect the Fusion and vSphere drivers.  Everything else uses either Ubuntu (and the Docker repositories) or the boot2docker ISO.  You can upgrade those with the `upgrade` command.

/cc @frapposelli any idea when we can get this updated?

[2015-02-18 06:36] frapposelli commented on #547
I'll cut an updated version today.

[2015-02-18 09:22] frapposelli commented on #547
btw, isn't virtualbox having the same issue as well?

[2015-02-18 13:03] smashwilson commented on #549
Yes, that's exactly it. Fortunately, with rackspace/gophercloud#365 and rackspace/gophercloud#367 merged, Gophercloud master will allow us to override the `http.Client` used for requests throughout the library, which will let us customize the TLS configuration, among other things.

I'm thinking of adding an `--openstack-untrusted` option to the OpenStack driver. Is that reasonable, or is there a m

[2015-02-18 14:36] stevesmename opened #552 "Proposal: Add Driver for Linode"
Add driver for creating docker machines in Linode through the Linode APIs..

Resources:
https://www.linode.com/api

[2015-02-18 14:38] stevesmename commented on #552
Just a note, I am working on this initiative and will reference this ticket (closed or open) when I have a PR ready.

[2015-02-18 14:51] stevesmename commented on #552
Clone of #268

[2015-02-18 14:51] #552 closed

[2015-02-18 15:03] #547 closed

[2015-02-18 15:11] ehazlett commented on #549
Let's start with the option to get it working (perhaps `--openstack-insecure` to match golang).  We will probably want to have a global option eventually as I'm sure this won't be the only driver that will need custom TLS settings.

[2015-02-18 15:33] frapposelli commented on #461
Tested current `master` and works great :+1:

[2015-02-18 15:50] smashwilson commented on #549
:+1: Sounds good to me. I'll start a PR later today.

[2015-02-18 17:42] ehazlett opened #553 "Create an internal API so Machine can be used as a library"
This will enable machine to be used as a lib and lay the groundwork for machine server.

This will provide a more manageable way to interact with machine instead of working directly with the store and host individually.  For example, right now we use `store.Create` which calls `host.Driver.Create` etc.  This will split up those operations so that the store does not handle provisioning, simply stor

[2015-02-18 17:43] ehazlett opened #554 "proposal: driver refactor"
This will pull some of the non-provider operations (provisioning, ssh, etc) out of the driver and enable to driver to only manage instance operations.

This will also generate a driver specification to ensure consistency among the drivers.  Right now, each driver does a little bit of everything: provisioning the actual instance on the provider, custom ssh setups, custom Docker provisioning.  This

[2015-02-18 17:43] ehazlett opened #555 "move ssh operations to crypto/ssh"
Remove the shell out to `ssh` and use `crypto/ssh` instead.

This should do the following:
- refactor the key generation from the `ssh` command into `crypto/ssh`
- refactor the functionality from GetSSHCommand from `ssh` into `crypto/ssh`

[2015-02-18 17:56] ehazlett opened #556 "driver integration test framework"
This will enable integration testing for providers.  There is already some rudimentary support but we need to cleanup and get it organized.

[2015-02-18 18:02] cjellick commented on #445
+1 Experienced the same bug and the above fixed it.

[2015-02-18 18:03] noodlehaus commented on #445
yes this fixed it for me as well.

[2015-02-18 20:02] smashwilson commented on #549
Nuts, a few other things came up - I doubt I'll get to this. I should have a fix in soon.

[2015-02-18 21:54] ianneub commented on #41
:+1: I'd love to see this support. It would make it easier for my dev's to setup an environment and be able to copy/paste the URLs of their local machines around so that other's can see their work.

[2015-02-18 21:57] ianneub commented on #41
Bonus points for being able to give it a range of ports to forward. Use cases: Our devs are working on multiple website projects at once and we want to pass the URLs of the local machine around to team leaders or what have you to inspect/critique the work.

[2015-02-19 00:15] frapposelli commented on #430
As a reference, this issue depends on boot2docker/boot2docker#747

[2015-02-19 00:16] frapposelli commented on #532
As a reference, this issue depends on boot2docker/boot2docker#747

[2015-02-19 00:16] frapposelli commented on #507
As a reference, this issue depends on boot2docker/boot2docker#747

[2015-02-19 03:49] ehazlett commented on #547
nah since we use the GetLatestRelease it pulls the latest ISO on upgrade

On Wed, Feb 18, 2015 at 1:22 AM, Fabio Rapposelli <notifications@github.com>
wrote:

[2015-02-19 03:49] ehazlett commented on #461
Awesome.  Thanks!

[2015-02-19 03:49] #461 closed

[2015-02-19 03:51] ehazlett commented on #445
thx @noodlehaus @cjellick

@LaynePeng do you want to create a PR from the above?

[2015-02-19 03:52] ehazlett commented on #549
Ok thanks!

On Wed, Feb 18, 2015 at 12:02 PM, Ash Wilson <notifications@github.com>
wrote:

[2015-02-19 03:55] ehazlett commented on #552
FYI there is a proposed Linode driver here: https://github.com/docker/machine/pull/268

[2015-02-19 03:55] ehazlett commented on #552
Sorry -- i didnt' see the above comment :)

[2015-02-19 05:12] LaynePeng commented on #445
Sure.

[2015-02-19 17:36] bfirsh opened #563 "Running machine commands with multiple machine names silently fails"
[code]

Only starts machine1. If commands don't support >1 arguments, I would expect it to complain instead of silently not start machine2.

[2015-02-19 19:10] razic commented on #549
@ehazlett @smashwilson I don't actually think the cert is self-signed in my case. Look here:

Got any ideas?

![screen shot 2015-02-19 at 11 09 29 am](https://cloud.githubusercontent.com/assets/225005/6273876/d6bd12fc-b827-11e4-9f30-b85932397e7b.png)

[2015-02-19 19:27] smashwilson commented on #549
@razic: Interesting. I wonder if they aren't including intermediate CA certificates? Sometimes, you can hunt those down and trust them yourself to validate the connection...

[2015-02-19 19:53] razic commented on #549
Do you have to place the intermediary certificates in the same directory as the main one?

[2015-02-19 19:55] razic commented on #549
/cc @smashwilson Also do you have a slack channel (preferably) or IRC?

[2015-02-19 21:00] smashwilson commented on #549
@razic: You'd need to install it as a trusted certificate in your operating system. From the screenshot I'm guessing that you're on a Mac, so [these instructions](http://support.apple.com/kb/PH18677) might be what you need.

I do hang out on Freenode very occasionally, and we have an internal Slack for my team at Rackspace, but I don't believe we have a public one. Also I'm personally about to be

[2015-02-19 21:29] razic commented on #549
@smashwilson i added the cert and gave it all permessions but now i'm getting this:

[code]

[2015-02-19 22:04] andrewwatson opened #564 "VSphere Driver doesn't detect absence of "govc" utility"
If you don't have 'govc' installed, the error you get is on the mkdir command but it doesn't tell you anything useful at all because the error in vc_conn.go gets squashed.

The error you get is
[code]

i'm working on some fixes to bubbles errors up to the user correctly

[2015-02-19 22:49] ehazlett commented on #564
It is listed in the docs (https://github.com/docker/machine#vmware-vsphere) but I agree we should notify the user more gracefully.

[2015-02-20 03:51] andrewwatson commented on #564
Well, the way it is right now it loses any error from exec.Command() no matter what it is....

[2015-02-20 12:27] bfirsh opened #568 "VirtualBox IP addresses change, making TLS certificates invalid"
[code]

VirtualBox picks IP addresses with DHCP and I think it's given the machine a different address. :(

[2015-02-20 14:27] nlamirault commented on #480
Using a sleep it works. Thanks

[2015-02-20 14:27] #480 closed

[2015-02-20 18:39] andrewwatson opened #572 "Proposal: use the govmomi library for vsphere instead of exec.Command to run the govc binary"
By shelling out with exec.Command() to run the govc binary it's harder to handle errors that are generated and deal with them effectively.  It also seems problematic that you have to have this other binary installed in your $GOPATH in order to use this library.

Using the govmomi library directly should be very straightforward and allow machine to get more detailed information about an instance af

[2015-02-20 23:08] ehazlett commented on #549
make sure you are using the hostname and not IP.

On Thu, Feb 19, 2015 at 1:29 PM, Zachary Adam Kaplan <
notifications@github.com> wrote:

[2015-02-20 23:18] ehazlett commented on #564
Ah gotcha -- thx for the PR to fix :)

[2015-02-20 23:21] ehazlett commented on #568
@bfirsh thx -- this is a duplicate of #531.  Would you mind commenting in #531 how exactly you ran into this issue?  I cannot for the life of me get this re-created (i've changed IPs in the VM etc with no luck).  My suspicion is that the b2d certs are interfering but I cannot confirm.

[2015-02-20 23:21] #568 closed

[2015-02-20 23:22] ehazlett commented on #480
fyi there is also https://github.com/docker/machine/blob/master/ssh/ssh.go#L64 that you can use to wait until it is available -- i would recommend that against sleep.

[2015-02-20 23:24] ehazlett commented on #572
I like the idea of this.  Thoughts @frapposelli ?

[2015-02-20 23:31] razic commented on #549
I tried both.

On Fri, Feb 20, 2015 at 3:08 PM, Evan Hazlett <notifications@github.com>
wrote:

[2015-02-21 00:57] ehazlett commented on #549
@razic and you got the IP SANs error with the hostname?

[2015-02-21 02:50] andrewwatson commented on #555
+1

[2015-02-21 02:53] andrewwatson commented on #554
what can i do to help with this?

[2015-02-21 02:59] andrewwatson opened #576 "bug: error from call to validateAwsRegion() in SetConfigFromFlags() is not returned"
So if you're like me and fat-finger the region you end up with an error like this:

[code]

[2015-02-21 03:00] andrewwatson commented on #576
wait, nevermind.  i'm blind.

[2015-02-21 03:14] andrewwatson commented on #576
by changing line 159 to return err instead of return nil the output is this:
[code]
as expected

[2015-02-21 04:56] frapposelli commented on #572
Completely agree, the move was in the cards already.

[2015-02-21 18:26] andrewwatson commented on #572
The only part that I don't have a good grasp on is the conversion of iso to template.  The rest I have code to look at for inspiration...

[2015-02-22 00:31] #576 closed

[2015-02-22 00:32] #564 closed

[2015-02-23 10:20] bfirsh opened #580 "Machine puts boot2docker images in ~/.docker/images"
We shouldn't be polluting to top-level `~/.docker` namespace.

Perhaps `~/.docker/machine/boot2docker-cache`?

[2015-02-23 10:20] bfirsh commented on #217
@ehazlett Why is this less urgent because of TLS? I encountered this bug today where Machine was creating 1.4.1 Machines, even though 1.5 has been released.

There is also the more urgent issue that Machine is polluting ~/.docker. We can't reverse that! #580

[2015-02-23 10:23] bfirsh commented on #580
Maybe it's a bit weird then that we have `~/.docker/machines` and `~/.docker/machine`?

[2015-02-23 10:24] andrea-spoldi opened #581 "[AmazonEC2 driver] -- stuck with "Waiting for SSH on..." when creating new instance"
Hi,
just starting using machine, noticed that it automatically assigns a public IP address to the newly created instance in VPC, then waits for SSH connection to be up as signal for instance creation complete .

Which is great, unless the subnet you are creating the instance in is a private one and not a public one.
In this case the check on port 22 on the IP address fails for missing NAT between

[2015-02-23 10:35] bfirsh opened #582 "Error displayed when no active machine is set"
[code]

This error should be displayed when you are trying to do something against an active machine, but not when listing hosts. It isn't an error.

[2015-02-23 10:37] bfirsh opened #583 "Command usage should explain what arguments mean"
[code]

This should explain that the arguments are machine names, and that if no machine is provided the active one will be used.

[2015-02-23 10:44] bfirsh commented on #580
Oh – I see that the cert path is `~/.docker/machines/.client`.

I don't think I like this - paths with dots in them make them very hard to find. The only reason `.active` exists is because it is a piece of metadata for that directory.

Perhaps we could start `~/.docker/machine/...` and have:

 - `~/.docker/machine/machines`
 - `~/.docker/machine/boot2docker-cache`
 - `~/.docker/machine/certs`

...

[2015-02-23 11:05] sthulb commented on #583
This is a problem with codegangsta/cli. It doesn't actually offer this. We should either use our own CLI lib or perhaps alter codegangsta/cli.

I'd also like to see descriptions of flags be a little clearer and offer flag types similar to curl (`--flag <hint> <description>`)

[2015-02-23 11:06] sthulb commented on #580
Seems a little clearer, but we should include .active too (if we want keep it around)

[2015-02-23 11:10] sthulb commented on #581
Honestly, there are lots of useless like this one we haven't thought of.

I'm not sure how we would even start to allow for them without 100s of flags for the driver. :/

@ehazlett perhaps something we should think about.

[2015-02-23 11:12] timothyclifford opened #584 "Error creating EC2 Instance in custom VPC in us-east-1b"
Description of problem:
Get the following error message when trying to create an Amazon EC2 host

`docker version`:
docker-machine version 0.1.0

`docker info`:

`uname -a`:
MINGW32_NT-6.1 LON03906 1.0.12(0.46/3/2) 2012-07-05 14:56 i686 unknown

Environment details (AWS, VirtualBox, physical, etc.):
AWS

How reproducible:
docker-machine create -d amazonec2 --amazonec2-access-key MY_ACCESS_KEY --am