[2015-09-25 18:17] nathanleclaire commented on #1626
We've talked about a few things in this regard.  In general, what we are doing is:

1. For the immediate future, the Machine repo (in a Markdown file to be determined) will include a list of available plugins that anyone can fork and add theirs too if desired.
2. Longer-term, investigating the possibility of running some plugins in containers (which would allow us to use Docker Hub for distributio

[2015-09-25 18:24] PavelPolyakov commented on #1880
@posita

[code]
(exit; exit)

but then:
[code]

the last command:
[code]

[2015-09-25 18:25] nathanleclaire commented on #1906
Go ahead and send a PR, please. I'd like to review it.

[2015-09-25 18:30] posita commented on #1880
Did you do this after exiting `docker-machine ssh [machine-name]` but before doing `docker ps`?

[code]

[2015-09-25 18:35] posita commented on #1880
By the way, you'll need to start from the beginning of the steps I outline in my https://github.com/docker/machine/issues/1880#issuecomment-143227151.

[2015-09-25 18:36] saada commented on #1591
+1

[2015-09-25 18:41] PavelPolyakov commented on #1880
In my $DOCKER_CERT_PATH I have new (I think so) certificates located:
[code]

[2015-09-25 18:50] saada commented on #1433
+1

[2015-09-25 18:51] saada commented on #1572
+1

[2015-09-25 18:57] posita commented on #1880
I'm assuming your screenshot was just to show the details of `cert.pem`, not that you have added any of these `*.pem` files to any of your OS X keychains, correct?

There is a mismatch somewhere. What does this give you right now?

[code]

If you aren't getting output that looks something like the following, you probably need to start over from scratch with the steps in my https://github.com/docke

[2015-09-25 19:01] PavelPolyakov commented on #1880
Yes, this is just info, I haven't add them to the keychain. But they are located in my DOCKER_CERT_PATH.

However, I still have:
[code]

and etc. , will try to startover again, thanks for the help!

[2015-09-25 19:35] hairyhenderson commented on #1626
...with the obvious caveat that this could present a catch-22 scenario... ;)

[2015-09-25 19:51] cischmidt commented on #1880
I am having the same problem. I've followed the steps listed above and have the following signed certs:

[code]

But when I try to run docker-compose I continue to get the error

[code]

I'm running docker-compose 1.4.2, docker 1.8.2 and have openssl v1.0.1j_1 installed.

[2015-09-25 19:56] posita commented on #1880
@cischmidt, what does this give you (in the same env)?

[code]

[2015-09-25 19:58] cischmidt commented on #1880
An error response, but it may be because I have to connect to docker via localhost because of my Cisco VPN client:

[code]
My docker environment variables are:

[code]

[2015-09-25 20:00] posita commented on #1880
@cischmidt, you're on OS X, correct? I don't understand your `DOCKER_HOST` setting. :confused:

[2015-09-25 20:03] cischmidt commented on #1880
I am on Mac OS X. I port-forward from my virtualbox VM to localhost:2376 to get around routing problems that the VPN introduces every time I connect to it. Docker related commands work well using this configuration, and I remember using docker-compose a few months ago without problem (today is the first day for some time that I began using docker-compose again).

[2015-09-25 20:06] posita commented on #1880
@cischmidt, just to confirm, `localhost:2376` points to your `docker-machine` VM? Is your `docker-machine` VM `boot2docker` (e.g., running in VirtualBox)?

@PavelPolyakov and @cischmidt, can you do the following after having run the steps above in my https://github.com/docker/machine/issues/1880#issuecomment-143227151? There's no need to run through those steps again if you're still in the same en

[2015-09-25 20:07] posita commented on #1880
@ehazlett, does `docker-machine` do some kind of SSL proxy or tunnel magic with `boot2docker`?

[2015-09-25 20:16] cischmidt commented on #1880
Yes, that is correct. I'm running docker-machine against a boot2docker VM within VirtualBox. It is also the converted VM that the old Mac version of boot2docker created for me.

[code]

[2015-09-25 20:26] posita commented on #1880
@cischmidt, your `boot2docker` instance has the correct certificates (i.e., the ones generated by the default process in `boot2docker`, and ***not*** the ones generated by `docker-machine`). Assuming those match your certs on your host (you can examine them with `openssl x509 -in "${DOCKER_CERT_PATH}/cert.pem" -text` and `openssl x509 -in "${DOCKER_CERT_PATH}/ca.pem" -text`), then there's somethin

[2015-09-25 20:30] PavelPolyakov commented on #1880
@posita

For some reason, the flow which is described by you, doesn't lead me to the correct certificates:
[code]

certs info:
[code]

Path is correct:
[code]

[2015-09-25 20:35] posita commented on #1880
@PavelPolyakov, what do you get when you do the steps from my https://github.com/docker/machine/issues/1880#issuecomment-143338960 (i.e., examining the certificates on the `boot2docker` side)?

[2015-09-25 20:38] PavelPolyakov commented on #1880
@posita
Sorry, I have missed that, thought you were referring to another comment.

Here is hat I get:
[code]

[2015-09-25 20:42] cischmidt commented on #1880
Thanks @posita, is there a way to get additional information on the point where the 'SSL error: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581)' error occurs in the process when I call docker-compose? I'm happy to open a new ticket to explore what's happening on my machine, but I don't know what additional information I can provide to differentiate what's happening for me v

[2015-09-25 20:45] posita commented on #1880
@PavelPolyakov, check your commands and read your error output more carefully. It looks like a copy/paste error.

[2015-09-25 20:49] PavelPolyakov commented on #1880
@posita
You are correct again, sorry for me being not enough careful, here is the log:

[code]

[2015-09-25 20:51] posita commented on #1880
@cischmidt, for debugging Docker-related SSL stuff, try:

[code]

This is expected to error out (you haven't provided a `-cert` argument), but you should see something like this toward the end of the output:

[code]

That means your client has verified that the server certificate is good. If you want to check to see if your certs actually work, then simply doing `docker ps` should do the trick. Al

[2015-09-25 20:53] nathanleclaire commented on #1626
Indeed -- it doesn't make much sense to do it for local virtualization providers for a variety of reasons.  They will likely always be binaries or similar.

[2015-09-25 20:53] posita commented on #1880
@PavelPolyakov, look at the subject and issuer of those certificates. They are ***not*** certs generated by `boot2docker`. I suspect somehow `docker-machine` is overwriting them. Did you restart your machine instance at any point?

@ehazlett, at what point does `docker-machine` intervene and (re)create certificates on `boot2docker`?

[2015-09-25 21:02] PavelPolyakov commented on #1880
No I haven't, I see that the subjects are not the ones we are looking for, but...

If I understood you right, then, when we:
1. removed the certs being in the docker machine
2. restarted docker there
...
3. we should receive the correct certs generated by boot2docker

But even right after those two commands:
[code]

The certificates are not correct:
[code]

However, the actual certificates are fre

[2015-09-25 21:16] posita commented on #1880
@PavelPolyakov, you got it. I was *hoping* we could (by hand) replace what I suspect are the `docker-machine`-created certificates with the `boot2docker`-created ones. If that *worked* (i.e., solved your certificate error), it would have validated my theory about the `docker-machine` subject/issuer problem.

Unfortunately, it appears that `docker-machine` won't even let us get that far. :confounde

[2015-09-25 21:26] PavelPolyakov commented on #1880
The thing is, that each time we generate the certificates, they are good and they are from boot2docker (as I have shown on the screenshot).

However this particular command:
[code]

shows the certificates with my name in the subject.

Besides, when I do:
[code]

Does it makes sense - this difference in IPs?

Thanks a lot for all of your time you are spending trying to solve my issue! I really appr

[2015-09-25 22:54] posita commented on #1880
@PavelPolyakov, no problem. You're helping me validate a theory (albeit slowly). :wink:

openssl s_client -showcerts -connect "${DOCKER_HOST#tcp:\/\/}" -CAfile  "${DOCKER_CERT_PATH}/ca.pem" -key "${DOCKER_CERT_PATH}/key.pem" </dev/null
[code]

Ah, yes. Try this (substitute `[www.xxx.yyy.zzz]` with whatever your VM's IP address is, i.e., `192.168.99.104` as of your last comment, but `ifconfig` shou

[2015-09-26 04:31] denmojo commented on #1857
I am seeing this issue with 0.4.1.

[2015-09-26 08:13] PavelPolyakov commented on #1880
Any of the dances helps so far :)

Another interestnig things (or not), that I have two locations with certificates:
![image](https://cloud.githubusercontent.com/assets/839290/10116409/b19593a0-6434-11e5-8448-9e35cfcc7157.png)

1. /Users/PavelPolyakov/.docker/machine/certs/
2. /Users/PavelPolyakov/.docker/machine/machines/default

The other interesting thing, is, that even after the clean installa

[2015-09-26 09:02] posita commented on #1880
@PavelPolyakov, the certs in `/home/docker/.docker` on the VM instance are generated by `boot2docker`. They're copied into that directory as part of `boot2docker`s default certificate (re)generation process. If `docker-machine` then creates *new* certificates for Docker, my guess is that it's not removing the ones in `/home/docker/.docker`, which are likely stale, which is why you get the error wh

[2015-09-26 09:46] posita commented on #1880
@PavelPolyakov, I should be sleeping :tired_face:, but try [this build](https://www.dropbox.com/s/2leyxf2sy6k0i9o/docker-machine_darwin-amd64?dl=1)<sup>1</sup>. Save it as `docker-machine_darwin-amd64` and make sure it has executable permissions. E.G.:

[code]

--

<sup>1</sup> SHA-256 checksum: `cf3f82323b5f5f3556b0286c2ea3edb51ffe1bccd5fbeecddd59f591486f2089`.

[2015-09-26 10:05] PavelPolyakov commented on #1880
@posita

Installed the machine:
[code]

Being on the machine I have the next:
[code]

Maybe there is something I am missing? However I am trying to execute everything as you describe...

[2015-09-26 10:10] posita commented on #1880
Sorry, I didn't mean to be unclear. There was no need to go through my list of steps again. Your `docker ps` appears to have worked without the SSL error, correct? Try `docker-compose ps`. If I'm not mistaken, my patched version of `docker-machine` just solved your original problem. Can you verify?

[2015-09-26 15:37] mikattack commented on #1351
+1

[2015-09-26 16:09] posita commented on #1880
@PavelPolyakov, I'm sorry for having missed this before, but as of your https://github.com/docker/machine/issues/1880#issuecomment-143314311, if my theory is correct, you should have been able to proceed without experiencing any `SSL: CERTIFICATE_VERIFY_FAILED` errors. Your subject/issuer for your `docker-machine`-generated certificate went from:

[code]

To:

[code]

I don't know when or why that

[2015-09-26 16:21] PavelPolyakov commented on #1880
Well,

No :( I have tried it before.

If I do:
[code]

I have docker ps working, but I had it working before as well (when using default flow of docker toolbox from the website).

[2015-09-26 18:32] posita commented on #1880
Argh. :confounded: Okay, I'm running out of ideas then. Try saving the following as `compose-debug.py`:

[code]

Then do:

[code]

[2015-09-26 18:37] PavelPolyakov commented on #1880
Here we are:
[code]

[2015-09-26 19:00] posita commented on #1880
@PavelPolyakov, my apologies if it wasn't obvious, but did you make sure your `docker-machine` instance was running before you tried the above command?

Also, when posting debug output with stack traces, it is helpful if you can wrap them in \`\`\` tags to preserve formatting.

[2015-09-26 19:13] PavelPolyakov commented on #1880
yes, the machine is up, I can do (if this is the evidence).
[code]

Here is the other variant (when I skip ```--verbose``` the output is a little different):
[code]

Of course I use the formatting, last time it was a typo ``` - and I started the same line, sorry.

[2015-09-26 19:31] rgbkrk commented on #1545
In case you want to not hot swap a docker machine, @smashwilson and I put together [Docker Version Manager](https://github.com/rgbkrk/dvm) to let you work between versions. It would be nice if docker machine's env also spat out the `DOCKER_VERSION` (as, e.g. `'1.8.2'`).

[2015-09-26 19:54] posita commented on #1880
The stack traces look weird to me (they don't look like SSL errors). What do you get for `docker-compose --verbose build`?

[2015-09-26 19:59] PavelPolyakov commented on #1880
[code]

[2015-09-26 20:12] posita commented on #1880
What do you get with `python compose-debug.py --verbose ps`? This is what I get:

[code]

[2015-09-26 23:04] wateryoma commented on #1709
+1

[2015-09-26 23:21] cusspvz commented on #698
Same here with a CentOS based distro.

[code]

[2015-09-27 08:53] PavelPolyakov commented on #1880
@posita
That's what I have:
[code]

Do you think it's an issue of my python?
Which version do you have?

I also found this issue:
https://github.com/kennethreitz/requests/issues/2524

Regarding the https and ulr library which python uses, I don't know if docker-compose uses the same lib though.

[2015-09-27 14:56] skatsuta opened #1908 "`docker-machine ls` reports saved hosts to be active when $DOCKER_HOST is not set"
`docker-machine ls` reports saved hosts to be active when `$DOCKER_HOST` is not set.

For example:

[code]

I think this is confusing.

[2015-09-27 16:10] posita commented on #1880
@PavelPolyakov, try `docker-compose --verbose ps`, not `docker --verbose ps`.

I doubt it's a Python version thing. I'm running 2.7.10 as well. It could be a `docker-py` thing? Try `python -c 'import docker ; print(docker.version)'`.

What version of OpenSSL do you have?

[code]

[2015-09-27 16:15] pierredup commented on #1787
I also have the same issue, creating a local VM using docker-machine just hangs forever, I'm also using OSX 10.10.5 with VirtualBox 5.0.4-R102 and docker-machine 0.4.1 (using the command `docker-machine create -d virtualbox dev`)

[2015-09-27 16:35] PavelPolyakov commented on #1880
Here we are:
[code]

[2015-09-27 16:48] posita commented on #1880
How is `docker-py` getting installed on your machine? How did you upgrade (if you upgraded) `docker-compose` to the latest version?

[2015-09-27 16:57] PavelPolyakov commented on #1880
Currently all the installation was done from here: https://www.docker.com/toolbox .
I haven't updated the ```docker-compose```.

I have tried different installation as well - from ```brew```, but the one we are experimenting with is from toolbox pkg.

[2015-09-27 17:13] posita commented on #1880
Okay, your versions aren't that different from mine, except for `docker-py` (I don't know about `requests`):

[code]

Have you tried installing/running `docker-compose` from a virtual environment (that really should have been our first step :disappointed:)?

[code]

[2015-09-27 17:41] PavelPolyakov commented on #1880
The same:
[code]

For some reason, you have all the versions higher then mine (if I understand correct):
1. docker
2. request
3. urlib3

why? and could it have such dramatic effect?

[2015-09-27 18:07] posita commented on #1880
I'm not sure. Try `deactivate`-ing your virtualenv, removing it, and recreating it, but with `./.venv/bin/pip install --no-cache-dir docker-compose` instead (note the addition of `--no-cache-dir`).

Apparently, yes. You're at least getting the same cryptic error for `python compose-debug.py --verbose ps` as `docker-compose --verbose ps` (instead of the stacktrace you were getting before). So chalk

[2015-09-27 18:27] PavelPolyakov commented on #1880
Nope :(

[code]

However, library versions are the same, basically:
[code]

[2015-09-27 18:34] fturiot commented on #1738
Thanks

[2015-09-27 19:04] posita commented on #1880
(.venv)[~/tmp/docker-compose-fixing]$ python -c 'import requests.packages.urllib3 ; print(requests.__version__) ; print(requests.packages.urllib3.__version__)'
2.6.2
1.10.3
(.venv)[~/tmp/docker-compose-fixing]$ python -c 'import docker ; print(docker.version)'
1.3.1
[code]

What do you get for this in your current environment?

[code]

Also, can you try this?

[code]

[2015-09-27 19:05] posita commented on #1880
Oops...small correction:

[code]

[2015-09-27 19:13] PavelPolyakov commented on #1880
1st:
[code]

and 2nd:
[code]

[2015-09-27 19:38] posita commented on #1880
Okay, I've officially run out of ideas. I cannot for the life of me fathom why `openssl s_client` can work, *and* `docker ps` can work, but you're still getting SSL certificate verification errors with `docker-compose` across two different versions of Python and two different versions of OpenSSL. Can you do a straight Docker build (i.e., `docker build .`)?

[2015-09-27 19:51] jas99 commented on #179
+1

[2015-09-27 19:54] PavelPolyakov commented on #1880
Yes, ```docker build``` works ok:
[code]

But ```docker-compose build``` not :)
[code]

Nevermind :) Thanks for the help and effort. Anyhow it is good to know that someone had ```docker-compose``` working on OSX, probably, as some point I would have it working as well!

[2015-09-27 20:05] posita commented on #1880
I suppose one silver lining is that I no longer think your issue is with `docker-machine`. :disappointed_relieved:

This *may* be an issue with `docker-compose`, but it's not docker/compose#890. Since it seems so difficult to reproduce outside of your environment, I suspect that you'll need to do some serious digging on your end to properly diagnose this (e.g., using `pdb`, maybe even `dtrace` or

[2015-09-27 21:52] n3at commented on #1805
Had same issue, docker-machine 0.3.1.
Just regenerated certs, then it was ok:
`docker-machine regenerate-certs MACHINE_NAME`

[2015-09-27 22:56] bergtwvd opened #1911 "Swarm creation with docker machine"
Followed the example for creating a swarm on https://docs.docker.com/swarm/install-w-machine.

Using Windows 7, Virtual Box 5.0.4 and Docker 1.8.2.

However. I am not able to create a swarm.
The VM is created in VB, but after waiting a long time, I get on Windows:

$ docker-machine create -d virtualbox --swarm --swarm-master --swarm-discovery token://07888a9864d382857ada80bba59a310b swarm-master
C

[2015-09-27 23:19] bergtwvd commented on #1911
docker machine appears to hang.
At another try I get:
$ docker-machine create -d virtualbox --swarm --swarm-discovery token://07888a9864d382857ada80bba59a310b swarm-slave-1
Creating VirtualBox VM...
Creating SSH key...
Starting VirtualBox VM...
Starting VM...

Nothing happens here for a long time.
Is this the same as: #1787 (which is closed. And fixed?)

[2015-09-28 04:06] Jayphen commented on #1559
+1
`docker-machine version 0.4.1 (e2c88d6)`

[2015-09-28 05:14] jas99 commented on #1826
@huguesfontenelle Its exposed but still need to be mounted with mount command. i am gonna raise issue to deal with it in more sustainable manner

[2015-09-28 07:17] kakawait commented on #1799
Same problem here any improvements?

[2015-09-28 08:21] mrumpf opened #1912 "Cannot create Docker host on Azure from behind corporate proxy"
I try to create a Docker host on Microsoft Azure from behind a corporate proxy in a Cygwin environment under Windows 7.
The following command fails:

[code]

When I try to access the same URL with curl (proxy is configured via http_proxy and https_proxy as environment variables), the connect seems to be possible because curl sends back an error message from the server:

[code]

BTW, adding the -D

[2015-09-28 08:30] eproxus commented on #1859
It seems I can consistently reproduce this by just rebooting my computer (while the virtual machine is started). Any particular logs or other things you want me to gather?

[2015-09-28 08:45] huguesfontenelle commented on #1826
@jas99 thanks. What would that command be? On the host machine or within the VM?

[2015-09-28 08:49] joschi opened #1913 "`docker-machine create` hangs on Mac OS X"
When creating a new VM with `docker-machine` (fresh install via [Docker Toolbox 1.8.2b](https://github.com/docker/toolbox/releases/tag/v1.8.2b)), the process hangs when trying to log into the machine via SSH.

Environment information:
[code]

Debug output of `docker-machine create`:
[code]
After that it just hangs and doesn't do anything for hours (until I aborted via ^C).

Debug output of `docker

[2015-09-28 09:24] michalborek commented on #1843
Hello,
Any release plan for that issue?

[2015-09-28 09:56] smarques commented on #1094
:+1:

[2015-09-28 11:52] eoinverling commented on #1771
Looks like I found my problem ... and the answer is in the docs :(

I was getting this error when adding the "security group" option. So after R'ingTFM again the docs say:

``` --amazonec2-security-group: AWS VPC security group name. ```

.. where I was using the security group ID (and not the name!)

All is well again for me, although I would prefer to use the ID (as opposed to the name, if I hav

[2015-09-28 11:58] michalborek commented on #1804
Same for me. The workaround (instead of restarting OS) is removing network adapters in virtualbox and restart docker-machine. I hope the fix will be soon released, since it is really annoying.

[2015-09-28 12:16] florrain commented on #1709
+1

[2015-09-28 12:18] MarcMielke commented on #1898
+1

[2015-09-28 12:20] eoinverling commented on #1898
+1

[2015-09-28 12:38] tamrsolutions commented on #1898
I have been looking at the code within the driver,  It looks like I could make this happen,  The assumption would have to be that the private key is available to be passed as a parameter to the driver.  This is because docker-machine expects the key to be available in the .docker directory.

[2015-09-28 13:14] seafoodbuffet commented on #1460
Is there a date on when an official release is slated to include changes from this ticket?

[2015-09-28 14:20] willpriceb opened #1914 "`create` silently ignores trailing options"
Hi,

I spent most of my day debugging a problem caused by specifying trailing options on `docker-machine create --driver virtualbox default <more options>`, it'd be nice to have some sort of warning message when there are extra arguments specified to alert the user that it will not perform the desired behaviour.

[2015-09-28 14:21] nickfyson commented on #1774
+1

For anyone suffering the same problem as me, this workaround fixed my iTerm2 'Send text at start' option, as well as tmuxstart sessions.

Cheers for the solution!

[2015-09-28 16:49] bryannaegele commented on #1792
So I noticed the Parallels provider does this by default, but not Virtualbox. When I create a machine with the Parallels driver it adds an entry like so:
[code]
This is extremely convenient for the less technical people by automating this step.

I also found that it gradually increments the vm's IP with Parallels, but Virtualbox appears to always grab the lowest available IP in the pool. So if you

[2015-09-28 18:32] nathanleclaire commented on #1460
@seafoodbuffet It will be in about two weeks, we are tied to the release cadence of the Docker Engine.

[2015-09-28 18:33] nathanleclaire commented on #1843
@michalborek It will be released in the 0.5.0 release in about two weeks.  In the meantime, you can try the master build to see if it resolves your issue.

[2015-09-28 18:37] carolynvs commented on #1843
I tried using master to workaround this exact issue but was stymied by other problems (#1906). If you have success with it, would love to know how!  Good to know that the next release is coming soon. :smile:

[2015-09-28 19:21] DazWilkin opened #1916 "Can't "gcloud ssh" into docker-machine"
Google Compute Engine (GCE) automates key generation for approved users of the project to which instances are scoped using Google Developers Console and the gcloud CLI. This permits any authenticated user of the project to access|manipulate instances. Unfortunately, it appears docker-machine breaks Google's mechanism:
[code]
Correctly permits:

    docker-machine ssh [INSTANCE-NAME]

However, a Go

[2015-09-28 20:19] jas99 commented on #1826
@huguesfontenelle
if using boot2docker
create file bootlocal.sh inside /var/lib/boot2docker; so it will persist and get executing when boot2docker images runs

##if target folder not present; create one
mkdir [target folder]
## mount the hostfolder; it should be shared with virtualbox already
sudo mount -t vboxsf -o uid=1000,gid=1000 [hostfolder] [target folder]

[2015-09-28 21:01] embrown30 commented on #1838
I am having the same issue. I can't get the TLS certificates generated. When I issue the command docker-machine regenerate-certs default it hangs

[2015-09-28 22:17] fourty7 commented on #1805
I'm unsure how running `eval "$(docker-machine env default --shell  bash)"` is a resolution to this issue. I'm having this same issue where it's not able to generate the certificates and the way that I go about figuring out that the certs haven't been generated is by running the above command:

`eval "$(docker-machine env default --shell bash)"
open C:\Users\{user}\.docker\machine\machines\default

[2015-09-29 04:32] cfossace commented on #1797
Me too on Windows 7 @marfago let me know if you find a solution

[2015-09-29 07:28] wenchma commented on #1591
I run `$ docker-machine -D --native-ssh create -d virtualbox local` command, it did not work with error log:
executing: /usr/bin/VBoxManage startvm local --type headless
STDOUT: Waiting for VM "local" to power on...
VM "local" has been successfully started.

STDERR:
Starting VM...
Getting to WaitForSSH function...
Testing TCP connection to: localhost:49564
Using SSH client type: native
About to ru

[2015-09-29 08:35] liyaka commented on #1898
+1

[2015-09-29 09:38] fjallot commented on #1709
+1

[2015-09-29 09:53] perj commented on #1233
I'm sorry @ehazlett but your answer doesn't make much sense. `--tls-ca-cert` is not a valid option for docker-machine as far as I can tell and the ca key shouldn't be involved at all. And as OP says, nor should the exact server certificate or private key be required.

To connect to an existing docker host over tcp this is the stuff needed:

A client certificate + private key.
A ca certificate

Tha

[2015-09-29 12:29] huguesfontenelle commented on #1826
@jas99 your answer looks like https://github.com/boot2docker/boot2docker/issues/813 or http://stackoverflow.com/questions/23439126/how-to-mount-host-directory-in-docker-container/27320731#27320731

However I did not specifically install boot2docker. I'm using the latest Docker Toolbox. (I assume thatv OP does also, given the date of the post shortly after this 1.8.2 release)

### key information
[

[2015-09-29 13:05] vlajos commented on #1029
Same issue here. For example:
[code]
(I assume the IP changed earlier than the command could finish its tasks.)

Is there any fix/workaround to this?

[2015-09-29 13:07] willpriceb commented on #1838
I too am experiencing the same issue on VB 5.0.4

[2015-09-29 13:28] goelvijay commented on #1676
I am also having same issue, while installing in windows....please suggest work around?

[2015-09-29 14:35] vehovmar commented on #1676
For now I solved it by adding following to my .bash_profile

    export NO_PROXY="$(docker-machine ip <your_machine_name>)"

[2015-09-29 14:37] bazbremner commented on #1896
@bfirsh Thanks for opening this bug. Apologies for not being able to give an details of the specific issue, I had quite a substantial ~/.ssh/config, although I'd guess that a ProxyCommand statement was the likely culprit, but haven't had the time to experiment.

[2015-09-29 14:41] abacaj commented on #1031
same issue here

[2015-09-29 15:40] rxacevedo commented on #1221
I was able to get `--url` to work and point to an existing Docker engine on DigitalOcean created with Docker Machine.

To use `--url` or the `none` driver, I just copied the existing `~/.docker/machine/machines/dobox/` folder on the machine that I used to create the host and deleted `cert.pem`, `key.pem`, `id_rsa.pub`, `id_rsa` and `config.json` (leaving `ca.pem`, `server.pem` and `server-key.pem`

[2015-09-29 17:45] kacole2 commented on #773
bringing this back from the dead (July 10th was last response)

i really like this concept:

i would also like to see a number somewhere in these descriptor files. Like I want 10 of type X and 5 of type Y. The reason being is that the underlying infrastructure may need to be tailored the apps, networking, or storage access. As @ehazlett said before, let's not limit what a user wants to do.

I hope

[2015-09-29 18:04] perj commented on #1728
#1233 is basically this

[2015-09-29 18:05] ahalem commented on #1838
was there any resolution for this issue ? please help.

[2015-09-29 18:19] nathanleclaire commented on #773
@kacole2 I agree that something like `count: 5` would be useful and have made moves to support it in the past with flags like `--n-instances` (never successfully merged), so I'd like to add something of the sort if we implement functionality like this.

Likewise, hopefully the new driver plugin model will also open the doors to extensible functionality in other areas.

[2015-09-29 18:34] dakhbc commented on #1556
You have create the VM, by default you will see it at the root folder. After the VM is created you can move it to any folder you want(in vphere) and then you only need to change the config.json for "MachineName": "folder/VM".

[2015-09-29 19:47] NicholasGW commented on #1692
On Windows 7 with VBox 5, disabling IPv6 lets me at least get a boot2docker machine up.

[2015-09-29 20:07] iangkent opened #1918 "enable docker-machine to create remote virtualbox machines"
Currently the virtualbox driver for docker-machine allows users to create local virtualbox machines.
It would be useful to be able to also create remote virtualbox machines. The driver would need to be able
to call virtualbox webservice to create machines on remote host. This is useful for the following scenarios:

- being able to create docker machines on remote headless virtualbox manager (poor

[2015-09-29 21:27] nathanleclaire commented on #1918
Would probably make a good [driver plugin](https://github.com/docker/machine/pull/1902).  The current `virtualbox` driver is pretty focused on local machines.

[2015-09-30 00:37] mdub commented on #1031
Suggestion: docker-machine should add `-o ControlMaster=no` to the ssh command-line.

[2015-09-30 01:11] adamjgray commented on #1031
Personally, I'd prefer that if it did that, there was an option provided to set it back to auto.  At work, we currently use an ssh gateway via ControlMaster to keep multi-factor auth less repetitive (especially when running scripts that do work over ssh).

From what I've been able to tell with a limited amount of debugging, https://github.com/docker/machine/blob/master/libmachine/ssh/client.go#L58

[2015-09-30 01:23] jeffellin commented on #1898
@nathanleclaire Nathan, is it worth putting together a pull request for this given that the driver model is changing?

[2015-09-30 01:35] jeffellin opened #1919 "Doc for building docker-machine"
after much struggling I finally was able to get docker-machine built without the container.  My motivation for this was to be able to run the integration tests that currently will not run in the container.

Here is what I did that wasn't in the docks.  Being new to Go, most of this was groked from reading the Dockerfile.

git clone https://github.com/docker/machine.git /tmp/go/machine
mkdir -p /tm

[2015-09-30 01:48] dmp42 commented on #1919
This is why the container solution is provided as a sane default (eg: to save the hassle setting-up a golang env).

Furthermore, I believe setting up a working golang env is out of scope.
Also, you don't need any extra dependency (go get) if you just want to build.

[2015-09-30 01:51] mdub commented on #1031
@adamjgray Right. I can see that configurability might be desirable.

But, the code you linked to implements my suggestion, which _should_ fix this issue, at least (despite causing other issues for you).  It appears it was merged into master on Sep 23, and so should be in the next release.  Thanks @nathanleclaire.

[2015-09-30 02:01] jeffellin commented on #1919
The container is great for what it can do,  but as far as I can tell it can't be used for the integration tests.

Maybe it doesn't need to be as overly verbose but something as simple as saying that your code needs to be in GOPATH/src/github/com/docker/machine would have saved me a bunch of time.  The docs as is seem to imply that all I have to do is unset USE_CONTAINER and then run make build fro

[2015-09-30 02:24] the-destro commented on #1792
this would also be advantageous for other tools, like docker-py, that are trying to assert the TLS hostname.

[2015-09-30 02:47] nathanleclaire commented on #1898
@jeffellin It is probably fine.  The changes to the actual driver code to support the new plugin model won't be huge and the inevitable rebase (on either end) is pretty manageable.

[2015-09-30 02:48] nathanleclaire commented on #1031
@mdub :+1:

[2015-09-30 02:50] nathanleclaire commented on #1031
As for the SSH trouble mentioned by @adamjgray, I'm starting to feel inclined towards a Machine-specific SSH config as suggested by @bfirsh here: https://github.com/docker/machine/issues/1896#issuecomment-142925456

[2015-09-30 02:51] nathanleclaire commented on #1919
Thanks for the feedback @jeffellin .  The recent shakeups to the build model have definitely made it less clear how to proceed and I think that historically having a clear path to start developing on the project has been very valuable to us.  I'll see what I can do to clarify and/or simplify the process.

[2015-09-30 03:04] jeffellin commented on #1919
I am guessing the go gets are in the Dockerfile to simply allow for caching,   although maybe it isn't useful since it appears that the container is removed in the makefile.

Anyway to simplify what I have above

[code]

Like I said what really got me was the assumption that I could run the make right from the directory where I cloned the repo from. Being used to maven/gradle  this was immediately

[2015-09-30 05:36] davideuler commented on #1709
+1

[2015-09-30 06:11] bean5 commented on #1838
I had to keep blowing away the boot2docker VM to resolve the issue temporarily. I got new hardware and haven't run into this at all since then. So maybe something I was doing on the old hardware caused the issue. Sorry I don't know more, @ahalem.

[2015-09-30 06:19] dmp42 commented on #1919
@nathanleclaire there previously was no way to build natively, and never was any indication about how to setup a native go environment: https://github.com/docker/machine/blob/28831d1f65e6aa0215339a8209c3589d6db33f29/CONTRIBUTING.md

Can you elaborate on how "the build model have definitely made it less clear how to proceed"? I would be happy to fix it.

[2015-09-30 09:12] yanzay opened #1921 "CoreOS droplets do not have 'root' user."
Is it possible to make 'core' user by default instead of 'root' when creating machines with CoreOS? In my case it's creating DigitalOcean Droplet, but I think it's common for all providers.

[2015-09-30 11:11] jeffellin commented on #1919
I guess a better question might be ,  is it possible to make integration tests run within in the container.  I am thinking it is possible for remote drivers like ec2 or gcp,  but may be tougher for local drivers like virtualbox or fusion.

[2015-09-30 12:05] doxxx commented on #1556
@dakhbc, no it hasn't create the VM because *I don't have permissions for the folder in which it is trying to create the VM*.

[2015-09-30 18:42] BlueHotDog commented on #1792
+1

[2015-09-30 19:26] kacole2 commented on #773
@nathanleclaire where can i learn more about the plugin model? Assuming #1626? would like to contribute where possible to make it a reality.

[2015-09-30 20:09] nathanleclaire commented on #773
@kacole2 Yep, that's the proposal, and https://github.com/docker/machine/pull/1902 is the PR

[2015-09-30 22:10] alexmcroberts opened #1922 "Valid hostname check #399 Better Messaging Required"
I've just been bitten by this - although partially address in #399. #383 shows the exact problem - including `_` underscores in a name. Perhaps a message suggesting valid characters would go a ways to improving error communication

[2015-10-01 00:46] rhim opened #1923 "docker-machine create using wrong username with CentOS7 AMI?"
I tried to use the CentOS7 AMI ami-6bcfc42e to create a docker-host VM in EC2. It failed to create after 60 ssh retries. Interestingly, I found it using the following command:

&{/usr/bin/ssh [/usr/bin/ssh -o PasswordAuthentication=no -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAttempts=3 -o ConnectTimeout=10 -i /Users/rhim/.dock

[2015-10-01 06:04] wzymaster opened #1924 "Docker-machine only provision a VM on IBM Softlayer with 10 Mbps"
I tried the latest version of docker-machine 0.4.0 and found that provisioned VM on IBM SoftLayer only comes with 10 Mbps for network.

Can you provide an option for network for IBM SoftLayer or use 100 Mbps by default ?

like
"--softlayer-private-net-speed"
"--softlayer-public-net-speed"

thanks very much !

[2015-10-01 14:02] GustavSt commented on #742
Do I understand it correctly if this is fixed in 0.5? current release is 0.4.1 right? when will 0.5 be released?

[2015-10-01 14:13] GustavSt commented on #742
0.5.0-dev did not work for me. Same error only max number is 5 tries now

[2015-10-01 14:38] abacaj commented on #742
how do you build the binaries on windows?

[2015-10-01 14:42] GustavSt commented on #742
downloaded from here:

[2015-10-01 15:23] carlosamartins commented on #1636
It happened the same error with me. I am using vagrant on windows machine and the vagrant relative path is "/vagrant".

```docker-machine create -d generic \```
 ```--generic-ssh-user vagrant \```
 ```--generic-ssh-key /vagrant/.vagrant.d/insecure_private_key \```
 ```--generic-ip-address 192.168.226.37 \```
 ```--engine-install-url "https://test.docker.com" \```
 ```vmtest```

Importing SSH key..

[2015-10-01 15:32] migueleliasweb commented on #1913
I having this same issue but using the DO driver. The docker-machine hangs forever (tried for 1hour) but the instance itself is created and everything is configured correctly. Seems like the docker-machine is not notified that the instance is ready for use and hangs waiting for the signal...

+1

[2015-10-01 15:33] migueleliasweb commented on #1891
+1

[2015-10-01 16:16] cusspvz commented on #23
+1

[2015-10-01 17:38] migueleliasweb commented on #1785
I had another similar issue.

I was trying to create a docker-machine inside an existing instance at my DO account.

Everything is configured correctly but at some point the docker-machine tells that the remote daemon is not responding....

Here some debug info:

[code]

Notice that the SSH yells some error but I couldn't find you what is happening... =/

[2015-10-01 17:40] migueleliasweb commented on #1785
@nathanleclaire, maybe @sumerman was encountering the same problem...

[2015-10-01 17:57] nathanleclaire commented on #742
@GustavSt Can you paste the output of running the create with latest and the `--debug` (as in `docker-machine --debug create` flag set?  Thanks!

[2015-10-01 18:21] lbustelo commented on #1491
+1 on wanting to use bridge mode

[2015-10-01 19:31] apocalypse2012 commented on #1684
Brand new to docker. Just now running through the 'Install Docker for Windows' tutorial. Not a linux guy. I am having this exact issue on Windows 8.1. Just running what comes in the installer package. This is kind of a blocker for me to learn and try to figure out if this is a tool I can add to my project. I will try to follow the advice here... An FAQ or fix to the tutorial or updating the instal

[2015-10-01 19:33] nathanleclaire commented on #1684
@apocalypse2012 Did those two solutions fix the issue for you?

[2015-10-01 19:43] apocalypse2012 commented on #1684
No... I am not sure how to SSH in. Its been a while since I did anything in linux. So I went looking in VB for an IP to connect to. I can see the default boot2docker VM, but it said it was not running. So I did a cntl-c on the Docker-terminal Window and it went away. Not sure if I need to rerun docker-terminal or restart from VB or what my order of operations is here.

[2015-10-01 21:43] apocalypse2012 commented on #1684
I reinstalled. The VM is running, but how do I login? What is the default username and password. Why is this system broken out of the box?

[2015-10-01 21:47] nathanleclaire commented on #1684
@apocalypse2012 You should be able to SSH in with `docker-machine ssh vmname`.  The user is `docker` and the password is `tcuser`, but you shouldn't be prompted for credentials.

[2015-10-01 23:54] alekzvik commented on #1709
+1

[2015-10-02 02:07] Kroisse commented on #1709
+1

[2015-10-02 04:26] garystafford commented on #1591
@nathanleclaire, I just cloned and built the latest docker-machine on the master branch on GitHub for Ubuntu or Fedora. I am still seeing no improvements on the ssh errors with Ubuntu or Fedora:
[code]

[2015-10-02 04:34] garystafford commented on #1892
I just cloned and built the latest docker-machine on the master branch on GitHub for Ubuntu and Fedora. I am still seeing no improvements on the ssh errors and duplicate IPs if `docker-machine create` succeeds with Ubuntu or Fedora:
[code]

[code]

[2015-10-02 07:24] GustavSt commented on #742
It seems it complains about ssh binary not found. I followed the installation guide [here](https://docs.docker.com/installation/windows/) and it clearly state to add ssh.exe, supposedly located in the git/bin-folder to path. Two issues there for me though. Firstly in my git/bin folder there is no ssh.exe, only sh.exe, bash.exe and git.exe. Secondly, my git installation is in program files and in t

[2015-10-02 07:34] GustavSt commented on #742
It seems it complains about ssh binary not found. I followed the installation guide [here](https://docs.docker.com/installation/windows/) and it clearly state to add ssh.exe, supposedly located in the git/bin-folder to path. Two issues there for me though. Firstly in my git/bin folder there is no ssh.exe, only sh.exe, bash.exe and git.exe. Secondly, my git installation is in program files and in t

[2015-10-02 12:09] socketwiz commented on #1471
Thanks guys, that works for me :)

[2015-10-02 13:23] garystafford commented on #1892
@nathanleclaire I went from 80%+ failures creating machines and/or getting IP address conflicts to 100% success by deleting those extra host-only network adapters you mentioned. On VirtualBox 5.0.3, I went to VirtualBox -> Preferences -> Network -> Host-only Networks, and removed them. After that I created a 5-cluster swarm and added weave with not obvious errors or issues.

[2015-10-02 13:24] garystafford commented on #1591
@nathanleclaire I went from 80%+ failures creating machines and/or getting IP address conflicts to 100% success by deleting those extra host-only network adapters you mentioned. On VirtualBox 5.0.3, I went to VirtualBox -> Preferences -> Network -> Host-only Networks, and removed them. After that I created a 5-cluster swarm and added weave with no obvious errors or issues.

[2015-10-02 13:26] ericmcdaniel commented on #1706
I am also having this issue.

[2015-10-02 14:12] cpuguy83 opened #1928 "vbox preferences ignored"
From docker/docker#16568

[2015-10-02 14:26] qguv commented on #1611
Googlers: I also had this issue. I never did discover the cause, but I solved it by removing the VM (and its data) manually from Virtualbox and letting Docker recreate it.

[2015-10-02 17:10] wader commented on #1928
Think i run into this problem with a newly created docker machine instance (`docker-machine create -d virtualbox dev`).

Versions:
Host OS: OS X 10.11
VirtualBox: 5.0.0
docker-machine version 0.4.1 (HEAD)
Boot2Docker version 1.8.2, build master : aba6192 - Thu Sep 10 20:58:17 UTC 2015
Docker version 1.8.2, build 0a8c2e3

Pull gets stuck forever in various ways:
[code]
In docker log i see things ab

[2015-10-02 17:39] gzoller opened #1929 "enable docker-machine to optionally create virtualbox VM that is "open" (no certs needed to hit REST API)"

[2015-10-02 18:09] nathanleclaire commented on #742
@GustavSt It should default to using `--native-ssh` if no SSH binary is found.  Did you install git using the latest Msysgit?  And can you please paste the debug output in a Gist?  Thanks.

[2015-10-02 18:12] nathanleclaire commented on #1892
Thanks a lot for your persistence @garystafford.  The network interfaces in Virtualbox do have a tendency to get out of control and wreak havoc if not periodically pruned, so I wonder if we could do some automatic cleanup of ones which aren't actively in use.

[2015-10-02 18:43] jpdesigndev commented on #1857
Same issue here on 0.4.1:

`docker info`

[code]

[2015-10-02 20:22] alrayyes commented on #1801
+1

[code]

[2015-10-02 20:35] nathanleclaire commented on #1591
@garystafford Good to hear it's been cleaned up for you.  I'd definitely like to put more effort into detecting wonky networking configurations and suggesting solutions to save the sort of trouble that you had to go through.

[2015-10-03 00:02] ramgovind opened #1930 "docker-machine command not working"
docker-machine command is not working from docker quick start terminal with the windows version 1.8.2c.  This was working before with 1.8.2a version of docker windows.

docker@default:/c$ docker-machine ls
-sh: docker-machine: not found

It appears docker-machine is not on the path.  But I could not add it to that path as C:/Program Files/Docker Toolbox is not visible in docker.  I can see only Us

[2015-10-03 00:13] nathanleclaire commented on #1801
@alrayyes can you please Gist the output of running `docker-machine --debug ls`?

[2015-10-03 00:23] poshUp commented on #1716
For everyone who are struggling with this on Max OS X Yosemite (10.10.5)
In my case the *permissions* weren't configured correctly so I ran the **Disk Utility -> Repair Disk Permission** which fixed the issue.

[2015-10-03 03:28] vovimayhem commented on #1328
+1!

[2015-10-03 05:26] dghubble commented on #1671
Tried this a few weeks ago, tried again today. I can't seem to get a docker-machine with fusion to create and start, even after updating various things / reinstalling.

ProductName:	Mac OS X
ProductVersion:	10.10.5
BuildVersion:	14F27
Docker version 1.8.2, build 0a8c2e3
docker-machine version 0.4.1 (HEAD)
vmrun version 1.15.0 build-3094680

I've tried the homebrew install and the old style VMWare

[2015-10-03 10:43] wader commented on #1928
More filesystem info. I looks like sda1 has not been mounted properly for some reason.
[code]

[2015-10-03 14:36] wader commented on #1928
Now it seems to works... weird, will try see if i can reproduce again

[2015-10-03 15:43] alrayyes commented on #1801
[Here](https://gist.github.com/alrayyes/79bfc9bfc51d44c505cf) you go.

[2015-10-03 16:19] fbender opened #1931 "Gracefully handle full disk"
My MBA's SSD filled up while I was running a docker-machine/boot2docker Virtualbox VM. I figured I could recover some disk space by shutting down the VM (due to swapping). When trying to stop the VM, the command failed in an unrecoverable way (and did not shut down the VM).

[code]

The `config.json` became zero bytes when executing the first `stop` command, which rendered `docker-machine` incapab

[2015-10-03 22:13] goloroden commented on #1328
+1 I'd love to see a solution for this, too :-)

[2015-10-04 06:38] ShylockGou commented on #1787
is this issue solved ?

[2015-10-04 06:38] samalb commented on #1591
It appears my problem was two fold. Not only was the removal of the adapters vmnet0 and vmnet1 necessary but all docker-machine commands require sudo.

[2015-10-04 15:50] pearofducks commented on #1572
+1

Mine was hanging on 'About to run SSH command', I use these options in `~/.ssh/config`

[code]

[2015-10-04 15:55] blaggacao opened #1934 "docker-machine env xx hangs forever after sleep"
This issue has been reported in detail here: https://github.com/docker/docker/issues/16265.
It then has been moved to https://github.com/docker/machine/issues/1500, which I feel made up the root cause in VPN incompatibility. However, in my opinion, it deserves differentiated treatment despite of showing same/similar symptoms.

You probably have this issue, if `docker-machine env xxx` does hang aft

[2015-10-04 15:57] blaggacao commented on #1500
As it seems we have multiple issues on similar symtomps, I opened #1934 for those who experience problems on Windows 10 (or maybe other versions) hosts after sleep. In order to separate concerns, I kindly suggest relating this issue's title to VPN network issues.

[2015-10-04 16:05] blaggacao commented on #1934
It has been reported on [stackoverflow](http://stackoverflow.com/questions/32547427/docker-unreachable-after-computer-sleep) by the commentor [Petrik](http://stackoverflow.com/users/539846/petrik) the following hint:

[2015-10-04 16:10] blaggacao commented on #1934
In VirtualBox:
1. File > Preferences... > Network > Host-only Networks: deleting the host only network
2. `docker-machine start foo`

resulted first in:

[code]

but after some time:
[code]

and `docker-machine env foo` working correctly.

This approach internally might include the mechanisms of the solution proposed by Petrik (see above post)

[2015-10-04 16:18] blaggacao commented on #1934
I can confirm, unlike suggested above, that Petrik's proposal, as I understand it, does NOT fix the issue:

1. Open Netwok Connection Panel
2. Desactivate Adapter
3. Activate adapter
4. Try:
 - neither `docker-machine env foo`
 - nor `docker-machine restart foo && docker-machine env foo` works.

[2015-10-04 16:27] spkane commented on #1240
The title just has the command wrong, they meant ```docker info```:

Like so:

[code]

[2015-10-04 18:21] srmadsen commented on #1787
Nope.  Currently unusable on MacOS.  Very frustrating!

Reid Madsen
Manager, Continuous Delivery Services
FamilySearch.org<http://FamilySearch.org>
Tel: 801.240.6009, Cell: 214.912.5152
reid.madsen@familysearch.org<mailto:reid.madsen@familysearch.org>

On Oct 4, 2015, at 12:38 AM, ShylockGou <notifications@github.com<mailto:notifications@github.com>> wrote:

is this issue solved ?

—
Reply to this

[2015-10-05 04:37] rominirani opened #1935 "Docker Machine Google Cloud Driver : stop <machine> command deletes instance"
This issue is about the Google Cloud driver for Docker Machine.

The "stop" command is supposed to just stop the instance from a RUNNING state to STOPPED. Currently, it ends up deleting the instance (however it retains the boot-disk for the instance).

What this means is that later on if you "rm" the machine, it is simply deleting the disk and removing the machine from the configured list of hosts

[2015-10-05 05:09] jpetazzo commented on #1914
Same here. I was trying to provision Swarm-enabled machines with:

[code]

And it didn't work (the machine would come up but no Swarm provisioning was done, and `--debug` was showing that the Swarm code was never executed).

After a few hours of debugging, I found out that the following would work, though:

[code]

/cc @nathanleclaire

[2015-10-05 08:05] fabriziopandini opened #1936 "Change of proxy (switching network locations)"
Docker `docker-machine create`can be used behind corporate proxy using `--engine-env' option.
Is there a smart way also for changing network location without re-create the docker machine (for instance when working from another company/home)?
It is possible to add support for `--engine-env' option also to `docker-machine start` (and of course to kitematic too)?

[2015-10-05 08:49] ain opened #1937 "I/O timeout on upgrade"
Following the ideas from the issue of docker/docker#16746, running

        docker-machine upgrade <machine>

fails with

[code]

The platform is OS X El Capitan with
[code]

[2015-10-05 08:56] pierophp commented on #1706
+1

[2015-10-05 09:13] depressiveRobot opened #1938 "Default value for "docker-machine start/stop""
Based on the `DOCKER_MACHINE_NAME` variable, the `docker-machine start/stop` command should use the machine set by the variable by default.

Similar issue: #1558

[2015-10-05 10:18] darrenhaken commented on #1819
I'm having the same problem using VirtualBox 5.0.6 and Docker Toolkit 1.8.2-rc3.

This basically stops Docker working on OSX - fun.

[2015-10-05 14:03] mbentley commented on #1711
I've noticed a few mentions of the timeout being an annoyance; I also ran into this while being on wifi in Europe.  I would think that at least 10 or 15 seconds would be an acceptable default timeout as I would rather wait 10-15 seconds for proper information than have to try my same command again with the timeout parameter on a more regular basis when a few of my instances don't respond quite as

[2015-10-05 15:14] jeffellin commented on #1898
So for those of you who +1'd   I created a change that takes an additional optional parameter
[code]

[2015-10-05 17:44] #1150 closed

[2015-10-05 18:47] Telemakhos commented on #792
This solves the issue for me...
```$ killall -9 VBoxHeadless && docker-machine restart <env>```

[2015-10-05 19:01] nathanleclaire commented on #1711
Yeah, I think I will kick the timeout up to 10-15 seconds.

[2015-10-05 22:37] dalanmiller commented on #1714
Also having this issue. Maybe the Digital Ocean API has changed and `docker-machine` has not updated?

[2015-10-05 22:40] dalanmiller commented on #1672
Also agree here.

[2015-10-05 22:47] nathanleclaire commented on #1714
Hm, it should be automatically created for you.

[2015-10-05 22:52] dalanmiller commented on #1714
@nathanleclaire I now see the new ssh key in the DigitalOcean UI but was still getting that message with the command line tool.

[2015-10-06 05:09] ardydedase commented on #1709
+1

[2015-10-06 09:14] kohver commented on #1558
+1, that is so intuitive

[2015-10-06 09:16] gdm85 commented on #721
I am also affected by this issue; I am going to try re-creating the docker-machine VM, although I'd have preferred to not need to :(

[2015-10-06 10:43] darrenhaken commented on #1819
Any updates on this? It almost makes Docker pointless on OSX so its pretty critical

[2015-10-06 11:35] embrown30 commented on #1838
I went back to using boot2docker as indicated above.. I turned off my VPN.. But it didn't resolve the issue.. This needs to be reopened and fixed so Mac users can use docker-machine and the like. Thx.

[2015-10-06 12:18] willpriceb commented on #1838
Agreed, I've ditched it for an Ubuntu VM which I'm running docker daemon on--much less faff

[2015-10-06 14:04] gffhcks commented on #1819
Nothing new to report on my end unfortunately.  I did notice that @srmadsen mentioned Cisco VPN - I have AnyConnect installed as well but the above copy/paste was with the VPN disabled, like his was. No idea if that is actually related.

[2015-10-06 14:07] darrenhaken commented on #1819
I also have AnyConnect installed but it isn't running. I wonder if this is related.

No one in my team can get it working.

[2015-10-06 15:14] lswest commented on #1819
I have the same issues, but no Cisco VPN (or VPN of any sort) set up.  I have found that (using the QuickStart Terminal), I can use a second terminal to run docker-machine ssh and connect successfully.  The moment I kill the create command, it switches to timeout.  But while the command is hanging, I seem to be able to use it normally (but I have no comparison to how it should actually run).

[2015-10-06 15:16] darrenhaken commented on #1819
Anyone from the Docker team got any input on this?

[2015-10-06 15:16] darrenhaken commented on #1819
FYI I've tried this with both VirtualBox 4.3 and 5.x.x and I have the same issues.

Commented out ipv6 as well.

[2015-10-06 16:27] byxorna commented on #1455
Deleting (and having docker recreate) the `docker0` interface can be avoided if you ensure the `EXTRA_ARGS` are populated with all the engine options before starting up for the first time. I haven't dug in, but ensuring `/var/lib/boot2docker/profile` is present before ever launching docker makes the bridge interface come up with the right IP.

[2015-10-06 18:02] grepory commented on #1483
Is there a workaround for this issue? Is my only recourse to destroy my docker machine and rebuild with  the appropriate argument to --vmwarefusion-boot2docker-url (or the equivalent for each driver I use)?

[2015-10-06 20:28] adj7388 commented on #1930
I can confirm the same problem on Windows 7, Service Pack 1, running Docker Toolbox 1.8.2.c.

`docker@default:~$ docker-machine`
`-sh: docker-machine: not found`

`docker` command works fine

[2015-10-06 20:31] motin commented on #721
I wonder if this same issue is causing migrations to fail: https://github.com/docker/toolbox/issues/216 https://github.com/docker/toolbox/issues/219

[2015-10-06 21:12] nathanleclaire commented on #1930
Looks like the quickstart terminal is actually SSHed into the VM based on the shell prompt?  cc @jeffdm @mchiang ?????

[2015-10-06 21:12] nathanleclaire commented on #1930
Going to move this over to be a Toolbox bug.

[2015-10-06 21:15] nathanleclaire commented on #1930
Please follow up in: https://github.com/docker/toolbox/issues/220 thanks

[2015-10-06 21:15] #1930 closed

[2015-10-06 21:24] nathanleclaire commented on #1938
Please take discussion on this issue to: https://github.com/docker/machine/issues/1783

Thanks!

[2015-10-06 21:24] #1938 closed

[2015-10-06 21:25] nathanleclaire commented on #1558
Please take discussion of this issue to the proposal at: https://github.com/docker/machine/issues/1783

Thanks!

[2015-10-06 21:25] #1558 closed

[2015-10-06 21:25] nathanleclaire commented on #1937
I've got a fix for this in the pipe

[2015-10-06 21:26] nathanleclaire commented on #1937
Hm, actually, it seems I have mis-read this issue and I'm thinking of a different one.  Do subsequent `docker-machine upgrade` commands work, or do you get the same error?  How about restarting the VM, does it fix the issue?

[2015-10-06 22:04] nathanleclaire commented on #1936
Hm.  In the short term it might be easier to simply have two VMs that you switch back and forth between using, but this is why I've introduced the idea of a `docker-machine provision` command.

[2015-10-06 22:08] ain commented on #1937
No to all questions, unfortunately. Tried multiple times. On a different machine that still runs 1.8.1, the error is slightly different:

        $ docker-machine upgrade dev
        Stopping machine to do the upgrade...
        exit status 1

[2015-10-06 22:15] nathanleclaire commented on #1935
This should be fixed on master by bb45f83319bb26bff1382bd2d86293da26b43d5d .  Please try and report back if it's still an issue, thanks.

[2015-10-06 22:15] #1935 closed

[2015-10-06 22:16] nathanleclaire commented on #950
If the Docker install script does not work, we cannot do much to workaround in our current model so I'm closing this as "NON-ACTIONABLE".

[2015-10-06 22:16] #950 closed

[2015-10-06 22:29] thaJeztah commented on #950
@nathanleclaire just a heads-up: we're updating the install docs of docker to prefer manually adding the apt/yum repo's, because using `curl | sh` is not really best practice; https://github.com/docker/docker/pull/16662 (perhaps the provisioning scripts should be update at some point)

[2015-10-06 22:31] nathanleclaire commented on #950
Thx @thaJeztah .  Over time I'd like to wean the Machine provisioning process off the script as well.

[2015-10-06 22:40] tianon commented on #950
:cake:

[2015-10-06 22:43] nathanleclaire commented on #1819
There's a decent chance AnyConnect has already modified your system routing tables, even if it isn't presently running.  Aside from that, there's a variety of reasons the allocated IP address might not be reachable.

@darrenhaken @lswest @gffhcks @srmadsen Can you please try the following and get back to me:

- Install master build of Docker Machine from docker-machine-binaries.evanhazlett.com/lat

[2015-10-06 22:44] willdady opened #1942 "Change default VirtualBox nictype?"
I realise there's been a recent addition to the virtualbox driver which lets you specify the VM's nictype (`--virtualbox-hostonly-nictype`) but why is the default set to '82540EM' (Intel PRO/1000) and not 'Am79C973' (PCnet-FAST III) considering the latter is what VirtualBox would set by [default](https://www.virtualbox.org/manual/ch06.html)?

In my experience manually changing from Intel PRO/1000

[2015-10-06 23:03] nathanleclaire commented on #1942
We had some issues that seemed to be cleaned up by changing NIC types, but I'm a bit worried that we cargo culted that in without evidence and am considering switching the default back to `virtio`.

[2015-10-06 23:26] willdady commented on #1942
Just tried [my problem](https://github.com/boot2docker/boot2docker/issues/1022#issuecomment-145849808) with `virtio` as I hadn't tried it before and I get the same poor performance as with '82540EM' (Intel PRO/1000) :(

[2015-10-06 23:34] nathanleclaire commented on #1942
Interesting...  I wonder why performance is so much better for you with the default NIC type, and if that's universal across platforms.

[2015-10-07 02:03] gmanfunky commented on #1573
Duplicate of https://github.com/docker/machine/issues/1673
The Fix was merged Aug. 28 - https://github.com/docker/machine/pull/1674

A release with fixes would be nice.

[2015-10-07 03:08] ShylockGou commented on #1787
@srmadsen maybe ssh client configure,i got fixed with close multiplexing  .tks @tehmaspc ,it speed   my two weeks .https://github.com/docker/machine/issues/1591

[2015-10-07 03:16] nathanleclaire commented on #1573
@gmanfunky The release will be out in about two weeks' time.  In the meantime, you can get master builds at https://docker-machine-builds.evanhazlett.com/latest (we will host an official version eventually as well) or compiling from source.

Thanks!

- N

[2015-10-07 03:16] #1573 closed

[2015-10-07 05:44] anthonydahanne commented on #1569
hello @pdxjohnny could you get your changed merged in ? I could see the commit but not PR

[2015-10-07 07:09] GustavSt commented on #742
Hmm, it works now it seems... not sure what the difference was with last week. Thanks

[2015-10-07 07:54] lswest commented on #1819
I've downloaded the master build, and run the commands.  I still get a timeout error from docker-machine create.  I don't have a VPN or proxy running.  It did also refer to the hosts file, so I've included it in the following gist.  I do also use MAMP Pro, in case that could cause a conflict between docker-machine and the hosts file?  It's the only thing I can think of.

Result of all commands, an

[2015-10-07 09:20] damonmcminn commented on #1787
I am also experiencing this issue.

[2015-10-07 09:27] darrenhaken commented on #1819
@nathanleclaire Using the master build everything seemed to be working.
I even managed to upgrade to the latest VirtualBox again (5.0.6) and re-enable IPV6 in my /etc/hosts.

Any idea when this build will be officially released? I'd love to have an ETA to share with my team.

[2015-10-07 09:57] marvin659 commented on #1838
Hi,

I am having the same problem. Creating docker machine just hung there:

Creating VirtualBox VM...
Creating SSH key...
Starting VirtualBox VM...
Starting VM...

I am using Mac OSX 10.10.x, Virtual Box 5.0.5 test build (latest), docker-machine version 0.4.1 (e2c88d6)

[2015-10-07 10:02] marvin659 commented on #1913
Having same issue too....It is a blocker for me to use docker on Mac. Hope to see a fix quickly

[2015-10-07 10:25] opreaadrian commented on #1709
+1

[2015-10-07 10:58] kamaljeetrathi commented on #1221
How to authenticate client and server in docker.whose username and password I have to configure with it
I am using https://docs.docker.com/reference/api/docker_remote_api_v1.20/
and have docker client and server on same host machine.
And also let me know if both are not on same machine.

[2015-10-07 12:21] dgageot opened #1943 "Contributing Guide contains a couple of false information"
The Contributing Guide says that docker-machine can be built with `make`. Actually, there is no default target to make so only `make build` will work. So either the doc is wrong or the Makefile needs to be fixed. I'll go for the doc.

Also, it is said that binaries are at the root of the repo. That used to be true. Not anymore.

[2015-10-07 12:32] eproxus commented on #1859
@dmp42 Ping. :smile:

[2015-10-07 12:33] dgageot commented on #1919
We could explain that go has to be properly installed (with GOROOT and GOPATH set).
Then building natively should be as easy as:

[code]

Am I missing something?

[2015-10-07 13:06] dgageot commented on #1943
Actually, `make` does default to `make build`. I don't know what made me think it wasn't.
Still the binaries path is wrong

[2015-10-07 13:24] pdxjohnny commented on #1569
https://github.com/docker/machine/pull/1586
I tried to it probably needs to be updated though

[2015-10-07 14:04] embrown30 opened #1945 "creating new docker machine hangs on mac"
I am opening this issue because I cannot use docker-machine that was installed via docker toolbox that I downloaded.
The previous issue was here
https://github.com/docker/machine/issues/1838#issuecomment-146136427
...
StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAttempts=3 -o ConnectTimeout=10 -i /Users/chriswan/.docker/machine/machines/dev/id_rsa -p 5305

[2015-10-07 14:36] sylus commented on #703
Given a provisioner has been added for CoreOS now can this be reopened?

[2015-10-07 17:18] dblock opened #1946 "docker-machine start hangs on Testing TCP connection with bad localhost"
This one was my fault, but docker-machine could probably do a better job at reporting a problem here, `docker-machine start dusty` was hanging. Using `--debug` showed:

[code]

I had the following in my `/etc/hosts`

[code]

This came from a hosts file attempting to be very conservative about ad blocking :)

Failure to resolve the host name should be a different error here.

[2015-10-07 17:50] sylus opened #1947 "CoreOS Provisioner breaks ETCD"
I have been working with the new CoreOS provisioner which is scheduled for 0.5 or perhaps earlier. The new provisioner does indeed work and launches a CoreOS droplet (testing on digitalocean) successfully. The problem has to do with etcd not being configured as the discovery token was not sent via cloud-init. This means native functionality to CoreOS is broken and etcd is returning 404's. I asked

[2015-10-07 18:30] #1943 closed

[2015-10-07 18:40] shepmaster commented on #1803
FYI, the second line

[code]

Won't work as written due to permissions —y ou need to be root to put the cert into `/var/lib/boot2docker/certs`, but the scp user is not root. The original (longer) version copies the file in and then moves it as root.

[2015-10-07 18:42] dmp42 commented on #1859
@eproxus pong :)

I can reproduce machine being in aborted state - now, machine happily starts it.

Maybe that's because I'm running master - do you think you can test against master and see if that works for you?

Sorry for this kind of problem is hard to reproduce / test :/

[2015-10-07 18:47] grahampugh commented on #1826
I think the problem here (correct me if otherwise) is that boot2docker has not VBox Guest Additions. so you can't mount using vboxsf. /Users sharing is hard-coded in somehow (NFS?), but no other folders. Potentially, the only ways around this are (i) for VBoxGuestAdditions to be made available for boot2docker, or (ii) for docker-machine to have an option that when VBoxGuestAdditions is required, i

[2015-10-07 19:49] scalp42 commented on #1684
@nathanleclaire when can we expect a release from master including the multiplexing fix? Right now only `--native-ssh` ends up working.

[2015-10-07 20:01] nathanleclaire commented on #1946
We default to `127.0.0.1` for VirtualBox now.  Not the best solution, but it should solve this issue.

[2015-10-07 20:01] #1946 closed

[2015-10-07 20:01] chromerobv commented on #1433
i have yet to get this to work. i have uninstalled everything blew away every directory to do with virtualbox and or docker and i still can't connect to this. the docker vm is running in virtualbox and looks fine.

Creating Machine default...
Creating VirtualBox VM...
Creating SSH key...
Starting VirtualBox VM...
Starting VM...
Error creating machine: Too many retries.  Last error: Maximum number

[2015-10-07 20:03] #1483 closed

[2015-10-07 20:11] dblock commented on #1946
That's fine @nathanleclaire but I think my bug is more about the error than about the actual fix. The DNS entry that doesn't resolve will continue giving you no information as above, no?

[2015-10-07 20:17] nathanleclaire commented on #1946
@dblock We removed the TCP check as well but, what error would you expect to see in such a situation?

[2015-10-07 20:28] dblock commented on #1946
In this case a different error for hostname cannot be resolved vs. connection timed out (port closed, etc.)

[2015-10-07 20:45] nathanleclaire commented on #1706
Hi all, aware of a few different issues around host only interfaces in Windows 10 and working on it.

[2015-10-07 21:03] kevinsimper opened #1948 "Respect change to network adapter"
Right now if I change the network adapter to be vboxnet2 (like it was with boot2docker) it changes it back to vboxnet7?

How can you prevent that? Or is there any way to use a custom network adapter?

![image](https://cloud.githubusercontent.com/assets/1126497/10351024/9e079d12-6d47-11e5-9476-5cd6beac217e.png)

[2015-10-07 22:32] nathanleclaire commented on #1948
Does it do this even if the VM is stopped?  VBox is not very communicative about why it's behaving in a certain way sometimes.

[2015-10-07 23:36] gmanfunky commented on #1906
Could it be an escaping problem with the way we are executing ssh command and the arguments being sent? Perhaps the command pipe and/or double-quotes aren't properly escaped.

[2015-10-07 23:37] nathanleclaire commented on #1906
It's a problem with the way that SSH commands are being handled internally for the provisioning process.  It's something I accidentally broke in getting the SSH additional command arguments to work, e.g. `docker-machine ssh default -L 8080:localhost:8080`.  I'm working on a fix now and should have it PRed soon.

[2015-10-08 01:01] dmp42 commented on #1919
@dgageot that would be enough indeed.
Doc has been massaged a bit over here: https://github.com/docker/machine/pull/1949

Specifically, I made integration testing more brainless and straight-forward.

Additional info about basic golang setup can go on top of this.

[2015-10-08 02:25] srmadsen commented on #1819
Am I the only one getting “501 - Service unavailable”  from that link?

Reid Madsen
Manager, Continuous Delivery Services
FamilySearch.org<http://FamilySearch.org>
Tel: 801.240.6009, Cell: 214.912.5152
reid.madsen@familysearch.org<mailto:reid.madsen@familysearch.org>

On Oct 6, 2015, at 4:44 PM, Nathan LeClaire <notifications@github.com<mailto:notifications@github.com>> wrote:

There's a decent ch

[2015-10-08 02:32] nathanleclaire commented on #1819
@srmadsen I think I pasted the wrong one originally so if you're reading via e-mail it will be messed up.  Try https://docker-machine-builds.evanhazlett.com/latest/

[2015-10-08 02:39] nathanleclaire commented on #1819
@darrenhaken The next release will be in approximately 2 weeks.  Sorry for the holdup in the meanwhile.  We want to get a faster release cadence soon but for now we're tied to the Docker Engine's release cycle.

[2015-10-08 02:48] mskutin commented on #1797
The same issue, Windows Server 2012 R2

[2015-10-08 02:58] nathanleclaire commented on #1819
@lswest Thanks for the very detailed Gist!  It looks like in your case the issue will be a bit trickier to debug.  Looks like most of the create happens as expected (does `docker-machine ssh dev` work after creation?), but something is going sideways in the DHCP IP allocation.

@ehazlett can you take a look at that log as well and see if you notice anything fishy?  I'm seeing that we instruct Virt

[2015-10-08 03:22] nathanleclaire commented on #1684
@scalp42 Approximately two weeks' time.

[2015-10-08 03:23] nathanleclaire commented on #1826
@grahampugh boot2docker ISO does have Guest Additions installed.  That's how the `/Users` mount is done by default.

[2015-10-08 07:08] gdm85 commented on #1945
For some reason it's getting stuck here as well. It does not correctly configure networking as far as I can see.

Furthermore, it waits forever and hangs on ``Starting VM...``

[2015-10-08 07:20] kevinsimper commented on #1948
@nathanleclaire Thank you for responding. You are only allowed to change the settings when the machine is stopped.

[2015-10-08 09:22] Dzoukr commented on #1934
This approach works for me perfectly (even without restarting containers!)
http://stackoverflow.com/questions/32547427/docker-unreachable-after-computer-sleep/33010351#33010351

Hope it helps!

[2015-10-08 09:49] eproxus commented on #1859
**Before reboot**

[code]

**After reboot**

Machine is in `aborted` state:

[code]

After starting the machine from VirtualBox with a headless start, now in `running` state:

[code]

[2015-10-08 11:11] pierredup commented on #1787
Disabling SSH multiplexing fixes the issues, check out https://github.com/docker/machine/issues/1591#issuecomment-126169020

[2015-10-08 11:30] vrbilgi commented on #1797
Same issue for me Windows 7 Version 2.2

[2015-10-08 13:06] peter-leonov commented on #1714
These days "digitalocean create droplet forever" is a hot topic on the Internets. Is there a way to wait longer without the `Maximum number of retries (60) exceeded` error raised?

[2015-10-08 15:08] jcfigueiredo commented on #1491
+1

[2015-10-08 15:32] ianlintner-wf commented on #1709
+1

[2015-10-08 15:33] carolynvs opened #1954 "Certificates do not install properly, always regenerate"
I am using Docker Toolbox 1.8.2c with a local build of docker-machine using PR #1951. That PR fixes the ssh problems but now the generation/validation of certificates is broken. I do not know if the problem is due to the PR or is present on master.

After creating a machine, any attempt to use the certificates, e.g. running `env` causes docker-machine to detect that the certs are invalid and regen

[2015-10-08 15:57] mrumpf opened #1955 "Integrate DNS resolution for docker-machine instances"
It would be great if docker-machine would setup hostnames for each created docker machine instance.

```docker-machine create registry ... ```

would create a hostname on the host machine: registry.dockermachine or registry.dm for short.
That would simplify accessing services, started by Docker containers inside the docker-machine instance.

A simple solution would be the feature, provided by the

[2015-10-08 15:59] shriramMani commented on #1684
On windows 8.1, by default, both the lines are commented in the etc/hosts file

#	127.0.0.1       localhost
#	::1             localhost

Uncomment the first line and it works.

[2015-10-08 17:12] jakirkham commented on #1226
Sounds like a really cool idea.

[2015-10-08 17:47] nathanleclaire commented on #1948
@kevinsimper Ah good, I was worried it might be some wacky bug or edge case.

[2015-10-08 17:47] #1948 closed

[2015-10-08 17:49] nathanleclaire commented on #1955
We've thought about it -- my strong feeling is that it's quite out of scope for Machine in its current form (and trickier to get right than it looks).  Might be something that we visit if we implement any kind of plugin / "hook" model.

[2015-10-08 17:49] #1955 closed

[2015-10-08 17:51] nathanleclaire commented on #1947
We're doing some limited initialization of cloud-init (https://github.com/docker/machine/blob/master/libmachine/provision/coreos.go#L19)and it would make sense to me to set some sensible defaults (since e.g. I would expect service discovery on my CoreOS box to "just work"), so you're welcome to open a PR for that provisioner, but we're hesitant to expand the scope of provisioning in general withou

[2015-10-08 18:00] #1908 closed

[2015-10-08 18:03] nathanleclaire commented on #1954
Thanks for the detailed summary.  I've seen issues like this before as well and I'll look into it.

[2015-10-08 18:10] nathanleclaire commented on #1954
Are you on the latest VirutalBox?  i.e. 5.0.6?

[2015-10-08 18:11] kacole2 commented on #1945
@embrown30 @gdm85 can you try installing docker machine with:
[code]

Please also test using AWS or GCE and then we can narrow down if it's a virtualbox issue.

@gdm85 make sure to use `-D` during provisioning to get the debug output

[2015-10-08 18:17] kacole2 commented on #1923
@rhim you need to specify the centOS7 username. ubuntu is used by default. try using `--amazonec2-ssh-user centos`

[2015-10-08 18:21] carolynvs commented on #1954
I was using the 5.0.4 which ships with the latest version of Docker Toolbox (1.8.2c). I just removed that version, installed 5.0.6 and I am experiencing the same behavior.

[2015-10-08 18:24] nathanleclaire commented on #1954
OK thanks.

[2015-10-08 18:28] nathanleclaire commented on #1954
@carolynvs If you remove the host only network that you have (can do this in VirtualBox GUI) and try again, does it work?

[2015-10-08 18:42] carolynvs commented on #1954
I deleted the machine, removed the adapter and tried again with the same result.

[2015-10-08 18:44] nathanleclaire commented on #1954
OK thanks.  Very peculiar behavior.  I might make a test build which dumps more information about the certs and suggest that you try that if you're agreeable.

[2015-10-08 18:50] kacole2 commented on #1922
@alexmcroberts i added in a small nugget for better error messaging. #1957

[2015-10-08 19:34] carolynvs commented on #1954
Of course! I'm happy to help out however I can.

If you want to just make a branch and point me to it, I can build it myself (:heart: containerized builds!). That way you don't need to throw multiple builds over the wall if this takes more than one attempt.

[2015-10-08 21:26] kevinsimper commented on #1948
@nathanleclaire It is a bug, you can't change the adapter, it always changed back to vboxnet7 when you run `docker-machine up`

[2015-10-08 22:37] nathanleclaire commented on #1948
@kevinsimper You mean `docker-machine start`?

[2015-10-08 22:37] nathanleclaire commented on #1948
What's the reason you'd like to change the Network adapter?

[2015-10-08 22:52] kevinsimper commented on #1948
Yes, i mean `docker-machine start`.

I want to have my main machine to have another network adapter, which makes it possible to have a different dns server.

[2015-10-08 23:00] nathanleclaire commented on #1948
@kevinsimper Why not add it to "Adapter 3"?

[2015-10-08 23:47] grahampugh commented on #1826
Hi, thanks, that's interesting. I wonder why a vagrant VM has no problem mounting folders outside /Users, e.g. /Volumes/my-external-disk, but boot2docker can't.

[2015-10-08 23:51] sebicas commented on #291
What about http://rancher.com/rancher-os/ ?

[2015-10-08 23:53] smileyan commented on #1591
In my env, this is a virtualbox network issue. I had to
 (1) Change the Host-only Adapter to Bridged Adapter(en0 Wi-Fi).
      Then I can ssh docker@...
(2) docker-machine regenerate-certs
     Then 'docker-machine config'  works

[2015-10-09 00:46] nathanleclaire commented on #190
This has now been implemented for a wihle

[2015-10-09 00:47] #190 closed

[2015-10-09 01:40] skatsuta commented on #1790
I've also experienced this problem, and @nathanleclaire's sample code is interesting!
I may work on it...

[2015-10-09 01:58] kacole2 commented on #1922
@alexmcroberts this can be closed

[2015-10-09 06:25] glikson opened #1958 "Persistent volumes with OpenStack"
Is there an easy way to have persistent docker volumes with docker-machine running on OpenStack? For example, would it make sense to have docker-machine configure & use a block storage volume backed by OpenStack Cinder. Anyone working on this?

[2015-10-09 09:33] bjoern-jacobs opened #1959 "Support for Debian Wheezy"
I followed the installation steps at https://docs.docker.com/installation/debian/ for Debian Wheezy. However, I was unable to install the package docker-engine because of this error:

`The following packages have unmet dependencies:
 docker-engine : Depends: init-system-helpers (>= 1.18~) but it is not installable`

In issue https://github.com/docker/machine/issues/1607 I read that if support for

[2015-10-09 09:50] lswest commented on #1819
@nathanleclaire
Deleting the host-only network adapters has solved the issue.  Seeing as docker seems to use vboxnet0, it may only be necessary to make sure you don't have that name in use.  In any case, it's working now, and I'll have to see about fixing the issues with Vagrant and my other VMs with new interfaces.

No idea if it's possible, but if you can get the last item on a list of the host-

[2015-10-09 10:02] bjoern-jacobs commented on #1959
Sorry, wrong sub-project.

[2015-10-09 10:02] #1959 closed

[2015-10-09 10:52] darrenhaken commented on #1819
@nathanleclaire please update the github issue when a new version is released.

Are you coupled to the rest of the toolbox for your releases then? Seems like it could slow down your cadence that's all.

[2015-10-09 11:48] dracan commented on #1500
I get this issue after my host machine has gone to sleep, and I come back to it later. I end up deleting everything from my c:\users\dan\.docker\machine folder (other than the cache), then recreate it all again. It's quicker doing that than rebooting the host machine! ;)

[2015-10-09 11:50] dracan commented on #1500
Oh, and I also have to kill some processes before doing that. I tend to have 3 'VBoxHeadless.exe' processes, 3 'VBoxNetDHCP.exe', and a 'VirtualBox Interface'.

[2015-10-09 13:12] dgageot commented on #1914
Would you consider it ok to fail with a warning if there are more options than just the machine name?

[2015-10-09 13:13] willpriceb commented on #1914
That'd be better than silently failing IMO. I'm not sure if there is a more
desirable behaviour that could be achieved?

On Fri, Oct 9, 2015 at 2:12 PM, David Gageot <notifications@github.com>
wrote:

[2015-10-09 13:26] dgageot commented on #1914
We could imagine being able to consider trailing flags being valid flags.
It looks much more complicated than just failing though!

[2015-10-09 13:27] willpriceb commented on #1914
If it's possible then I think that would result in the best end user
experience, might be *fun* to implement though ;)

On Fri, Oct 9, 2015 at 2:26 PM, David Gageot <notifications@github.com>
wrote:

[2015-10-09 13:49] dgageot commented on #1914
I gave a shot to a PR. That's pretty simple. Can you take a look?
I'd like to add tests but would like to make sure it does the job first.

[2015-10-09 14:10] sascha-egerer commented on #1826
I just found the reason for this issue.
See this script of boot2docker
https://github.com/boot2docker/boot2docker/blob/master/rootfs/rootfs/etc/rc.d/vbox#L37

[2015-10-09 15:08] devth commented on #1739
:+1: I have this exact same issue.

[2015-10-09 15:16] blaggacao commented on #1934
Copied for reference.

- Wake up PC from sleep
- Try docker images (won`t work)
- Open VirtualBox -> Close VM with saving state (CTRL+V)
- Run your VM again
- Try docker images again (now should work)

Please note: All steps are in VirtualBox only! Running docker-machine restart default will create another host-only adapter, which is something you do not want. If you did it anyway, delete all addi

[2015-10-09 15:25] ericchapman commented on #1448
I keep my "~/.docker/machine" folder under source control on my local machine (mostly for sharing it with my co developer).  I was able to see that my local key also got corrupted somehow.  I ended up reverting the change and copying the original files back onto the droplet in question and everything worked again.  Mine was a little different though where one of the files was modified and the othe

[2015-10-09 15:48] brianm commented on #1455
Was this fixed? I haven't seen an update that has better behavior, yet :-(

[2015-10-09 18:06] chrisleck commented on #1433
Also seeing this

[2015-10-09 18:23] dmp42 opened #1962 "Building with docker generates a binary for linux regardless of the host"
`USE_CONTAINER=true make` will generate a single binary for linux, even if you are running on OSX.

This is contrary to the user expectations.

We should make the makefile smarter to detect the *host* ARCH and OS (if TARGET_* are not explicitly specified by the user), in the case where we build with docker.

Assigning @dgageot and @jeanlaurent ;)

[2015-10-09 18:26] dgageot commented on #1962
dibs

[2015-10-09 19:06] nathanleclaire commented on #1923
@kacole2 Is correct, if changing AMI you must also change other parameters such as user.

[2015-10-09 19:06] #1923 closed

[2015-10-09 19:40] dmp42 commented on #1958
cc @ggiamarchi

[2015-10-09 19:45] matt-deboer opened #1963 "docker-machine; auto-copy trusted ca certs from host to new machines /var/lib/boot2docker/certs"
This is maybe a question, maybe an issue.
I've noticed (using the latest 1.8.2 version) that after creating a machine (virtualbox) via docker-machine, I have to go through a set of manual steps in order to access any docker registries through a corporate MITM firewall, which re-signs tls using it's own cert.
These steps work:
1. copy my trusted firewall cert pem files onto the machine, into a dir

[2015-10-09 20:49] canadaduane commented on #1817
Has either direction been pursued further? We're running in to this issue as well (specifically with npm package `image-webpack-loader`) and we haven't been able to find a work-around. If the npm folks have been notified of this problem, is there a github ticket for it? If not, does implementing `chown` as `noop` pass muster?

[2015-10-09 21:00] canadaduane commented on #1817
FYI this relates to https://github.com/codekitchen/dinghy/issues/17

[2015-10-09 21:35] alexmcroberts commented on #1922
Excellent! Thanks for the fix!

[2015-10-09 21:35] #1922 closed

[2015-10-09 23:01] hassek commented on #1792
+1

[2015-10-09 23:15] dmp42 opened #1964 "Work with homebrew to get the formula updated"
Coming up with the plugins system, the build will be quite different.

Currently they are using this: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/docker-machine.rb

We need to discuss with them so that they either:

 * use the makefile and call `make build` (recommended)
 * adjust their `go build` call to build all plugins

Alternatively, we may just do it ourselves land sugge

[2015-10-10 01:38] Blake- commented on #1684
Another fixed... On Windows 7 I uncommented

127.0.0.1 localhost

and got unstuck from the  "Starting VM" problem

[2015-10-10 01:52] nathanleclaire commented on #1684
Since this issue has mostly users who have an SSH configuration issue and/or an issue with `localhost` lookup (both of which have fixes on master), I'm going to close this.  If using a master or 0.5.0 (soon to be released) build does not clear up the problem, please file a new issue.

- N

[2015-10-10 01:52] #1684 closed

[2015-10-10 04:00] xavierchow commented on #1693
I met exactly the same error:

After spent tons of hours including checking files permission and the certs, finally I came to here and fount it was just net proxy problem.
Adding the VM ip in `no_proxy` env works fine for me.

[2015-10-10 11:26] miguelqvd commented on #1433
I've found the issue!

you just need to do:
chmod 600 id_rsa

where id_rsa is the private key for your specific virtual machine

[2015-10-10 12:11] jitakirin commented on #1896
Could it be SSH multiplexing (#1572)?

In any case I also think ignoring user's SSH config is undesired, it is usually there for a reason (reducing auth prompts, multi-hop connections, etc.).  I think it would be better to work out which option is causing issues and adjusting code to work with it.  E.g. for SSH multiplexing the most likely culprit is (as mentioned in #1572) that SSH has a bug wher

[2015-10-10 13:38] djaed commented on #1591
been getting exact same error, but managed to solve my case by "**enable virtualization**" in bios.

troubleshoot involved:
1. using debug flag: `docker-machine --debug create --driver virtualbox dev`
2. check "dev" vm network settings in VirtualBox Manager, assuming it was an adapter / port forwarding issue
3. by chance I double clicked on the running "dev" vm in VirtualBox Manager, which opens a

[2015-10-10 14:24] 1905 commented on #1931
got this today. +1

[2015-10-10 15:19] cmouttet opened #1967 "OpenStack instance starts up but docker-machine doesn't get its IP address"
The instance is started and I'm able to connect to it via ssh (with keypair). I found that the AddressType in client.go isn't set to any default. I guess that the address type is not replied by our OpenStack instance. It's a quite old installation (don't know the version).

[code]

After adding "AddressType: Fixed" as default, "docker-machine create" works perfectly.

[code]

[2015-10-10 15:22] cmouttet commented on #1967
https://github.com/docker/machine/pull/1968

[2015-10-10 15:59] buddhafinger commented on #1699
Thanks dude, this helped me out.

[2015-10-10 16:00] buddhafinger commented on #1801
I was experiencing similar issues:

My setup:
- OS X 10.10.5
- VirtualBox 5.0.4
- Docker Toolbox 1.8.2c

Problems experienced:
- Quickstart terminal launches default instance and then prompts for password.
- Same D-Bus not installed errors in the log.
- Unable to successfully recreate the instance using Kitematic (failed as unable to connect to instance)

Resolution:
- Deleted the default docker m

[2015-10-10 20:51] bentruyman commented on #1954
Another thing to possibly consider while fixing this, some folks like myself [actually write out](https://github.com/bentruyman/dotfiles/blob/9f3eed37eebd6a9ed1efd5a800b322810bc04946/env/docker.sh#L10) the contents of `docker-machine env` to a file which I'll source for each new terminal session (as it's a little faster than running `docker-machine env`). If the output of this command contains any

[2015-10-11 06:46] djimenez commented on #1867
pull request #1873 was merged, this is redundant now i think?

[2015-10-11 06:46] #1867 closed

[2015-10-11 13:28] damselem commented on #1945
Not sure if it will help, but in my case the problem was caused by PF on Mac OS X. My machine was filtering certain packets and I only had to add a `pass` rule in one of my anchor files. For example:

[code]

Note that this will allow all packets to go through, so I recommend you to customize it to a more specific rule like:

[code]

You can read more about these rules using `man pf.conf`. Remembe

[2015-10-11 14:30] kbullaughey opened #1970 "docker-machine ssh buffering issue, messes up tail -f"
I am trying to upgrade from `boot2docker` to `docker-machine` using a mac. I used to be able to do this:

    boot2docker ssh "tail -f /somelogfile.log"

And I was assuming that this would work similarly with `docker-machine`, however the following doesn't show any output:

    docker-machine ssh default "tail -f /somelogfile.log"

If I don't follow and let the command complete, it returns output:

[2015-10-11 15:29] JurrianFahner commented on #504
+1

[2015-10-11 16:00] EvanMcClure commented on #1698
I attempted the workaround described by @kacole2, but it failed, too. I'm not sure if it's the same error because I never logged into the machine.

First, I downgraded docker-machine to 0.3.1:
[code]

Then, I attempted to create my machine:
[code]

And I received the following error after:
[code]

The machine exists in the list, which is good so that I can remove it:
[code]

But, I can't SSH to it

[2015-10-11 16:19] michaeltricht commented on #1573
@nathanleclaire The link you posted sadly has no builds, any idea where I can find them?

[2015-10-12 02:27] LongYC commented on #1433
I had an extra name, e.g. `127.0.0.1 localhost myextraname` which gives me this issue, having exactly `127.0.0.1 localhost` seems to solve the issue although I don't really understand why.

[2015-10-12 02:55] miguelqvd commented on #1433
Sorry I didn't explain why **chmod 600 ~/.docker/machine/machines/default/id_rsa** fixed the issue for me.

If you execute docker-machine using --debug you will see that it calls ssh internally. If you copy the whole ssh command and add -v for verbose you will see that ssh warns you about low security in ~/.docker/machine/machines/default/id_rsa because it should be only rw for the user owner of t

[2015-10-12 07:06] gdm85 commented on #1945
@kacole2 I can't easily access AWS/GCE, maybe later this week.

As of this morning I get a new error:
[code]

Re-creating the docker-machine helped.

[2015-10-12 07:58] jjperezaguinaga commented on #1802
One place where I could see this useful are development environments. Currently, using Vagrant with docker is pretty handy because I can just put a `Vagrantfile` into the source code and ask my team members to just do `vagrant up`; they don't need to wrap their heads around the concept of the host machine vs the actual containers, they just want to work and use something that reflects their change

[2015-10-12 09:20] dgageot opened #1972 "Google Driver is broken in master"
Google Driver was broken by PR #1633

[code]

[2015-10-12 09:38] ggiamarchi commented on #1958
@glikson This is not handle at the moment. Just to be sure what exactly you want to do, can you confirm the following scenario match your use case ?

1. I create a docker host using docker-machine with a cinder volume attached and mounted on `/data`
2. I spawn a container on this host with a docker volume mounted from `/data/vol1`
3. I destroy the docker host
4. I repeat steps 1. & 2. with the sam

[2015-10-12 10:11] glikson commented on #1958
@ggiamarchi -- yes, this is the scenario we had in mind, more or less (cc @KennethNagin).
Optional creation of the cinder volume as part of the flow might be very helpful, given that docker-machine aims at minimizing user's direct interaction with OpenStack (as far as I understand).
With cloud-init support, seems that several things which are currently in docker-machine can potentially move there.

[2015-10-12 11:13] bfirsh commented on #190
Niccceee

[2015-10-12 11:15] bfirsh commented on #190
@nathanleclaire About internal representation of hosts... This has bitten Engine where they just dump the internal struct for API calls and now it's a pain to refactor internals, etc. Just good practice to have explicit serialisation steps, I think.

[2015-10-12 13:24] dgageot opened #1974 "Makefile is broken"
The Makefile is broken in multiple ways.

I've got multiple failures when trying to test machine on OSX.

+ out-of-container `make test` fails
+ in-container `make test` fails for a different reason
+ out-of-container `make clean` can't clean the binaries created by in-container `make build-x`

Here are the build outputs

[code]

[code]

[code]

[2015-10-12 13:38] dgageot opened #1975 "machine godoc contains an import statement"
Documentation at https://godoc.org/github.com/docker/machine contains

[code]

I believe the `import "github.com/docker/machine"` line shouldn't be here

[2015-10-12 14:59] jeanlaurent commented on #1974
For what's is worth, (it doesn't make the build more reliable), but tests run, on a out of coutainer build (ie with golang), on a clean checkout at 6a5219b879db52698ccb2b7e0aafd516b34df839
'''
machine [master|✔] > git last
commit 6a5219b879db52698ccb2b7e0aafd516b34df839
Merge: caab273 7c8fc35
Author: Olivier Gambier <dmp42@users.noreply.github.com>
Date:   Fri Oct 9 15:44:14 2015 -0700

    Merge

[2015-10-12 17:59] nathanleclaire commented on #1974
cc @dmp42

[2015-10-12 18:00] dmp42 commented on #1974
Fresh clone:

 * `make test` out of container: WFM - can you check the status of your tree? uncommited files? dirty branch?
 * `make test` inside container: WFM, but docker build cache might be an issue - worth looking into
 * fixing `make clean`, let's `-R`
[code]

@dgageot can you take the last one fix and investigate for the rest?

[2015-10-12 18:03] dmp42 commented on #1975
It really depends what we want (this is governed by the presence of a top-level package, here doc.go).

Examples:

 * with a top level package: https://godoc.org/github.com/docker/distribution
 * withou: https://godoc.org/github.com/docker/swarm

[2015-10-12 18:17] nathanleclaire commented on #1970
I think https://github.com/docker/machine/pull/1951 should fix this when merged.  We were not handling connecting to STDIN, STDOUT, and STDERR for that form of command properly.

[2015-10-12 19:25] gamelinchpin commented on #1709
+1 (y)

[2015-10-12 19:36] nathanleclaire commented on #1573
@michaeltricht Looks like the unofficial master binaries are having a hiccup -- in the interim your best bet is to build yourself from source.

[2015-10-12 22:08] dgageot commented on #1975
If we have a `main.go` that contains package `main` annotated with this documentation and we change `machine.go` package to either `cmd` or `machine`, I think it get rid of the `import "github.com/docker/machine"` line in the documentation. wdyt?

[2015-10-12 22:11] dgageot commented on #1974
+ `make test` out of container: no uncommited file, no dirty branch. I don't get where the problem comes from.
+ `make test` in container: Are you on linux or OSX? I'm on OSX. It fails on the Username. I'll investigate.
+ `make clean` I'll do it, thanks a lot.

[2015-10-12 22:28] MRylander commented on #1709
+1

[2015-10-12 22:54] dmp42 commented on #1974
Use `VERBOSE=true make foo` to get go -v output (might help figure it out).
I'm on OSX otherwise.

[2015-10-13 07:23] mrumpf commented on #1696
Under Windows 7 (VirtualBox) it seems that the timeout is too low. When I run the command ```docker-machine ls``` frequently I see that the virtual machine is running. When I wait 30 seconds and run the ls command again, I get a timeout for the same machine. Running the command again shows active again.

[2015-10-13 07:48] anth0 commented on #1684
Same here for windows 7: uncomenting 127.0.0.1 localhost in etc/hosts fixed it.

[2015-10-13 12:27] fcastel commented on #1754
I have exactly the same error here.

Is there any news or update on this problem?

(I use Window 7, Docker-Toolbox 1.8.2.c, Virtual Box 5.0.6, docker-machine 0.4.1)

[2015-10-13 14:39] kacole2 commented on #1958
@glikson @ggiamarchi I took a stab at this already. Take a look at #1765 and #1881. There is a Docker Volume Driver called [REX-Ray](https://github.com/emccode/rexray) that supports Open Stack volumes. If you can use 3rd party extensions like my proposal and PR would allow, then this could easily be achieved. Let me know what you think.

[2015-10-13 15:13] dgageot commented on #1974
@dmp42 I don't understand how it can work for you. Here's the test that fails for me:

[code]

The test tries to compare `GetUsername()` with `os.Getenv("USER")` but:
+ `GetUsername()` returns `unknown` because `USER` is not set in the `golang:1.5.1` image
+ `os.Getenv("USER")` returns `""` for the same reason

[2015-10-13 15:14] dgageot commented on #1974
Let's forget about `make test` out of container because it looks like it was caused by something that is not there anymore when I remove everything but machine from my `$GOPATH`

[2015-10-13 15:25] mingfang commented on #888
I'm having the same problem.
Rebooting does not help.

[2015-10-13 15:30] dgageot commented on #1975
@dmp42 I tried to implement what I was talking about. Does it make sense?

[2015-10-13 15:33] ianlintner-wf commented on #986
I have been having to use the --native-ssh flag with everything, but it works. (Debug is just there for testing)
e.g.
docker-machine -D --native-ssh create --driver=virtualbox default
docker-machine -D --native-ssh=true ssh default
docker-machine -D --native-ssh=true env default

[2015-10-13 15:40] nh commented on #1709
+1

[2015-10-13 15:45] dgageot commented on #1775
@dmp42 Can we close this one?

[2015-10-13 16:41] chrisleck commented on #1433
That didn't work for me, though your pointers helped me dig in.  Thanks!

In my case, the private key I had did not match the key in the VM.  Looks like there's a race somewhere with key generation/propagation.

[2015-10-13 16:53] bazbremner commented on #1896
@jitakirin I suspect so - I did have multiplexing in my previous SSH config. It probably makes sense to close this issue in favour of #1572.

[2015-10-13 17:05] olibob commented on #1328
I ran in exactly that problem today to give access to a colleague.

[2015-10-13 19:09] rygood commented on #1433
In order to correct this problem. I had to:
- ensure my etc/hosts had a 127.0.0.1 localhost entry
- open Virtualbox and shutdown then remove my VM, including all files
- run docker-machine rm dev & docker-machine rm default
- close my terminal (cmd+Q)
- then run the Docker Quickstart Terminal (using DockerToolbox-1.8.3)

[2015-10-13 20:18] uptownhr opened #1980 "docker-machine configuration sharing with team"
What is the best way to share docker-machine configurations with the team?

I'm aware that you can share the machine directory with another person, and they can also get the machine details and be able to connect through docker machine. However, is this a necessary step? Is there a better way without having to transfer the docker machine directory?  For example, if we were to share the certs in .d

[2015-10-13 20:19] dmp42 commented on #1974
@dgageot indeed, out of container fail with stuff in $GOPATH rings like golang import lookup oddities related to GOVENDOR.

About in container: agreed that test cannot work - the test needs to be fixed and/or the code amended to deal with that case.

[2015-10-13 20:52] thaJeztah commented on #1980
Hi @uptownhr, I think this is a duplicate of https://github.com/docker/machine/issues/23, if you agree, can you close this issue?

[2015-10-13 20:58] nathanleclaire commented on #1974
We used to set `USER` environment variable in our Dockerfile, but it was taken out in recent changes.  It should probably be added back in.

[2015-10-13 21:01] #1775 closed

[2015-10-13 21:10] dmp42 commented on #1974
@nathanleclaire indeed, my bad.

So, question: will machine work if there is no USER set?

[2015-10-13 21:11] uptownhr commented on #1980
yup the same :) thanks!

[2015-10-13 21:11] #1980 closed

[2015-10-13 21:12] thaJeztah commented on #1980
Thanks for reporting!

[2015-10-13 21:13] uptownhr commented on #1328
+1 !!!!!

[2015-10-13 21:13] uptownhr commented on #23
+!

[2015-10-13 21:47] remram44 opened #1981 "ssh-config command"
Vagrant has a command to connect to a machine, `vagrant ssh`. It has a command that gives out the configuration to connect to the machine, with `vagrant ssh-config`.

Similarly, we have `docker-machine ssh`. I really really think there should be something equivalent to `docker-machine ssh-config`, to connect to the machine directly, all the more so since `docker-machine ssh` does not take SSH opti

[2015-10-13 21:52] remram44 commented on #1758
This is actually not enough, since there is no reliable way to get the SSH port number. I filed #1981.

[2015-10-13 22:02] nathanleclaire commented on #1981
@remram44 Could you paste the output of said `vagrant ssh-config` command, so I could get a feel for what you're after in particular?

[2015-10-13 22:15] cusspvz commented on #23
Currently we are using a git repo for sharing docker settings, problem is that some of us have virtualbox machines and thats the down-side

[2015-10-13 22:54] nathanleclaire commented on #1974
I don't think so; we need it to set the user in the certificates.

[2015-10-13 23:39] remram44 commented on #1981
Anything that gives me the info I need, in any format, would do. I'm fine with JSON.

This is the exact output from `vagrant ssh-config`:
[code]

[2015-10-13 23:43] nathanleclaire commented on #1981
Yeah, it's a SSH config file.  Thanks!

[2015-10-13 23:45] remram44 commented on #1981
*I, personally*, don't need this to be an SSH config file, but it might be nice to have. Thank you for looking into this!

[2015-10-14 00:12] Oliboy50 commented on #1328
Seems to be a duplicate of #23, right ?
Almost 1 year since we're talking of this feature, some have tried to make PR for it, but there were closed...
Hope this feature will be on the next (major) release :)

[2015-10-14 00:53] #1906 closed

[2015-10-14 03:58] JoeCoATL commented on #1433
Yes, yours was the right answer @rygood . Worked for me.

[2015-10-14 04:18] dmp42 commented on #1974
`GetUserName` will still return `unknown`, correct?

https://github.com/docker/machine/blob/fe5a72299da0407a6c8f122b8719f705ddd1b60d/libmachine/mcnutils/utils.go#L27

[2015-10-14 07:17] #1975 closed

[2015-10-14 08:13] mrumpf commented on #1500
I woke up my notebook and deleted a docker-machine instance with name "dev".
I ran the following commands to create two new virtual machines:
[code]

The ```docker-machine env dev --shell=bash``` hangs for some minutes and dumps the following to stdout:
[code]
The log output can be found in this [Gist](https://gist.github.com/mrumpf/0210a75cf54cfd21de1b).

The strange thing is that the correct out

[2015-10-14 11:35] dgageot commented on #1764
Closing duplicate of #1698

[2015-10-14 11:35] #1764 closed

[2015-10-14 12:00] dgageot commented on #1919
Hi @jeffellin, the doc was updated since your report. Do you think it's ok now?

[2015-10-14 12:05] dgageot commented on #1719
Hi @codefoster can provide more details? Otherwise I'll have to close the issue

[2015-10-14 12:10] dgageot commented on #1673
@ehazlett was this issue closed by [this PR](https://github.com/docker/machine/pull/1674)?

[2015-10-14 12:12] dgageot commented on #1535
Duplicate of #1914. Closing

[2015-10-14 12:12] #1535 closed

[2015-10-14 12:12] jeanlaurent commented on #1760
This sounds like resolved to me and an "old story". Feel free to disagree by re-opening if you think the wording is faulty.

[2015-10-14 12:12] #1760 closed

[2015-10-14 12:21] arussellsaw commented on #1491
+1 currently running into some 'clever' client issues with Couchbase and pointing the client at non forwarded addresses

[2015-10-14 12:38] dgageot commented on #1945
Hi @embrown30, can you share the output of those commands:

[code]

Please DO remove personal information like PRIVATE KEYs from the output

[2015-10-14 14:36] pankajavhad commented on #792
This solved the issue for me
`docker-machine start dev`

[2015-10-14 15:15] ain commented on #1937
Problem resolved by swopping Google DNS so that `8.8.8.8` became primary and `4.4.4.4` secondary DNS server. May have been DNS cache issue.

[2015-10-14 15:15] #1937 closed

[2015-10-14 15:44] dgageot opened #1983 "Host needs VT-x/AMD-v enabled for docker-machine to work on virtualbox"
If VT-x or AMD-v are not enabled on the host machine, the vm won't boot boot2docker properly and the whole creation process will hang forever.

To reproduce:

[code]

, on a host without VT-x/AMD-v

We need to:
+ Detect that VT-x/AMD-v is not enabled and fail as early as possible
+ Understand why the `start` command hangs for what it looks forever

[2015-10-14 16:40] dgageot opened #1984 "Fail to create default machine on Windows/Virtualbox"
I'm trying to create a `default` machine on windows 8.1 and it fails.

[code]

The vm is created in Virtualbox and when I try to start it manually, I get this error dialog:

[code]

When I try `sc.exe query vboxdrv` as told, I get this:

[code]

Il also get another error dialog in Virtualbox that says I should take a look at
`.docker\machine\machines\default\default\Logs\VBoxHardening.log`. Here i

[2015-10-14 16:43] dgageot commented on #1984
I also tried to start the machine before rebooting:

[code]

[2015-10-14 17:27] #1972 closed

[2015-10-14 17:28] #1914 closed

[2015-10-14 17:48] dgageot opened #1985 "CI should run in container"
The project can be built in-container and that's the only way to make sure the developer host has no impact on the build/tests.

Currently, on test is broken in-container but passes on most developer workstations.
Nobody noticed because:

+ Developer tend to not use in-container build because it's slower. That's OK.
+ The CI doesn't run the in-container build. That's **not** OK.

We should update

[2015-10-14 17:50] dgageot commented on #1974
I'm reopening the issue because not everything is fixed.

[2015-10-14 17:52] dgageot commented on #1974
Does somebody know why we don't use golang's `user.Current` Api to find the username?

The failing code was introduced with [this commit](https://github.com/docker/machine/commit/720c4edfd23d86b0ca5e226d07a933edeff741d7)

Hi @ehazlett, any idea on that subject?

[2015-10-14 18:22] dmp42 commented on #1983
Random googling :-)

http://stackoverflow.com/questions/21537769/programatically-detect-if-vt-x-or-amd-v-is-enabled-on-windows

https://www.virtualbox.org/ticket/10694

[2015-10-14 18:59] thaJeztah commented on #1983
Also see https://github.com/docker/toolbox/issues/166

[2015-10-14 19:22] sidlinux22 commented on #1433
@rygood  +1 .Worked for me.

[2015-10-14 19:31] smithkyle commented on #1402
+1 to the above. This has been a pain in my side after my initial excitement at being able to use machine to manage already-existing docker machines.

[2015-10-14 19:53] jeanlaurent commented on #1983
Got this one which explain for windows and linux how to detect it.

http://stackoverflow.com/questions/840873/how-to-determine-if-hardware-virtualization-is-available-via-code-c-c

[2015-10-14 20:42] nathanleclaire commented on #1500
@mrumpf If you add a trailing slash to the *PROXY options e.g. `--engine-env HTTP_PROXY=http://10.206.246.20:8080/`, does it succeed or continue failing?

[2015-10-14 20:43] nathanleclaire commented on #1673
@dgageot Yep nice catch

[2015-10-14 20:43] #1673 closed

[2015-10-14 21:07] nathanleclaire commented on #1937
Thanks for following up to close @ain

[2015-10-14 23:24] nathanleclaire commented on #1974
@dgageot I think because it is a case, much like finding the user's home directory, where the Go library actually depends on cgo and therefore makes cross-compilation impossible.

[2015-10-14 23:27] nathanleclaire commented on #1983
I think my main concern in the immediate future is to detect this case for Windows users (the most likely to have it disabled), so maybe we can focus on that.  I don't see any reliable way to find the information in the links referenced without assuming something like Powershell, though.  Maybe I'm overlooking something.

At any rate, can `VBoxManage` itself detect whether virtualization is enable

[2015-10-15 07:24] azpekt opened #1986 "[feature request] Option to set AWS EC2 tags"
Hello, due to requirements of my client, I need docker hosts in AWS to have an additional tags. I saw tags implemented for Machine name in docker-machine source code, but no option to add more tags.

Is this functionality is planned to be implemented?

Thanks!

[2015-10-15 07:48] dgageot commented on #1983
We should be able to detect that VT-x/AMD-v is enabled on windows with this command:

[code]

If wmic is not available then we could create the vm anyway and then use `VBoxManage showvminfo` to see if it is enabled.

[2015-10-15 08:12] dgageot commented on #1986
Hi @azpekt, no it is not planned. It shouldn't be too hard to implement though. Would you like to try?

[2015-10-15 08:16] dgageot commented on #1974
@nathanleclaire How can I check? Would it refuse to cross-compile or just fail at runtime?

[2015-10-15 10:06] benbc commented on #1857
I see this with docker-machine 0.4.1.

[2015-10-15 10:53] dgageot commented on #1983
The only way I found to detect afterwards is to look at the vm's log in `~/.docker/machine/machines/default/default/Logs/VBox.log`

When is works, it says:

[code]

Otherwise it says:

[code]

[2015-10-15 13:09] gvisniuc commented on #1709
+1

[2015-10-15 13:23] flenoir opened #1988 "Machine IP accessible from terminal but not from browser"
Hi,

I am on OSX Yosemite
 i previously used docker-machine on my machine but now i have an issue and i can't figure out where is the problem/

 i can start docker-machine and run a container.

 in the terminal, i can ping the IP of the docker-machine ( nginx) but i can't access my nginx in my browser

 any idea ?

 thanks

[2015-10-15 13:38] KennethNagin commented on #1958
We have experimented with adding storage volume support to the openstack driver.
In brief the openstack driver already leverages  gophercloud to interact with OpenStack.
We enhanced the driver so that it could also create and attach a volume to the new docker host.
We introduced three new flags:
o	openstack-volume-size:  When the size is greater than zero the docker machine openstack driver will c

[2015-10-15 17:48] kacole2 commented on #1958
@KennethNagin i think you are being too specific and not thinking about it in terms of a framework. If you think about EC2, GCE, vSphere, etc there should be a common command that works amongst all of them. Again, there are already Docker Volume Driver Plug-ins available and those should probably be leveraged instead of re-creating the wheel from scratch.

The Docker Volume Plug-ins allow multiple

[2015-10-15 17:55] nathanleclaire commented on #1857
I think it has to do with VirtualBox DNS resolution, right?  Does `docker-machine restart default` fix it?  Also, does updating `/etc/resolv.conf` to point to, say `8.8.8.8` fix it?

[2015-10-15 17:57] nathanleclaire commented on #1974
@dgageot I could be mistaken, but I think cross-compilation will just fail.  Our current Makefile has `CGO_ENABLED=0` too which I think will play not so nicely.

[2015-10-15 18:34] dgageot commented on #1974
Cross compilation does not fail. So what now

[2015-10-15 18:38] patrickaroo commented on #1857
Also having this on docker-machine version 0.4.1.

[2015-10-15 19:03] remram44 commented on #1500
I'm getting this right now on Debian 8.2.

[2015-10-15 19:19] sebastienhouzet opened #1992 "Machine IP could not be fetched. - MAC OS X El Capitan"
Hello,

impossible to use docker mac os x since El Capitan.

With Kitematic:

<img width="304" alt="capture d ecran 2015-10-15 a 21 17 35" src="https://cloud.githubusercontent.com/assets/2550639/10524919/4ab6b77e-7382-11e5-9cc4-6a7a3cf4c781.png">

With Terminal:

xit status 255
docker is configured to use the default machine with IP
For help getting started, check out the docs at https://docs.dock

[2015-10-15 19:59] dmp42 commented on #1974
@dgageot this is probably this https://github.com/golang/go/issues/6376

[2015-10-15 20:59] nathanleclaire commented on #1974
@dgageot Sorry, if you see the comment on the other issue, I did a little research and the issues seem to not show up until runtime.

[2015-10-15 21:17] rbabayoff commented on #1898
+1

[2015-10-15 21:19] #1967 closed

[2015-10-15 21:31] GameGamer43 commented on #1031
I agree, docker-machine should pass ```-o ControlMaster=no```

[2015-10-15 22:13] nathanleclaire commented on #1031
@GameGamer43 It does.  When the 0.5.0 release hits (est: Oct 29) it will fix that issue.

[2015-10-15 22:13] nathanleclaire commented on #1031
Closing as this is diverged in a variety of directions:  soon I will be cleaning up and consolidating the various issues around VirtualBox / hangs

[2015-10-15 22:13] #1031 closed

[2015-10-15 23:40] nathanleclaire commented on #1988
Can you post the specific commands you're running please?

[2015-10-16 00:58] ianlintner-wf commented on #1709
Temporarily I am using some bash scripts to update the hosts files but is kludgy since you have to update /etc/hosts via sudo'd script but since you can get ip from docker-machine it works. I may share a gist.

[2015-10-16 03:06] jeffellin commented on #1986
I have spent a bit of time looking at this driver, it really isn't too hard to implement,  however in the meantime you can probably accomplish the same with the AWS cli and a shell script that does both operations.

[2015-10-16 03:15] jeffellin commented on #1919
@dgageot While this is better I would still like to see a paragraph on where to clone the repository to.  Simply "Then clone the machine repository inside your gopath" is confusing to a new go user since it needs to be in a specific subdirectory.

I do like your idea of the following

[code]

[2015-10-16 03:17] jeffellin commented on #1898
For those of you adding +1, the pull request is out there with this functionality.

[2015-10-16 03:23] devopsguru commented on #1709
ianlintner-wf, do share the script please. I'm about to write one exactly like that myself, but if I can not reinvent the wheel that'd be great.. yeah..

[2015-10-16 04:05] rbabayoff commented on #1328
This is absolutely required in continuous delivery scenarios, where you want to deploy using those keys from Travis or Circle CI. Any clue regarding ETA?

[2015-10-16 04:06] rbabayoff commented on #1898
ETA for supporting it in digital ocean?

[2015-10-16 05:32] glikson commented on #1958
@kacole2 -- I think @KennethNagin is targeting the default volume driver, allocating volumes from a local filesystem on the host. It is just the underlying infrastructure piece -- i.e., making this local filesystem backed by a "really" persistent storage - which is missing. It makes perfect sense to support automated configuration of different volume drivers (potentially also leveraging Cinder und

[2015-10-16 08:32] tejksat commented on #1934
Run into the same issue (as described in https://github.com/docker/docker/issues/16265) **every** time my notebook wakes up from sleep.

Dzoukr suggestion unfortunatelly doesn't help. But @blaggacao with deletion the host only network and subsequent restarting the docker machine helps. While following @blaggacao instruction I noticed that *IPv4 Address* and *IPv4 Network Mask* parameters in *Host-

[2015-10-16 08:49] Dzoukr commented on #1934
After each docker-machine restart, new host-only network is created. Did you try to set just one host-only network (delete the others), suspend VM from VirtualBox and start it after PC waken from sleep?
I had few troubles with more host-only networks created before I tried this approach. Sorry my approach does not work for you, @tejksat

Anyway, I´ll post here host-only network IP setup, maybe it

[2015-10-16 15:23] dallas commented on #641
This seems to still be an issue for me.

Docker version 1.8.3, build f4bf5c7
docker-machine version 0.4.1 (HEAD)
docker-compose version: 1.4.2
Boot2Docker version 1.8.3, build master : af8b089 - Mon Oct 12 18:56:54 UTC 2015

Inside `docker-machine ssh dev`:
[code]
should have these files:
[code]

[2015-10-16 15:26] frapposelli commented on #641
@dallas can you please open a new issue and CC me? Shared folders support has changed dramatically since this issue was worked on.

Make sure to include a `df -h` in the new issue.

[2015-10-16 15:36] dallas commented on #641
Perhaps I should also mention this is all on a brand new MacBook Pro running El Capitan. VMware Fusion version 8.0.1 (3094680). I had initially downloaded and install the Docker Toolkit with VirtualBox and then later added VMware Fusion at which point I completely uninstalled Docker (using this script: https://github.com/docker/toolbox/blob/master/osx/uninstall.sh) and VirtualBox (by manual file d

[2015-10-16 15:36] dallas commented on #641
Will do. Thanks, @frapposelli!

[2015-10-16 15:44] dallas opened #1995 "(Lack of) shared folders support using vmwarefusion driver"
Brand new MacBook Pro with El Capitan installed version 10.11 (15A284).
VMware Fusion version 8.0.1 (3094680).
Docker version 1.8.3, build f4bf5c7—installed via `brew install docker`.
docker-machine version 0.4.1 (HEAD)—installed via `brew install docker-machine`.
docker-compose version: 1.4.2—installed via `brew install docker-compose`.
Boot2Docker version 1.8.3, build master : af8b089 - Mon Oct

[2015-10-16 15:46] frapposelli commented on #1995
@dallas can you run a `df -h` inside the boot2docker vm? that will tell if shared folders are running or not

[2015-10-16 15:48] dallas commented on #1995
Oh, yeah. Sorry!

[code]

[2015-10-16 15:57] frapposelli commented on #1995
@dallas your issue stems from a misaligned release between `docker-machine` and `boot2docker`, `boot2docker` is fine but you should compile and run `docker-machine` from the tip of `master` as you're missing this critical commit in `v0.4.1`: c3ed882b7612124ca8f050ff0275660082a41651.

[2015-10-16 16:16] dallas commented on #1995
Oh. Can I do that using homebrew or should I use one of the release downloads?

[2015-10-16 16:20] ianlintner-wf commented on #1709
Here is the primary script I am using. I cleaned it up a little, but it lacks more formal default params and other stuff.

https://gist.github.com/ianlintner-wf/a2b917158aaf100d9fb3

[2015-10-16 16:37] frapposelli commented on #1995
I don't think there is a nightly build available, paging @ehazlett and @nathanleclaire for that.

Best option would be to just clone the repo and compile it with `make remote`, that doesn't require shared folders to work.

[2015-10-16 16:38] dallas commented on #1995
Okay, I will give that a shot and post back here with the success or failure.

[2015-10-16 16:45] dallas commented on #1995
I'm sorry, could you provide slightly more instructions on how to build it? Am I supposed to build it inside of a VM, inside of a docker container in a VM? I tried `make remote` on my local system inside the root folder of the project and first it complained that I didn't have `go` installed. So I ran `brew install go` and set my `GOPATH` and tried `make remote` again, which immediately exited wit

[2015-10-16 17:25] mnichols commented on #792
Thanks @Telemakhos that sorted my network issues out as well. I didn't have any VPN on my networks but it was still failing.

[2015-10-16 18:59] slank commented on #986
+1 @ianlintner-wf

@ehazlett's build doesn't fix the problem for me, but --native-ssh=true does.

[2015-10-16 20:31] dhesson commented on #1437
Yay! You're a savior.

[2015-10-16 20:35] nathanleclaire commented on #986
@ianlintner-wf FYI, setting the `MACHINE_NATIVE_SSH` environment variable will allow you to avoid having to type `--native-ssh` every time as well.

@slank @ianlintner-wf What's your `~/.ssh/config` file like?

[2015-10-16 20:45] frapposelli commented on #1995
@dallas see https://github.com/docker/machine/blob/master/CONTRIBUTING.md for instructions on how to compile machine from source.

[2015-10-16 20:56] nathanleclaire commented on #1995
Chiming in to say there's a possibility `make remote` might be busted due to recent `Makefile` changes.  cc @dmp42 can you confirm it works please?

[2015-10-16 21:21] soleo commented on #1986
Would adding an parameter ``--tags="key:k1,k2,value:v1,v2,"`` be okay for this? If it sounds good, I could help to get this done.

[2015-10-16 21:42] slank commented on #986
After some testing, it seems to be related to my having `ControlMaster auto` as a default in my SSH config. If I disable it, everything works. Oddly, SSH still uses a master if I explicitly set `ControlMaster no` in a `Host localhost` block so I can't really work around the problem without substantial sacrifice.

Looking at the debug output from `create` with `ControlMaster enabled`, I see that th

[2015-10-16 22:19] arun-gupta opened #1996 "[virtualbox] Multiple machines have the same IP address"
Through some (don't remember) combination of stop/restart Docker Machine, duplicate IP addresses are assigned to two machines now. `docker-machine ls` shows:

[code]

Ouch, this is totally broken!

[2015-10-17 04:00] dallas commented on #1995
I'll take a look at the CONTRIBUTING file and give it another shot, @frapposelli & @nathanleclaire. I'll be out of the country (and away from my computer) all next week, so I won't be able to try out other things during that time. Thanks for your help, guys!

[2015-10-17 05:28] dallas commented on #1995
Just kidding—I'm not going to have adequate time before I leave. I'll check back in on this issue in a week. Thanks again!

[2015-10-17 05:56] azpekt commented on #1986
Hi @dgageot , I`m absolute noob in Go, so I`d rather leave that to professionals :)

I believe, any format that is in line with current docker-machine guidelines is fine.

Thanks for replies, guys!

[2015-10-17 18:50] hairyhenderson opened #1998 "V3 Config migration failure - can not unmarshal 7-digit (or larger) numbers into int"
One of my machine's configs (a digitalocean machine) is failing to migrate to V3:

[code]

I've dug into this and it looks like the second `json.Unmarshal` call (`json.Unmarshal(*rawHost.Driver, &m)`) in `host.MigrateHostV2ToHostV3` is converting the JSON number 5393473 into a `float64` - 5.393473e+06.

This seems to be something about how `encoding/json` [unmarshals numbers into `float64`s when u

[2015-10-17 21:20] slecache commented on #1984
I encountered this issue. Solved by reinstalling C:\Program Files\Oracle\VirtualBox\drivers\vboxdrv\VBoxDrv.inf

[2015-10-17 22:02] aventurella commented on #641
I am getting the same issue as @dallas. I'm on 10.10 though. Tried with both fusion 7 and fusion 8.

[2015-10-17 22:04] frapposelli commented on #641
@aventurella see docker/machine#1995

[2015-10-17 22:13] aventurella commented on #641
@frapposelli yup.. sorry I was literally just in 1995 and started building it and I was about to come back here and edit my last comment to see #1995 =)

[2015-10-17 22:26] aventurella commented on #1995
@dallas I was getting the same issue under OSX 10.10. found your issue #641, then found this issue

`TL;DR: building the latest version did succeed for me in being able to access shared folders.`

**The Details**

Running `vmware fusion 8`
Followed the instructions in `CONTRIBUTING`

Built the following version:
docker-machine version 0.5.0-rc1 (43543d1)

[code]

executed the following commands:

[2015-10-17 22:27] frapposelli commented on #1995
@aventurella :+1:

[2015-10-17 22:49] aventurella commented on #1351
+1

You can manually do it by editing:  `/Library/Preferences/VMware\ Fusion/vmnet{{ N }}/nat.conf`

[2015-10-17 23:09] TrentBrown commented on #1805
Having the same problem...  Am I supposed to go to my AWS console and generate a new keypair, and put that into my /Users/<me>/.docker/machine/machines/grafit-aws/ directory localy?

[2015-10-18 00:11] onejli commented on #1819
@nathanleclaire Why does docker-machine create a host-only adapter (just for the Docker daemon port?) instead of relying on port forwarding over the NAT interface like it does for ssh?  I ask because [my (and many other peoples') solution to Cisco AnyConnect](https://github.com/boot2docker/boot2docker/issues/628#issuecomment-148961252) leaving VirtualBox in a state where it can't modify the routin

[2015-10-18 00:58] factormystic opened #2001 "v0.5.0-rc1: Driver "hyper-v" not found. Do you have the plugin binary accessible in your PATH?"
[code]

I downloaded `docker-machine_windows-amd64.zip` for the v0.5.0-rc1 release, then added the folder to my PATH. `docker-machine-driver-hyperv.exe` is right there in the folder next to `docker-machine.exe`. I do not have any other copies of docker-machine installed. Not sure what's going on.

[2015-10-18 06:49] AlmogCohen commented on #1706
+1

[2015-10-18 14:57] yonah-codefresh commented on #1061
Any progress on this? Is there any way to create machines with the google driver non-interactively?

[2015-10-18 15:06] mfcollins3 commented on #1163
I'm getting this problem with Windows 8.1. I think that the problem is that I have a PowerShell profile created that runs commands when a new PowerShell console is created and the commands output messages to stdout when the new PowerShell session starts. I think that the call to powershell.exe needs to include -NoProfile on the command line.

[2015-10-18 15:49] alrayyes commented on #1684
Running OSX el Capitan, adding 127.0.0.1 to /etc/hosts seems to fix the problem for me as well.

[2015-10-18 15:50] alrayyes commented on #1801
adding 127.0.0.1 localhost to /etc/hosts seems to fix the problem for me.

[2015-10-18 16:03] blaggacao commented on #2001
Same problem here, was about to report it.

On Cygwin:

[code]

[2015-10-18 16:21] blaggacao commented on #2001
ok, got it:
https://github.com/docker/machine/blob/8aa1572e0dcd75762a7627e1056ef104317f44b9/libmachine/drivers/plugin/localbinary/plugin.go#L91

lookpath looks for `docker-machine-driver-hyper-v.exe`
though we have only `docker-machine-driver-hyperv.exe` as can be seen above.

The culprit is either the filename itself or https://github.com/docker/machine/blob/8aa1572e0dcd75762a7627e1056ef104317f44

[2015-10-18 17:53] hairyhenderson commented on #1626
Now that #1902 has landed, should this be closed?

[2015-10-18 18:05] blaggacao opened #2004 "Powershell: Error running connection boilerplate: XXX is not running. Please start it in order to use the connection settings.."
This is an issue for reference only:

Powershell:
[code]

Cygwin:
[code]

This seems to be a VirtualBox issue. But please note, that this breakes the docker-machine command with the following error massage:

[code]

[2015-10-18 18:12] blaggacao commented on #2004
Here is the entire output of `$ ./VBoxManage.exe showvminfo dev --machinereadable`: https://gist.github.com/blaggacao/e966d0be4f538f913162

Here is the entire output of `PS .\VBoxManage showvminfo dev --machinereadable`: https://gist.github.com/blaggacao/73c3a618b1e2321c5aaf

[2015-10-18 18:22] blaggacao commented on #2004
I'm quite confued, because trying to start the virtualbox in powershell, yields running state in powershell and poweroff state in cygwin AND VirtualBox UI...

[2015-10-18 18:50] blaggacao commented on #1919
I tried out the new release candidate and it has an issue on hyperv.

This is a case where I have no access to the docker runtime and need to build go "traditionally".

I'm caged by not being able to build without containers.

[2015-10-18 18:55] blaggacao commented on #1919
I want to test a PR, so maybe the simplest thing would be to follow:
[code]
It doesn't work when I go get my fork, as I'm new to go, I can't judge, if this is expected to not to work ootb...

[2015-10-18 21:50] jeffellin commented on #1986
@soleo I think what you propose is fine.   I can also help with this if needed.

[2015-10-18 23:17] blaggacao commented on #1954
I experienced exactly the same behavior today on the release candidate.

[2015-10-18 23:54] jeffdm opened #2005 "v0.5.0-rc1 Error: "error attempting to invoke binary for plugin: unexpected end of JSON input""
When building & testing out the 1.9 Toolbox I run into the following errors with machine:

[code]

Here's where the binaries are:
[code]

[2015-10-19 02:45] ggupta2008 commented on #1716
try

docker-machine stop default
docker-machine start default

[2015-10-19 04:54] chigix commented on #1696
Same situation encountered as @mrumpf  said in windows 10. And with `docker-machine --native-ssh ls`, every thing works very well.

Thanks, @mrumpf , your suggestion provided is of great helpful.

[2015-10-19 06:46] dmp42 commented on #1995
@dallas (cc @nathanleclaire) `make remote` is no longer a target. @frapposelli pointed to the correct document for information on how to build.
Let us know how that work for you.

[2015-10-19 06:48] dgageot commented on #1984
I'm going to close this since I couldn't reproduce this problem with 0.5.0

[2015-10-19 06:48] #1984 closed

[2015-10-19 07:25] MasterJames commented on #1684
127.0.0.1 localhost
on windows also made it work.

[2015-10-19 07:39] hsachdevah commented on #1797
Same issues on windows 10 as well

[2015-10-19 07:57] dgageot commented on #1954
Hi @carolynvs @blaggacao, thanks a lot for your feedback.

I'm trying to reproduce/fix this bug. Could you try this PR (https://github.com/docker/machine/pull/2006) that I created to help investigate the bug

[2015-10-19 08:04] dgageot commented on #1913
Hi @migueleliasweb @marvin659 @joschi Can you try with 0.5.0-rc1 and tell us if you face the same problem?

[2015-10-19 08:07] dgageot commented on #1859
Hi @eproxus, can you try 0.5.0-rc1 and tell us if you face the same problem?

[2015-10-19 08:27] dgageot commented on #2005
Hi @jeffdm can you check your `/etc/hosts` file and tell me if there's a line with `127.0.0.1 localhost`?

[2015-10-19 08:56] thomasbilk commented on #1376
I am also running into this issue. I use `docker-machine` at work on a mac and wanted to use it on my personal linux (mint 17.2) notebook.

Are there any plans to make this work on linux aswell?

[2015-10-19 09:04] dgageot commented on #2001
@blaggacao Would you like to create a PR for your fix?

[2015-10-19 09:21] torvitas commented on #504
+1

[2015-10-19 09:31] thomasbilk commented on #1376
I have looked into this a bit more and this is what I found. On Windows and Mac OS the `Users` folder from the host is shared with the `boot2docker` linux used by `docker-machine`. The `boot2docker` image is configured to automatically mount these shares, as described here: [Boot2Docker Readme](https://github.com/boot2docker/boot2docker/#virtualbox-guest-additions).

The problem now is that `boot2

[2015-10-19 09:33] tkrsumanth opened #2007 "Problem with kitematic as VM is not started"
when i start the kitematic latest version it is showing that "MACHINE IP COULDN'T BE FETCHED"

and the detailed message is as follows:-

"Machine IP could not be fetched. Please retry the setup. If this fails please file a ticket on our GitHub repo."

[2015-10-19 09:37] essembeh opened #2008 "Provide a way to customize path for binary drivers"
Since 0.5.0 drivers are independent and as far as I know the only way to setup where we store *drivers* is to update the PATH env variable.

It would be useful to have a dedicated variable (like `MACHINE_DRIVERS_PATH`) or a dedicated argument (like `--drivers-path`) instead of *PATH* not to mess up with *PATH* when using *docker-mahine* in scripts.

In legacy *boot2docker* for example there was a

[2015-10-19 11:14] aaronbbrown commented on #1491
+1 not having this capability makes it really tough to access containers from the LAN if running on a Mac.

[2015-10-19 12:54] hairyhenderson commented on #1954
Looks like I'm seeing this too. I'm using the latest `master` build on OS X using the `digitalocean` driver, so this definitely isn't anything to do with the environment. I think the `area/windows` and `area/driver-virtualbox` tags are irrelevant here :)

[2015-10-19 13:04] dgageot commented on #1954
Hi @hairyhenderson, can you try build PR #2006 and tell me the output for `docker-machine -D env default`?

[2015-10-19 13:15] hairyhenderson commented on #1954
@dgageot - will do when I get a chance.

I'm also thinking a bit more about this and realizing that I've been doing a _local_ build (i.e. `make build` on OS X, without using a container). One of the areas where `go build` has behaved differently in the past is around certificates (esp. root CA certs), so this _might_ be related to that... I dunno.

But I'll rebuild with #2006 and try it out. Thank

[2015-10-19 13:18] dgageot commented on #1954
@hairyhenderson That's a good point. I'll run my tests with a cross-compiled docker-machine

[2015-10-19 13:24] jeffpereira opened #2009 "Host File System not Syncing Properly with VMWare VMs"
I am creating a dev VM with docker-machine using the following command.  "docker-machine create --driver vmwarefusion --vmwarefusion-memory-size 2048 --vmwarefusion-disk-size 50000 dev"

I am running into a problem where I make changes locally on whatever repo I am working on, and sometimes only some or none of the changes are there.  It seems as though the replication of data between the Host and

[2015-10-19 14:21] dgageot commented on #2001
@blaggacao Forget what I said! You did create a PR

[2015-10-19 14:41] carolynvs commented on #1954
@dgageot Here is the failed output https://gist.github.com/carolynvs/e2473d21c3376f1ebec2 from `docker-machine -D env default` for a brand new machine.

I built #2006 and copied docker-machine.exe and docker-machine-driver-virtualbox.exe to the Docker Toolbox installation directory. I am using Docker Toolbox 1.8.2c on Windows 10.

[2015-10-19 14:49] blaggacao commented on #1954
I'm not sufficiently proficient as to know how to build, maybe I will have a look on it tis evening, if I can figure it out.

[2015-10-19 14:56] dgageot commented on #1954
@carolynvs Thanks a lot. I still don't understand what's going on but your logs will help me.

[2015-10-19 15:22] dgageot commented on #1954
@carolynvs Can you provide the output of:
[code]

[2015-10-19 15:43] carolynvs commented on #1954
[code]

I have found that I still occasionally get double host only adapters. I just deleted them both and created a new machine. The certs are still regenerating when I run `docker-machine env default`.

Here is the output of the VBoxManage commands the second time around (with only 1 host adapter).

[code]

[2015-10-19 16:07] anentropic opened #2010 "Commands should not need machine name if only one machine"
Most of the time I will only have one machine (essentially I'm using DM just as replacement for boot2docker on my laptop)

It's annoying always to have to include the machine name `default` with every docker-machine command

I suggest, if you only have one machine installed, commands should just use that machine without having to name it every time

[2015-10-19 16:42] dgageot commented on #1954
@carolynvs I have no idea so far.
I pushed a couple more commits on the PR to print more information and try things.
If you have time to update the output you get, that'd be just great.

ping @nathanleclaire @dmp42 any idea?

[2015-10-19 17:10] carolynvs commented on #1954
Here's the new output: https://gist.github.com/carolynvs/84cd140bcbf9b696e20f.

Let me know if there's another way to go about debugging the connection problem. I'm not quite sure what docker-machine is detecting that is causing it to regenerate the certs but am happy to poke around in /var/lib/boot2docker on the host or compare certs between windows and the host, etc if I knew what to look for.

[2015-10-19 17:23] samifruit514 commented on #179
+1

[2015-10-19 17:40] dgageot commented on #1954
@carolynvs That would be awesome. As you pointed out, the problem arises in `cert.go`:

[code]

Either the certificate are not properly copied onto the vm.
Or the vm is not reachable on port `192.168.99.100:2376` (host network config? firewall, vpn? vm network config?)
Or there's a problem in the way we check.

If you export the env variables given by `docker-machine env` and ignore the errors, ar

[2015-10-19 18:20] dmp42 commented on #1626
\o/
Close!

[2015-10-19 18:21] #1626 closed

[2015-10-19 18:22] dmp42 commented on #1845
cc @dgageot @jeanlaurent

[2015-10-19 18:30] chrisleck commented on #1455
I'm also running into this.  Any ETA on a fix?

[2015-10-19 18:40] #2001 closed

[2015-10-19 18:51] carolynvs commented on #1954
I can ping the docker host and ssh into it. When I ignore the messages about regnerating certs from `docker-machine env` and set the variables manually, I am still unable to connect with the docker client.

[code]

The certs on the host in `/var/lib/boot2docker/tls/` **do not** match those locally in `~/.docker/machine/machines/default/`. The certs in `/var/lib/boot2docker/` match what is on my lo

[2015-10-19 18:55] cengizIO commented on #1857
@nathanleclaire `docker-machine restart default` resolved the issue for now.

I don't know if it's going to happen again when I restart my host machine.

I'm on OSX El Capitan v10.11 by the way.

[code]

[2015-10-19 18:55] blaggacao commented on #1954
:+1: Thanks! I feel we're getting closer :smile:

[2015-10-19 19:01] thaJeztah commented on #1626
:tada:

[2015-10-19 19:06] dave-tucker opened #2011 "0.5.0-rc1: amazonec2: Cannot create Machines due to aggressive SSH timeout"
[code]

The machine wasn't yet ready for SSH :( A few mins later, it was ready but in an un-provisioned state

[code]

Please increase the number of retries, or make it configurable!

[2015-10-19 19:10] nathanleclaire commented on #2010
Want to fix this with https://github.com/docker/machine/issues/1783

Please take discussion there

[2015-10-19 19:10] #2010 closed

[2015-10-19 20:12] nathanleclaire commented on #2005
We discussed this in person and I think it is related to using an older version of Docker Machine after using the new, plugin-based binary.  Consequently, the `RawDriver` field is left out of the config but the new plugin does not know to migrate because the config version has been moved forward already.

I'm not 100% sure what to do, but might look into seeing if I can hack around by generating `

[2015-10-19 21:16] nathanleclaire commented on #1845
Current proposed solution is to transform name to all lowercase before doing anything with a directory on disk.  Therefore `A` and `a` would always appear with their same original casing to users but reference only `a` on disk (therefore two machines with the same name but different casing would not be allowed).

[2015-10-19 21:35] nathanleclaire commented on #1819
@onejli Well, the host-only adapter is meant to allow access of all exposed ports, for instance if you run a web application listening on `:8080` you need some way to access that from the host as well.  That being said, I have definitely strongly considered a `--virtualbox-nat-only` flag where it does what you say: forwards the daemon port to `localhost` using NAT and instructs the client to conne

[2015-10-19 22:12] #1998 closed

[2015-10-19 22:18] gmacario commented on #1692
Fix via https://github.com/docker/machine/commit/b01442c6bbbb4210221954ecd513c76c1fa8c170

[2015-10-19 22:51] gmanfunky commented on #2005
I ran into this when having multiple docker machines generated with docker-machine 0.4.1.

I somehow got into a state where my default machine was updated to include the new ```RawDriver``` field, but another one of my non-default machines made with docker-machine 0.4.1 was not updated.

[2015-10-19 22:52] nathanleclaire commented on #1919
It's a silly issue with package naming that has now been fixed on master.  Will be following up with a rc2 shortly.

[2015-10-19 22:52] #1919 closed

[2015-10-19 22:54] nathanleclaire commented on #2005
Yup, there's your issue.  Wonder if we can somehow make this safer.

[2015-10-19 22:57] nathanleclaire commented on #2005
Did you invoke some operations on the `default` machine but not on the other?  IIRC just `docker-machine ls` should automatically migrate all of the hosts.

[2015-10-19 23:13] gmanfunky commented on #2005
I figured out what is up. It is pretty much what you expected @nathanleclaire

```docker-machine-0.5.0rc1.exe ls``` will convert all the config.json files to ```"ConfigVersion":3```

If you then run ```docker-machine-0.4.1 ls```, it will do a back-convert to something like the old ```"ConfigVersion":1```, but keeps ```"ConfigVersion":3``` value while not writing out the new ```"RawDriver":"...."``

[2015-10-19 23:16] gmanfunky commented on #2005
Yes, i likely did a ```docker-machine env default```

[2015-10-19 23:21] #1692 closed

[2015-10-19 23:37] dmp42 commented on #2008
Hi @essembeh

Calling `PATH=somewhere:$PATH docker-machine foo` or even `PATH=override docker-machine foo` will do the trick without messing with PATH durably.

I'm not so keen on adding *another* flag/variable to be honest.

[2015-10-20 00:16] nathanleclaire commented on #1954
IIRC, the certs in `/var/lib/boot2docker/tls` are generated server side by a startup script in the boot2docker OS and not used for anything in the current machine model (they are a relic of how boot2docker-cli historically expected the certificates to be set up).

[2015-10-20 00:26] nathanleclaire commented on #2005
Yeah, but not intentionally.  I'm going to include some code in the next RC to re-migrate configs that oopsied back into an old version like that.

[2015-10-20 00:43] #2005 closed

[2015-10-20 01:26] migueleliasweb commented on #1913
@dgageot Sure, I ll do it !

[2015-10-20 01:57] onejli commented on #1819
@nathanleclaire Fair enough.  I guess I was mostly focussed on my own use case where services in my containers are reaching outbound.

+1 to a `--virtualbox-nat-only` flag!  That said, I think it might make sense to modify `docker-machine` to always also port forward `2367` to a randomly assigned port on the host (just like ssh).  That way `docker-machine`'s "management" of the boot2docker vm will

[2015-10-20 02:01] factormystic opened #2016 "v0.5.0-rc2: Driver "hyper-v" not found. Do you have the plugin binary accessible in your PATH?"
#2001 is still alive in rc2, looks like:

[code]

[code]

[2015-10-20 02:04] factormystic commented on #2016
Renaming `docker-machine-driver-hyperv.exe` to `docker-machine-driver-hyper-v.exe` seems to work.

[2015-10-20 02:05] nathanleclaire commented on #1819
Just a silly nitpick, but FYI:  The Docker daemon port is usually 2376 (you wrote 2367) and I've edited your comments referencing it accordingly.

[2015-10-20 02:07] nathanleclaire commented on #1819
That's what the suggested NAT only mode would do, but there is some danger involved:

1. NAT port forwarding with vbox can sometimes be unreliable
2. Users still wouldn't have access to ports exposed by containers as mentioned, and magical ports appearing on `localhost` encourage magical thinking

That being said, I could definitely see how it would be nice to have the option.

[2015-10-20 02:07] rahal opened #2017 "[generic] eval $(docker-machine env myhost) fails"
Hello,
On random occasions, I have the following error while using : eval $(docker-machine env myhost )  , myhost is a generic host, and when it happens, the containers are stopped. I have several hosts and it happens at least once or twice a day with one of them. I have debians. Is there any way I can know what's happening exactly? Thank you.

[code]

[2015-10-20 02:09] nathanleclaire commented on #2016
Ah, you have existing machines created with `hyper-v` driver it looks like.  If you remove them and recreate with `--driver hyperv`, it should work.

[2015-10-20 02:10] nathanleclaire commented on #2017
cc @ehazlett

[2015-10-20 02:28] onejli commented on #1819
Oops.  Not a silly nitpick at all!  Thanks for catching that.

1. NAT port forwarding with vbox can sometimes be unreliable
2. Users still wouldn't have access to ports exposed by containers as mentioned, and magical ports appearing on localhost encourage magical thinking that those will also show up on localhost
That being said, I could definitely see how it would be nice to have the option.

Vir

[2015-10-20 02:39] onejli opened #2018 "CN+SANs of Docker daemon cert created by `docker-machine create -d virtualbox` differ from cert created by `/etc/init.d/docker`"
`docker-machine create -d virtualbox` creates a certificate that only binds to the ip address of the host-only VirtualBox network adapter.  But, `/etc/init.d/docker` attempts (and fails) to create a cert that binds to the ip addresses of all interfaces of the host.

[code]

Looking at the debug output for the same command, I see that `/etc/init.d/docker` attempts to (re)create a cert that includes

[2015-10-20 03:27] nathanleclaire commented on #1819
Occasionally it will just not work at all and the forwarded ports will have no one listening on the other end, causing a create failure.  Also some of the fear is cargo culted over from @SvenDowideit

Yeah, in the 0.5.0 release, it's now all done over SSH, with a warning being printed if we can't dial the host only IP, so that at least the create can finish.

[2015-10-20 04:38] rafabene commented on #13
+1

[2015-10-20 06:05] kamaljeetrathi commented on #245
String caCrtFile = "/$PATH/ca.pem";
String certCrtFile = "/$PATH/cert.pem";
String keyCrtFile = "/$PATH/key.pem";

HttpClientOptions httpClientOptions = new HttpClientOptions();
httpClientOptions.setSsl(true).setPemKeyCertOptions(new PemKeyCertOptions().setKeyPath(keyCrtFile).setCertPath(certCrtFile).setCertPath(caCrtFile))
httpClientOptions.setDefaultHost("$HOST").setDefaultPort(2376);
HttpClient

[2015-10-20 07:22] vanstriker commented on #1716
I have this problem on EL Capitan. It seems network setting of the *default* docker-machine is not correct. I removed the installed *default* VM in virtualbox, and ran Quick Start Terminal again. It works.

[2015-10-20 07:29] proutray commented on #1684
- Mac OS X El Capitan 10.11
- Docker version 1.8.3, build f4bf5c7
- docker-machine version 0.4.1 (HEAD)
- Version 5.0.7 r103383
- Contents of my /etc/hosts file:
[code]
- Contents of .ssh/config:
[code]
I am still getting stuck at `Starting VM...`
Is there something else I should be looking at?
I have tried installing previous version of VB (4.x) and I have also tried installing docker using docke

[2015-10-20 07:36] Ozzyboshi opened #2019 "docker-machine env --swarm wrong message?"
I set up a swarm using docker machine with a virtualbox driver on my ubuntu 14.04 LTS.

docker-machine create -d virtualbox --swarm --swarm-master --swarm-discovery token://$TOKEN swarm_master

Then i added 2 more nodes... at the end i ask docker-machine to print the env to talk to the infrastructure with:

    root@ozzy-desktop:~# docker-machine env --swarm swarmmaster
    export DOCKER_TLS_VERIF

[2015-10-20 07:46] anth0 commented on #1684
Try also to uncomment the ipv6 one :
::1             localhost

[2015-10-20 07:50] Bregor commented on #1684
But wait!
If I really need `ControlPersist` there is no way to use docker-machine?
`boot2docker` is not affected, but deprecated and which options I have when it will be buried?

[2015-10-20 07:52] proutray commented on #1684
@anth0 - Isn't that what @crioux wanted us to comment? It was uncommented earlier, (and I re tried that now again) But no use.

[2015-10-20 08:02] eproxus commented on #1859
After reboot:

[code]

[2015-10-20 08:39] dgageot commented on #1954
@carolynvs @nathanleclaire I have no idea then. The only difference I have in my logs is that I'm using VBox version 5.0.6 and a more recent boot2docker.

[2015-10-20 09:16] swan-go opened #2020 "0.5-rc2 Error creating machine: Error with pre-create check: VBoxManage not found"
on ubuntu,  why ?   thanks
$ sudo docker-machine -v
docker-machine version 0.5.0-rc2 (6cac8cc)
$ sudo docker-machine create --driver virtualbox linux
Running pre-create checks...
Error creating machine: Error with pre-create check: VBoxManage not found

[2015-10-20 12:59] dgageot commented on #1719
No details. Closing as a duplicate of #1762

[2015-10-20 12:59] #1719 closed

[2015-10-20 13:03] eproxus commented on #1859
This is with VirtualBox 5.0.6 btw.

[2015-10-20 13:04] dgageot opened #2022 "`USE_CONTAINER=true make test` builds twice"
`USE_CONTAINER=true make test` runs the container twice and builds twice.

[code]

[2015-10-20 13:05] dgageot commented on #2022
@dmp42 Can you take a look?

[2015-10-20 13:20] dgageot opened #2023 "Google driver is broken since 0.5.0-rc1"
The authentication mechanism is broken for Google Driver is broken since 0.5.0-rc1.
The driver process fails just after opening a browser for the authentication oauth.

[code]

[2015-10-20 13:51] factormystic commented on #2016
Ok, that particular issue seems to be resolved I guess

[2015-10-20 13:51] #2016 closed

[2015-10-20 14:02] fsoppelsa opened #2024 "Support nova security groups in OpenStack driver"
How about supporting also nova security groups?

[2015-10-20 14:06] fsoppelsa commented on #2024
Ah alright, find it in code, seems rather a documentation issue.

[2015-10-20 14:06] #2024 closed

[2015-10-20 14:31] dgageot opened #2025 "`USE_CONTAINER=true time make cross` take a very long time to complete"
On my machine, `USE_CONTAINER=true make build` takes 75s to complete.
`USE_CONTAINER=true make cross` takes 27minutes...

There must be something wrong.

[code]

[2015-10-20 14:48] dgageot commented on #1954
@carolynvs Can you try connecting to the docker daemon using curl. We might get a better feedback on what's going wrong. I think you are on windows, so I don't really know how to achieve that but here's how I did it on OSX:

[code]

FTR, here's the tutorial I used to make it work: http://opensolitude.com/2015/07/12/curl-docker-remote-api-os-x.html

[2015-10-20 14:51] dgageot commented on #2020
Hi @swan-go You need to have [VirtualBox](https://www.virtualbox.org/) installed for the virtualbox driver to work. Is it?
If it is, can you tell me the path to `VBoxManage`?

[2015-10-20 17:10] carolynvs commented on #1954
@dgageot Ooh, yes this seems to be a problem on my machine (using curl/openssl from Git for Windows so all the commands are the same).

[code]

I checked all the certs in ~/.docker/machine/certs using `vi -b path/to/cert` and verified that it has unix line endings. I also used the following command to try to check if openssl was able to read them.

[code]

I'll keep poking around with certs, as th

[2015-10-20 17:17] essembeh commented on #2008
I understand your point of view, you want to keep CLI usage simple.

A project I work on tries to bundle docker-machine to provide tooling for Linux & Windows.
Using the `PATH` has some (minor?) drawbacks
- Setting the `PATH` correctly is OS dependent, an argument is not (since I work with Java which gives me OS specific strings)
- `PATH`on Windows is often a mess. I really appreciated `--vboxmana

[2015-10-20 17:26] dgageot commented on #1954
@carolynvs Great job! I'll check that tomorrow morning (Paris time)

[2015-10-20 17:27] #1974 closed

[2015-10-20 17:33] dgageot commented on #1983
Closed by https://github.com/docker/machine/pull/1990

[2015-10-20 17:33] #1983 closed

[2015-10-20 18:59] dmp42 commented on #2025
Some context:

`time TARGET_OS=darwin TARGET_ARCH=amd64 make cross`

[code]
dmp@MacSaucisson:~/.gvm/pkgsets/go1.5/global/src/github.com/docker/machine$ time GO15VENDOREXPERIMENT=1 GOOS=darwin GOARCH=amd64 CGO_ENABLED=0 go build -o /Users/dmp/.gvm/pkgsets/go1.5/global/src/github.com/docker/machine/bin/docker-machine_darwin-amd64/docker-machine -a  -tags "static_build netgo " -installsuffix netgo -l

[2015-10-20 19:29] dmp42 commented on #2008
Good points @essembeh .
Thanks for the thorough feedback.

@docker/machine-maintainers opinions?

[2015-10-20 20:24] dmp42 commented on #2023
This one is critical.
It's also worth looking into other drivers to see if there are similar patterns.

[2015-10-20 21:44] jpetazzo opened #2029 "Drivers which don't use `--engine-install-url` should at least warn if the option is used"
If someone wants to install a RC or experimental version, they can do something like:

[code]

However, if they try to do that with a local VM (`-d virtualbox`) the option is silently ignored (since the `virtualbox` driver uses boot2docker images rather than the SSH-based provisioning system).

Instead, the `--virtualbox-boot2docker-url` has to be used.

It would be nice if Machine could display a

[2015-10-20 21:53] mrsheepuk commented on #1706
A few observations that might help:

* I find that this occurs after suspending and resuming my laptop
* Removing the docker-machine and removing all host-only interfaces in virtualbox then creating a new docker-machine seems to resolve the issue.
* If I remember to stop the docker-machine before suspending the laptop then start it again when turning it back on, it seems to stay working.

This is

[2015-10-20 22:23] atomi opened #2030 "0.5.0 rc2 machine names with hyphen"
Testing 0.5.0 rc2 I created a machine

```docker-machine create -d virtualbox CI-SERVER```

Running ```machine ls``` or ```machine rm CI-SERVER``` gives the following error:

```Driver "" not found. Do you have the plugin binary accessible in your PATH?```

[2015-10-20 22:26] cookandy commented on #1709
+1 please!

[2015-10-21 02:29] #1293 closed

[2015-10-21 02:44] swan-go commented on #2020
Ok, I see, thanks

[2015-10-21 02:49] cookandy commented on #1709
thanks for the script @ianlintner-wf.  I have written one that dynamically adds the host/ip of any running docker machines.  Have tested on OS X El Capitan.

https://gist.github.com/cookandy/f14fadd31721dc6e136e

[2015-10-21 04:33] dmp42 commented on #2020
Admittedly the error message could be enhanced.

[2015-10-21 04:58] dmp42 commented on #2025
For the record, cross compiling everything means 6 variants x 16 binaries...

[2015-10-21 05:05] dmp42 commented on #1303
I don't see `none` anymore (?) in the docs.

Closing this for bookkeeping. Let me know if there is still something to be done.

[2015-10-21 06:59] dgageot commented on #2007
Hi @tkrsumanth, thank you very much for filing a ticket.
Can you provide more details on the context?
You can take a look at this [documentation](https://github.com/docker/machine/blob/master/README.md#troubleshooting) for information on how to troubleshoot/report issues.

[2015-10-21 07:49] dgageot commented on #2020
@dmp42 I improved the error message. ptal

[2015-10-21 08:35] xiaohui opened #2037 "external ssh command failed in the stage of provision for CentOS 7"
I have run the my plugin with the revision of c4426906182638a3e0e1fe39fdb14e192fcddaee. It failed failed with error message of `sudo: sorry, you must have a tty to run sudo
` in the `SetHostname`  when the driver provision for CentOS. After I added multiple `-t` (with *-tt*)  options to ssh,  the error information was gone away.

The debug info is bellow:

...
Machine is running, waiting for SSH t

[2015-10-21 10:44] dgageot commented on #1954
Hi @carolynvs, have you tried this command on `ca.pem` too?

[code]

Can you check that it properly starts with `-----BEGIN CERTIFICATE-----` and ends with `-----END CERTIFICATE-----`. Nothing before and after.

[2015-10-21 10:51] dgageot commented on #1954
@carolynvs I must admit I don't know what's going on. Have you tried this [PR](https://github.com/docker/machine/pull/1910) which seems vaguely related.

[2015-10-21 10:51] jps3 commented on #1819
After much troubleshooting--uninstall/resinstall VirtualBox, removing ~/.docker, removing ~/Library/VirtualBox, and related prefs files in ~/Library/Preferences, etc--I finally thought to try the `--native-ssh` flag to `docker-machine`.

And... It worked!

Then I temporarily renamed my highly customized `~/.ssh/config` file.

And... That worked!

I renamed the ssh config file back to `~/.ssh/confi

[2015-10-21 11:27] jeanlaurent commented on #1783
The real usage gain is for people working with only 1 docker local instance, and this enhancement will really lower the learning curve of docker. `docker-machine` is now among the first command you end up using when discovering docker.

Pragmatically could we allow this for a subset of commands where there is always a predictable behavior. And explicitly don't allow it on command where it's the be

[2015-10-21 11:41] jeanlaurent opened #2039 "on docker-machine start: don't ask the user to check environment variable if not needed"
Whenever you `docker-machine start default` you end up with a message implying we don't really know the current environment state since we get the answer : `Started machines may have new IP addresses. You may need to re-run the ``docker-machine env`` command.`

Why should the user do something that we could check by ourselves ?

We could probably be a bit clever and check if the current environmen

[2015-10-21 11:59] runseb opened #2040 "ls not working"
Hi, while testing 0.5.0-rc2 I am facing an issue with 'ls' not working.

    $ docker-machine -D ls
    Docker Machine Version: 0.5.0-rc2 (6cac8cc)
    Launching plugin server for driver
    Driver "" not found. Do you have the plugin binary accessible in your PATH?

All binaries from the release file are in my PATH. I successfully created a machine with:

    $ docker-machine create -d virtualbox

[2015-10-21 14:19] dgageot commented on #2040
Hi @runseb, I can't reproduce this issue. Can you provide more context? OS, are there other machines already created? Can you triple check the path?...

[2015-10-21 14:27] dgageot commented on #2030
Hi @atomi, I can't reproduce this issue. Can you provide more context? OS? Are there other machines already created? Can you triple check your path?...

Looks like a duplicate of #2040

[2015-10-21 14:34] blaggacao commented on #1954
If you don't mind confirming this intermediate summary, so I can silently spend brain on this:

- Certs are copied, but cannot be read?

I;m sure, you already checked: http://stackoverflow.com/questions/20837161/openssl-pem-routinespem-read-biono-start-linepem-lib-c703expecting-truste
I put it for reference for others.

[2015-10-21 14:41] atomi commented on #2030
Yeah. Apologies for such little context.
I'm testing on a Windows 10 rig using Babun/mintty.

I think the reason for this error.

[2015-10-21 14:51] runseb commented on #2040
Hi,

OSX 10.8.5
Virtualbox 4.3.30 (latest update)

I downloaded the rc2 zip from github release page.
Unzip
Moved all binaries to somewhere /usr/local/bin

    $ docker-machine
docker-machine                         docker-machine-driver-exoscale         docker-machine-driver-none             docker-machine-driver-virtualbox
docker-machine-driver-amazonec2        docker-machine-driver-generic

[2015-10-21 15:24] atomi commented on #2030
I just tested this again with docker-machine in the system wide user path and with the path set using only cygwin and am unable to reproduce the error again. Closing this for now.

[2015-10-21 15:24] #2030 closed

[2015-10-21 15:26] dgageot commented on #2040
Thank you @runseb. It feels the issue comes from compatibility pb between both versions of `docker-machine` but I didn't manage to reproduce the problem.

Can you share the content of every `config.json` you have under `~/.docker/machine/machines/`?

[2015-10-21 15:44] hadley opened #2041 "docker-machine create fails"
After a fresh install of docker toolbox on OS X 10.10.5, I get:

[code]

[2015-10-21 15:50] dgageot commented on #2041
Hi @hadley, thank you fir the bug report. Can you provide more information on the context? Please read https://github.com/docker/machine/blob/master/README.md#troubleshooting for information on what you can try and what information you can report.

[2015-10-21 15:56] hadley commented on #2041
Sure:

* There is no log file (or Logs directory) in the corresponding machine directory
* Deleting that directory and then rerunning `docker-machine create --driver virtualbox default --debug` yields https://gist.github.com/hadley/c2e697f71b31db19c496

The relevant bit seems to be:

[code]

[2015-10-21 15:57] dgageot commented on #2041
Can you try to create a fresh machine with a new name and provide the logs?

[code]

[2015-10-21 15:57] hadley commented on #2041
Killing, rm'ing, then re-creating the image seems to fix the problem.

[2015-10-21 15:59] hadley commented on #2041
I think I probably got in this state because I upgraded from boot2docker - `docker-machine env default` failed so I tried to `docker-machine rm default`. That was still running after 15 minutes, so I killed the process, and manually deleted the `machine` directory.

[2015-10-21 15:59] #2041 closed

[2015-10-21 16:27] #2020 closed

[2015-10-21 16:33] hadley commented on #2041
Thanks for the help!

[2015-10-21 16:45] baio commented on #1221
Guys for the sake of the God, add tutorial how to import existent docker machines.
I've created 2 different cloud azure machines from 2 separates PCs and now I can't connect from PC to azure machine which were created on another.
Already spend 2 evenings, trying all suggestions and no result.

[2015-10-21 16:56] carolynvs commented on #1954
I just tried a different curl command using --cert and --key instead of the generated pfx file and it is able to connect.

[code]

Looking more closely at the output of `docker-machine env` I see that it is exporting what I think is a bad cert path. On my mac this points to .docker/machines/machine/<machinename> while in the output below, it points to .docker/machine/certs.

[code]

After manually

[2015-10-21 16:58] dgageot commented on #1954
Thanks a lot @carolynvs that should really help. Before I digest everything you reported, can you try the latest version of https://github.com/docker/machine/pull/2006 It should print the certificates being used for validation. That should help

[2015-10-21 17:00] carolynvs commented on #1954
Here are the certs it is using

HOST URL=192.168.99.102:2376
CA CERT PATH=C:\Users\caro8994\.docker\machine\certs\ca.pem
SERVER CERT PATH=C:\Users\caro8994\.docker\machine\machines\bugtest\server.pem
SERVER KEY PATH=C:\Users\caro8994\.docker\machine\machines\bugtest\server-key.pem

That's from my own debug info, not the PR which takes a long time to build now that it's building all the plugins. :s

[2015-10-21 17:12] dgageot commented on #1954
OK, now I'm confused, so I'll just try a recap.

Can you confirm that:

+ `~/.docker/machine/certs/ca.pem` is the same as `~/.docker/machine/machines/bugtest/ca.pem`
+ `~/.docker/machine/certs/cert.pem` is the same as `~/.docker/machine/machines/bugtest/cert.pem`
+ `~/.docker/machine/certs/key.pem` is the same as `~/.docker/machine/machines/bugtest/key.pem`
+ You managed to make `docker` cli reach

[2015-10-21 17:19] dgageot commented on #1954
@carolynvs FTR, cross-building only docker-machine, only for windows should be much faster: TARGET_ARCH=amd64 TARGET_OS=windows make build-x-machine

[2015-10-21 17:22] carolynvs commented on #1954
Sorry for the brain dump!

* ca.pem, cert.pem and key.pm are the same in both `~/.docker/machine/certs` and `~/.docker/machine/machines/bugtest`
* The docker  client worked when I set `DOCKER_CERT_PATH` to `~.docker/machine/machines/bugtest`
* On my mac (which works) `docker-machine env` sets `DOCKER_CERT_PATH="~/.docker/machine/machines/bugtest"`. On Windows 10 (which doesn't), the same command i

[2015-10-21 17:26] dmp42 commented on #1221
@nathanleclaire wdyt?

[2015-10-21 17:27] dgageot commented on #1954
OK. Let's call @nathanleclaire and @ehazlett to the rescue. I think you nailed it but now, I'm too new to the project to understand why we have so many duplicated certificates and why we don't use the right ones.

[2015-10-21 17:28] carolynvs commented on #1954
Thanks for the build tip!

Below is the relevant output from the latest build of PR #2006 and here's the full output: https://gist.github.com/carolynvs/8b7034c26fe3a764c537

[code]

[2015-10-21 17:40] dgageot commented on #1954
Sorry for the closed/reopened noise. I fumbled

[2015-10-21 18:16] nathanleclaire commented on #2030
Thanks for reporting and for following up to close @atomi!

[2015-10-21 18:38] nathanleclaire commented on #1954
Oi vey. @carolynvs @dgageot you all are champs for continuing to chase this one down.  I think Carolyn's suspicion is correct: if the `DOCKER_CERT_PATH` is not getting set correctly, then communication with the daemon will not work properly.  It sounds like it may be an issue with paths that I introduced inadvertently in the `libmachine` changes.  I'll continue investigating this and poking around

[2015-10-21 19:07] nathanleclaire commented on #1819
Thanks for the info @jps3 .  We have made some fixes to help on master and in the release candidate and in the future I think I am inclined towards Machine having it's own SSH configuration file which over-rides the system default.

[2015-10-21 19:10] nathanleclaire commented on #1783
Yes @jeanlaurent -- since one person using Docker with one VM is by far the most common Machine use case, this feature is intended to support that.

How would everyone feel about having `docker-machine create` default to mean something like `docker-machine create -d virtualbox --virtualbox-memory 2048 default`?  It would be a predictable shorthand and I think could really help cut down on typing a

[2015-10-21 19:12] dgageot commented on #1783
+1

[2015-10-21 19:24] nathanleclaire commented on #2040
Yes, to know what machines you have, and their `config.json`, is critical to solve this problem.

[2015-10-21 19:26] runseb commented on #2040
I will try to reproduce, but I nuked the entire ~/.docker and removed all VMs....so I can't give that info to you right now :(
I was on docker-machine 0.1.0 though...so bit old.

[2015-10-21 19:46] blaggacao commented on #1954
May the gateway to the culprit be this line, then?
https://github.com/docker/machine/blob/8aa1572e0dcd75762a7627e1056ef104317f44b9/libmachine/persist/filestore.go#L155

[2015-10-21 19:55] nathanleclaire commented on #1954
@blaggacao Definitely strongly in the realm of possibility - that code tends to be a little brittle and has been problematic in the past.

[2015-10-21 20:03] blaggacao commented on #1954
I don't get how this can be different on windows and mac os, though as @carolynvs confirmed.
To me it clearly constructs the `.docker\machine\certs` path.

[2015-10-21 20:07] blaggacao commented on #1954
[code]

[2015-10-21 20:07] dgageot commented on #1954
@blaggacao clearly, I don't have the same behaviour as @carolynvs on mac. So there is something fishy.

[2015-10-21 20:07] nathanleclaire commented on #1954
Yeah, the certs get copied over to that machine's directory during the provisioning bit.

[2015-10-21 20:10] carolynvs commented on #1954
@dgageot Apologies for the confusion. My mac is running docker-machine 0.4.1. I'm only running the PR build on my Windows machine as I've been testing out fixes there as they are merged into master.

I can do a build and run again on my mac right now.

[2015-10-21 20:10] blaggacao commented on #1954
[code]
Is this all about wrong path formatting on cygwin, gitbash?

[2015-10-21 20:11] blaggacao commented on #1954
`cat ~/.docker/machine/machines/oca/ca.pem` succeeds

[2015-10-21 20:15] blaggacao commented on #1954
nope, I deny, this was legacy from runing the command once in powershell probably..

[2015-10-21 20:16] blaggacao commented on #1954
[code]

and

[code]

[2015-10-21 20:19] blaggacao commented on #1954
I resume:
- diffs are not showing difference between `/machine/certs` and  `/machine/machines/certs`
- I cannot reproduce carlynvs workarround to solve the problem.

[2015-10-21 20:21] carolynvs commented on #1954
When manually setting DOCKER_CERT_PATH on windows (in bash), you should use UNIX style paths. For example, `export DOCKER_CERT_PATH="~./docker/machine/machines/oca"`.

I can confirm that on my (wonky) machine the certs do match between /machine/certs and /machine/machines/certs.

[2015-10-21 20:23] blaggacao commented on #1954
This result in
[code]

[2015-10-21 20:32] ruippeixotog commented on #1783
+1

[2015-10-21 20:44] atomi opened #2045 "0.5.0rc2 default share not working for virtualbox on linux"
If I run ```docker-machine create -d virtualbox hello``` on Windows ```docker-machine``` creates a default share under ```/c/``` on the created machine.

However when running the same command under Linux Mint there is no share that gets created. I checked ```/home/``` as well.

[2015-10-21 20:49] blaggacao commented on #1954
I can confirm, by manual copying, as scp doesn't work:

[code]
the second ones differ between `/machines/oca` and `oca:~/.docker`

[2015-10-21 21:08] nathanleclaire commented on #1954
Which paths in the VM are you using for the certs @blaggacao ?

[2015-10-21 21:14] blaggacao commented on #1954
I just realized, it was the wrong one...

I checked against `~/.docker` I'll check again against `/var/lib/boot2docker`

[2015-10-21 21:17] nathanleclaire commented on #1684
Really need it for what?

[2015-10-21 21:21] blaggacao commented on #1954
I can definitley confirm that
- the certs in `/machines/oca` and `vm:/var/lib/boot2docker/` are the same
( I run `dos2unix` on all 3 fiels `ca.pem`, `server.pem`, sever-key.pem` on the virtual machine)

[2015-10-21 21:31] blaggacao commented on #1954
I additionally get this timeout error: https://github.com/docker/machine/blob/6a5219b879db52698ccb2b7e0aafd516b34df839/libmachine/provision/boot2docker.go#L193
every time I run `env`

[2015-10-21 21:32] nathanleclaire commented on #1954
Yeah, @blaggacao it also looks like the host only IP assigned to the VM is not reachable on your computer.  Can you `ping $(docker-machine ip vmname)`?

[2015-10-21 21:32] blaggacao commented on #1954
nope, doesn't work either...

[2015-10-21 21:34] nathanleclaire commented on #2040
Ah, yeah, there can be some issues with versions going back that far.  Going to close this issue but thanks for reporting @runseb

[2015-10-21 21:34] #2040 closed

[2015-10-21 21:34] blaggacao commented on #1954
`docker-machine ssh vmname` works though

[2015-10-21 21:35] nathanleclaire commented on #1954
Yeah, `ssh` goes through `localhost`.  But it seems that you cannot contact the assigned host only VM IP, so I wouldn't expect `env` to function correctly.  Are you using any VPN or proxy?

[2015-10-21 21:39] blaggacao commented on #1954
not, that I would be aware of, just doublechecked the task manager...

[2015-10-21 21:44] blaggacao commented on #1954
Closing does't change anything, but this is another issue, I think...

[2015-10-21 21:46] nathanleclaire commented on #1303
The original idea for "

[2015-10-21 21:46] #1303 closed

[2015-10-21 21:48] nathanleclaire commented on #1303
No, `none` is not just for testing.

It was originally intended to be the "default" driver which you could use to just add an existing host in without doing anything, e.g. `docker-machine create --url unix:///var/run/docker.sock local`

It is not intended to make it so that SSH could work (although maybe it could?). However, it has definitely languished in terms of support for even the simplest us

[2015-10-21 21:48] nnordrum opened #2046 "managing different versions of docker difficult with docker-machine"
For presumably relatively obvious reasons, I may not have all my versions of docker running on the same version. This causes issues in that the docker client isn't smart enough to fall back on the api version if it's newer than the daemon it's trying to connect to.

It would be nice if `docker-machine env` could provide a hint that I could use to adjust my path.

e.g.
[code]

Obviously the best wo

[2015-10-21 21:50] blaggacao commented on #1954
https://github.com/docker/machine/blob/56f457c2ef6e306fb1815b6b125f98c85a6e92ec/commands/config.go#L88

leads me to

https://github.com/docker/machine/blob/56f457c2ef6e306fb1815b6b125f98c85a6e92ec/libmachine/cert/cert.go#L177

As I don't get any of: https://github.com/docker/machine/blob/56f457c2ef6e306fb1815b6b125f98c85a6e92ec/libmachine/cert/cert.go#L22

the only remaining candidates are:
https:

[2015-10-21 21:51] blaggacao commented on #1954
This smells like a connection between both problems. Can you interprete my line of thought?

[2015-10-21 22:14] blaggacao commented on #1954
Remote digging: https://github.com/leo-stone/fix-go-1.5-tls-issue/blob/master/main.go

[2015-10-21 22:14] carolynvs commented on #1954
I didn't trust my Windows environment anymore so I started over and rebuilt Windows then put on #2006.

In the docker.log file I see this error

[code]

so I checked the cert's dates

[code]

Could the problem be that the certificate is future dated? That would explain why originally my curl commands didn't work but a few hours later they did.

[2015-10-21 22:17] blaggacao commented on #1954
same here:
[code]

[2015-10-21 22:18] CARocha commented on #1988
Hello i have the same situation, i run docker-compose up and then find in the browser the ip
192.168.99.102:2376 for example i don't see any??
anyone have any idea??

[2015-10-21 22:19] blaggacao commented on #1954
[code]

[2015-10-21 22:28] dmp42 commented on #1988
People: please provide at least the commands you have been running, and the configuration files you have used.

If you are using compose, then please ask on the compose support forums.

Thanks.

[2015-10-21 22:31] nathanleclaire commented on #1988
Closing -- please open a new issue with more specific details if you continue to experience issues all.

[2015-10-21 22:31] #1988 closed

[2015-10-21 22:33] blaggacao commented on #1954
As stated here: https://github.com/docker/docker/issues/11534#issuecomment-89405874

[code]

yielded me a different error (one step at a time :)

[2015-10-21 22:34] blaggacao commented on #1954
I think this is it, the rest is my virtualbox.

[2015-10-21 22:38] puggie-wuggie opened #2047 "VirtualBox power on always fails on Windows 7"
(Issue https://github.com/docker/toolbox/issues/245 on Docker Toolbox was asked to create new issue here)

I am trying to run on Windows 7 and when I run the start.sh, I encounter this error.

![image](https://cloud.githubusercontent.com/assets/7606170/10526464/e4369d30-733f-11e5-8d55-a604c933aa07.png)

I have also tried using the latest testbuild for VirtualBox (5.0.7) and other previous older bu

[2015-10-21 22:38] carolynvs commented on #1954
I am going to eat dinner and check back in 5 hours when I suspect my cert will be valid and everything will just work. :smile:

[2015-10-21 22:39] blaggacao commented on #1954
Bad news, I've to do this on every vm restart.

[2015-10-21 22:39] blaggacao commented on #1954
:smile: I guess you hit the root cause! Thanks!

[2015-10-21 22:40] blaggacao commented on #1954
:clap: :clap: :clap: :clap: :clap: :clap: :clap:

[2015-10-21 22:43] dmp42 commented on #2047
cc @docker/machine-maintainers

[2015-10-21 22:56] nathanleclaire commented on #2047
The last line in the VirtualBox log indicates it's VBox going belly up, and I'm not sure if we can workaround.

However, @puggie-wuggie have you tried clearing all existing Host Only Interfaces and DHCP servers in the VirtualBox GUI and trying again?

[2015-10-21 23:04] puggie-wuggie commented on #2047
@nathanleclaire

Yes, I have tried
- Removing all Host Only Ethernet Adapters from VirtualBox GUI
- Manually uninstalling those adapters from Device Manager

Still had the same errors.

[2015-10-21 23:17] hairyhenderson commented on #1783
I'm actually -1 on this. It would break the principle of least surprise. _Almost_ every `docker`, `docker-machine`, and `docker-compose` command requires some form of flag or name to specify what you're intending to do. If I type `docker run`, for example, I don't get the `hello-world` image started up. Instead, I get a helpful usage message. Right now, `docker-machine create` gives a helpful usag

[2015-10-21 23:20] nathanleclaire commented on #2046
It's not really obvious to me as many users just use the latest -- can you elaborate?

At any rate, I'm really hesitant to add this feature to `env`, but maybe we can figure out another solution.

[2015-10-21 23:31] nathanleclaire commented on #1783
I think it's a good consideration @hairyhenderson.  I'm a bit on the fence but changing the default driver to `virtualbox` seems like a no-brainer.

[2015-10-21 23:32] nathanleclaire commented on #1783
To play devil's advocate, I'd say the "modern" programmer is likely to be fairly accustomed to being able to create and use VMs without having to specify a name, whether it's through `vagrant up` or `boot2docker init`.

[2015-10-21 23:32] rafabene commented on #2019
+1

[2015-10-21 23:33] #2011 closed

[2015-10-21 23:41] nathanleclaire commented on #2008
Hm, I dunno, this and a whole related class of issues is starting to scream to me that we may want to think about a configuration file.  We have serious flag sprawl right now.

Then, we could specify either the path where the binaries are kept etc. in the config file, as well as other global machine options.

[2015-10-21 23:42] nathanleclaire commented on #1221
@dmp42 About what exactly?  `--url` being broken is a pretty well known issue, and we want to support using Machines from multiple different computers soon with portable configs.

[2015-10-21 23:44] #2019 closed

[2015-10-21 23:46] nathanleclaire commented on #2025
Cross-compiling, especially in a container, takes a really long time due to the big matrix of stuff we're doing (like @dmp42 mentioned).  I did notice that weirdly it seems to run the tests as well in between some steps.  That might help to speed things up a little bit.

[2015-10-21 23:55] ain opened #2050 "Symlinks corrupt in shared folders"
Symlinks that are in (nested) shared folder, get corrupt with `vmwarefusion` driver, e.g.:

Local symlink:
[code]

Same symlink in container:
[code]

Platform info:
[code]

[2015-10-22 00:02] Bregor commented on #1684
Because I need master connection to be opened in the background when multiplexing.
By the way, I can try to turn it off for specific host.
How can I describe docker-machine's default host in `~/.ssh/config`?

[2015-10-22 00:02] ain commented on #2050
Docker Compose `1.5.0 RC1` does not improve the behaviour.

[2015-10-22 00:18] hairyhenderson commented on #1783
Sure, but `vagrant up` only works if you have a `Vagrantfile` in the cwd. _If_ we ever get to machine declaration (as in #773), then this would make perfect sense.

And, the `boot2docker` CLI only ever worked with a local VM, and usually only a single one. Docker Machine has always been about managing local _and_ remote machines, and a multiplicity of them.

If we're after the dead-simple lowest-b

[2015-10-22 00:29] nathanleclaire commented on #2050
cc @frapposelli

[2015-10-22 00:46] janeczku opened #2051 "Libmachine: Waiting for SSH gives up after just 6 retries"
`Docker Machine Version: 0.5.0-rc2 (6cac8cc)`

This is a bit perplexing: `drivers.WaitForSSH()` should  retry 60 times. But when i create a new host (using third party plugin driver) it fails after just 6 tries: `Maximum number of retries (6) exceeded`.
I don't understand how it can even break out of the wait loop after 6 retries when `maxAttempts` is  hardcoded to 60: https://github.com/docker/ma

[2015-10-22 01:39] dmp42 commented on #2051
@janeczku maybe see #2048

Can you give rc3 a spin?

[2015-10-22 01:43] nathanleclaire commented on #2051
Yep, rc3 should fix it.

[2015-10-22 01:43] #2051 closed

[2015-10-22 01:50] nathanleclaire commented on #2045
Dupe of: https://github.com/docker/machine/issues/1376

[2015-10-22 01:50] #2045 closed

[2015-10-22 02:45] janeczku commented on #2051
@dmp42 @nathanleclaire  all good with rc3!

[2015-10-22 02:54] nathanleclaire commented on #2051
:+1: :smile: :confetti_ball:

[2015-10-22 02:58] atomi commented on #1376
This issue seems like it should be more important and should be addressed for 0.5.0. I understand the boot2docker image had to be updated but sharing in Linux worked fine in release 0.4.0 rc2.

[2015-10-22 03:13] nathanleclaire opened #2052 "Machine main binary still leaks process if it panics"
If Go panics, the normal plugin shutdown procedure will be skipped as the program immediately exits, leaving the launched plugin servers dangling.  This can be handled in a defer => recover pattern, but I think it has to be per-goroutine, so we'd have to identify all the possible goroutines to properly safeguard.  The main culprit of spawning a lot of goroutines traditionally is `ls`, so that'd be

[2015-10-22 03:14] nathanleclaire commented on #2052
Come to think of it, it would probably be a very good idea to have the plugin servers kill themselves if they haven't heard from the core binary in a while, e.g. "It has been over a minute since I've heard from the core binary so I'm going to go ahead and spin this server down".

[2015-10-22 03:18] nathanleclaire commented on #1970
This is fixed in the RC for 0.5.0.  :+1:

[2015-10-22 03:18] #1970 closed

[2015-10-22 03:38] nathanleclaire commented on #2052
e.g.: https://github.com/docker/machine/pull/2053

[2015-10-22 06:34] baio commented on #1221
I suppose it would be great to have at least some clear statement that import of existent hosts, from PC to PC, is not working for now  (or have some known issues) somewhere in official documentation or here on github.

[2015-10-22 08:15] motin opened #2055 "5000ms are added to all requests done using a local hostname from /etc/hosts - running on OSX"
Using docker-machine 1.4.2 (migrated from boot2docker using the Docker toolbox installer) and experiencing a 5000ms extra latency on all requests done using a local hostname from /etc/hosts.

Steps to reproduce:

Use the following docker-compose.yml:

    web:
      image: tutum/hello-world
      ports:
        - "80"

Add to /etc/hosts locally:

    192.168.99.100 docker.local

Fire up the stack

[2015-10-22 10:20] yonah-codefresh commented on #1863
It seems that the debug output can also be triggered with a plain DEBUG env var, not necessarily MACHINE_DEBUG. It would be nice if this didn't happen IMO.

[2015-10-22 10:41] nicc opened #2059 "Cannot access linked host on osx when building service from path"
Hi there,

I'm running into a problem on osx. Here's my docker-compose.yml file:

[code]

If I use the image from dockerhub for the enrichment service (commented out line), then everything works fine, but if I build it as per the docker-compose.yml file above, I get `RestClient::ServerBrokeConnection - Server broke connection` from inside the enrichment-service, and I see no log of the request eve

[2015-10-22 12:04] dgageot commented on #2023
Hi @jeffmendoza, would you or a colleague be willing to work on that issue?

[2015-10-22 12:14] elmariofredo commented on #1783
I think that we should first focus on commands users will use the most, in my opinion these are

[code]

after installation basic user don't have to deal with pretty much anything else. For sake of beginner user comfort it's reasonable change to command line UX.

I'm not that fan of default machine name for create and rm, this is supposed to be executed by bit advance user and he should know what

[2015-10-22 14:09] blaggacao commented on #1954
@carolynvs did the fix i posted work for you?

[2015-10-22 14:18] carolynvs commented on #1954
I just wanted to confirm that after waiting 5 hours until the cert was valid, docker-machine env works. No clue why I am getting certs that are future dated but maybe should update issue to reflect the real root cause now that we know.

[2015-10-22 14:45] hairyhenderson commented on #1783
@elmariofredo - yep - I'm in favour of defaulting to `$DOCKER_MACHINE_NAME` for `stop`, `start`, `restart`, and `ip`.

I agree about `ssh`. TBH, if you're "doing it right", you shouldn't ever _need_ to SSH in to your Docker machine. The `ssh` command is _useful_ for stuff like troubleshooting, but it's not much to ask to just get the user to add the machine name!

[2015-10-22 14:58] blaggacao commented on #1954
In my case not the certs was the issue, but the time setting on boot2docker... As I can see on your github profile, you're from Chicago, that's a similar timezone to Bogota, maybe the boot2docker gets setup wrongly in our timezones...

[2015-10-22 16:19] carolynvs commented on #1954
After syncing the time using your workaround, I still receive the same error (certificate has expired or is not yet valid) when using those certs to connect to my docker host.

On my mac, this is what I see after making a new box and checking its time.

[code]

Here is the same commands on a new host on windows:

[code]

The date is showing my local time but thinks that it is UTC and I do not know

[2015-10-22 16:30] blaggacao commented on #1954
[code]

[2015-10-22 16:30] frapposelli commented on #2050
@ain wow, this is extremely weird, can you do me a `df -h` and `mount` from inside the boot2docker vm?

[2015-10-22 16:50] dmp42 commented on #2059
Thanks for the report @nicc

@nathanleclaire wdyt?

[2015-10-22 16:53] xwang-gobalto commented on #1709
+1

[2015-10-22 17:51] motin commented on #2055
This could be a more general VirtualBox DNS issue, not related directly to docker-machine, but I have never experienced a slow-down like this before installing docker-machine. Also, changing DNS servers to google's 8.8.8.8 locally and/or in the docker-machine has no difference on the latest.

[2015-10-22 18:14] nathanleclaire commented on #2055
Thanks for filing the issue -- I can dupe, but don't know what the problem is.  I'll look into it more and report back any findings here.

[2015-10-22 18:16] nathanleclaire commented on #2055
My guess is that the `.local` TLD is problematic.  Changing the entry to `docker` or `docker.dev` for me makes it resolve at normal speeds, it's just `docker.local` which adds the extra 5s overhead.

[2015-10-22 18:23] nathanleclaire commented on #2055
Since the issue doesn't seem related to Machine (other hostnames work fine), I'm closing this.

[2015-10-22 18:23] #2055 closed

[2015-10-22 18:29] #2037 closed

[2015-10-22 18:31] pandrew opened #2060 "vsphere driver cant find boot2docker.iso"
The vspheredriver looks for boot2docker.iso in ~/.docker/machine/ by default. Creating machine without iso already downloaded gives an error about the iso is missing. It seems to complete the download to the cache folder. Copying the iso from ~/.docker/machine/cache/ to ../machine/ solves this temporarily.

[2015-10-22 18:31] nathanleclaire commented on #2060
cc @frapposelli

[2015-10-22 18:42] nathanleclaire commented on #2059
Hm, it's really hard to say without more information.  I presume this is proprietary code and you can't post the repo?

Links _should_ work fine, and I don't see anything particularly suspect in your YAML given the problems you're running into.  However, given that it works fine with `image` but not with `build`, I'd start there.  Did anything change in the Dockerfile or the source code which migh

[2015-10-22 18:47] nathanleclaire commented on #2039
I'm open to the idea, but I don't want the checking to get over-elaborate.  I think the simplest possible thing to do would be to check if the `GetURL()` of the started machine matches `DOCKER_HOST` directly.  If it does, do nothing, and if it doesn't, suggest that the user will have to set the environment variables to "activate" the machine they just started.

[2015-10-22 18:48] nathanleclaire commented on #2029
That's fair -- right now I think we imply that it will work everywhere, but it's OS-dependent.

[2015-10-22 19:02] nathanleclaire commented on #1954
cc @tianon @SvenDowideit PTAL at the above RE: boot2docker time/date issues ^^

[2015-10-22 19:08] nathanleclaire commented on #1863
On master / RC all logs will go to STDERR so @zchee issue should be fixed.  Likewise using `MACHINE_DEBUG` over `DEBUG` seems to work.  Please re-open if the RC does not fix these issues.

[2015-10-22 19:08] #1863 closed

[2015-10-22 19:25] zchee commented on #1863
@nathanleclaire I tried a little while ago.
It seems to solve the current master branch :)

Thanks for remember the this issue!

[2015-10-22 19:33] nVitius commented on #1872
The docs fro setting up self-signed certs mention that you should add the cert to `/etc/docker/certs.d/myregistrydomain.com:5000/ca.crt`
I ssh'd into the machine and did that; private registry is working. Would it be feasible to add a command (or an option) to do this?
[link](https://docs.docker.com/registry/insecure/) to the docs

[2015-10-22 20:38] alexellis opened #2061 "Running docker-machine create wiped out my entire image library"
I ran docker-machine create with the following:

docker-machine version 0.5.0-rc3 (a1e610b)

generic driver from same binary package, pointing at an Arch Linux server, fully updated.

All images were truncated, all containers etc. There was no warning or error - this is crazy.

There should be a way of connecting to/registering an existing server running docker server. For instance now that I've t

[2015-10-22 21:11] nathanleclaire commented on #1676
This is fixed by the `--no-proxy` flag for `docker-machine env`

[2015-10-22 21:11] #1676 closed

[2015-10-22 21:12] nathanleclaire commented on #1608
No NG yet

[2015-10-22 21:12] #1608 closed

[2015-10-22 21:15] nathanleclaire opened #2062 "DOCKER_CERT_PATH (in `env`) should point to individual machine dir, not $STORE_PATH/certs"
Noticed that this was a regression introduced in the libmachine work which doesn't introduce any issues but potentially could (it is a digression from previous behavior)

cc @docker/machine-maintainers

[2015-10-22 21:27] nathanleclaire commented on #1474
Done

[2015-10-22 21:27] #1474 closed

[2015-10-22 21:30] nathanleclaire commented on #1823
@dmp42 Is this done?

[2015-10-22 21:57] bascht opened #2063 "No vboxsf mounts when running docker-machine from Linux"
This might be an issue in boot2docker but I only could reproduce it with docker-machine, so here we go:

### Two files in one folder
[code]
[code]
(it-works.txt is just an empty file to check)

## On a Linux host
[code]
## On an OS X host
[code]

---

If I compare both machines, I see that machine on OS X has mounted `/Users`:

[code]

while the Linux has no vboxsf mounts or /home mounts

[code]

[2015-10-22 22:10] nathanleclaire commented on #2061
cc @hairyhenderson due to Arch provisioning

It's hard to say what might have gone wrong without more detailed information such as debug output.  Can you provide the output of such an operation using `--debug`?

Right now, it's not well supported, but we're open to suggestions.

[2015-10-22 22:14] nathanleclaire commented on #1872
I'm interested -- possibly a `--engine-registry-cert` which would add the cert to the proper place during provisioning.

[2015-10-22 22:17] #659 closed

[2015-10-22 22:17] #504 closed

[2015-10-22 22:18] nathanleclaire commented on #504
We are introducing a driver plugin model with 0.5.0 and any user who wants to build and distribute such a driver is free to rock and roll!

[2015-10-22 22:18] nathanleclaire commented on #2063
Thanks for the issue -- it's a dupe of : https://github.com/docker/machine/issues/1376

[2015-10-22 22:18] #2063 closed

[2015-10-22 22:26] alexellis commented on #2061
The arch provisioning code had a commit 2 days ago by @hairyhenderson - I was lead to download the latest binaries (20 hours old) since I was getting an error about 'OS not recognised'
Since this code has only just been cut and committed perhaps the developer has not tested what happens when the provisioner is pointed to a host which already contains a docker library?

[code]

There is also a poss

[2015-10-22 22:46] nnordrum commented on #2046
yes, *many* users just use latest, but I can't necessarily update everything immediately. I also may not have the ability to upgrade to latest on say a shared build server, but I'm running latest locally.

I can relatively easily roll my own solution, but I figured others would have the issue as well.

[2015-10-22 23:04] nathanleclaire commented on #2046
Yeah, I agree it can be pretty annoying to manage multiple different daemon versions. In general my approach to solving this issue is one of:

1. Use an older client for all work (so don't upgrade Docker client to greater version than your oldest server)
2. Rename and use older clients like so: `docker-1.8.0 ps`.  Yeah, I know it's extra hassle, but it works.
3. `docker-machine ssh` into the machi

[2015-10-22 23:22] ain commented on #2050
[code]

[code]

[2015-10-22 23:24] kacole2 commented on #1996
shut one down and bring it back up... does that solve the issue?

[2015-10-22 23:39] motin commented on #2055
Thanks @nathanleclaire great find! There are workarounds and solutions to the issue with .local host names here: http://stackoverflow.com/questions/10064581/how-can-i-eliminate-slow-resolving-loading-of-localhost-virtualhost-a-2-3-secon

[2015-10-22 23:57] nathanleclaire commented on #2055
:+1:

[2015-10-23 00:36] nathanleclaire commented on #1376
I don't think it's a regression, if I remember correctly it was never supported at all.  It _was_ supported in some of the 0.4.0 RC binaries because we were considering moving to a new boot2docker OS which is based on Debian instead of TCL, and modified some Docker Machine code accordingly, including adding shared folder support for Linux.  I'm sorry to everyone who is wanting this feature and doe

[2015-10-23 02:01] jeffmendoza commented on #2023
I'll take a look on Monday

[2015-10-23 02:07] dmp42 commented on #2023
Thanks @jeffmendoza !
cc @nathanleclaire

[2015-10-23 02:21] hairyhenderson commented on #2061
Wow, sorry about this. i tested this in depth a few months ago when I first wrote the code but have mostly been carrying it along until it got merged just recently.

I wonder if your old docker configuration was using a different storage driver than overlayfs, in which case it's possible the images are still there (in /var/lib/docker), but just not being considered by the newer configuration.

Can

[2015-10-23 02:43] nathanleclaire commented on #2023
Have my eye on it.

My general thinking is that we should modify the driver to run without needing input from the user mid-flight, i.e. it asks for the required secrets etc. as flags instead.

[2015-10-23 03:59] joeduffy opened #2064 "Colons in SCP filepaths aren't supported"
On Windows, it's easy to get into a situation where you need a colon in filepaths, due to drive specifications.  For example, `docker-machine scp c:\some\file.txt default:/some/file.txt`.

This is currently unsupported, though it took a little spelunking.  See https://github.com/docker/machine/blob/master/commands/scp.go#L45.

My initial attempt to solve this was to specify localhost as the hostna

[2015-10-23 04:26] bascht commented on #1376
@nathanleclaire So, out of sheer curiosity: Does that mean that though there *is* a Linux build, `docker-machine` isn't usable on Linux hosts yet? :)

[2015-10-23 07:25] newPOPE commented on #1755
+1

[2015-10-23 07:26] TheDeveloper commented on #1872
+1

I need to manually copy the cert to the right place every time the VM is restarted so this would be a great help.

[2015-10-23 07:32] dgageot commented on #2062
dibs

[2015-10-23 07:51] alexellis commented on #2061
@hairyhenderson luckily most of what I had was built with Dockerfiles and did not contain anything I couldn't recreate. I appear to have device mapper mentioned here as well as overlay - but which was present before the pacman upgrade/overwrite I'm not sure.

I know that in this configuration vs an Ubuntu installation elsewhere with AUFS and on similar hardware the performance was slow.

I now hav

[2015-10-23 08:34] nashasha1 commented on #496
+1

[2015-10-23 11:48] dgageot commented on #1918
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?

[2015-10-23 11:49] dgageot commented on #1782
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?

[2015-10-23 11:49] dgageot commented on #1200
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?

[2015-10-23 11:49] dgageot commented on #1196
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?

[2015-10-23 11:49] dgageot commented on #786
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?

[2015-10-23 11:49] dgageot commented on #395
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?