[2016-01-11 19:52] jrperritt commented on #2798
Possibly related issues and some fixes for them:
https://github.com/docker/toolbox/issues/275
https://github.com/docker/machine/issues/2320

[2016-01-11 20:33] smashwilson commented on #2798
I've been investigating this and I can't reproduce it myself, even using a 0.5.1 binary.

Can you `docker-machine ssh` in to your hosts? If so, can you verify that the docker daemon is running and correctly bound to port 2376? Failing that, I'd verify that there's nothing odd going on with your networking; port blocking from a VPN, for example.

It is strange to me that it doesn't fail during prov

[2016-01-11 22:34] nathanleclaire commented on #2318
@pietv We are working on it but it's tricky to reproduce.  Do you have it reproducing reliably?

[2016-01-11 22:50] frapposelli commented on #2787
The default `vmnet8` does exactly that, it's a network segment that is shared between all the VMs attached to it and is NAT'd on the outside by your Mac that act as a gateway. Did that not work for you?

Custom networks are usually created to segregate network segments (e.g. non routed private segments) or where you want to provide your own NAT (e.g. on a separate VM).

[2016-01-11 23:14] john-hawkins commented on #2240
The suggestion by nathanleclaire ( Dec 10, 2015 ) also worked for me.
Run
[code]

[2016-01-11 23:25] nathanleclaire commented on #2808
Did the `create` fail in the first place?  `env` and `regenerate-certs` won't be much help if `create` did not return successfully.

[2016-01-11 23:35] nathanleclaire commented on #2795
Hi @DanielDent, thanks for the report.  Will you please post OS (of the provisioned system), the contents of the failing systemd unit file, and the contents of the proper one>

[2016-01-11 23:37] nathanleclaire commented on #2794
The driver system should display anything that the plugins logs to STDOUT by default, and include anything printed to STDERR if `--debug` is set.  Perhaps adding a custom logger would be a good thing to do in our usage of the Go AWS package.

[2016-01-12 00:15] jeffellin commented on #2794
I am not seeing anything from the basic aws go logger,  I will try and spin
up a standalone test outside of docker to see if I am even setting the
flags right.

On Mon, Jan 11, 2016 at 6:37 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2016-01-12 00:39] squillace commented on #2742
+1

[2016-01-12 00:40] ililic commented on #2742
+1

[2016-01-12 01:32] DanielDent commented on #2795
Debian Jessie:
Failing systemd unit file (was located in /etc/systemd/system):

    [Service]
    ExecStart=/usr/bin/docker -d -H tcp://0.0.0.0:2376 -H unix:///var/run/docker.sock --storage-driver aufs --tlsverify --tlscacert /etc/docker/ca.pem --tlscert /etc/docker/server.pem --tlskey /etc/docker/server-key.pem --label provider=generic
    MountFlags=slave
    LimitNOFILE=1048576
    LimitNPROC=1

[2016-01-12 01:37] nathanleclaire commented on #2795
Thanks, will take note and work on fixing.

[2016-01-12 01:52] bobby commented on #661
+1 for --amazonec2-keypair-name

[2016-01-12 02:24] jeffellin commented on #2794
@nathanleclaire I am assuming there is nothing right now to alert the driver to the fact that debug is enabled?  Java you can usually do something like logger.isDebugEnabled but I don't see anything like that in the go logger.  I suppose I can expose the state via the docker logger.  I see you have a setDebug but not a getDebug.

[2016-01-12 02:56] nathanleclaire commented on #2794
@jeffellin, the drivers should display STDOUT just fine, and have `log.IsDebug` set to true automatically (https://github.com/docker/machine/blob/master/libmachine/drivers/plugin/register_driver.go#L32).

Most likely the debugging output you are looking for was in https://github.com/docker/machine/blob/v0.5.4/drivers/amazonec2/amz/ec2.go#L154, which was removed when we moved to the new lib.

[2016-01-12 02:59] jeffellin commented on #2794
@nathanleclaire Why are you setting debug explicitly on drivers, shouldn't it follow the --debug?

What I am looking to do is programmatically set the aws debug when setting up the client.

svc := ec2.New(sess,aws.NewConfig().WithLogLevel(aws.LogDebugWithHTTPBody))

[2016-01-12 03:02] nathanleclaire commented on #2794
@jeffellin You could just check `log.IsDebug`.

Maybe, but the way it currently works today is that we ask the driver to dump all output (debug output always goes to STDERR) and then we do the display filtering at the client level.

[2016-01-12 03:06] jeffellin commented on #2794
So you are making an assumption that debug is always stderr,   I can't guarantee that a third party library would use stderr if I want to enable debug mode on it.

[2016-01-12 03:24] nathanleclaire commented on #2794
I'm not 100% sure what you mean -- yes, we assume output intended to be only shown when `--debug` is used to be the same as output which the driver sends to STDERR, and output sent to STDOUT "leaks" to the client binary exec by default.

It's true that one cannot guarantee 3rd party libraries will log debug output to STDERR, but sending debug output to STDERR is a very common convention.  `ssh`, f

[2016-01-12 03:25] jeffellin commented on #2794
@nathanleclaire Looking at the aws code a bit more.  Then use a logging abstraction, unfortunately they only have one method log()  when debug is enabled via
[code]

So even if I implement my own logger I can only log stderr or stdout.

It will check in the code and then continue to dump the message to the same log method. In other words it will simply send more data to the logger if log is enable

[2016-01-12 03:28] nathanleclaire commented on #2794
My first approach (there might be a better one) would just be to set the log level as high as we can and direct the output to STDERR (so it's only shown with `--debug`), then pepper the driver code with `log.Info` calls for what we want to send to STDOUT without `--debug`.  Most drivers aren't very chatty without `--debug` so I don't feel like we'd lose much.

Can you please file an issue for that

[2016-01-12 03:29] jeffellin commented on #2794
I guess my hangup is that I can’t determine if machine is in debug mode to
generate extra information, since the logger is always set to debug for the
driver.

On Mon, Jan 11, 2016 at 10:24 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2016-01-12 03:30] jeffellin commented on #2794
@nathanleclaire you are probably right,   I can direct all aws messages to stderr,  I think by default it logs nothing anyway.

[2016-01-12 03:43] jeffellin opened #2810 "amazon account with multiple security groups called "docker-machine" may fail to create instance"
AWS can contain multiple security groups with the name "docker-machine" They may exist in multiple VPCs.   The driver currently requires subnet as a minimum input,  however vpc is not required.  Without the vpc information the driver may retrieve the wrong security group resulting in an issue where the group cannot be applied to an instance in the specified subnet.

Suggestion,

It should be possi

[2016-01-12 03:55] jeffellin commented on #2492
@mwarren2 How are you accessing the private ip?  Usually it is going to be non routable from your mac unless you have a vpn of some sort into your VPC.   We use the private ip address option all the time and I am constantly reminding my coworkers that it won't work unless you are connected to the VPN.

[2016-01-12 06:20] haysclark commented on #1031
I was having similar issue after installing the latest version of Docker for OSX.
```docker-machine version 0.5.5, build 02c4254```

I fixed this issue by deleting the VirtualBox application, then re-installing the latest official version.  You might have to kill any VirtualBox threads that are running.  After that docker-machine was running happily.

[2016-01-12 07:43] xinxian0458 opened #2812 "Openstack driver should set private ip address"

[2016-01-12 08:00] hcguersoy commented on #2788
Hi Ian,

I observe the same, but it continues after several minutes.
During this time, `VBoxManage` occupies one of the CPU cores up to 99%.
Overall, the creation of a simple machine lasts about 5 minutes.

I'm running it on a MacBook Pro 13'' with a SSD, VirtualBox 5.0.10 r104061, Docker Machine 0.5.6.
I didn't observed this with Machine 0.5.0.

[2016-01-12 08:55] binarytemple commented on #2787
I will need to rerun my tests, but if I recall correctly I wasn't able to connect to exposed ports on boot2docker VMS despite enabling NAT in the VMware configuration files.(IMHO fusion is a dog, I'm only paying for it rather than using VirtualBox because I'll be deploying to a large VSphere cluster and want to get a feel for the CLI/tooling sooner than later).So I opted for the custom configurati

[2016-01-12 09:10] andyau commented on #2798
docker-machine -D env dev-autumnapp out is:

olexandr@E5-551G:~/vboxes/autumn-docker-compose-files$ docker-machine -D env dev-autumnapp
Docker Machine Version: 0.5.1 (7e8e38e)
Found binary path at /usr/local/bin/docker-machine-driver-rackspace
Launching plugin server for driver rackspace
Plugin server listening at address 127.0.0.1:59892
() Calling RPCServerDriver.GetVersion
Using API Version 1
()

[2016-01-12 09:11] andyau commented on #2798
Port 2376 verification:

root@dev-autumnapp:~# netstat -tulpn | grep :2376
tcp6       0      0 :::2376                 :::*                    LISTEN      11066/docker
root@dev-autumnapp:~# sudo service docker status
docker start/running, process 11066
root@dev-autumnapp:~#

[2016-01-12 09:18] frapposelli commented on #2787
First, I'm not against making the change in the code (I gave LGTM to #2790) but I want to better understand the rationale behind it, and if there are any use cases that are not covered by the current implementation.

From your message your requirements seem to be:
- The boot2docker VMs must be connected on the same subnet and reachable (from your Mac and between them)
- The VMs must be on a specif

[2016-01-12 09:34] binarytemple commented on #2787
The boot2docker VMs must be connected on the same subnet and reachable (from your Mac and between them)The VMs must be on a specific subnet (10.69.1.0/?)You want to do port address translation (e.g. port 4000 on your mac -> port 80 on a b2d VM)Correct for the first two - ‎but if I have them working there is no need for 3 (port address translation/DNAT) (it might be nice in some cases but not neces

[2016-01-12 09:55] frapposelli commented on #2787
Got it, thanks.

You can definitely do 1 and 2 without creating a custom network:

- VMs connected on `vmnet8` are not restricted and can talk to each other

[code]

- By default when you install Fusion `vmnet1` and `vmnet8` are configured with a range that should not collide with any currently attached network, but the subnet is easily configurable, you can move your `vmnet8` to `10.69.1.0` by fo

[2016-01-12 11:02] felipesabino commented on #2240
Still experiencing the same problem here.

This is my output after  `$ docker-machine --debug create -d virtualbox default`:

[code]

[2016-01-12 11:04] mwarren2 commented on #2492
@jeffellin What you are saying makes sense. But I was able to ssh into it.

[2016-01-12 12:43] smashwilson commented on #2798
Alright, thanks. From the trace, we can see that it's failing [in this section,](https://github.com/docker/machine/blob/7e8e38e/libmachine/cert/cert.go#L236-L243) which (according to my tracing) is indeed the first time that docker-machine attempts to open a connection to the host on 2376. You've verified that the docker daemon is up and listening, so the problem must be in the connection between

[2016-01-12 12:46] jakirkham commented on #2494
So, I have now seen this happen once when breaking it up into start/stop commands. It could be that this is a VirtualBox bug. The easiest fix would probably just be to add a timed sleep here or increase the time if there is one.

[2016-01-12 13:39] andyau commented on #2798
We tried that code and it didn't connect at all. The servers are in the London region.

[2016-01-12 13:48] smashwilson commented on #2798
Alright. Are you behind any kind of proxy, firewall, or VPN?

The host _shouldn't_ be blocking traffic, but it's worth a check. `docker-machine ssh` in and run `iptables -L -n -v` to see if there's anything weird going on there.

[2016-01-12 13:54] stushurik commented on #2798
We have disabled ufw on the host and it seems everything is working now. Thank you!

[2016-01-12 13:58] smashwilson commented on #2798
Huh! Well that shouldn't have happened. Did you enable it yourself, by any chance?

If not, it might be enabled by default on that image, now, which means that `docker-machine create` would need to turn it off (or, better, configure it to permit external connections to the Docker daemon and not interfere with Docker's networking shenanigans).

[2016-01-12 14:09] stushurik commented on #2798
No we didn`t enable it. Actually, we run only docker-machine create.

[2016-01-12 14:14] smashwilson commented on #2798
Okay, I suspected so. No explicit `--rackspace-image-id` argument either? It's odd to me that my machines don't seem to launch with ufw enabled but yours did.

I'll see if I can deal with that during provisioning somehow.

[2016-01-12 14:15] marcuslinke commented on #1450
@frapposelli I've seen your branch is merged, but this issue still exist in docker-machine 0.5.5 which is the latest (toolbox) release for MacOS currently.

[2016-01-12 14:19] marcuslinke commented on #1450
Debug output:

[code]

[2016-01-12 14:22] stushurik commented on #2798
We defined 3 env variables:
$OS_API_KEY
$OS_REGION_NAME
$OS_USERNAME

and launch docker-machine create

[2016-01-12 14:35] frapposelli commented on #1450
@marcuslinke I'll take a look at it this week, can you confirm that if you select a network that doesn't contain slashes the create command completes correctly?

[2016-01-12 14:56] marcuslinke commented on #1450
@frapposelli Unfortunately we haven't such network currently here. But it had defintely worked once the driver was implemented the old `govc` way. At that time I've bothered our admin to create a test network without slashes and it worked.

[2016-01-12 15:33] frapposelli commented on #1450
@marcuslinke thanks for confirming, `govc` is based on `govmomi` which is the same library the driver is using now so we should be good on that.

[2016-01-12 17:20] dgageot opened #2814 "Improve VT-x detection in PreCreateCheck"
We currently can't check for VT-x support on Windows 7 because wmic doesn't support the right flag. This should be fixed with things similar to https://github.com/intel-go/cpuid

[2016-01-12 17:24] darkermatter commented on #2046
@outcoldman I bashed up against this the other day so I knocked together some scripts to ease the use of multiple versions. The gist is here https://gist.github.com/darkermatter/c57c112c0b24197ea99d

I know it's been a few months but I hope it helps somebody.

[2016-01-12 17:25] dgageot opened #2815 "Improve libmachine for 3rd party applications"
We should improve the package structure of libmachine and make sure it's easier to use in 3rd party applications

[2016-01-12 17:36] dgageot opened #2816 "Specific exit code for PreCreateCheck errors"
This should return exit code 3 for pre-create check errors so that Kitematic/Toolbox can filter those errors out.

[2016-01-12 17:50] outcoldman commented on #2046
@darkermatter :+1: thanks! I still believe it should be managed by docker-machine, if they want it to make production ready.

At current point I see that docker-machine team (including @nathanleclaire ) targeting their project only for developers. Meaning that I do not see how this product can be production ready as with every update of docker-machine:

### It can break machine setup.

So many tim

[2016-01-12 17:53] darkermatter commented on #2046
Aaaaand compose just choked up a hairball so I have to start fixing the scripts. I'll update the gist when it's working.

[2016-01-12 17:56] darkermatter commented on #2046
@outcoldman To be fair, the last time I looked at the website, it stated that it shouldn't be used for production.

[2016-01-12 18:01] outcoldman commented on #2046
@darkermatter for some reason @nathanleclaire removed it https://github.com/docker/machine/commit/b2d8bcdd75558e5112b97c239c2fe29a60cf386c

[2016-01-12 18:07] snelis commented on #2798
The same issue was the problem for me, but then on digitalocean.

[code]

disabling this fixed it

[2016-01-12 18:13] outcoldman opened #2817 "Make machine to be ready for production or add a message "Not ready for production""
I found that in September 2015 message "Machine is currently in beta, so things are likely to change. We
 don't recommend you use it in production yet." has been removed from the main page, see https://github.com/docker/machine/commit/b2d8bcdd75558e5112b97c239c2fe29a60cf386c

Good that it is not in beta, but personally it feels like you should keep "We
 don't recommend you use it in production yet

[2016-01-12 18:14] outcoldman commented on #2046
@darkermatter @nathanleclaire actually created new issue for that #2817

[2016-01-12 18:44] snelis commented on #2798
Good call on the proxy for my case it turns out a corp. proxy is causing the timeout here.
Tried the wget, but it will just hang on on `Connecting to x.x.x.x:2376... connected.`
If i try another proxy i get `Unable to establish SSL connection.`
When jumping outside of this network everything works perfect.

tnx for the time and effort

[2016-01-12 19:20] jeffellin commented on #2794
@nathanleclaire  Thoughts on this as a possible solution?

https://github.com/jeffellin/machine/commit/b2b8bf794c7187358a7b6a974e28ca63466f3214

Basically its a implementation of the aws logger interface that prints all messages to stderr.  The driver out of the box prints very little to stdout unless debug is turned on so we won't really be losing anything by dropping it down to debug level.

[2016-01-12 19:25] nathanleclaire commented on #2794
@jeffellin Seems like a good solution to me.

[2016-01-12 19:26] jeffellin commented on #2794
thanks I need to clean up the commit a bit then I will do a PR.

[2016-01-12 20:20] nathanleclaire commented on #2817
Thanks for the issue @outcoldman.

The original message in the documentation was just too confusing.  We found that people were mistaking "not ready for production" with "not OK to use on my local computer with VirtualBox", which Machine is perfectly acceptable to use for.  "Ready for production" means a lot of different things to a lot of different people and I think that maintaining a version <1

[2016-01-12 21:10] outcoldman commented on #2817
If you will perform upgrade of docker host - this means that for some time your service will be unavailable. Usually there are just no need for you to keep old droplet (if we are talking about DO). When you want to upgrade one droplet - it is much easier for you to create new droplet with latest patches on OS and latest docker installed, after that replace old container with new one. If you have c

[2016-01-12 21:19] the42 opened #2820 "Add general switch to customize docker daemon port"
The Azure-driver provides the ability to specify the port on which docker, after host creation, should listen
    https://docs.docker.com/machine/drivers/azure/
--azure-docker-port

However, I definitely think that this switch need not be restricted to a driver but be provided as a general switch.

Rationale: provider uses eg. openstack but does not allow communication on port 2376

[2016-01-12 21:36] stkiss commented on #1709
:+1:

[2016-01-12 22:00] robbles commented on #2808
@nathanleclaire this is a machine that was created successfully and has been working without any problems for a month or more. I updated docker-machine and ran into this issue.

[2016-01-12 22:49] mefellows commented on #1357
Excellent @marcellodesales, keen to hear how you go.

[2016-01-12 22:51] nathanleclaire commented on #13
Does it give you an error message specifically indicating that this is the problem?

Have you tried doing the NFS mount manually?

[2016-01-12 22:53] nathanleclaire commented on #2175
I have seen this issue with Viktor from Docker, at least in his case it seems to be related to trying to run `env` immediately after a `start` has finished (in a script).  It seems that maybe we should wait for the Docker daemon to be up when running `start`, or increase the TLS dial timeout.

[2016-01-12 23:08] compleatang commented on #2318
@nathanleclaire Yes. With 0.5.5 it was happening every time our tests ran (I work with @pietv so we're talking about the same thing). Here's a sample build result -> https://ci.appveyor.com/project/eris-ltd/eris-cli/build/1.0.364-winConFix . We're working around the issue by using 0.4.1 which was before the move to plugin model and that works reliably.

The build system uses: Windows Server 2012 R

[2016-01-12 23:18] nathanleclaire commented on #2318
@compleatang Any chance I could get that same CI output with `--debug` enabled?

[2016-01-12 23:33] compleatang commented on #2318
Sure. Let me change it and push a build now.

[2016-01-12 23:34] rgardler commented on #2742
There are plans to move to move the docker-machine Azure provider to use Azure Resource Manager - see #496

[2016-01-12 23:35] compleatang commented on #2318
Build is queued, but it'll be here -> https://ci.appveyor.com/project/eris-ltd/eris-cli/build/1.0.440-winTest

[2016-01-12 23:56] formerlyKurt commented on #2686
I thought that this was going to be merely a trivial annoying issue, but it turns out that this also prevents pushing into a private repository.  Tagging and pushing via the IP address will work but if we want the host name to be mapped to the IP address then we would need to be able to persist that host file entry between Docker host restarts.

How are other folks solving this issue?

[2016-01-13 00:17] compleatang commented on #2318
Debug output here -> https://ci.appveyor.com/project/eris-ltd/eris-cli/build/1.0.441-winTest

There was a panic, so am assuming that will be helpful for debugging purposes. Thanks for all your work, we're heavy docker-machine users and very thankful for your efforts.

[2016-01-13 00:32] dgageot commented on #2175
What is the error Viktor is seeing?

[2016-01-13 00:38] nathanleclaire commented on #2817
Sure, that makes sense, I'm just saying, consider this scenario:

(1) New versions of Docker and Docker Machine are released (say, 1.10 and 0.6.0)
(2) You want to upgrade Docker, so you create a new droplet with Machine in anticipation of throwing the old one away.  Even if you're using Machine 0.5.X, the Docker version on the created instance will still be 1.10, since Machine follows the upstream

[2016-01-13 00:43] nathanleclaire commented on #2175
@dgageot Basically there was a script which contained code like this:

[code]

And on the `env` line it would print out an error saying that the TLS dial timed out attempting to connect to the endpoint.  It seems to be because the Docker daemon had not booted yet even though `start` had returned already.  (Which makes sense -- VirtualBox indicating that the VM is "Running" doesn't necessarily mean

[2016-01-13 00:54] brianclaridge commented on #2667
Same as @jeffellin @metasim. I'm using packer to provision custom docker hosts, where certs are created in that provisioning and using using vagrant ssh to copy them back into ~/.docker/machine/machines/my_custom_host/.

[2016-01-13 01:17] nathanleclaire commented on #2820
Thanks for the issue @the42. It's definitely something we could implement at the provisioner level, _but_ the really tricky bit is modifying all of the drivers to open the security group ports (most open `:2376` by default) properly.

[2016-01-13 01:18] nathanleclaire commented on #2816
Done

[2016-01-13 01:18] #2816 closed

[2016-01-13 01:40] StefanScherer opened #2822 "Provisioner plugins?"
Are there plans to allow provisioner plugins or at least to allow a driver plugin to bring its own provisioner with it?

Background is the discussion in https://github.com/hypriot/docker-machine-hypriot/issues/1 to fully implement the Hypriot driver plugin to connect eg. to a Raspberry Pi and provision Docker on ARM there.
The hard part seems to be adding the little different provision steps. I co

[2016-01-13 01:59] nathanleclaire commented on #2318
Yes, it's very helpful.  Actually, handling panics in the plugin / server side is something that I had originally intended to work on implementing but it slipped through the cracks.  I wonder if this is what's behind all of the "connection reset by errors" and if we're just now getting all the logs thanks to @dgageot efforts.

Nice and very appreciated!

[2016-01-13 02:30] cjerdonek commented on #2175
@nathanleclaire @dgageot See my two comments [here](https://github.com/docker/machine/issues/2175#issuecomment-168533573) and [here](https://github.com/docker/machine/issues/2175#issuecomment-168792110) on this issue a little over a week ago making this same observation, with a little more information and scripts to reproduce.

[2016-01-13 02:50] outcoldman commented on #2817
@nathanleclaire first of all thank you for keep a conversation going.

As an example I will share my home projects / machines:
1. Dev on OSX (VirtualBox) - trying to keep the latest version, so I can always try new docker stuff.
2. Home Server with docker (CI, log management, VPN, few databases and few home projects). Usually doing only major upgrades or when I see that I really need something fro

[2016-01-13 03:25] sarink commented on #1792
+1

[2016-01-13 03:28] nathanleclaire commented on #2318
Filed https://github.com/docker/machine/pull/2823 which should hopefully at least resolve the panics that @compleatang.  It won't fix the bug that's causing an out of bounds error though, that seems to be a bug in the AWS driver.

[2016-01-13 03:38] sarink commented on #1709
+1

[2016-01-13 04:22] stkiss commented on #13
+1

[2016-01-13 05:55] blaggacao opened #2824 "IPv6 & ssh "Too many colons""
[code]
[code]

I've heard the IPv6 must be handeled in `[fe80::215:5dff:fe5f:100]:22` format

[2016-01-13 05:59] blaggacao commented on #2824
ref: #1616

[2016-01-13 06:03] blaggacao commented on #1616
I'm hunting in same woods:

- fe80: are equivalents to 169. reserved adresses.
- it seems there is no dhcp running on your vSwitch which would assign a correct IP
- http://www.dhcpserver.de/cms/ is easy to use for enabling dhcp on your switch
- "External" seems not to work on some routers, such as mine, or am I missing something here?

[2016-01-13 06:19] blaggacao opened #2825 "regenerate-certs fails on Win10, PowerShell in 0.5.6"
[code]
[code]

[2016-01-13 06:22] blaggacao commented on #2825
restart PS solved this very intersting bit of failure...

[2016-01-13 08:13] #2794 closed

[2016-01-13 08:26] ducdebreme commented on #2660
subscribing

[2016-01-13 09:06] kunalkushwaha commented on #2771
Currently, if we try to create more then one swarm masters with same KV store, it is permitted.
Also, all becomes part of same cluster, But they manage scheduling independently i.e. none of master shares information with others, I think this is not expected behaviour.

Will it be not correct to support ``--replication`` by default. In this case, if multiple masters are created with same KV store,

[2016-01-13 11:15] dgageot commented on #2608
Closing. Not a bug

[2016-01-13 11:15] #2608 closed

[2016-01-13 11:16] dgageot commented on #2568
That's good news! Closing the ticket then Thanks a lot for taking time to test again.

[2016-01-13 11:16] #2568 closed

[2016-01-13 11:27] dgageot commented on #2263
Thanks @johnraz for the feedback

ping @docker/machine-maintainers So we have a problem with our cross compilation strategy. We knew that but now it's concrete. Any ideas?

[2016-01-13 11:37] jeanlaurent commented on #2815
![archi-machine](https://cloud.githubusercontent.com/assets/197016/12293124/a6788bd6-b9f1-11e5-8938-407c6dcf4db7.png)

This is a bird view of the architecture ( with the obligatory boxes and arrows ).
* This idea is to clearly define the boundaries of what code should be accessed through an API, and make sure it is properly documented and easy to access
* There is roughly to "public" API, the comm

[2016-01-13 13:21] jakirkham commented on #2258
I have what I believe to be the exact same issue with Junos Pulse. I can use docker find at work and at home without the VPN. As soon as I connect to the VPN, it is completely unusable. Rebooting the VM makes no difference. This issue has existed with various versions of `docker-machine`, but here are my current versions.

* Mac OS 10.9.5
* `docker-machine` 0.5.2
* Junos Pulse 5.1

[2016-01-13 13:24] jakirkham commented on #2258
This also seems related ( https://github.com/docker/machine/issues/2632 ).

[2016-01-13 13:25] jakirkham commented on #2632
This also seems related ( https://github.com/docker/machine/issues/2258 ).

[2016-01-13 13:37] jakirkham commented on #1802
I guess the most important things to me are things like memory, cpus, disk space, driver, etc. Admittedly, they can be passed in by CLI, which I do now. However, I provide a wrapper script for internal users to start a base `docker-machine` instance with a particular docker image and go from there. As their setup could be in any configuration, it is nice to be able to compare their current config

[2016-01-13 14:01] darkermatter commented on #2046
Okay, a simplified Gist is up. Hope it helps.
https://gist.github.com/darkermatter/c57c112c0b24197ea99d

[2016-01-13 14:07] matevarga commented on #2753
Same here. Kernel:
`Linux vagrant-ubuntu-trusty-64 4.2.0-23-generic #28~14.04.1-Ubuntu SMP Thu Dec 31 13:40:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

[2016-01-13 14:17] darkermatter commented on #2817
@nathanleclaire I know you probably live in a brave new world that the rest of us can only dream of knowing 😜, but...

Some of us old-timers would expect ABI/API compatibility between major versions so are we to assume that Docker is using supermega.major.minor? Where's patch?

In my world, having fast moving parts which are installed on old laptops, new laptops and vacuum cleaners (i.e. a client)

[2016-01-13 14:51] dgageot commented on #572
Fixed with https://github.com/docker/machine/pull/1522

[2016-01-13 14:51] #572 closed

[2016-01-13 14:52] dgageot commented on #732
Closing. this had been fixed

[2016-01-13 14:52] #732 closed

[2016-01-13 14:55] dgageot commented on #899
Closing. This is fixed

[2016-01-13 14:55] #899 closed

[2016-01-13 14:57] dgageot commented on #1081
Closing. This is fixed

[2016-01-13 14:57] #1081 closed

[2016-01-13 14:58] dgageot commented on #1094
Can @everybody test with docker-machine 0.5.6?

[2016-01-13 15:00] dgageot commented on #1163
Hello @ecourtenay @hideaki-t @mfcollins3 can you try on again with docker-machine 0.5.6?

[2016-01-13 15:01] dgageot commented on #2815
See https://github.com/docker/machine/issues/1211 and https://github.com/docker/machine/issues/1202

[2016-01-13 15:07] dgageot commented on #1521
@hheimbuerger @sakai135 @henriiik can you try with docker-machine 0.5.6 and tell us if it's better?

[2016-01-13 16:42] the42 commented on #2820
In that case I was misunderstood and/or didn't read clear the switch --azure-docker-port.
Opening ports in a firewall clearly is a driver issue. What I am referring to is, what if a user managed to specify a port to use the docker service other than 2376 / 3376 (because those ports are unavailable on the hosting provider for what reasons ever), it is still required that a  command like
    docker-

[2016-01-13 16:43] jeremymills commented on #2773
Been receiving the same thing recently, I didn't see this issue here but posted in [StackOverFlow](http://stackoverflow.com/questions/34679916/docker-machine-error-attempting-heartbeat-call-to-plugin-server-connection-is) a day after you, will update if I get anything

[2016-01-13 17:08] dhawal55 commented on #2661
I'm running into the same error when using docker-machine 0.5.6. Using an hvm based AMI doesn't fix it.
Here's the output:
`
Docker Machine Version:  0.5.6, build
Found binary path at /usr/local/bin/docker-machine
Launching plugin server for driver amazonec2
Plugin server listening at address 127.0.0.1:49790
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachin

[2016-01-13 17:09] jakirkham commented on #2494
Also, I have seen this warning when creating new machines. [`0a7406`@libmachine/provision/boot2docker.go#L198-L208]( https://github.com/docker/machine/blob/0a74068b1128a2b7d3a1c0608ee996ddfd796609/libmachine/provision/boot2docker.go#L198-L208 ) Not sure if it is related to the same fundamental problem here. The reason I think it might be is I see this warning and then the next `docker` command wor

[2016-01-13 18:08] dhawal55 commented on #2661
Setting --amazonec2-region takes me further. But it fails when trying to SSH into the instance. The instance is in stopped statte. I tried starting it manually, but it gets stopped again after couple of mins.

Looking as ec2's State Transition Reason:
[code]
It could be related to the attached volume. I'm troubleshooting and will post details.

[2016-01-13 18:25] jeanlaurent opened #2829 "AWS unit test aren't unit in any way"
Currently a couple of "unit" tests in the `amazonec2` driver are accessing the network.

With 80f8ebf we can now mock away any call to the driver.

[2016-01-13 19:12] londoncalling opened #2830 "Docker does not auto-start on login even with that option enabled per Settings"

[2016-01-13 19:21] #2830 closed

[2016-01-13 20:18] nathanleclaire commented on #2824
Can you provide a few more details about how you've created the machine?  driver, etc.

It's been pretty implicit in `GetIP` so far that it means IPv4, although I'm not crazy about that.

[2016-01-13 20:45] blaggacao commented on #2824
Of course, I'm using the hyper-v driver on windows 10.

For some reasons I cannot make an external network switch working. I guess it's for incompatibilities of my router, without knowing if this is a reasonable suspect.

Therefore I work with the "internal" switch and network sharing, which is adviced at some place in the internet.

The so called "internal" switch however does not provide dhcp an

[2016-01-13 20:59] blaggacao commented on #2824
I can't right now find the docker commit, that includes ipv6 support for the `docker -H` option. But it exists and will make it into 1.10...

[2016-01-13 21:00] #2825 closed

[2016-01-13 21:50] nathanleclaire commented on #2240
@felipesabino Thanks. It always fails even if you remove machine and try again?  It seems to be VirtualBox NAT forwarding failing, can you check the SSH command by running `docker-machine --debug ssh default`?

[2016-01-13 23:31] felipesabino commented on #2240
@nathanleclaire Just did and it fails, full log [here](https://gist.github.com/felipesabino/5dd56abacfab168ad642#file-docker-machine-debug-ssh-default-vvv-log)

[code]

[2016-01-13 23:34] felipesabino commented on #2240
@nathanleclaire Oh and btw, thanks for looking it up :)

[2016-01-14 00:34] pdalpra opened #2832 "Additional persist.FileStore to store docker-machine data on Git repository ?"
A little backstory:
I've been working extensively the past months with docker-machine to automatically set up testing environments through Jenkins.
One of the pain points is that, since docker-machine data is stored on the local FS, I had to run all docker-machine related jobs on the same slave to ensure that that local data is always available.
I've since introduced automatic clone and commit-pus

[2016-01-14 01:04] nathanleclaire commented on #2832
I'd be interested to see a PR, although perhaps a more detailed proposal first might save you some work.  It's hard to commit (heh) to such large features right off the bat (there are many stakeholders), but I've always though versioning `config.json`s in `git` could potentially be really cool.

[2016-01-14 01:23] kunalkushwaha commented on #2822
+1 for need of additional/external provisioning support.

On different use case, I am working on machine to build docker host for production environment. Usually in production, docker host requires more then just docker and swarm.
e.g. Volume managers like [Flocker](https://github.com/ClusterHQ/flocker) or [Openstorage](https://github.com/libopenstorage/openstorage)
- Creating OS image with such t

[2016-01-14 02:25] nathanleclaire commented on #2240
OK @felipesabino can you please try upgrading the Machine version to 0.5.6 and your VirtualBox version to 5.0.12 to see if the problem is resolved?

[2016-01-14 03:08] nathanleclaire opened #2834 "SSH forwarding solution to exposed container ports / non-working host only interface"
Hi @dgageot @jeanlaurent, here is one idea for how we might be able to work around situations where VirtualBox host only interfaces do not work (because of VPN etc.) or are just plain unreliable: https://github.com/nathanleclaire/mcnforwarder/

Let me know what you think of this idea, I don't think it would be good for Machine but for this and a few other areas that need improvement we might be ab

[2016-01-14 03:33] rkazak commented on #2773
Hi, I believe that this will also shed some more light on the [issue.](https://github.com/boot2docker/boot2docker/issues/628) I found this after reading something else which help my google search. ( docker-machine cisco network vpn ).

[2016-01-14 06:58] raimille1 commented on #2726
+1 here hitting the same issue

[2016-01-14 07:38] asethia opened #2836 "wsarecv: An existing connection was forcibly closed by the remote host."
every time when I am trying to run docker-machine I am getting following error

Docker Machine Version:  0.5.5, build 02c4254
Found binary path at d:\Program Files\Docker Toolbox\docker-machine.exe
Launching plugin server for driver virtualbox
Plugin server listening at address 127.0.0.1:56088
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachineName
(flag-loo

[2016-01-14 07:44] dherben opened #2837 "Intermittent SSL key/certificate generation issues"
I've been encountering intermittent failures trying to set up a docker VM under VirtualBox on Mac OS X using Docker Toolbox 1.9.1 (tried 1.9.1h and every one before that). All seem to be related to ssh in one way or another, but the exact symptoms vary. I've encountered any of the following:

* docker-machine create hanging on 'Starting VM'
* docker-machine restart complaining that certificates ne

[2016-01-14 08:14] #2159 closed

[2016-01-14 09:13] felixge commented on #2234
I'm running into a similar problem with a different VPN.

It seems that `~/.docker/machine/machines/default/config.json` has `Dns` field that can be set to e.g. `["ns.example.org"]`. Unfortunately this doesn't seem to reconfigure the vm, even after a `docker-machine reboot default`.

[This article](https://blog.docker.com/2015/06/docker-machine-0-3-0-deep-dive/) indicates that setting the machine

[2016-01-14 10:03] mssola commented on #2690
I think that this has been solved with commits 00eee7db1d409e14a4d1e8f3dbc64d45e07a8ffd, 263f8c5cddaef930427a1b1b1a5829b842a08620 and 85405468de1d92ef2c5e38d34741a702ec8909fe; no ? At least I can run this example (I had to upgrade to 0.5.6)

[2016-01-14 10:06] dgageot commented on #2690
@blacktop @mssola yes, this should work now

[2016-01-14 11:54] deas commented on #1491
@joeloria Adding a third bridged interface generally works. However, it breaks `docker-machine config ...` broken for me (version 0.5.4).

[2016-01-14 12:53] drawsmcgraw commented on #1491
Thanks @mattupstate !  Can I do this *without* having to create the third network interface like @joeloria  did? That would be more elegant than my current technique, which is giving hard-coded DNS servers to the VM when I create it.

[2016-01-14 13:44] benjaminjt commented on #2726
+1, I think I'm having a similar issue. Deleting the docker-machine security group before running docker-machine create seems to help...

[2016-01-14 14:06] jeanlaurent commented on #2726
I believe this is fixed by #2831

But we don't provide binary snapshot as of now. So you'll have to either build from source or wait for 0.6 which should be released on january 25th.

[2016-01-14 15:29] sebmoule commented on #2395
Hi @fsoppelsa Thanks a lot it works now like a charm !!

[2016-01-14 16:57] jcmartins commented on #2661
+1
Docker Machine Version:  0.5.6, build
Found binary path at /usr/local/bin/docker-machine
Launching plugin server for driver amazonec2
Plugin server listening at address 127.0.0.1:42554
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachineName
(flag-lookup) Calling .GetMachineName
(flag-lookup) Calling .DriverName
(flag-lookup) Calling .GetCreateFlags
Found

[2016-01-14 16:58] dirn commented on #2808
I'm also having the same issue.

OS X 10.11.2
VirtualBox 5.0.10 r104061

    $ docker-machine version
    docker-machine version 0.5.6, build

    $ docker version
    Client:
     Version:      1.9.1
     API version:  1.21
     Go version:   go1.5.1
     Git commit:   a34a1d5
     Built:        Sat Nov 21 00:48:57 UTC 2015
     OS/Arch:      darwin/amd64

The machine was created a while ago, but

[2016-01-14 17:39] navinSing opened #2840 "certs are valid. Maybe swarm is not started?"
create a docker machines with generic
they were not provisioned.
so pasted the certs manually..
now the docker-machines are created ..

These machines were created with --swarm flags, with one of them as master. Able to execute commands on machines but not in swarm. The consul was running outside the swarm cluster.

$ docker-machine config --swarm v36
Error running connection boilerplate: Connecti

[2016-01-14 19:05] cedricve opened #2841 "Docker machine inject USB device"
I'm currently creating my own docker image, and I'm trying to inject a USB camera device into my docker container. After searching/finding a lot of different answers, I've managed to do this.

[code]

As I work on OSX, and thus using docker-machine, I forwarded the USB device into my VM, installed usbutils and there it is: my USB devices are visible to the docker image.

[code]

My next step is to

[2016-01-14 19:49] pdalpra commented on #2832
Sure thing :)

Basically, I see two possible paths to introduce storage on Git:

### Simplest for the end user

This one privileges the end user, by automating the whole clone/pull/commit/push process.
Basically, you'd provide through a flag the ssh/https url of the repository to `docker-machine`, which would then clone the repository to a temporary folder and act on its data, and then remove that

[2016-01-14 20:13] nathanleclaire commented on #2840
Can you please paste the `--debug` results of the `create` as well as the `config` call?  Thanks!

[2016-01-14 20:20] nathanleclaire commented on #2841
Hm, I'm not really sure.  Everything seems to be getting set up properly on the VM and container side, no?  It's possible you're missing some kind of dependency that is assumed to be around in normal systems.  Might want to run `fswebcam` with `--verbose` to see if that yields any useful info.

[2016-01-14 20:30] cedricve commented on #2841
Thanks for your comment; verbose doesn't gives me any other information.

[code]

Indeed some dependencies are missing, it looks like the drivers are missing for the attached USB devices. Don't know if I need to forward another directory in the container?

[2016-01-14 21:40] babelfish commented on #2765
I'm having the same issue when using the same token as in the following rate limit request:

[code]

[2016-01-14 22:38] wprl opened #2842 "Docker-compose build hangs when deploying"
I seem to be able to create the host fine, but builds hang when I switch to the new env.  Build works fine with the default env.

[code]

Running `docker-compose build` also hangs.  I've tried separately building each container in my docker-compose.yml and each hangs.  I've also tried deploying to AWS this way, with the same results.

[2016-01-14 23:02] jeffellin commented on #2726
may or not be the same issue but I was seeing the same message yesterday.  Turns out I was specifying a non existent subnet, or at least one that wasn't in the region I was using.  This resulted in no subnet being found and usable for the SG lookup.

[2016-01-14 23:06] nathanleclaire commented on #2841
I would guess there may be libraries and/or kernel modules missing that you need to `apt-get install` (or equivalent, e.g. patch), but I admit this is definitely not my area of expertise.

@SvenDowideit @tianon Any ideas for a tough problem? :D

@jfrazelle You're the resident master of containerizing all the things, so if you have any ideas, would be great to have you chime in.

[2016-01-14 23:08] nathanleclaire commented on #2395
Sounds like this issue is closed!  Thanks @fsoppelsa @sebmoule

[2016-01-14 23:08] #2395 closed

[2016-01-14 23:37] nathanleclaire commented on #1491
@mattupstate @drawsmcgraw @deas  It's worth noting as well that these DNS options are now available to set at `create` time using `--virtualbox-host-dns-resolver` and `--virtualbox-dns-proxy`.

In our experience setting them to `on` and `off` both have tradeoffs, so it's up to you to decide what's right for your use case.

[2016-01-14 23:38] nathanleclaire commented on #2842
Does running normal Docker commands work?  If so, sounds like it might make a better fit for an issue at https://github.com/docker/compose.  Would be worth posting the `docker-compose` output with `--verbose` enabled.

[2016-01-15 00:05] matevarga commented on #2753
And same here on Linode..

[2016-01-15 00:06] wprl commented on #2842
OK, thank you.  Yes, normal docker commands like `docker run -i -t ubuntu /bin/bash` work as expected.  I'll open a ticker under the compose repo.

[code]

[2016-01-15 00:13] nathanleclaire commented on #2842
Thanks!

[2016-01-15 00:13] #2842 closed

[2016-01-15 00:14] nathanleclaire commented on #2836
Hi @asethia thanks for the issue.  Can you please try it with this binary: https://www.dropbox.com/s/gfn4ow147e3xzbc/docker-machine_windows-amd64.exe?dl=1 and post the same output.  It is a fairly recent build from master and should hopefully at least give more useful information for the error.

[2016-01-15 01:01] nathanleclaire commented on #2318
@compleatang Let me know if you're interested in trying a master build to see if it fixes the issue.  I have a feeling the #2823 I submitted will serve as a workaround for the panic but there's a deeper underlying issue (some kind of invalid state / input) at play.

[2016-01-15 02:40] asciifaceman commented on #2602
I have a ticket opened as well in Docker support containing cloudtrail logs

[2016-01-15 03:06] nathanleclaire commented on #2217
@dgageot I think this is closed now, no?

[2016-01-15 03:21] blacktop commented on #2690
@mssola @dgageot it works great now MUCH thanks! :heart:

[2016-01-15 03:21] #2690 closed

[2016-01-15 04:49] galenp commented on #2567
+1

[2016-01-15 06:00] kunalkushwaha commented on #2771
Since this issue gets fixed with PR #2833, Closing the issue.

[2016-01-15 06:00] #2771 closed

[2016-01-15 07:00] galenp commented on #2567
I think non issue, see: #1954 for details.

AWS Subnet needs to have Route Table associated from the VPC that you set up previously before running docker-machine create. Referenced issue has the details.

Configure AWS properly, re-run creation and things worked for me.

[2016-01-15 07:09] sayanb1983 commented on #2147
docker-machine upgrade <machine-name> worked for me, as well.

[2016-01-15 07:43] #2217 closed

[2016-01-15 07:53] dgageot commented on #2840
@navinSing can you take a look at swarm logs? I guess swarm is either not running or has a configuration issue.

[code]

[2016-01-15 08:21] navinSing commented on #2840
@dgageot , yes swarm-agent-master is not started, yet docker-machine is showing that. NOTE : i started consul outside the docker-machine list(on my laptop, even the consul is not showing swarm) .. should it be part of the docker-machine list.

docker-machine ls
NAME   ACTIVE   URL       STATE     URL                       SWARM          DOCKER   ERRORS
v34    -        generic   Running   tcp://192

[2016-01-15 09:13] cedricve commented on #2841
I've installed the Oracle Virtual Box extension pack, so USB 2.0 and USB 3.0 devices can be used. But that didn't helped either.

[2016-01-15 09:57] akurach commented on #1396
https://communities.vmware.com/message/2261082#2261082

[2016-01-15 09:59] lonnc commented on #1928
Looks like a race condition. Removing and recreating worked for me.

Before
[code]

Delete
[code]

Recreate
[code]
After
[code]

[2016-01-15 11:43] scottgerard commented on #1709
+1

[2016-01-15 13:44] jeanlaurent commented on #2787
@frapposelli when you say

You're talking about #2790 right ?

[2016-01-15 13:44] frapposelli commented on #2787
@jeanlaurent yup :+1:

[2016-01-15 14:25] compleatang commented on #2318
will give it a go over the weekend. it was on our windows CI server, but doesn't look too bad to build. will revert with results.

[2016-01-15 15:46] #2787 closed

[2016-01-15 16:36] formerlyKurt commented on #2632
Okay, will this still allow me to access the Docker host via IP address in a browser?  I have a couple containers running on my Docker host -- one with a webapp and the other with a database.  I want to ensure that after I make this change I will still be able to use the IP address of the Docker host/VM to access the database and webapp.

Thanks,
Kurt

[2016-01-15 17:00] fsoppelsa commented on #2812
xinxian, what do you mean? Can you elaborate your request?

Behaviour is following: if a floating IP is specified, dm will use the floating IP, otherwise, it will use a private IP:

https://github.com/docker/machine/blob/master/drivers/openstack/openstack.go#L374-L380

[2016-01-15 17:01] fsoppelsa commented on #2812
@nathanleclaire can you add an OpenStack label please?

[2016-01-15 17:04] jeanlaurent commented on #2812
done

[2016-01-15 17:06] jeanlaurent commented on #2829
Fixed by #2845

[2016-01-15 17:06] #2829 closed

[2016-01-15 17:12] fsoppelsa commented on #1958
@avkitex Yes, Docker installs in /, does Guillaume's proposal to create a `/data` mountpoint on the host sound reasonable?

Then, that containers write "many" (how many? Which containers?) "temp files" (where? `/tmp`?) is something that shouldn't have to do with dm provisioning. WDYT?

[2016-01-15 18:31] warden commented on #1491
+1. this would make a lot easier for instance to run an FTP docker image that uses a lot of port mappings in case of NATted configuration.

[2016-01-15 19:33] nathanleclaire commented on #2771
Thanks for following up to close the issue @kunalkushwaha

[2016-01-15 20:30] jakirkham commented on #2234
Related ( https://github.com/docker/machine/issues/2258 ).
Related ( https://github.com/docker/machine/issues/2632 ).

[2016-01-15 20:49] #1898 closed

[2016-01-15 21:05] tamrsolutions commented on #1898
Thanks.  Github closed the other pr for reasons I don't understand and Nathan was unable to reopen it.  Thus the new pr

Thanks for the merge and the help.

[2016-01-15 21:18] nathanleclaire commented on #2812
:+1:

[2016-01-15 21:20] #2411 closed

[2016-01-15 21:21] nathanleclaire opened #2848 "Ensure we check the correct graph directory in provisioner FS check"
Followup on: https://github.com/docker/machine/pull/2789#issuecomment-172067593

e.g. If user specifies `--engine-opt graph=/vol/docker` we should be checking `/vol`, not `/var/lib`, to know which storage driver to use.

[2016-01-15 21:22] nathanleclaire commented on #2848
@robvanmieghem FYI

[2016-01-15 21:24] nathanleclaire commented on #2840
Hm. If the create fails Swarm is not guaranteed to be working.  Maybe that's the issue here?

[2016-01-16 00:23] lookfirst commented on #1716
I've installed docker-machine with brew and had to run 'brew link docker-machine --overwrite'

[2016-01-16 01:20] tmornini commented on #2542
I think this turns out to be a difference between tight memory conditions.

Yesterday I saw this condition get resolved by increasing the size of the docker-machine memory size.

[2016-01-16 01:24] nathanleclaire commented on #2542
Odd, I'm not sure why that would be something DM would hang at when b2d wouldn't, other than maybe the extra plugin processes spawned..  Shall we close this issue then?

[2016-01-16 01:30] nathanleclaire commented on #2632
@formerlyKurt If you use the `route` command like that it should work for accessing from the browser too.

Alternatively, might be able to use SSH port forwarding.  e.g. if your webapp and database ports are `8080` and `6379`, this should start a process that forwards them to your computer's native `localhost`:

[code]

[2016-01-16 03:53] navinSing commented on #2840
Actually the certs files were not there, hence docker-machine cannot ssh at that time.. have to manually copy it.
Can we have a default cert file path to pick this up or probably a command line args to pick up these certs .. so that the machine could be ssh'ed into and swarm master would then be created at creation time.(with create command.)

[2016-01-16 04:55] tmornini commented on #2542
Yes. I'll reopen if required.

[2016-01-16 04:55] #2542 closed

[2016-01-16 05:13] asethia commented on #2836
Thanks It worked... any reason why I can't use "docker toolbox"

[2016-01-16 06:27] asethia commented on #2836
now I tried VirtualBox "4.3.34" with "DockerToolbox-1.9.1h" , It is working great. It looks like it is problem with virtual box 5.0 with docker tool box 1.9 (docker-machine version 0.5.5, build 02c4254).

[2016-01-16 07:29] fuse commented on #23
+1

[2016-01-16 14:13] cjerdonek opened #2851 ""docker-machine start" ends before child processes finished"
I noticed that `docker-machine start` (and `restart`) finish before all of its child processes are finished.  In particular, `/usr/local/bin/docker-machine-driver-virtualbox` runs for a half-second or so after start or restart is complete.  This is with version 0.5.1 (7e8e38e).

`docker-machine` should wait for its descendant processes to complete before exiting.

To reproduce, create the followin

[2016-01-16 18:44] dcosson commented on #1709
+1

[2016-01-16 22:05] s1rc0 commented on #2518
So, how best practice to add local server as docker-mashine?
I have installed docket-engine , laster i install docker-mashine, and when i trying create docker-mashine via
docker-machine create -d "none" --url=tcp://127.0.0.1:2376 h4
i getting
# docker-machine ls
NAME   ACTIVE   DRIVER   STATE     URL                    SWARM   DOCKER    ERRORS
h4     -        none     Running   tcp://127.0.0.1:237

[2016-01-16 22:47] dcosson commented on #1709
Has anyone had luck scripting @micheletedeschi 's workaround? I want a single command everyone on the team can run to launch the dev vm. I tried the following:

[code]
When I run the commands manually it works. In the script, I had to put in the sleep 30 or the restart command would just hang. Now the script finishes successfully but after it runs the vm is still running with the old IP.

[2016-01-16 23:39] sarink commented on #1709
You could use vagrant to launch the docker machine and then use a plugin like vagrant-hostmanager. But of course then you've got other problems to deal with if you want it to be a single command to launch the VM cross-platform.

There's just no Perfect Solution at the present time (afaict).

[2016-01-17 00:03] dcosson commented on #1709
Yeah, I think I'll stick with Vagrant for now.

I'm building a Vagrant box image with docker running with `DOCKER_OPTS="-H 0.0.0.0"`. Then I can create a vagrant vm with a private network hard-coded IP and use that IP to set DOCKER_HOST and /etc/hosts, which I think will be a pretty ideal setup.

[2016-01-17 02:40] barhun commented on #2630
too many developers who use windows as their primary os have visual studio installed on their machine; and in many cases, it also brings mobile tools which enables hyper-v for purposes of mobile device 'emulation'. i agree with @atrauzzi  and think it would be better to provide developers with the option to use hyper-v as the hypervisor on which boot2docker, the docker host, runs.

btw, take a loo

[2016-01-17 09:41] steveinatorx opened #2854 "docker-machine create on amazonec2 driver fails on ssh cmd err and doesnt write the server.pem"
OSX
docker-machine version 0.5.6, build 61388e9
(i also tried several other previous versions of DM all the way down to pre-driver <5)
I know my AWS settings are good because i had created instances up to last week on the same VPC/subnet/region.
Tried a new VPC in us-east-1, us-west-1, and us-west-2.
So the machines are actually created - they just fail to write the server.pem so the configs are c

[2016-01-17 10:25] steveinatorx commented on #2854
workaround for anyone that lands on this: run docker-create -D in debug mode and just kill the process when it hangs on
[code]

i got the server.pem to create and the instance to reconfig correctly by regenerating the certs:
[code]

[2016-01-17 13:14] bamarni commented on #1792
Had the same concern :+1:

At the moment I'm using a custom script for this (https://github.com/bamarni/docker-machine-dns).

[2016-01-17 13:20] samkelleher commented on #1491
I've had some success running the machine on a bridged network when setup manually. However the machine will often end up corrupted if I roam my machine to a new network. But it works as long as you stay on the same network.  In this example, I'm using the default machine name `default`.

1. Open the machine in Virtual Box and add a 3rd `bridge` network. Don't modify the existing NAT or host netwo

[2016-01-17 15:16] navinSing commented on #2840
@nathanleclaire  @dgageot
Any luck on the bug.

[2016-01-17 21:50] kpalf commented on #2318
I've been trying to collect a series of different logs for you.
We've not had working Docker on Windows (with VirtualBox) now since 1.9.0 (just before DockerCon EU), which was when I originally filed this defect, and the focus was on this specific error message.   I realise the releases have moved on since then, but I still get 100% failure but it feels like maybe a race as to weather I get the "w

[2016-01-17 22:11] kpalf commented on #2318
For completeness, I also just downloaded and tried Toolbox 1.9.1i (machine 0.5.6).  Same outcome, though interestingly the debug output has sections in different order to 0.5.5, but the 0.5.6 release notes indicated changes in those areas of the virtualbox driver so I guess expected.  Still failed though.

[2016-01-18 03:21] xinxian0458 commented on #2812
@fsoppelsa I just want to inspect both the floating ip address and private ip address from an openstack machine.

[2016-01-18 06:04] dgageot commented on #2851
Hi @cjerdonek Can you check with version 0.5.6?

[2016-01-18 07:21] cjerdonek commented on #2851
@dgageot, I'm not seeing this issue with version 0.5.6, build 61388e9.  However, I'm still seeing issue #2175.

[2016-01-18 07:49] #1783 closed

[2016-01-18 07:59] dgageot commented on #2851
Thanks for the feedback @cjerdonek. Can we close this ticket then?

[2016-01-18 08:00] cjerdonek commented on #2851
Sure, I'll close it. Thanks for your attention!

[2016-01-18 08:00] #2851 closed

[2016-01-18 08:01] dgageot commented on #2836
Hi @asethia can you try Docker Machine 0.5.6? It contains workarounds to virtualbox bugs.

[2016-01-18 08:03] dgageot commented on #2748
In fact `VBoxManage.exe startvm default --type headless` did report an error. Let's close the ticket.

[2016-01-18 08:03] #2748 closed

[2016-01-18 08:05] dgageot commented on #2714
Hi @parhamdoustdar Can you try with Docker Machine 0.5.6? It should at least contain a better error message when this problem occurs.

[2016-01-18 08:06] dgageot commented on #2591
Hi @vincentsiu Can we close this issue or does it still need fixing? Have you tested with Docker Machine 0.5.6?

[2016-01-18 08:08] dgageot commented on #2559
Hi @afontaine Can you try Docker Machine 0.5.6 and gist the output of the `docker-machine -D create --driver virtualbox dev` command?

[2016-01-18 08:19] dgageot commented on #2765
Related to https://github.com/docker/machine/issues/2296?

[2016-01-18 10:43] tonivdv commented on #2792
Hello,

Although I can't explain why it failed as of v0.5.5, but a contributor found a nice fix to the issue (https://github.com/adlogix/docker-machine-nfs/pull/39/files)

Cheers

[2016-01-18 10:43] #2792 closed

[2016-01-18 11:02] jeanlaurent commented on #2854
thx @steveinatorx, I stumbled on this one, the other day while working on something else.

Did not pinpoint it precisely just yet.
Sounds from your 1st comment you tried a bunch of ssh connection.
Did the issue occurs when you were using the defaults ?

[2016-01-18 13:01] caiofbpa opened #2857 "Docker Machine Login Launchd"
I currently use this [gist](https://gist.github.com/awmichel/baf4337463b326b6d253) to start a local machine when my Mac boots. I would like to request a similar feature built into docker-machine, starting local machines by hand is cumbersome.

[2016-01-18 14:06] davidkarlsen opened #2858 "Problem running docker-machine env on windows 7"
Please see enclosed screen-dump.
Some users have a problem running docker-machine on windows 7.
(I have no problems and am running on Windows10 - there might however be other environmental differences than this obvious one).
The issue seem to be related to the fact that there is a whitespace in the "Program Files" folder from the error message - however strange that this happens for some users and

[2016-01-18 14:48] mateeyow opened #2859 "Invalid command line. Found extra arguments"
Hi! There seems to be an error when adding the ` --digitalocean-private-networking yes` parameter. This is my complete command.
[code]
Docker machine version: `docker-machine version 0.5.3`

[2016-01-18 14:53] bamarni commented on #2859
`--digitalocean-private-networking` looks like a flag, does it work without yes?

[2016-01-18 14:54] mateeyow commented on #2859
Let me test it out.

[2016-01-18 15:01] mateeyow commented on #2859
Yes it works. Sorry about that. Didn't know you can just place it without yes. Thank you!

[2016-01-18 15:01] #2859 closed

[2016-01-18 15:17] imbriaco commented on #1840
I just ran into this problem today. Perhaps it would make sense to update the [documentation](https://docs.docker.com/machine/drivers/aws/) for the amazonec2 driver to reflect the fact that session tokens are not fully supported currently since AWS API calls will fail once the cached token expires?

[2016-01-18 16:45] fsoppelsa commented on #2812
@xinxian0458 like `--amazonec2-use-private-address`?

Yes that would be ok for me, to use a private Neutron net for machine, but allocate a floating IP on the instance too (even this could be done easily after the machine provisioning).
Did you submit some PR already (I saw something around)?

[2016-01-18 16:53] rolfedh opened #2860 "Update references to Docker Client."
The docker-machine create command ends with the following potentially confusing phrase.
```To see how to connect Docker to this machine, run: docker-machine env local```

Please consider replacing it with the following phrase:
```To see how to connect your Docker Client to the Docker Engine running on this virtual machine, run: docker-machine env local```

Similarly, for the output of the followin

[2016-01-18 17:31] Telemakhos commented on #2512
Check [this](http://networkstatic.net/docker-machine-provisioning-on-aws/) out

[2016-01-18 19:36] nathanleclaire commented on #1840
@imbriaco I'm not extremely familiar with session tokens and how they work normally, but I would be happy to merge such a pull request.

[2016-01-18 20:02] steveinatorx commented on #2854
@jeanlaurent  hi and thanks for responding,
So here was the forensics of what i did if i can remember this correctly - i had a previously installed version of docker toolkit that i upgraded to latest (OSX). This destroyed my existing amazonec2 driver based machine configs. My local virtualbox based machine configs were fine and worked normally with the upgrade.

At that point i couldnt run a docke

[2016-01-18 20:06] #2854 closed

[2016-01-18 20:20] schmunk42 opened #2861 "add option to enable experimental swarm features"
Like described here https://github.com/docker/swarm/tree/master/experimental

As far as I understand the `-experimental` flag has to be passed before the actual `manage` or `join` command - I couldn't figure out a way to do so with currently available options.

*hacking the source now...* :)

[2016-01-18 20:32] nathanleclaire opened #2862 "Re-enable BugSnag reports on upgrades"
@docker/machine-maintainers followup on: https://github.com/docker/machine/pull/2856#issue-127202618

[2016-01-18 20:32] nathanleclaire opened #2863 "Write integration test for BugSnag error reporting"
@docker/machine-maintainers Followup on https://github.com/docker/machine/pull/2856#issue-127202618

[2016-01-18 20:49] zramsay commented on #2832
+1 would use

[2016-01-18 21:28] nathanleclaire commented on #2263
@dgageot Articles like http://dave.cheney.net/2016/01/18/cgo-is-not-go make me quite hesitant on moving to `cgo` in any form for our normal build toolchain and development workflow.

However, I would be interested to consider hosting pre-compiled cgo builds somewhere, to help with instances like this where we are clearly scraping up against the limitations of the pure Go toolchain.  It's just a tr

[2016-01-18 22:30] schmunk42 commented on #2861
That's what I'd need https://github.com/schmunk42/machine/commit/b741f603c70c306b068cbf1591b5436f5718e588

But I am unsure about the best way how to implement the option.

[2016-01-18 23:06] schmunk42 commented on #2861
Some more feedback...

I tried to use it via `docker-compose`

[code]

But got the error:

[code]

I also tried

[code]

What basically works is:

[code]

I couldn't see rescheduling yet, because I ran into

[code]

I just stopped and started the engine, don't know why this happens (yet)?!

[2016-01-19 03:33] rstrazza commented on #1684
Same error fixed following @vlajbert's approach. Thanks!

Mac OS X 10.11.2

docker-machine version 0.5.4, build 6643d0e
Docker version 1.9.1, build a34a1d5

[2016-01-19 03:58] xinxian0458 commented on #2812
@fsoppelsa ,https://github.com/docker/machine/pull/2813

[2016-01-19 07:32] marsmensch commented on #2805
I think this error is not your problem. At least i have the same error here, and i am on OSX with VirtualBox 5.0.12 and the result is a perfectly working VM.

    (testerle) DBG | COMMAND: /usr/local/bin/VBoxManage modifyvm testerle --natpf1 delete ssh
    (testerle) DBG | STDOUT:
    (testerle) DBG | {
    (testerle) DBG | }
    (testerle) DBG | STDERR:
    (testerle) DBG | {
    (testerle) DBG |

[2016-01-19 07:45] aaalgoh commented on #2600
Hmm, not here to pinpoint which software causes the fault, happened to me too. If you are Windows based, get your process monitor up and find the process with the name like Vboxheadless or something, kill it and restart your Docker. VM will start to run fine and dandy.

[2016-01-19 08:04] marsmensch opened #2870 "docker-machine can not create VBox VMs with less than 300MB RAM"
Might be OS X related, but i don't think so.

**Environment**
* OS X 10.10.5 (14F27)
* VirtualBox 5.0.12r104815
* docker-machine version 0.5.5, build 02c4254
* Docker version 1.9.1, build a34a1d5

**Steps to reproduce**
```$ docker-machine -D create -d virtualbox --virtualbox-memory 256 testerle```

**Effects**
* Machine hangs on WaitForSSH forever (see attached log)
* VM is created, but hangs wit

[2016-01-19 08:34] avkitex commented on #1958
@fsoppelsa Different programs may create temp files in different places. For example in /root (if docker user is root, or /home/user otherwise) or in /tmp or some other user-specified directory.
The problem is that each time creating docker container I don't know where is it location -> i can't mount cinder volume somewhere in container and be sure that the program is going to write temp files the

[2016-01-19 08:41] marsmensch commented on #2870
Forgot to mention that i do also have a (manually created) VBox VM that is running fine with 128M.

[2016-01-19 09:32] jeanlaurent commented on #2870
I can reproduce the issue. (OSX 10.11.2, docker-machine on master, same version of vbox)

On virtualbox, docker-machine provision the host with boot2docker. It runs completely from RAM so maybe it is the guilty one, I don't know minimum memory requirements for it. Sounds like from the error message it couldn't load the filesystem.

From a virtualbox point of view the machine is started and runs fi

[2016-01-19 10:50] gmlove commented on #2400
I think I found the answer, please goto http://docs.mist.io/article/20-adding-docker.
I've already test the first method. It works.
And I use `openssl x509 -in ca.pem -text` to show the ca content on the docker container, no  “Common Name” found.
Seems the root cause is the way that docker-machine generates file ca.pem.

[2016-01-19 11:13] ivstas opened #2871 "Docker client reporting bad certificate after new virtualbox VM created using machine"
The original issue was created in docker toolbox repository:
https://github.com/docker/toolbox/issues/255

However, it was advised to raise the issue here as it is more likely to be connected with **docker-machine** rather than **toolbox**.

1. Create a new vm: `docker-machine create dev --driver virtualbox`
2. Setup docker client to work with the vm: `eval "$(docker-machine env dev)"`
3. Run hell

[2016-01-19 12:25] fsoppelsa commented on #1958
@avkitex I think it's impossible to have an universal rules for containers. We're here talking about a machine's driver feature, rather than how containers will use it.

Having a `/data` mounted on the Docker host will let you to run containers with `-v /data/smth:/tmp`.

We must decide if, in this case, move Docker itself in block to `/data`, or only keep the `/data` as a (big) external utility v

[2016-01-19 13:27] jeanlaurent commented on #2870
While experimenting I stumbled on vbox memory limit
`VBoxManage: error: Invalid RAM size: 1 MB (must be in range [4, 2097152] MB)`
Not helping much on boot2docker but this gives info on vbox

[2016-01-19 13:34] avkitex commented on #1958
@fsoppelsa Here i wanted to say that it could be useful to have docker already preinstalled on persistent big volume instead of small system disc after docker-machine initialization process.

[2016-01-19 15:16] #2863 closed

[2016-01-19 15:44] afontaine commented on #2559
I can't really tell, but it looks like it's actually getting a lot farther now.

https://gist.github.com/afontaine/de8d52c8b3e0fd170dc6

[2016-01-19 15:55] jeanlaurent commented on #2559
You should have a %USERHOME%/.docker/machine/machines/dev/dev/Logs/VBox.log` now. Can you take a glance on it on the last few lines ? Or paste it somewhere ?

[2016-01-19 16:09] afontaine commented on #2559
Full log is here. https://gist.github.com/afontaine/b9d33033702a75bd3a08

[code]

[2016-01-19 20:57] ahmetalpbalkan opened #2876 "google: --google-use-internal-ip creates external IP too"
Hi, I'm trying to understand the [`--google-use-internal-ip`](https://docs.docker.com/machine/drivers/gce/) argument. Is it created for using private IP instead of public IP in machine OR not having an external IP for the machine altogether?

I assumed this would not create a public IP and make the machine secure within the private network but it doesn't work that way. So I'm trying to understand

[2016-01-19 21:02] dgageot commented on #2876
Hi @ahmetalpbalkan, if I recall correctly, VMs on GCE have an internal IP and have an optional ephemeral or reserved public IP.
The ` --google-use-internal-ip` flag configures the VM to use its private IP only.

The motive here is to create private VMs that are not reachable from the Internet.

Did you encounter a different behaviour?

[2016-01-19 21:40] robbertkl opened #2877 "Use $DOCKER_MACHINE_NAME as default machine"
Love the default machine #2843 option in v0.6.0-rc1, but the first thing I wondered was: why use a hardcoded name "default". None of my machines are actually named default.

Usually when I interact with one of my docker machines, I have the `docker-machine env` variables set in my shell, so docker commands work. Wouldn't it make more sense if `$DOCKER_MACHINE_NAME` is used instead?

Just came acro

[2016-01-19 21:45] ahmetalpbalkan commented on #2876
Yes I encountered a different behavior. External IP gets created for the instance from what I tell from the management console.

[2016-01-19 22:01] Petoj87 opened #2878 "Driver "hyper-v" not found. Do you have the plugin binary accessible in your PATH?"
I installed docker toolbox, but when i try to use -drive hyper-v, i get the following error:
Driver "hyper-v" not found. Do you have the plugin binary accessible in your PATH?
What am i missing?
where is the binary located so i can add it to my path?

[2016-01-19 22:04] nathanleclaire commented on #2871
Hi @ivstas thanks for the issue.

Does the `eval $(docker-machine env dev)` line echo anything to the terminal when you run it?

Can you print the output of `docker-machine config dev` please (your alias, is largely what this is intended to spit out)?

How about versions?  Docker Machine 0.5.6 and Docker 1.9.1?

[2016-01-19 22:56] alycda opened #2879 "Unable to connect to Docker daemon, Maximum number of retries (60) exceeded"
Hi,

Last week I was able to run docker without any issues. The only thing that I have changed since then was upgrading node to latest stable, v5.4.1

Steps to reproduce:

[code]

Because of the last error, I am unable to run docker:

[code]

`docker-machine version 0.4.1 (e2c88d6)`

[2016-01-19 23:44] mrlamroger commented on #1459
Bumping since it affected me too. A note on the docs would be helpful at least.

[2016-01-19 23:56] alycda commented on #2879
So I upgraded docker-machine to `version 0.5.6, build 61388e9`, but I am still getting errors:

[code]

[2016-01-20 00:32] IanEdington commented on #2788
Ran it again. It took 50min 19sec. I'm pretty sure when I did this with an older version of docker it did not take this much time to initialize.

MacBook Pro (Retina, 13-inch, Late 2013)
Processor 2.4 GHz Intel Core i5
Ram 8 GB 1600 MHz DDR3
With SSD

[2016-01-20 00:33] jsok commented on #2832
This is a good idea!

My current hack is to set `MACHINE_STORAGE_PATH=./.machine` so `config.json` writes relative paths. However that means I can only run certain `docker-machine` subcommands in the parent directory of the storage path.
Otherwise, I've successfully managed to have multiple team members check out the git repository and control the machines.

[2016-01-20 01:09] nathanleclaire commented on #2602
Hi @asciifaceman, thanks for the report.

Couple things:

- Can you please try Machine 0.6.0-rc1 and print the `--debug` output?  We have switched to the official AWS SDK and that might help.
- Can you reproduce the issue with a public AMI (e.g. a stock Debian image)?  It's going to be very difficult to reproduce on our side without having this.

Based on http://docs.aws.amazon.com/AWSEC2/latest/U

[2016-01-20 01:15] wuqionglinux commented on #1709
+1,especially working with machine driver vmwarevsphere

[2016-01-20 04:27] ahmetalpbalkan commented on #2820
I can also see that most drivers hardcode :2376. @the42 do you have an Azure-specific problem with this port number?

[2016-01-20 04:29] ahmetalpbalkan commented on #2742
@lizrice This is currently actively being worked on by myself. We're aware of the demand by this, therefore expect something soon. I will update this thread once we have something new.

[2016-01-20 04:29] ahmetalpbalkan commented on #2639
@hunter-xue This is good feedback. I think the current Azure driver is written in a way that it only supports AzurePublic environment and not AzureChina. I am rewriting the Azure driver and I will make sure we make this configurable.

[2016-01-20 04:35] ahmetalpbalkan commented on #2408
@jamesmeen I am in progress of rewriting the Azure driver using Azure Resource Manager APIs and this is great feedback. I am already planning to implement points 1,2 and 4 you described above; however I'm not sure how '3' should be implemented.

As far as I can tell the default behavior for docker-machine on cloud providers is to disable all ports (except :2376) on the firewall and let the user co

[2016-01-20 04:36] ahmetalpbalkan commented on #2639
Also this is a dupe of #1547.

[2016-01-20 04:37] ahmetalpbalkan commented on #1547
@NoamB please see my comment at https://github.com/docker/machine/issues/2639#issuecomment-173083965 We're hoping to fix this soon.

[2016-01-20 04:41] ahmetalpbalkan commented on #2161
@hsingh23 Hello, to answer your question, cloud service only provides a DNS name for your VM (*.cloudapp.net) and you can place multiple VMs behind that (something you can't do on DigitalOcean). Also cloud services allow you to define specific firewall and load balancing rules. You're not charged for a cloud service, it's free.

The storage account however is used to store your operating system di

[2016-01-20 04:44] ahmetalpbalkan commented on #1912
@mrumpf Hello, can you please run the following command from your proxy and send its output:

    curl -iv https://management.azure.com/subscriptions/b3e891af-9553-43c9-aa9d-66ef5b2e6294/resourcegroups?api-version\=2014-04-01-preview

I see you're using windows, so if you use [git bash](https://www.git-scm.com/downloads), you can run `curl` from there.

[2016-01-20 04:49] CWSpear opened #2882 "Allow nonstandard docker daemon ports for --generic driver"
I have had success using `--generic` to bring remote docker instances into `docker-machine` in the past, but I've hit a snag on the latest:

My docker daemon is running on a port other than `2376`, specifically, it was started with:

[code]

Creating a Docker Machine instance with the generic driver, this host will connect to SSH, then say it is provisioning and installing Docker<sup>[1](#footnote

[2016-01-20 04:57] CWSpear commented on #2882
This info may be helpful:

[code]

[2016-01-20 07:31] ahmetalpbalkan opened #2883 "Firewall expectations from drivers"
Hi, I think this is going to be a #question.

What are the network firewall expectations from docker-machine drivers provisioning instances on the cloud? VirtualBox obviously won't need to restrict/allow inbound/outbound traffic to various ports however this is certainly a consideration on the cloud.

From what I can tell, azure/amazonec2/google drivers open SSH port and :2376 (and :3376 if swarm

[2016-01-20 07:36] the42 commented on #2820
@ahmetalpbalkan no, actually on an OpenStack implementation where port 2376 is closed and docker has to run on a different port. As I am unable to configure docker to run on a different port via docker-machine (or I am unaware how to do that) I am stuck.

[2016-01-20 10:01] lizrice commented on #2742
That's excellent news @ahmetalpbalkan :-)

[2016-01-20 10:23] jodem commented on #2661
Same issue for me on osx
docker-machine version 0.5.4, build 6643d0e

[2016-01-20 10:29] jeanlaurent commented on #2661
@jcmartins can you give the command you ran hiding the credentials if needed ?

@jodem the aws driver has been signigicantly rewritten since 0.5.4. You should try with 0.5.6

[2016-01-20 11:30] ivstas commented on #2871
No. Nothing.

[code]

[code]

Actually, that also confuses me a lot.

[2016-01-20 12:22] robbertkl commented on #2877
For those interested, I'm working on a PR for this proposal. Expect it today or tomorrow.

[2016-01-20 14:09] jeanlaurent commented on #2882
yes a `docker-machine create` will try to provision aka install docker on the remote host.

What do you want to achieve here ? Since you already has docker installed, Do you want to register your hand installed/started docker so it appears in docker-machine ? something else?

What is your distro/os ?

[2016-01-20 14:09] meichau commented on #2805
Unfortunately that's not the case for me. Right after this error occurs, the vm creation terminates with a exit code 1 and a non-working vm.

[2016-01-20 14:11] jeanlaurent commented on #2879
what does a `docker-machine ls` returns ?

[2016-01-20 14:14] jeanlaurent commented on #2878
You're probably running an old `docker-machine` version, I suggest you move to the latest release atm v0.5.6

[2016-01-20 14:17] jeanlaurent commented on #2861
The main workaround is to install a standard machine ie withtout the `--swarm` flags and start a swarm container within it atm.

I'm not sure we would want to add such a global flag for this, but this is open for discussion. cc @docker/machine-maintainers

[2016-01-20 14:17] CWSpear commented on #2882
Yes, I want to bring this machine under `docker-machine` so I can switch between it and such.

Client is Mac 10.11, Server is Ubuntu 15.10.

So it looks like `docker-machine` put a config in `/etc/systemd/system/docker.service`, with an `ExecStart` directive that used the standard port, but I had an override at `/etc/systemd/system/docker.service.d/override.conf`with an `ExecStart` that was using

[2016-01-20 14:21] marsmensch commented on #2805
Sorry, i did not mean to say there is no problem. I just don't think this error message leads to your specific issue.

Does it work for you without
   --virtualbox-hostonly-cidr 192.168.56.1/24
?

Also VirtualBox 5.0.14 was released. I don't see anything related, but it might be worth a shot.

Did it work at any point in time for you, eg with a prior machine or VBox release?

[2016-01-20 14:23] jeanlaurent commented on #2882
Is your issue covered by #2820 then ?

byw, trying to register (aka put in docker-machine land) an existing docker daemon by sharing the socket is not really supported at the moment. This is something that is on the roadmap for 0.7 though.

[2016-01-20 14:25] hcguersoy commented on #2788
OK, I've some new informations and I would say the problem is VirtualBox not Docker Machine.

Initially, everything has worked fine after an restart of my MacBook (normally I don't do that but for flights I shut it down).
After that, everything was fine and machines / VMs got created in several seconds. But some days later I've again the same problem.
So I searched for all VirtualBox related proce

[2016-01-20 14:30] jeanlaurent commented on #2810
@jeffellin since we removed the subnet/vpc_id as a mandatory field with #2828 this may have changed.

If I understand what you suggest : should we ensure to look for a `docker-machine` security group belonging to the active VPC_ID ? Is that right ?

[2016-01-20 14:30] CWSpear commented on #2882
@jeanlaurent yeah, I think it is! I looked all over before posting the ticket. Sorry about the dupe.

So the main issue here could probably be closed as a duplicate of that one.

I guess the one thing I'm still a bit confused on is why the docs imply (by stating "If docker is not running on the host, it will be installed automatically.") that it won't install Docker, but it appears that it does no

[2016-01-20 14:43] jeanlaurent commented on #2882
No worries, we have quite a bunch of issues, we are down to less than 20 PRs, but we have still a looong way to triage and answer properly to all those issues.

Well we probably didn't detect custom installed docker properly. That why we would like to use docker-machine create for standard install, and have a way to register custom machine into docker-machine. But that's not ready yet.

[2016-01-20 15:00] Petoj87 commented on #2878
I'm using `0.5.5, build 02c4254`, has there been any bugfixes in 0.5.6 that would resolve this issue?
But ill try to upgrade when I get home, also it would be nice if you allowed me to unselect Virtual Box, currently I have to use Command line argument to remove it..

[2016-01-20 15:09] fsoppelsa commented on #1958
I don't know if our gurus will be in favor of this, better to ask for a consult.

Idea is, if persistent big volume is enabled, installed and provisioned, to install Docker on this instead than on /: WDYT? @nathanleclaire @ggiamarchi @jeanlaurent @ehazlett

[2016-01-20 15:10] jeanlaurent commented on #2878
Nothing specific on this, I thought, you would have an older version than that. We rewrote the hyper-v driver in 0.5.5.

What is the exact command line you typed-in ? ( in your !st comment you typedin `hyper-v` where the real driver name is `hyperv`

What is your windows version ?

[2016-01-20 15:14] Petoj87 commented on #2878
I have tried both `-d hyper-v` and `-d hyperv` I'm running windows 10.
If I understand it correctly the drivers are separate exe files?
If I'm correct where are they installed by default? (that way I can check if they are even there)

[2016-01-20 15:21] Petoj87 commented on #2878
Nvm, I tried again now it works,, I must have written something wrong when I tried last time..
Sorry to have wasted your time!

[2016-01-20 15:27] jeanlaurent commented on #2878
There was a time where this was the case for v0.5 to ~ v0.5.2. It's not the case anymore. There could be cases where you have old binaries in your path which mess up with this, but that's not your case.

[2016-01-20 15:28] jeanlaurent commented on #2878
:+1:

[2016-01-20 15:28] #2878 closed

[2016-01-20 15:28] jeffellin commented on #2810
Yes,  when you query for docker-machine group you should add the vpc_id so it finds the right one.

[2016-01-20 15:37] jamesmeen commented on #2408
@ahmetalpbalkan, this is great to hear!

wrt point #2...

I recommend to not change the default behaviour of leaving all firewall ports disabled except those needed for Docker itself, i.e. 2376, swarm, ssh, etc.

The issue I have currently is I cannot configure the port for kv store automatically via docker-machine, so docker networking will not work without manually opening that port.

But this i

[2016-01-20 15:41] jeanlaurent commented on #2883
Since we briefly met @ dockerconeu where I asked you if you will deal with it, the @docker/machine-maintainers  are really happy of this. Thank you.

There is no plan to change this in the short term, it's not in the roadmap for 0.7.

The current vision is that docker-machine should setup relatively standard machines, since we will probably be never be in a position to support each and every flags

[2016-01-20 15:48] jeanlaurent commented on #2882
Closing, feel free to open a new one to discuss the install thing.

[2016-01-20 15:48] #2882 closed

[2016-01-20 15:53] jeanlaurent commented on #653
This in done in #2535

[2016-01-20 15:53] thommy2011 commented on #2805
same problem ... after uninstall Kaspersky it works.

[2016-01-20 15:54] jeanlaurent commented on #1366
Closing since this is done in #2839

[2016-01-20 15:54] #1366 closed

[2016-01-20 15:56] jeanlaurent commented on #964
Closing as this sounds related to custom security-group.
Feel free to re-open if needed.

[2016-01-20 15:56] #964 closed

[2016-01-20 15:58] jeanlaurent commented on #2082
Driver has been completely rewrote since then, and many tests reported this working on different zone and regions.

Feel free to re-open with fresh information if needed.

[2016-01-20 15:58] #2082 closed

[2016-01-20 16:01] jeanlaurent commented on #2739
Could this be related to expired credentials like described in #1840

The ec2 driver has been quite changed since 0.5.4, would it be possible that you try out 0.5.6 ?

[2016-01-20 16:04] jeanlaurent commented on #2567
@ignasi35 while looking at your cli it sounds like you don't use a custom AMI.
What do you want to achieve with a custom SSH username ?

[2016-01-20 16:08] awishformore commented on #2302
This was something that really bothered me as well when setting up our swarm.

[2016-01-20 16:23] awishformore commented on #2560
@nathanleclaire I understand that it is required for nodes connecting across clouds, but that doesn't really justify taking the option away from users?

I want to elaborate a bit on what issues I encountered in this context:
* cluster of 3 consul nodes for redundant service discovery
* cluster of 3 manager nodes for redundant swarm management
* cluster of N agent nodes for actually hosting contain

[2016-01-20 16:47] anthonydahanne opened #2886 "Azure driver default location "West US" returned an error"
Hello,
trying out the Azure driver, and using the default location, I got the following error :
[code]

If this location "West US" does not exist anymore (maybe it's just temporary), I'd suggest we choose another default location

[2016-01-20 17:07] nateberkopec commented on #1459
Linking #2203 because it's a possible solution/fix for this issue.

[2016-01-20 17:26] sebmoule commented on #2316
I still encounter this issue which is very anoying with the time.

Now I can make a direct ssh to the machine, but with docker machine I got an error which I don't understand why

---
direct ssh:
[cloud@rancher ~]$ ssh cloud@192.168.1.8
Welcome to Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-74-generic x86_64)

is working fine

---
but with docker-machine

[cloud@rancher ~]$ docker-machine ssh frontend01

[2016-01-20 18:36] ahmetalpbalkan commented on #2883
Thanks @jeanlaurent! This helped me understand the scene better.

[2016-01-20 18:36] #2883 closed

[2016-01-20 18:41] alycda commented on #2879
[code]

Running on OSX 10.10.5 (Yosemite)

[2016-01-20 18:51] wildsurfer commented on #2560
Is it possible to create 1 certificate for 2 ip addresses? Seems to me that this may be a first step in solving this issue.

[2016-01-20 19:40] asciifaceman commented on #2602
I tried with the new RC and experienced the same behavior. Let me get you a log from a public AMI

[2016-01-20 19:46] asciifaceman commented on #2602
ami-3d56520d
aws-marketplace/debian-jessie-amd64-hvm-2015-06-07-12-27-ebs-39d3917e-ff4e-4597-848e-4d0fdf8529e6-ami-116d857a.2

again the same behavior exactly...

I would like to comment on how much faster 0.6.0-rc1 is than the 0.5 I was on before. Holy crap talk about fail fast.

[2016-01-20 20:14] tmirks commented on #2492
@mwarren2 I had this exact problem today. From what I can tell, `docker-machine` tries to install docker and then run `sudo docker version` which subsequently fails.

For me, the docker install was failing because my private instance did not have DNS configured so it couldn't resolve APT repository domains.

It could also fail if your private instance cannot access the Internet via a [NAT instance

[2016-01-20 20:25] formerlyKurt commented on #2632
Somehow adding the route is not working for me.  I ran the command:

    sudo route add -net 192.168.99.0/24 -interface vboxnet0
    route: writing to routing socket: File exists
    add net 192.168.99.0: gateway vboxnet0: File exists

But when I run

    docker-machine env default

I get:

    Error checking TLS connection: Error checking and/or regenerating the certs: There was an error validati

[2016-01-20 20:52] thbranch opened #2887 "openstack driver with two controllers and two endpoints"
Hi i am getting a error when trying to use docker-machine with a openstack HA setup

$ ./docker-machine create --driver openstack \

[2016-01-20 21:38] daehyeok commented on #2876
I'm quick look the source code.  ```--google-use-internal-ip``` option not affect when instance created. I think it's easy to patch to create inter only machine. but how to progress provision after create machine without reachable ip when it executed in the external network(internet)?

[2016-01-20 21:47] brandontamm commented on #2879
@alycda - I had the same issue twice after upgrading docker-machine. if you are using brew, you can try what I did - uninstall docker, docker-compose, docker-machine, restart your mac, and reinstall.

This worked after the above steps:
~ ❯ docker-machine create --virtualbox-memory "4096" --virtualbox-disk-size "20000" --virtualbox-cpu-count "2" --driver virtualbox dev

OS X 10.11 El Capitan
Docker

[2016-01-20 22:35] alycda commented on #2879
Thanks,

the following worked for me:

[code]

restart computer...

[code]

[code]

[code]

The 'dev' machine appears to be working now, but the 'default' machine is still broken. I don't care to fix it if I can work off the recently created 'dev' machine but I am curious to know what happened and how to prevent it.

dev machine running:
[code]

attempting to run 'default'
[code]

[2016-01-20 22:55] Jastrzebowski commented on #1718
Still you can use Virtualbox GUI to save a VM, but it’s counterproductive as 💀… big +1 for this one

[2016-01-21 01:09] nathanleclaire opened #2888 "Multi-line errors in ls mess with tab writing"
I have an `amazonec2` machine in invalid state which seems to return multi-line error message:

[code]

Maybe we can figure out a good way to accomodate them, or at least strip newlines out of errors which appear in the `ERRORS` column.

cc @docker/machine-maintainers

[2016-01-21 01:23] nathanleclaire commented on #2632
@formerlyKurt Are you sure that's the correct vbox interface?  What's the output of `VBoxManage list hostonlyifs`?

[2016-01-21 01:27] nathanleclaire commented on #2871
I'm seeing different IP addresses in `config` and `env` -- wonder if it's related or incidental.  Can you paste the output of `docker-machine env default` (no subshell) followed immediately by the output of `docker-machine config default`?

[2016-01-21 01:27] nathanleclaire commented on #2871
Yes, that's probably easiest.

[2016-01-21 02:00] ahmetalpbalkan commented on #2876
I think --use-internal-ip is only usable when you're inside a Google Cloud
instance and in that network you are trying to create the new machine. That
is the only way provisioning would proceed.
On Wed, Jan 20, 2016 at 1:39 PM Daehyeok Mun <notifications@github.com>
wrote:

--
—Ahmet Alp Balkan

[2016-01-21 02:19] yoshiokatsuneo commented on #806
Here is my workaround after changing IP address of docker swarm node:

[code]

[2016-01-21 06:00] dgageot commented on #2876
@ahmetalpbalkan yes, that's it. When you create Docker Machine hosts from inside Google's network, maybe you to reach them through their internal IP but still have an external IP to expose services.

[2016-01-21 06:15] dgageot commented on #2302
@nathanleclaire +1 to be able to use `--swarm-master` flag alone

[2016-01-21 06:43] formerlyKurt commented on #2632
@nathanleclaire sadly, this seems to be the right interface.

    VBoxManage list hostonlyifs
    Name:            vboxnet0
    GUID:            786f6276-656e-4074-8000-0a0027000000
    DHCP:            Disabled
    IPAddress:       192.168.99.1
    NetworkMask:     255.255.255.0
    IPV6Address:
    IPV6NetworkMaskPrefixLength: 0
    HardwareAddress: 0a:00:27:00:00:00
    MediumType:      Etherne

[2016-01-21 06:43] formerlyKurt commented on #2686
@nathanleclaire Any ideas about this one?

[2016-01-21 07:21] awishformore commented on #2302
I would actually suggest --swarm-manager and --swarm-agent.

It seems to me that "master" implies that it's a normal node with extra authoritative powers, while "manager" implies it just manages, but doesn't accomplish normal agent duties. We could still leave --swarm-master to initialize a node that does both for dev environment, while you would use --swarm-agent and --swarm-manager for productio

[2016-01-21 07:31] awishformore commented on #2560
@wildsurfer It is indeed possible to create a CA certificate for more than one name, including IP addresses. I'm not sure that's the best approach, though.

It seems to me like the digital ocean driver would need a bit of refactoring to implement this cleanly. Can we agree on a common approach before I potentially start working on anything? I think the cleanest way to do this would be:
* one flag

[2016-01-21 08:07] awishformore opened #2890 "Various issues on droplet creation for digital ocean"
I'm keeping the title a bit vague on purpose, but I'm assuming it has to do with timeouts and the execution of docker machine scripts before the droplet environment (file i/o, network i/o) is completely ready. I've also reported the issues to digital ocean support, who did not have any enlightening suggestions.

[code]

[code]

[code]

[code]

Like I said, I think the problem has to do with incomp

[2016-01-21 08:16] jodem commented on #2661
@jeanlaurent indeed, just updated. Same problem BTW.

docker-machine create --driver amazonec2 --amazonec2-access-key <key> --amazonec2-secret-key <secret> --amazonec2-vpc-id vpc-id --amazonec2-subnet-id subnet-id --amazonec2-security-group sg-id --amazonec2-instance-type t2.medium --amazonec2-ami ami-ab0210c7 --amazonec2-zone a swarm_master2

Launching plugin server for driver amazonec2
Plugin se

[2016-01-21 08:17] awishformore commented on #2890
I just did some more tests with an increased droplet limit, and the problem seems to be mostly gone. I'm not sure it is related, but I did do the previous tests while creating & destroying droplets near the limit continuously. If it crops up again, I will update the issue, but until then, I would suggest closing it and assuming that the problem is on the side of digital ocean when working near the

[2016-01-21 09:43] srinath-imaginea commented on #2516
+1 just ran into this. Would be great to have an export/import config command.

[2016-01-21 09:52] Marcpepe commented on #2516
+1

[2016-01-21 09:53] soupdiver opened #2891 "Unable to stop mongo:2.6 container started with --smallfiles"
Environment:
[code]
OSX 10.11.4 Beta

Problem:
Docker hangs when I try to stop a container.

Description:
I create a container based on the `mongo:2.6` image and pass `--smallfiles`. When trying to stop the container afterwards docker hangs and does not stop it. No errors are shown.

The reason why I post it here and not at MongoDB somewhere, is because the problem *only* occurs on my Macbook runn

[2016-01-21 11:23] ivstas commented on #2871
@nathanleclaire it's accidental, my fault. I just recreated dev machine several times - that was output from different attempts.

I updated to latest docker-machine & docker.

[code]

Same issue.

Repeat from the start:
 `docker-machine create dev --driver virtualbox`

[code]

`docker-machine env dev`
[code]

`eval $(docker-machine env dev)`
`docker run hello-world`
[code]

`docker-machine config

[2016-01-21 12:43] wouterla opened #2892 "Rackspace driver fails with 'internalURL' as endpoint type"
Using current master/0.6.0-rc1, I can use the rackspace driver to create new machines on rackspace.

I want to use it from another rackspace instance, though, and use the internal IP to talk to docker, so as not to expose that to the outside.

When I try to run docker-machine with `--rackspace-endpoint-type internalURL`, though it always fails with:

    (consul-box) DBG | Authenticating to Racksp

[2016-01-21 14:08] cedricve commented on #2841
Does anyone can help on this?

[2016-01-21 15:26] VenkateshSrini commented on #2710
Hi any resolution for the same.

Thanks and regards
Venkatesh

[2016-01-21 16:43] lesaux opened #2893 "vmwarevsphere driver: --vmwarevsphere-hostsystem with wildcard doesn't work"
Hello,

as @doxxx previously mentioned here: https://github.com/docker/machine/pull/1522#issuecomment-126779331

I am also not able to get the

[code]

option to work . My cluster name is "home" is this example

[code]

If I put a hostname instead of the wildcard it works fine.

Any idea what could be wrong?

[2016-01-21 16:55] leeDav opened #2894 "DigitalOcean SSH 255 error, CoreOS"
`OS X version: 10.11.1`
`docker-machine version 0.5.6, build 61388e9`
`Docker version 1.9.1, build a34a1d5`

I used `docker-machine` to create a new droplet using CoreOS and I can't seem to get it to work. Here is the command I'm using:

`docker-machine --debug create --driver digitalocean --digitalocean-access-token $TOKEN --digitalocean-image coreos-alpha --digitalocean-region lon1 websites`

An

[2016-01-21 17:16] bamarni commented on #2894
I think it's trying to connect as root, but with coreos you have to do : `--digitalocean-ssh-user core`, and it should work :)

[2016-01-21 17:20] wildsurfer commented on #2560
Don't we have one already(DIGITALOCEAN_PRIVATE_NETWORKING)?

What if we will use one flag for both situations?
PRIVATE_ADVERTISE=true (or --private-advertise)

BIND_TO=all

[2016-01-21 17:33] BrianAdams opened #2895 "Release Candidate is provisioning non-rc version of docker-engine to cloud"
The (0.6.0-rc1, build 174e390) `docker-machine create` with the digital ocean provider appears to be deploying the non-rc version of docker-engine.

While I can find the work arounds to specify the matching release candidate version for virtual box, I don't see any levers to pull to force the release candidate image of docker engine to be deployed by docker-machine.  Is docker-machine RC suppose t

[2016-01-21 18:01] Kuzmin commented on #1805
FWIW, I'm experiencing the same issues as @edoardo-c above. I haven't been able to identify anything more useful than that removing the background run fixes the issue..

[2016-01-21 19:04] abe-winter opened #2896 "driver=google apt-get update failure (0.5.3)"
apt-get update returned code 100 during cloud provisioning. machine creation succeeded when I deleted the partially-created machine and reran the `docker-machine create` command.

Is it worth putting a retry loop around this step?

Alternatively, there's a google cloud image that already has docker installed (`gcloud compute images list | grep container`). Is it reasonable to default to that so so

[2016-01-21 19:55] daehyeok commented on #2876
Okay. If nobody interesting implement or fix code. I will try.

[2016-01-21 20:52] leeDav commented on #2894
Haha you're right! Boy do I feel silly. Thanks!

[2016-01-21 20:52] #2894 closed

[2016-01-21 21:04] ebuildy commented on #1718
A big +1, just lost all my prestashop data base ;-( after configuring all products, you really should put a big alert DIV saying "You will lost your data if you reboot the VM!" (at https://docs.docker.com/machine).

Any solution for now?

[2016-01-21 21:12] nathanleclaire commented on #1718
If it's data in containers (including volumes, which is where data in Dockerland is usually intended to live), it should persist in the VM between boots.

[2016-01-21 23:17] nathanleclaire commented on #2686
You mean `/etc/hosts` in the VM?

[2016-01-21 23:53] nathanleclaire commented on #2632
What's the output of the `route` command if run with `-v`?

[2016-01-22 00:46] zbyte64 opened #2898 "CoreOS instance stops during amazon EC2 provisioning"
I am trying to use the amazoneec2 driver with coreos AMIs. When I do the instance stops (according to the AWS console) and docker-machine is unable to make an ssh connection as a result. If I manually create an instance with ami-ee527484 through the AWS console the instance stays up and I can ssh in.

[code]

When inspecting the instance that shutdown AWS states the following:
State transition rea

[2016-01-22 01:42] ahmetalpbalkan opened #2899 "Logs from driver are displayed out of order"
Hi, I observed that if a docker-machine driver does a lot of `log.Debugf`, the messages are displayed in the wrong order sometimes. I'm not sure if it's about the rpc protocol or the processing on the client side. I can reproduce this easily.

It's probably not a big deal, however log statements don't have a date/time prefix, so it sometimes makes it harder to correlate log messages (for instance

[2016-01-22 01:54] ahmetalpbalkan commented on #2886
@anthonydahanne Hello, this is about your subscription. Internally in Azure, we have various labels associated to each subscription.

For instance a subscription that's in the 30-day trial mode, or a subscription that belongs to Enterprise Agreement (EA) or BizSpark or some other program and a subscription that is just regular are all associated with a different tag.

For some reason (read: I don'

[2016-01-22 03:37] BrianAdams commented on #2895
Okay. That one line in the release notes about engine-install-url was key.  The command below works for anyone else that was scratching their head

[code]

[2016-01-22 03:37] #2895 closed

[2016-01-22 04:59] parhamdoustdar commented on #2714
Hi,

Thanks for following up with this. The error hasn't changed as far as I can see (I'm using .06.0-rc1 build 174e390). Here is the log when running the create command in debug mode:

[code]

[2016-01-22 05:13] formerlyKurt commented on #2686
Yes.  Is there a way to tell docker-machine to create a host vm or update one with mappings in the host file?

[2016-01-22 05:38] jmreicha commented on #1942
I'm curious about the nic types as well.

@nathanleclaire do you know of any good network benchmarking tools or at least a good way to test the different nics?

[2016-01-22 06:12] jmreicha commented on #13
Has there been any movement on this?

It would be great to see something like --share-type with options for NFS, sshfs, samba, etc. and (maybe?) --share-path src:dest implemented.

[2016-01-22 08:15] BrianAdams commented on #2890
As another data point,  I'm seeing the exact same behavior from digital ocean using the 1.10 rc1.  I only have 12 out of 25 droplets running... so I suspect something else may be going on.

[2016-01-22 08:46] jeanlaurent commented on #2892
What is the OS from which you're creating the machine ?

[2016-01-22 08:50] krishna81m commented on #2707
A restart, new docker-machine, or docker-machine upgrade default fixed the issue temporarily.

[2016-01-22 08:50] #2707 closed

[2016-01-22 08:57] wouterla commented on #2892
I'm running on OSX latest version (El Capitan):

    sw_vers
    ProductName:	Mac OS X
    ProductVersion:	10.11.2
    BuildVersion:	15C50

I compiled docker-machine from master for this run (trying to get some more debug info).

[2016-01-22 09:21] ahmetalpbalkan commented on #2876
@daehyeok I don't think there is anything to fix here.

amazonec2 driver has both `amazonec2-use-private-address`, `amazonec2-private-address-only` flags. I can imagine one just says use private address in swarm or `docker-machine ip` command. The other one says “don't even create a public IP, I'm not going to run any public-facing servers on this instance”.

google simply does not have this, it m

[2016-01-22 10:28] jeanlaurent commented on #2899
Yes, this occurs. You can even loose some of them in some corner case where the server panics.

The client/server communication can definitely be improved

[2016-01-22 10:30] pdalpra commented on #2195
Unfortunately, this will hit hard in the near future, as the b2d for Docker 1.9.1 is broken and many people had to use a 1.9.0 issue or custom images...

WDYT of a `-f` flag to force upgrading to the latest official Boot2Docker image ?
Which would basically boil down to overwrite the "Boot2DockerURL" and reset it to an empty string, as it is when no custom URL is provided.

[2016-01-22 11:10] jeanlaurent opened #2901 "Inconsistent UI in remove command"
UI sounds strange with the `(default)` coming out of nowhere.
[code]
I would believe this could be better :
[code]

[2016-01-22 13:38] patrikerdes opened #2903 "Not possible to create a Swarm master with the token discovery method"
In v0.6.0-rc1 it is no longer possible to create a Swarm master with the token discovery method. The `docker-machine create` command does not give any error, but the swarm master does not start up successfully. Running `docker logs` on the swarm master container shows the following error message:
`time="2016-01-21T15:11:25Z" level=fatal msg="Leader election is only supported with consul, etcd and

[2016-01-22 13:44] patrikerdes commented on #2903
In #2833 the `--replication` flag was added when starting any Swarm master. It is only supported when having a consul, etcd or zookeeper cluster, as seen in the logs above, and as seen on this page: https://docs.docker.com/swarm/multi-manager-setup/

[2016-01-22 13:57] awishformore commented on #2890
If anyone has ideas on how to further investigate this, I am willing to put in some time. Currently, I'm no longer able to reproduce this behaviour, but it consistently happened over a few days before.

[2016-01-22 14:16] patrikerdes opened #2905 ""No active host found" when running "docker-machine active" with a Swarm host active"
`docker-machine active` gives the error message `"No active host found"` when having a Swarm host active.
[code]

This is working as expected in v0.5.4 and v0.5.3, but it not working in v0.5.5, v0.5.6 or v0.6.0-rc1.

(This has been fixed before, #1311)

[2016-01-22 16:17] anthonydahanne commented on #2886
Hi there @ahmetalpbalkan ,
thanks for your answer, yeah I guess setting the default location to a location common to all subscriptions would make sense.
My subscription is a 30 day trial mode; I don't know your email address, here's a screenshot (not showing my subscription id though)

![screen shot 2016-01-22 at 11 13 48](https://cloud.githubusercontent.com/assets/60938/12516054/6d4cad06-c0f9-11e

[2016-01-22 18:02] zramsay commented on #2890
I've been getting a similar error (but only with swarm):
[code]
Relatedly, I get this error a lot (`server.pem` not there). In this case, it happens to be related to the swarming but occurs frequently w/o creating swarm. Very non-deterministic (approx 50% of machines, 50% of the time). Happens both when machines are created from command-line or shelled out in parallel. When !swarm, no error throws

[2016-01-22 19:50] nathanleclaire commented on #2895
Yep -- thanks for following up to close -- we don't hardcode Docker versions in Machine so it's always pulling the latest non-RC version, as you noted there are ways to try out the RCs for `virtualbox` (using `--virtualbox-boot2docker-url`) and other providers (using `--engine-install-url test.docker.com`).

[2016-01-22 19:54] mohdaliiqbal commented on #1718
I'm hitting a bug (https://github.com/docker/docker/issues/18180) where the work around is to upgrade/downgrade the docker version. I could change docker binary, but can't persist my changes across restarts of the VM. I was gonna do it as a quick workaround to this issue without having to change whole toolkit.

[2016-01-22 20:00] nathanleclaire commented on #1718
@mohdaliiqbal You should be able to change out the `boot2docker.iso` that the machine is using without losing your data.

All of the Docker data is mounted on a writeable, persistent volume in the VM.

You should be able to do something like (assuming your VM is `default`):

[code]

And you will have Docker 1.10 RC / boot2docker.iso (with the AUFS fix) running in your VM with all containers etc. t

[2016-01-22 20:09] mohdaliiqbal commented on #1718
@nathanleclaire thanks for the super fast response.

[2016-01-22 20:10] nathanleclaire commented on #2901
It's because the "machine does not exist, assuming it has been removed already" message is printed from within the plugin.  I don't know that it will be very easy to change.  We would have to somehow do the existence check outside of the plugin, maybe we could use `GetState` and add a `state.Terminated`, but that's definitely a decent chunk of work.

[2016-01-22 20:18] jbwinters commented on #1328
This is a vital feature, and I'd love to see it in a near-future release. In my opinion machine configuration should remain unique to a client, not be imported/exported. Instead (as others have mentioned) `docker-machine create` run with the same arguments should be able to create a configuration for the machine even if it already exists remotely instead of failing like it does now. When re-runnin

[2016-01-22 20:25] nathanleclaire commented on #1718
@mohdaliiqbal :+1:

[2016-01-22 20:42] ahmetalpbalkan commented on #2899
ah okay, I was just trying to confirm if it's a known issue/by design. thanks @jeanlaurent

[2016-01-22 20:42] #2899 closed

[2016-01-22 20:43] ahmetalpbalkan commented on #1142
This will not be a problem in the new azure driver. :bomb:

[2016-01-22 20:43] ahmetalpbalkan commented on #1368
This will happen in the new Azure driver :bomb: !

[2016-01-22 20:45] ahmetalpbalkan commented on #2408
@jamesmeen thanks a lot for responses. Indeed I am adding `--azure-vnet`/`--azure-subnet` flags. I am wondering your use case for Availability Sets in Azure case. I am going to implement it anyways but I wondered how is it going to be used.

[2016-01-22 22:52] #2903 closed

[2016-01-22 22:53] StefanScherer opened #2907 "Connect to Windows Docker engine"
Has anybody started to add or think about a docker-machine driver and provisioner for Windows Docker engines?
So anybody can use docker-machine to secure and connect to a Windows Server 2016 TP4 as easy as we are used for a Linux Docker Engine?

Something like:

[code]

Using WinRM (HTTP/HTTPS) instead of SSH to access the remote Windows Server and put the TLS certs into it and reconfigures the Wi

[2016-01-22 22:53] nathanleclaire opened #2908 "Add note in the docs about Swarm replication"
Due to https://github.com/docker/machine/pull/2904 reverting the commit which ran Swarm masters with `--replication` by default, users might be curious to know how to do so.  A note in the documentation about using `--swarm-opt replication=true` (and indicating that this won't work with Hub token discovery) would be valuable to inform people how to do so.

cc @docker/machine-maintainers

[2016-01-22 23:27] nathanleclaire commented on #2871
It's definitely possible.  I know there were some mistakes in the `libmachine` refactoring work that I did which resulted in this issue (inconsistent use of `certs` vs. VM dir), and it has been fixed in `env` but clearly `config` needs an update as well.

[2016-01-23 00:02] nathanleclaire commented on #2907
Due to the way the provisioner model currently works, it might not be _too_ crazy to implement such functionality, although it would require re-thinking or papering over some pretty fundamental assumptions (e.g. the presence of SSH).

I have a feeling that the way it will need to be implemented is by having some flags which specifically indicate that it's a Windows machine.  e.g. `--generic-winrm-

[2016-01-23 00:33] #2905 closed

[2016-01-23 02:05] cte commented on #1709
+1

[2016-01-23 02:22] jamesma commented on #1709
+1

[2016-01-23 02:58] zramsay commented on #2890
Have replicated all of @awishformore's errors using `libmachine` under the hood rather than the cli. No longer get the `server.pem` error ... now its `Unable to query docker version: Cannot connect to the docker engine endpoint`

[2016-01-23 04:16] BrianAdams opened #2910 "ls command returns incorrect swarm details in 0.6.0-rc1"
When you have more than one swarm cluster, the `docker-machine ls` command returns bad data in the SWARM field. It should show the node serving as swarm master for the swarm the node belongs to.  Instead it appears to list the swarm master of whichever swarm is currently active via the environment variables for all nodes.

![3__bash](https://cloud.githubusercontent.com/assets/1471826/12528265/92ec

[2016-01-23 07:17] ahmetalpbalkan commented on #2907
I don't know much about Windows Server containers, however as Nathan said most of the work probably would be getting the SSH protocol on Windows either by waiting Microsoft to do it (it's happening) or providing a polyfill using WinRM maybe (I don't know how it works at all).

I remember some discussion about this was happening internally too. cc: @jstarks as he is on the windows containers team.

[2016-01-23 10:35] yelmu commented on #1814
You don't need to run the additional step  `sudo mount -t vboxsf sharename /path` if you use Users or /Users as a share/folder name in VirtualBox.

Check [boot2docker readme](https://github.com/boot2docker/boot2docker/blob/master/README.md), it tries to automatically mount some predefined VBox share names. /c/Users is automatically mapped to C:\Users but /Users can still be mapped to D:\Code in VB

[2016-01-23 13:58] navinSing commented on #2840
Actually the certs files were not there, hence docker-machine cannot ssh at that time.. have to manually copy it... hence the swarm-master was not created; but docker-machine shows that ... any other way to restart or manually create the swarm-master in the docker cluster.. Pls help, thanks.

[2016-01-23 13:59] navinSing commented on #2840
Ah ! got it closed by mistake ..

[2016-01-23 18:35] korsmakolnikov commented on #1716
I've still this problem on Captain osx. I've try all of solutions of yours and none work.
/Application is own by root
docker-machine can't work with vbox 4 anymore, so I try to install lastest after remove old one, install 4, try, install lastestes, try... Everytimes repairing disc permissions.

[2016-01-23 19:49] nukalasr commented on #792
'docker-machine ls'
'docker-machine restart <machine name>'
worked for me to resolve error with docker compose connection timeout error.  Thanks

[2016-01-23 19:59] jeanlaurent commented on #2901
Yes, I know it comes from within the plugin itself. The thing is, some time, especially in debug log on a `docker-machine ls` it's rather convenient to know which plugin is actually writing logs.

During a create for instance, this information is really not usefull also.
[code]
So maybe we should have a dedicated command to write something to the user which filter out the machine name. Sounds less

[2016-01-24 03:16] lox commented on #2029
Seems like this option isn't supported by `generic` either.

[2016-01-24 03:19] Jcamilorada commented on #1709
+1

[2016-01-24 11:06] DraconPern commented on #2267
Same problem on a Windows 2012 R2 cluster

[2016-01-24 11:45] DraconPern commented on #2267
I did some test with --debug.   I think the problem is that  Set-VMDvdDrive and Add-VMHardDiskDrive return before the operation is actually done since the commands just queues up the operation in the hyper-v service queue.  What needs to be added is a loop that calls Get-VM and look for "Operating normally" in the status.  Then when the status is 'normal', call Start-VM

[2016-01-24 12:31] jamesmeen commented on #2267
This was fixed from Compose v0.5.5 onwards

[2016-01-24 12:31] #2267 closed

[2016-01-24 12:34] DraconPern commented on #2267
Can you reference the patch that fixed this?  I had this issue running docker-machine and not with docker-compose.

[2016-01-24 12:37] jamesmeen commented on #2267
There is no reference to the issue number on the Machine 0.5.5 release notes.  If you look on the release notes, it is mentioned.

"Close handle after copying boot2docker.iso into vm folder - will otherwise keep hyper-v from starting vm"

(Compose was a mistake which I corrected in previous comment. I meant Machine)

[2016-01-24 13:07] dgageot commented on #2267
This is fixed in 1cd6a37343d2bc23dcef8a409aaf347a562b974d

[2016-01-24 13:47] ignasi35 commented on #2567
I assumed the parameter would allow to to create an EC2 machine where only the provided username would have access. Something in the form of: "create instance with default user, useradd 'abc', delete default user".

I got a bit carried away.

PS: I don't have much experience in AWS and some well-known practices when dealing with new machines still go over my head.

[2016-01-24 19:39] jeanlaurent commented on #2567
I thought the same at first, the documentation was scarse, but has been updated since.

I'm going to close this.

Please re-open if I missed something.

[2016-01-24 19:39] #2567 closed

[2016-01-24 21:47] provegard opened #2913 "Error checking TLS connection: Host is not running (Hyper-V)"
When I try to use `docker-machine env` as non-admin in Windows, I get:

[code]

(Same for a non-administrative command prompt.)

Running the shell/cmd as Administrator works, but I'm migrating from using the boot2docker CLI, and our scripts used to be able to run `boot2docker shellinit` without requiring admin privileges.

I'm using Hyper-V, not VirtualBox.

Is this by design? Any way around it?

[2016-01-24 22:05] provegard commented on #2913
Never mind, I see that the Get-VM cmdlet requires admin privileges by default. However, I managed to add myself as a Hyper-V administrator by following this guide up until and including step 4:

http://itprocentral.com/how-to-delegate-access-in-hyper-v/

Then logging out and in again and all is fine!

[2016-01-24 22:05] #2913 closed

[2016-01-25 06:01] kunalkushwaha commented on #2910
I tried this at my setup. It works fine.
Please confirm, if  ``--swarm-discovery`` option has correct value while creation.

[code]

[2016-01-25 08:21] BrianAdams commented on #2910
@kunalkushwaha are you using docker-machine version 0.6.0-rc1?  Yes, swarm-discovery was set for the daemons.

[code]

[2016-01-25 08:27] bmoussaud commented on #1709
+1

[2016-01-25 09:04] #2888 closed

[2016-01-25 09:30] jeanlaurent commented on #534
What should we do when we remove a machine, it would be better to remove it.
But then it starts to be complicated...

are we still willing to add the host to the `known_hosts` file ? cc @nathanleclaire

[2016-01-25 09:35] jeanlaurent commented on #489
One year later, changing the flags for the drivers with all the adoption that `docker-machine` has, will probably annoy a lot of users.

@nathanleclaire Should we close this, or do you want to push this forward ?

[2016-01-25 09:40] kunalkushwaha commented on #2910
Earlier test with dev build, but verified again with ``version 0.6.0-rc1``. It works.

You may see if settings for discovery is correct in ``swarm-agent-master`` container.

I had also faced similar issue earlier, While debugging I realised, I made mistake in swarm-discovery settings.

[2016-01-25 11:17] jeanlaurent commented on #2426
Closing as this is related to https://github.com/docker/docker/issues/7198

Feel free to re-open if I missed something.

[2016-01-25 11:17] #2426 closed

[2016-01-25 11:22] jeanlaurent commented on #2455
Machine modification is not planned atm.
But the future of this is more headed towards #2422

Closing this.
If you feel like I missed something, please re-open.

[2016-01-25 11:22] #2455 closed

[2016-01-25 11:25] jeanlaurent commented on #584
Driver has been completely rewritten since that time.

As creating machine on us-east-1b works, I'm closing this now.

Feel free to re-open if you still encounter this again.

[2016-01-25 11:25] #584 closed

[2016-01-25 13:01] heichblatt commented on #1361
+1

OEL is just a Red Hat derivative, maybe the Red Hat provisioner could be reused in some way?

[2016-01-25 13:14] jeanlaurent commented on #2508
Closing as duplicate of #1928
Linking there for reference of the detailed output and workaround using flags.

Please feel free to re-open if I missed something.

[2016-01-25 13:14] #2508 closed

[2016-01-25 13:42] ffissore commented on #23
+1

[2016-01-25 14:36] #494 closed

[2016-01-25 14:43] jeanlaurent commented on #1542
AMI have been updated to 15.10 this leads to
[code]

Closing this, re-open if I missed something.

[2016-01-25 14:43] #1542 closed

[2016-01-25 14:57] jeanlaurent commented on #2161
Closing since, I believe @ahmetalpbalkan answer the question.

Please re-open, if this is not the case.

[2016-01-25 14:57] #2161 closed

[2016-01-25 15:01] jeanlaurent commented on #1768
Sounds like your VM does not start at all.

The virtualbox driver had significant changes since 6 monthes.

Closing this, please re-open if it fails again with 0.5.6 or newer.

[2016-01-25 15:01] #1768 closed

[2016-01-25 15:08] hheimbuerger commented on #2147
Here's how I got it running after getting the same error for the 1.10-rc1:

    docker-machine create -d=virtualbox -virtualbox-boot2docker-url https://github.com/tianon/boot2docker-legacy/releases/download/v1.10.0-rc1/boot2docker.iso docker

[2016-01-25 15:13] jeanlaurent commented on #2860
Ok for the first part ( done in #2917)

Not ok for the second part, since the action of `docker-machine env local` does not "connect your Docker Client to the Docker Engine" but really configure the shell for enabling it.
Putting a sentence like `# Run this command to configure your shell to enable the connection between your Docker Client to the Docker Engine running on <vmname>.` sounds a bit to

[2016-01-25 15:14] RRAlex commented on #1357
Looks like using a protected key with an ssh-agent loaded with it but without specifying the key as an option to the generic driver worked for me. Counter intuitive, but ...

Maybe the documentation should reflect this!

[2016-01-25 15:28] jeanlaurent commented on #1732
Closing this, since @leedm777 is related to aufs ( https://github.com/docker/machine/issues/2411 )

@cameronmalek the purpose of `docker-machine create` is to install docker, if you install it beforehand, and expect to register it, this is something that should ship with 0.7.

Please re-open if I did not grasp everything.

[2016-01-25 15:28] #1732 closed

[2016-01-25 15:41] #2860 closed

[2016-01-25 15:46] jeanlaurent commented on #1636
Closing this, since error message display has been emhanced especially during create.

Feel free to re-open if this still does not work with a recent 0.5.6+ version of `docker-machine`

[2016-01-25 15:46] #1636 closed

[2016-01-25 17:48] formerlyKurt commented on #2632
With the `-v` command, I get:

    sudo route -v add -net 192.168.99.0/24 -interface vboxnet0
    u: inet 192.168.99.0; u: link vboxnet0:a.0.27.0.0.0; RTM_ADD: Add Route: len 140, pid: 0, seq 1, errno 0, flags:<UP,STATIC>
    locks:  inits:
    sockaddrs: <DST,GATEWAY,NETMASK>
     192.168.99.0 vboxnet0:a.0.27.0.0.0 (0) 0 ffff ff
    route: writing to routing socket: File exists
    add net 192.16

[2016-01-25 18:30] BrianAdams commented on #2910
Okay, could it be that my client is the OSX client?

How go you verify the settings for discovery other than confirming that all nodes expected show up in docker info which they do?   I've inspected the CMD passed to the swarm-agent and swarm-master and they appear correct, referencing the local consul agent for the consul cluster that they are part of.  There is no chance of a cross-over as each

[2016-01-25 18:30] dayglojesus opened #2918 "undocumented flag: --vmwarevsphere-hostsystem/VSPHERE_HOSTSYSTEM for vmwarevsphere driver"
Ran into an issue using the vSphere driver.

```Error creating machine: Error with pre-create check: default host resolves to multiple instances, please specify```

After some lengthy searching, I finally discovered there was a flag I could pass to specify which hypervisor to connect to, but this info was not documented on the driver info page...

https://docs.docker.com/machine/drivers/vsphere/

[2016-01-25 18:58] joeczucha commented on #1995
Just to confirm that this bug still exists in the version of docker-machine installed by homebrew... building from source worked though. Thanks all.

[2016-01-25 19:04] frankschmitt commented on #1094
I'm still getting this with docker-machine 0.5.6 (Windows 7 Enterprise, 64bit).

For me, the root cause seems to be my corporate VPN client (Juniper Network Connect).
Whenever I establish a VPN connection, it apparently disables the NIC that VirtualBox uses to communicate with the DockerHost VM. When I shutdown the VPN client, everything starts working again properly.

[2016-01-25 19:35] nathanleclaire commented on #534
But then it starts to be complicated...

My suggestion would be that Machine should maintain and use its own `known_hosts` file when using OpenSSH (e.g. `~/.docker/machine/known_hosts`).  We could set it using `-o UserKnownHosts` and remove the relevant host line ourself when a user makes a `rm` call.

[2016-01-25 20:11] nathanleclaire commented on #1942
@jmreicha Maybe `iperf`: https://iperf.fr/

[2016-01-25 21:24] dgageot commented on #2876
@ahmetalpbalkan, @daehyeok I'm going to close this ticket since it's really a feature and not a bug. Feel free to create another ticket (with a reference to this ticket) if you want flags similar to `amazonec2-use-private-address`, `amazonec2-private-address-only`

[2016-01-25 21:24] #2876 closed

[2016-01-25 21:25] dgageot commented on #1916
@DazWilkin Have you tried with Docker Machine 0.6.0-rc? I don't think that anything was fixed but at least we would get a refresh.

[2016-01-25 21:29] DazWilkin commented on #1916
Will try it next week once back from vacation.

[2016-01-25 21:32] dgageot commented on #2814
Ww tried a LOT of things and the only way would be to read mode specific registers from a driver because the msr that we are interested in can only be read in ring 0. That's really overkill so we are not going to do that. Anyway, windows 7 installation base should become smaller and smaller over time

[2016-01-25 21:32] #2814 closed

[2016-01-25 21:33] dgageot commented on #2714
Hi @parhamdoustdar the version from master should give you the reason of the failure. Could you please try? That'd be great!

[2016-01-25 21:35] dgageot commented on #1706
With latest version of Docker Machine, this should really not be an issue anymore. Can you give it a shot?

[2016-01-25 21:43] dgageot commented on #1473
Closing since it's solved with #1299

[2016-01-25 21:43] #1473 closed

[2016-01-25 21:44] dgageot commented on #2706
Closing. We now have a compatibility suite that makes sure we don't break old drivers

[2016-01-25 21:44] #2706 closed

[2016-01-25 21:45] dgageot commented on #2858
Hi @davidkarlsen, can you try with 0.6.0-rc1 that supports automatic shell detection?

[2016-01-25 21:45] legal90 commented on #2706
@dgageot Great. Thank you! :)

[2016-01-25 21:47] lambdafu opened #2920 "docker-machine status outputs to stderr"
Srsly?

[code]

[2016-01-25 21:59] nathanleclaire opened #2921 "Go-based integration tests should be documented"
cc @docker/machine-maintainers

Following up on: https://github.com/docker/machine/pull/2875#issuecomment-174684486

We are starting to switch to using Go for the integration tests, information about how to run them should be included in our developer documentation. Once we switch completely, references to BATS in our documentation should be cleaned up and/or removed.

[2016-01-25 22:33] nathanleclaire commented on #2029
@lox It should work fine with `generic` driver.  Depends on the OS.  Which OS are you using?

[2016-01-25 22:44] enderb-ms commented on #2907
Hi @StefanScherer, I'm a PM in the Hyper-V team and I'm actually looking into how we could make this possible. One of the things we're thinking about is maybe we could use [this](http://blogs.technet.com/b/nanoserver/archive/2016/01/07/download-just-nano-server-in-a-vhd-windows-server-2016-technical-preview-4.aspx) as the OS that Docker Machine could pull. If we use Nano, then it would stay as a s

[2016-01-25 22:44] lox commented on #2029
I believe I was actually seeing https://github.com/docker/docker/issues/19620 and I assumed it was a docker-machine related issue. I'll check if it's resolved.

[2016-01-25 22:53] dubrowgn commented on #2456
Root issue #2267 was fixed. Since this issue hasn't gone anywhere, I'm closing it.

[2016-01-25 22:53] #2456 closed

[2016-01-26 01:55] kunalkushwaha commented on #2910
You are right, discovery must be correct in your setup, as cluster is setup correctly. ``docker info`` verifies that.

If possible, you may try with virtualbox once.

To verify you may also use
[code]

I am not sure, if it has to do anything with client (OSX vs Windows) as code is same for both .
While creation, it fetches the discovery from command line options https://github.com/docker/machine/b

[2016-01-26 05:40] parhamdoustdar commented on #2714
Of course. However, do I need to build it myself, or can I download it
as a release?

On 1/26/2016 1:04 AM, David Gageot wrote:

[2016-01-26 08:37] dgageot commented on #2857
Hello @caiofbpa I'm sorry it seems a little out of scope for Docker Machine.
Your gist seems to work well.
We'd welcome a PR to add this gist to the documentation somewhere.

[2016-01-26 08:40] dgageot commented on #1770
@benediktarnold Have you tried using the ssh-agent?

Here's what the `generic` driver says:

[code]

[2016-01-26 08:43] dgageot commented on #1402
Hi everybody, dealing with existing hosts can be simple if you rely on ssh-agent. Here's what the `generic` driver says:

[code]

Can you have a look?

[2016-01-26 08:44] dgageot commented on #798
ping @frapposelli

[2016-01-26 09:01] frapposelli commented on #798
@mikegcoleman still getting that error?

[2016-01-26 09:18] jeanlaurent commented on #1774
Closing since this is now fixed since [v0.5.4](https://github.com/docker/machine/releases/tag/v0.5.4)

[2016-01-26 09:18] #1774 closed

[2016-01-26 09:22] jeanlaurent commented on #1517
@moxiegirl Not sure about this one.

Seems probably too old, but I don't want to close it without your opinion.

[2016-01-26 09:29] fsoppelsa commented on #2887
`auth-url` is definitely wrong. In a HA (2 controllers is bad though, for quorum reasons, but that is), you should use as `auth-url` the VIP.

[2016-01-26 09:30] fsoppelsa commented on #2812
Duplicate of #2813, @jeanlaurent can you merge please?

[2016-01-26 09:31] jeanlaurent commented on #1698
in 0.5.6 the AWS driver has been significantly rewritten.

Sounds like this is working.

Please re-open if I missed something

[2016-01-26 09:31] #1698 closed

[2016-01-26 09:35] fsoppelsa commented on #2316
Requests that gets 404 is the Nova endpoint, seems.
Probably you may want to destroy frontend1 machine, and recreate it.

[2016-01-26 09:36] fsoppelsa commented on #1738
@nathanleclaire @jeanlaurent probably you can close, due to the previous merge.

[2016-01-26 09:37] fsoppelsa commented on #1444
@nathanleclaire what is status of this issue?

[2016-01-26 09:38] fsoppelsa commented on #1312
+1

[2016-01-26 09:41] fsoppelsa commented on #2749
@dgageot with drivers/openstack is possible too.

[2016-01-26 09:46] sebmoule commented on #2316
@fabrizio,

In fact i found a way to "repair" from a docker-machine point of view just be retrieving the MachineID from a nova command and manually add-it in the docker-machine config.json file.

So the machine was ok on openstack side (but it may have take too long for docker-machine to retrieve correctly the machineid which remains empty in the config file.

I think docker-machine may have a way

[2016-01-26 10:01] jeanlaurent commented on #2918
Thanks for pointing that out, sounds like the vsphere doc was really outdated.

Should be fixed in #2925

[2016-01-26 10:04] jeanlaurent commented on #2920
Sounds like a duplicate of #2587, with v0.6.1-rc1 it is fixed.

Please re-open if this occurs on the latest version.

[2016-01-26 10:04] #2920 closed

[2016-01-26 10:32] #2918 closed

[2016-01-26 11:54] fsoppelsa commented on #2316
Thanks for feedback @sebmoule, probably we may want to add some generic `dm edit`.\
You can file some formal proposal.

[2016-01-26 13:15] jjimjam commented on #2890
I'm having a terrible time with this too.   "docker-machine create  --driver digitalocean" works perhaps 20% of the time.

Sometimes I get.

Provisioning with ubuntu(systemd)...
Error creating machine: Error running provisioning: Something went wrong running an SSH Command!
command : sudo apt-get update
err     : exit status 255
output  :

Other times:

Detecting the provisioner...
Error creating

[2016-01-26 14:00] jamesmeen commented on #2408
@ahmetalpbalkan, it would be to ensure redundancy of machines created can be maintained and also support separating tiers of our multi-machine deployment into separate availability sets within Azure.  This is also needed to take advantage of Azure SLA guarantees.

[2016-01-26 14:42] dgageot commented on #2157
Closing since things work pretty smoothly.

[2016-01-26 14:42] #2157 closed

[2016-01-26 14:43] dgageot commented on #2156
Closing. Duplicate of https://github.com/docker/machine/issues/1822

[2016-01-26 14:43] #2156 closed

[2016-01-26 14:44] dgageot commented on #1425
Closing. Duplicate of https://github.com/docker/machine/issues/2705

[2016-01-26 14:44] #1425 closed

[2016-01-26 14:48] dgageot commented on #1547
Closing. Duplicate of https://github.com/docker/machine/issues/2639

[2016-01-26 14:48] #1547 closed

[2016-01-26 14:50] dgageot commented on #949
Closing. This is not the case anymore

[2016-01-26 14:50] #949 closed

[2016-01-26 14:51] jjimjam commented on #2890
and this:

Provisioning with ubuntu(systemd)...
Error creating machine: Error running provisioning: Something went wrong running an SSH command!
command : sudo hostname dockereg-dgo && echo "dockereg-dgo" | sudo tee /etc/hostname
err     : exit status 255
output  :

It's now got to stage where it doesn't work for me at all in london region.
It just worked first time on default NYC3 region.

[2016-01-26 14:53] dgageot commented on #1330
This was fixed with https://github.com/docker/machine/pull/2121

[2016-01-26 14:53] #1330 closed

[2016-01-26 15:04] dgageot commented on #2465
This is worked around in https://github.com/docker/machine/pull/2797

[2016-01-26 15:04] #2465 closed

[2016-01-26 15:06] dgageot commented on #2378
Fixed in https://github.com/docker/machine/pull/2797

[2016-01-26 15:06] #2378 closed

[2016-01-26 15:13] dgageot commented on #2060
Fixed in https://github.com/docker/machine/pull/2487

[2016-01-26 15:13] #2060 closed

[2016-01-26 15:17] dgageot commented on #1734
Duplicate of https://github.com/docker/machine/issues/2907

[2016-01-26 15:17] #1734 closed

[2016-01-26 15:18] dgageot commented on #2213
@nathanleclaire Do you have a driver ready to be used?

[2016-01-26 15:21] dgageot commented on #1395
Duplicate of https://github.com/docker/machine/issues/2302

[2016-01-26 15:21] #1395 closed

[2016-01-26 15:26] #2470 closed

[2016-01-26 15:26] #2705 closed

[2016-01-26 15:52] awishformore commented on #2890
@jjimjam maybe you could use code mark-up to make these messages more easily readable?

Anyway, is there anyone with a bit more experience to point me in the right direction? I would like to investigate this further, but I have no idea where to look (or if it's even related to Docker Machine). I'm in contact with the Digital Ocean support and they are aware of this thread, so maybe they can help a

[2016-01-26 16:21] dgageot commented on #2362
This is fixed in 1cd6a37

[2016-01-26 16:36] dgageot commented on #636
Hi @michaelsbradleyjr, thank you very much for the time you spent writing this proposal. We can see the value it would bring to a few users. However, because we must concentrate our energy on what's used by the most, we are going to close this ticket with the status "out of scope".
Once again, let us thank you for using docker-machine and trying to improve it.

[2016-01-26 16:36] #636 closed

[2016-01-26 16:39] dgageot commented on #2346
Hi @land007 Here's how you could create such a cluster: https://github.com/docker/swarm-frontends/blob/master/init_swarm.sh

[2016-01-26 16:42] dgageot commented on #643
Duplicate of https://github.com/docker/machine/issues/1435

[2016-01-26 16:42] #643 closed

[2016-01-26 16:43] dgageot commented on #2270
Duplicate of https://github.com/docker/machine/issues/2667

[2016-01-26 16:43] #2270 closed

[2016-01-26 16:43] dgageot commented on #2355
Duplicate of https://github.com/docker/machine/issues/1532

[2016-01-26 16:43] #2355 closed

[2016-01-26 16:45] dgageot commented on #2805
@meichau Can you try with `docker-machine 0.6.0-rc1`?

[2016-01-26 16:48] dgageot commented on #2590
Hi @NathanGRomano Any update on this? Because of all the fixes on Virtualbox driver lately, we might consider closing this ticket if you don't encounter the error with more recent versions. Thanks for your time!

[2016-01-26 16:49] dgageot commented on #2765
Duplicate of https://github.com/docker/machine/issues/2296

[2016-01-26 16:49] #2765 closed

[2016-01-26 16:51] dgageot commented on #1752
Duplicate of https://github.com/docker/machine/issues/1671

[2016-01-26 16:51] #1752 closed

[2016-01-26 16:53] dgageot commented on #1529
@jamshid this seems to impact a very old version of docker-machine. Can you try with the latest version and let us know if you still have the problem? Thanks a lot for your time.

[2016-01-26 16:55] dgageot commented on #2137
ping @frapposelli

[2016-01-26 17:01] dgageot commented on #1521
This is fixed in https://github.com/docker/machine/pull/2797. `Failed to create the host-only adapter` is Virtualbox own way to tell us that the adapter is created but not yet listed. We now have a series of workarounds to fix this issue

[2016-01-26 17:02] #1521 closed

[2016-01-26 17:03] dgageot commented on #1706
This is fixed in https://github.com/docker/machine/pull/2797

[2016-01-26 17:03] #1706 closed

[2016-01-26 17:08] NathanGRomano commented on #2590
I think we are food.  Issue resolved I apologize for not updating

On Tuesday, January 26, 2016, David Gageot <notifications@github.com> wrote:

[2016-01-26 17:12] dgageot commented on #2783
Closing. It was a temporary network issue

[2016-01-26 17:12] #2783 closed

[2016-01-26 17:14] dgageot commented on #2714
Sorry @parhamdoustdar for now, you have to build it yourself...

[2016-01-26 17:19] awishformore commented on #2890
I have just received a reply by the Digital Ocean support that actually contradicts what they said before. Here the response I got:

[code]

[2016-01-26 17:22] awishformore commented on #2890
As opposed to what was said before:

*It's possible there may be a timeout issue, but normally we don't see many cases of this as the SSH daemon on the droplet normally isn't started until after the network interface is enabled during the boot process.*

[2016-01-26 17:26] awishformore commented on #2890
Obviously, the cleanest way to solve this would be to have a proper API that tells you when a droplet is actually usable, rather than giving you less than useful information on it's power state. However, their suggestion to add a suggestion to their feedback page does not really leave me hopeful as to the resolution of this issue on their side.

Still, 30 seconds of added wait for every droplet cr

[2016-01-26 17:31] awishformore commented on #2890
More news from the Digital Ocean team:

*Actually, looking into it further, it looks like Docker Machine's DigitalOcean driver just waits for an IP to be assigned. It's not even waiting for the Droplet to be fully created and change from "new" to "on" status. That'll mean that there's even more of a chance that an SSH would fail, since the droplet hasn't even been fully provisioned yet until the s

[2016-01-26 17:34] tassels commented on #2890
Hi there. I thought I'd step in personally since you're pasting my response anyway.

During the create process, the driver checks if an IP address is assigned, and that's when it assumes the creation is complete (see here: https://github.com/docker/machine/blob/master/drivers/digitalocean/digitalocean.go#L208).

Instead, it should assume the creation is complete when the state changes from "new" t

[2016-01-26 17:35] #2590 closed

[2016-01-26 18:09] dgageot commented on #1560
Here the ugly code that can do what you want using libmachine in its current state:

[code]

[2016-01-26 18:23] marsmensch commented on #2870
@jeanlaurent
I think your fix is good enough and works for me, thanks for the investigation!

[2016-01-26 19:28] zramsay commented on #2890
nice. this explains a lot and should solve these issues. thanks :+1:

[2016-01-26 20:23] dansandland commented on #1709
+1, also using AWS Elastic IP's would require this. Otherwise you have to manually update the machine's config.json.

`~/.docker/machine/machines/my-machine-with-aws-elastic-ip/config.json`

[2016-01-26 20:33] JeNeSuisPasDave opened #2934 "hyper-v & ssh -- vi not recognizing ESC"
On my Windows 10 machine, I used docker-machine to create a Hyper-V VM using the boot2docker image.

When I ssh into the running VM and launch 'vi' to edit a script, I find that **I can't use the escape (ESC) key to get out of vi's insert mode**. I'm guessing that terminal emulation isn't working correctly, or there is some kind of keyboard mismatch.

`echo $TERM` yields `xterm`.

I ssh'd from a W

[2016-01-26 22:21] ryan-svds opened #2935 "localhost name server"

[2016-01-26 22:21] #2935 closed

[2016-01-26 22:35] StefanScherer commented on #2907
@enderb-ms Oh, a Nano image, that would be great as well. And OpenSSH is also an option. In the meantime other projects like Packer and Vagrant improved Windows support to use WinRM and get rid of SSH to have a more native communication.

What I thought about as a first step is let docker-machine connect to a TP4 server, eg. with the generic driver.

Haven't tried the azure driver yet I think of s

[2016-01-26 23:51] skrassiev commented on #2602
I can confirm that I am having the same issue and the only difference is having /dev/sda1 on an instance, provisioned by docker-machine (0.6.0 rc1 now, 0.5.x before that)

[2016-01-26 23:55] asciifaceman commented on #2602
I realize I forgot debug output, I'll sanitize some and submit tomorrow

[2016-01-27 00:20] skrassiev commented on #2602
Also confirming, once the machine fails to start due to "Client.InstanceInitiatedShutdown: Instance initiated shutdown", if I detach /dev/sda1 on it and start again, it launches just fine and is accessible through docker-machine.

[2016-01-27 00:23] nathanleclaire commented on #2934
It works for me with VirtualBox + git bash.

Some questions:

1. Which shell are you using to run the SSH command?  Powershell?  cmd.exe?
2. Are you using OpenSSH or the Golang SSH implementation?  If you print the output of something like `docker-machine --debug ssh default df` here we can tell you which.  If it's not OpenSSH I suspect there might be some terminal issues.

[2016-01-27 01:01] asciifaceman commented on #2602
That corroborates my theory that docker-machine is overriding the boot
sector with /dev/sda1

On Tue, Jan 26, 2016 at 4:20 PM, skrassiev <notifications@github.com> wrote:

--
Charles P. Corbett

[2016-01-27 01:10] skrassiev commented on #2602
Ok, the problem is when trying to provision a box with Amazon Linux AMI. That one has /dev/xda1 as a default in it's configuration. If I try to provision Ubuntu server, it will have /dev/sda1 as a default. Perhaps docker machine adds /dev/sda1 not finding it on Amazon AMI instance.

But anyway, Ubuntu fails to provision in the end as SSH connection keeps failing:
[code]

If you ctrl-c "docker-mach

[2016-01-27 01:25] nathanleclaire commented on #2213
@dgageot Check out https://github.com/nathanleclaire/docker-machine-driver-dind

That should work quite well if run with a `docker` installation with access to `/var/run/docker.sock`.  There needs to be a few modifications to Machine to get the integration tests passing though.

[2016-01-27 01:33] nathanleclaire commented on #1361
Most likely -- if they're largely the same a provisioner is usually quite easy to implement by embedding the existing RedHat provisioner (CentOS and Fedora do this IIRC).

[2016-01-27 01:34] nathanleclaire commented on #489
Generally I think it's probably worth keeping open as an existing "issue" to track, and something to make sure to keep into consideration for the next generation of Machine.

[2016-01-27 01:38] asciifaceman commented on #2602
Unfortunately nobody seems to be ready, docker-machine was at the end of
months of trial and error showing how broken EVERYTHING is - chef
provisioning was the worst

On Tue, Jan 26, 2016 at 5:10 PM, skrassiev <notifications@github.com> wrote:

--
Charles P. Corbett

[2016-01-27 01:40] nathanleclaire commented on #2749
I think it's just hard to do in a cross-driver way, but it seems to be a decent idea wherever possible.

[2016-01-27 01:41] nathanleclaire commented on #2362
We can close this then?

[2016-01-27 01:41] #2362 closed

[2016-01-27 02:52] nathanleclaire commented on #2175
Thanks @cjerdonek -- you might want to try https://github.com/docker/machine/issues/2936 to see if it fixes the issue for you.

[2016-01-27 03:33] drish opened #2937 "ls command returning wrong header names, 0.6.0-rc2-dev"
Hey guys,

Just noticed the `docker-machine ls` command is returning a wrong header value,

<img width="892" alt="captura de tela 2016-01-27 as 00 26 54" src="https://cloud.githubusercontent.com/assets/1730156/12602967/b930acc2-c48c-11e5-8760-84747c7a46db.png">

It should be `DRIVER` , instead of the first `URL` occurence.

in the `commands/ls.go` file, we have:

[code]

If so, should I submit a P

[2016-01-27 03:38] nathanleclaire commented on #2937
Heh.  Yes, that is a bug.  Good catch!  Please do submit a PR.

[2016-01-27 03:47] nathanleclaire commented on #2686
It's not possible currently.  You could probably use `docker-machine ssh` after `create` is done if desired.

[2016-01-27 03:47] drish commented on #2937
Ok ! working on this.

[2016-01-27 03:55] michaelsbradleyjr commented on #636
@dgageot so, if a mac is my principal development machine, is there a recommended way to setup up virtual Windows hosts, in a command-line oriented and automate-able manner, on which to run the Docker daemon?

[2016-01-27 05:46] dgageot opened #2939 "Add a test for `docker-machine ls` headers"

[2016-01-27 08:16] #2937 closed

[2016-01-27 08:27] #2175 closed

[2016-01-27 08:35] dgageot opened #2941 "Wait for Docker daemon on host restart"

[2016-01-27 08:46] dgageot commented on #2664
@dmp42 I've got a different plan. What if we ditched the coverage report altogether. Nobody watches as far as I know. It slows down the CI. It make the Makefile more complex. It often fails the CI because it's yet another external service.
And we don't need that carrot to add more tests
@docker/machine-maintainers WDYT?

[2016-01-27 09:08] #2941 closed

[2016-01-27 09:20] #2939 closed

[2016-01-27 09:24] timotei opened #2945 "Invalid machine error (Hyper V-related)"
Hello,

I'm trying to create a new machine, but I get the following error:

[code]

However, this is incorrect when booting with `hypervisorlaunchtype = off`, which is my case. I run just fine all kind of 64 bit VMs.

[2016-01-27 09:39] jeanlaurent commented on #2945
thanks @timotei, can you try to create the machine with the `--virtualbox-no-vtx-check`, to see if the machine runs ?
If this is the case, we will have to enhance our vtx check with the `hypervisorlaunchtype = off`.

[2016-01-27 14:47] timotei commented on #2945
Yup, with `--virtualbox-no-vtx-check` it worked! Thanks.

[2016-01-27 14:49] JeNeSuisPasDave commented on #2934
@nathanleclaire answers to your questions ...

1. I'm using cmd.exe
2. It must be the Golang SSH implementation. Here's the output you asked for:

[code]

I installed PuTTY and that works fine, I can use vi without any terminal/keyboard issues. However, PuTTY is a separate GUI tool, not a CLI SSH, so not usable via `docker-machine`, AFAIK. Regardless, that means the problem must be in the client s

[2016-01-27 16:12] jeremysmitherman commented on #2240
Having the same issue with the versions you specified.  Everything is fine until I reboot, deleting and recreating the default machine resolves the issue.

[2016-01-27 16:35] rafabene commented on #2742
+1

[2016-01-27 16:36] rafabene commented on #496
+1 At this moment I couldn't setup a docker-swarm cluster with docker-machine because the hosts seems to not be able to talk to each other. This proposal should fix it

[2016-01-27 16:39] felipesabino commented on #2240
@nathanleclaire @seregasheypak

I just had the same problem with an almost clean OS X install, where the only thing copied from my old mac was my `~/.ssh` folder.

After I removed it, everything worked as expected. I did not try tweaking my `~/.ssh/config` params to know what exactly caused the issue, but based on my previous log showing `debug1: /etc/ssh_config line 20: Applying options for *` I

[2016-01-27 17:24] dmp42 commented on #2664
These are certainly valid points.
Nevertheless, I suggest you install the codecov chrome extension and give it a try.

Ability to see uncovered sections from inside the github UI, browsing files, is a real plus (and not a carrot :)):

https://github.com/docker/distribution/blob/master/errors.go

LMKWYT

[2016-01-27 18:14] dgageot commented on #2945
@timotei Could you help use find out how to better detect if hyper-v is installed but not activated.
We currently rely on `vmms.exe` being in the path. It's obviously too aggressive.
I'll try to find a better way but we could use your help.

[2016-01-27 18:27] nathanleclaire commented on #2934
Yep -- we can look into that and if you'd like a workaround for now you can install "git bash" and that should include `ssh`.

[2016-01-27 19:44] thenayr commented on #2661
FWIW, I just tested the 0.6.0 rc1 release and this appears to be fixed now.

[2016-01-27 21:01] aliok commented on #1872
Taken from https://github.com/docker/docker/issues/9118 :

I made it (doing `docker login https://the-domain:5043` on my Mac) working by using the `--insecure-registry` option. In Docker daemon machine I had to append following to `/var/lib/boot2docker/profile`

    EXTRA_ARGS="$EXTRA_ARGS --insecure-registry https://the-domain:5043"

Unlike suggested by Docker daemon, it didn't work without `http

[2016-01-27 21:32] gimoh opened #2947 "env --shell no longer defaults to sh/bash"
Even though --help still says default for shell is sh/bash it is no longer the case, instead (if $SHELL isn't set) the command exits with error "Unknown shell".  This seems to have changed around e13e2b61c6e9a80c3e04815570b48be06ea0b344

[2016-01-27 21:40] formerlyKurt commented on #2686
Thanks for the information, Nathan.  I will say that it is going to be hard to have to modify the `/etc/hosts` file each time the host VM is restarted.  Now I'm wondering whether there is a way to override the docker-machine start/restart script to include automatically scripting these modifications.  Good idea or bad one?

Is this the same for any custom certs that we have?  Ideally, I would like

[2016-01-27 21:44] nathanleclaire commented on #2686
Unfortunately there is no way to do this in Machine itself (without modification) today AFAIK but you could potentially wrap machine start and restart in a little script / alias if the need is strong.

Take a look at https://github.com/boot2docker/boot2docker#installing-secure-registry-certificates.  B2D accounts for this and you should be able to persist certificates in the VM if installed correc

[2016-01-27 21:58] timotei commented on #2945
Do you want something that doesn't require elevated permissions?

A first idea would be to parse the ouput of: `bcdedit /get {current}` and check what value `hypervisorlaunchtype` has (auto = enabled, off or key missing  = disabled)

[2016-01-27 22:13] formerlyKurt commented on #2686
Thanks, Nathan!  The boot2docker link looks interesting. I'll play around with B2D (in the next day or so) to see whether it solves the problem.

[2016-01-28 02:48] JeNeSuisPasDave commented on #2934
Thanks.

And I'll try Git Bash ... I have Git installed a different way so I can use it from Powershell scripts, but I can try Git Bash as an experiment.

[2016-01-28 03:36] nathanleclaire commented on #1444
@fsoppelsa Not actively being worked on, but happy to take PRs.

Would be great to see some suggestions for developing against the OpenStack driver as well, I am not too familiar with it.

[2016-01-28 03:37] nathanleclaire commented on #1738
Thanks @fsoppelsa !

[2016-01-28 03:37] #1738 closed

[2016-01-28 04:23] ahmetalpbalkan opened #2948 "log.Debug arguments appear on the next log message"
I am passing some object to my `log.Debug` call and it appears like this (see the first two lines):

[code]

what I was expecting is:

[code]

I tend to think there's some race in the libmachine/log package causing this.

[2016-01-28 07:09] marcellodesales commented on #2667
#2628 I got this fixed and some users would like to get this to the team's attention

[2016-01-28 07:26] jeanlaurent commented on #2947
Just for reference what shell/so are you using ?

[2016-01-28 07:57] particle4dev commented on #2740
i have same issues, is there any solution that i don't have to delete the machine because i use it in production.

[2016-01-28 08:00] dgageot commented on #2948
Hi @ahmetalpbalkan Can you share the code you used to log?

[2016-01-28 08:26] patrikerdes opened #2949 "docker-machine rm fails to remove a machine when the virtualbox machine is in state stopped"
`docker-machine rm machine` fails when `machine` is a virtualbox machine in stopped state.

Steps to reproduce:
[code]

Build: `0.6.0-rc2-dev, build 36aed62`

This bug does not exist in v0.5.6 or v0.6.0-rc1

[2016-01-28 08:33] patrikerdes commented on #2949
I believe this was introduced by 2874

[2016-01-28 09:00] dgageot commented on #2949
Thanks @patrikerdes, I'm on it!

[2016-01-28 09:01] fuse opened #2950 "docker-machine use"
What about having a use command, in charge of doing the eval part ?

Ex:  `docker-machine use awesome-env`

To me it will make more sense, allow easy completion plugin etc…

[2016-01-28 09:03] dgageot commented on #2950
Hi @fuse, this cannot be done easily because the whole thing is done through env variables and no bash process can change the env variables of its parent process.

However, we provide a wrapper that you can use to achieve this behaviour in `bash`: `contrib/completion/bash/docker-machine-wrapper.bash`

[2016-01-28 09:06] patrikerdes commented on #2949
Ok, great. :+1:

[2016-01-28 09:51] dgageot commented on #2664
I can do that in IntelliJ or Atom.
@docker/machine-maintainers WDYT?
I'm for total removal ;-)

[2016-01-28 09:56] fuse commented on #2950
Thanks for your reply I'll have a look to use it with zsh.

[2016-01-28 10:03] #2949 closed

[2016-01-28 10:17] #2950 closed

[2016-01-28 10:20] ahmetalpbalkan commented on #2948
@dgageot

It's basically

log.debug("msg1", map1)
Log.Debug("msg2, map2)

And it prints:

DBG | msg1
DBG | %!(EXTRA map1) msg2 map2

I'm mobile right now but that's the basic idea. For maps I defined my own type amd overriden String() for better map printing.

[2016-01-28 10:38] dideler commented on #2879
Running into the same issue as described in https://github.com/docker/machine/issues/2879#issuecomment-173027837.

Output of `docker-machine ls`
[code]

Docker version 1.9.1, build a34a1d5
docker-machine version 0.5.6, build 61388e9
docker-compose version 1.5.2, build 7240ff3

Installed with DockerToolbox-1.9.1i.pkg

Will try recreating the default machine and update this comment.

[2016-01-28 13:05] caiofbpa commented on #2857
The problem with the gist is that we have the machine name (in this case `default`) hardcoded into the property list. I wondered if there could be a startup command like `docker-machine startup` that the launchd could call and then the set of machines to be started could be configured somewhere more accessible (config file or via docker-machine CLI itself). What do you think?

P.S.: I'll be workin

[2016-01-28 15:10] Pmonnaie commented on #1718
+1 on some kind of save
I'm on a setup where I need to connect to a local repository which is unsecured. I need to add an extra argument "insecure-registry" to the boot2docker profile each time I restart the VM. I figure this goes for ANY change to the boot2docker profile installation.

[2016-01-28 15:21] marsmensch commented on #2147
I had to run this for v1.10.0-rc2 / de3bb7a (OS X 10.10.5):
`
docker-machine create -d=virtualbox -virtualbox-boot2docker-url https://github.com/tianon/boot2docker-legacy/releases/download/v1.10.0-rc2/boot2docker.iso docker
`

[2016-01-28 16:44] #2945 closed

[2016-01-28 17:23] savagegus commented on #2810
:+1:

[2016-01-28 17:26] #2029 closed

[2016-01-28 18:34] dgageot commented on #2907
For context: http://ashleypoole.co.uk/2016/docker-containers-windows-server-2016-guide/

[2016-01-28 19:04] ahmetalpbalkan commented on #2948
I must say I'm running on top of master. This was not happening with the old logging model back in late November.

[2016-01-28 19:10] dgageot commented on #2948
@ahmetalpbalkan Could you share the current version of this new driver? That'd great!

[2016-01-28 19:19] nathanleclaire commented on #2664
I'm in agreement with David.  I don't think the code coverage metric gets looked at very much.  In my experience the only way to ensure unit tests are added for PRs has been for the maintainers to be strict about requiring them before merge.

[2016-01-28 19:30] dgageot commented on #2664
![preview](https://cloud.githubusercontent.com/assets/153495/12656325/f4a5bc94-c5fd-11e5-981b-a86b64fc0c19.jpg)

[2016-01-28 19:31] dmp42 commented on #2664
How much?

How so? Everything related to coverage is isolated in its own file, and most of it is for local use.

codecov appears to be more reliable than coveralls. Nevertheless, it should not fail the build if it fails - should be pretty easy to do that, right?

Sure, *we* don't need veggies. But vegetarian people will ask questions like: "show me code coverage trend on machine" :)

[2016-01-28 19:55] dgageot commented on #2664
I won't fight for it. I'll just yell on you each time it fails

[2016-01-28 19:56] dmp42 commented on #2664
@dgageot I can deal with that :-)

[2016-01-28 20:00] dgageot commented on #2664
Or I will remove it and see if somebody complains ;-)

[2016-01-28 20:07] nathanleclaire commented on #2664
I just don't think code coverage is a good metric for code quality, so I'd argue that even a little extra complexity or hassle is not worth it.  Consider, for instance, that probably 5-10% of the Machine source code is what gets executed 95% of the time.  We could increase code coverage by 25-50%, but that might only affect <1% of Machine users.

[2016-01-28 20:09] nathanleclaire commented on #2947
Will look into it -- thanks for the report.

[2016-01-28 20:12] fsoppelsa commented on #1444
@nathanleclaire seems the PR is abandoned.

I am in favor to add this to drivers/openstack, but it's not clear which one of the networks will be the one where docker-machine will communicate. From the code I see that a list of networks is loaded, but I don't understand which one will become default. I would like to hear from @robertjustjones

[2016-01-28 20:26] dmp42 commented on #2664
I don't think anyone suggested that.

[2016-01-28 20:34] nathanleclaire commented on #2664
I guess I've misunderstood then.  Why should we monitor code coverage, if not to ensure code / program quality?

[2016-01-28 20:35] #2947 closed

[2016-01-28 20:53] nathanleclaire commented on #2840
I'm running into this issue (or a similar one) as well on the RC1.  Looks like the created Swarm containers don't have any ports forwarded.

[code]

[2016-01-28 21:12] ahmetalpbalkan commented on #2948
@dgageot you can find it here but because I haven't set up auth you can't use it I guess. :) https://github.com/ahmetalpbalkan/machine/tree/azure-new oh you can't compile it either, I hotfixed many things in azure-sdk-for-go until the next code-generation for that happens and I haven't updated godeps yet.

Anyways the log line is here: https://github.com/ahmetalpbalkan/machine/blob/920500474f16ae8

[2016-01-28 22:48] ahmetalpbalkan commented on #2948
ok this was totally a debug vs debugf mistake on my end.

[2016-01-28 22:48] #2948 closed

[2016-01-28 22:53] robertjustjones commented on #1444
I no longer have access to the environment to test against.  My main environment was Rackspace then. The idea was that (outside docker-machine) a machine could be set up with network interfaces for Public/eth0, Rackspace/Private/eth1 and Custom/Private/eth2.  The new config switches implemented in the PR enable docker-machine to do the same. I don't know but suspect that the first interface would

[2016-01-28 23:19] nathanleclaire commented on #2740
@particle4dev What's the (sanitized output -- make sure not no API keys are present) of `docker-machine inspect mcn`?

[2016-01-28 23:23] nathanleclaire commented on #1718
`/var/lib/boot2docker/profile`, which is where you should put such settings, will persist between reboots.

[2016-01-28 23:36] dweomer commented on #1821
Hi @nathanleclaire,

Given the terseness here I imagine you had something specific in mind and jotted this down so as to not forget. Can you elaborate on what logs you were wanting to see from what I assume is a command that would look like `docker-machine logs my-machine-01`? Syslog, local provisioning/events, docker daemon?

[2016-01-28 23:38] nathanleclaire commented on #1821
@dweomer

Basically, `docker-machine logs myvm` would print the output of whatever would have been printed for any operation on the machine if you were watching the `--debug` output.

I had also envisioned a `docker-machine daemon logs` command to print the output of the logs (as well as enable other daemon operations such as stop, start, and so on through the `daemon` subcommand).

[2016-01-28 23:51] dweomer commented on #1592
I've run into the same problem. The underlying issue is that an unmodified boot2docker installation is configured to get it's IP address via DHCP (RancherOS does as well). The only way I know to get around this currently is to create a custom ISO with the IP you want already embedded. This is obviously inelegant. Has there been any consideration of ad-hoc cloud-init support? Such would address thi

[2016-01-28 23:53] dweomer commented on #1592
Also, boot2docker and no formal ubuntu-trusty support? /sadface

[2016-01-29 00:05] dweomer commented on #2832
I like the idea of detecting of a local path is git-enabled and push/pulling if so (maybe requiring explicit participation in such via a --git switch).

I think the idea of pointing at a repository is more robust however but that would mean, as mentioned, that the use of absolute local paths in `config.json` would need to be revisited (which I would vote for in this or any other proposal).

[2016-01-29 00:06] dweomer commented on #1407
:+1:

[2016-01-29 00:14] #2840 closed

[2016-01-29 00:26] nathanleclaire commented on #2832
https://github.com/docker/machine/issues/2516 should take care of pathing issues in `config.json`.

[2016-01-29 00:35] nathanleclaire opened #2959 "Release script uploads binaries with OS capitalized"
@dgageot @jeanlaurent FYI

I haven't been able to debug it yet but the uploaded binaries (and in the template) for this RC, the names look like `docker-machine_Darwin-amd64` (note that the OS is capitalized).  This is violating our previous convention of all lowercase, so we probably should fix it.

[2016-01-29 02:58] particle4dev commented on #2740
@nathanleclaire Here the output. (xxx is the field that contains sensitive info :) )
[code]
[code]
The output when i try to log into machine:
[code]
The id_rsa file is still exists when i check

[2016-01-29 04:20] tonysickpony opened #2962 "swarm flag for active commond"
I know `docker-machine ls` can reflect whether or not active machine is a docker swarm with the nice `*(swarm)` indicator. But I find it difficult to tell if my environment is point to the swarm or the master node of a swarm by `docker-machine active`. I wonder would it be necessary to have something like:
[code]

[2016-01-29 05:30] dgageot commented on #2959
This is to mimic the other projects like compose. So not a bug to me

[2016-01-29 05:59] dgageot commented on #2891
Could it be related to https://github.com/docker/docker/issues/18180?

[2016-01-29 06:15] dgageot commented on #707
@smo921 Can you try with latest version of Docker Machine Please?

[2016-01-29 06:21] dgageot commented on #1710
This should be fixed with https://github.com/docker/machine/pull/2797

[2016-01-29 06:21] #1710 closed

[2016-01-29 06:22] dgageot commented on #1458
Hi @peter-leonov has you experienced similar issues with a more recent Docker Machine?

[2016-01-29 06:24] dgageot commented on #1529
@jamshid I'm going to close this issue since it impacts a very old version. Thank you for taking the time to fill an issue and of course fill free to reopen this ticket or fill a new one if the problem still occurs

[2016-01-29 06:24] #1529 closed

[2016-01-29 08:16] jeanlaurent commented on #2959
This was requested in #494, implemented in #2915.

If you look at [docker/docker](https://github.com/docker/docker/releases) and [docker/compose](https://github.com/docker/compose/releases) binary names, they have the same.

I don't like the fact that we have a capital in the middle of nowhere like this, but hey, everyone else @ Docker is doing that, so...

[2016-01-29 09:08] dgageot opened #2963 "Check that Hyper-v is enabled in PreCreateCheck"
Hyper-v can be installed by deactivated using:

[code]

It can be turned back on with:

[code]

We should check that it's actually on in `PreCreateCheck()`

[2016-01-29 09:11] Pmonnaie commented on #1718
@nathanleclaire Thanks for your quick reply. That is actually exactly what I'm doing. I'll give you some more details about my setup in case that helps you figure out what's going on. It's possible I'm just doing something really stupid, feel free to point it out. If you need more information, just let me know.

I only have the problem after starting the docker quickstart terminal when the VM is s

[2016-01-29 09:11] mjumelet commented on #1792
I created a simple script for which I added an alias in my ~/.profile (Tested only on OSX)

alias de=". ~/bin/de.sh"

https://gist.github.com/mjumelet/1cb8f0531243ee5733a6

Since it needs to modify /etc/hosts it will ask for your password

[2016-01-29 09:16] dgageot opened #2964 "Better error message when hyperv VM refuses to start"
Currently, when an Hyper-V VM refuses to start, because hyper-v is installed but not enabled for example, we get the classic:

[code]

We should give more information to the user

[2016-01-29 11:26] fsoppelsa commented on #1444
Thanks @robertjustjones do you think you will have a chance to rebase and resubmit the PR?

[2016-01-29 13:15] fsoppelsa commented on #2962
I see locally I have issues with `dm active` in 5.0 in presence of swarms, but with the master version, everything goes smoothly. @tonysickpony what version are you using?

[2016-01-29 13:15] fsoppelsa commented on #1821
I am +1000 for this

[2016-01-29 15:58] dkirrane commented on #2518
Same issue with Generic driver.
Is there an open bug that tracks the **Unable to query docker version: Unable to read TLS config** issue?
Is there a open feature request open to handle registering existing docker hosts with machine?

[2016-01-29 18:12] peter-leonov commented on #1458
Hi @dgageot, I really do not remember how this issue has gone. Additional memory? Re-provisioning till it worked? Daemon update? Can't remember.

These days we just use the machines provided last summer without any issues. Docker daemon is a pretty stable piece of software, I should add :)

[2016-01-29 18:26] dgageot commented on #1458
@peter-edge Do you think we can close the issue?

[2016-01-29 19:09] peter-edge commented on #1458
@peter-leonov (not me :) )

[2016-01-29 19:37] dgageot commented on #1458
Sorry wrong Peter!!

[2016-01-29 20:26] peter-leonov commented on #1458
Sure you can. I guess.

[2016-01-29 20:40] #1458 closed

[2016-01-29 21:44] nathanleclaire commented on #2959
Hm OK, I hadn't realized it was intentional.  Thanks!

[2016-01-29 21:44] #2959 closed

[2016-01-29 21:45] nathanleclaire commented on #2959
I'll update the binary names to be the correct format

[2016-01-30 00:52] nathanleclaire commented on #2740
OK, there seems to be something that went sideways in a migration.  That bit above where it says `"StorePath": ""` in the `Driver` object, if you edit the `config.json` and change it to `/home/dir/.docker/machine`, does it start working?

[2016-01-30 01:22] nathanleclaire opened #2966 "Machine 0.6.0-rc2 doesn't work with boot2docker 1.10-rc2"
cc @docker/machine-maintainers

e.g.

[code]
It seems to timeout on the daemon listening step, because the netstat shows `2375` instead of `2376`.  I'm not sure where the change happened that causes this issue but it needs to be fixed before release.

Note this (healthy -- from 1.9.1 ISO) output which is where DM 0.6.0-rc2 is failing due to not having `2376` in the output:

[code]

Will post more

[2016-01-30 01:38] anentropic commented on #2890
bit of a downer but hopefully it will be fixed soon now the source of problem has been identified

I'm trying to set up my first swarm. I successfully got the consul droplet and then the swarm master droplet running first time.  Trying to get a second node `oceania-1` into the swarm failed with error as above.

If I do `docker info` it shows `Nodes: 1` (just the swarm master)

If I try again to cr

[2016-01-30 01:39] anentropic commented on #2890
never mind, obviously I go to the DO control panel and destroy the droplet from there

[2016-01-30 02:05] nathanleclaire commented on #2890
Hi all, thanks for the report(s).

If you look a little further in the code, you can see that we _do_ wait for an SSH command to run successfully (`exit 0`) before we attempt to go ahead with running more SSH commands: https://github.com/docker/machine/blob/b6be1b79bcb2bf7ef6f74031ed5da3e72b882b4b/libmachine/libmachine.go#L166 .  Once that runs, it's assumed to be safe to go ahead with provisionin

[2016-01-30 02:30] nathanleclaire commented on #2966
Yeah so basically this is blocking me from releasing a new Toolbox RC.

Currently I'm compiling `boot2docker.iso` to try and see which patch introduced the breaking change.  My guess is that either https://github.com/boot2docker/boot2docker/commit/088c11aec2dd1f935ed43903a947af562d87a536 or https://github.com/boot2docker/boot2docker/commit/d893bae17c4bde29ea2b4d92db9d77a3cf5b6f2b is responsible.

[2016-01-30 02:45] nathanleclaire commented on #2890
@anentropic Your local Machine "copy" (configuration) still exists, so you need to remove it in Machineland as well.

[2016-01-30 02:47] nathanleclaire commented on #1718
[code]

Hm, this shouldn't happen, and it's the reason why your config is re-setting.

[2016-01-30 02:48] nathanleclaire commented on #1718
Aw jeez -- https://github.com/docker/toolbox/blob/44307aea4ed2275c0d1054bda07a697e293ac89f/windows/start.sh#L37 should not be happening by default.

[2016-01-30 02:59] nathanleclaire commented on #2966
OK, getting some confusing results here.  Building `boot2docker/boot2docker` master I have not duped this bug so far, I can only dupe it with @tianon's ISO from boot2docker-legacy.

[2016-01-30 03:28] particle4dev commented on #2740
Works like a charm. Thank you so much :). It seems like when i open kitematic app, it overwrite config files.

[2016-01-30 03:45] nathanleclaire commented on #2740
You're welcome @particle4dev !  KM shouldn't re-write config files (especially for non-`default` machines) but it could potentially be a bug.

[2016-01-30 03:53] nathanleclaire commented on #2966
OK @tianon I'm going to need you to help with taking a look at this since I'm pretty confused.  Compiling from master on boot2docker/boot2docker and tianon/boot2docker-legacy gives me `boot2docker.iso` files that don't reproduce the bug (unless I'm mistaken, which is definitely possible).

The SHA256 of the RC2 iso is `1205837b9abba85530391b35864023ccc040e56993e92c08fb00cc6177ce3955`, but the comp

[2016-01-30 04:33] tianon commented on #2966
I can't test further right away, but I can tell you that my ISO was built with the following _after_ building the main b2d `Dockerfile`:
[code]

[2016-01-30 04:34] tianon commented on #2966
Using:
[code]

[2016-01-30 06:24] dgageot commented on #2966
I've tested with docker machine 0.6.0-rc2, 0.6.0-rc2 and 0.5.6. Same failure

[2016-01-30 10:14] anentropic commented on #2890
@nathanleclaire  ok thanks, yes, fixed that part by `docker-machine rm oceania-1`

[2016-01-30 14:54] zramsay commented on #2890
thanks for the clarification Nathan. Will report back with debug output/luck with `dm provision`.

[2016-01-30 17:22] alamaison commented on #2612
I'm encountering this issue also on Windows.  I use docker to run integration tests in parallel which works well except that the tests look ip the IP to connect to using `docker-machine ip default`.  Sometime this collides causing errors:

[code]

[2016-01-30 17:25] alamaison commented on #2612
Forgot to mention I'm using docker-machine 0.5.6

[2016-01-30 19:05] DazWilkin commented on #798
It still doesn't work for me.
[code]

Error:
[code]
I'm able to use these credentials to access vCloud Air using the browser-based app.

With:

    docker-machine.exe version 0.5.3, build 4d39a66

[2016-01-30 20:58] roocell commented on #1491
expanding on samkelleher's above - with a VirtualBox command (VBoxManage) to create the 3rd new bridged interface. I'm using dinghy which is a wrapper for docker-machine. just replace the dinghy commands with docker-machine. (my docker-machine name is 'dinghy')

[code]

[2016-01-30 22:55] frapposelli commented on #798
@DazWilkin are you using a Subscription account or On Demand? there's only support for the former right now.

[2016-01-30 23:16] DazWilkin commented on #798
@frapposelli Ah! OnDemand. Apologies!

[2016-01-30 23:41] davidkarlsen commented on #2858
Actually the problem was at one of my coworkers machine - and he resolved it by making sure ssh was in a path w/o whitespace. Everything works for me now except our psychotic VPN software which highjacks the ip routes to the machine and attempts to route that over vpn - which I fix by adding some delete route commands.

[2016-01-30 23:49] andrecp commented on #1221
I've updated my docker and now I can no longer connect to my old docker-machine instance. I get
[code]

the regeenrate-certs commands gives me

[code]

funny thing is that I can

[code]

without any problems..

any fixes?

[2016-01-31 02:47] roocell commented on #1709
@dcosson w.r.t scripting.

I just start the docker-machine then run the following 2 commands (one to kill the dhcp client, two to set a static ip).  I chose not to run 'docker restart' to trigger bootsync.sh. Perhaps that startup script doens't work? It's also possible the dhcp client was messing you up and resetting the eth1 IP on you.

[code]

[2016-01-31 04:23] moxiegirl commented on #2966
Just saw the same thing. I deleted everything `.docker` executables, Everything. Reinstalled from the rc1.  I ran in debug.   Trapped all the output:

[machine-fails.txt](https://github.com/docker/machine/files/111131/machine-fails.txt)

[2016-01-31 07:25] Kuzmin opened #2968 "docker-machine create with amazonec2 driver doesn't properly clean up on failure"
When trying to launch a Docker Swarm on Amazon, some of the instances will fail to come up. Docker properly detects this and gives me the full error output (usually rate limiting or issues with retrieving a gpg key, but that doesn't matter). However, it doesn't try to clean up after itself, and thus prevents me from retrying my failed command without first going onto AWS and cleaning up the keypai

[2016-01-31 09:06] globalcitizen commented on #2240
Same here on `10.11.3 (15D21)`, the suggestion by `nathanleclaire` (Dec 10, 2015) also worked for me.

Run:
[code]

[2016-01-31 10:59] silarsis opened #2969 "static mac address for hyper-v?"
Heya,

Wondering if the hyper-v setup can be modified to set the MAC address for new machines to be static instead of dynamic? While dynamic, every reboot gets a new MAC and thus a new IP - which means you have to run `docker-machine regenerate-certs` every time. Not a show-stopper, but an annoyance that looks like it should be solvable...?

[2016-01-31 15:11] haakobja opened #2970 "Docker machine should check if docker is installed before provisioning driver/generic fedora"
I recently tried to create a docker-machine of an existing machine running Fedora 23. Docker was installed on the machine before I tried to create a machine. The provisioning failed when using the generic driver, but when I removed the installed docker it worked.

I mean the provisioning should use and configure the docker that ships with the linux distro on the docker host.

[2016-01-31 16:02] greggles commented on #1928
@djui You said:
  Upgrading to docker-machine (1.5.1 from 1.5) solves the problem for me.

But I don't see that version on https://github.com/docker/machine/releases

Are you getting it from somewhere else? Did you maybe mean "0.5.1 from 0.5.0" ?

Thanks.

[2016-01-31 16:53] djui commented on #1928
@greggles sorry, yes, 0.5/0.5.1.

[2016-01-31 17:04] greggles commented on #1928
Thanks.

It's also the case that I can't find upgrade instructions. I guess it's the same as the installation instructions on https://github.com/docker/machine/releases/tag/v0.5.6 ?

Would be nice to say "Installation & Upgrades" as the header if that's the case.

[2016-01-31 17:36] zramsay commented on #2890
Here's a [gist](https://gist.github.com/zramsay/d8f1cdea398a216be02f) with `debug` on for the ssh client (changed manually in vendored code). [Here](https://gist.github.com/zramsay/e6de5ffcbb2aa14b3668) is sample code that leads to that output if `machines = []string{"eris-remote-dm-0", "eris-remote-dm-1", "eris-remote-dm-2"}`. (sample code from [this branch](https://github.com/eris-ltd/eris-cli/t

[2016-01-31 17:37] robertjustjones commented on #1444
@fsoppelsa I've rebased the code. Can you try it out from https://github.com/robertjustjones/machine.git from branch rackspace-net-switches ?  (It includes openstack)

[2016-01-31 18:01] anentropic opened #2971 "`docker-machine upgrade` should have option to install RC releases"
the default behaviour to install the latest stable release is obviously correct

it would be very handy to have an option to be able to install one of the newer [RC releases](https://github.com/docker/docker/releases) via docker-machine though

[2016-01-31 18:16] tassels commented on #2890
Unfortunately, I haven't been able to reproduce this behavior from my end this weekend, and as @nathanleclaire stated, since it is waiting for SSH, that shouldn't be the issue.

Could still be some weird interaction with cloudinit, which we're investigating from our end (but haven't been able to reproduce, either).

[2016-01-31 18:24] pandrew commented on #2971
Provide https://test.docker.com to --engine-install-url. That might work.

[2016-01-31 18:46] anentropic commented on #2971
`--engine-install-url` flag is not supported:

[code]

I tried in front of the `upgrade` command as well but same error

`Version: 0.6.0-rc2, build 816a470`

[2016-01-31 18:56] anentropic commented on #2971
not directly part of my feature request, but maybe someone who finds this can help me with my manual upgrade: http://serverfault.com/questions/753041/how-to-manually-upgrade-docker-version-on-a-docker-machine

[2016-01-31 19:00] anentropic commented on #2029
need a solution for Digital Ocean driver too, see above

[2016-01-31 19:09] zramsay commented on #2890
ok, there's definitely something wrong with my libmachine implementation...though that doesn't explain these errors with porcelain `docker-machine create ...`

[2016-01-31 23:01] zramsay commented on #2890
can confirm `docker-machine provision` helps, though it can sometimes take 2-3 tries.

[2016-01-31 23:29] dmitriz commented on #2147
`boot2docker` has been declared deprecated. Is this really the intended solution of the problem?

[2016-02-01 00:30] Kuzmin commented on #2968
For what it's worth, this is the GPG error I'm seeing on certain launches

[code]

Maybe this is a separate bug?

[2016-02-01 01:00] DazWilkin commented on #1916
The issue appears to be resolved but I don't understand why :-(

I'm able to  create a machine, docker-machine ssh and gcloud ssh into it without problem:

[code]

[2016-02-01 01:19] dgageot commented on #1916
Some would say magic?

[2016-02-01 01:21] dgageot commented on #1916
I changed the way ssh key metadata management is done. This might have an impact. I'll check further tomorrow to give you a better answer!

[2016-02-01 02:59] soriyath commented on #1718
I'd like it as well. I could synchronize system clock with this.

[2016-02-01 05:24] jimzucker commented on #2879
I am suddenly having the same issue:

➜  ~  docker-machine start default
Starting "default"...
(default) Waiting for an IP...
Too many retries waiting for SSH to be available.  Last error: Maximum number of retries (60) exceeded

Deleting the machine and trying to re-create it seemed to work, but it look some time:

➜  ~  docker-machine create -d virtualbox  default
Running pre-create checks...
Cr

[2016-02-01 05:31] formerlyKurt commented on #1792
+1

[2016-02-01 05:33] formerlyKurt commented on #2686
This issue #1792 is related.

[2016-02-01 06:39] tonysickpony commented on #2962
Sorry @fsoppelsa I think I haven't made myself clear. I am not experience any issues with `dm`. I just wonder would there be a use case, it is helpful to treat differently when docker daemon is pointed to a swarm or a master node using `docker-machine active`

and FYI I am using  0.6.0-rc2, build 816a470

[2016-02-01 06:51] dejames opened #2972 "Docker machine failing on Windows"
docker-machine fails to load with virtual-box as provider in Windows 7. Entire log on quick start terminal :

Starting "default"...
(default) Creating a new host-only adapter produced an error: C:\Program Files\O
racle\VirtualBox\VBoxManage.exe hostonlyif create failed:
(default) 0%...
(default) Progress state: E_FAIL
(default) VBoxManage.exe: error: Failed to create the host-only adapter
(default

[2016-02-01 06:57] superdump commented on #2147
docker-machine still uses the boot2docker ISO to build the VM, that's nothing unusual.

It seems like there are lots of people confirming the upgrade of the docker daemon on the server (VM) but this does not address the case where the docker daemon cannot be immediately upgraded. The only quick and half-sensible solution I have found so far is to just download an appropriate client binary from the

[2016-02-01 07:26] Pmonnaie commented on #1718
@nathanleclaire
I tried to comment out the line `yes | "${DOCKER_MACHINE}" regenerate-certs "${VM}"` in the shell script (start.sh) as you indicated in your previous comment and that seems to fix the problem. So for now that works as a workaround for me. I'll let you know should I run into any other problems as a consequence of commenting that.
Thanks!

[2016-02-01 09:11] popsuper1982 opened #2973 "support aliyun cloud driver ecs.console.aliyun.com"
aliyun cloud is a famous cloud provider that is widely used in China, but now there is no driver for it.

I plan to develop a aliyun cloud driver for docker-machine

[2016-02-01 09:48] narqo commented on #2046
According to [docker 1.10 rcX](https://github.com/docker/docker/releases/tag/v1.10.0-rc2) `DOCKER_API_VERSION` is supported in docker 1.10. It'd be great if docker-machine could use it so one dm client could properly manage hosts with different docker versions.

[2016-02-01 10:39] anentropic commented on #1518
Same problem here. I'm using Consul and Digital Ocean on Debian 8.

I thought it was maybe because of doing a manual upgrade of the machines to 1.10RC2, see my method and symptoms here:
http://serverfault.com/questions/753041/how-to-manually-upgrade-docker-version-on-a-docker-machine/753161#753161

...but it sounds like it's maybe this general issue with restarting machines.

`docker-machine ls` s

[2016-02-01 10:50] anentropic commented on #1518
To rejoin the swarm:

[code]

`docker info` now shows both nodes are in the swarm

[2016-02-01 11:36] felipesabino commented on #2240
@globalcitizen agreed that nobody should remove their SSH configuration to be able to set up Docker/VirtualBox, but as you can see through my previous interactions, what fixed your problem did not work for me - https://github.com/docker/machine/issues/2240#issuecomment-170876751 and https://github.com/docker/machine/issues/2240#issuecomment-171471410 - even with the last VirtualBox version and, as

[2016-02-01 13:46] linfan commented on #1771
+1, same issue. on Mac.
[code]

[2016-02-01 15:11] devcrust commented on #1221
Scenario: Existing and working server with Docker and TLS enabled.

Add existing server/machine to docker-machine:

`docker-machine --tls-ca-cert path/to/ca.pem  --tls-ca-key path/to/ca-key.pem --tls-client-cert path/to/client.pem --tls-client-key path/to/client-key.pem create --driver none --url tcp://HOST:2376 NAME`

In your user directory (~/.docker/machine/machines/NAME) add the same client ce

[2016-02-01 15:36] patrikerdes commented on #2966
When trying to find the difference between the rc1 iso and the rc2 iso I found this:

When SSH:ing into a machine and looking at the file `/etc/init.d/docker` line 9 is `: ${DOCKER_TLS:=auto}` in the rc1 release iso and `${DOCKER_TLS:=no}` in the rc2 iso. Having TLS disabled would explain why the port is 2375.

[code]

This change can not be seen when looking in the git repo. There the line is `:

[2016-02-01 15:57] 24RocketBoys commented on #2740
Hi @nathanleclaire , I am having a similar issue. Should I destroy and re-create the machine?

Error getting IP address: Something went wrong running an SSH command!
command : ip addr show dev eth1
err     : exit status 255
output  :
docker is configured to use the default machine with IP
For help getting started, check out the docs at https://docs.docker.com

Here is the output for
$ docker-machi

[2016-02-01 16:31] tianon commented on #2966
@patrikerdes oh bollocks, you're dead on -- this is my fault

@nathanleclaire if I build a fixed rc2, do you think I should just remove the broken one and replace it, or should I do some screwery with the version number?

[2016-02-01 16:32] tianon commented on #2966
Oh, there's a 4.1.17 too -- I'll bundle that in and probably just throw a `-1` on the version number since that's a bigger change than just a rebuild.

[2016-02-01 16:56] shouro commented on #1709
+1

[2016-02-01 18:25] gtirloni commented on #395
Does this issue being closed indicate Vmware Workstation will not be supported?

I understand #1831 might not be what is desired since the introduction of driver plugins, but I'm wondering about how to use my installation of Vmware Workstation 12 Pro with Docker on Windows 10.

[2016-02-01 18:38] tianon commented on #2966
Ok, give https://github.com/boot2docker/boot2docker/releases/tag/v1.10.0-rc2-b a go.

[2016-02-01 18:46] nathanleclaire commented on #2966
The new version is fixed for me.

[2016-02-01 19:11] nathanleclaire commented on #395
@gtirloni I'd recommend checking out @pecigonzalo's driver.

We won't be implementing it as a first-class driver in Machine.

[2016-02-01 19:11] nathanleclaire commented on #2740
If you can, that is the simplest solution.

[2016-02-01 19:37] nathanleclaire commented on #2973
Thanks, we recommend making a plugin for it and submitting a pull request to link to it in https://github.com/docker/machine/blob/master/docs/AVAILABLE_DRIVER_PLUGINS.md !

[2016-02-01 19:37] #2973 closed

[2016-02-01 19:39] nathanleclaire commented on #2890
@zramsay Hm, I would not count on the plumbing being 100% free of bugs when used directly, there's definitely still some issues and tight coupling to the CLI in some places.

[2016-02-01 19:50] nathanleclaire commented on #2147
As @superdump notes, the boot2docker CLI (invoked using `boot2docker` on the command line) has been deprecated, but the OS still remains.

[2016-02-01 20:03] dmitriz commented on #2147
Thanks @nathanleclaire and @superdump for clarifying!

I've managed (sadly only temporarily) to solve the problem by installing `dmv` and downgrading via `dmv use 1.8.1`. However, when pulling some images (but not all), `docker` keeps switching to `1.9.1` and nothing is shown under `docker images` any more (but it was before).

What is going on here? Is this a buggy/unstable version ?

[2016-02-01 20:54] #2966 closed

[2016-02-01 21:19] rhim opened #2975 "specifying multiple --engine-opt fails"
Hi Folks,

I am trying to specify both cluster-store and cluster-advertise as follows:

--engine-opt "cluster-store=consul://X.X.X.X:8500" –-engine-opt "cluster-advertise=eth0:2376"

However, this results in

Invalid command line. Found extra arguments [cluster-advertise=eth0:2376 vmfoo]

According to documentation, this should be allowed (also see an example in documentation):
--engine-opt [--eng

[2016-02-01 21:21] jmreicha commented on #1942
@nathanleclaire I tried iperf out but it looks like the speeds were a little bit all over the place?  I'm not really sure how to interpret the results but all the speeds I got from the different drivers seem to all at least be serviceable.

Default (PRO/1000 Desktop)

[code]

virto driver

[code]

PRO/1000 server driver

[code]

[2016-02-01 21:24] nathanleclaire commented on #1942
Nice job running some benchmarks @jmreicha -- I admit I am not 100% confident interpreting the results but at a quick glance it looks that they indicate little performance variation between the various NIC types, so I wonder what gives.  Maybe @willdady can chime in and explain a little bit further how to reproduce the results he was seeing.

[2016-02-01 21:46] 24RocketBoys commented on #2740
It worked!! awesome thanks @nathanleclaire

[2016-02-01 22:04] nathanleclaire commented on #2740
:+1:

[2016-02-01 22:21] tomxtobin opened #2976 "Generic driver fails to create machine if systemd drop-in file for Docker exists"
Running `docker-machine create` with the generic driver fails if Docker is already installed and a systemd drop-in file already exists for docker.

My existing server running Docker has the following systemd drop-in file at `/etc/systemd/system/docker.service.d/docker.conf`:
[code]

The following logs have machine names, hostnames, and IPs changed to protect the guilty. ;-)

First off, version:
[c

[2016-02-01 22:22] willdady commented on #1942
I don't really have much to add beyond [my original description](https://github.com/boot2docker/boot2docker/issues/1022#issuecomment-145849808):

I gave up trying to run prospector in docker around the time of my original post. Considering prospector reads lots of small files (.py files) maybe that might be an area worth investigating? Is there _significant_ performance differences in reading lots

[2016-02-01 22:22] rjsteinert opened #2977 "Put emphasis on the `--swarm` option in the documentation"
After hours of trying to figure out what was wrong... things slowly clicked how this is all tied together.... Which led me back to the documentation, this line in the [docs](https://docs.docker.com/swarm/install-w-machine/)...

[code]

I was thinking "wait a minute, if you have to point your environment to an instance of docker server and that server is running inside of a machine in a container w

[2016-02-01 22:41] tomxtobin opened #2978 "Generic driver fails to create machine if Docker is installed but stopped"
Following my experience with #2976, I stumbled upon another issue: if Docker is installed, but currently stopped, `docker-machine create` fails.

The following logs have machine names, hostnames, and IPs changed to protect the guilty. ;-)

I ran the following command on a machine with Docker installed, but stopped (via systemd):
[code]

I killed it here; otherwise it loops like that forever.

[2016-02-01 22:53] nathanleclaire commented on #1942
@willdady I guess I'm trying to establish if what you have as an issue is truly the performance of the network interface, or the performance of the filesystem.  If you're using NFS they might be related, but I'm curious to see a way of demonstrating the issue in a reproducible way.

[2016-02-01 23:06] willdady commented on #1942
@nathanleclaire it's very possible the problem is not specific to the network interface, sure. NFS related? Maybe? I think I tried using NFS as a means of solving this problem. All I know is when I switched adapters I got significantly different results.

[2016-02-02 00:46] rjsteinert commented on #2977
I'd be happy to make a documentation pull request. Can someone point me to where that resides? I see three repos related to docs but none of them return results when search for the article I linked to on docs.docker.com.

[2016-02-02 02:04] jamshid commented on #521
I think the desire to configure the DNS server used by the docker server itself lives on in https://github.com/docker/machine/issues/2234.

[2016-02-02 02:35] mikeatlas commented on #2234
@felixge [Boot2Docker FAQ suggests](https://github.com/boot2docker/boot2docker/blob/master/doc/FAQ.md#local-customisation-with-persistent-partition) that "if you need to tell the Docker daemon to use a specific DNS server, add the  following to_ ``/var/lib/boot2docker/profile``:
[code]

[2016-02-02 02:48] jamshid commented on #2820
I really want this capability too, is there a variable I can set in ~/.docker/machine/machines/MACHINE/config.json to override the docker port for when it's *not* 2376?

In my case I'm SSH-proxying multiple docker servers -- two ports each, docker 2376 and ssh 22. I need to do this because I do not have direct access to the docker servers when remote.

When I'm remote I can simply change IPAddress

[2016-02-02 06:09] felixge commented on #2234
@mikeatlas even better, I found that I can add a `dns` option to my docker-compose.yml.

Technically my VPN seems to configure multiple DNS servers on my host, but in practice using just hard-coding one of them seems to work. Which is good enough for me.

That being said, it'd be really nice if docker machine would automatically sync the DNS config between server and host for local development.

[2016-02-02 07:10] osavchenko commented on #792
Also, I try to run command:
[code]
and get i/o timeout
I'm trying to fix it with next command:
[code]
And got docker-machine message:

After this I clear unused host-only interfaces directly in VirtualBox after this regenerate certs again and all looks fine for now.

Software:

- Windows 10
- Virtualbox 5.0.14
- Docker-toolbox 1.9.1i

[2016-02-02 07:46] DieterVanmoortel commented on #1709
+1

[2016-02-02 08:46] rm-jamotion commented on #2650
Thanks for this tip @dustinblackman. This workaround is helping me a lot!
Is there any possibility to remove one of these machines after regenerating the swarm master?
It looks a bit confisung when the same server is listed twice with different names.

[2016-02-02 11:50] jjimjam commented on #2890
[failed.txt](https://github.com/docker/machine/files/113819/failed.txt)

Here's a log from running with the test binary and --debug flag.
Today, it's failing about 75% of the time.  I'm trying to create a small Digital Ocean machine in london.

When if works, the top of the log looks like this:  [succeeded.txt](https://github.com/docker/machine/files/113823/succeeded.txt).     This one gets "Conne

[2016-02-02 12:43] dustinblackman commented on #2650
@rm-jamotion Without using `docker-machine rm`? You can delete the machines folder in `~/.docker/machine/machines`.

[2016-02-02 16:22] imranraja85 commented on #1709
I had to slightly modify @roocell's snippet to kill the dhcp server immediately because I didn't want to reboot. Otherwise it would revert after a few minutes.

`
echo "kill `more /var/run/udhcpc.eth1.pid`\nifconfig eth1 192.168.1.11 netmask 255.255.255.0 broadcast 192.168.99.255 up" | docker-machine ssh <machine-name> sudo tee /var/lib/boot2docker/bootsync.sh > /dev/null
docker-machine ssh <machi

[2016-02-02 19:06] Ralle commented on #2253
It's not only directories but also filenames. I am writing code that takes files from a dump on a computer and indexes it in a database inside of Docker and I needed to make sure that file encodings worked but am unable to because of this issue. I can appreciate the complexity of the problem and wish there was some sort of solution. I thought Windows had a unicode API? Wouldn't files be saved with