[2015-02-23 11:30] parshap commented on #584
I'm getting the same error on v0.1.0-rc5:
[code]

[2015-02-23 11:32] bfirsh commented on #583
@sthulb Can't we add it to the description for the command?

[2015-02-23 14:31] andrea-spoldi commented on #581
thanks for reply @sthulb
I'm sure there are 100s and 100s of them, I just pointed out this particular one 'cause having an AWS VPC with public and private subnets is a very common scenario, but machine won't work in a such environment at all (at the moment ;) )

[2015-02-23 14:35] md5 commented on #581
It seems like having a --no-public-ip option and requiring the user to be
connected to their VPN should be enough.

[2015-02-23 14:45] ehazlett commented on #554
@andrewwatson commenting / sending PRs on this (https://github.com/docker/machine/pull/550) would help greatly -- this specifically will probably come after that as I think we need to get that fixed first (moving store, etc).  thanks!

[2015-02-23 14:49] ehazlett commented on #217
@bfirsh because before we were using the same ISO for both vmware and b2d.  I agree now that we have varying b2d ISOs in use we need to do this.

Yes, I'm aware of #580.  That will be fixed before release.

[2015-02-23 14:51] ehazlett commented on #582
+1

[2015-02-23 14:53] ehazlett commented on #580
This will need a refactor to store as it just looks for the non-hidden directory names.  I chose the `.client` so I can just not include hidden dirs but I'm more than happy to change it.

[2015-02-23 15:02] andrea-spoldi commented on #581
@md5 for sure yes

[2015-02-23 15:05] ehazlett commented on #445
Closing as #559 was merged.

[2015-02-23 15:05] #445 closed

[2015-02-23 15:07] ehazlett commented on #581
@andrea-spoldi we would still need some form of specifying which IP address the instance has, correct?

[2015-02-23 15:10] andrea-spoldi commented on #581
@ehazlett well, that would be cool but not necessary mandatory; within VPC subnet (private) IP address are managed via DHCP; upon instance creation you might specify an address, otherwise a free random one is used from the subnet, so probably the IP can be retrieved via API after the instance is created and while it's being set up.

[2015-02-23 15:13] sthulb commented on #217
Can we define the behaviour?

I propose the following:
 1. ISOs are stored in `~/.docker/machine/images`
 1.  stored as <version>-<driver>.iso (this is because VMware's custom ISO).
 1. The latest version is symlinked as: latest-<driver>.iso
 1. We check for a new release every time we create a local machine.
   1. Download if required.
   1. Update latest iso symlink

[2015-02-23 15:13] ehazlett commented on #581
ah ok thanks

[2015-02-23 15:13] sthulb commented on #217
@ehazlett @bfirsh ^

[2015-02-23 15:14] ehazlett commented on #217
@sthulb i think the markdown parsing is eating your vars

[2015-02-23 15:14] sthulb commented on #217
Better :)

[2015-02-23 15:16] ehazlett commented on #217
@sthulb what happens when the machine is created?  I think we should also prefix them with `b2d` or something in case we change the mini OS in the future.

[2015-02-23 15:18] sthulb commented on #217
We resolve the symlink and use the "real" path in the driver store.

[2015-02-23 15:20] ehazlett commented on #217
@sthulb can you add a step 5 with that?  I want to make sure we don't stomp on any existing machine.

[2015-02-23 15:23] sthulb commented on #217
Done!

[2015-02-23 15:24] ehazlett commented on #584
is your VPC configured to have public IPs?

[2015-02-23 15:25] ehazlett commented on #217
@sthulb sounds good to me -- thx!

[2015-02-23 15:28] ehazlett commented on #583
we can add it to the `Usage` as a long description.

[2015-02-23 15:39] ehazlett commented on #583
@bfirsh is #585 what you were looking for?

[2015-02-23 16:02] bfirsh opened #587 "Digital Ocean driver prints out a bunch of debugging output"
[code]

[2015-02-23 16:15] ehazlett commented on #587
When we moved to using the script to install this happened.  Looking.

[2015-02-23 16:38] ehazlett commented on #587
@bfirsh so here's why: when we moved to the `curl -sL get.docker.com ...` install process, apparently it outputs all of that to `stderr`.  I've tested this by using `cmd.Stderr = ioutil.Discard` and the debug is gone.  However, I'm not sure we want to toss out stderr.

The other way around would be to refactor the install to split out and do the same thing the script does only without using it (im

[2015-02-23 16:50] andrewwatson commented on #587
is it just a matter of adding curl options?

[2015-02-23 16:54] ehazlett commented on #587
@andrewwatson i don't think so.  we already use `-s` (silent) and the output isn't coming from `curl` it's coming from the script that is passed.

[2015-02-23 16:55] sthulb commented on #587
@ehazlett: the only thing that makes sense to me is to save the stderr contents to a buffer and then do a check for the docker bin afterwards, if it fails output the stderr buffer.

[2015-02-23 17:12] md5 commented on #581
I'll just add that it may be possible to programmatically detect whether the VPC that an instance is being attached to is public or private by looking at its route table using the EC2 API (`DescribeRouteTables` specifically). That may be preferable to a hokey `--no-public-ip` option if it can be done.

[2015-02-23 17:31] andrea-spoldi commented on #581
@md5 actually I think the VPC itself is private/public agnostic, is the subnet itself which might be private or public on route-table basis; so you should first lookup the provided subnet-id for its route-table, and then check the routing table in order to understand if it uses a VPC internet-gw (hence is should be a public subnet) or another instance interface, which (the instance) act as softwar

[2015-02-23 17:40] md5 commented on #581
@andrea-spoldi Indeed. Thanks for clarifying.

[2015-02-23 20:22] ehazlett commented on #563
@nathanleclaire feel free to use (or not) my branch https://github.com/ehazlett/machine/tree/commands-with-multiple-machine-names where i started this.

thx

[2015-02-23 20:28] nathanleclaire commented on #563
I'm going to use that branch :+1:

[2015-02-23 20:31] ehazlett commented on #580
@sthulb is working on this one (and the issues in #217) (i can't manage teams)

[2015-02-23 22:01] #582 closed

[2015-02-23 22:04] nathanleclaire commented on #248
Ideally, machine should "tag" cloud instances that it creates with an identifier which indicates it was created by Docker machine.  I know Amazon supports such tagging functionality, but we may have to try and find a way to work around by setting other metadata such as name with a certain pattern to indicate that it was created by machine.

[2015-02-23 22:08] nathanleclaire opened #592 "[DigitalOcean driver] Fails to remove created droplets after CTRL+C on create"
I was creating some DO instances and the "Wait for SSH" bit was taking really long (possibly just straight-up freezing), so I hit `CTRL+C`.  I could see that they got created in the DO admin panel, so I'm not sure what the hangup was, but when I went to `docker-machine rm` the hosts they were still around and I just got a message saying:

[code]

The assumption is bad!  They were _not_ deleted alr

[2015-02-23 22:31] ehazlett commented on #592
Perhaps we need to `SaveConfig` earlier to get the creds, etc.

[2015-02-23 22:47] sthulb commented on #248
We can perhaps discover them, but how do we recover keys?

[2015-02-24 00:00] nathanleclaire commented on #248
We wouldn't, unfortunately.  Assuming something drastic like deleting `.docker` has happened, the machines would be in a "Disaster" state or similar and user would be allowed to perform basic actions like `Remove` but they would not be able to do anything that requires keys.

I think it kind of hints at needing a better way to replicate all the things we need to be present in `.docker` so that you

[2015-02-24 01:16] nathanleclaire opened #593 "[VirtualBox] Trying to start an already started machine message isn't helpful"
[code]

Let's be sure to at least tell the user "what went wrong" (the machine is already started).

[2015-02-24 06:45] SvenDowideit commented on #217
+1 to full versioning of the iso files - though checking every time i make a vm may be annoying when I'm offline, it will likely solve a tonne of support pain that we still have in b2d.

[2015-02-24 07:46] sthulb commented on #248
I like this idea, but we need to solve shared accounts.

For example, two users of the same AWS account, both with machine instances.

How do we deal with that?

[2015-02-24 07:56] SvenDowideit commented on #248
I'd suggest solving the ones we can solve first - mind you, I also suspect that if we're sharing AWS accounts, we want to know about each other's machines, and will want to add some docker daemon labels to communicate.

[2015-02-24 10:45] bfirsh commented on #580
@sthulb @ehazlett Are we going to land this before tomorrow? At this late stage, a quick fix might be more suitable.

[2015-02-24 10:48] #583 closed

[2015-02-24 10:55] Tebro commented on #248
For key "recovery": How about adding an option to generate a new key that gets associated with a particular machine? The user would of course have to install this new key manually, but there really is no good way around that without compromising security.

[2015-02-24 14:04] sthulb commented on #580
I'll submit a quick fix with the ISOs being stored in ~/.docker/machines/.images for now.

My next PR with the versioning, will correct it later.

[2015-02-24 14:31] ehazlett opened #596 "common local provider operations"
Things like downloading ISOs etc. should be moved out of the individual drivers.

[2015-02-24 14:32] #580 closed

[2015-02-24 14:43] ehazlett commented on #248
+1 to @Tebro for using existing keys -- this gets a little tricky with the various providers but would be a great benefit i think.  it would also help in the "recovery".

[2015-02-24 14:47] ehazlett commented on #593
submitted #597 for the fix -- ideally we will have a better logging solution for the providers so we can get more detailed logs around these types of errors but at least this will prevent the error when trying to start a running machine.

[2015-02-24 15:00] ehazlett opened #598 "Proposal: machine metadata"
This will enable common metadata to be used with machines and not require the driver to implement them.  Example, is `swarm` support.  Each driver must implement `SwarmXX` due to the way the driver architecture is today.  This will enable new functionality without requiring the driver to be updated.

Sample Metadata:
- Name
- Provider
- Region (`us-east-1a`, `us-central-1a`, `nyc3`)
- MachineType

[2015-02-24 15:44] ehazlett opened #600 "azure: cert error when creating machine"
Receive this:

[code]

[2015-02-24 15:48] ehazlett commented on #600
Perhaps a race condition on `GetIP`?

/cc @jeffmendoza

[2015-02-24 15:52] ehazlett commented on #600
Yeah looks like it -- a second create works fine.

[2015-02-24 18:10] timothyclifford commented on #584
From what I can see yes everything is configured.

[2015-02-24 19:55] #593 closed

[2015-02-24 19:56] ehazlett commented on #584
@timothyclifford @parshap sometimes it's a hiccup in the provider.  i've been creating ec2 instances today in us-east-1 without issue.  would you mind trying again?

[2015-02-24 20:01] #587 closed

[2015-02-24 21:19] parshap commented on #584
@ehazlett: I'm getting a different error today.

[code]

Is there a way to print out the full AWS API request/response headers and body?

[2015-02-24 21:45] parshap commented on #584
Yes. When I manually create an instance in the VPC I am able to SSH to it.

[2015-02-24 23:40] nathanleclaire opened #606 "[amazonec2] Race causes machine to think instance doesn't exist and bail in create"
I attempted a `docker-machine create -d amazonec2 foo` and got back an error:

[code]

OK... this seems to be a bug in machine, since the instance most assuredly _does_ exist (I can see that it got created in the admin panel).  `docker-machine rm -f` cleaned up my local instance but the cloud resources (key, instance) still exist.

Second (somewhat related) problem:  Lingering keys (like we got wi

[2015-02-25 00:00] nathanleclaire commented on #248
Although with some providers you might be hosed, with an API as robust as, say, Amazon's you can rotate SSH keys so those might be able to "auto-recover".

[2015-02-25 00:05] md5 commented on #248
@nathanleclaire I'm not so sure about that:

The linked doc talks about reattaching the EBS root volume on a different instance to modify the keys in the authorized_keys file of the appropriate user before reattaching it to the original instance. I think this is out of scope for `machine` to do (at least beyond documentation).

[2015-02-25 00:11] nathanleclaire commented on #248
Ah, yes, I mis-remembered.  Good callout @md5.  The key name is passed as a parameter when you run the instance, and it can't be modified once the instance has been created, so I think in that case we just have to bootstrap discovery well enough so that the user can at least delete the instance and associated resources using `docker-machine`.

[2015-02-25 01:13] nathanleclaire commented on #494
+1

[2015-02-25 01:31] #563 closed

[2015-02-25 01:39] ehazlett commented on #606
Yeah I would love auto-cleanup but it's a delicate operation.  I was bit by the existing keypair today as well.

[2015-02-25 01:42] ehazlett commented on #584
@parshap interesting -- the 500 leads me to believe that's on the Amazon side.  Do you happen to have another region configured in your environment or are you using us-east-1?  I believe @nathanleclaire had some amazon issues today too.

[2015-02-25 05:19] SvenDowideit commented on #600
I still get this issue - and when I create a second azure vm too.

[2015-02-25 06:02] SvenDowideit commented on #600
@ehazlett @jeffmendoza can we please re-open this?

[2015-02-25 08:17] sthulb commented on #606
I think if we interpret the errors from the API, we could clean up easier.

[2015-02-25 15:05] TMaddox commented on #581
This is also a problem when behind firewalls and proxying. The step for checking for SSH doesn't appear to honor proxy configs.

[2015-02-25 17:12] jeffdm opened #609 "[VirtualBox] Cannot re-create machine after deleting VM manually"
If you delete a VM manually in virtualbox machine can't create anymore VMs with the same name.

To reproduce:

**Step 1: Create VM**
[code]

**Step 2: Delete VM Manually via VirtualBox GUI**
Note that it doesn't matter whether you choose _Delete All Files_ or _Remove Only_ in the remove dialog.

![screen shot 2015-02-25 at 12 08 51 pm](https://cloud.githubusercontent.com/assets/251292/6375760/2b55

[2015-02-25 17:54] md5 commented on #581
@TMaddox `docker-machine` is SSH'ing by IP address as I understand it, so you'd have to have either a global `ProxyCommand` or something like `Host 10.*`.

[2015-02-25 18:06] jeffmendoza commented on #600
Let me get the error straight:

1. Machine creates the VM in Azure.
2. Machine queries Azure for the hostname, example: my-vm.cloudapp.net, however Machine is getting an empty string from the Azure driver.
3. Machine uses the hostname in the Common Name field to create the TLS certificates that are used for secure docker communication.
4. Machine sets up the certificates on the created host
5. Doc

[2015-02-25 18:58] TMaddox commented on #581
Sorry, I may be missing something. During the create process when it's waiting for the SSH server to come up, It looks like it's just doing a TCP ping to that port, not actually SSH'ing:

https://github.com/docker/machine/blob/4f5de31d3f623d5367a0dd76bba202b467852525/drivers/amazonec2/amazonec2.go#L281-L283

https://github.com/docker/machine/blob/master/ssh/ssh.go#L64-L76

I have the proxy configu

[2015-02-25 19:22] md5 commented on #581
@TMaddox nope, looks like I was missing something :+1:

[2015-02-25 19:42] bfirsh opened #612 "Links to binaries in install docs need filling in"

[2015-02-25 20:14] ehazlett commented on #609
You can remove the directory by forcing it -- i.e. `docker-machine rm -f dev`.

[2015-02-25 20:14] #609 closed

[2015-02-25 20:46] squillace commented on #600
confirmed repro here on ubuntu and mac. Same precise string.

[2015-02-25 20:51] jeffmendoza commented on #600
I'm slow, looks like it's already fixed.

[2015-02-25 21:47] ehazlett commented on #600
@jeffmendoza no actually it's not.  my fix didn't work for @SvenDowideit

[2015-02-25 21:47] ehazlett commented on #600
@jeffmendoza fwiw that sounds like what's happening

[2015-02-25 21:57] squillace commented on #600
i'm redoing right now, just to see, with rc5

[2015-02-25 22:20] ehazlett commented on #600
@jeffmendoza actually it should always have a name right?  after the PreCreate check we are simply prepending the MachineName to cloudapp.net, right?

[2015-02-25 22:40] jeffmendoza commented on #600
Yep: https://github.com/docker/machine/blob/master/drivers/azure/azure.go#L594
No actual call, the name is set on driver creation. I wonder how this could end up blank?

[2015-02-25 22:57] nathanleclaire commented on #479
I have, with a decent enough level of frequency to be considered worrisome, gotten that "Bad port '0'" error from VBox machines as well.

[2015-02-25 23:06] #612 closed

[2015-02-25 23:48] nathanleclaire commented on #536
Fixed by #604.  @ehazlett please close when you get a chance.

[2015-02-26 00:08] squillace commented on #600
This worked fine last week, but since I can't see the backward releases, I can't tell you which of the rcs worked, but I think it was rc3...

[2015-02-26 00:30] nathanleclaire opened #616 "Proposal: eliminate "active host""
In the original `docker hosts` implementation that eventually became Machine in its present state, the notion of "active host" was useful and easy to control, since all of the code was inside of Docker and hijacking the value of `-H`/`DOCKER_HOST` was quite easy to do.  Now that Machine's been split into a separate tool, however, what was once a useful abstraction has become a huge source of heada

[2015-02-26 01:11] Hokutosei opened #617 "GCE: SourceImage option"
Greetings,

does docker machine adds an option for source image for selecting a SourceImage now?, other drivers currently supports it. would be nice to have an option for gce also. thanks!

[2015-02-26 02:03] #600 closed

[2015-02-26 03:32] ehazlett commented on #616
yes, +1 :)

[2015-02-26 03:49] squillace commented on #600
sorry for the delay: fix worked nicely, thank you. Both on mac and ubuntu, in West US and West Europe, and propped apps happily. Nice work.

[2015-02-26 04:20] ehazlett commented on #600
@squillace awesome -- thx for the help!

[2015-02-26 06:40] dsebastien commented on #529
There's actually a variable for the user's home folder: %USERPROFILE%.

[2015-02-26 07:39] sthulb commented on #616
+1. I've always disliked it.

[2015-02-26 08:26] Hokutosei commented on #617
tried hacking and playing machine this afternoon in my dev machine, seems well but, i hit an error when trying to use coreos.
[code]

[2015-02-26 08:47] bfirsh commented on #616
I would like us to consider https://github.com/docker/machine/issues/16 before we remove active hosts. `$(docker-machine env)` is a hack, not a permanent solution.

[2015-02-26 15:28] #549 closed

[2015-02-26 15:36] ehazlett commented on #617
It could be added.  Right now, we only deploy to the latest LTS of Ubuntu supported on the provider (except for local drivers which use b2d).  We are planning to add cloudinit support which would enable a lot more options as far as base image / setup.

[2015-02-26 15:36] ehazlett commented on #536
Closing as #604 is merged.

[2015-02-26 15:36] #536 closed

[2015-02-26 15:51] ehazlett commented on #11
Closing due to inactivity.  Please re-open if you continue to have issues.

[2015-02-26 15:51] #11 closed

[2015-02-26 15:52] andrewwatson opened #629 "Proposed: save public and private IP of ec2 instances in config.json"
to make it possible to use "machine inspect" to get the private IP it would be helpful if it was saved in config.json.  Some systems like consul need to be configured to advertise the private IP and join gossip pools on the private IP space so this would make it easier to script the creation of a consul cluster created with machine.

[2015-02-26 15:56] andrewwatson commented on #629
Also, this could address #581 by making the IPAddress field be the private address if there was no public one.

I propose that we augment config.json to look like this:
[code]

[2015-02-26 16:03] ehazlett commented on #24
I think we could do port forwarding but perhaps this is an area for a plugin?  Machine already gives the host only network to avoid the port forwarding issues.  Maybe a plugin would be able to expose it?

[2015-02-26 16:05] ehazlett commented on #46
+1 to @johngossman -- maybe something like `machine health staging` that would report all of those -- daemon status, cloud service, etc.

[2015-02-26 16:06] ehazlett commented on #80
Closing as we no longer use identity and have separate issues for the b2d compatibility for vmw.

[2015-02-26 16:06] #80 closed

[2015-02-26 16:09] ehazlett commented on #91
As @nathanleclaire mentioned, this would be available from a machine server API (which will offer both a "standalone" mode where the daemon and cli work on the same host and "remote" where the local is just the client).  Closing as machine server is on the roadmap.

[2015-02-26 16:09] #91 closed

[2015-02-26 16:12] ehazlett commented on #130
I think we want to figure out how we distribute machine.  Eventually we want to have them bundled but I'm not sure if we want to have a single binary from brew.

@bfirsh thoughts?

[2015-02-26 16:13] ehazlett commented on #180
This will be part of a "b2d migration path" doc.  I will rebase this to get up to date with the latest vbox driver.

[2015-02-26 16:14] ehazlett commented on #220
Closing as #589 fixes.

[2015-02-26 16:14] #220 closed

[2015-02-26 16:16] ehazlett commented on #226
I don't think we will implement this at this time.  This could cause inconsistent states if the spot instance is terminated as machine expects them to be long running.

[2015-02-26 16:17] ehazlett commented on #230
+1 to @ahmetalpbalkan

[2015-02-26 16:17] ehazlett commented on #237
Closing due to inactivity.  Please re-open if the issue persists.

[2015-02-26 16:17] #237 closed

[2015-02-26 16:18] ehazlett commented on #242
@DanLipsitt could you try the latest release (0.1.0) and see if a fresh machine still has the issue.  Thanks

[2015-02-26 16:19] ehazlett commented on #244
Closing as this will be fixed in #46 slated for 0.2.0.

[2015-02-26 16:19] #244 closed

[2015-02-26 16:20] ehazlett commented on #379
Closing as this was fixed in #591.

[2015-02-26 16:20] #379 closed

[2015-02-26 16:21] stonevil opened #630 "docker machine command create vmwarefusion broken"
VMware Fusion 7.1.1

After command create -d vmwarefusion dev -D
VMware VM created and started.
But cannot boot. Boot2Docker image downloaded and attached to the VMware VM configuration but not enabled.

Check attached screenshot

![1](https://cloud.githubusercontent.com/assets/129196/6395891/d933d8f6-bde3-11e4-8565-780e2f448c8d.png)

**DEBUG LOG**
INFO[0126] Creating VM...
VixDiskLib: Invalid con

[2015-02-26 16:22] ehazlett commented on #382
Closing as this is on the platform side and the user should be aware (just as with other files).

[2015-02-26 16:22] #382 closed

[2015-02-26 16:24] ehazlett commented on #386
Closing as this will be handled in #550 / #553.  Noted in #550.

[2015-02-26 16:24] #386 closed

[2015-02-26 16:25] ehazlett commented on #396
We state the usage in the docs and as @sthulb said, this is part of an upstream cli lib.  Closing.

[2015-02-26 16:25] #396 closed

[2015-02-26 16:25] ehazlett commented on #405
Thanks.  Look forward to the PR!

[2015-02-26 16:25] #405 closed

[2015-02-26 16:26] ehazlett commented on #407
@tonyhb any update on this?

[2015-02-26 16:27] ehazlett commented on #415
You must have admin privs as machine needs the host only networking in order for b2d to work.  Sorry!

[2015-02-26 16:27] #415 closed

[2015-02-26 16:28] rickard-von-essen commented on #405
See #436

[2015-02-26 16:28] ehazlett commented on #463
We should handle this (standardized logging) as part of the refactor in #553.

[2015-02-26 16:32] ehazlett commented on #476
@TrumanLing Thanks for your interest.  If you have concerns about security, please send to support@docker.com.  I'm also not the one to give an official opinion on the trend of container tech - I just want to build the best things we can and hopefully people find them useful :)

[2015-02-26 16:32] #476 closed

[2015-02-26 16:32] ehazlett commented on #478
Closing as a duplicate of #130

[2015-02-26 16:32] #478 closed

[2015-02-26 16:33] ehazlett commented on #489
We should make this part of the refactor in #553.  Referencing there and closing this one.  Thanks!

[2015-02-26 16:35] ehazlett commented on #491
Should we vendor a set of root CA certs like Swarm does?  These could be updated periodically.

[2015-02-26 16:38] ehazlett commented on #500
This should be part of the #553 refactor.  We also should include a guide / policy on what driver maintainers need to do to create / maintain their drivers.

[2015-02-26 16:40] ehazlett commented on #512
@jeffmendoza any ideas here?

[2015-02-26 16:41] ehazlett commented on #531
Closing as we cannot seem to reproduce.  My suspicion is that the environment variables are getting mixed for the boot2docker VM and the machine instance.  I would recommend to check your `.bashrc` etc for anything that may be setting them.

[2015-02-26 16:44] ehazlett commented on #537
@razic the `--url` simply adds an existing host to the machine store.  however, i don't particular like it because it doesn't do anything with creds, certs, etc.  I would rather use the Generic Driver (#406) which imports the ssh key and could setup the auth.

[2015-02-26 16:47] ehazlett commented on #581
So just to clarify, this is because the instance is private and it's trying to connect to the private IP?  I like @md5 suggestion of the `--no-public-ip` option.  Are we safe to ensure the user has a VPN connected?  I think that would be OK.

[2015-02-26 16:49] ehazlett commented on #629
+1

[2015-02-26 16:51] ehazlett commented on #630
Can you re-run with `docker-machine -D create -d vmwarefusion dev` and post the output?

[2015-02-26 17:02] stonevil commented on #630
~ ❯ docker-machine -D create -d vmwarefusion dev
INFO[0000] Creating SSH key...
DEBU[0000] executing: /usr/bin/ssh-keygen ssh-keygen -t rsa -N  -f ~/.docker/storage/dev/id_rsa

Generating public/private rsa key pair.
Your identification has been saved in ~/.docker/storage/dev/id_rsa.
Your public key has been saved in ~/.docker/storage/dev/id_rsa.pub.
The key fingerprint is:
...:11:54 stone@stoned-

[2015-02-26 17:09] ehazlett commented on #405
awesome thx -- i thought i remembered seeing a PR come in for that ;)

[2015-02-26 17:13] ehazlett commented on #630
Hmm looks like it never gets an IP.  Could you try the following to restart the Fusion networking and see if that helps?

[code]

[2015-02-26 17:27] hairyhenderson commented on #491
@ehazlett: how would that solve this issue? I need to add CA certs that should never be out in the wild...

[2015-02-26 17:32] stonevil commented on #630
VM do not get any IP because never started!
ISO image not enabled in VMware Fusion configuration. No boot device.

![screen shot 2015-02-26 at 19 31 36](https://cloud.githubusercontent.com/assets/129196/6397548/20bb5514-bdee-11e4-8104-e3fdccfd2779.png)

[2015-02-26 17:36] atomi commented on #529
Is it safe to assume that volume mounting will never work on Windows using docker proxy to boot2docker and virtual box? It seems the best solution right now is to use an ubuntu vagrant box, mount your preferred folders and run all commands via a putty terminal. We may as well run docker machine on virtual box as well. Or wait for docker daemon to get ported to Windows which will be extremely surpr

[2015-02-26 17:43] thaJeztah commented on #91
SGTM

[2015-02-26 17:50] nchammas opened #632 "Confusing order-dependency in command-line arguments"
[code]

Here's an example:

[code]

Everything here worked as expected.

Now, if I move the `--vmwarefusion-memory-size` option to the end:

[code]

:open_mouth:

I was super confused at first, since this was the first invocation I actually tried.

I am sure there is some subtlety here, but can we make the options somehow position-independent?

Alternately, can we warn the user clearly if a specif

[2015-02-26 17:55] andrewwatson commented on #629
is it ok if only ec2 machines have this added structure or would that cause angst/confusion?

[2015-02-26 17:58] tonyhb commented on #407
Completely forgot about this and got back on internal projects, apologies. Rebasing master and adding documentation + tests now

[2015-02-26 18:04] ehazlett commented on #407
sounds good thanks!

On Thu, Feb 26, 2015 at 12:58 PM, Tony Holdstock-Brown <
notifications@github.com> wrote:

[2015-02-26 18:04] ehazlett commented on #491
@hairyhenderson sorry i was thinking of a different CA issue.  perhaps allowing the ability to pass a root CA cert for http or something.  Not sure, just trying to throw out some ideas :)

[2015-02-26 18:09] ehazlett commented on #630
What version of machine are you using?  The latest (released today)?

[2015-02-26 18:15] ehazlett commented on #529
@atomi that's the goal.  the shared folder support should work we just need to map it.

[2015-02-26 18:17] ehazlett commented on #630
Confirmed.  Working on a fix.

[2015-02-26 18:21] sthulb commented on #629
it's probably ok.

[2015-02-26 18:21] sthulb commented on #629
It just depends on how we make it visible.

[2015-02-26 18:22] sthulb commented on #491
That's probably the only way

[2015-02-26 18:24] ehazlett commented on #630
actually mine was a different error -- still digging

[2015-02-26 18:28] ehazlett commented on #630
Mine is working fine (my issue was a memory issue -- didn't have enough free mem to start the VM).

Could you try clearing `~/.docker/machine` or if you don't want to remove that, run:

[code]
To create that using a different store directory.  Note that you will not be able to use machine with the other directory as it will have different certs but this should at least show if there is a different

[2015-02-26 18:32] hairyhenderson commented on #491
From @databus23 's comments, it seems like this has to do with golang's cross-compilation on Linux... Maybe a fix would be to compile the OS X binary on OS X instead? I'll admit to having close-to-zero clue about golang, or how docker-machine gets built, so maybe it's not feasible...

[2015-02-26 18:36] tonyhb commented on #407
@ehazlett just adding tests... I need to make a password encrypted CA key file for an x509 certificate to test accurately.

I think the best way is to add a new function to generate these, but I'm not sure if generating password protected CA certificates is out of scope.

An alternative is adding some premade CA files to a test directory, but that feels wrong. What do you think?

[2015-02-26 18:40] tonyhb commented on #407
Maybe we could add a password string to `GenerateCACertificate` — if it's blank we create a non-password protected file.

That way, when a user creates a machine for the first time they can also password protect the CA files?

[2015-02-26 18:45] ehazlett commented on #491
@hairyhenderson Would be worth a test.  Would you mind trying this build: https://public.evanhazlett.com/docker-machine/test/docker-machine-f9278b99-darwin-amd64

Built using `godep go build` from OS X.

[2015-02-26 18:52] DanLipsitt commented on #242
Didn't work until I upgraded VirtualBox to the latest (4.3.22). It could have been just restarting VirtualBox that fixed it, but I'm not about to downgrade to find out.

[2015-02-26 18:54] DanLipsitt commented on #242
Pull request for new homebrew package: https://github.com/Homebrew/homebrew-devel-only/pull/14

[2015-02-26 18:57] ehazlett commented on #407
+1 for additional password option to `GenerateCACertificate`

[2015-02-26 19:03] ehazlett commented on #242
Cool -- yeah no way I would downgrade either ;)  Thx for the heads up -- I'll keep an eye out.

Thanks for the homebrew bump too!

[2015-02-26 19:03] #242 closed

[2015-02-26 19:06] hairyhenderson commented on #491
@ehazlett d'oh. Same error as before.

[2015-02-26 19:17] ehazlett commented on #491
hmm ok

[2015-02-26 19:19] ehazlett commented on #632
Yeah unfortunately this is a limitation of how we are using an upstream cli lib.   We could probably check for args after the machine name.

/cc @sthulb @nathanleclaire

[2015-02-26 19:21] tonyhb commented on #407
@ehazlett awesome, just added and tested that in PR #408

[2015-02-26 19:43] andrewwatson commented on #629
so this is where i'm at right now:

[code]

i think it's fine that PrivateIP is at the same level as IPAddress because it's EC2 specific but so is AccessKey!

[2015-02-26 19:48] md5 commented on #581
@ehazlett I think it's actually that the instance is on a subnet that is behind a NAT and thus not routable from the outside. The instance is getting a public IP, but it isn't able to use it.

[2015-02-26 19:56] databus23 commented on #491
Building natively on OS X definitely makes the problem go away. I tested it before and I just tried the linked binar above. It works for me.
I have our corporate CA certificate in the *System Keychain* and it does not work with cross-compiled binaries but does work whenever I compile natively.
@hairyhenderson Can you re-check where you have installed the self-signed certificate?

@ehazlett I don't

[2015-02-26 20:07] ehazlett commented on #581
ah ok thx

On Thu, Feb 26, 2015 at 2:48 PM, Mike Dillon <notifications@github.com>
wrote:

[2015-02-26 20:17] hairyhenderson commented on #491
@databus23 - I have my CAs in the System Keychain as well - i.e. `/Libraries/Keychains/System.keychain`

When I have a bit more time (probably not until Sunday or Monday evening, unfortunately), I can try to compile natively myself and see if that works differently...

[2015-02-26 20:25] andrewwatson opened #634 "Proposed: Allow users to encrypt EC2 Access and Secret keys in their configuration"
Some people (notably, me) aren't comfortable with sensitive information lurking in configuration files.  I'd like to make it possible for users to encrypt certain fields in their machine configurations such that they either have to specify a passphrase as a cli option or be prompted for it ever time they run a machine command.

[2015-02-26 20:42] sthulb commented on #634
It's definitely something we need to do!

[2015-02-26 20:44] sthulb commented on #491
This is an odd bug, we should trace it through and report it.

[2015-02-26 20:45] sthulb commented on #632
I'm writing my own CLI lib, perhaps we can use it a bit later.

[2015-02-26 20:53] michaelsbradleyjr opened #636 "Allow for nested machines"
**Use Case**
I've found it useful to provision a Digital Ocean server with ample resources using `docker-machine` (been an avid user since `0.0.2`!). Then I use `docker-compose` (previously `fig`) to create "inception" docker-in-docker contexts, to which I deploy my stacks. This provides a nice level of logical separation and I find it preferable to provisioning several smaller Digital Ocean serve

[2015-02-26 21:07] ehazlett commented on #491
@databus23 completely agree with using system certs.

[2015-02-26 21:13] databus23 commented on #491
@sthulb I believe this is a bug that can't be fixed easily. There just seems to be no way of getting a list of all trusted certificates without interfacing with the *Security Framework* c library provided by Apple. The command line utility `/usr/bin/security` provides no way of getting certificates and there trust settings from the System Keychain. I spend half day with it and gave up on it.

[2015-02-26 21:14] sthulb commented on #491
I guess we'll just have to make OS X builds on OS X from now on :)

[2015-02-26 21:21] ogrisel commented on #226
Spot instances are long running if you bid high enoough on an under-used datacenter. I don't see why this should be treated differently from a hardware or network failure.

[2015-02-26 21:37] sylvinus commented on #226
+1 to @ogrisel. If machine makes such assumptions about the uptime of the instances, it doesn't sound very reliable... Regular EC2 instances may be terminated by Amazon, disconnected from the network, have a kernel panic, so in this respect they are not different from Spot instances at all.

[2015-02-26 21:42] ogrisel commented on #226
Or terminated by a Chaos Monkey intentionally deployed on the cluster to make sure that the deployed services can all deal with frequent failures :)

[2015-02-26 21:49] moxiegirl opened #638 "Minor: TODO note exposed in docs"
http://docs.docker.com/machine/#drivers

[2015-02-26 21:57] sthulb commented on #226
I actually like this feature

[2015-02-26 21:58] pbering opened #639 "Error creating machine, can't find powershell.exe"
Hi,

I get this error when trying to create a new host:

D:\> docker-machine create --driver hyper-v dev
INFO[0000] Creating CA: C:\Users\pmb\.docker\machine\certs\ca.pem
INFO[0001] Creating client certificate: C:\Users\pmb\.docker\machine\certs\cert.pem
**ERRO[0001] Error creating machine: exec: "E:\\Users\\pmb\\Documents\\WindowsPowerShell\\Scripts\\powershell.exe": file does not exist**
WARN[00

[2015-02-26 22:07] nathanleclaire commented on #553
Before we jump headlong into implementing a server, perhaps a good intermediate step would be to create (and dogfood) some good Go bindings / library?  @ibuildthecloud expressed an interest in that for their use case and I think it would be good to get people going / using it right away until the API fully takes shape.

[2015-02-26 22:14] nathanleclaire commented on #632
Sorry to hear it was confusing @nchammas.  Perhaps there is a way we can update the documentation to make the syntax / argument order more clear?  I'd be -1 on parsing flags after arguments are specified - that's not a common pattern.  For instance, `docker run -it ubuntu bash -v /tmp/foo:/foo` won't work and IMO shouldn't.

Interestingly, I tried this on the console out of curiosity (`git grep -i

[2015-02-26 22:18] nathanleclaire commented on #489
On that note, @sthulb if you are interested please feel free to put together a list of flags that should be shared on that issue (don't worry about `n-instances`- I think that's a separate discussion entirely).  Some common ones that I am seeing are disk space, machine image, and memory, for instance.

[2015-02-26 22:19] nathanleclaire commented on #46
+1 @ehazlett like the sound of it

[2015-02-26 22:24] nchammas commented on #632
Throwing an error sounds like the right thing to do. Silently ignoring an option seems scary, because you'll think an option took when it didn't.

FWIW, the flow that led to my tacking on the option at the end was:

1. I started off with:

[code]

2. I realized I needed more memory so I killed this machine.
3. I then scrolled up through my shell history to my most recent `create` command and tacke

[2015-02-26 22:35] ehazlett commented on #553
That is what this is.

[2015-02-26 22:36] ehazlett commented on #553
Sorry I was responding to your email which had a different comment.

Yes, this is the placeholder for an internal, non-http API to be used as a lib.

[2015-02-26 22:38] ehazlett commented on #226
Ok.  What would we need to support spot instances?  The bid?

[2015-02-26 22:43] sthulb commented on #489
| Flag | Description |
|:-------|:----------------|
| `--image-url` | Replaces `--*-boot2docker-url` |
| `--memory-size` | Replaces `--*-memory-size` |
| `--disk-size` | Replaces `--*-disk-size` |
| `--docker-port` | Replaces `--*-docker-port` |
| `--ssh-port` | Replaces `--*-ssh-port` |
| `--ssh-user` | Replaces `--*-username` |
| `--cpu-cores | Replaces `--*-cpu*` |

[2015-02-26 22:44] sthulb commented on #553
- [ ] Share flags
- [ ] Driver structure
- [ ] Metadata
- [ ] Error handling
- [ ] Logging

[2015-02-26 22:47] ehazlett commented on #553
@sthulb added your checklist to the description -- thx!

[2015-02-26 22:55] ehazlett commented on #489
I hope I didn't offend anyone. I'm just trying to get these issues centralized and organized. Sorry if I did.

[2015-02-26 23:02] nathanleclaire commented on #553
Yep, I realized that after my first comment so I updated it to just say we should loop potential consumers of the API / bindings in on it.

[2015-02-26 23:03] nathanleclaire commented on #489
@sthulb Yep, exactly - preferably with the specific flags where those are duplicated right now.  Cheers!

[2015-02-26 23:06] nathanleclaire commented on #639
cc @jeffmendoza for input

[2015-02-26 23:06] jokeyrhyme commented on #179
Just tried docker-machine v0.1.0 for the first time today. I have a workflow involving live updates to a host directory being propagated to a mounted volume within a container. I'm using the standard docker CLI arguments to achieve this.
- this works fine if I use `docker-machine create -d virtualbox dev` (unsurprising since this builds upon the boot2docker work)
- `docker-machine create -d vmware

[2015-02-26 23:06] chanezon opened #640 "docker-machine -d azure --swarm should create an endpoint on port 3376"
Right now it creates an Azure endpoint on port 2276, it should create one also on port 3376
docker-machine create -d azure \
--azure-subscription-id="9b5910a1-...79d5ea2841" \
--azure-subscription-cert="/Users/pat/.azure/9b5910a1-...d5ea2841.pem" \
--azure-location="West US" \
--azure-username="pat" \
--swarm --swarm-master \
--swarm-discovery token://4d6b2c18727...d5a0b2e52d978 \
pat-swarm-master

[2015-02-26 23:10] sylvinus commented on #226
Thanks @ehazlett, very appreciated.

From http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-requests.html, the main additional parameters seem to be Bid, Request valid From/To and Persistent request.

In the context of machine, I guess you could set `request valid to` = now + 2 minutes or so, at which point the command could fail. Persistent requests are also probably out of scope, so IMHO t

[2015-02-26 23:49] nathanleclaire commented on #634
Yes.  This is an important issue for me and I ultimately want to move away from storing the secrets on a per-driver basis entirely, instead having one unified `Config` store where various configuration options including API keys are kept which has a few "backends" including one for plaintext as well as one for encryption.

[2015-02-27 00:02] adambiggs opened #641 "host volumes not working with vmwarefusion driver"
I just tried using `docker-machine` v0.1.0 with VMWare Fusion 7.1.1, but whenever I try to mount a host volume inside a container, the volume shows up empty...

[code]
[code]

[2015-02-27 00:29] nathanleclaire commented on #629
SGTM

Ultimately this is something I'd like to enforce for all drivers (assuming they have private IPs available).

[2015-02-27 00:30] jpetazzo commented on #606
The original error *might* be caused by the fact that the EC2 API is eventually consistent. When I wrote the dotCloud deployment scripts, each time I would create a resource (instance or volume) I would wait for the API to tell me that the resource actually exists before continuing (even though it's supposed to exist since it gave me its ID!).

Regarding cleanup: I'd love a cleanup command within

[2015-02-27 00:32] jpetazzo commented on #584
I'm having the same issue today:

[code]

[code]

Is there any way to get *moar debuggin'!* from the EC2 API?

[2015-02-27 00:32] nathanleclaire opened #642 "Allow SSH on non-standard ports"
From HN:

Seems reasonable to have as a feature, but since a lot of the drivers hardcode 22 it will take a non-trivial amount of effort to update.

[2015-02-27 00:43] nathanleclaire commented on #584
Dump the requests and responses, basically.  Unfortunately the API is not always super descriptive when things go wrong but it would be better than nothing.

I'd really like to have an audit log for all of the API requests and responses (where available), but implementing this cross-driver is tricky since some of them use mostly opaque 3rd party bindings.

[2015-02-27 00:43] sthulb commented on #584
We could dump the response from the API. But ultimately, I have plans to replace most of the driver with the official SDK

[2015-02-27 00:46] sthulb commented on #642
Some of the drivers allow this already. But obviously they all should allow it.

[2015-02-27 01:00] bsuh opened #643 "Cannot use unix socket URL with none driver"
I use ssh & socat to port forward a remote /var/run/docker.sock as a local unix socket.
I add this local unix socket using the none driver.

docker-machine ls output:
[code]

docker-machine env output:
[code]

It tries to use TLS on a Unix socket URL.

[2015-02-27 01:23] therealprologic commented on #643
I find this doesn't work for the local host either.

e.g:

[code]

However if you remove all the TLS parameters (*by hand*):

[code]

[2015-02-27 01:53] nathanleclaire commented on #643
I'm working on a PR that should fix this.

[2015-02-27 01:55] therealprologic commented on #643
Excellent :)

[2015-02-27 03:07] leitu opened #645 "docker-machine stop not working"
According to the documents:

  $ docker-machine start
  If they aren't passed any arguments, commands such as docker-machine stop will run against the active host (in this case, the VirtualBox VM). You can also specify a host to run a command against as an argument. For instance, you could also have written:
  $ docker-machine stop dev
  $ docker-machine start dev

But I had tried several times, d

[2015-02-27 03:24] Hokutosei commented on #617
Greetings,

I see, cloudinit could be the best solution for this. so it might not worth adding an option now for source-image. i have a working machine bin in my local that does something like `--google-source-image ubuntu-1404-trusty-v20150128` though.

[2015-02-27 03:28] nathanleclaire commented on #645
This is a bug introduced by supporting multi-name arguments.  Sorry about that.  If you specify the host directly it will work e.g. `docker-machine stop dev` and we will fix it in master soon.

[2015-02-27 03:42] pmario opened #647 "hyper-v: host.go want's to provision docker again"
using docker-machine V 0.1.0

TLDR
IMO https://github.com/docker/machine/blob/master/host.go#L406 needs to check for hyper-v as a boot to docker driver.

-----------

I get the info:

[code]

which points out, that the docker command already exists. Which is true since the hyper-v driver uses the boot2docker iso image.

[2015-02-27 03:49] therealprologic commented on #645
Btw - just a thought... How would this work for the ``none`` driver?

[2015-02-27 04:02] gnoymmij commented on #504
+1

[2015-02-27 07:50] olibob commented on #630
I just tested and the VM was created: I could `docker-machine ssh` into it.
Here are [the creation logs](http://pastebin.com/ux4wT8mF).

[2015-02-27 07:57] sthulb commented on #645
@therealprologic they won't. We can only create and remove the none driver.

[2015-02-27 07:59] sthulb commented on #641
This is a known issue. It's being worked on.

[2015-02-27 08:30] olibob commented on #630
BTW, the created VMs don't show up in VMware Fusion's Library window.

[2015-02-27 08:42] therealprologic commented on #645
No problems :)

[2015-02-27 08:47] joeyhipolito opened #651 "Question: should I execute docker run swarm inside the vm created by docker-machine?"
I am on windows a I was fiddling around this docker-machine, as I go along the writeups and instructions on getting started with docker machine swarm and compose.

So I created a machine like so

    docker-machine create --drive virtualbox dev

Now I wanted to create a swarm-master, in the instructions, was the following instructions is inside the dev container? or was for the host machine

    d

[2015-02-27 09:22] joeyhipolito opened #652 "Question: Permission Denied on curl and save for docker compose"
In the instructions for installing docker-compose, you can do :

    curl -L https://github.com/docker/compose/releases/download/1.1.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
    chmod +x /usr/local/bin/docker-compose

But you cannot intall it because:

    zsh: permission denied: /usr/local/bin/docker-compose

I don't want to do sudo, because I wanted it to be like my

[2015-02-27 09:39] MitchK opened #653 "Pass own AWS/EC2 endpoint"
We have an EC2-compliant stack on premise and are starting to evaluate ```docker-machine```

The EC2 CLI seems to take an EC2_URL environment variable, so we can use our own on-premise API endpoint.
[code]

Will this work with docker-machine and the AWS driver? Does anyone already have experience with this?

Cheers,
Michael

[2015-02-27 10:53] MitchK commented on #653
I have tried it this way:
[code]

Seems that ```docker-machine``` does not read/pass environment variables to the driver.

Is it possible to add an option like ```--amazonec2-url```?

[2015-02-27 11:13] killerwolf commented on #651
I am also misunderstanding what swarm is ? is it a container ? it it a cli tool ? or cli tol within a container ?
I am on OSX and download docker-swarm from brew ?
Thanks for help setting up a docker host cluster with swarm

[2015-02-27 11:44] timbordemann opened #656 "[openstack] SSH password"
When creating a new docker machine using the openstack driver, I am asked for a ssh password:

    DEBU[0081] Waiting for the SSH server to be started...   IP=x.x.x.x MachineId=0d893949-aae6-4777-aa7e-378216f3c472
    DEBU[0098] generating server cert: /Users/user/.docker/machine/machines/test103/server.pem ca-key=/Users/user/.docker/machine/certs/ca.pem private-key=/Users/user/.docker/machine/cer

[2015-02-27 12:30] frapposelli commented on #630
@olibob that is by design.

[2015-02-27 12:32] frapposelli commented on #630
@stonevil those options are consistent with a correctly mounted iso file, can you test clearing `~/.docker/machine` as @ehazlett asked?

[2015-02-27 13:09] therealprologic opened #657 "virtualbox network/routing issue"
I just tried:

[code]

And this fails with "No route to host".

The IP assigned to the VM seems to be ``192.168.99.100`` however there doesn't seem to be a matching interface on the Host that matches this network so ``/sbin/ss ip route get 192.168.99.100`` shows it going out via the local LAN.

How is docker-machine setting up the networking?

[2015-02-27 13:57] therealprologic commented on #657
I'm closing this as I don't think this is a ``docker-machine`` issue.
After some investigating I had to do the following:

[code]

[2015-02-27 13:57] #657 closed

[2015-02-27 14:14] stonevil commented on #630
Short summary of my research.

Looks like VMware Fusion have problem with special symbols just like ~ in for MACHINE_STORAGE_PATH.

Problem solved.

[2015-02-27 14:43] ehazlett commented on #179
@jokeyrhyme the issue with fusion is known and is being worked on.  Thanks for the great feedback!

[2015-02-27 14:45] ehazlett commented on #226
@sylvinus ok thanks for the feedback!

[2015-02-27 14:45] ehazlett commented on #634
+1 for encryption

[2015-02-27 14:48] ehazlett commented on #629
Should probably be part of #554

[2015-02-27 14:49] ehazlett commented on #642
Refs #554

[2015-02-27 14:53] ehazlett commented on #617
Cool.  With cloudinit it would make sense.  Thanks!

[2015-02-27 14:56] ehazlett commented on #643
I'm not a fan of adding this.  Why not just use `$(docker-machine unset -u)`?  See also, https://github.com/docker/machine/pull/646#issuecomment-76406008

[2015-02-27 14:58] #645 closed

[2015-02-27 15:02] ehazlett commented on #652
I believe you meant https://github.com/docker/compose.  @aanand ?

[2015-02-27 15:14] ehazlett commented on #651
Thanks for the feedback.  Docker Swarm is a separate project (https://github.com/docker/swarm) and available via either docker image (`swarm` and recommended) or standalone binary.

Docker Machine uses the Swarm Docker image to create the cluster.  These are the steps to create a Swarm cluster with machine:

`docker-machine create -d virtualbox local`

This creates a Machine using virtualbox that

[2015-02-27 15:20] andrewwatson commented on #653
Yes, that should be possible. look in drivers/amazonec2/amazonec2.go

[2015-02-27 15:20] ehazlett commented on #656
/cc @ggiamarchi

[2015-02-27 15:21] sthulb commented on #653
You'll have to make it ignore the region flag I guess

[2015-02-27 15:21] ehazlett commented on #653
Thanks for the feedback!  I think this would be a good addition.

[2015-02-27 15:22] ehazlett commented on #630
Thanks @stonevil

[2015-02-27 15:22] #630 closed

[2015-02-27 15:29] aanand commented on #652
Most likely your `/usr/local/bin` directory isn't writable by you. Either `chmod`/`chown` it, or download `docker-compose` somewhere writable and `sudo cp` it in.

You won't need `sudo` to run it, just to install it.

[2015-02-27 16:08] dhiltgen opened #659 "New Driver: libvirt / KVM"
This driver support libvirt, and at present the KVM back-end.  The current implementation requires a NAT'd network with libvirt managed DHCP (via dnsmasq) to establish connectivity to the VM.

Initial Implementation: [https://github.com/dhiltgen/machine/commit/e5d159c17fc9ef497a1933c83b69d2b8d1e6f168]

[2015-02-27 16:15] ehazlett opened #660 "Use defer to cleanup in test"
From this https://github.com/docker/machine/pull/649#discussion-diff-25515820

[2015-02-27 16:47] #507 closed

[2015-02-27 17:02] ehazlett commented on #659
@SvenDowideit want to sync with @dhiltgen on this?  Perhaps we can combine the implementations?

[2015-02-27 17:02] ehazlett commented on #606
@jpetazzo great point.  i think a cleanup function would be great.

[2015-02-27 17:02] jeffmendoza commented on #639
Looks like our logic is pretty crappy, sorry:
https://github.com/docker/machine/blob/master/drivers/hyperv/powershell_windows.go#L17

It looks for any directory in your path that contains "WindowsPowerShell" anywhere in it, then adds "/powershell.exe" to the end. Definitely needs a refactor.

[2015-02-27 17:07] DanLipsitt opened #661 "keypair prevents creation of machine with same name as the one just removed"
If the create command fails (in this case because I forgot the vpc-id flag) and I remove the failed image, I can't create a new one with the same name because the keypair doesn't get deleted:

[code]

It seems that `rm -f` should remove associated keypairs.

Related: #119.

[2015-02-27 17:54] iffy commented on #381
@nathanleclaire Where do I go to delete the keypair?  On AWS?  Or locally somewhere...  (I'm using docker-machine v0.1.0)

[2015-02-27 18:20] kretz opened #662 "Setting and elastic ip address on AWS EC2 will make existing TLS invalid"
I set up an instance using the amazonec2 driver successfully. Then I associated an Elastic IP address with the instance, and thus removing the old ip address. Now communicating with the instance does not work since the TLS is not valid for the new (Elastic) ip address.
[code]

[2015-02-27 18:34] iffy opened #663 "EC2: Seems like same VPC isn't used for subnet and security groups"
Here are my steps to duplicate:

1. Create a new VPC on AWS.  CIDR=`10.0.0.0/24` Name=`fordocker` ID=`vpc-3a299c5f`
2. Create machine:
[code]

The Security Group it made seems correct: Name=`docker-machine` ID=`sg-62d5f807` VPC=`vpc-3a299c5f (10.0.0.0/24)`

It chose to reuse an existing subnet that isn't even in the same VPC.  ID=`subnet-f8ad088f` VPC=`vpc-3f10b25a (10.0.0.0/16)` CIDR=`10.0.2.0/24

[2015-02-27 19:35] nathanleclaire commented on #381
@iffy In the EC2 admin panel.  They will be named after the machine.
![screen shot 2015-02-27 at 11 32 12 am](https://cloud.githubusercontent.com/assets/1476820/6419743/c7e1575e-be74-11e4-838c-365c5cf0ea71.png)

[2015-02-27 19:45] nathanleclaire commented on #639
Hey @jeffmendoza, if you are just needing to track down an executable, [exec.LookPath](http://golang.org/pkg/os/exec/#example_LookPath) will do the trick.

[2015-02-27 19:47] nathanleclaire commented on #656
I seem to recall having an issue similar to this the other day.  Do you get the same result if you run the command without debug @timbordemann ?

[2015-02-27 19:56] ehazlett commented on #663
Confirmed.  Taking a look.  Thanks!

[2015-02-27 20:04] #629 closed

[2015-02-27 20:25] iffy commented on #381
Thanks, it was making them in a region I wasn't looking at.

[2015-02-27 21:11] nathanleclaire commented on #643
@ehazlett That won't work for @bsuh's case.  I'm not sure if #646 is exactly the right solution, but I do think we need to sketch out what we feel like the purpose of the none driver is a little bit further.  Perhaps @bfirsh could elaborate on what he sees as the purpose of it.  After all, if you add a remote host with the `none` driver, you can't start, stop, etc. that either.  Unix sockets strik

[2015-02-27 21:24] nathanleclaire commented on #554
@ehazlett Yes, please!

One thought off the top of my head:  Let's please make `Provisioner` an `interface` for easier testing and so that we can eventually bootstrap on non-Debian / b2d hosts.

[2015-02-27 21:27] nathanleclaire commented on #407
I'm +1 on this concept.

[2015-02-27 21:51] nathanleclaire commented on #491
Wow, very sorry to hear about this @hairyhenderson and @databus23.  Thanks you so much being so diligent with triage of the issue.  I definitely want to help you get a solution to this issue.

I'm _very_ against changing the default build process to native.  `gox` is fast and easy to use and is set up well now in our build toolchain as it is.  It would slow down contribution and releases significa

[2015-02-27 22:01] databus23 commented on #491
I think a brew recipe is the best short term solution for OSX from the user perspective. The only hassle is that this also needs to be updated/published for every new release otherwise users who need custom certificates will be stuck on older versions.

@nathanleclaire I'm not sure this problem exists for cross compiled windows binaries.

[2015-02-27 22:07] ggiamarchi commented on #656
This is a common issue depending on how the cloud image has been built. Basically, some race conditions can cause two annoying situations :

1. When the SSH server is up and listening but the user we use to log in is not yet created
2. When the SSH server is up and listening and the user exists but the public key is not yet deployed

I had to deal with exactly the same problem on the [Vagrant Open

[2015-02-27 22:16] databus23 commented on #491
@nathanleclaire I agree that changing the build progress is not a good idea. Its really slick the way it is. That being said I still think that the solution proposed in the linked [blog post](https://inconshreveable.com/04-30-2014/cross-compiling-golang-programs-with-native-libraries/) would be better solution in the long run. It still allows for cross compiling with gox in a container but without

[2015-02-27 22:16] jeffmendoza opened #666 "Machine is trying to provision docker on top of Hyper-V's boot2docker iso"
see:
54f36078f4c7516d717987f94c4787c0566798c0

https://github.com/docker/machine/blob/master/host.go#L406

Hyper-V is missing from this line.

[2015-02-27 23:43] nathanleclaire commented on #666
Argh, this is why I would really like a `IsLocal` method or equivalent on drivers, it would definitely be more robust.

[2015-02-28 00:24] nathanleclaire commented on #598
I'm having a hard time wrapping my head around what this is exactly, although I think I might understand.  Essentially there would be some kind of common base that the drivers use, e.g.:

[code]

?

[2015-02-28 02:31] TrumanLing opened #669 "Use other iso than boot2docker to create machine based on virtualbox, but failed"
Input to create machine:
[code]
output:
[code]

[2015-02-28 09:01] rchaganti opened #671 "Cannot create Docker Engine on Hyper-v (version 0.1.0)"
I am unable to use docker-machine (on Hyper-V host) to create the engine. I tried both defaults and a local path to boot2docker.iso.

This host is behind a HTTPS proxy that does not require authentication.
[code]

[2015-02-28 13:31] timbordemann commented on #656
@ggiamarchi Yes, i confirm your solution solves the problem, that docker-machine tries to connect to the host before the keys are set up.

[2015-02-28 19:09] sthulb commented on #666
@nathanleclaire in the long run, we don't need that, I need to finish #546. So we can detect the distro family.

[2015-02-28 21:33] grigio commented on #504
+1

[2015-02-28 21:38] agocke commented on #647
There are probably two problems here:

1. The check in docker-machine is a simple `if [ ! -e /usr/bin/docker ]`, when it should probably be something like `if command -v docker`.
2. The get-docker script doesn't recognize boot2docker.

I'll try to fix this since it is blocking me and send a PR.

[2015-03-01 00:27] idyll commented on #641
This causes all sorts of strange behaviour upstream when you don't expect it. Is there a good place to document this?

I spend several hours tracing this back because I thought Docker Compose was broken.

[2015-03-01 07:02] IbnSaeed opened #673 "An error occurred trying to connect: Get https://192.168.xx.xx:2376/v1.18/containers/json: remote error: bad certificate"
Hello

I am getting the following error message when running . in windows 8.1
[code]
Here is the docker version command

[code]

Here is the docker-machine version
[code]

[2015-03-01 07:04] IbnSaeed commented on #673
The following certs were automatically added to the following directory when i created the docker-machine

[2015-03-01 12:30] DKientz commented on #581
It is not pull request ready :-(, but this solved the problem for me so that I can at least create my swarm
https://github.com/DKientz/machine/commit/7933e5d7238df4902c18ca8bae32f94b3f09d64b
* You can use the flag amazonec2-use-private-ip-address=true
* Fixes a bug that tried to duplicate port 3367 on the security group
* It uses docker.io instead of lxc-docker during apt-get

[2015-03-01 14:13] mbrevoort commented on #641
+1

[2015-03-01 18:41] carletes commented on #529
Any plans to have this working also for Linux VirtualBox hosts (not just Windows and OS X) for 0.2.0?

[2015-03-01 20:03] fikovnik opened #675 "Restarting google cloud machine changes its IP and invalidates its certificate"
I created a machine using:

[code]

afterwards I can do
[code]
and works as expected. However when I restart the machine using `docker-machine restart` it actually recreates the machine, but does not recreate the certificates. If I then do the same command sequence
[code]
I get
[code]
The reason is that the IP has changed. I guess it will be easy to regenerate the certificates, but I was wondering

[2015-03-01 20:54] sthulb commented on #529
@carletes Yes, there should be universal support for all of our supported OSs

[2015-03-01 21:04] fikovnik opened #676 "Starting a stopped google cloud machine does not work"
This is the status of the machine:
[code]

[code]

Issuing `docker-machine start gc-datalyse-1` returns:
[code]

I guess it does not have to recreate it but instead just start it like

[code]

[code]

Which is then picked up by `docker-machine`

[code]

[2015-03-01 21:25] digitalsanctum opened #677 "Add a command to configure certs if a host is added without a driver"
I've added an existing docker host via https://docs.docker.com/machine/#adding-a-host-without-a-driver but am still left to figure out how to configure the certs so I can interact with it.

Please add a command or document how to do this.

[2015-03-01 23:23] nathanleclaire opened #678 "[amazonec2 driver] Attempt to create swarm master bails if SG rule already exists"
We get an API error back because the SG rule for swarm already exists, but it's actually fine, it shouldn't affect the attempted creation at all.

![screen shot 2015-03-01 at 3 19 04 pm](https://cloud.githubusercontent.com/assets/1476820/6433560/f1fd8a7c-c026-11e4-9ff9-8b47f69e037e.png)

Edit:  Oops, wrong screenshot.

[2015-03-02 08:43] stenstad opened #679 "Openstack Identity v3 support"
Gophercloud supports the Openstack Identity v3 API, wich brings in a lot of new features. It has been the preferred API since Openstack Havana (2013), and the v2 API is somewhat deprecated.

http://gophercloud.io/docs/identity/v3/

Could you look into supporting the new auth mechanisms?

If you need access to an Openstack cloud with V3 API for testing I can arrange that.

We only support the v3 AP

[2015-03-02 10:00] ggiamarchi commented on #679
+1

I can work on this one. I'll do a PR in a few days.

[2015-03-02 16:06] bfirsh opened #680 "Add more detail around to roadmap"
See original: https://github.com/docker/machine/blob/dcf6c780113d888049121c6312aaaaa0db80691c/ROADMAP.md

It would be nice if the roadmap had a narrative which explained some background, what high-level things are needed, some reasoning behind them, then linked off to specific features which satisfy them.

[2015-03-02 16:10] sirlatrom opened #681 "Cannot use docker-machine from behind a corporate proxy"
I know this will amuse most users of docker-machine, but it bothers me.

I am behind a corporate authenticated proxy with MITM (modified certificate path) for HTTPS connections. I cannot use `docker-machine` as it is, apparently because it does not support proxy settings. I have tried setting `https_proxy`, `http_proxy` and their uppercase counterparts, as well as ensured that `no_proxy` is set co

[2015-03-02 16:29] ehazlett commented on #598
Correct.  If we refactor the internal api / store this might not be necessary.  But for now, the idea was that instead of having to add something like `SwarmHost` etc. for each driver, the metadata would be able to hold that.

[2015-03-02 16:29] ehazlett commented on #656
@ggiamarchi @timbordemann can we close this or is there more action needed?

[2015-03-02 16:37] ehazlett opened #682 "Proposal: error types"
This would add support for error types instead of return `fmt.Errorf` everywhere.

Refs #553

[2015-03-02 16:49] ggiamarchi commented on #656
@ehazlett I'm not sure what you mean by "close this". This is the PR #665 that fix the bug.

[2015-03-02 17:06] bfirsh opened #683 "Create an MVP HTTP API"
Machine currently relies on storing configuration locally on the computer that the command-line client is run which makes it difficult to use in teams and for large deployments.

Machines could instead be managed by a central server with a REST API. The command-line client could be a client for this server.

We should create an MVP of this HTTP API to see how it's going to work. It could map direc

[2015-03-02 17:45] nathanleclaire commented on #616
@bfirsh I'd say #16 has been considered thoroughly and I don't think anyone is against that UI, but it depends on (as yet unwritten) upstream dependencies which are tangled up in a bigger search for a config file: https://github.com/docker/docker/pull/10151  That's a _really_ non-trivial change and effectively contributing that back upstream will be difficult and time-consuming.

In the interim, i

[2015-03-02 17:56] dleehr opened #685 "Cannot create vmwarefusion machine if Fusion installed outside of /Applications"
I use [Homebrew Cask](http://caskroom.io) to install many binary applications like VMware Fusion. It places the .app bundles in `/opt/homebrew-cask` and symlinks them into `~/Applications`. As such, the `vmrun` command referenced by machine is not at the expected path.

The issue is that this command fails silently, and machine continues to wait for the VM to spin up, providing no useful feedback.

[2015-03-02 18:03] ehazlett commented on #685
/cc @frapposelli

[2015-03-02 18:03] dleehr commented on #685
On Mac OS X, mdfind can report the location of an app:

    $ mdfind 'kMDItemContentType == "com.apple.application-bundle" && kMDItemFSName = "VMware Fusion.app"'
    /opt/homebrew-cask/Caskroom/vmware-fusion/7.1.0-2314774/VMware Fusion.app

[2015-03-02 18:06] #663 closed

[2015-03-02 18:17] ehazlett commented on #656
@ggiamarchi ah ok sorry!

[2015-03-02 18:24] ehazlett commented on #643
I'm not saying we shouldn't support unix sockets.  Personally i think the `none` driver should be renamed to "testing" as I think it's misleading.  I agree we need to decide how to support sockets.  Either we mandate adding an ssh key or decide if we want the commands to error out.

[2015-03-02 18:49] sthulb commented on #685
+1 for detection.

[2015-03-02 18:52] frapposelli commented on #685
Thanks for the tip, I'm actively working on a new version of the driver for
our hosted products (Fusion and Workstation), I will make sure to address
this.

On Monday, March 2, 2015, Dan Leehr <notifications@github.com> wrote:

[2015-03-02 20:49] ehazlett commented on #685
thx @frapposelli

[2015-03-02 20:59] sthulb opened #688 "Proposal: Identity management"
We should allow for the generate and regeneration of x509 keys for existing and new servers.

---

### Users
We should allow owners of machines to generate new identities to allow third parties to control Docker. The certificates would be based of the same CA root.

The third party user would be informed of a way of collecting the new client certificates securely.

### Regeneration
We should allow

[2015-03-02 20:59] sthulb commented on #688
More to come when I have time.

[2015-03-02 21:02] nathanleclaire commented on #688
Oh interesting - I was just thinking about this problem recently - how to grant access to remote Docker on a client that is different than the one where the machine was created.

[2015-03-02 21:09] sthulb commented on #688
I had the idea a month ago, I talked about it in the IRC channel, I've just got around to proposing it :)

[2015-03-02 21:09] sthulb commented on #688
This would have more benefit with a client/server model for machine though.

[2015-03-02 21:17] frapposelli commented on #688
Great idea, much better than keeping certs on dropbox :smile:

Client/Server could be very interesting, maybe a passphrase to give access to a common shared machine?

**Alice**: `docker-machine create`, sets passphrase, share passphrase w/ Bob
**Bob**: `docker-machine attach`, use Alice passphrase to gain access

[2015-03-02 21:25] sthulb commented on #688
@frapposelli I'd expect new certs to be generated for every user. A token/passphrase would only be needed for collection. We could revoke "Alice's" certs at any time.

Disclosure: Docker doesn't support cert revocations yet.

[2015-03-02 21:26] frapposelli commented on #688
@sthulb of course, passphrase is a way to grant access to a cert generation on the shared machine, ideally the passphrase should be OTP.

[2015-03-02 21:28] sthulb commented on #688
Yep!

[2015-03-02 21:37] md5 commented on #534
@nathanleclaire how were you thinking the host's SSH key would be retrieved to be added to `known_hosts`?

I was thinking it might be interesting to add SSH host keys to new `machine` hosts instead of allowing random keys to be generated and accepting them blindly. It looks like cloud-init supports this via the `ssh_keys` setting.

[2015-03-02 21:43] ehazlett commented on #534
@md5 yes cloudinit does this.  as a matter of fact, i used this in my cloudinit branch.

[2015-03-02 21:48] md5 commented on #534
:+1:

[2015-03-02 22:00] sthulb commented on #534
My SSH branch will undo any changes to the existing implementation. I have host key checking in my branch.

[2015-03-02 22:06] #678 closed

[2015-03-03 00:45] nathanleclaire commented on #685
@frapposelli If the binary name is always the same, Golang's `exec.LookPath` is your friend.

[2015-03-03 00:49] frapposelli commented on #685
@nathanleclaire isn't `exec.LookPath` looking only in `$PATH`? `vmrun` is usually buried into VMware specific directories.

[2015-03-03 00:56] nathanleclaire commented on #685
@frapposelli Ah, yes, if it's not in `PATH` or equivalent you're going to have to look for it on your own.

[2015-03-03 02:47] kraney opened #691 "Pass additional arguments to ssh"
It would be very useful if I could pass extra arguments to docker-machine ssh. In particular I'd like to use -L and -R.

Here are a couple of examples why (glossing over a few details.) These examples assume the client machine I'm using to run docker is behind a NAT, so the docker machine can't make outgoing connections back to me.

# Make home directory accessible as a volume, similar to boot2doc

[2015-03-03 08:06] atomi commented on #651
docker-machine is creating -d virtualbox with tcp docker port 2375 in the boot2docker vm but listing it in docker-machine ls and /swarm join --addr as 2376

[2015-03-03 11:56] sthulb opened #693 "Proposal: OS Detection"
## Abstract
In an attempt to support any flavour of linux, we should build a profile of distributions to allow us to do certain things easily.

## Background
At the moment, we have no ability to run any distribution that isn't TinyCore (boot2docker) or Ubuntu, not everyone uses those distributions. We currently don't have any way of determining the distribution, we blindly assume that they're all

[2015-03-03 11:56] sthulb commented on #693
cc: @bfirsh @nathanleclaire @ehazlett

[2015-03-03 12:27] ehazlett commented on #693
This sounds good to me.  I want to re-state that I think this should be clearly bounded and not stray into the config management space.  I think what's defined above is good.  It gives us the ability to get a base system ready for provisioning via cloudinit and provide a fallback if needed.  It also gives us the needed ability to restart services (such as Docker) across platforms.  Anything outsid

[2015-03-03 12:28] ehazlett commented on #534
@sthulb +1 -- i think we should handle this as part of the `crypto/ssh` refactor.  How close is your branch to being ready?

[2015-03-03 12:47] sthulb commented on #534
I just have to change 7 drivers and ensure host key checking actually works.

[2015-03-03 12:49] sthulb commented on #693
Absolutely. I have no intention of allowing this to become a provisioning system. I just wanted the bare minimum for what machine needs. 99% of provisioning should be done via cloud-init.

[2015-03-03 18:52] stephenlawrence commented on #531
I have this issue happening again. I had a docker-machine running on 192.168.99.101, and after a re-boot of my Mac, that machine is now running on 192.168.99.100.

This seems as if its a docker issue since I can do "docker-compose run" into a container OK, but trying any docker commands throws this error:

$docker ps
FATA[0000] An error occurred trying to connect: Get https://192.168.99.100:2376/v

[2015-03-03 18:54] stephenlawrence commented on #531
Current env:
DOCKER_CERT_PATH=/Users/myusername/.docker/machines/.client
DOCKER_TLS_VERIFY=yes
DOCKER_HOST=tcp://192.168.99.100:2376

$ ls -l ~/.docker/machines/.client/
total 48
-rw-r--r--  1 myusername  staff  1054 Feb 11 10:21 ca.pem
-rw-r--r--  1 myusername  staff  1054 Jan 30 08:53 ca.pem.bak
-rw-r--r--  1 myusername  staff  1094 Feb 11 10:21 cert.pem
-rw-r--r--  1 myusername  staff  1094 Jan

[2015-03-03 19:17] ehazlett commented on #531
@stephenlawrence ugh ok.  would you be using b2d as well by chance?  the only time i've seen this was something between b2d and machine.  i can't personally reproduce but it had to do with the certs and env vars.

maybe we need that "regenerate-certs" command sooner rather than later :)

[2015-03-03 19:18] ehazlett commented on #534
ah ok.  thanks.

[2015-03-03 19:25] stephenlawrence commented on #531
Well, I had been using b2d alone before I switch to DM. DM uses b2d as well no?

[2015-03-03 19:26] razic commented on #531
@stephenlawrence just use `machine` to manage `b2d`'s. delete your original `b2d` installation and VM

[2015-03-03 19:30] parshap commented on #531
I've had this happen to me as well. I used `machine` to create the virtual machine, not `b2d` directly. A command to regenerate certs sounds helpful.

[2015-03-03 19:34] stephenlawrence commented on #531
Removing b2d doesn't necessarily resolve my issue, but I have removed it.

[2015-03-03 19:44] superbeeny opened #698 "TTY required to run sudo"
Docker-machine is failing the remote ssh and sudo commands to stop docker.

Image: Centos 7
Driver: Openstack

Debug Log
[code]

The instance is generated on openstack and when adding -tt to the ssh command it appears to work as intended.

[code]

[2015-03-03 19:56] ehazlett opened #699 "Add provisioner so that the Engine and Swarm can be configured on the host"
This will remove the provisioning functionality from the `store` and drivers into a clean package that can be used in conjunction with #693 to provision and configure the Docker engine.  The long term goal should be to get cloudinit working.  However, it should be flexible to allow for fallback.

Refs #554

Provision PR: #546

[2015-03-03 22:35] jampy commented on #681
I have the exact same problem, except that I do not need/have a proxy to access Internet.
I guess the problem is not related to the Proxy.

In my case I tried to run docker-machine under Windows 7 64bit (VirtualBox is installed).

[2015-03-03 22:53] nathanleclaire commented on #698
cc @ggiamarchi

[2015-03-03 23:01] nathanleclaire commented on #698
Thanks for the report @superbeeny.  A quick Google reveals http://unix.stackexchange.com/questions/122616/why-do-i-need-a-tty-to-run-sudo-if-i-can-sudo-without-a-password, so I think we might have to check for that as part of the provisioning.  Are you able to run `sudo service docker restart` when manually SSHed in to the box?

[2015-03-03 23:02] atomi commented on #499
In the meantime, how will users be able to specify where the .docker/machine/* files are stored?

[2015-03-03 23:05] nathanleclaire commented on #693
+1 on this

My basic vision is a `Provisioner` interface with methods for the common operations, e.g. `InstallDocker`, `ConfigureDaemon`, `ConfigureAuth`, `SetHostname`, `StartDaemon` etc.  Then there would be a `DebianProvisioner`, `CentosProvisioner`, etc. as we see fit.  Like you mentioned, it would be limited in scope, and accessible using `package provision` or something like that.

[2015-03-03 23:07] nathanleclaire commented on #691
So to be clear on this, you want to be able to specify extra flags that the underlying `ssh` command uses?

[2015-03-03 23:07] sthulb commented on #693
@nathanleclaire this is deliberately lacking in functionality since we're opting for cloudinit which should do everything you mentioned.

[2015-03-03 23:12] sthulb commented on #691
Unsure if we should do that... instead port forwarding on the hypervisor layer seems nicer (via a plugin)

[2015-03-03 23:40] superbeeny commented on #698
yes i can do it manually, and if i update sudoers to remove the "require tty" as described in the article I can get it to run without error. The default centos 7 cloud image does not contain that edit and so will not work "out of the box"

[2015-03-03 23:49] justinclayton opened #701 "Add option to pass daemon config flags to docker machine on create"
Like --insecure-registry. It eliminates the extra step of sshing into every docker-machine box and manually adding these options and restarting the daemon.

Or, just merge docker/docker#8887. ;-)

[2015-03-03 23:58] ehazlett commented on #693
@sthulb I think @nathanleclaire was referring to the Provisioner (#699) which would work with this package to handle things like `StartDocker`, `StopDocker` etc as we will need some way to identify what OS it is to do the right operation.  The provisioner would still be limited with the end goal of just provisioning a Docker engine.  Ideally this would be with cloudinit, but I think we need someth

[2015-03-04 00:00] ehazlett commented on #693
Perhaps "Provisioner" is a bad term -- basically something that sets up and configures the system (that are common operations such as setting the hostname, running cloudinit, configuring TLS, etc) that is not tied to the driver.

[2015-03-04 00:03] sthulb commented on #693
Ah. Sorry @nathanleclaire. In that case, we won't need OS specific provisioners, instead they can opt to use the the runtime to manage services and packages. It should make for a nice generic layer.

[2015-03-04 00:25] kraney commented on #691
Yes, extra flags on the ssh that docker-machine executes - similar to what boot2docker allows. The two use cases I mention are examples, it would be useful for anything from binding to a particular address on my machine (docker-machine ssh -b particular_ip_address) to turning on compression (docker-machine ssh -C)

Why hide the functionality that ssh provides?

[2015-03-04 00:51] TrumanLing commented on #693
+1

My PR#670 just covers virtualbox drive, not a total solution for docker machine.

 @sthulb if you need more man power, I will join to take some things.

[2015-03-04 03:23] cjellick commented on #677
+1 I've been confused by this use case as well.

[2015-03-04 03:29] munkyboy commented on #677
I think I found the next steps:

    docker-machine create --url=tcp://50.134.234.20:2376 custombox
    scp docker@50.134.234.20:~/.docker/ca.pem ~/.docker/machine/machines/custombox/ca.pem
    docker $(docker-machine config custombox) ps

[2015-03-04 04:43] ehazlett commented on #499
@atomi you can by specifying `--storage-path` on the command line or using the environment variable `MACHINE_STORAGE_PATH`.

[2015-03-04 07:37] sthulb commented on #693
@trumanling it's fine. I paused this task since I wanted the SSH work done.

[2015-03-04 10:26] freeman1988 opened #703 "Coreos in azure and aws"
I tried to create coreos instance in azure with following command:
[code]
The output was: `bash: !": event not found`

Then I deleted `--azure-password "123456Test!"` option and docker-machine created instance! But when docker-machine tried to exec `sudo service stop docker` it failed with error:

[code]

So then I tried to launch coreos with docker-machine in aws:
[code]

Docker-machine created i

[2015-03-04 12:56] UserTaken opened #704 "Proposal: Mosh as an option in addition to SSH"
Mosh has been a lifesaver when on an unstable and/or high latency connection. Including Mosh when provisioning should not take a noticeably longer time as the package is less than 1MB to download. In conjunction, perhaps add an **-m** argument to **docker-machine ssh** to use Mosh instead of SSH. That will be much more convenient than what I've been currently doing which is :

[code]

https://mosh

[2015-03-04 13:19] sthulb commented on #704
This should probably be a plugin rather than core functionality.

[2015-03-04 15:44] LaynePeng commented on #124
So, finnally we will have this on 0.2.0? Or I'd like to propose a tradeoff solution to provides a "docker_opts" attibute when creating the machine, and append the options set to docker config file.

[2015-03-04 15:45] sthulb commented on #124
This will be for 0.2 :)

[2015-03-04 15:54] florentvaldelievre opened #705 "docker machine create and certs"
Hello,

Is it possible to create a docker machine without any TLS certificate for the docker daemon without hacking /var/lib/boot2docker/profile in ssh?
[code]

on boot2docker:
[code]

/var/lib/boot2docker/profile
[code]

Thanks

[2015-03-04 15:57] digitalsanctum commented on #677
@munkyboy I think your steps assume the custombox is a boot2docker image. In my case I've installed a VM with Ubuntu and docker installed but doesn't have ~/.docker and certs. So essentially I'm looking for the proposed new command/docs to generate the required certs and do something similar to your scp.

[2015-03-04 15:58] sthulb commented on #705
In short, not at the moment.

I wouldn't expect machine to offer this to be honest. Machine wants to focus on being secure, so to do that, we use TLS.

[2015-03-04 16:06] florentvaldelievre commented on #705
Ok Thank you.

We would like to create dev vms running a boot2docker and a docker daemon ready to use.
A rest client targets the remote docker API. We wanted to avoid talking with the remote API through secure channel as the communication is on the same machine PC dev => Boot2docker.

Tell me if i am wrong, but adding this secured layer involve each developer to copy manually certificates from boo

[2015-03-04 16:30] sthulb commented on #705
If you're using machine, the certificates are automatically created for you and placed in a directory similar to: $HOME/.docker/machine/<machine>/

[2015-03-04 16:32] florentvaldelievre commented on #705
I see, thank you, issue can be closed

[2015-03-04 16:42] sthulb commented on #705
I can't, do you mind? :)

[2015-03-04 16:43] florentvaldelievre commented on #705
Sure :)

[2015-03-04 16:43] #705 closed

[2015-03-04 17:38] sandywater commented on #681
:+1:

[2015-03-04 17:48] munkyboy commented on #677
ah yes, my instructions do assume boot2docker. For reference, you can see how they generate certs here https://github.com/boot2docker/boot2docker/blob/master/rootfs/rootfs/usr/local/etc/init.d/docker#L27

[2015-03-04 18:12] ehazlett commented on #688
+1  I think this will be a must for machine server.

[2015-03-04 18:31] smo921 opened #707 "Docker service stop request aborts machine create if service not available"
When creating a new instance, the process attempts to stop the existing docker service.  If Docker is not already installed this causes the 'service docker stop' command to fail, which in turn aborts the 'docker-machine create'.  This causes an issue for individuals using private machine images that do not already have Docker installed.  I ran into this using the OpenStack driver but it shouldn't

[2015-03-04 19:04] nathanleclaire commented on #704
@UserTaken I'm not sure if you're aware but for the first command you could use:

[code]

For the second one, I've been thinking that for this and other things a `docker-machine ssh-key` command (which would print the path to the key and do other operations related to SSH key management) would be useful - that would at least make the command a little less hairy since you wouldn't have to manually

[2015-03-04 19:05] nathanleclaire commented on #707
This strikes me as odd, since we shouldn't be stopping/restarting the Docker service before Docker has been installed. @ggiamarchi any input?

[2015-03-04 19:19] nathanleclaire opened #708 "--storage-path isn't used anymore"
In the changes to the machine internal directory, `--storage-path` lost its ability to do anything.  `GetBaseDir` in `utils/utils.go` still checks `MACHINE_STORAGE_PATH`, but not the flag.

[2015-03-04 19:34] ehazlett commented on #708
Thanks for pointing this out.  I will work on this to get it fixed asap.

[2015-03-04 19:35] SvenDowideit commented on #659
we've synced a little  when I get back to australia, I'll look at my code a bit further, I'm not sure if we should just combine these 2 drivers, or make a more shared abstraction.

[2015-03-04 19:37] nathanleclaire commented on #708
:+1:

[2015-03-04 19:37] #666 closed

[2015-03-04 19:51] sthulb commented on #659
Are we still avoiding libvirt due to it's C bindings?

[2015-03-04 19:59] ehazlett commented on #659
@sthulb no we were just avoiding using libvirt as the layer between all drivers.

@SvenDowideit sounds good.  I'm not sure either.  @dhiltgen what do you think?

[2015-03-04 20:00] sthulb commented on #659
OK! I was just making sure :smile:

[2015-03-04 20:49] florentvaldelievre opened #710 "Question: How do you forward ports with Virtualbox to boot2docker?"
Hello,

I have created a VM using ```` docker-machine create --driver virtualbox dev ````
I have a container running on 8500:8500 on this dev vm and boot2docker

I would like to forward my port from the Host -> virtualbox -> boot2docker so i can target my container from my host : ````curl localhost:8500````
Can anyone point me to the right direction ?

Thank you

[2015-03-04 21:04] UserTaken commented on #704
@nathanleclaire

Thanks for the first tip. Having an **ssh-key** command would be helpful although taking in your suggestion, this one liner to install Mosh then Mosh into the current active machine also works.

[code]

[2015-03-04 21:39] UserTaken commented on #710
You can run
[code]

[2015-03-04 22:01] SvenDowideit commented on #710
the best thing to do is _not_ port forward. instead, use the second network attached to your machine

get it using `docker-machine ip` - the mapped container ports will be there already.

[2015-03-05 01:37] knarz commented on #642
I'm looking to get involved a bit. Is it reasonable to work on this before upcoming ssh rework?

[2015-03-05 01:43] jus101 commented on #681
+1 - I get this error when trying to create a machine on OS X 10.10.2.

[2015-03-05 03:00] kraney opened #716 "vsphere driver can't create"
Using the vsphere driver, the IP address that's detected for the docker VM is the IP of eth0 - which is the docker private IP address. The outgoing interface is eth1. So then docker-machine can't connect to the VM it just created.

INFO[0283] Configuring virtual machine vsphere-docker...
ERRO[0374] Error creating machine: dial tcp 172.17.42.1:22: operation timed out

The vSphere summary panel also

[2015-03-05 07:36] TrumanLing opened #717 "Faild to download boot2docker.iso under proxy environment"
For accessing internet, my machine's network needs proxy configuration, and I did it similar to below input&output,
[code]
Then I made docker machine by typing below command
[code]
it printed error message:
[code]
it seemed that my machine could'nt access internet.
However, actually I can download boot2docker.iso, below is output of downloading iso via wget:
[code]
So I doubt the http reruest for

[2015-03-05 07:46] sthulb commented on #642
@knarz Unsure, changes to machine are easy to do, but you need to ensure the sshd is running on that port too.

[2015-03-05 11:27] florentvaldelievre commented on #710
Thank you very much for the answers, appreciated !

[2015-03-05 11:28] #710 closed

[2015-03-05 11:53] #704 closed

[2015-03-05 13:21] florentvaldelievre commented on #701
+1

[2015-03-05 14:53] saulshanabrook opened #719 "Must set config cli flag --tls to `true`"
Currently when I run docker with the flags from `docker-machine config dev`
it says:

[code]

If instead I change it to `--tls=true ...`, then the docker CLI
will be able to pick it up fine.

[code]

[2015-03-05 15:24] vdemeester commented on #479
Same here, sometimes it works, most of the time not.

[code]

For example, I made a script that create 5 docker-machine with the driver virtualbox (one is going to be a swarm-master, the other agents) for a demo. The creation of the first machine is ok, then it fails most of the time on the second one (hanging on Waiting for VM to start...).

Cleaning $HOME/.docker, $HOME/.config/VirtualBox, remov

[2015-03-05 15:30] shawnzhu commented on #719
This was fixed in docker 1.4.0 via docker/docker#9221, it works for me now.

[2015-03-05 18:31] shawnzhu commented on #717
patch from PR #625 works for me. notice that `https_proxy` is not supported util go v1.4

[2015-03-05 18:37] shawnzhu commented on #681
fix from #625 works for me

[2015-03-05 18:44] nathanleclaire commented on #704
Cool @UserTaken !

[2015-03-05 18:50] nathanleclaire commented on #704
@UserTaken One more tip :)

You can use `docker-machine active` to get the name of the active host.  So, no need for the little awk pipeline if I understand the command correctly.

It could look like this instead:

[code]

[2015-03-05 18:57] thaJeztah commented on #704
@nathanleclaire perhaps that's worthy to add in a `contrib` in the repository?

[2015-03-05 19:36] cwilkes commented on #24
I would like to see this as our company's Cisco VPN client sets up firewall rules which don't know about vboxnetN adapters and thus connections to 192.168.* address are blocked.
However lo* adapter traffic is allowed so if I could get the DOCKER_HOST set to an ip in the 127.0.0.* range then I could easily use machine-docker instead of boot2docker.

[2015-03-05 19:48] pmario commented on #647
@agocke
Imo your PR comment should have closed this issue too but it didn't. So I'll close it.

[2015-03-05 21:20] schmunk42 opened #721 "create fails due to: No IP address found"
Tried 0.1.0 and dev-master

[code]

The problem is somewhere around here:
https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L479

Looks like Docker `eth1`(?) is not coming up in my host?

[2015-03-05 21:44] kevinsimper commented on #651
I get `Incorrect usage.` when running:

[code]

[2015-03-05 21:47] UserTaken commented on #704
@nathanleclaire

I forgot `docker-machine active` without any arguments prints the current active machine so thanks for reminding me. The first SSH command does not contain any arguments so the flag parsing terminator is not needed. Most of the cloud drivers default to root for SSH so when using Mosh as a local non root account, `root@$(docker-machine ip)` need to be specified.

[code]

[2015-03-05 21:54] nathanleclaire commented on #704
:+1: Fun stuff.

[2015-03-05 21:57] kevinsimper commented on #651
Got it working by using @ehazlett latest build https://docker-machine-builds.evanhazlett.com/latest/

The version that i had, even through it was version 0.1.0, not the swarm deploying

[2015-03-05 22:34] jeffdm commented on #721
This output may or may not help:

[code]

It seems like terminating VirtualBox with `pkill VBox` can cause some errors that span a couple issues. Will post more info if I learn more

[2015-03-05 23:25] alexisvincent commented on #641
+1

[2015-03-05 23:40] jeffdm commented on #531
@Elesant could reproduce this with a single VM by shutting down his Mac while the VM is running and then turning it back on.

[2015-03-06 00:13] schmunk42 commented on #721
Turns out that my docker machine did not get an IPv4 assigned.
Therefore the error and the problem that is *was* not accessible from outside.

My workaround was to stop the machine and manually set the secondary (eth1) network interface to NAT  in the VirtualBox Manager. So I gets an IPv4 address and Kitematic can at least connect.

 Host: OS X, probably related http://serverfault.com/q/217256/963

[2015-03-06 01:46] crosen188 opened #724 "syntax for "softlayer-private-net-only" flag"
The command works without the --softlayer-private-net-only flag, but I cannot determine what to use as the value for this flag.

docker-machine create --driver softlayer  --softlayer-api-endpoint "https://api.softlayer.com/rest/v3" --softlayer-api-key <id> --solayer-user "username" --softlayer-cpu "1" --softlayer-disk-size "0" --softlayer-domain "domain.softlayer.com" --softlayer-hostname "crsrv00

[2015-03-06 01:47] crosen188 opened #725 "softlayer "waiting for host to become available""
I am able to deploy a VM and can ping the IP after obtaining from the Softlayer console, but my Docker Machine command continues to sit here...

INFO[0000] Creating SSH key...
INFO[0004] Getting Host IP
INFO[0027] Waiting for host to become available

docker-machine create --driver softlayer  --softlayer-api-endpoint "https://api.softlayer.com/rest/v3" --softlayer-api-key <id> --solayer-user "user

[2015-03-06 02:09] saulshanabrook commented on #719
OK I figured it out, it is only when I use fish shell....

[code]

Must be something about how their subcommand works differently.

[2015-03-06 02:09] #719 closed

[2015-03-06 04:02] ehazlett commented on #531
@stephenlawrence can you try my PR above and see if that solves the issue?  it should as it will regenerate the certs for the instance.

[2015-03-06 04:04] ehazlett commented on #651
Thanks for reporting.  I'll add a test for this.

[2015-03-06 04:04] #651 closed

[2015-03-06 04:04] jeffdm commented on #531
#702 fixed this for me :smiley: Regenerating the certificate after `machine start` works after I reboot my Mac.

[2015-03-06 07:13] sirlatrom commented on #681
Closing this as duplicate of #625.

[2015-03-06 07:13] #681 closed

[2015-03-06 10:35] ehazlett commented on #531
@jeffdm thx for the feedback!

[2015-03-06 10:41] ehazlett commented on #479
@vdemeester are you adding delays in the script?  with VirtualBox, if you create the VMs too quickly, virtualbox will do that exact error.  For example, in @nathanleclaire multiple instance PR, he doesn't launch them concurrently but rather queues them because of this behavior.

[2015-03-06 10:46] ehazlett commented on #642
@knarz I think this will be part of the driver refactor (#554).  Feel free to connect in that one if you would like to help!  We are working through what the design looks like for the refactor which should be done very soon.  Once we have that, we can address this.  Thanks!

[2015-03-06 10:49] stenstad commented on #679
@ggiamarchi That's awesome, it's hard for us that use V3 domains. :-)

[2015-03-06 10:53] ehazlett commented on #721
Thanks for reporting.  We will probably need more checks around the IP allocation and possibly a timeout with an error in case it doesn't get one.

[2015-03-06 10:55] ehazlett commented on #724
/cc @cpuguy83

[2015-03-06 10:55] ehazlett commented on #725
/cc @cpuguy83 do you know why this would occur?  Are there any firewall rules etc. that are not getting set for some reason?

[2015-03-06 10:56] ehazlett commented on #716
/cc @frapposelli

[2015-03-06 10:59] ehazlett commented on #703
Right now, Ubuntu is the only supported base OS.  We are working to integrate cloudinit support soon to offer more options.  Thanks for the feedback!

[2015-03-06 10:59] #703 closed

[2015-03-06 11:00] ehazlett commented on #701
Thanks for reporting.  We are wanting to add daemon configuration in the upcoming cloudinit support.  You can follow the development in #699.  Thanks!

[2015-03-06 11:00] #701 closed

[2015-03-06 11:01] ehazlett commented on #698
@superbeeny thanks for reporting.  right now, only Ubuntu is supported as a base OS but we are wanting to add more options via cloudinit. See #699 for details.  Thanks!

[2015-03-06 11:51] vdemeester commented on #479
@ehazlett Yes I added a delay 5 to 10s and it's working a little better, few of nodes have created but in the end I got same error for one node.

What's strange is that docker-machine is waiting for the VM to start, but if I look at the VirtualBox machine (using the UI), I see that boot2docker is started.. It seems that for a reason I don't know, docker-machine do not detect that it's started in s

[2015-03-06 13:05] bfirsh commented on #531
I think this is still an issue. Two possible solutions I can think of:

 - Assume that IP addresses are going to change. Do we need to check the IP address in the TLS handshake? Can't we validate the specific certificate that the machine has?
 - Not rely on DHCP. Perhaps we can give VMs static IPs?

[2015-03-06 13:40] bfirsh opened #727 "Idea: call the thing that Machine creates "hosts""
"Use Machine to create a machine."

[This is kind of my fault, sorry.](https://github.com/docker/machine/pull/84) In documentation and so on, I find it very confusing trying to explain this sort of thing. The only distinction we make between Machine and a machine is whether it's a proper noun or not.

How about we call the thing that Machine creates a "host"? That's a word we've been using for age

[2015-03-06 13:41] bfirsh commented on #727
(I'm calling this an "idea" because I don't have any strong opinions... something less forceful than a proposal. ;)

[2015-03-06 15:35] hairyhenderson commented on #727
Would this be just a documentation change, or would also change directory name(s) and source code?

Personally I prefer the term "host" too

[2015-03-06 16:59] nathanleclaire commented on #479
@vdemeester Sorry to hear about the trouble.  Could you please post the following information when you get a chance (it will help greatly in debugging):

- Host OS and OS version
- Virtualbox Version
- Full debug output from a failed command

Thanks!

[2015-03-06 17:00] nathanleclaire commented on #554
FYI @ehazlett : I have a big patch bomb in the works that will fix most of these issues (anticipate getting that in today)

[2015-03-06 17:03] nathanleclaire commented on #554
(for making the SSH operations more agnostic / pulling provisioning out of drivers / saving sooner after create - I don't think it steps on the toes of #550 _too_ much)

[2015-03-06 17:14] cpuguy83 commented on #725
Hmmm... maybe here: https://github.com/docker/machine/blob/master/drivers/softlayer/driver.go#L299-L301
Maybe we can throw those errors into debug logs to see why it could be erroring.

[2015-03-06 17:17] oppegard commented on #641
+1

Agreed this should be documented; I also spent a fair bit of time trying to figure out if I was doing something wrong since no error was given and the missing feature isn't documented.

[2015-03-06 17:21] ahmetalpbalkan opened #731 "UX: machine saves failed creation"
I see that machine is saving the machine info even though `machine create` fails. If that's the by design behavior, please close this. IMO, this should be transactional (and should attempt cleaning created artifacts after "error creating the machine") because if it fails user most probably will try to create it again with the same name.

[code]

[2015-03-06 17:35] ahmetalpbalkan opened #732 "env output is not compatible with windows"
[code]

export wouldn't work on windows cmd.exe/powershell. We must generate the correct output for cmd/ps and must also keep in mind that user might be running on mingw(msys)/cygwin and in that case this output is already valid (except the cert path though). I may fix this some time, not top priority.

[2015-03-06 17:36] ahmetalpbalkan opened #733 "windows: bash-style eval shown in cmd.exe/powershell"
[code]

the last line doesn't make much sense as cmd.exe/powershell won't support it. We must find the windows equivalent (can't tell from off the top of my head) or tell people what to do instead.

[2015-03-06 17:39] ahmetalpbalkan opened #734 "Be consistent with docker in DOCKER_TLS_VERIFY usage"
docker-machine env output shows

    export DOCKER_TLS_VERIFY=yes

although that might be working, that's not the value generally used in docker docs in general (`1` is the one in the docker docs) and when I first saw it I was confused. In fact this usage appears only in machine-related repos/discussion according to google.

We should probably speak the same language with docker/docker repo. Treat

[2015-03-06 17:40] ehazlett commented on #554
lol ok -- perhaps next time we can discuss prior to patch bombs :)

[2015-03-06 17:44] ehazlett commented on #727
I personally like "instance" but I'm not very strong on it either.

[2015-03-06 17:46] ehazlett commented on #733
Thanks!  I think, for now at least, we recommend that users install msysgit which gives them bash I believe and this works.  I agree with you we need to get to supporting cmd.exe/powershell at some point.

[2015-03-06 17:47] ehazlett commented on #732
See https://github.com/docker/machine/issues/733#issuecomment-77602371 (we currently recommend to install msysgit which has bash).

[2015-03-06 17:49] ahmetalpbalkan commented on #733
@ehazlett I am hoping to help with that in the long term. I wasn't aware of msysgit recommendation since I haven't seen it in the docs https://docs.docker.com/machine/

[2015-03-06 17:51] ehazlett commented on #731
Thanks for the feedback.  We've gone round and round on this one.  We chose not to automatically cleanup as we don't want to do uncertain destructive operations.  We are working on getting the proper creation and removal behavior (including possibly using discovery instead of explicit stores).

[2015-03-06 17:51] ehazlett commented on #733
@ahmetalpbalkan ugh well then it was removed from the readme.  It was in there at one point.  I'll get it back.  Thanks!

[2015-03-06 17:52] ehazlett commented on #733
and thanks for helping!  it is greatly appreciated!

[2015-03-06 17:58] ahmetalpbalkan commented on #731
Sounds good then, I'm closing in favor of other discussions.

[2015-03-06 18:00] nathanleclaire commented on #554
Heh, yeah- that's why I'm letting you know now before I make the PR.  It's turned out to be a bit of a bigger change than expected.

[2015-03-06 18:15] shawnzhu commented on #734
According to the [docker CLI doc](https://docs.docker.com/reference/commandline/cli/):

Yes, `1` is what is showed in the code example of doc, but *any value other than the empty string* works as that in the doc :)

[2015-03-06 18:18] ehazlett commented on #554
Ok well in that case let's try to focus on getting a solid design in place and then we can work on it.  I think we get sidetracked solving other problems which pulls us in different directions.  What I wanted from this was a general consensus that it was a good direction and feedback.  I realize we don't have a lot of contributors yet so I think it's fine.  What I didn't want was to have multiple

[2015-03-06 18:21] ahmetalpbalkan commented on #734
@shawnzhu :smile:  we should make it

     export DOCKER_TLS_VERIFY=damn straight yeah

[2015-03-06 18:28] ehazlett commented on #731
Ok thanks!

[2015-03-06 18:29] ehazlett commented on #479
@vdemeester that's the same behavior I've seen too.  You can see the thumbnail of it running but never gets an IP.  I think it would be beneficial to add a flag to not make the VM headless -- then we could at least login via the console to debug.

[2015-03-06 18:30] nathanleclaire commented on #554
Yes, I agree - that's why I wanted to tip you off - next time I will make sure to let you know what I am planning before beginning work.

Agreed again - I will open a PR ASAP

[2015-03-06 18:42] ehazlett commented on #554
cool thx

[2015-03-06 18:47] bytepoet commented on #731
Was hoping there would be an easier way to make docker-machine ls reflect the truth as stated by api return from the provider.

Right now if I remove a host from the provider web page manually, it still shows up in docker-machine ls, in which I remove with cli-fu. And put it on the expire list.  After 24 hours of "error" it executes a small cleanup script.

[2015-03-06 19:26] shawnzhu commented on #734
@ahmetalpbalkan I would prefer to clarify this in docker first because the semantic `any value other than the empty string` was introduced in docker/docker#8503

[2015-03-06 19:46] shawnzhu commented on #734
This reminds me that it should use `--tlsverify` instead of `--tls` when performing command `docker-machine config`. see #736

[2015-03-06 19:47] cwilkes commented on #531
I'm having a similar problem ... the Cisco VPN client I'm using sets up ipfw rules which pretty much block the ability to go to 192.168.x addresses that are bound to vboxnetN.

So I setup a port mapping rule in virtualbox so that 127.0.0.1:2376 hits the docker server.  The trouble is is that the docker server's certificate is for 192.168.99.101 not 127.0.0.1:

$ export DOCKER_TLS_VERIFY=""
$ docke

[2015-03-06 19:53] ahmetalpbalkan commented on #731
In this example above, a check for `ssh-keygen` with exec.LookPath just after we start "create" can help a great deal avoiding this problem most of the time –at least on windows.

[2015-03-06 19:53] ahmetalpbalkan commented on #731
sorry, mistakenly reopened.

[2015-03-06 19:53] #731 closed

[2015-03-06 19:55] ahmetalpbalkan commented on #734
@shawnzhu that's just a comprehensive feature. my point was being consistent with usage examples across repos.

[2015-03-06 20:26] vdemeester commented on #479
@nathanleclaire Yes :)

The Host is Archlinux, current update (as it's a rolling release, there no real way to point out a version). It makes me think I did not try my script on Ubuntu 14.04 for example, I'll keep you update when I do that (this week-end probably)

[code]

The output is big (and I did not redirect it in a file so for now, it's just the end part — creation of node3 and node4) so I

[2015-03-06 20:29] dudymas opened #737 "support openstack-floatingip-pool without neutron"
## Summary
I expect docker-machine's openstack driver to support floating ip arguments even if I don't have a neutron service running.
This is likely a feature request... definitely a documentation bug ( documentation should specify that neutron is required for floating-ip at this point)... and maybe a bug too.

## Analysis
Given an openstack cluster with purely nova-based networking.

I expect th

[2015-03-06 20:30] sthulb commented on #727
Host is fine.

[2015-03-06 20:31] sthulb commented on #732
I think in the future, we should support at least powershell

[2015-03-06 20:33] sthulb commented on #733
The console on windows bothers me. Perhaps we can have console adapters, especially one for windows.

[2015-03-06 20:41] sthulb commented on #531
@cwilkes there is/was an issue to allow that to be configured.

[2015-03-06 20:54] hairyhenderson commented on #491
@nathanleclaire - if there's a way to add a cert to machine's trusted cert list, would it be possible to get machine to add `/Libraries/Keychains/System.keychain` by default? Or is that not a good idea (or impossible) for some reason?

[2015-03-06 20:56] hairyhenderson commented on #737
+1

I've run into this before - except in my case we _are_ using neutron, but it was just blocked by default. I know my IT folks would rather lock down that port again.

[2015-03-06 21:17] ehazlett commented on #732
I agree -- but I defer to @ahmetalpbalkan as he has better domain knowledge than I do.

[2015-03-06 21:20] ehazlett commented on #731
@bytepoet i think this is something that a discovery type of service instead of an inventory would be really nice.

[2015-03-06 21:25] ehazlett commented on #737
/cc @ggiamarchi

[2015-03-06 21:26] ehazlett commented on #734
I think you both are correct ;)  I'll get a fix :)

[2015-03-06 21:39] #734 closed

[2015-03-06 22:55] nathanleclaire commented on #727
Heh.  I'm -1 on changing on terminology inside the code or in our general approach to explaining things at this point (more important things to do IMO), but an FAQ / glossary in the docs (as well as a discussion in a style guide if we evolve one) would probably go a long way.

i.e.:

### Terms

**Docker Machine** - The open source project and binary which is used to create and control new compute

[2015-03-06 23:02] arun-gupta opened #742 "Not able to create VM on Windows 7"
Downloaded Virtual Box 4.3.24 and Docker Machine 0.1.1. Creating a machine on Windows 7 just hangs with the following message:

C:\Users\Arun Gupta>.\Downloads\docker-machine_windows-amd64.exe create --driver virtualbox dev
←[34mINFO←[0m[0000] Creating CA: C:\Users\Arun Gupta.docker\machine\certs\ca.pem
←[34mINFO←[0m[0000] Creating client certificate: C:\Users\Arun Gupta.docker\machine\certs
\cert

[2015-03-06 23:06] ehazlett commented on #727
Cool.  Hosts it is.  @bfirsh do you want to open smaller issues with where this needs updated?  I imagine at least the docs and readme but perhaps more.

[2015-03-06 23:09] ehazlett opened #743 "Define Driver Standard Interface"
This will define the standard driver interface to be used in all drivers.   Most of it is already defined but this will finish it so we can merge the new drivers.

Refs #554

[2015-03-06 23:10] ehazlett opened #744 "Remove SSH operations from drivers"
The drivers should not be responsible for SSH operations.  This proposes to have functions in the driver to get the SSH configuration and a separate package for the operation.

Refs #554

[2015-03-06 23:41] ehazlett commented on #553
Updated scope to be more manageable for this first pass.  We can iterate after feedback.

[2015-03-07 00:19] cwilkes commented on #531
Looks like https://github.com/docker/machine/pull/702 might help me out, and I see it was pushed into master today https://github.com/docker/machine/compare/v0.1.0...master .  Hopefully there will be a 0.1.1 release soon :)

[2015-03-07 00:27] nathanleclaire commented on #742
Hi @arun-gupta, thanks for reporting the issue.  Come to think of it, I get the same bug on my Windows machine at home....  there must be an issue with the way that we are figuring out that the machine has started up.

Can you paste the output of running the same command with `-D` flag at the beginning to show all of the debug output when you get a chance?  Thanks.

[2015-03-07 00:42] arun-gupta commented on #742
Try to run the command again gives:

[code]

Deleted the machine using VirtualBox UI, and deleted all the associated files. Still getting the same error.

[2015-03-07 00:45] arun-gupta commented on #742
Deleted .docker and .VirtualBox directories and now getting the following message:

[code]

[2015-03-07 00:47] sthulb commented on #742
I ended up in this loop today as well.

[2015-03-07 00:58] arun-gupta opened #745 "OSX binary corrupted"
Download instructions from https://docs.docker.com/machine/ for OSX_64 refer to https://github.com/docker/machine/releases/download/v0.1.0/docker-machine_darwin-amd64. Clicking on this link downloads the file, and that too without a .dmg extension.

Adding .dmg extension, and opening it, reports the download is corrupted.

[2015-03-07 01:02] ahmetalpbalkan opened #746 "multi-machine accepting commands without any machines"
[code]

I don't have any machines, I would expect these commands to fail with error "no active machines" but they successfully exited.

[2015-03-07 01:15] arun-gupta commented on #745
Never mind, false alarm! :)

Didn't realize its the script itself, not a .dmg.

[2015-03-07 01:15] #745 closed

[2015-03-07 01:16] hairyhenderson commented on #745
It's not a .dmg, it's a binary. Just copy it somewhere and execute it in Terminal :)

[2015-03-07 01:52] arun-gupta commented on #745
I had chmod +x it, so will file a separate bug for that.

[2015-03-07 02:17] arun-gupta opened #747 "Rename download scripts to be compatible with Compose"
I love the ability to download Compose as:

[code]

It would be great if Machine downloads are named accordingly as well.

[2015-03-07 11:26] thaJeztah commented on #727
Perhaps late to the party (catching up); when used in combination with Swarm, a `host` created by Machine will be called a `node` in swarm terminologies; will that be confusing for users? Does it need some explanation what the difference between a "node" and a "host" is?

[2015-03-07 12:41] jangelfdez opened #749 ""ForbiddenError, Message: The server failed to authenticate the request" on Windows using Azure Driver"
Hi!

I was trying to create a virtual machine using Azure driver from my Windows machine but following the documentation steps is not fruitful.

First, using a Linux VM with Ubuntu installed I run the following commands to get my certificate:
[code]
Second, using WinSCP I copy the files to my local Windows machine in the same directory running docker machine. I upload the .cer file to Azure and  I

[2015-03-07 15:27] slashk opened #750 "virtualbox provider cannot start paused or saved VMs"
The virtualbox driver cannot start VMs in the `paused` or `saved` states. The current logic only will start VMs in the `stopped` state. VMs will get into these states often on laptop due to power settings.

The driver should be able to start or resume VMs in these states.

[2015-03-07 22:20] ggiamarchi commented on #737
Yes, the current implements only works with neutron. We should definitely support both neutron and nova-nework.

The reason why only neutron is supported is because when the driver had been developed Gophercloud did not provide implementation for nova-network floating IPs (maybe not a good reason). Now it does.

To deal with that in the driver we should check if neutron service is available in the

[2015-03-08 06:19] dmp42 commented on #130
FWIW: machine is now available in brew cask - it does depend on the cask boot2docker install, which messes things up.

[2015-03-08 22:03] dudymas commented on #737
@ggiamarchi good to know I won't have to make a PR to Gophercloud too.

You think I should make the PR? or would is someone already planning to mess with the openstack driver? I don't mind being assigned to this... just don't expect it instantly... more like by the end of next week.

[2015-03-08 22:22] ggiamarchi commented on #737
@dudymas Yes, of course, feel free to submit a PR. As far as i know, nobody is currently working on this one.

[2015-03-09 01:45] cpuguy83 commented on #724
This is just a bool, so just passing the flag in with no arguments enables private-only networking.

[2015-03-09 01:57] crosen188 commented on #724
docker-machine create --driver softlayer  --softlayer-api-endpoint "https://api.softlayer.com/rest/v3" --softlayer-api-key <id> --solayer-user "username" --softlayer-cpu "1" --softlayer-disk-size "0" --softlayer-domain "domain.softlayer.com" --softlayer-hostname "crsrv001" --softlayer-image "UBUNTU_LATEST" --softlayer-memory "4096" --softlayer-private-net-only --softlayer-region "dal09" sltest003

[2015-03-09 02:02] cpuguy83 commented on #724
@crosen188 you have `solayer-user` instead of `softlayer-user`.
It also looks like you are setting all the options to their default values... no need for this.
The only required flags are domain, user, and apikey

[2015-03-09 03:28] smolix commented on #226
+1 Yes, spot instance support would be great. Persistence is probably one of the key issues that might cause headaches since this will affect whether the number of available machines can ever go back up again.

[2015-03-09 08:48] pmario commented on #647
Due to this revert: https://github.com/docker/machine/commit/8b6ccddd801e2f2397ea116ed82f6c936485931f it needs to be opened again.

cc: @agocke

[2015-03-09 09:01] pmario commented on #647
@agocke imo you should open your PR #672 again.

[2015-03-09 10:42] tyrbo opened #755 "Custom args in boot2docker profile?"
I'm needing to override the bridge IP address (--bip) as the default address clobbers VPN usage. Originally, with boot2docker, I built an ISO with the changed address included. It seems that docker-machine overwrites the /var/lib/boot2docker/profile file, killing my change along with it.

Adding it after the fact is an option, but is not ideal for my use case.

I didn't see anything in the docs ab

[2015-03-09 12:55] LaynePeng commented on #755
I proposed this before, but machine is integrating Cloud-init, and will release in 0.2.0. So, just pay patient.

[2015-03-09 13:04] LaynePeng commented on #755
refer to:  #701

[2015-03-09 13:46] crosen188 commented on #724
Thanks @cpuguy83, the copy/paste got me because I had deployed successfully before trying to add the --softlayer-private-net-only flag.  Is there or any plans to add support for specifying the VLAN for deployment?

[2015-03-09 15:08] tyrbo commented on #755
Thanks, didn't catch that one. :)

[2015-03-09 15:08] #755 closed

[2015-03-09 15:21] flurdy commented on #675
This is the same issue with Amazon ec2, and I presume any cloud provider where the IP might change if you stop an instance.

[2015-03-09 15:25] bfirsh commented on #130
I don't think Homebrew should be the recommended install path, but I don't think there's any harm having a brew available.

That said, it sucks it depends on boot2docker, so we should probably have that fixed.

[2015-03-09 15:25] flurdy commented on #675
Though it is a known issue as in this case with the VMWare Fusion driver: https://github.com/docker/machine/issues/430 and

[2015-03-09 15:29] bfirsh commented on #727
I am purely talking about the terminology we use to communicate through docs and the UI. That said, it probably makes sense for us to use the same terminology in the code too. (Which conveniently happens to be "host". ;)

We've got `~/.docker/machine/machines` though, which is a bit annoying. (Sorry @ehazlett, my fault again!)

[2015-03-09 15:29] bfirsh commented on #727
@thaJeztah Yes, I think it is a bit confusing that we use both "host" and "node". Swarm could clarify that a node is a host which is part of a Swarm, but it would be really good if we could agree on a single term. /cc @aluzzardi @vieux

[2015-03-09 15:33] bfirsh commented on #727
@ehazlett ["Host" is a term that we already widely use.](https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=site%3Adocker.com%20host) Open to suggestions though... I think "instance" could be too cloud specific.

[2015-03-09 15:34] bfirsh commented on #727
"Engine" could be another word we could use, if we wanted to conflate the host and the daemon running inside it.

[2015-03-09 15:35] sthulb commented on #727
@bfirsh I had the same thought... Docker uses the term host in most places.

[2015-03-09 19:50] ehazlett commented on #727
@bfirsh host is fine with me.

[2015-03-09 19:58] thaJeztah commented on #727
I'm +1 on host ("engine" and "instance" are only confusing I think) with the added note that "node" (in context of swarm) needs a short explanation in the docs.

[2015-03-09 20:46] nathanleclaire opened #757 "docker-machine should wait for proper state to be fulfilled before returning from stop, start, etc. commands"
When we do a command like `docker-machine stop`, not all drivers wait for the machine to be down before returning.  Some fire off an API request and immediately return.  We should wait for the machine to be in the desired state before returning from the command.

This is needed for:

- start
- stop
- restart
- kill

[2015-03-09 20:56] nathanleclaire commented on #744
So, after https://github.com/docker/machine/pull/756, the next step probably will be to move the logic for waiting for the IP address into the `GetIP` method in the drivers - this will allow us to have just one catch-all "wait for ssh" check in what is currently `host.go`, and consequently the drivers will get to save their config a lot sooner, which is a big step forward because it narrows the fa

[2015-03-09 21:56] wzymaster commented on #725
for me,  it sits there for ever like below  :

[0000] Creating SSH key...
INFO[0005] Getting Host IP
INFO[0028] Waiting for host to become available
INFO[0191] Configuring host OS
...

[2015-03-09 22:27] wzymaster opened #759 "OS image doesn't work for SoftLayer driver"
I have tried the below command to create a VM(CentOS) on SoftLayer  but it still brings me UBUNTU :+1:

./docker-machine create --driver softlayer \
     --softlayer-user xxxx \
     --softlayer-api-key yyyy \
      --softlayer-cpu 2 \
     --softlayer-memory 4096 \
     --softlayer-disk-size  0 \
     --softlayer-domain imdemocloud.com \
     --softlayer-hostname  DBServer2  \
     --softlayer-im

[2015-03-09 23:39] hairyhenderson commented on #759
I wonder if the "hanging there forever" thing is the same issue that's come up in #725...

[2015-03-09 23:44] hairyhenderson commented on #759
And... yeah, currently the driver is [hard-coded to UBUNTU](https://github.com/docker/machine/blob/master/drivers/softlayer/driver.go#L205). I'm not sure if this is on purpose, though I do know that docker-machine currently only properly supports Ubuntu.

[2015-03-10 00:26] shawnzhu commented on #669
The error message indicated that the downloading path is wrong. see [my comment](/docker/machine/issues/670#issuecomment-77972562)

[2015-03-10 02:42] ehazlett commented on #725
This was fixed in #760

[2015-03-10 02:42] #725 closed

[2015-03-10 02:44] ehazlett commented on #724
@cpuguy83 thanks.  @crosen188 right now there are not plans to add VLAN support but feel free to open a separate issue.  thanks for reporting!

[2015-03-10 02:44] #724 closed

[2015-03-10 02:45] hairyhenderson commented on #759
I'll have a PR ready hopefully tomorrow for this.

[2015-03-10 02:46] ehazlett commented on #647
Yes, I think we should use `command` as it is much better.  I had to revert 8b6ccdd because it removed the check for local drivers.  I think the rest is ok.

[2015-03-10 02:48] ehazlett commented on #737
@dudymas that would be awesome!  like @ggiamarchi said, I don't know of anyone working on this so that would be great! thanks!

[2015-03-10 02:50] ehazlett commented on #531
Ok after discussing this with @sthulb and @nathanleclaire I think we should do a check similar to what b2d does.  We can inspect the IP at start of the machine and compare that against the IP SAN in the cert.  If they don't match, we can regenerate.  Thoughts @sthulb @nathanleclaire ?

[2015-03-10 08:17] sthulb commented on #531
Agreed.

[2015-03-10 12:55] motin commented on #721
Having the exact same issue. Latest OS X Yosemite and VirtualBox (4.3.24)

[2015-03-10 15:40] bfirsh opened #762 "Use $(docker-machine env) in getting started guide"
It's confusing that the getting started guide switches between `$(docker-machine config)` and `$(docker-machine env)`. We should show you just one way to do it in the getting started guide. My vote is for `$(docker-machine env)` because that's how you're more likely going to do it when working normally.

[2015-03-10 15:50] hugespoon opened #763 "Softlayer sudo TTY issues"
When provisioning machines with the Softlayer driver, I get the following output:

[code]

This seems to be possibly an issue with sudo and needing to use DEBIAN_FRONTEND=noninteractive.

[2015-03-10 17:26] hairyhenderson commented on #763
I'm working on a PR for this :)

[2015-03-10 17:28] hairyhenderson commented on #763
Just to be clear - I don't think the problem is with the `sudo` specifically, but with `debconf` and its need for the `DEBIAN_FRONTED` env variable to be set to `noninteractive`.

[2015-03-10 17:41] nathanleclaire commented on #531
Yes please @ehazlett

[2015-03-10 18:48] nathanleclaire commented on #762
+1 I think it's just that no one updated the docs since `config` was in vogue

[2015-03-10 19:21] nathanleclaire commented on #554
This is working well for me so far.  Virtualbox, DigitalOcean, and EC2 have all worked well without issues except for the lack of SSH username in existing VM like mentioned in IRC.

[2015-03-10 20:13] ehazlett commented on #759
So this will not work as it is because we currently only support Ubuntu.  This is due to the Docker daemon config path and how we currently setup the TLS certs.  We are adding support for cloudinit which will help in customizing and using other base OSs.

[2015-03-10 20:21] wzymaster commented on #759
Do you have ETA for cloudinit so that I can provision other than Ubuntu OS on IBM SoftLayer ?

[2015-03-10 20:38] sthulb commented on #554
Same for me. I've tried EC2 + VMware

[2015-03-11 01:54] hairyhenderson opened #765 "SoftLayer SSH keys should be deleted when the corresponding host is deleted"
I was just troubleshooting a bunch of stuff related to the SoftLayer driver, and created a few dozen new hosts in the process. Even though `docker-machine rm -f myhost` did fine at cancelling the host, the associated SSH key wasn't deleted from SoftLayer.

I see in some other drivers the remote keys are trashed when the host is deleted (during `docker-machine rm myhost`).

I can probably provide a

[2015-03-11 02:11] hairyhenderson opened #766 "SoftLayer driver should support specifying VLAN for public and private interfaces"
This is important for the use case where there are isolated VLANs for pre-production and production environments in a given SoftLayer account. If a VLAN isn't specified, the created host can end up in the wrong environment.

I'm suggesting some new flags:
- `--softlayer-public-vlan-id` - the ID of the VLAN for the public interface
  - would refuse to run if `--softlayer-private-net-only` is set
-

[2015-03-11 05:58] thomgit commented on #504
+1

[2015-03-11 07:24] ehazlett commented on #721
thanks @motin.  we are working on a provisioner and driver refactor that will address these issues.  we will have something for you to test soon.  thanks for reporting!

[2015-03-11 12:42] killerwolf commented on #531
+1 having the same issue

[2015-03-11 14:34] johnzan commented on #479
Hi, Just tried docker-machine and I'm encountering the same issue.
Here's the details of the system that I'm running on.. (hope it helps).

I'm running this on Linux Mint, here are the details..

--8<-- snip -----------------------------------------------
johnzan@johnzan-lxc-wks ~ $ cat /etc/*release*
DISTRIB_ID=LinuxMint
DISTRIB_RELEASE=17
DISTRIB_CODENAME=qiana
DISTRIB_DESCRIPTION="Linux Mint 17

[2015-03-11 14:50] #759 closed

[2015-03-11 17:22] rrarunan commented on #750
+1 @slashk .. I had the same issue today. Couldn't start a  VM which went into a `saved` state.

[2015-03-11 18:24] duro commented on #531
I am running into this as well. I spun up a machine using the AWS driver and then assigned an Elastic IP to the box. Tried stoping and starting the machine via the CLI, but every time I run a `docker ps` after activating the env I get:

[code]

I did try to manually change the IP in the `~/.docker/machine' config. That did not work.

[2015-03-12 03:00] #763 closed

[2015-03-12 03:32] lavadiablo commented on #512
right click the bash and choose "Run as administrator" should work. Windows have more security restriction even you logged in as administrator.

[2015-03-12 04:32] ehazlett commented on #531
@duro @killerwolf @cwilkes @jeffdm @stephenlawrence @md5

please checkout #770.  this adds auto-regeneration in the event of a certificate error.  note that it only works with the `config` and `env` commands so if you have an issue with docker (i.e. `docker ps` etc) you will need to run `$(docker-machine env <name>)` or `docker $(docker-machine config <name>) ps` to have them fixed.  That PR also

[2015-03-12 08:55] TrumanLing opened #771 "subcommands start, stop, restart, kill, upgrade will crash while no active machine"
[code]

Detailed error messages are as following:

[code]

[2015-03-12 09:16] dreampuf commented on #13
+1

[2015-03-12 09:55] torvitas commented on #504
+2

[2015-03-12 13:13] ehazlett opened #773 "Proposal: Machine Declaration"
We currently use `store` to persist machine information (IP, credentials, name, etc).  This works mostly but has some flaws.  First, if the infrastructure is modified (machine name, size, IP, etc) or removed then we drift.  The store almost has to be assumed in drift as soon as we create a machine.  We also do not update the store with the machine info either.

This proposal would bring together a

[2015-03-12 14:05] ehazlett commented on #554
@nathanleclaire i've addressed the SSH username issue here https://github.com/docker/machine/pull/756#issuecomment-78416155  thx!

[2015-03-12 14:37] ehazlett commented on #762
SGTM

[2015-03-12 14:38] ehazlett commented on #749
/cc @jeffmendoza

[2015-03-12 14:38] ehazlett commented on #747
Thanks for reporting.  Duplicate of #494.

[2015-03-12 14:38] #747 closed

[2015-03-12 14:39] ehazlett commented on #747
We will get this updated -- it bugs me too ;)

[2015-03-12 15:21] ehazlett commented on #773
/cc @sthulb @nathanleclaire @bfirsh

[2015-03-12 16:33] runseb commented on #512
I have exactly the same issue @SvenDowideit Window 8.1 Enterprise downloaded today from MSDN. I have to specify the switch manually with --hyper-v-virtual-switch it is not found automatically. And then I have the permission error you are seeing even though I enabled the exe as "run as administrator".
When I downloaded the exe I think it said the signature was not verifiable.

[2015-03-12 17:06] runseb commented on #512
Ok got that one @SvenDowideit you need to run the command prompt as administrator. In the "Apps" window, right click on the "cmd" and it opens the shell as Administrator

[2015-03-12 17:51] runseb commented on #512
I think there is a problem with ipv6 on windows8. Machine picks up the first IPaddress which is ipv6...seems to be preventing ssh connection to the VM....giving up...back to linux

[2015-03-12 19:54] mwieczorek opened #774 "Azure driver - Error creating machine: exit status 1"
Hi,
I'm using:
[code]
I run command:
[code]
but getting error:
[code]
I checked on azure portal:
New storage account was created but there's no VM.

Any idea what am I doing wrong?
I run that command also with --debug
[code]

[2015-03-12 21:37] #743 closed

[2015-03-12 22:00] petersellars commented on #721
I also hit this issue on Windows 8.1/Virtualbox 4.3.20 - using 0.1.0 (latest from the Docker documentation page).

I noticed the docker-machine VM was using a different VirtualBox Host-Only Adapter compared to a working 'boot2docker' instance. I manually updated this to the same adapter (which has a DHCP Server) and restarted the machine. The docker-machine then picked up an ip address and I was a

[2015-03-12 22:17] nathanleclaire commented on #773
I'm really in favor of this.  "Read in a text file, spit out the system in the desired configuration" is a good goal.

However, I think we need to carefully design this before we start implementing.  Some concerns I can think of off the top of my head:

1. I create a machine based on my file, then go change some settings remotely.  Does machine detect that and update the file?  Or simply converge

[2015-03-12 22:39] rossbachp commented on #531
I detect the AWS IP change after normal reboot of the aws instance.
docker-machine ssh amazonec2-03 only work after manually edit the IPAddress at /.docker/machine/machines/amazonec2-03/confg.json

docker daemon certs don't work, I can check the #770 tomorrow.

[2015-03-12 23:34] Maxim-Filimonov commented on #13
:+1: on NFS share. We have experienceda very bad performance with shared folder even with vmware fusion. The only tricky part with we have found is that NFS sometimes doesn't bust a cache properly -> need to change file again for machine to pickup changes.

[2015-03-13 00:57] ehazlett commented on #773
Absolutely.  As titled "proposal" this is for discussion :)

This is what we need to discuss.  I can see pros and cons for both ways.

I am leaning this way too.

I don't think we should impose that.  Who are we to decide how people use it.  For example, there is nothing restricting compose users from spinning up lots of containers.  I think we should make people very aware of what it is doing wit

[2015-03-13 01:05] ehazlett commented on #774
Thanks for reporting and sorry you are having issues.  Is there no other output before the "exit status 1"?

[2015-03-13 01:07] hairyhenderson opened #776 "Scope down the usage message when typing `docker-machine create -d driver` to only list flags relevant to that driver"
Right now, `docker-machine create -d openstack` spits outs 113 lines of usage message, 104 lines of which are flags. Only 18 of these lines are actually relevant to openstack.

It's a pretty minor papercut, but if there's a trivial way to scope it down, that'd be real slick.

[2015-03-13 01:28] hairyhenderson commented on #773
+1

This makes a lot of sense - it would be nice in a UI sense for docker-machine and docker-compose to have more parallels. For people just starting to use and try to understand the Docker tools, it would probably be a huge help to have this kind of parity.

A few random thoughts:
- Why `apply` and not `up`? `docker-machine up` feels more natural if taking cues from docker-compose
- Having some w

[2015-03-13 04:23] silarsis opened #779 "hyper-v: certificate signed by unknown authority"
newly downloaded docker-machine, newly compiled docker client (compiled on windows).

`docker-machine create -d hyper-v dev` worked - I can see the machine running, and `docker-machine inspect` returns seemingly sane results.

interestingly, `docker-machine env` and `docker-machine inspect` appear to have differences - `env` says the DOCKER_CERT_PATH should be C:\Users\Kevin\.docker\machine\machin

[2015-03-13 07:29] mwieczorek commented on #774
No, there's no other content before 'exit status 1'.
I just put [...] instead of 'randomart image'.

[2015-03-13 08:40] rossbachp commented on #629
I dectect this after restart my aws instance with docker-machine 0.0.1:

[code]

ip and env use the runtime amazon ip, but ssh the older one from config.json!

It works at master branch... Nice, but now I need PR #770 right, to regenerate the cert?

[code]

Why machine doesn't update the config.json?

[2015-03-13 09:17] sthulb commented on #776
@hairyhenderson I agree, we definitely need to change this. I'm unsure what the best UX would be for this.

[2015-03-13 10:01] frankh commented on #691
I would like this too... It's not possible to use docker-enter directly now as you can't pass the -t flag to ssh

(you used to be able to do) ```boot2docker ssh -t sudo /var/lib/boot2docker/docker-enter "$@"```

[2015-03-13 13:45] #680 closed

[2015-03-13 15:08] bfirsh commented on #555
Work in progress here: https://github.com/docker/machine/pull/730

[2015-03-13 15:35] ehazlett commented on #531
PTAL @nathanleclaire @sthulb

[2015-03-13 15:35] ehazlett commented on #774
@jeffmendoza any idea what could be happening during the provisioning stage?

[2015-03-13 15:46] ehazlett commented on #773
@hairyhenderson great feedback! thanks!

I'm not set on the command names -- I think `apply` makes sense if we make it declarative as in if there are 6 instances with the identifying tag and we remove one to match the definition.  However, if we just operate like compose does (it will ignore additional containers i believe) then `up` would make sense too.

+1

Yeah I'm not sure how we would handle

[2015-03-13 18:03] nathanleclaire commented on #691
@frankh As an aside from the main thread:  I would highly recommend using `docker-exec` if you want to spawn a shell inside a container.  It's built into Docker so it's a lot more convenient.

[2015-03-13 19:27] thaJeztah commented on #773
+1. In future this could be extended to allow other storage mechanisms than a file.

FYI; this proposal in docker-compose is leaning toward having two separate files as well: https://github.com/docker/compose/issues/846 (a "definition" and a "configuration" file)

[2015-03-13 21:01] #757 closed

[2015-03-13 21:13] vdemeester commented on #479
It might no be related (and hasn't been referencing this issue) but it may help debugging problems : https://github.com/docker/machine/pull/775

[2015-03-14 00:37] include commented on #581
one more guy hitting on this problem. :/ I have many vpcs in many aws accounts. all of them share this pub/priv nat setup. I would love to run swarm here.

[2015-03-14 13:56] jangelfdez commented on #749
It was an ID10T Error Code, I will close the Issue ;)

[2015-03-14 13:56] #749 closed

[2015-03-14 14:22] smace opened #781 "[OS X] Docker not able to pick the right path to ca cert"
At the root of /Volumes I have 2 directories belonging to the 2 hard drives in my macbook pro, it seems that docker and/or docker-machine isn't able to handle directories with white-spaces in their names:

![capture d ecran 2015-03-14 a 15 17 33](https://cloud.githubusercontent.com/assets/1382456/6651962/5f7184ce-ca5d-11e4-863f-63facece4513.png)

[2015-03-14 15:51] rivaaj commented on #774
Experienced a similar issue. Can't say if the root cause is the same but in my case it was due to the openssl configuration on my windows machine. Once I set OPENSSL_CONF to point to a valid openssl.cfg the process succeeded.

I'm not much of a Go person but it seems that the azure driver swallows error output when shelling out to openssl and other tools.

[2015-03-14 21:22] hairyhenderson commented on #781
Does `$(docker-machine env dev)` work?

Looks like the cert path needs to be surrounded by double-quotes

[2015-03-15 09:01] blijblijblij opened #785 "docker-machine can be created without a name"
After running a incomplete docker-machine create, it did register something via virtualbox / localhost, but without a name. This should not happen.

Check the attached image

[2015-03-15 09:02] blijblijblij commented on #785
![screenshot from 2015-03-15 10 02 03](https://cloud.githubusercontent.com/assets/1648248/6655315/60b86fa8-cafa-11e4-95ee-717bf5259bd3.png)

[2015-03-15 10:14] josh-devops-center opened #786 "Parallels option"
It would be nice to set up docker machine using a Parallels provider in addition to the virtualbox provider.

[2015-03-15 10:43] loic opened #787 "Possible race/timeout issue on create with vmwarefusion driver"
With Fusion 7.1.1 and Machine 0.1.0, `docker-machine create --driver vmwarefusion` failed a few time with the command giving up before the VM was ready.

It worked when I started Fusion before running the command.

[2015-03-15 10:47] loic opened #788 "Fusion boot2docker VM aren't headless."
From my understanding `docker-machine create` is supposed to create a headless VM, but somehow I can see the running instance when I open the Fusion application (7.1.1).

Quitting the Fusion GUI suspends the boot2docker VM which is obviously not the expected behaviour.

[2015-03-15 14:39] teng-lin commented on #180
+1

[2015-03-16 08:21] smace commented on #781
How can I check if $(docker-machine env dev) works properly?

[2015-03-16 09:38] sthulb commented on #788
We can't actually fix this, it's a problem with VMware Fusion. The problem exists with the Library application taking over responsibility of the VMs.

This is the sam behaviour as Vagrant.

[2015-03-16 10:16] sthulb commented on #773
I like the concept.

#### Areas of interest
 1. What happens if a user updates their file, i.e. update the size of the VM. Do we perform a migration?
 1. How do we handle this in a client/server model? Do we store these files on the server and sync them back to the user?
 1. How do we handle failure?

There's probably a few more behaviour issues to work out.

[2015-03-16 11:22] hairyhenderson commented on #781
@smace - sorry - I meant to run the command in the terminal, then try running docker commands. I checked it myself though, and it doesn't work.

The PR I issued fixes the problem, though.

Until the PR is merged and you have a build with the fix, you can work around it by running `docker-machine env dev`, and copy-pasting the `export` commands, except for `DOCKER_CERT_PATH`, which you should chang

[2015-03-16 13:29] databus23 commented on #491
@hairyhenderson To my knowledge this is not possible without negative security implications. Using `/usr/bin/security -a -p find-certificate /Libraries/Keychains/System.keychain` to dump all certificates from the `System.keychain` is a security risk because not all certificates in the keychain are actually trusted. In fact you can have certificates in the system keychain which you explicitly distr

[2015-03-16 14:33] hairyhenderson commented on #491
@databus23 ah - I see... sounds like we need some other tool that's aware of trust settings.

[2015-03-16 15:10] databus23 commented on #491
@hairyhenderson I think the options outlined in my [above post](https://github.com/docker/machine/issues/491#issuecomment-76256467) are better solutions then trying to reimplemented the certificate trust setting evaluation as done by the *Security Framework* of OSX. Specifically option **3.** allows to still cross-compile using a docker container while having the exact same code path for x509 cert

[2015-03-16 15:14] md5 commented on #491
@databus23 I was looking into this recently and I don't believe the `security` command provides a way to list certificates anyways. I just tried your command under Yosemite and it complained about `-a` being unsupported.

I think the only way to programmatically get a list of certificates is to go to the low-level [`SecItemCopyMatching`](https://developer.apple.com/library/mac/documentation/Securi

[2015-03-16 15:30] databus23 commented on #491
@md5 It sure does. This is [how the go stdlib itself](https://github.com/golang/go/blob/master/src/crypto/x509/root_darwin.go) fetches the certificates for the `SystemRootCertificates.keychain` in a *nocgo* environment since v1.3.

[2015-03-16 15:37] md5 commented on #491
@databus23 Thanks. Looks like the command is actually `/usr/bin/security find-certificate -a -p /Libraries/Keychains/System.keychain`

I realize now that I was looking into enumerating passwords, not certificates.

[2015-03-16 15:56] ehazlett commented on #787
/cc @frapposelli

[2015-03-16 15:57] ehazlett opened #789 "Document Driver Updates"
Document the latest updates from the Driver refactor.

[2015-03-16 16:24] ehazlett opened #790 "Migration Path for boot2docker"
Document and figure out what needs to be done to migrate users from b2d to machine.

[2015-03-16 16:34] arun-gupta opened #791 "Offline version of Docker Machine"
Would like the capability to run Docker Machine in an offline mode. This should allow to download boot2docker ISO from a local network, and perform all settings without relying upon Internet.

This setup would be very relevant for lab setups in a conference setting.

[2015-03-16 16:36] smace commented on #781
Thank you very much this quick fix!

[2015-03-16 17:47] hairyhenderson commented on #785
@blijblijblij - what command did you run? was it something like `docker machine create -d virtualbox  `?

Based on the spacing in the error message, it seems that the issue isn't so much that a machine was created _without_ a name, as a machine was created with a name consisting of a single space character.

[2015-03-16 21:39] miskander opened #792 "Timeout when attempting to run any docker commands after starting a machine"
I am unable to run any docker, docker-compose commands after bringing up a docker machine. I get a timeout error when executing things like `docker ps` or `docker-compose up -d.` I am able to SSH to the image without any issues and I have confirmed it is running on the IP address listed by `docker-machine ip <name>`.

## Version Info
- docker-machine version 0.1.0
- Docker version 1.5.0, build a8a

[2015-03-16 23:03] nathanleclaire commented on #792
Hi @miskander, I'm assuming you set the environment variables using `$(docker-machine env <name>)` method?  Could you please print the output of :

- `docker-machine ls`
- `docker-machine env <name>`
- `env | grep DOCKER`

[2015-03-16 23:11] miskander commented on #792
@nathanleclaire Thanks, I did run that after the machine was created. Here is the output of those commands:

`docker-machine ls`
[code]

`docker-machine env <name>`
[code]

`env | grep DOCKER`
[code]

[2015-03-16 23:14] nathanleclaire commented on #792
Great, thanks.  Are you behind any kind of VPN or corporate proxy, or have anything funky happening in your networking configuration that you can think of?

[2015-03-16 23:19] miskander commented on #792
So my answer was going to be nope, all is normal and VPN is off as I tried that before. But what I decided to do was test again before I respond since I do use VPN throughout the day. I deleted `vboxnet0` interface though before I tried again, and low and behold it works. I probably provisioned the first machine while on VPN and the interface was just funky from that.

Sorry for the superficial is

[2015-03-16 23:19] #792 closed

[2015-03-16 23:20] nathanleclaire commented on #792
No worries @miskander.  Thanks for reporting!

[2015-03-17 00:54] #750 closed

[2015-03-17 07:17] rossbachp opened #796 "Start some ec2 machine in parallel, log some api errors...."
If I create some ec2 swarm machine in parallel:

[code]

it's log some failures....

[code]

but after 3 minutes all machines are created...

[code]

[code]

[2015-03-17 07:35] rajurs commented on #721
I am seeing somewhat similar results, on Windows 8.1 update 1. docker-machine create says the dev VM was created, but I don't see it in VirtualBox. Then I create a second machine dev2 and get the same result (cannot see the VM). A few more machines later, I get the IP address error. How do I activate the dev or dev2 VMs so that I can see it? Is this behavior expected if I already have Boot2Docker

[2015-03-17 11:30] hairyhenderson commented on #791
@arun-gupta - wouldn't the `--virtualbox-boot2docker-url` argument support this? Or alternately, the `VIRTUALBOX_BOOT2DOCKER_URL` environment variable?

Or is there something else that relies on Internet access?

[2015-03-17 15:31] ehazlett commented on #773
@thaJeztah cool thx!

[2015-03-17 15:51] ehazlett opened #797 "VirtualBox: error when running `restart` command to a stopped machine"
This is a regression.  When trying to run `restart` on a stopped machine, an error occurs.  Only tested in VirtualBox.

[2015-03-17 16:13] ehazlett commented on #721
@petersellars yes we have added checks for waiting for state.  The driver refactor has been merged as well so there should be better stability there.  Windows support is unfortunately lacking a bit at the moment and we are working to get that better.

@petersellars your comment about the b2d host-only adapter is interesting.  I will check to see if I can re-create.  That may have been part of the

[2015-03-17 18:04] #531 closed

[2015-03-17 18:27] ehazlett commented on #491
@databus23 I like the idea of using `gonative` as it stays in the docker container build flow.  The only thing that concerns me is the "Open Issue" of that it hasn't been tested on Windows but I think we could give it a shot.

[2015-03-17 18:31] ehazlett commented on #749
Thanks for the update!  I have plenty of those :)

[2015-03-17 18:45] ehazlett commented on #479
@johnzan could you try from master?  there was a fix to address the SSHPort issue.

[2015-03-17 18:46] ehazlett commented on #629
@rossbachp this has been fixed as part of https://github.com/docker/machine/pull/770.  thanks!

[2015-03-17 18:49] ehazlett commented on #512
@runseb ah ok.  we could probably adjust the `ip` command when checking for the IP in virtualbox.  sorry for the trouble!  thanks for reporting!

[2015-03-17 18:58] jangelfdez commented on #749
Yes, however, I have not been able to deploy something from Windows to Azure. I get always an error creating the machine, something like this: https://github.com/docker/machine/issues/774

[2015-03-17 19:12] arun-gupta commented on #791
Seems like file scheme is not supported:

[code]

I switched off Internet access before trying this command.

[2015-03-17 19:50] databus23 commented on #491
@ehazlett I might be misunderstanding this, but I think this statement means cross-compiling with gonative directly on windows is not tested. In docker-machine's case the container build flow ensures we always compile on linux. The author of gonative writes in the [accompanying blog post](https://inconshreveable.com/04-30-2014/cross-compiling-golang-programs-with-native-libraries/):

[2015-03-17 20:00] sthulb commented on #629
Rethinking this, I'm not sure we should store IPs for hosts. We should find a way to query them from the hypervisor.

[2015-03-17 20:54] ehazlett commented on #629
@sthulb +1 -- that's exactly what `GetIP` does in the ec2 driver now.

[2015-03-17 20:55] ehazlett commented on #629
@sthulb although some providers allocate a dedicated IP for the life cycle of the instance (i.e. digitalocean).

[2015-03-17 21:01] ehazlett commented on #491
@databus23 correct.  Ah ok -- perhaps I misunderstood -- I read it as "the cross compiled binary hasn't been tested on Windows".  I did see the comment from the blog so I think it's worth it to try.

[2015-03-17 21:02] ehazlett commented on #774
@ahmetalpbalkan any ideas here?

[2015-03-17 21:15] ahmetalpbalkan commented on #774
@ehazlett not really. need to debug sometime. Is this consistently happening? I'm not expecting anything from Azure side to be changed (as we even keep the image hardcoded) and we haven't refactored azure-logic recently. Have you created any azure machines after your big refactor?

@rivaaj It sounds like the windows error is independent of this one but you're right about the error being supressed/

[2015-03-17 21:17] rajurs commented on #721
I still don't see the VM. I am running Version 4.3.24 of VB and V1.5 of Docker Do I need to go down to the older version of VirtualBox and Docker and Boot2Docker?

[2015-03-17 21:18] sthulb commented on #629
Even still, I think we should query for them.

[2015-03-17 21:18] ahmetalpbalkan commented on #774
I just realized ssh-keygen is actually executed on windows side and @jangelfdez also consistently reproes this problem. Can one of you actually execute the printed ssh-keygen cmd on windows and see what's going on? you can get the exit code with `echo $?` just after executing the ssh-keygen command.

[2015-03-17 21:24] nathanleclaire commented on #629
This thread seems to have veered a bit from the original issue, but I wanted to chime in and say that my understanding / perspective is that one of the goals of this round of refactors _is_ to make this the case.  That way, the drivers don't have to poll for the IP address in `Create` like some do now (which widens the window of failure before a config save) and the results returned from `GetIP` w

[2015-03-17 21:58] jangelfdez commented on #774
Hi @ahmetalpbalkan , are you referring to this one?

[code]
https://github.com/docker/machine/blob/cf136eacd70d5e510331de3d4c2fe50de46e06d3/ssh/ssh.go#L47

Running like that, without a parameter to the -N flag the result is:
[code]
Including the parameter to the flag -N
[code]

[2015-03-17 22:02] ahmetalpbalkan commented on #774
@jangelfdez  for an empty -N, you need to add a `''` in the shell (bash or sh), I'm not sure about cmd

I can run the same command from my git bash on windows (msys) and it exits just fine.

[code]

[2015-03-17 22:06] ahmetalpbalkan commented on #774
@jangelfdez another thing is, we get a correct output from ssh-keygen in the reported in the original issue message above and yet it exits with a non-zero exit code. do you see the same behavior in `docker-machine`?

[2015-03-17 22:06] jangelfdez commented on #774
True! Sorry, the result is

[code]

[2015-03-17 22:30] databus23 commented on #537
@ehazlett  @sthulb I started working on this and then discovered #603. Whats the status on this? Is this still being worked on. Is it worth looking into this or should I jus be patient. :)

[2015-03-17 22:53] jangelfdez commented on #774
Adding your last question, the result is the same of the original message from @mwieczorek

[code]

Any "easy" way to debug it?

[2015-03-17 23:28] sthulb commented on #537
@darabus23 go ahead. I closed my PR

[2015-03-18 04:05] sirvon opened #798 "Error creating vmwarecloudair machines..."
INFO[0000] Connecting to vCloud Air...
ERRO[0000] Error creating machine: error Acquiring Service: couldn't find a Compute Resource in current service list
WARN[0000] You will want to check the provider to make sure the machine and associated resources were properly removed.
FATA[0000] Error creating machine

[2015-03-18 12:43] bytepoet opened #801 "using drivers to manually pull data from api"
seeing that docker-machine uses the api drivers to get states of hosts, (running, stopped,  etc)  is there a way to use the binary to pull other specific information about the servers/account?

example.   I can see how many hosts I've created on my cloud account using docker-machine but I can't see all servers created.  any simple way to do this?

[2015-03-18 14:02] alexisvincent commented on #641
So, this is rather an important issue... Is anyone working on it?

[2015-03-18 15:28] ehazlett commented on #721
Hmm.  I've tested on Win8.1 Pro with vbox 4.3.20 and the latest machine build from master.  Everything is fine:

![2015-03-18-112639_1413x573_scrot](https://cloud.githubusercontent.com/assets/260642/6712219/cadb6e4e-cd61-11e4-8d07-b390523f3a45.png)

[2015-03-18 15:53] hairyhenderson commented on #791
Ah - I misunderstood. when you said "local network" I assumed you were talking about HTTP to a local server.

I think this is related to #539

[2015-03-18 15:57] arun-gupta commented on #539
This is very relevant in a hackathon setup.

[2015-03-18 15:57] arun-gupta commented on #791
Yep, thanks, will close this one then!

[2015-03-18 15:57] #791 closed

[2015-03-18 16:07] hairyhenderson commented on #539
Is this still an issue in HEAD? the code in virtualbox.go seems to imply that the release check only occurs if no b2d ISO URL was specified.

[2015-03-18 16:09] hairyhenderson commented on #539
Oh! This might just be a flag issue. I seem to recall running into this a while back.

Try putting a `=` between the flag and the argument:

[code]

[2015-03-18 16:20] rajurs commented on #721
Hmm that is very odd. See screen shot below. I start two machines successfully and they are running (test-dev is he active one).  VirtualBox does not list either one!

raj

Sent from Windows Mail

From: Evan Hazlett
Sent: ‎Wednesday‎, ‎March‎ ‎18‎, ‎2015 ‎8‎:‎28‎ ‎AM
To: docker/machine
Cc: 'Pradeep Rajurs'

Hmm. I've tested on Win8.1 Pro with vbox 4.3.20 and the latest machine build from master. E

[2015-03-18 16:31] ehazlett commented on #539
Hmm looks like a regression.  I'm getting `unsupported protocol scheme` when trying to use the file.  Checking.

[2015-03-18 17:05] rossbachp commented on #539
virtualbox driver use a http.client module. It doesn't support file scheme!

[2015-03-18 17:23] md5 commented on #539
It doesn't out of the box, but it can: http://golang.org/pkg/net/http/#Transport.RegisterProtocol

[2015-03-18 17:24] md5 commented on #539
This looks relevant too: https://golang.org/src/net/http/filetransport.go

[2015-03-18 18:13] ehazlett commented on #539
@hairyhenderson @arun-gupta #805 should fix this.  Would you mind testing?  Thanks!

[2015-03-18 18:32] arun-gupta commented on #539
Sure, I can. Which repository should I checkout?

[2015-03-18 19:38] ehazlett commented on #539
@arun-gupta https://github.com/docker/machine/pull/805

[2015-03-18 19:43] arun-gupta commented on #539
@ehazlett This is likely a git noob question :)

How do I clone that repo?

[2015-03-18 19:45] rossbachp opened #806 "After instance change ip, the swarm agent must also change the join addr."
After more testing PR #770 I found this:

I detect another changed IP problem, after I restart my swarm ec2 cluster today.

The master use the old ip's from the swarm machines

[code]

I analyze the problem:

The swarm agent are join with the old ip `52.10.167.59`

[code]
After the IP from swarm machine changed, the implementation must reconfigure the swarm agent, remove the old container and star

[2015-03-18 19:49] rossbachp commented on #806
The only quick fix is currently recreate the agent with this tiny script:

create-swam-agent.sh

[code]

[2015-03-18 19:56] ahmetalpbalkan commented on #774
@ehazlett I'm seeing something weird with @jangelfdez's output

1. `Creating CA: C:\Users\xxxx\.docker\machines\ca.pem` is ca.pem supposed to be created at this path? Looks subtle.
2. `Creating client certificate: C:\Users\xxxx\.docker\machines\.client\cert.pem` again, `.client` path seems very subtle.

Are these expected?

I can run the released docker-machine 0.1.0 binary in a mingw/cygwin windo

[2015-03-18 19:58] crunchywelch commented on #785
I just issued this patch https://github.com/docker/machine/pull/807 which validates hostname prior to storing the host entry, which would prevent this (and storing other hosts with invalid hostnames). Without seeing the create command though, I can't be sure it would prevent this exact state however.

[2015-03-18 20:16] ahmetalpbalkan opened #808 "machine rm doesn't output"
Treat this as a UX bug. As a user I expect `docker rm` to output something when the command finishes since it takes some time (probably does something important) and just quits silently.

[code]

the `--debug` flag on the other hand provides _some info_ which mostly specific to the driver of the machine.

See the following two --debug outputs from a rm executed on virtualbox and azure. As a user a

[2015-03-18 21:16] rajurs commented on #721
Odd part is, I can docker-machine ssh into the host and run containers!

Sent from Windows Mail

From: 'Pradeep Rajurs'
Sent: ‎Wednesday‎, ‎March‎ ‎18‎, ‎2015 ‎9‎:‎18‎ ‎AM
To: docker/machine, docker/machine

Hmm that is very odd. See screen shot below. I start two machines successfully and they are running (test-dev is he active one).  VirtualBox does not list either one!

raj

Sent from Windows M

[2015-03-18 21:54] jangelfdez commented on #774
@ahmetalpbalkan I'm using my Windows CMD directly, without Cygwin or anything extra. I've tried running inside Cygwin and it works for me too. The VM is deployed to Azure.

I have downloaded the .exe file again to start from the same point (I had some versions built from the master branch) and the output is similar to your output but with the error we saw before.

[code]

[2015-03-18 21:57] ahmetalpbalkan commented on #774
@jangelfdez ok good to hear it worked in Cygwin. So after you re-downloaded the .exe from the 0.1.0 release did you run it on CMD.exe or Cygwin (i.e. where is the output above from?)

[2015-03-18 21:59] jangelfdez commented on #774
@ahmetalpbalkan it's from CMD ;)

[2015-03-18 22:05] ahmetalpbalkan commented on #774
@jangelfdez OK we can probably tell that it's some weirdness with `ssh-keygen` there. We knew that ssh-keygen has problems like OPENSSL_CONF with cmd.exe which are really hard to debug and we don't expect people to run it in cmd.exe since there's no ssh-keygen/openssl installed in PATH by default.

@ehazlett can we update the docs to say docker-machine is recommended to be executed in Cygwin/Mingw

[2015-03-18 22:20] razic opened #809 "VirtualBox VM in the "Saved" State Cannot be Started"
So somehow my VM was in the "Saved" state. Maybe my computer went to sleep and VirtualBox put it to sleep? In any case, the `docker-machine stop|start|restart <name>` commands would just hang. I managed to get the `docker-machine` CLI working again by manually opening the VirtualBox GUI and "Restoring" the "Saved" state of the VM, and then stopping it.

[2015-03-18 22:29] ehazlett commented on #721
I can't see the screenshots but that is odd.  Are you sure you aren't running as a different user or something?

[2015-03-18 22:29] jangelfdez commented on #774
@ahmetalpbalkan I was able to create it using a fresh install of Cygwin on my computer. I have tried with Git Bash but the error is still there for me

Cygwin output:
[code]

Git Bash output
[code]

[2015-03-18 22:30] ehazlett commented on #774
@jangelfdez @ahmetalpbalkan the `.client` path was a pre-beta build -- looks like it's getting a good path now.

[2015-03-18 22:31] ehazlett commented on #774
Absolutely.  Whatever makes the best possible experience is good for me.  Can you gist me what is needed and I will test on my test machines to make sure it's good.  Then I'll update the docs.  Thanks!

[2015-03-18 22:39] ehazlett commented on #629
@nathanleclaire +1 -- I think we are good with this as the follow-up comment has been addressed.

[2015-03-18 22:47] ahmetalpbalkan commented on #774
@jangelfdez that's totally weird. I nuked my `%USERPROFILE%\.docker\machine` directory and I was able to create a machine on azure. Apparently even msys binaries are not good enough. I can repro this in a clean windows VM as well. :confused:

[code]

-----

@ehazlett there's nothing really to test. We must add a note to somewhere (to the top-level documentation, since this is probably not specific

[2015-03-18 22:47] ehazlett commented on #539
@arun-gupta ah np :)  i can give you a test build.  What platform are you on (OS/arch)?

[2015-03-18 22:48] ehazlett commented on #774
@ahmetalpbalkan perfect thanks!

[2015-03-18 22:50] arun-gupta commented on #539
@ehazlett OSX, thanks!

[2015-03-18 23:15] rajurs commented on #721
Not sure what you mean by different user.

Its a Windows 8.1 machine with just one user account, running VirtualBox, Docker-Machine Binary and that's pretty much it.

Raj

Sent from Windows Mail

From: Evan Hazlett
Sent: ‎Wednesday‎, ‎March‎ ‎18‎, ‎2015 ‎3‎:‎29‎ ‎PM
To: docker/machine
Cc: Pradeep Rajurs

I can't see the screenshots but that is odd. Are you sure you aren't running as a different us

[2015-03-19 03:19] TrumanLing opened #812 "Compile Error on Red Hat Server 7.0"
Environmental info:
[code]
Compile message:
[code]

[2015-03-19 08:11] johnzan commented on #479
Hi, Yeah that seems to working fine now... any idea when it will make it into the binary on the downloads page.

Thanks.
J.

ps: apologies for the delay in responding, was on a Paddy's Day break.

[2015-03-19 11:55] ranman commented on #226
We recently added a feature to Spot Instances that will give you a two minute warning before termination.
https://aws.amazon.com/blogs/aws/new-ec2-spot-instance-termination-notices/

The termination notice is accessible by `curl http://169.254.169.254/latest/meta-data/spot/termination-time`  it will contain the time when the shutdown signal will be sent to the instance's operating system.

We reco

[2015-03-19 13:08] hairyhenderson commented on #781
@smace - just FYI, this _was_ fixed, but @nathanleclaire and @ehazlett found a bug in my PR, so the fix had to be reverted... I'm working on a better fix now ;)

[2015-03-19 13:34] hairyhenderson commented on #781
Ok, it _actually_ was fixed, and the revert is being reverted in #814.

@smace you will need to do `eval "$(docker-machine env dev)"` to set the variables in future (though the `$(docker-machine config dev)` usage will also work).

[2015-03-19 14:01] #762 closed

[2015-03-19 14:02] ehazlett commented on #553
This is pending #699 as they both affect the backend provisioning.

[2015-03-19 15:02] ehazlett commented on #539
@arun-gupta https://public.evanhazlett.com/docker-machine/gh-539/

[2015-03-19 15:09] ehazlett commented on #226
@ranman nice!  thanks for the heads up.

[2015-03-19 15:11] rossbachp commented on #539
Hi Evan,

works
[code]

But I got a strange ls error with the binary with `ls`

[code]

[2015-03-19 15:11] ehazlett commented on #479
@johnzan we have a release coming soon (should be next week)

[2015-03-19 15:12] ehazlett commented on #479
@ramschmaerchen could you try with the latest build from master to see if your issue still exists?  thanks!

[2015-03-19 15:14] ehazlett commented on #539
@rossbachp that looks like it might be related to the new sorting.  @ahmetalpbalkan any idea here?

[2015-03-19 16:03] greentg opened #817 "quoted DOCKER_CERT_PATH breaks docker client commands"
Run '$(docker-machine env <machine>)' against existing machine, followed by any command that opens a connection to the engine (e.g. docker ps) and you'll get the following error:

FATA[0000] Couldn't read ca cert "/Users/username/.docker/machine/machines/docker01"/ca.pem: open "/Users/username/.docker/machine/machines/docker01"/ca.pem: no such file or directory

This can be fixed if the quotes are

[2015-03-19 16:38] joeyhipolito opened #818 "Question: I have installed docker, what will happen if I use docker-machine to create my instances"
I have been fiddling with docker in my ubuntu machine for quite some time now and it works great, however, docker-machine came, will this change the way I create my containers in my own local machine?

Running `docker-machine create --driver virtualbox dev`

That means it'll be like me running boot2docker on windows right?

[2015-03-19 16:45] stephenlawrence opened #819 "Virtualbox CPU Support"
Add an option to docker-machine Virtualbox integration to allow for the number of cpu's to be adjusted during create.

[2015-03-19 17:36] ahmetalpbalkan commented on #539
@ehazlett ack. this comes from a corner case bug in the naturalsort library we hacked the other night. fix on the way.

[2015-03-19 18:16] skarademir commented on #539
Fix is in. Pls ingest at your earliest convenience.

[2015-03-19 18:19] ahmetalpbalkan commented on #539
@ehazlett unfortunately godep is quite buggy for me every time I try. Can you please vendor the latest commit from the naturalsort repo?

[2015-03-19 19:05] arun-gupta commented on #539
@ehazlett got a different error:

[code]

[2015-03-19 19:08] ahmetalpbalkan commented on #539
@arun-gupta can you add --debug flag right after machine command? @ehazlett in the exit code <> 0 cases drivers must print the stderr pipe without --debug, right? I am not sure what's the case but something similar is happening at the other issue regarding azure driver as well (exit status: 1, no message printed, we don't even know which cmd it was)

Maybe we should put the cmd's details next to t

[2015-03-19 19:08] rossbachp commented on #539
@arun-gupta If you are sure that machine doesn't exists? If, remove it.

[2015-03-19 19:18] ehazlett commented on #539
@ahmetalpbalkan yeah unfortunately we do stuff with the output to not show debug -- maybe we can get something to change that on error.

[2015-03-19 19:34] arun-gupta commented on #539
@ehazlett Removed `~/.docker`, tried the command. Here is more detail with -D:

[code]

[2015-03-19 19:35] ahmetalpbalkan commented on #539
Yea vbox weirdness. Use a different machine name.

[2015-03-19 20:00] arun-gupta commented on #539
@ahmetalpbalkan Cool, that worked like a charm.

@ehazlett When is this getting integrated in the trunk?

[2015-03-19 20:03] aaronj314 opened #820 "Getting Error Using 'vmwarefusion-boot2docker-url' command option"
To reproduce run the following:

    docker-machine --debug create -d vmwarefusion --vmwarefusion-boot2docker-url "https://github.com/cloudnativeapps/boot2docker/releases/download/v1.5.0-vmw/boot2docker-1.5.0-vmw.iso" osxdock

I get the following:

    INFO[0000] Downloading boot2docker.iso from https://github.com/cloudnativeapps/boot2docker/releases/download/v1.5.0-vmw/boot2docker-1.5.0-vmw.iso..

[2015-03-19 20:03] atomi commented on #721
HIt this too. And docker-machine ssh works fine.
Was the boot2docker.iso recently updated? I don't think I've changed anything else.

[2015-03-19 20:04] ehazlett commented on #539
@arun-gupta i'm working on the godeps now -- you said that fixed it?

[2015-03-19 20:06] ahmetalpbalkan commented on #539
@ehazlett can we make sure all cmd.Exec's print the output in case of exit status != in all drivers

[2015-03-19 20:14] arun-gupta commented on #539
@ehazlett Specifying a different machine name did fix it, yes!

[2015-03-19 20:20] ehazlett commented on #539
ah ok thanks!

@ahmetalpbalkan see https://github.com/docker/machine/pull/821 for the godep update / fix

[2015-03-19 21:15] rajurs commented on #721
I tried older versions of Boot2Docker, VirtualBox and still see the same issue.

Sent from Surface

From: atomi
Sent: ‎Thursday‎, ‎March‎ ‎19‎, ‎2015 ‎1‎:‎03‎ ‎PM
To: docker/machine
Cc: 'Pradeep Rajurs'

HIt this too. And docker-machine ssh works fine.
Was the boot2docker.iso recently updated? I don't think I've changed anything else.

—
Reply to this email directly or view it on GitHub.

[2015-03-19 21:22] hairyhenderson commented on #819
Currently the behaviour is to use the same number of CPUs as the host has. Any reason you would want or need to adjust this?

[2015-03-19 21:44] greentg commented on #819
It's already an option for some of the other providers, so there should at least be some kind of consistency.  Thoughts?

[2015-03-19 21:48] petersellars commented on #721
@rajurs if you don't see the VM in Virtualbox check that you are not running either your command window or Virtualbox as Administrator and the other as your user. If I run either as the Administrator and the other as a user I can't see the box in Virtualbox. Believe this is what was meant by running as different users.

[2015-03-19 21:53] petersellars commented on #721
@ehazlett thanks for the update. Will do some more testing in this space and provide any feedback that would be useful. I use a Windows machine at work and Debian instance at home so happy to help test in this space. Will look to contribute fixes when I can too.

Host-Only Adapter issue looks like it is specific to my environment based on your successful screenshots so will have to investigate tha

[2015-03-19 22:09] #539 closed

[2015-03-19 22:30] ehazlett commented on #721
@petersellars ok thanks!  i will keep testing as well to see if i can re-create.

[2015-03-19 22:52] hairyhenderson commented on #818
Yep. docker-machine with the virtualbox driver is very similar to running boot2docker.

[2015-03-19 22:55] hairyhenderson commented on #817
Use `eval "$(docker-machine env docker01)"` instead. We're no longer recommending using `$(docker-machine env foo)` on its own (see #795)

[2015-03-19 22:58] hairyhenderson commented on #808
Might want to change the title of this issue - at first I assumed this was meant for docker/docker ;)

[2015-03-19 23:00] hairyhenderson commented on #781
@ehazlett can you close this again? :)

[2015-03-19 23:22] ahmetalpbalkan commented on #808
@hairyhenderson totally my mistake, changed.

[2015-03-19 23:32] hairyhenderson commented on #776
@sthulb maybe something like:

[code]

After prototyping a bit, this might be way more trouble than it's worth. If drivers were subcommands (instead of flags) it'd be easier, but since they're flags it turns into a huge mess pretty quickly.

[2015-03-20 00:30] joeyhipolito commented on #818
Alright got that, so I can have both docker in my laptop and docker-machine so I can launch droplets / vps / ec2 instances with docker instance running? Am I right?

[2015-03-20 01:30] hairyhenderson commented on #818
Yep, absolutely

[2015-03-20 01:36] joeyhipolito commented on #818
Okay then, I think that confirmed my understanding.

[2015-03-20 01:36] #818 closed

[2015-03-20 01:59] ehazlett commented on #781
@hairyhenderson yes.  thanks for the clarification!

[2015-03-20 01:59] #781 closed

[2015-03-20 03:10] yamii commented on #809
I have a similar issue. My work around for this is:
- Opened my Virtual Box Manager
- I can see the list of my Machines in diff state
- Started my 'SAVED' machine (right clicking on the machine and click save)
Maybe this will help in your end.

[2015-03-20 03:15] yamii commented on #809
I experienced the same issue. I'm also using virtual box as my driver. Same workaround using Virtual Box and started the machine in `Saved` state.

[2015-03-20 05:38] UserTaken commented on #809
This is a known issue and a fix has already been created. See [#750](https://github.com/docker/machine/issues/750)

[2015-03-20 13:00] shawnzhu commented on #717
PR #625 was merged so this should be fixed.

[2015-03-20 14:11] greentg commented on #817
Ok thanks @hairyhenderson .  This needs to be reflected in the docs also I believe.   Do you know if docs.docker.com is also under version control here?

[2015-03-20 14:15] hairyhenderson commented on #817
@greentg - I believe they were already updated in git, and I think docs.docker.com will reflect this when docker-machine 0.2.0 is released. Am I right, @ehazlett?

[2015-03-20 14:57] ehazlett commented on #817
@hairyhenderson correct -- once we do the release it will update the official docs.  You can also checkout master at http://docs.master.dockerproject.com/machine/#config

Thanks!

[2015-03-20 14:57] #817 closed

[2015-03-20 14:57] ehazlett commented on #817
@hairyhenderson correct -- once we do the release it will update the official docs.  You can also checkout master at http://docs.master.dockerproject.com/machine/#config

Thanks!

[2015-03-20 16:06] dnvriend commented on #819
Reason: on my machine, MacBook Pro i7 end 2011 and Akka/play packaged with Docker, performance is best using 1 cpu per real core, and not the virtual cores (HyperThreading). I must manually change this setting. Not a real big issue, but it would be nice.

[2015-03-20 17:11] hairyhenderson commented on #819
@dnvriend - ah. Makes sense.

[2015-03-20 17:22] sthulb commented on #641
This is pretty much a dupe of #13

[2015-03-20 17:27] dnvriend commented on #657
Maybe someone else has or will have the same problem, so I'm gonna tell my story here. On OSX I had the following; installed boot2docker and VirtualBox and after some months I had three vboxnet interfaces so vboxnet0, vboxnet1 and vboxnet2. I want to use docker-machine so I installed it using brew. When I added a new virtualbox docker machine, (I set the environment using the docker-machine env de

[2015-03-20 17:57] hairyhenderson commented on #737
@dudymas - just curious - did you get anywhere with a PR for this yet?

[2015-03-20 18:36] #708 closed

[2015-03-20 20:12] luisrudge commented on #652
I'm having this problem too and I'm kinda linux newbie :) Can someone help me?

[2015-03-20 20:32] ehazlett commented on #652
@luisrudge for compose or machine?

[2015-03-20 20:33] luisrudge commented on #652
Oh, sorry! It's for compose!

[2015-03-21 11:27] UserTaken opened #829 "Provision Swap"
I am having a problem with the Digital Ocean driver because it does not include any swap. Normally my RAM usage stays between 30-70% but occasionally it would spike such as when building a particular image causing the machine to become unresponsive. Of course I can manually SSH in and create a swapfile but that would not be practical with many machines in a Swarm so I'm wondering if it's possible

[2015-03-21 12:32] hairyhenderson commented on #829
@UserTaken The image that's installed comes from DigitalOcean. Looks like their Ubuntu images (at least 14.04 and 14.10) don't include a swap partition. You might want to log a support ticket with them about that.

Also, Machine will eventually support cloudinit, so that would be the way to tweak the OS at provision time.

As a workaround, you could always use a tool like [`pssh`](https://code.goo

[2015-03-21 14:33] UserTaken commented on #829
@hairyhenderson I made this as a workaround without needing any additional tools.

`
for i in $(docker-machine ls | grep digitalocean | awk '{print $1}'); do docker-machine ssh $i -- ls /swapfile || docker-machine ssh $i "fallocate -l 512M /swapfile && chmod 400 /swapfile && mkswap /swapfile" && docker-machine ssh $i "swapon /swapfile && echo '/swapfile none swap defaults 0 0' >> /etc/fstab" &>/de

[2015-03-21 16:52] StefanScherer commented on #732
I've played with `docker-machine.exe` on Windows last week. I additionally downloaded `docker.exe` CLI that is also pre-built on dockerproject.com.

Assuming [Chocolatey](https://chocolatey.org) we can install VirtualBox and curl with two little steps. I have made all these steps in a good old cmd.exe shell:

[code]

Then download docker-machine.exe and docker.exe

[code]

Now create a VirtualBox

[2015-03-21 17:10] StefanScherer commented on #733
Perhaps depending on the parent process `docker-machine.exe` could show a different hint for the user.

For a `cmd.exe` this does the trick:

[code]

There should be a similar solution running from a powershell, but I haven't tried it yet.

[2015-03-21 18:21] westover commented on #494
+1

[2015-03-21 18:34] slashk opened #831 "docker-machine ssh panics without active machine set"
docker-machine panics with a runtime error if the active machine is not set.

[code]

[2015-03-21 19:19] ahmetalpbalkan commented on #733
There are still bunch of weird ssh-keygen/openssl bugs with mingw/cygwin installations and almost nobody can get it working right at this point. Telling people to just use `set x=y` (on cmd.exe) or `$env:x=y` (on ps) is probably fair enough at this point.

[2015-03-22 02:29] #699 closed

[2015-03-22 02:30] #553 closed

[2015-03-22 11:58] knarz commented on #592
This seems to be an issue with other drivers as well. The instance gets created and if you `ctrl-c` while machine is waiting for ssh then the config ends up without the correct or any data.

So how about the `Create()` gets refactored to just do creation, then a `SaveConfig()` to end up in a defined state and use that to wait for ssh to get available?

[2015-03-23 01:20] duffytilleman commented on #641
+1, and even though Machine is in beta, it might be nice to have a list of which drivers support host volumes in the documentation.

[2015-03-23 02:01] crosbymichael opened #835 "driver-libvirt: Verify at least one NIC has local DHCP for discovery"
**Problem**

driver-libvirt: Verify at least one NIC has local DHCP for discovery

**Solution**

The (soon to be merged) libvirt driver should detect if the user specified
 network is managed by libvirt and has DHCP running (allowing us to look up
 the IP of the resulting VM) or is an externally routed and managed network.
  If no libvirt/DHCP network is specified, we should add an additional NIC

[2015-03-23 02:02] crosbymichael opened #836 "driver-libvirt: Add basic support for multiple NICs"
driver-libvirt: Add basic support for multiple NICs

**Solution**

The (soon to be merged) libvirt driver only supports a single NIC.
  We should enhance to support multiple NICs

[2015-03-23 02:02] crosbymichael opened #837 "driver-libvirt: Add support for openvswitch networks"
driver-libvirt: Add support for openvswitch networks

**Solution**

The (soon to be merged) libvirt driver should support openvswitch style networks.

[2015-03-23 02:03] crosbymichael opened #838 "Validate instance creation for DigitalOcean using driver flags"
**Problem**

Test the flags for DigitalOcean

**Solution**

Validate instance creation in DigitalOcean using various driver flags

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d digitalocean --digitalocean-size "512mb" test-do`

This should create a machine in do with 512 MB of memory.

[2015-03-23 02:03] crosbymichael opened #839 "Validate instance creation on GCE with driver flags"
**Problem**

Test the flags for Google Compute Engine

**Solution**

Validate instance creation in GCE using various driver flags

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d google --google-disk-size "10" test-gce`

This should create a machine in GCE with 10 GB disk.

[2015-03-23 02:04] crosbymichael opened #840 "Validate instance creation for openstack using driver flags"
**Problem**

Test the flags for Openstack

**Solution**

Validate instance creation using various flags for Openstack

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d openstack --openstack-flavor-id fl-12345 test-os`

This should create a machine with a different flavor ID.

[2015-03-23 02:04] crosbymichael opened #841 "Validate instance creation for Rackspace using driver flags"
**Problem**

Test the flags for Rackspace

**Solution**

Validate instance creation using various flags for Rackspace

[2015-03-23 02:05] crosbymichael opened #842 "Validate instance creation for Softlayer using driver flags"
**Problem**

Test the flags for Softlayer

**Solution**

Validate instance creation using various flags for Softlayer

[2015-03-23 02:05] crosbymichael opened #843 "Validate instance creation for Virtualbox using driver flags"
**Problem**

Test the flags for VirtualBox

**Solution**

Validate instance creation using various flags for VirtualBox

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d virtualbox --virtualbox-memory "1024" test-vbox`

This should create a machine in virtualbox with 1024 MB of memory.

[2015-03-23 02:06] crosbymichael opened #844 "Validate instance creation for VMware Fusion using driver flags"
**Problem**

Test the flags for VMware Fusion

**Solution**

Validate instance creation using various flags for VMware Fusion

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d vmwarefusion --vmwarefusion-memory-size "4096" test-fusion`

This should create a machine in vmwarefusion with 4096 MB of me

[2015-03-23 02:06] crosbymichael opened #845 "Validate instance creation for VMware vCloud using driver flags"
**Problem**

Test the flags for VMware vCloud Air

**Solution**

Validate instance creation using various flags for VMware vCloud Air

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d vmwarevcloudair --vmwarevcloudair-memory-size "4096" test-vcloudair`

This should create a machine in vcloudair with

[2015-03-23 02:07] crosbymichael opened #846 "Validate instance creation for VMware vSphere using driver flags"
**Problem**

Test the flags for VMware vSphere

**Solution**

Validate instance creation using various flags for VMware vSphere

There are several flags available for each driver.  Test each flag to ensure it does the intended behavior.

For example,

`docker-machine create -d vmwarevsphere --vmwarevsphere-memory-size "4096" test-vsphere`

This should create a machine in vsphere with 4096 MB of me

[2015-03-23 02:07] crosbymichael opened #847 "Run golint on the code base to improve quality"
**Problem**

The code base does not have golint run on it.

**Solution**

Use golint on the codebase and fix most of the issues

[2015-03-23 02:08] crosbymichael opened #848 "Integration tests are not run on Windows based systems"
**Problem**

Enable running integration tests on Windows

**Solution**

The integration tests currently only work on Linux/OS X.  We should support running tests on Windows to integrate with CI.

We currently use [bats](https://github.com/sstephenson/bats) for integration testing.  It would be great to get this to run on Windows.

On Linux/OS X, the way to run the integration tests are as follows:

[2015-03-23 02:09] crosbymichael opened #849 "The pkg/drivers has little test coverage"
**Problem**

pkg/drivers lacks test coverage

**Solution**

The drivers package provides core functionality for machine.  Improve test coverage (currently at 34%).  Use `./script/coverage` to check.

[2015-03-23 03:47] dudymas commented on #737
I've finally got it working. It was tricky to do... you'll see it in the first commit.

I'm heavily considering refactoring later

[2015-03-23 04:38] rschmukler opened #851 "docker-machine env seems to be broken"
Running the `docker-machine env` gives the following:

[code]

If this is copy pasted, bash works fine. However,  running `$(docker-machine env)` results in the following when running any `docker` command.

[code]

The quotes seem to be preserved literally.

[2015-03-23 08:18] blijblijblij commented on #785
Grepped my bash_history, I pasted a multi line docker-machine create statement which started with:

docker-machine create --driver virtualbox \

which in the current version results in a FATA[0000] You must specify a machine name, and the reported issue cannot be recreated. Thx for that.

[2015-03-23 08:18] #785 closed

[2015-03-23 12:39] thaJeztah commented on #838
@crosbymichael is this "manually" testing, or an automated test?

[2015-03-23 12:56] hairyhenderson commented on #851
This is my fault ;)

This isn't a bug, however it is a change in behaviour. You need to do `eval "$(docker-machine env)"` now. See #795 for the reasoning, and also #781 for the original bug that drove the PR (#783).

[2015-03-23 13:11] hairyhenderson commented on #801
@bytepoet seems to me this is outside the scope of what docker-machine is trying to be... Most providers have their own command line clients that you could use for this. I think it would be a bad idea for docker-machine to try to be a general-purpose client for all cloud providers. There are a number of other projects for that already.

[2015-03-23 14:04] hairyhenderson commented on #829
@UserTaken - I did a little bit more research on this over the weekend because I was curious ;)

All of DigitalOcean's droplets are SSD-based, and putting swap on SSD would really shorten the life of their hardware. So this explains why they have no swap by default.

I don't think there's anything wrong with your adding swap to your droplets, but just so you can be sure not to tax the SSDs too muc

[2015-03-23 14:13] MaitreDede opened #852 "For windows, add dependency to ssh-keygen"
Hi,

In the documentation https://docs.docker.com/machine/#vmware-vsphere there is an info that should be mentionned : requirement to ssh-keygen tool.
I have tried to run docker-machine on local windows :
- downloaded docker-machine for windows amd64
- downloaded govc windows amd64
- tried to create a VM, error about missing ssh-keygen.

My workaround : ssh-keygen is included with msysgit (git for

[2015-03-23 15:20] ehazlett commented on #652
@luisrudge ok np :)  Mind if I close this one?

[2015-03-23 15:23] rschmukler commented on #851
@hairyhenderson I figured there was good reason behind it. Thanks for the clarification! Feel free to close this (or keep it open if you expect others might need further clarification)

[2015-03-23 15:29] ehazlett commented on #733
@ahmetalpbalkan perhaps we could brainstorm the best way to support windows clients?  I would like to get a "recommended" path for windows users (shell, env, etc).

[2015-03-23 15:32] ehazlett commented on #732
@StefanScherer thanks for the info!  i hope to have a "recommended" guide soon so you don't have to jump through all of those hoops!

[2015-03-23 15:35] ehazlett commented on #592
@knarz We should be really close to that after this latest refactor.  We now have the drivers just creating the instance and then call "Provision" after that.  I will do some testing to see if this works with various drivers.

[2015-03-23 15:51] luisrudge commented on #652
Yes! Thanks!

[2015-03-23 16:01] hairyhenderson commented on #851
@rschmukler - I can't close it (I'm not an owner) - can you close it? This is covered in the changelog, and it's been explained a few times in IRC, so hopefully not too many more issues get logged about it :)

[2015-03-23 16:08] rschmukler commented on #851
Oh, well then very sorry I didn't see it haha. Closing!

[2015-03-23 16:08] #851 closed

[2015-03-23 17:14] bytepoet commented on #801
yeah, jumped back to libcloud for the rest.  (for those of you who might have been heading down the same path as me.

[2015-03-23 17:17] nathanleclaire opened #854 "Migration from "flat" config.json to "nested" config.json should be tested"
This is more a note to myself than anything else, but we've changed the "flat" config.json structure to a "nested" one.  This _should_ Just Work because we've written some migration functions that parse out the information if it's detected to be in the old format, but I'd like to add at least a few tests this week to validate that we don't accidentally regress on that feature.

[2015-03-23 17:33] slashk opened #855 "stopped machines results in incorrect docker-machine env output"
Issuing a `$ docker-machine env machinename` on a stopped host appears to hang and then spits out an incomplete set of environment variables.

This is very difficult to troubleshoot when using the new `$ eval $(docker-machine env machinename)` method of connecting to the machine.

It should probably just inform the user to start the machine.

[code]

[2015-03-23 18:47] sthulb opened #858 "Replace AWS driver"
With the release of an AWS (alpha) SDK for Go, https://github.com/awslabs/aws-go

Using the official SDK has advantages over our current implementation since we wouldn't have to maintain lower level code.

[2015-03-23 19:03] nathanleclaire commented on #809
This should be fixed by https://github.com/docker/machine/pull/751 cc @ehazlett to close

[2015-03-23 19:04] nathanleclaire commented on #852
This is a good point.  I'd been using Cygwin for my Windows testing so I hadn't noticed, but we need to define a supported Windows "stack" ASAP.

[2015-03-23 20:43] slashk commented on #843
@crosbymichael just to be clear, you'd like to see additional **integration** tests for the virtualbox driver -- ideally in `test/integration/driver-virtualbox.bats` ?

If so, I have some of these tests written that I can contribute:

* correct default memory size
* correct default disk size
* create should fail with too small disk flag
* create should fail with too small memory flag
* create shou

[2015-03-23 21:07] rajurs commented on #721
Thanks Much. Looks like its working now. The Cmd prompt was being started as admin…duh!

Since I am a Linux newbie, every step takes a while to get working on Windows 😊

Now I have the issue of running docker-machine on Windows alongside the Docker CLI for Windows. I compiled the github Windows Docker Client files to build the Docker CLI for Windows.

Question is: What is the “eval” equivalent on

[2015-03-23 21:22] ahmetalpbalkan commented on #733
@ehazlett definitely, if this works out of the box on cmd.exe or msys very easily, that'd be nice.

[2015-03-23 21:23] StefanScherer commented on #852
I first thought using Windows Vagrant boxes, but even the packer-windows boxes normally have OpenSSH installed and therefore some SSH tools.

I remember there are some Modern.IE Vagrant boxes here: http://blogs.msdn.com/b/ie/archive/2014/09/16/expanding-offers-and-vm-delivery-choices-on-modern-ie.aspx

[code]

But Vagrant can't provision these boxes as WinRM is not configured out-of-the-box.

[2015-03-23 22:32] yamii commented on #809
nice!

[2015-03-24 00:04] UserTaken commented on #829
@hairyhenderson

My normal usage level is within tolerance and the swapfile is just for the RAM be burstable so I think the default swappiness value is fine. Although I highly doubt using a few hundred MB of swap over time will have a significant impact on their SSD's lifespan.

http://techreport.com/review/27909/the-ssd-endurance-experiment-theyre-all-dead

That is just with consumer grade ~250GB

[2015-03-24 00:33] atomi commented on #529
Yeah so this won't be on 0.2.0?

[2015-03-24 01:38] pdevine commented on #532
I run in to the same problem.  If a vm gets powered off (either through machine, a reboot, etc.), it's no longer possible to ssh into the machine and things like "docker ps" start failing.  I'm using the 0.1.0 release.

[2015-03-24 02:02] ehazlett commented on #843
@slashk sorry i wasn't clear.  this is to test the creation of the machine for specific flags.  however, integrations +1 :D

[2015-03-24 04:07] gauthamacharya opened #863 "Docker machine create on Softlayer stuck in "Configuring host OS""
docker-machine create slm0 --driver=softlayer --softlayer-user=sl_user_id --softlayer-api-key=sl_api_key --softlayer-cpu=1 --softlayer-disk-size=0 --softlayer-domain=sl_domain --softlayer-hostname=m0 --softlayer-image=UBUNTU_LATEST --softlayer-hourly-billing --softlayer-memory=1024 --softlayer-region=dal09
←[34mINFO←[0m[0000] Creating SSH key...
←[34mINFO←[0m[0004] Getting Host IP
←[34mINFO←[0m[00

[2015-03-24 08:16] dwamara opened #864 "[Mac OSX10] unexpected fault address 0xb01dfacedebac1e"
Trying to run "docker-machine create --driver virtualbox dev" on my machine, I get following error that I have no clue about.

[code]

[2015-03-24 10:43] robwithhair opened #865 "exit status 255 or hang on Google CE"
When running following command...
[code]
On version 0.1.0 I get the following error
[code]
On version v0.2.0-rc1 it just hangs waiting for SSH key like the following
[code]
When looking on GCE it looks like the key has been created as expected though.  I'm not sure where to go from here so any info or help of how to debug further would be much appreciated.

[2015-03-24 10:58] robwithhair commented on #865
Doesn't look like it can communicate with the instance for some reason

[2015-03-24 12:58] hairyhenderson commented on #863
@gauthamacharya - is this with a recently-compiled docker-machine, or is with the 0.1.0 release? There was a similar issue (#725) fixed a little while ago.

[2015-03-24 14:24] sthulb commented on #864
Hi @dwamara. Could you give any more information around commit hash, conditions of what could contribute to this?

[2015-03-24 16:07] robwithhair commented on #865
OK, all of these issues was because I set `--google-username rob@appinstitute.co.uk` when it should have been `--google-username rob`, if required at all.  It isn't the username you log in with to google it is the username for the machine.  Better documentation perhaps on this particular option.  I thought this was required too.

Not closing as documentation could use improvement but not a bug.

[2015-03-24 18:23] awsmsrc opened #867 "version number not updated to 0.2"
![screen shot 2015-03-24 at 11 22 22 am](https://cloud.githubusercontent.com/assets/994907/6809540/339d7070-d218-11e4-8655-e367f22dbd0f.png)

[2015-03-24 19:05] #652 closed

[2015-03-24 19:14] ChrisChinchilla commented on #638
#dibs

[2015-03-24 19:16] sthulb commented on #638
I'm not sure machine has a "#dibs" bot :)

[2015-03-24 19:20] ChrisChinchilla commented on #638
As far as I can see, this has already been removed but maybe it's not deployed? See commit here - https://github.com/docker/machine/commit/3b622cdde10946147c8694e47b2ac427096325b3

[2015-03-24 19:25] ehazlett commented on #638
@sthulb this is part of the birthday tagging.

@ChrisChinchilla yep looks like it was fixed in that and didn't get mentioned.  thanks for checking it!

[2015-03-24 19:25] #638 closed

[2015-03-24 20:19] #867 closed

[2015-03-24 20:19] ehazlett commented on #867
@awsmsrc thanks for reporting!  this should be fixed now.

[2015-03-24 20:31] ehazlett commented on #865
@robwithhair thanks for reporting and digging through the issue!  we'll get the Google docs updated for the proper usage.

[2015-03-24 21:15] rajurs opened #869 "Malformed HTTP Request"
Trying to get Docker-Machine to run on Ubuntu 14.04. Machine gets created just fine on VirtualBox
The env variables are set, I have a valid IP, TLS certs seem to be in place but docker commands fail when called directly (like docker ps or docker run) with the malformed error.
If I run docker $(machine config test) command, everything is just fine. I can ssh into the machine as well.

rajurs@rajurs

[2015-03-24 21:49] robwithhair commented on #865
Thanks!  Machine really is great.

[2015-03-24 21:52] tombee commented on #844
### Flags to test
Documentation looks OK.
[code]
### Can create a vmwarefusion machine with default boot2docker version, disk size 20,000MB and 1024MB RAM.
[code]
### Can create a vmwarefusion machine with custom boot2docker version, disk size 20,000MB and 1024MB RAM.
[code]

[2015-03-24 21:55] nathanleclaire commented on #864
Hi @dwamara, just curious, what was your install method?  curl+chmod the binary from our official release page, package manager, etc.?

[2015-03-24 21:58] dwamara commented on #864
I had a version from 3 weeks ago I think, I downloaded the latest version docker-machine_darwin-amd64 (from https://docs.docker.com/machine/) and I now got
``
Mac-7c6d628bedf4:Work daolwin$ ./docker-machine_darwin-amd64 create --driver virtualbox dev
INFO[0001] Downloading boot2docker.iso to /Volumes/Data/Users/daolwin/.docker/machine/cache/boot2docker.iso...
INFO[0085] Creating SSH key...
INFO[00

[2015-03-24 22:24] ehazlett commented on #844
Nice work -- thanks!

I think the url issue is fixed in #805 -- would you mind testing that with fusion?

[2015-03-24 22:29] ehazlett commented on #869
Thanks for reporting.  Can you try it with just `eval $(docker-machine env test)` -- no quotes?

[2015-03-24 22:33] ehazlett commented on #865
@robwithhair thanks!

[2015-03-24 22:37] tombee commented on #844
Running @ehazlett's branch from PR #805
[code]

Successfully running boot2docker with 1.3.1 version
[code]

And a `docker-machine inspect`:
[code]

[2015-03-24 22:41] ehazlett commented on #844
thanks for testing!  this is great.

[2015-03-24 22:48] tombee commented on #844
If anyone is concerned by the hostname/eth1 errors above, I've tested @ehazlett's PR with a newer (but not the latest) version of the vmware flavoured boot2docker.iso and that works fine.

[code]

[2015-03-24 22:59] rajurs commented on #869
Same issue. See below.

rajurs@rajurs:~$ eval $(machine env test)
rajurs@rajurs:~$ machine ls
NAME   ACTIVE   DRIVER       STATE     URL SWARM
test   *        virtualbox   Running   tcp://192.168.99.100:2376
rajurs@rajurs:~$ docker ps
2015/03/24 15:58:24 Get
http://192.168.99.100:2376/v1.12/containers/json: malformed HTTP
response "\x15\x03\x01\x00\x02\x02"
rajurs@rajurs:~$ docker $(machine config