[2015-10-23 11:49] dgageot commented on #291
@docker/machine-maintainers With the introduction of driver plugins, we should close this ticket, shouldn't we?

[2015-10-23 13:27] nicc commented on #2059
Hi @nathanleclaire

Thanks for your time. You hit the nail on the head there. It wasn't a change in the Dockerfile or source code as such, but there was a stray .env file that was overwriting the docker-compose.yml environment variables.

All sorted now, thank you.

[2015-10-23 13:27] #2059 closed

[2015-10-23 14:14] rdsubhas commented on #691
A temporary workaround in VirtualBox is to add a "Bridged" adapter to the VM (by manually going to the VM settings). Now everybody on the network can access the VM directly. Useful for testing Android apps, etc.

[2015-10-23 14:45] joeduffy commented on #2064
It occurs to me maybe `localhost` is problematic.  I mean, what if you named one of your Docker Machines "localhost"?  Maybe there are alternative specification formats to consider, like `.:c:\some\file.txt` or `:c:\some\file.txt`.  Just a thought.

[2015-10-23 14:47] dgageot commented on #2064
@nathanleclaire wdyt?

[2015-10-23 15:17] jreslock commented on #1533
If you have no floating IP's allocated to the target project you will see this error.  It does not appear that docker-machine will automatically allocate another floating IP to the project if there are none available.

[2015-10-23 15:35] posita commented on #786
I'm not a stakeholder (just an interested party), but I think there's enough history and interaction with this particular case to warrant keeping this open until [Parallels/docker-machine-parallels](/Parallels/docker-machine-parallels) is production ready?

[2015-10-23 16:07] dmp42 commented on #496
@ahmetalpbalkan @jeffmendoza bump :)

[2015-10-23 16:16] ahmetalpbalkan commented on #496
@dmp42 I'll be rewriting docker-machine with the newly released Azure REST APIs soon. Taking that as a feature request for that. :)

[2015-10-23 16:25] jcpst commented on #1709
+1, our OSX devs are still using boot2docker because our env relies on static /etc/hosts entries. (btw thanks for the script @ianlintner-wf )

[2015-10-23 16:50] #2022 closed

[2015-10-23 17:27] nathanleclaire commented on #786
Given the introduction of plugins and existence of that repo, I think it's pretty safe to close the ticket.  Thanks all

[2015-10-23 17:27] #786 closed

[2015-10-23 17:34] dmp42 commented on #496
@ahmetalpbalkan \o/

[2015-10-23 17:45] nathanleclaire commented on #1196
Yes, @twhiteman please take a look at the new plugin model!

[2015-10-23 17:45] #1196 closed

[2015-10-23 17:46] nathanleclaire commented on #395
@dgageot Yes

[2015-10-23 17:46] #395 closed

[2015-10-23 17:46] nathanleclaire commented on #291
@dgageot Yes

[2015-10-23 17:46] #291 closed

[2015-10-23 17:46] nathanleclaire commented on #2059
Great @nicc !  Thanks for following up to close.

[2015-10-23 17:49] nathanleclaire commented on #691
The original issue mentioned should work now with some recent SSH changes, although you do need to specify the machine name:

[code]

[2015-10-23 17:49] #691 closed

[2015-10-23 17:50] nathanleclaire commented on #1782
@dgageot Yep.

I also have a prototype Docker-In-Docker driver plugin here: https://github.com/nathanleclaire/docker-machine-dind

[2015-10-23 17:50] #1782 closed

[2015-10-23 18:09] nathanleclaire commented on #1376
@bascht It's perfectly usable, there's just not support for VirtualBox shared folders on Linux yet.

[2015-10-23 18:17] nathanleclaire commented on #1711
It's 10 seconds now (will be included in next release): https://github.com/docker/machine/blob/master/commands/ls.go#L24

It's not configurable yet, but maybe we can file an issue for that specifically.

[2015-10-23 18:17] #1711 closed

[2015-10-23 18:17] nathanleclaire commented on #2052
Fixed!

[2015-10-23 18:17] #2052 closed

[2015-10-23 18:24] nathanleclaire commented on #1963
I think that the tricky bit will be doing the "right" thing automatically and also handling it in a robust way cross-platform.  I have thought a lot about adding a `--trusted-cert` type flag to automatically add such registry certs, that might be the future.  I have to play around a bit but I agree it's important to support.

[2015-10-23 18:49] rhendric opened #2071 "docker-machine create -d virtualbox needs longmode"
OS X 10.6.8, VirtualBox 4.3.32 (the latest version of VB available for pre-Mountain Lion)

I know that the new Docker Toolbox installer only supports Mountain Lion and higher, but I'm still able to use docker and docker-machine by building them myself. The one problem I've run into is that the vbox files created by docker-machine have longmode set to false in them (maybe this is a default in VB 4.

[2015-10-23 20:34] bascht commented on #1376
@nathanleclaire I might be at a loss here, but docker-machine was not usable for me as I couldn't access any files from inside the Container - which I created #2063 for. That project relies on a bind mount and I couldn't use docker-machine.

[2015-10-23 20:45] nathanleclaire commented on #1376
@bascht Sounds like you can create, start/stop, and remove VMs fine, so to me `docker-machine` is usable, it just lacks the auto-mount feature on Linux.  We're not opposed to adding this feature, it just hasn't been a high priority and no one has driven a PR for it through to completion yet.

In the interim, you should be able to create the share and mount the share manually.

[2015-10-23 20:47] nathanleclaire commented on #1200
@dgageot Yes

[2015-10-23 20:47] #1200 closed

[2015-10-23 20:47] nathanleclaire commented on #1918
Yep -- I don't see it being a high priority on our immediate roadmap

[2015-10-23 20:47] #1918 closed

[2015-10-23 20:51] nathanleclaire commented on #2071
In general (and somewhat unfortunately), we support only the latest versions of VirtualBox, and treatment of which flags we pass in to `VBoxManage` etc. is handled accordingly.  I'd be willing to discuss proposals to handle different versions more robustly (and indeed we're starting to take steps in the right direction there with some of the recent work we've done on testing that driver), but for

[2015-10-23 20:51] #2071 closed

[2015-10-23 21:48] ain commented on #2050
Tried also with following versions, no improvement:
[code]

[2015-10-24 00:00] trentm commented on #1591
As a workaround, if you still want `Host * ... ControlMaster auto` in your "~/.ssh/config", I found I could do this:

[code]

[2015-10-24 00:14] nathanleclaire commented on #1591
The latest RCs should work fine with `ControlMaster` options set in SSH config

[2015-10-24 00:14] #1591 closed

[2015-10-24 00:18] embrown30 commented on #1945
docker-machine -version
docker-machine version 0.4.1 (e2c88d6)

Name:            vboxnet0
GUID:            786f6276-656e-4074-8000-0a0027000000
DHCP:            Disabled
IPAddress:       192.168.59.3
NetworkMask:     255.255.255.0
IPV6Address:
IPV6NetworkMaskPrefixLength: 0
HardwareAddress: 0a:00:27:00:00:00
MediumType:      Ethernet
Status:          Down
VBoxNetworkName: HostInterfaceNetworking-v

[2015-10-24 01:25] dmp42 commented on #1823
Yes, running integration tests on circle is complete - though running against cloud providers will wait for the new CI system.

[2015-10-24 01:25] #1823 closed

[2015-10-24 02:01] dmp42 opened #2077 "docker-machine ls fails if a driver is not found"
Reproduce:
 * have machines created created by driver `foo`
 * make sure driver `foo` is not available
 * docker-machine ls (and probably other commands)

Result:

`Driver "foo" not found. Do you have the plugin binary accessible in your PATH?`

Expected result:

List my valid machines and work with that.

The current behavior is a problem since we changed the vsphere driver name, and also, since

[2015-10-24 02:03] dmp42 opened #2078 "docker-machine rm -f not working (0.4)"
[code]

@nathanleclaire wdyt? was this fixed on master? (I can't test because I'm in a catch 22 situation where I miss the driver that created these machines)

[2015-10-24 02:05] hairyhenderson commented on #2061
No... Unfortunately sharing configs isn't that simple right now. You can copy the `~/.docker` directory, but you'll have to modify the `config.json` to make the paths match on the new host

[2015-10-24 06:08] dmp42 opened #2079 "Pretty graphs for code architecture"
cc @docker/machine-maintainers

<img width="924" alt="screen shot 2015-10-23 at 11 00 12 pm" src="https://cloud.githubusercontent.com/assets/332946/10709259/d7684ed6-79da-11e5-81ff-e66b371dcf77.png">

@jeanlaurent wdyt?

Would that kind of tooling be helpful to refactor / visualize / clean code?

[2015-10-24 06:12] dmp42 commented on #2079
<img width="561" alt="screen shot 2015-10-23 at 11 11 36 pm" src="https://cloud.githubusercontent.com/assets/332946/10709280/7c08139a-79db-11e5-9641-fef4ae1686e2.png">
<img width="779" alt="screen shot 2015-10-23 at 11 11 41 pm" src="https://cloud.githubusercontent.com/assets/332946/10709281/7c1b4096-79db-11e5-841a-301a4efcfab7.png">
<img width="820" alt="screen shot 2015-10-23 at 11 11 46 pm" src

[2015-10-24 12:01] peteruithoven commented on #1859
I'm having the same issue.
[code]
I've tried uninstalling Docker using the following scripts
https://github.com/boot2docker/osx-installer/blob/master/uninstall.sh
https://github.com/docker/toolbox/blob/master/osx/uninstall.sh
And reinstalling the Docker Toolbox, from:
https://www.docker.com/docker-toolbox

@eproxus I'm very curious how you start the machine from VirtualBox with a headless start.

[2015-10-24 17:49] Rykka commented on #721
+1 fixed my issue too

[2015-10-24 21:38] frapposelli commented on #2060
The current plugin is being rewritten from scratch (see #1522) once that is merged this will be fixed.

[2015-10-24 23:04] ain commented on #2050
Another fact: absolute symlinks don't work either:

Actual:
[code]
Docker:
[code]

[2015-10-24 23:10] frapposelli commented on #2050
OK, I'm able to reproduce the problem, which is kinda weird:

[code]

Apparently the mount point `/Users` acts up while using `/mnt/hgfs` works correctly, this is most likely a bug, I will forward this internally to make sure we address it.

Right now a possible workaround is to prepend `/mnt/hgfs` to the source of any volume you mount.

[2015-10-24 23:24] ain commented on #2050
I see. Good catch, thanks for reproducing @frapposelli!

[2015-10-25 00:19] zenfish opened #2080 "-d flag undocumented"
The -d flag doesn't appear to be documented... at least, it isn't listed in the default output (e.g. "$ docker-machine") or in any git pages I could find (it may be in there somewhere), but the flag is used extensively in the various examples, including the very first one on the git homepage.

[2015-10-25 01:05] sebicas opened #2081 "How can I do to Disable Transparent Huge Pages?"
I am getting some warnings on a few containers ( Redis & Mongo )

[code]

And as far as can I read on https://github.com/docker-library/redis/issues/20#issuecomment-76066090 is a host ( boot2docker on VirtualBox ) issue.

How can I do to set this kernel flags as 'never' as suggested?

[code]

[2015-10-25 05:06] dmp42 commented on #2080
`-d` is the same as `--driver`

I believe this is documented. See for example: https://github.com/docker/machine/blob/master/docs/reference/create.md#filtering-create-flags-by-driver-in-the-help-text
this is also in the output of `docker-machine create`

Nevertheless, documentation can be improved, so, if you feel something can be made better, please open a PR.

Hope that helps.

[2015-10-25 05:06] #2080 closed

[2015-10-25 07:05] zenfish commented on #2080
If you think that not explaining what the only argument means in the first use case (and three on your splash page on git) you talk about in your documentation is sufficient, who am I to argue. Dismiss away, surely users will figure it out, dox are overrated anyway.

[2015-10-25 15:47] rhendric commented on #2071
So, since I'm not running VirtualBox 5 I can't test this myself, but the [current manual](http://www.virtualbox.org/manual/ch08.html#idp45859073204832) does mention `--longmode` as a valid option for `modifyvm`; maybe it's that 4.3 has it `off` by default in VMs created via command line and 5 has it `on` by default (I'm only assuming the latter because I don't see how the VirtualBox driver would e

[2015-10-25 15:50] MSch commented on #1671
Running into this as well, @mikew's and @geek's script does not work at all for me.

Getting this error even though there is a `ethernet0.address` in `dev.vmx`.

[code]

[2015-10-25 19:13] dmp42 commented on #2080
@zenfish

From your initial report:

This is not accurate.

It is listed in the default output, where it makes sense (`docker-machine create`).

Furthermore, this issue title:

Is also not accurate, like pointed out in my first comment

Thanks for the feedback.

Like I said, if something can be improved, it should definitely be.

If you are willing to contribute, please go for it, the community wi

[2015-10-25 20:01] PumpkinSeed commented on #1094
Same problem there +1

[2015-10-25 20:43] herby commented on #1843
Hope this is fixed soon. My workaround is: `docker-machine stop default`, turn off all network adapter beyond the first (#2, #3, ... #n). You can not delete them (windows says it's impossible, at least here, YMMV), then `docker-machine start default`.

The reason why it does not work is that DHCP server is still bound to old one in windows route table (102.168.99.x entries in `route print`), but n

[2015-10-25 20:51] herby commented on #1843
In fact I have simpler workaround - stop / start the machine directly from virtualbox UI.

[2015-10-25 23:12] thaJeztah commented on #2081
Hm, perhaps this should be opened in the Boot2Docker issue tracker; https://github.com/boot2docker/boot2docker/issues

/cc @tianon @SvenDowideit

[2015-10-26 01:44] mattfysh commented on #1694
thanks @inadarei!

[2015-10-26 04:46] kundeng opened #2082 "[amazonec2] Only us-east-1a region / AZ works"
I tried the docker machine for amazonec2 today and I encountered several issues:

1.  only the default region us-east-1 a  works.  Can't specify other region or zone in the command.  Otherwise,  for strange reasons:  the subnet will be appended by 2 extra spaces!

2.  not automatically removing the key pair  when failure of creation occurs.  Had to go into amazon to remove it

3.  ssh error.
Using

[2015-10-26 05:43] dmp42 commented on #2082
Hi @kundeng

Is this from master or a released version of machine?

[2015-10-26 07:48] brandonsimpson commented on #1709
+1

[2015-10-26 09:09] eproxus commented on #1859
@peteruithoven Click on the small arrow next to the Start button and choose "Headless Start". :smile:

[2015-10-26 09:15] peteruithoven commented on #1859
Ah... thanks, I was thinking it was a cli thing. I was able to fix my problem by doing a simple reboot btw.

[2015-10-26 10:52] nathanchere commented on #1094
I haven't dug too far because I simply don't care as long as it works but here is my anecdotal evidence for what is happening.

With me it appears to have been a VirtualBox-related problem, not something specific to Docker at all. On the machines where I installed VirtualBox myself it was running version 5-point-something. It turns out as of version 4.3.12 there were changes made to VirtualBox whe

[2015-10-26 10:57] clakech commented on #691
Hi, thanks for this interesting thread

I have the same need: forward a few port to my localhost (I am using docker-machin on a mac, other devs are unix linux to forwarding port is not needed)

Does -L option works? docker-machine ssh default -L 9200:localhost:9200
Is there any pointer to code or documentation to understand the way this should/will works.

using 1.8.2:
[code]

Thanks

[2015-10-26 12:32] darrenhaken commented on #1819
Any update on when this will be pushed to a new release of docker toolbox? Every single dev on my team faces the same issue and we'd love to be back on the release cycles rather than using docker machine from master.

[2015-10-26 12:33] darrenhaken commented on #1819
@nathanleclaire you mentioned its 2 week release cycles but its been 17 days since I last asked on the ticket?

[2015-10-26 12:47] midito opened #2085 "Maximum number of retries (60) exceeded"
Hi,
I'm having some troubles with Docker in Mac. Every time I restart I have a different problem and is really frustrating. Now, I'm getting the next error after upgraded docker & virtualbox because i was having other kind of problems taht didn't allow me to start my machine.

I can't start my dev machine and i get some error when I try to list the machines. Also, the docker-vm shows an error stat

[2015-10-26 13:01] dgageot commented on #2085
Hi @midito, it looks like two machines are working ok: `default` and `dev`. A third machine, `docker-vm`, is not found even if its description exists in your `~/.docker/machine/machines/` folder.

Can you try `docker-machine rm -f docker-vm` and see if it fixes the problem.

[2015-10-26 13:06] dgageot commented on #691
Hello @clakech :-)
Have you tried docker-machine 0.5-rc3? I think it should work.

[2015-10-26 13:09] midito commented on #2085
After I shut down my computer ( I restarted it sometimes before ) and doing this, now everything works fine. I don't know if it was because deleting the "docker-vm" machine or the magic "turn it of and on again". Thanks for your help. Everything is working as expected now.

[2015-10-26 13:12] #2085 closed

[2015-10-26 13:12] dgageot commented on #2085
Thank you for the feedback!

[2015-10-26 13:12] clakech commented on #691
thx @dgageot ;)

[2015-10-26 13:19] dgageot opened #2086 "Improve the output of `docker-machine ls` in case of an error"
`docker-machine ls` prints something like this in case one of the machines is not well configured.

[code]

The problem occurs for example when a machine is manually deleted.

It would be nicer for the user either swallow the error or move the message to an additional column, like this:

[code]

[2015-10-26 14:03] dgageot commented on #2062
@nathanleclaire Reopening the ticket because I'm wondering if `machine config` and `cert.ValidateCertificate()` should also be modified.

[2015-10-26 14:31] dgageot commented on #2023
#1061already asked for a non-interactive way of creating a machine

[2015-10-26 15:10] kundeng commented on #2082
Released version.  

Sent from Outlook

On Sun, Oct 25, 2015 at 10:43 PM -0700, "Olivier Gambier" <notifications@github.com> wrote:

Hi @kundeng

Is this from master or a released version of machine?

—
Reply to this email directly or view it on GitHub.

[2015-10-26 16:23] dgageot commented on #2023
@nathanleclaire @jeffmendoza I've got an experimental version here: https://github.com/dgageot/machine/tree/gce-default-auth

It uses default auth to create a vm. That means that if docker-machine is run from GCE, no auth is necessary. If it is run from elsewhere, the user has to run `gcloud auth login` once before calling `docker-machine` any time needed.

It looks very good except I now have SSH

[2015-10-26 16:28] dmp42 commented on #2082
@kundeng any chance you can test the latest 0.5 release candidates?

https://github.com/docker/machine/releases/tag/v0.5.0-rc3

[2015-10-26 16:34] serbrech commented on #1711
I am a bit torn here. Just giving my feedback for considerations.

Although I want the proper information, if my console locks when this is
happening, it becomes quite annoying too.
I often run ls just to figure out the names of the machines I have. I don't
always need to know if it's up or not, if it times out or responds.

On Friday, 23 October 2015, Nathan LeClaire <notifications@github.com>
wr

[2015-10-26 16:53] dmp42 commented on #1819
@darrenhaken we are at RC3: https://github.com/docker/machine/releases/tag/v0.5.0-rc3

The release is pending now.

About the future release cycle of machine: it's released as part of the docker platform, every nine weeks.

Minor releases may/will occur faster than that to fix bugs though.

[2015-10-26 17:08] #1985 closed

[2015-10-26 17:46] nathanleclaire commented on #1995
Since I believe this issue is resolved using tip from both boot2docker and docker-machine, I'm closing this issue.  Thanks @frapposelli and @dallas feel free to let us know if you encounter any more issues.

[2015-10-26 17:46] #1995 closed

[2015-10-26 18:16] funkytaco opened #2089 "docker-machine creates a virtualbox with an old API version"
Referencing #2046 as it seems to be related.

docker-machine spins up a 1.19 machine....my client docker API is 1.20 .... I've tried `docker-machine upgrade` as well, to no avail.

`docker-machine create -d virtualbox --virtualbox-memory "4096" --virtualbox-disk-size "32000" nyc`

    Creating VirtualBox VM...
    Creating SSH key...
    Starting VirtualBox VM...
    Starting VM...
    To see how

[2015-10-26 18:24] nathanleclaire commented on #2086
Huge +1 from my end on this, it's been a pet peeve for a long time.

How I would like to do this is to move over to per-driver loggers (consequently things logged within the driver would be query-able later using [docker-machine logs](https://github.com/docker/machine/issues/1821)) which can also be accessed externally using a `driver.Log` method.  Unfortunately, though, we can't write code that d

[2015-10-26 18:27] mfischer-zd commented on #2029
Why have a separate option argument name in the first place?   Is there some reason why the virtualbox driver can't use the `--engine-install-url` option?

[2015-10-26 18:27] funkytaco commented on #2089
To work around this, I used @sirile's 1.9 iso:
`docker-machine create -d virtualbox --virtualbox-boot2docker-url=http://sirile.github.io/files/boot2docker-1.9.iso nyc` which uses API version 1.21

[2015-10-26 18:29] nathanleclaire commented on #1711
@serbrech Not a perfect solution, but if all you want to know is the names of the machines, `docker-machine ls -q` is the "quiet" mode which will just list their names without query status etc.

[2015-10-26 18:33] nathanleclaire commented on #2078
It should be fixed.  Let me know if `docker-machine rm -f` does not remove the machine's local directory for you on master.

[2015-10-26 18:33] #2078 closed

[2015-10-26 18:41] jpetazzo commented on #2029
Because the virtualbox driver is using boot2docker, which comes as a small,
optimized disk image with Docker pre-installed on it.
The other drivers assume that the host will come clean, and that they have
to SSH into the host to install Docker using the get.docker.com script.

On Mon, Oct 26, 2015 at 11:27 AM, Michael S. Fischer <
notifications@github.com> wrote:

--
@jpetazzo <https://twitter.com

[2015-10-26 18:42] mfischer-zd commented on #2029
@jpetazzo see above :)

[2015-10-26 18:45] mfischer-zd commented on #2029
Also, right now, as a consequence of this operational inconsistency, I can't figure out how to get boot2docker to run a prerelease version of docker: the latest published ISO has 1.8.3 on it and doesn't seem to want to be easily upgraded.

[2015-10-26 19:07] ppadala commented on #2029
I ran into the same problem. Found this blog post http://sirile.github.io/2015/07/02/using-docker-18-experimental-with-docker-machine-and-virtualbox-driver-boot2docker.html to help with this.

You could build your own boot2docker image with pre-release version as mentioned in the link above as well.

[2015-10-26 19:19] pcssi commented on #2081
:+1:

[2015-10-26 19:25] tianon commented on #2081
This is probably a good use case for `bootlocal.sh`/`bootsync.sh` inside the VM (see https://github.com/boot2docker/boot2docker/blob/master/doc/FAQ.md#local-customisation-with-persistent-partition).

[2015-10-26 19:32] nathanleclaire commented on #1819
Yup sorry for the delay @darrenhaken, it's the reason for the "approximately" in my original comment.

[2015-10-26 19:33] nathanleclaire commented on #2029
@mfischer-zd

You can try out different versions of boot2docker using the `--virtualbox-boot2docker-url` flag, e.g.:

[code]

[2015-10-26 19:33] nathanleclaire commented on #2077
Side note: For us to have changed any driver name, `hyper-v` etc., strikes me now as a very bad idea.  We shouldn't have done that.

As for the issue of `ls` failing when a driver is not found, I agree it shouldn't lock up completely in this case.  I'll look into some potential workarounds for this release.

[2015-10-26 19:36] mfischer-zd commented on #2029
Thanks @ppadala @nathanleclaire !

[2015-10-26 19:54] #1136 closed

[2015-10-26 19:54] #1311 closed

[2015-10-26 20:06] nathanleclaire commented on #2079
It's cool, but I don't think it will increase product quality.

Our issues are 90% around:

1. Bugs caused by / related to providers, especially `virtualbox`
2. UX blemishes and non-robustness in case of error, e.g. https://github.com/docker/machine/issues/2086

I don't feel like we have a code architecture problem in general and @dgageot has been taking good steps to making the codebase more test

[2015-10-26 20:13] nathanleclaire commented on #2089
1.9 is not out yet.  When it is out, `upgrade` will work.

[2015-10-26 20:13] #2089 closed

[2015-10-26 20:14] nathanleclaire commented on #2081
Yup, the answer lies within boot2docker the OS.  Please open an issue there if you continue to experience problems.  Thanks!

[2015-10-26 20:14] #2081 closed

[2015-10-26 20:16] nathanleclaire commented on #2082
@kundeng Please paste the `create` commands used (minus any secrets such as IAM credentials) and the full debug output when you get a chance.

[2015-10-26 20:18] #2046 closed

[2015-10-26 20:21] dmp42 commented on #2078
@nathanleclaire it does not work on master because of #2077 - but maybe we can consider this aspect of it as a duplicate?

[2015-10-26 20:23] nathanleclaire commented on #2078
@dmp42 Yeah, I'd argue that #2077 is the real issue here:  the code around force removing in general should be sound.

[2015-10-26 20:24] nathanleclaire commented on #1964
Filed an issue on homebrew CCing the relevant maintainers in case we get lucky and one of them wants to take the initiative.

[2015-10-26 20:30] funkytaco commented on #2089
The `docker-machine` I used came from https://github.com/docker/toolbox/releases/download/v1.8.3/DockerToolbox-1.8.3.pkg

Toolbox has a `docker-machine` which created a VirtualBox with an API that's older than the one it uses, so it renders the `create` command useless for Virtualbox, does it not? Or maybe I caused the problem (no idea how)?

Docker Toolbox comes with: Docker Engine 1.8.3, "Virtua

[2015-10-26 20:32] nathanleclaire commented on #2089
@funkytaco For `upgrade` at least, Docker Machine version does not matter; it will check with GitHub to see the most recently released boot2docker, and get that.  It's still 1.8.3 today until Docker 1.9 comes out.

[2015-10-26 20:32] nathanleclaire commented on #2071
Yup, looks like 5.0.6 has the flag.  I'd consider adding it.

[2015-10-26 20:39] nathanleclaire opened #2091 "Machine should detect and/or remove unused host only interfaces as part of the creation process"
cc @docker/machine-maintainers

Normally I'm against automatically removing resources, but we've had _so_ many issues around extraneous host-only networks, that I'm beginning to think we should add code to the `virtualbox` driver to go through existing host-only networks and DHCP servers and clear out any that are not in use by VMs.  Or, at least, to try and detect the invalid states when they com

[2015-10-26 21:07] nathanleclaire opened #2092 "Checking if hardware virtualization is enabled prints extraneous error messages"
cc @docker/machine-maintainers @dgageot

![screen shot 2015-10-26 at 2 05 54 pm](https://cloud.githubusercontent.com/assets/1476820/10742511/d5767708-7bea-11e5-9d35-3cc264f6831b.png)

We need to use `os.Stat` to check if the log file exists first.

[2015-10-26 21:37] dracan opened #2093 ""This computer doesn't have VT-X/AMD-v enabled" (Bootcamp running Windows)"
Whilst this is technically a Bootcamp issue, the recent change where Docker Machine checks if virtualization is enabled fails when running on a Macbook Pro using Windows. The virtualization flag is set to false when you boot straight into Windows for some unknown reason. A google suggests that there's no way around this other than first booting into OSX, then doing a soft boot into Windows each ti

[2015-10-26 21:40] nathanleclaire commented on #2093
cc @dgageot

[2015-10-26 21:47] nathanleclaire commented on #2093
Having seen a couple of these issues now, I'd suggest we move towards using `log.Warn` or something instead of banning attempted create completely

[2015-10-26 22:19] nathanleclaire commented on #2018
Yeah, really we need to take out the server cert generation code, which is how things used to be done before the `docker-machine` days.  cc @SvenDowideit @tianon

[2015-10-26 22:23] nathanleclaire commented on #2064
Let's look at this after the release, I'm swamped with other more pressing issues.

[2015-10-26 22:41] tianon commented on #2018
The Docker daemon creates certs now? :smile:

[2015-10-26 23:04] nathanleclaire commented on #2018
boot2docker init scripts silly ;P

[2015-10-26 23:06] tianon commented on #2018
I was honestly hoping we could stop having boot2docker do specific things
with TLS, especially since they're necessary for the general case of other
non-boot2docker OSes too -- any thoughts on that?

[2015-10-27 00:04] jpetazzo commented on #2029
You can install an experimental build like this:

[code]

I totally understand your concern (i.e. discrepancy between the virtualbox driver and other drivers). There are a few possible solutions, but they all require some extra work; e.g.:
- changing the virtualbox driver to use a basic ubuntu image (great for consistency, but means a much bigger download for the VM image, since boot2docker has be

[2015-10-27 02:11] iBobik opened #2094 "Call `eval "$(docker-machine env default)"` automatically"
Is i able to make commands like restart and start to call `eval "$(docker-machine env default)"` automatically, so user don't run it manually?

[2015-10-27 07:10] iBobik opened #2095 "[VirtualBox] Outbound networking fails when changing WiFi networks"
When I change network location (switch to different WiFi on MacBook) Docker Machine always losts connectivity until I restart it (`docker-machine restart default`).

[code]

Now, I switched my MBP to another WiFi network.

[code]

[2015-10-27 08:20] dgageot commented on #2092
@nathanleclaire The real question is "Why is this file not found?" Are we trying to read it too early?

[2015-10-27 11:04] danielfly opened #2096 "--vmware-boot2docker-url and boot2docker releases"
When trying to specifying --vmware-boot2docker-url with a simple release url from boot2docker

[code]
Error
[code]
I almost sure the error is because the github url redirects to a S3 and the application dont follow the redirect.

Please correct me if im using a wrong url from github. :)

Specs
[code]

[2015-10-27 13:12] dgageot commented on #2096
Hi @danielfly, I've just tried this command with master and it works.

[code]

You might want to try.

[2015-10-27 13:29] dgageot commented on #2093
@nathanleclaire How do we print a warning from a driver? `log.Warn` is only visible on debug mode.

[2015-10-27 13:32] sazo commented on #2096
Hi @dgageot, danielfly here got 2 github accounts.

Maybe it is fixed in the new version of docker-machine 0.5.0? Do you got a list of know issues for 4.1? :) i got docker-machine 4.1 from the Docker Toolbox.

[2015-10-27 14:49] dgageot commented on #2096
Closing this issue. This is fixed in 0.5.0

Thanks you for the feedback @sazo

[2015-10-27 14:49] #2096 closed

[2015-10-27 14:49] pvnovarese opened #2098 "0.5.0rc3 upgrade doesn't use most logical/recent b2d ISO"
I had docker toolbox 1.9 rc1 installed on my machine, and I used the included docker-machine to create some hosts.  This went as expected and the hosts were created using the b2d 1.9 rc1 ISO.

I then upgraded toolbox to 1.9 rc2 (which upgraded b2d to 1.9 rc2 and machine to 0.5.0 rc3).  When I try upgrading the same host, docker-machine doesn't use the 1.9 rc2 ISO that ships with toolbox, and inste

[2015-10-27 15:41] sebicas commented on #2081
Issue has been resolved at boot2docker, here is the link to the issue for reference: https://github.com/boot2docker/boot2docker/issues/1083

[2015-10-27 15:42] pcssi commented on #2081
@sebicas thank you. :+1:

[2015-10-27 15:46] pvnovarese commented on #2098
This is particularly weird because "docker-machine create" doesn't have any problem using the 1.9.0-rc2 ISO.  It seems that at the very least both operations should have consistent behavior here.

[2015-10-27 18:50] nathanleclaire commented on #2081
Thanks @sebicas for following up

[2015-10-27 18:53] nathanleclaire commented on #2018
with TLS, especially since they're necessary for the general case of other
non-boot2docker OSes too -- any thoughts on that?

Yeah, I'd say it should be taken out at this point.

[2015-10-27 18:55] nathanleclaire commented on #2098
@tianon Do you think it would make sense to start doing the boot2docker RCs at boot2docker/boot2docker and adding some kind of `--release-candidate` flag to `docker-machine upgrade` to allow upgrading to a release candidate?

[2015-10-27 18:58] dvusboy commented on #1913
I have the same issue using ```DockerToolbox-1.8.3.pkg```. Looking at the debug output above and the one I saw on my install is that ```docker-machine``` failed to verify the VM is up with the SSH test (which, if you run on a separate terminal, works just fine) and then it doesn't record the NAT forwarding port into ```config.json```. All subsequent ```docker-machine``` commands will not be using

[2015-10-27 19:12] dvusboy commented on #1913
I just tried ```0.5.0-rc3``` and ```docker-machine create``` worked. Kitematic still seems to be stuck. But after the manual ```docker-machine create```, all is working.

[2015-10-27 19:20] pandrew commented on #2098
How about making sure that boot2docker rc is available, documented and compatible with *-boot2docker-url? That way we can create a machine with the rc directly.

[2015-10-27 19:25] tianon commented on #2098
They've been announced in the same places Docker is; they're currently at
https://github.com/tianon/boot2docker-legacy/releases and are usable with
"boot2docker-url" CLI flag.

I'm not opposed to uploading them to boot2docker/boot2docker, assuming that
we've had sufficient releases of docker-machine that filter out pre-release
uploads so that we can be reasonably assured that folks with older rele

[2015-10-27 19:27] nathanleclaire commented on #2098
I'm not sure such filtering code exists _at all_ for us today, so I'm not wanting to rush into anything.  Just considering the options at hand.  Personally I'm pretty OK with being able to create brand new VMs with the RC ISOs, but the expectations around `upgrade` seem to confuse some users.

[2015-10-27 19:28] tianon commented on #2098
Ah, that filtering code was introduced with the b2d-ng code, and then subsequently reverted also.  So currently, if I upload any RCs to boot2docker/boot2docker, regardless of that "pre-release" flag, they'll be upgraded to on `docker-machine upgrade`, which IMO is surprising behavior and is why I haven't done so.  I'm definitely 100% +1 to getting that filtering code in place and letting it bake f

[2015-10-27 19:34] tianon commented on #2018
Doh, I totally misunderstood your original comment -- yes, let's axe it.
I'll work up a PR now. :smile:

[2015-10-27 19:40] nathanleclaire commented on #2018
Cool :+1:

[2015-10-27 19:41] nathanleclaire commented on #2098
Yeah, cool, I think that's what I'd like to do as well.

[2015-10-27 19:41] tianon commented on #2018
Hmm, the provisioner here in Machine is still using quite a bit of this init script code, so this isn't going to be quite as many lines of removal as I'd like, but I suppose we can stop having it do generation at least.

For reference, here's the patch I was _hoping_ we'd be able to apply: :smile:
[code]

[2015-10-27 19:50] colinrgodsey commented on #1357
so, this is a terrible work around but... keep entering your password.

its not asking again to retry the password, its asking again cause its running another ssh command.

heres a hot tip- the first time it asks you, open another terminal session, do 'eval $(ssh-agent) && ssh-add /path/to/newly/copied/key'

then save and it wont keep asking you in the other session

[2015-10-27 19:51] nathanleclaire commented on #2018
Interesting -- which bits are we relying on?

[2015-10-27 19:59] tianon commented on #2018
https://github.com/docker/machine/blob/9f01770d7e0a21ae7fda67619e321e91e98ed446/libmachine/provision/boot2docker.go#L149-L166
[code]

[2015-10-27 20:05] tianon commented on #2018
I'm working on a slightly less trim patch.

[2015-10-27 20:05] nathanleclaire commented on #2018
Nice -- I see, it's the whole `EXTRA_ARGS` generation bit in there which is problematic.

[2015-10-27 20:12] nathanleclaire commented on #2094
We can't do it directly from the Machine binary (child process can't alter the environment of their parent), but you could make a shell alias for it.  There's one such shell alias included in our bash autocompletion scripts, so take a look at those if you're curious.

[2015-10-27 20:12] #2094 closed

[2015-10-27 20:18] tianon commented on #2018
Does this seem more sane?

[code]

[2015-10-27 20:20] tianon commented on #2018
I tried to replicate the existing logic as closely as possible minus the explicit certificate generation.

[2015-10-27 20:20] tianon commented on #2018
Shoot, I guess that won't work in the case of no cert files, one sec.

[2015-10-27 20:27] tianon commented on #2018
Ok, more iteration:
[code]

[2015-10-27 20:27] nathanleclaire commented on #2018
@tianon If you throw it into a PR on boot2docker/boot2docker, I'm happy to bake some ISOs and try it out with Machine!

[2015-10-27 20:32] tianon commented on #2018
Sounds good, I'm testing it personally now, and when I'm done I'll send a PR. :+1:

[2015-10-27 22:04] dmp42 opened #2101 "Fix Cisco AnyConnect (or at least provide decent workaround)"

[2015-10-27 22:19] nathanleclaire commented on #2101
:+1:

[2015-10-27 22:56] nathanleclaire commented on #1312
I would also prefer to have them encrypted, or at least to expose that as an option to the end user.

[2015-10-27 23:30] onejli commented on #2018
Woot!  If the goal is to completely remove cert generation from the `boot2docker` image, you'll probably also want to remove the default CA, cert, key, etc. that are baked into the image.
[code]

`docker-machine` only provisions the following files
[code]

[2015-10-28 00:12] dmp42 opened #2102 "Gracefully fallback if building out of a git clone"
See https://github.com/Homebrew/homebrew/issues/45352

[2015-10-28 00:22] nathanleclaire commented on #2102
What do you think about https://github.com/docker/machine/pull/2103 ?

It should clean up the error messages and will simply have the git tag be empty string in the resulting binaries, which seems reasonable result to me.

[2015-10-28 01:32] #2102 closed

[2015-10-28 01:32] dmp42 commented on #2102
Yes, works well. Thanks @nathanleclaire

[2015-10-28 01:49] dmp42 commented on #2101
Apparently available for download here: https://wiki.umms.med.umich.edu/display/UMHSHELPDESK/VPN+-+Cisco+AnyConnect+Client+for+Macintosh#VPN-CiscoAnyConnectClientforMacintosh-MacOSX10.6.8%2C10.7%2610.8

Successfully installed and ran it (be sure to disable everything but the "VPN" option).

[2015-10-28 08:46] dgageot commented on #2092
@nathanleclaire I think the problem is not related to hardware virtualization check. The path `machines/default/default/Logs/VBox.log` is wrong. It looks like the `StorePath` is empty which is another problem.
Closing this issue.

[2015-10-28 08:46] #2092 closed

[2015-10-28 09:08] dgageot commented on #2093
OK, I'm going to just log a warning (which unfortunately is not visible unless running in debug mode).
Anyway, the vm is checked for actual VT-X support after creation.
If the first check can be improved to being bulletproof, then we can restore the failure before the vm is created.

[2015-10-28 10:17] darrenhaken commented on #1819
@nathanleclaire can I ask why docker-machine is coupled so much to docker?

Is there anything the community can do to help decouple them more and reduce the release cycles?
I imagine some form of contract tests between the two tools would help.

Is there any form of semver for docker so to help understand when API changes would happen?

[2015-10-28 10:42] scotty6435 commented on #1692
Why oh why oh why hasn't this been merged into a release yet? As far as I can see any Windows machine will fail because of this error!

[2015-10-28 10:47] gmacario commented on #1692
The fix is included in v0.5.0-rc3 so that should land on v0.5.0 when it is released

[2015-10-28 11:45] hairyhenderson commented on #1312
One easy option as a default would be to encrypt with the SSH key for the machine. Although, arguably the key should be encrypted as well ;)

When there's a way to put the config store somewhere other than the local file system, this kind of thing will be both important and more easy to implement. I'm thinking something like Vault...

[2015-10-28 18:09] dburry commented on #2050
I've run into this issue as well.  For now @frapposelli 's workaround seems to work by modifying my `docker-compose.yml` from:
[code]
to:
[code]

[2015-10-28 18:24] mathemagica commented on #179
+1

[2015-10-28 18:46] nathanleclaire commented on #2092
Yeah good call.  It makes sense and I happen to know that something is wonky in the migration on this particular computer / DM combination.

[2015-10-28 19:18] arun-gupta opened #2108 "Incorrect when trying to start an already running machine"
A few Docker machines are running:

[code]

Didn't realize and tried to start the `couchbase` machine again and got the message:

[code]

docker-machine should detect that the machine is already running and show an appropriate message.

[2015-10-28 19:23] dmp42 commented on #2108
Hi @arun-gupta

What version of machine is that?
Any chance you can try the latest RC and confirm this is still a problem?

Thanks.

[2015-10-28 19:33] arun-gupta commented on #2108
@dmp42 here is the output with 0.5.0 rc3:

[code]

why is it coming twice?

[2015-10-28 20:28] dmp42 commented on #2108
ping @nathanleclaire

[2015-10-28 20:44] nathanleclaire commented on #2108
Can dupe and looking into it.  Thanks @arun-gupta

[2015-10-28 22:08] #2093 closed

[2015-10-28 22:18] #2023 closed

[2015-10-28 22:22] #2108 closed

[2015-10-28 22:26] graphnode commented on #1706
Deleted docker-machine and host-only interfaces in virtualbox and then created the docker-machine again getting this error: `Cannot rename this connection. The requested operation was made in the context of a transaction that is no longer active.`

[2015-10-29 00:10] iBobik commented on #179
About this use-case:

I think it will be better (from UX point of view) to just fix Machine to work with volumes like users expect - use volumes like there is no Machine, just host (Win or Mac) and containers. Good reference what people expect is there: boot2docker/boot2docker#581

[2015-10-29 05:57] chantra opened #2110 "support b2d on linux host"
b2d install just fine on a Linux host, but the homedir is not mounted preventing from mounting volume in the container.
I have a patch for both b2d and docker-machine that would add support.

The issue is alrady logged in https://github.com/boot2docker/boot2docker/issues/1085 . Opening it here for visibility.

[2015-10-29 07:10] jamshid opened #2111 "Certificate confusion in /var/lib/boot2docker/ (1.9.0-rc2)"
I installed docker toolbox 1.9.0-rc2 https://github.com/docker/toolbox/releases/tag/v1.9.0-rc2 on my OS X desktop (192.168.2.5). I am trying to connect to the docker vm (192.168.99.100:2376) via an ssh tunnel running on my notebook.
[code]
I then set these docker env variables to connect via the docker port proxy:
[code]
But the docker client on my notebook still cannot talk to the docker server i

[2015-10-29 09:23] Kalle80 commented on #1714
Hi!

I have also the same issue.

Could it be really so, that the Droplet is not yet ready...

[2015-10-29 12:51] thomassnielsen opened #2114 "Switching env missing .pem after creating machine on ec2"
I've just created a machine on ec2, but I can't switch to it. There were some errors during setup that might have contributed to this. Steps:

1. Created the machine
[code]

Errors during creation:

[code]

There is a bug in the ec2 repos that might have contributed to this. Anyway, after logging in to the server and connecting to the upstream repos instead, I'm able to run `sudo apt-get update` j

[2015-10-29 13:09] npolonski commented on #1491
+1 For this. Would like the ability to easily add a bridge to the docker host when running on a Mac.

[2015-10-29 14:02] drbitslayer commented on #2091
Agreed, I am spinning up many times and with docker-machine "hanging" when removing docker machines it's not removing the adapaters.  I end up with many of them.

[2015-10-29 15:34] pvnovarese commented on #2098
I'm not sure what other users expect, but my personal expectation is that at a given point in time, if I "docker-machine create" a new machine or if I "docker-machine upgrade" an existing one, both of those operations conclude by leaving me with a machine with the same version of engine installed.

Also, even if you guys decide that the default upgrade behavior is to never use release candidate IS

[2015-10-29 16:47] dgageot commented on #1432
Hi @DazWilkin, do you think it's ok if we always open both ports? Or should we do it only when a swarm host is created?

[2015-10-29 16:51] dgageot commented on #1061
@cboettig With version 0.5.0, `--google-auth-token` is not supported anymore. Instead, it used Google's Default Authentication so that you just have to run `gcloud auth login` once and then use `docker-machine` as many times as you like.

Error messages should also be a bit clearer and

@cboettig Documentation was updated to replace "Projec" name" with "Project Id"

Closing the ticket. Feel free t

[2015-10-29 16:51] #1061 closed

[2015-10-29 16:56] dgageot commented on #1628
This was done on the google driver.
Digital ocean driver is still using it though.

[2015-10-29 17:00] dgageot commented on #1511
@jcmoore This should be fixed in 0.5.0 because google driver now uses Google's Default Authentication.

Feel free to reopen though.

[2015-10-29 17:00] #1511 closed

[2015-10-29 17:12] dmp42 commented on #2111
ping @docker/machine-maintainers

[2015-10-29 17:27] jrep commented on #1500
Add Jupiter Junos Pulse to the list of VPN software that seems to cause this problem.

It strikes me as likely that *any* VPN would do this, since they all have the same fundamental definition to override "ordinary" routing.

[2015-10-29 17:44] upgradingdave commented on #584
I ran into this same issue. When I specified security group by id `    --amazonec2-security-group sg-e46bc382 `, I got an error

     Launching instance...
     Error creating machine: Error decoding error response: Error decoding error response: http: read on closed response body
You will want to check the provider to make sure the machine and associated resources were properly removed.

But when

[2015-10-29 17:57] nathanleclaire commented on #1714
Hi all, this is not an uncommon issue (I just ran into it yesterday), however it is a little bit tricky to solve since an "irreconcilable" failure (such as the network dropping and never coming back up during `create`) could potentially be difficult to distinguish from the type of failure where nothing is _actually_ wrong (and consequently the droplet is just taking a long time to boot).  The "eas

[2015-10-29 18:07] remram44 commented on #1500
Wait what? I'm not using any kind of VPN or proxy...

[2015-10-29 18:07] dgageot commented on #1912
Hi @mrumpf which version of machine are you using?

[2015-10-29 18:50] Akhena commented on #1753
Unfortunately I did not have time to search more for the root cause of this issue. Maybe the old git (x86) path still existed, and that tricked the installer into thinking Git x86 was still installed.

Anyway, I ended uninstalling everything (boot2docker + toolbox + git), and reinstalling from scratch. Almost everything is perfect now, except for the fact that I am behind a corporate proxy that do

[2015-10-29 18:50] #1753 closed

[2015-10-29 19:06] FrenchBen commented on #1753
@Akhena Thanks for the feedback - Although not perfect, you can look at the following wiki which highlights how some users have modified their VM to work with their proxy:
https://github.com/kitematic/kitematic/wiki/Common-Issues-and-Fixes#proxy-issues

[2015-10-29 19:11] Akhena commented on #1753
@FrenchBen Thanks for the link. It will help me having the proxy supported by Kitematic.
For the vm itself, I managed quite easily to add the proxy, but it's the self signed certificated used for https that I still have trouble with.

[2015-10-29 19:22] nathanleclaire commented on #2110
Dupe of https://github.com/docker/machine/issues/1376

[2015-10-29 19:22] #2110 closed

[2015-10-29 19:23] nathanleclaire commented on #2095
Yeah, unfortunately it's a known issue.  It's related to VirtualBox networking.  We'll continue looking into it, thanks.

[2015-10-29 19:25] nathanleclaire commented on #1992
@sebastienhouzet Can you create a machine successfully in a terminal using `docker-machine --debug create -d virtualbox default`?

[2015-10-29 19:28] nathanleclaire commented on #2111
Dupe (I think?) of: https://github.com/docker/machine/issues/2018

@jamshid, by "this" do you mean "forward the daemon port to localhost"?

[2015-10-29 19:33] #737 closed

[2015-10-29 19:40] jrep commented on #1500
VPN is just one of many things that mess with network configuration. More generally, any change in network connections might (and that includes some things you might not think of as "networking"):

* VPN enable/disable
* Wired LAN connect/disconnect
* WiFi enable / disable / zone change (like carrying a laptop to another area of the building)
* Bluetooth device connect/disconnect (because of [Blue

[2015-10-29 19:50] remram44 commented on #1500
I'm using an old-fashioned RJ45 cable...

I don't understand why docker-machine is that sensitive to these events.

[2015-10-29 19:53] dgageot commented on #1500
I tried rj45 plug/unplug, wifi switching. No issue on my side.

[2015-10-29 19:59] charlesg3 opened #2119 "Certificates for a machine are always regenerating and causing destructive results (stopped containers)"
It seems that docker-machine is shutting down our containers when we either `docker-machine env $MACHINE` or `docker-machine ssh $MACHINE`

## BUG REPORT INFORMATION

`docker version`:
[code]

`docker info`:

[code]

`uname -a`:
[code]

Snippet of kernel log around the crash:

[code]

Steps to reproduce the issue:
1. Create many containers on the same machine (we're using docker-compose which does

[2015-10-29 21:21] nathanleclaire commented on #886
Here's my thinking on how to enable this (since IMO it's a very important type of driver to enable and would love to see Triton / Carina type drivers):

I don't want to change the `Driver` interface directly since it is a huge pain to try and do so (at least without a version bump to the driver API, which I want to save until we're going to make some changes that are _really_ exceptionally worth i

[2015-10-29 21:52] nathanleclaire commented on #2114
Yes, this is one of many reasons I'd like to introduce `docker-machine provision` command -- to redo provisioning if a step temporarily fails.

[2015-10-29 21:58] nathanleclaire commented on #2119
Thanks a lot for such a detailed bug report.

`env` will regenerate the certificates if it detects that they are invalid (which entails a daemon restart, that's what you're seeing here) and I've had a bug with the proper certificate path -- that's my immediate suspect and I'm curious to see if the issue still exists with RC4.  I'm about to release that and I'm inclined to suggest trying it.  I'll

[2015-10-29 22:15] nathanleclaire commented on #2025
I made a script which will actually bootstrap hosts on `digitalocean` and run the cross compile in containers across 6 hosts.

[code]

I want to use Swarm for it, but this is a start, and I can run the whole build in ~6 minutes this way.

[2015-10-29 22:22] thomassnielsen commented on #2114
Are there any decent workarounds at this time? Can I regenerate the .pem file in some way?

[2015-10-29 22:27] nathanleclaire commented on #2114
You could try `docker-machine regenerate-certs mcnanme`.  That might work.  The most reliable, though, is to just create a new machine.

[2015-10-29 22:27] nathanleclaire commented on #2119
OK, can I get you to give RC4 a whirl please?

[2015-10-29 22:40] cnuernber commented on #2119
What invalidates the certificates?

[2015-10-29 22:40] cnuernber commented on #2119
A new AWS access key id?

[2015-10-29 22:43] nathanleclaire commented on #2119
@cnuernber No, unless I am mistaken it's a bug with tracking which directory they are stored in.

[2015-10-29 22:44] nathanleclaire commented on #2119
BTW @charlesg3, really sorry about this bug, it's horrible that Machine is accidentally triggering daemon restarts just because an `env` is attempted.  Perhaps we need to re-visit our thinking around the workflow there.

[2015-10-29 22:44] nathanleclaire commented on #2119
cc @docker/machine-maintainers this is an important issue

[2015-10-29 22:47] cnuernber commented on #2119
Well, consider you have a team of people all accessing a single machine.  Each one should have the same certs but they will all store them in different local directories ~/.docker evals to a different spot for each person.

[2015-10-29 22:52] nathanleclaire commented on #2119
And?

[2015-10-29 22:55] charlesg3 commented on #2119
Indeed. Trying to use docker-machine to deploy to remote machine running long-running services, I would prefer to not connect than to stop the daemon on the target machine. Esp in the situation that I may be doing a status check that could then result in stopping all services running on the target machine.

[2015-10-29 22:59] charlesg3 commented on #2119
I'm happy to try RC4 btw... What's the best way of obtaining it?

[2015-10-29 22:59] nathanleclaire commented on #2119
Yeah, once again really sorry.  I think we need to consider how to make this behavior safer.

[2015-10-29 22:59] nathanleclaire commented on #2119
Best way to try RC4 is to go to https://github.com/docker/machine/releases and follow the install instructions.

[2015-10-29 23:03] charlesg3 commented on #2119
To @cnuernber's point, then when each of the different team members does an `env` then if the cert gets invalidated based on where it is located then each user having them in a different directory will cause it to constantly invalidate?

I'm not sure I have enough detail how the directory they are stored in comes in to play.

[2015-10-29 23:08] nathanleclaire commented on #2119
The directory itself doesn't matter but I'm wondering if the regression where I was returning `~/.docker/machine/certs` instead of `~/.docker/machine/machines/foo` might have been the culprit for the cert regeneration.

[2015-10-30 01:26] mefellows commented on #1274
For others who might've had the same issue, it turned out to be rate-limiting for me:

[code]

[2015-10-30 02:10] nathanleclaire commented on #1274
@mefellows If you're getting rate limited, there's now a `--github-api-token` flag to specify your own GH API token to dodge the rate lmit

[2015-10-30 03:24] chantra commented on #1376
@nathanleclaire here is a PR: #2122

[2015-10-30 04:07] atomi commented on #1376
Haha 3 lines minus the VTX checking. If that's all, I think this should be in 0.5.0 to stay in parity.

[2015-10-30 04:21] wkonkel commented on #986
I just ran into the "Starting VM" hanging issue and it wasn't the ```~/.ssh/config ControlMaster``` problem a lot of people seem to be having.

I eventually discovered that I had accidentally commented out ```127.0.0.1 localhost``` from my /etc/hosts and it was defaulting to the IPv6 ```::1 localhost```. Adding 127.0.0.1 back fixed the "Starting VM" problem instantly.

[2015-10-30 04:59] kunalkushwaha opened #2123 "After upgrade to v0.5.0-rc4, Docker machine breaks on Windows 7"
I upgraded to ``v0.5.0-rc4`` on windows7 with VirtualBox.

When I launch ``docker-quickstart-terminal`` or try to do any operation with ``docker-machine`` it results into following Warning.

[code]

Did I missed anything while upgrade?

[2015-10-30 05:22] chantra commented on #1376
it also requires https://github.com/boot2docker/boot2docker/pull/1086 to be functional though

[2015-10-30 05:29] kunalkushwaha commented on #2123
I think problem was old docker-virtualbox-driver loaded in memory.
After manually stopping task from task-bar, Now it works file.

[2015-10-30 05:39] jamshid commented on #2111
Yes, #2018 looks like the same issue, closing this one. Just to be clear, this means the the docker server cert will always include 127.0.0.1, not just the VM's ip address, right? Hopefully the fix will be in the 0.5.0 release pretty please?

Yes, was just wondering if there's a better way to expose a VM's docker daemon port to another machine (that can only see the VM's host). Seems this is somet

[2015-10-30 05:39] #2111 closed

[2015-10-30 06:01] atomi commented on #1376
That makes more sense.  Yea linked directories might being up race condition issues...

[2015-10-30 08:30] thomassnielsen commented on #2114
Thanks, that worked. I'm afraid I might have missed some other steps as well, as I'm having other problems too (still investigating).

It seems pretty volatile that any error like this can cancel the whole process, especially now that EC2 presumably will cause this error every single time until they fix their Ubuntu repos and/or VM image. (if I'm understanding what's happening correctly)

Would `d

[2015-10-30 10:11] rohanmathur3 commented on #1826
Hi All,

I want to mount container (docker image) directory to local machine data volume so that I can modify files inside the container using docker-machine. Can anyone please help me on this.

FYI: I am able to mount my local machine data volume to container.

[2015-10-30 10:50] sebastienhouzet commented on #1992
it doesnt work with this command :/

[2015-10-30 10:51] dgageot commented on #1992
@sebastienhouzet Can you gist the whole output of running `docker-machine --debug create -d virtualbox default`?

[2015-10-30 10:55] sebastienhouzet commented on #1992
Now if i re-launch command, it display : Error creating machine: Machine default already exists
You will want to check the provider to make sure the machine and associated resources were properly removed.

But the previous and first launch display :

TDERR:
Using SSH client type: external
About to run SSH command:
ip addr show dev eth1
&{/usr/bin/ssh [/usr/bin/ssh -o PasswordAuthentication=no -o I

[2015-10-30 10:59] dgageot commented on #1992
@sebastienhouzet
Which version of machine are you using?
Can you try the latest release candidate for Toolbox/machine? https://github.com/docker/toolbox/releases

[2015-10-30 13:37] mrumpf commented on #1912
[code]

[2015-10-30 13:39] dgageot commented on #1912
@mrumpf Thanks. Can you try latest release candidate [0.5.0-rc4](https://github.com/docker/machine/releases/tag/v0.5.0-rc4), tell us if it still fails and gist the whole output? That would be perfect.

[2015-10-30 14:00] gfarrell opened #2126 "`docker-machine scp` to copy files from local folder to machine"
I'm trying to copy over some certificates from my computer to a `docker-machine` provisioned DigitalOcean droplet.

    docker-machine scp /local/path/to/certs/* machine-name:/etc/secure/

This gives me an error `Improper number of arguments`. Given that the usage doc says:

    Arguments are [machine:][path] [machine:][path]

Is this a bug?

(ref http://stackoverflow.com/questions/33437742/docker

[2015-10-30 14:40] sebastienhouzet commented on #1992
@dgageot Perfect with your new version !! Nice :+1:

Seb

[2015-10-30 14:40] dgageot commented on #2126
Hello @gfarrell What you are trying to do is copy multiple files at once right? This is not possible. I think the `*` wildcard will be replaced by the shell with all the files in `/local/path/to/certs`. So `docker-machine scp` receives more than 2 arguments hence the error.
Does it make sense?

[2015-10-30 14:40] #1992 closed

[2015-10-30 14:42] dgageot commented on #2126
I guess you should use the `-r` flag to copy the content of one folder to another folder.

[2015-10-30 14:47] #2126 closed

[2015-10-30 14:54] dgageot commented on #1443
@jeffbrl This should be fixed with [0.5.0-rc4](https://github.com/docker/machine/releases/tag/v0.5.0-rc4)
You will get an error message saying what the problem is.
Feel free to re-open in case it isn't.

[2015-10-30 14:54] #1443 closed

[2015-10-30 14:55] jeffbrl commented on #1443
Great. Thanks, David.

On Fri, Oct 30, 2015 at 10:54 AM, David Gageot <notifications@github.com>
wrote:

[2015-10-30 15:16] dgageot opened #2127 "create hangs forever if linux host doesn't support HW virtualization"
I tried to create a virtualbox machine on a google compute engine ubuntu vm. This hangs forever because it doesn't realise that boot2docker can't boot.

Looking at the vm's log, I see: `WARNING! 64-bit guest type selected but the host CPU does NOT support HW virtualization` and looking at a snapshot of the "running" vm, I see "This kernel requires an x86-64 CPU, but only detected an i686 CPU."

We

[2015-10-30 15:22] mrumpf commented on #1912
Great! Debug output has been improved.

Unfortunately the error is the same:
[code]

[2015-10-30 16:04] dgageot commented on #2091
@nathanleclaire Do you know what creates those networks in the first place? I've tried to push vb into doing it. I failed.

[2015-10-30 16:09] dgageot commented on #2007
Not enough information. Closing the issue.
@tkrsumanth Feel free to reopen!

[2015-10-30 16:09] #2007 closed

[2015-10-30 16:10] charlesg3 commented on #2119
Hi Nathan,

We upgraded `docker-machine` on our CI server and then ran a task which runs `docker-machine env` which again resulted in all of our containers dying.

[code]

Is there some way that we can basically just turn this "feature" off for now? I'd definitely rather have `docker-machine env` not work than have our containers / services go down.

[2015-10-30 16:12] aaronbbrown commented on #1826
[This](https://github.com/aaronbbrown/docker_home/blob/master/dm_run#L62) (see L62 and L163) is the approach I took to getting my /Volumes dir mounted in the docker machine image, and also handling port forwarding, ntp, and a number of other issues I've encountered while running docker on OSX.

The wrapper script shuts down the machine if there are changes to be made, makes the changes, then resta

[2015-10-30 16:24] dgageot commented on #2119
@nathanleclaire @docker/machine-maintainers

+ We have a mix of using the certificated that are in `~/.docker/machine/certs` and in `~/.docker/machine/machines/[default]`. We should sort this out.
+ Can we get rid of  `~/.docker/machine/certs` altogether? I'm too new to the project, so I have no idea yet.
+ Maybe we should stop auto-regenerating certs. This has caused a lot of endless loops and ca

[2015-10-30 16:25] ljrittle opened #2129 "Driver name missing on upgrade from docker-machine 0.3.1 to 0.5.0-rc4"
`$ docker-machine ls`
Driver "" not found. Do you have the plugin binary accessible in your PATH?

I placed all drivers in /usr/local/bin per the release notes.  Confirmed they are seen on PATH.

Here is what docker-machine 0.5.0-rc4 did when it translated the `config.json` file:

`$ more ~/.docker/machine/machines/dev/config.json.bak`
{"DriverName":"virtualbox","Driver":{"IPAddress":"192.168.99.1

[2015-10-30 16:32] ljrittle opened #2130 "Major install size regression"
0.3.1 was about a 12MB install on OS X
0.4.1 was about the same
0.5.0-rc4 is about 138MB

Is it safe to delete drivers (or extract only those required during the install step) that will never be used for a given install site?

[2015-10-30 16:59] charlesg3 commented on #2119
It looks like I may not have installed the new version properly (I followed the script provided on the release notes), but I get the following error when trying to do `ls`:

[code]

[2015-10-30 17:15] dmp42 commented on #2130
@ljrittle it is safe to remove the drivers you have never used and don't plan on using.

[2015-10-30 17:15] #2130 closed

[2015-10-30 17:49] charlesg3 commented on #2119
I'm also seeing errors with the new version of docker machine:

[code]
I believe docker-machine should be getting the  credentials from `~/.docker/machine/machines/$name/config.json` -- which seems to be set correctly, is there any way to verify which credentials it's using?

[2015-10-30 18:36] nathanleclaire commented on #2129
It's intended to work seamlessly but I mostly tested 0.4.1 => 0.5.0, so I missed this. Sorry about that, we're working on a fix.

[2015-10-30 18:43] nathanleclaire commented on #2123
Excellent thanks for following up @kunalkushwaha !

[2015-10-30 18:43] #2123 closed

[2015-10-30 19:04] ELLIOTTCABLE opened #2132 "The help-text for the `create` command is infuriatingly wide"
This is unreadable:

![](http://ell.io/i14LwN+)

It seems to be because of the `--google-scopes` and `--exoscale-security-group` flags. :P

![](http://ell.io/i16mBg+)

[2015-10-30 19:04] gfarrell commented on #2126
yes, got it, thanks!

[2015-10-30 19:06] ELLIOTTCABLE commented on #2132
Actually, further, it'd be a lot less confusing for a newcomer if that list were broken down. I'm assuming it's automatically generated, but it'd be really nice if the *inspecific* flags were listed first, and then the individual flags for each “driver” (took me a few minutes to even find out that there *was* a `--driver` flag, in all that mess!) were listed separately / below.

[2015-10-30 19:12] ELLIOTTCABLE commented on #2132
… and further yet, if I run it according to that help-text,

    Usage: docker-machine create [OPTIONS] [arg...]

    Create a machine

         --vmwarefusion-cpu-count 2 --vmwarefusion-disk-size 10000 --vmwarefusion-memory-size 4096
    <legions of help-text>
    “You must specify a machine name.”

Nowhere in all of the output help-text is there any description of how to specify a “machine name.

[2015-10-30 19:14] nathanleclaire commented on #2132
Please try the 0.5.0-rc4.  Now driver-specific flags only appear if you specify the driver with the `--driver` flag.

[2015-10-30 19:14] #2132 closed

[2015-10-30 19:17] ELLIOTTCABLE commented on #2132
@nathanleclaire excellent! Always great to report a problem, only to hear it's already been fixed in HEAD. <3

[2015-10-30 19:19] nathanleclaire commented on #2111
I think you're referencing https://github.com/docker/machine/pull/2065 which should be released in 0.5.0.

[2015-10-30 19:20] nathanleclaire commented on #2111
SSH port forwarding and Virtualbox NAT port forwarding both seem reasonable solutions to me for exposing the daemon port on `localhost`.

[2015-10-30 19:20] nathanleclaire commented on #2119
@dgageot The first two are up for debate, but I think for this release we need to keep the behavior and model as consistent as possible with older versions, with the exception of probably removing this problematic cert regeneration behavior.  `docker-machine regenerate-certs` is available for the case where it needs to be done manually, which seems slightly safer.

[2015-10-30 19:23] nathanleclaire commented on #2132
I think you mean the specification of "name" as an argument?  If so, then no, but that issue is slightly more problematic.  Our cli library AFAIK doesn't allow specification of named args in the example in the help text, but I'd consider a pull request that adds it to the small summary (e.g. add `Accepts a machine name as an argument`).

[2015-10-30 19:24] nathanleclaire commented on #2114
Yeah, exactly -- "configure certs, install docker, configure docker" are all one step in `provision`, but it would be the start of such granularity.

[2015-10-30 19:27] nathanleclaire commented on #2091
They're created through `VBoxManage`, and usually the invoker is either:

1. Faulty logic in Machine (whether it's older versions, experimental branches, etc.) or
2. Other tools such as boot2docker and Vagrant that do this kind of creation and may or may not have cleaned up

My thinking is, our best bet to start resolving these kinds of issues, is take a look at the output of commands from users w

[2015-10-30 21:39] nathanleclaire opened #2134 "Backwards compatibility / migration expectations should be made clear"
To this point, we have largely provided migrations as a convenience to users without any strong backwards compatibility guarantees between versions and our general guiding rule has been that if you update from Machine version to Machine version, there shouldn't be issues, but if you skip versions there may be.  If there are problems it isn't always a huge deal as most users are just using `virtual

[2015-10-30 21:39] nathanleclaire commented on #2134
cc @docker/machine-maintainers

[2015-10-30 22:25] #2127 closed

[2015-10-30 22:51] #2129 closed

[2015-10-31 09:02] dracan opened #2136 "Creating VirtualBox machine no longer works after rc4"
Since grabbing the latest version (rc4), I now get this output when trying to create a machine ...

(see the first line in the quote above for the command I'm using)

This is on Windows 10, and I've seen this happen on two machines - my work machine, and my personal laptop.

I've tried deleting my entire .docker folder and all VirtualBox machines, but it doesn't make a difference. I don't have any

[2015-10-31 09:07] dracan commented on #2136
Although strangely, I've just tried reverting to rc2 (I couldn't use rc3 due to #2093), but it's still doing it. Strange that I've seen it on both my work machine (yesterday) and my personal laptop (today) after upgrading to rc4 though. Are there any caches stored anywhere other than the `<user>\.docker` folder?

[2015-10-31 14:33] juharris commented on #1814
Those still having trouble may find [this post][http://serverfault.com/a/674978/319713] helpful. It details how to add the shared folder, create the directory in the VM (using `mkdir`), then how to mount it.

[2015-10-31 18:01] tatums commented on #1491
+1

[2015-10-31 18:48] gcuisinier commented on #1792
+1, but the hook way seems more interesting

[2015-11-01 01:27] mcfiredrill commented on #1931
ugh :sweat:

[2015-11-01 07:43] mefellows commented on #1274
Thanks @nathanleclaire, good tip!

[2015-11-01 11:39] kvondreth opened #2137 "Fusion: ip not found for static address"
With vmware Fusion driver:
When using a static IP (assigned in the dhcp.conf of the vmnet), docker-machine does not find the IP.
Reason is a static IP does not appear in the DHCP lease.
Is there a reason why the driver parses the leases and does not use "vmrun getGuestIPAddress"?
Does docker-machine needs to get the IP when the VM is down?

[2015-11-01 22:42] thaJeztah commented on #1964
I see the issue was closed, but a PR is still open here; https://github.com/Homebrew/homebrew/pull/45403

[2015-11-02 03:57] webfella commented on #1709
+1

[2015-11-02 04:50] kunalkushwaha commented on #2136
I am facing similar problem on ``Windows 7 + VirtualBox 5.0.6``.
The issue  is multiple Host-Only networks get created. and Multiple docker machines have same ip ``192.168.99.100``

Only way, I am able to fix it by retstarting the machine to restart VirtualBox service. Also before restarting machine, delete newly created hostonly network.

I started using Docker machine recently so canot confirm t

[2015-11-02 05:07] kunalkushwaha commented on #2136
I think this problem was faced with earlier builds too. https://github.com/docker/machine/issues/1996

[2015-11-02 05:55] dracan commented on #2136
This isn't the same issue as I'm seeing. I only have one Docker Machine, and there aren't any VirtualBox host only network interfaces created.

[2015-11-02 06:25] kunalkushwaha opened #2138 "proxy setting options for containers created by --swarm options."
[An environment behind proxy]

To setup docker swarm host, docker-machine provides options ``--swarm``.
While ``docker-machine create``,  using ``--engine-env HTTP_PROXY==<proxy>``, proxy for docker-machine can be configured.

But, if default token service from hub.docker.com is used as discovery service, It fails, since the ``proxy`` settings are not availble to containers, and it is not able to

[2015-11-02 07:22] kunalkushwaha opened #2139 "[Feature Request] docker-machine tree command."
A ``docker-machine tree``  command, which prints list of docker containers from each machine.
This may be useful, to visualize the docker containers, without switching to each machine.

[code]

[2015-11-02 09:09] valentin69 commented on #1513
Same with docker-machine version 0.4.1 (e2c88d6)
Any news on this ?

[2015-11-02 09:15] dgageot commented on #2139
Maybe we should support additional commands "a la" git. If a `docker-machine-tree` binary is available in the path then `docker-machine tree` will use it.

[2015-11-02 09:58] NeilW opened #2140 "Driver Interface has Restart, but Host Restart doesn't use it."
Host Restart will do a start and stop regardless of whether there is a specific driver restart method.

[2015-11-02 13:42] dgageot commented on #2138
Looks like the swarm containers should be started with something like `-e HTTP_PROXY -e HTTPS_PROXY` in https://github.com/docker/machine/blob/master/libmachine/provision/configure_swarm.go#L87-L106
Would you like to shoot a PR?

[2015-11-02 13:50] dgageot commented on #2114
Closing the issue since `docker-machine regenerate-certs mcnname` did the job.
#2121 will address this issue in a broader way.
@thomassnielsen Feel free to reopen.

[2015-11-02 13:50] #2114 closed

[2015-11-02 13:51] dgageot commented on #2101
Hi @dmp42, I'm not sure I understand your message here...

[2015-11-02 14:00] dgageot commented on #2086
@nathanleclaire Let's start with the aggregation. Ok ?

[2015-11-02 14:32] dgageot commented on #2050
Hi @frapposelli Any news?

[2015-11-02 14:39] dgageot commented on #2029
@jpetazzo Do you think we could at least print a warning to the user saying that `--engine-install-url` should not be used with `virtualbox` driver. We could point to using `--virtualbox-boot2docker-url` instead. The other solutions seem very expensive.

[2015-11-02 15:01] dgageot commented on #2017
Hi @rahal Can you tell us which version you are using. Also can you try with docker-machine 0.5.0-rc4 please?

[2015-11-02 15:02] dgageot commented on #2009
@frapposelli any idea?

[2015-11-02 15:04] jeffpereira commented on #2009
Also as an FYI this was happening in virtual box as well.

On Mon, Nov 2, 2015 at 10:02 AM, David Gageot <notifications@github.com>
wrote:

[2015-11-02 15:07] dgageot commented on #2004
Sorry @blaggacao is this ticket related to docker-machine?

[2015-11-02 15:10] dgageot commented on #1996
Other users have reported, this duplicate ip assignment.
But we lack more evidences of how it happens.

@arun-gupta Closing for now, re-open if you manage to reproduce it.

[2015-11-02 15:10] #1996 closed

[2015-11-02 15:14] jpetazzo commented on #2029
Printing a warning would be sufficient (and, in my opinion, necessary :-))

The other solutions were just listed out of completeness.

On Mon, Nov 2, 2015 at 6:40 AM, David Gageot <notifications@github.com>
wrote:

--
@jpetazzo <https://twitter.com/jpetazzo>
http://jpetazzo.github.io/

[2015-11-02 15:21] dgageot commented on #2029
Thanks @jpetazzo we are aligned ten!

[2015-11-02 16:00] Plimsky commented on #1709
+1

[2015-11-02 18:12] nathanleclaire commented on #2086
Yeah that SGTM

[2015-11-02 18:38] nathanleclaire commented on #2139
Yes, I think it's far out of the scope of main Machine binary, but would make an interesting plugin (if we were to implement such a model as @dgageot mentions) or shell script.

[2015-11-02 18:38] #2139 closed

[2015-11-02 19:22] metasim commented on #1221
@baio +1

[2015-11-02 19:31] ericandrewlewis commented on #1857
Experience this regularly on `docker-machine version 0.4.1 (e2c88d6)`. Glad to be a guinea pig for questions / solutions.

No.

Yes.

[2015-11-02 19:37] twindagger commented on #1163
I had the same issue - @mfcollins3 pointed me in the right direction. Temporarily emptying my profile allowed me to create the machine.

[2015-11-02 19:37] nathanleclaire commented on #1964
They're waiting for the actual 0.5.0 release as far as I'm aware. I'd say we've moved this far enough on our end that I feel safe closing it.  We can re-open if there's a hiccup in getting that PR out the door.

[2015-11-02 19:37] #1964 closed

[2015-11-02 20:06] nathanleclaire commented on #2140
+1

[2015-11-02 20:18] nathanleclaire commented on #2136
@kunalkushwaha @dracan Can you all please both make a gist.github.com of the output of running `docker-machine --debug create -d virtualbox default`?  It will help immensely with fixing this bug since we will be able to see the conditions in our parsing of the VirtualBox command output that cause Machine to go sideways.

If you can get it in today, even better as the release is planned for tomorro

[2015-11-02 20:41] FrenchBen opened #2142 "VMWareFusion Driver cannot recover from pause/suspend"
Steps to reproduce:
1. Create a VM machine: `docker-machine create -d vmwarefusion vmfuse`
2. Check the VM is working properly: `docker-machine env vmfuse`
3. Suspend/Pause the machine from the VMWareFusion App:
![vmfuse](https://cloud.githubusercontent.com/assets/3965324/10893641/cdd77bae-815e-11e5-8a79-1899de8144d2.png)
4. Try to start/restart the machine from terminal: `docker-machine start vmf

[2015-11-02 22:34] nathanleclaire commented on #2119
Just FYI @charlesg3 -- we are going to disable the automatic certificate regeneration for 0.5.0, and work closely on debugging the issue you are encountering that's causing the faulty cert invalidation ASAP.

[2015-11-02 22:56] metcalfc commented on #1366
The best practices from AWS are outlined here: http://blogs.aws.amazon.com/security/post/Tx3D6U6WSFGOK2H/A-New-and-Standardized-Way-to-Manage-Credentials-in-the-AWS-SDKs

I think its fairly similar to how its being done now actually. Only one flag would need to be added: `--amazonec2-profile` with a default of `default`

The search would look like:
1. CLI flags `--amazonec2-secret-key` and `--amaz

[2015-11-02 23:09] nathanleclaire commented on #2119
@charlesg3 Can you send me an email at nathan@docker.com when you get a chance please?  I'd like to help with debugging this issue but can't find your email anywhere.

[2015-11-02 23:23] SvenDowideit commented on #2018
I use Boot2Docker without using docker-machine, on real hardware. Boot2Docker has been a general purpose micro-distro for almost 2 years - if this is intended to change, can we please find a way to alert our users before we surprise them with docker-machine-ism's (again)

[2015-11-02 23:48] outtolunc opened #2143 "v0.5.0-rc3 docker-machine create --driver digitalocean"
This issue still exists, and has been stated 'this will be fixed in v0.5.0 , will it?

If nothing else have it fall-through to
/etc/os-release
/etc/redhat-release
/etc/centos-release
etc..

Running pre-create checks...
Creating machine...
Waiting for machine to be running, this may take a few minutes...
Machine is running, waiting for SSH to be available...
Detecting operating system of created in

[2015-11-02 23:49] nathanleclaire commented on #2143
I don't think it will be fixed in the 0.5.0 release.  Where did you read that?  Is there a duplicate issue we can consolidate into?

[2015-11-02 23:56] wenlock opened #2145 "Driver plugins cannot write to the terminal from within the driver"
When writing to the new plugin architecture, and we use the libmachine log package for logging, we don't get output for normal docker-machine commands from the plugin to show up on the console.

Expected output is that stdout will receive messages from the plugin driver when the driver uses log.Info and log.Infof.    We do appear to be getting log.Error messages.

[2015-11-03 00:14] nathanleclaire commented on #2145
I've been thinking about this and I'd consider it a bug -- would be nice to expose STDOUT at least.  Generally error communication I would expect to happen through a returned `error` though.  cc @docker/machine-maintainers

[2015-11-03 00:33] nathanleclaire commented on #1954
Some code I've found might be contributing to the timestamp issue:

https://github.com/docker/machine/blob/master/libmachine/cert/cert.go#L53-L56

But it's always been working fine before.

[2015-11-03 00:36] nathanleclaire commented on #1954
@carolynvs @blaggacao Have you run into these issues still?

[2015-11-03 00:46] outtolunc commented on #2143
google:  docker-machine /etc/os-release issue

not sure which had the 'will be fixed in v0.5.0 was in.. as there are so
many.

1031 waiting for vm to start
1684 ..

1643
1596
1019
1833
1591

...

On Mon, Nov 2, 2015 at 3:50 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-11-03 00:55] nathanleclaire commented on #2143
At a quick glance I don't see any issues which clearly reference this bug in the name but I'll treat this one as the bug report until / if we find such a dupe.

[2015-11-03 00:55] nathanleclaire commented on #2143
But for reference, it is still an issue in 0.5.0.

[2015-11-03 01:09] jrep commented on #1500
Could there be a need for some processing time? I keep running into this with a shell function that does:

[code]

When I do these commands one at a time, with my fingers, it goes fine. But when run from the script, the same command sequence works once, than hangs (or takes several minutes).

Connecting to @mrumpf , this VM is the second in my `docker-machine ls` list.

[2015-11-03 01:15] nathanleclaire commented on #1500
@jrep Ah, in that case, yes, you definitely need to wait a brief interval for the daemon to start up and begin accepting requests.  It's why Machine has code to wait for Docker in between our daemon restarts during provisioning.  Arguably, we should check for that on `start` as well.

[2015-11-03 01:43] kunalkushwaha commented on #2136
I am sorry as won't be able to provide log today. My dev machine not with
me today.

Regards,
Kunal Kushwaha

------------------------------
Sent from mobile device
On 03-Nov-2015 5:18 am, "Nathan LeClaire" <notifications@github.com> wrote:

[2015-11-03 06:04] arun-gupta opened #2147 "Error response from daemon: client is newer than server with Docker 1.9 RC3"
Here is the version information:

[code]

Created a Docker machine:

[code]

Configured as:

[code]

`docker ps` gives the following error:

[code]

This is a newly created machine using the latest version of Docker CLI and Docker Machine.

[2015-11-03 06:11] nathanleclaire commented on #2147
Yeah, the UX is not great but if you want to use a RC Docker binary you need to specify to use a release candidate ISO to use e.g. `--virtualbox-boot2docker-url https://github.com/tianon/boot2docker-legacy/releases/download/v1.9.0-rc4/boot2docker.iso`

[2015-11-03 06:11] #2147 closed

[2015-11-03 07:43] Torsten85 opened #2149 "VirtualBox Docker only pulls legacy registry"
Hey there,
I've set up docker by following the "get started" guide for OSX and everything works except that docker always pulls the legacy registry (and that is of course slow and annoying).

I've added "--disable-legacy-registry=true" to force the v2 registry, but that results in

```Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for con

[2015-11-03 08:05] dgageot commented on #2145
+1 on both.
Drivers should be able to log information/warnings.
Errors should be returned `error`s

[2015-11-03 08:14] dgageot commented on #1996
Duplicate of #1892

[2015-11-03 08:15] dgageot commented on #1892
Closing. Duplicate of #2091

[2015-11-03 08:18] dgageot commented on #1911
Hi @bergtwvd, can you try again with version 0.5.0rc4? If it still fails, can you gist the output of the command?

[2015-11-03 08:21] dgageot commented on #1913
@dvusboy Closing this ticket then. Feel free to re-open or to create a Toobox ticket.

[2015-11-03 08:21] #1913 closed

[2015-11-03 08:23] dgageot commented on #1945
Thank you very much @embrown30 for the feedback. Can you try docker-machine 0.5.0-rc4 and tell us if it fixes the problem?

[2015-11-03 08:24] dgageot commented on #1962
@dmp42 Let's close this one since it's not really a pain and there are bigger fish to fry :-)

[2015-11-03 09:31] joeylin commented on #1591
docker-machine -v
docker-machine version 0.4.1 (e2c88d6)

I also have the same issue,
the workaround is add --native-ssh to every docker-machine command

[2015-11-03 10:09] wcandillon commented on #1593
Very cool!

[2015-11-03 10:15] #1892 closed

[2015-11-03 10:46] dgageot commented on #1876
Closing, since it's a Virtualbox limitation https://www.virtualbox.org/ticket/818

[2015-11-03 10:46] #1876 closed

[2015-11-03 10:50] dgageot commented on #1354
Hi @chouclee, can you try with docker-machine 0.5.0rc4 and tell us is the problem is fixed. Otherwise can you gist the output of this command `docker-machine -D create -d virtualbox dev`.

[2015-11-03 10:54] dgageot commented on #1588
Closing this issue since it seems that it's fixed. Feel free to reopen!

[2015-11-03 10:54] #1588 closed

[2015-11-03 10:54] NeilW commented on #2145
I'd add to this a general lack of a debug mechanism within driver. The debug setting in the main program isn't passed through to the plugin.

I had to hack 'log.go' and set IsDebug to true to get a trace. That's fine for me, but not much use when I want a customer to trace the driver.

Additionally you're using two methods of setting debug in the code: `libmachine.SetDebug(x)` and `log.IsDebug = x

[2015-11-03 10:56] dgageot commented on #1804
Closing since it should be better now. #2091 should improve it even more.

[2015-11-03 10:56] #1804 closed

[2015-11-03 10:57] Crashthatch commented on #1588
It kept recurring and test builds did not fix. Restarting the host did fix it, but is a very annoying workaround to do after each sleep. Either way, I think it's a Virtualbox bug, not Docker-machine.

I've switched to using ubuntu (natively, rather than in a VM) for all docker things partly because of this issue.

[2015-11-03 10:57] dgageot commented on #1826
Closing. Duplicate of #13

[2015-11-03 10:57] #1826 closed

[2015-11-03 11:18] abbinv commented on #986
For me it was because visualization was not enabled in my bios. Enabled it and issue was resolved.

[2015-11-03 11:55] dgageot commented on #1530
Closing this since it's related to a "very old" version

[2015-11-03 11:55] #1530 closed

[2015-11-03 11:58] dgageot commented on #1447
Hi @mklatsky, have you tried docker-machine 0.5.0rc4? Can you tell us if it fixes the issue? Otherwise, please gist the output of your command.

[2015-11-03 11:59] #963 closed

[2015-11-03 12:04] dgageot commented on #632
Fixed. Duplicate of #1914

[2015-11-03 12:04] #632 closed

[2015-11-03 12:08] dgageot commented on #1050
@hbokh Can you still repro this? Have you tried with 0.5.0rc4?

[2015-11-03 13:27] cteyton commented on #1354
Hi there,
With docker-toolbox-1.9.0-rc3 / windows 8.1, i got a similar issue when running :
[code]

[code]

I then got this
[code]

I also tried a suggestion found in similar threads, i.e. :
[code]
and got the same issue.
Hope this can help !

[2015-11-03 13:42] rsmoorthy opened #2150 "[Feature Request] Let there be multiple virtualbox hostonlycidr and choose one at runtime"
I was having someone remotely install docker-machine, create VM using virtualbox driver. It was a remote production server, and every time, an attempt was made, the entire server would be inaccessible. Requiring someone to reboot the server physically. The logs showed that after the VM was started, it went off the network.

Finally, it was figured that the virtualbox hostonlyCIDR was 192.168.99.0/

[2015-11-03 14:09] mschygulla commented on #2137
To my knowledge "vmrun getGuestIPAddress" requires installed VMware guest tools to get the guest IP address. You can not rely on the fact that the tools are always installed (e.g. if you use CoreOS they are not).

[2015-11-03 15:45] jeanlaurent commented on #537
Closing since this is fixed by #1856

[2015-11-03 15:45] #537 closed

[2015-11-03 15:49] jeanlaurent commented on #596
Closing since this is now done in b2d.go.

@ehazlett reopen if you feel like I missed something.

[2015-11-03 15:49] #596 closed

[2015-11-03 19:02] thalesfc commented on #522
+1 on this feature.

[2015-11-03 19:17] dmp42 commented on #1962
Agreed. Also, it's not simple to solve, since testing can happen inside the container.

[2015-11-03 19:17] #1962 closed

[2015-11-03 19:50] nathanleclaire commented on #2145
Hm, @NeilW plugins should show `Debug` calls by default.  Does it not work for you? Could you provide a simple example to reproduce?

Yeah, I agree it's ugly as we've been moving aggressively on shipping it -- the actual answer, I think, it that _neither_ should be used, but rather "ShowDebug" will be a configurable property on the eventual `libmachine` client struct that we move to.

[2015-11-03 19:53] olmeca commented on #1591
I also have this issue on MacOS 10.11.1.
Using --native-ssh helps indeed.

[2015-11-03 19:58] #2077 closed

[2015-11-03 20:08] nathanleclaire commented on #2149
How do you know that you are always pulling the legacy registry? (I'm not doubting you, just want to know how to try and reproduce on my end)

[2015-11-03 20:21] jeffdm opened #2153 "Boot2Docker Migration to VirtualBox VM fails"
Running: `docker-machine create -D virtualbox --virtualbox-import-boot2docker-vm boot2docker-vm default`

Consistently fails:

[code]

[2015-11-03 20:26] Torsten85 commented on #2149
Thanks for your reply. Before the pulling starts, the api displays the used endpoint (v1) and after the pulling is done (btw. Layer after layer and not simultaneously, and that takes forever) a message clearly says that the legacy registry is used and that it is deprecated.

[2015-11-03 20:27] arun-gupta commented on #2147
Why this special treatment for RC?

This makes it non-intuitive.

[2015-11-03 20:31] nathanleclaire commented on #2147
Well, your Docker client binary is also an RC.  How do you feel it should work?

[2015-11-03 20:39] dgageot commented on #2004
@blaggacao Closing the ticket. Feel free to reopen it if it's related to machine.

[2015-11-03 20:39] #2004 closed

[2015-11-03 20:46] dgageot commented on #1793
Closing this. The build has changed quite a lot since and the in-container build works well.
Feel free to re-open it there is still a bug.

[2015-11-03 20:46] #1793 closed

[2015-11-03 20:52] dgageot commented on #1781
Closing. Duplicate of #1376

[2015-11-03 20:52] #1781 closed

[2015-11-03 20:59] dgageot commented on #1708
Fixed by https://github.com/docker/machine/pull/2084

[2015-11-03 20:59] #1708 closed

[2015-11-03 21:26] arun-gupta commented on #2147
RC should automatically pick up the boot2docker.iso from RC. `--virtualbox-boot2docker-url` should only be used to override the default value. And the default should be the same as Docker client binary.

[2015-11-03 21:52] nathanleclaire commented on #2147
I do think we could do better about allowing `upgrade` / `create` to use new RCs by default, but currently RCs for boot2docker we've been keeping at @tianon's fork, so we need to change our habit of doing that as well if we're going to support this.  I do worry a bit about making things too magic as everyone has really different expectations in this regard.

[2015-11-03 22:05] blaggacao commented on #1954
For me it is working after the referenced work-around. This, in turn, indicates, that some boot2docker time parameter where not set correctly. Typically it would then occur only during a limited time frame right after the machine creation. (Probably only in some time zones).

[2015-11-03 22:09] arun-gupta commented on #2147
Matching the `boot2docker.iso` with the Docker client binary seems like a reasonable and intuitive approach. And there will be an option to override anyway.

No magic, just intuitive at least to me!

[2015-11-03 23:11] arun-gupta opened #2154 "Error getting state for host using Docker Machine"
Installed Docker Machine 0.5.0 and tried listing all the existing machines using `docker-machine ls`. The following error message is thrown:

[code]

[2015-11-03 23:17] nathanleclaire commented on #2154
Weird. Does it work on subsequent invocations or same error message?

[2015-11-03 23:18] arun-gupta commented on #2147
Seeing the exact same error with Docker 1.9.0 and Machine 0.5.0:

[code]
Don't see any way to reopen the issue now.

[2015-11-03 23:22] arun-gupta commented on #2154
`docker-machine ls` gave that error consistently.

Removed and recreated the machine and now stuck with https://github.com/docker/machine/issues/2147#issuecomment-153519614

[2015-11-03 23:22] nathanleclaire commented on #2147
Did you run `docker-machine upgrade`?

[2015-11-03 23:24] arun-gupta commented on #2147
This machine was just created. Do I need to run `docker-machine upgrade` for that as well?

[2015-11-03 23:32] bfirsh commented on #2154
I got the error when upgrading an existing install (a 1.9 RC).

[code]

Starting the machine and then upgrading again works fine - I can't reproduce now.

[2015-11-03 23:50] embrown30 commented on #1945
That version of docker-machine worked! Thank you!

[2015-11-03 23:50] #1945 closed

[2015-11-04 00:21] nathanleclaire commented on #2147
@arun-gupta Most likely, to update your cache and/or in case you made the machine before the official b2d release happened.

[2015-11-04 00:24] arun-gupta commented on #2147
@nathanleclaire created the machine 30 mins ago again and still got the same error. `docker-compose up -d` on a `docker-compose.yml` worked successfully. But `docker ps` is giving the error again:

[code]

Upgrading the machine explicitly.

Is there a mapping of b2d.iso and Client/Server API version?

[2015-11-04 00:33] nathanleclaire commented on #2147
`docker-machine upgrade name` should work, my guess is it's an "ISO cache issue".  Did you try that command?

The `boot2docker.iso` always maps to the corresponding Docker release API version.  You can see the cache's version in the metadata by doing `file $HOME/.docker/machine/cache/boot2docker.iso`.

[2015-11-04 00:37] kunalkushwaha commented on #2138
I will do it.

[2015-11-04 00:37] nathanleclaire opened #2155 "Eliminate RawDriver from Host struct / config.json"
Unfortunately, I realized a bit too late that there are a couple of issues with this method. Originally it was intended to be the "preserved" state of the Driver between Machine runs, since the client side (which handles persistence to disk) doesn't know which interface is being used on the server side.

But now I have two main concerns with it having used and distributed it a while:

1. Users may

[2015-11-04 00:49] #2119 closed

[2015-11-04 00:52] dmp42 opened #2156 "Update docs"
- [x] bump version numbers
 - [x] update create section
 - [ ] refine documentation about writing own driver #1822

[2015-11-04 01:09] arun-gupta commented on #2147
`docker-machine upgrade` resolved the issue.

[2015-11-04 01:13] dmp42 opened #2157 "Cleanup/rethink communication channels"
- Forums
 - Google groups
 - Mailing list

What do we want? What do we have? Is there doc about it?

[2015-11-04 01:15] dmp42 opened #2158 "Fix the release task"
Need to test and validate the release task.

[2015-11-04 01:26] #1609 closed

[2015-11-04 01:27] dmp42 opened #2159 "Create more tests for VirtualBox"
* [ ] create
 * other?

[2015-11-04 01:34] dmp42 opened #2160 "Cleanup deps"
* [x] remove unused dependencies
 * [x] update some dependencies
 * [x] make sure godep works again

[2015-11-04 01:40] dudymas commented on #1533
@mimizone can you confirm that PR https://github.com/docker/machine/issues/850 resolves this issue? You should be able to specify that the compute networking part of gophercloud be used rather than neutron.

[2015-11-04 01:41] nathanleclaire commented on #2147
Thanks Arun. We're going to be working on some issues around upgrade flow this iteration so hopefully it will be a little more clear in the future.

[2015-11-04 01:54] dudymas commented on #1533
Hmmm... while folsom appears to have v2 networking api support, I'm not sure that gophercloud will use the right calls. You might want to peer into this library ( see mappings like this: https://github.com/rackspace/gophercloud/blob/master/openstack/networking/v2/networks/requests.go#L41-L52 ) and see if the calls it makes get the same json as you see when you run `neutron --debug --verbose net-li

[2015-11-04 04:16] hsingh23 opened #2161 "azure driver question - Docker Machine 0.5"
![image](https://cloud.githubusercontent.com/assets/1136514/10929354/79d0504e-8280-11e5-935d-b6cefa0d57b4.png)
I noticed that a vm and a cloud service, storage account, and directory were provisioned. I only want a vm, I don't need the cloud service. Is there a way to do this?

[2015-11-04 05:17] hsingh23 commented on #2161
I wonder why azure can't be like digital ocean. I want to create a vm with an image that has docker pre installed. I want to be able to control the azure instance type - and i want to see the estimated pricing per hour,day,month for that instance. I don't need cloud services, I don't need a storage account - the vm I have will do just fine. I also want to have my ssh key copied, and I want to be a

[2015-11-04 08:00] #1243 closed

[2015-11-04 08:34] dgageot commented on #1256
Closing. Fixed in 01bf2ea2d75249a8e7ae5280963e7b348aa1663c

[2015-11-04 08:34] #1256 closed

[2015-11-04 08:51] schmunk42 commented on #1301
I also have time skews in my VMs created with `docker-machine`, as a workaround you can do a restart of the machine.

How can I sync the time in the machine?

[2015-11-04 08:57] #2064 closed

[2015-11-04 09:10] donnex commented on #1460
Any idea if this issue is resolved in the newly released Docker 1.9?

[2015-11-04 09:36] appelgriebsch commented on #2136
I got an error when this call is issued to VirtualBox:

(default) DBG | COMMAND: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe modifyvm default --natpf1 delete ssh
(default) DBG | STDOUT:
(default) DBG | {
(default) DBG | }
(default) DBG | STDERR:
(default) DBG | {
(default) DBG | VBoxManage.exe: error: Code E_INVALIDARG (0x80070057) - One or more arguments are invalid (extended info not avail

[2015-11-04 09:55] dgageot opened #2167 "b2d download timeout during upgrade"
Having tested `docker-upgrade` process from a slow network, there are a couple of issues:

+ The download timeout is way too low. I couldn't upgrade at all because of that.
+ When the download is in progress, there is no visual feedback so the user might think it just hangs.
+ We should download b2d before we stop the machine otherwise it's really frustrating to restart the vm before retrying the

[2015-11-04 10:36] jeanlaurent opened #2170 "make validate fail with missing dependency"
[code]

[2015-11-04 11:34] NeilW commented on #2145
I've done a complete rebuild from the latest HEAD and the debug statements are coming through loud and clear now with the new debug flag on the cli.

I'm also getting the 'Info' level log messages from the plugin.

[code]
but only if the debug flag is on.

[2015-11-04 12:00] seafoodbuffet commented on #1460
I note that the latest docker-toolbox 1.9 release: https://github.com/docker/toolbox/releases
DOES include docker-machine 0.5.0 which has included this fix for some time. I'm betting that upgrading to the latest docker-toolbox should address this issue.

[2015-11-04 12:25] hbokh commented on #1050
Due to AFK I can only check  / repro again in December...

Op dinsdag 3 november 2015 heeft David Gageot <notifications@github.com>
het volgende geschreven:

[2015-11-04 13:29] jamesmeen commented on #1891
+1

[2015-11-04 14:22] 0mega commented on #1709
+1

[2015-11-04 14:29] dgageot commented on #1788
Hi @tinchou, can you gist the output of `docker-machine -D start [machine]` just when it fails?

[2015-11-04 14:33] dgageot commented on #2170
@jeanlaurent Then you should install golint ;-)

[2015-11-04 14:35] dleehr commented on #685
This has been fixed by #1812, thanks!

[2015-11-04 14:35] #685 closed

[2015-11-04 14:53] tinchou commented on #1788
@dgageot sure, please take a look: https://gist.github.com/tinchou/08aa3e7674b8f2d1375e

[2015-11-04 15:18] dgageot commented on #1788
Thanks a lot @tinchou. `docker-machine` 0.5.0 was released yesterday. Can you upgrade and try again?

[2015-11-04 15:25] dgageot commented on #2142
@FrenchBen There's no way with `vmrun` to find out that a vm is suspended. And when a suspended vm is asked to start, it falls into a strange state. I don't think we can do anything. Any ideas?

[2015-11-04 15:30] jeanlaurent commented on #2170
@dgageot couldn't find this myself :smile: , I quickly noted this not to forget about it.

This has to be handled automagically or noted in the CONTRIBUTING.md

[2015-11-04 15:48] dgageot commented on #1488
This is fixed by #1508

[2015-11-04 15:48] #1488 closed

[2015-11-04 15:49] dgageot commented on #1502
Fixed. It'll show `Unsupported filter syntax.`

[2015-11-04 15:49] #1502 closed

[2015-11-04 16:06] jeffellin opened #2171 "EC2 issue with version .5 amazonec2-private-address-only"
I am having an issue with the new version of docker machine.

Running the following command

docker-machine --debug create --driver amazonec2 --amazonec2-subnet-id subnet-24abec0f --amazonec2-zone b --amazonec2-private-address-only swarm-demo2

the result is
Error: No machine name specified

If I remove amazonec2-private-address-only option, it works, but I can't connect to it since the machine is

[2015-11-04 16:29] adambiggs commented on #2050
+1 this is affecting my team as well.

[2015-11-04 16:54] #1628 closed

[2015-11-04 17:02] dgageot commented on #2154
Hi @arun-gupta, thanks a lot for the feedback. I faced the same problem today and I know how to fix it. `docker-machine` ls contacts the hosts in separate go routines. But vbox isn't really happy about that. I'm going to shoot a PR.

[2015-11-04 18:14] charlesg3 commented on #2155
Out of curiosity -- are the AWS credentials being stored in this blob?

[2015-11-04 18:15] adambiggs commented on #1460
Sorry to say, but I think this issue might need to be reopened...

I've been trying to work with the latest docker-toolbox 1.9 release in VMware Fusion. But NPM is throwing `Unexpected end of input` errors when I try to run `$ npm install` in a host volume.

The same command works fine inside the container without a host volume mapping. But as soon as I use a host volume, NPM throws errors like th

[2015-11-04 18:30] charlesg3 opened #2174 "AWS Certificate Rotation"
We are using certificates with AWS that expire after some amount of time. We need support to be able to rotate these credentials.

Previously we were able to do this by modifying the `config.json` file, however that mechanism doesn't seem to work in `v0.5.0`. Is there some way to manually rotate these credentials?

[2015-11-04 19:46] amylindburg opened #2175 "Machine insists on regenerating certs that should be valid"
Installed machine 0.5 via Toolbox 1.9.0.

[code]

[2015-11-04 20:06] ThatsNinja opened #2176 "Error creating machine: Error in driver during machine creation: Unable to upload on datastore Datacenter due to Error"
Full error text:
[code]
This the result of this command:
[code]
There are two issues in the above error output:
1. `[...] Unable to upload on datastore <vmwarevsphere-datacenter> due to Error [...]`: Here, the name specified for `--vmwarevsphere-datacenter` is being returned as the datastore name;
2. `[...] Put https://<host>/folder/<machine_name>/boot2docker.iso?dcPath=ha-datacenter&dsName=<vmwar

[2015-11-04 20:10] nathanleclaire commented on #1460
cc @frapposelli

[2015-11-04 21:14] nathanleclaire commented on #2155
@charlesg3 Yes -- it's the reason why editing the config manually to update the credentials no longer works.

[2015-11-04 21:14] nathanleclaire commented on #2176
cc @frapposelli

[2015-11-04 21:19] charlesg3 commented on #2155
Ah, bummer. Can you describe any workflow that would allow updating the creds?

[2015-11-04 21:45] nathanleclaire commented on #2155
Hm, I know this is a terrible hack (and really we should fix this since I think manually editing configs is a valid use case), but until we roll out a solution you might be able to paste your desired driver JSON into the JSON literal in this Go program (probably as a Go file running locally): http://play.golang.org/p/JTzFal8zfJ and run the code to see the what you should put in the `RawDriver` fie

[2015-11-04 21:46] nathanleclaire commented on #2155
Really sorry about this, and the issue is slated to be worked on for 0.5.1, which is scheduled to be released in about two weeks' time.

[2015-11-04 21:56] jurosh commented on #2005
Seems like it's still issue in recently released DockerToolbox 1.9.0 and Win10.
``docker-machine ls`` also throws error: panic: runtime error: invalid memory address or nil pointer...

[2015-11-04 21:57] charlesg3 commented on #2155
I'm willing to give that a shot for now. Happy to help try to work around these issues as things progress. There's huge potential for docker-machine to help our workflow but I think we have a particular usage pattern that may not be the usual.

[2015-11-04 22:00] nathanleclaire commented on #2155
Seems not too unusual to me so I'm happy to help.  In fact in the future I'd like to make the type of secret management you're doing by hand today a little more easy to do automatically.

[2015-11-04 22:04] frapposelli commented on #2176
@ThatsNinja seems like you don't have access to your vCenter server, you get `connection refused` when attempting to connect to it.

[2015-11-04 22:05] charlesg3 commented on #2155
Yeah that'd be awesome. Basically we realized how awesome `docker-machine` is but then realized we needed an ability to pass around the environments to different machines. Since we had vault setup we rely on the security model of that to pass things around (and patch up the directories / access keys and the like). It's sort of like a "machine repository" for us.

[2015-11-04 22:07] nathanleclaire commented on #2175
I have also seen issues like this (although mine was with swarm) and I think it has to do with the Dialer being faulty. The IP address should totally be reachable, so I'm not sure what's going on here.  cc @docker/machine-maintainers

[2015-11-04 22:10] nathanleclaire commented on #2170
No

Yes

[2015-11-04 22:11] charlesg3 commented on #2155
In that go function -- I simply provide the machine name and aws secret key in that program?

[2015-11-04 22:12] frapposelli commented on #1460
@adambiggs can you give me a `mount` and `df -h` of the VM? the corruption issue should be fixed in 0.5.0

[2015-11-04 22:12] nathanleclaire opened #2178 "Add instructions about installing auxiliary tools to the CONTRIBUTING.md"
Continues: https://github.com/docker/machine/issues/2170

[2015-11-04 22:12] charlesg3 commented on #2155
(It only has the key and not the access id, I would expect it to require both)

[2015-11-04 22:12] #2170 closed

[2015-11-04 22:13] nathanleclaire commented on #2155
@charlesg3 You should paste the whole of the `Driver` JSON that you want to convert.

[2015-11-04 22:13] frapposelli commented on #2050
Not yet, I'll update you guys as soon as I have news.

[2015-11-04 22:22] nathanleclaire commented on #2145
@NeilW Yeah, that's expected behavior with the current release, this issue is requesting that some can be viewed without `--debug`.  Stay tuned, thanks.

[2015-11-04 23:02] charlesg3 commented on #2174
Duplicate of https://github.com/docker/machine/issues/2155

[2015-11-04 23:02] #2174 closed

[2015-11-04 23:05] charlesg3 commented on #2155
This seems to be working (for now) to renew the credentials. I will keep updated of anything else that pops up.

Note that I am receiving the following errors:
[code]

Not sure how that is determined but things seem to be working.

[2015-11-04 23:12] vikstrous commented on #2175
I ran into the same thing on Arch Linux.

[2015-11-04 23:32] ThatsNinja commented on #2176
@frapposelli Thanks for your reply! I'd suspected as much. I've got a ticket open with my VMWare support team to check things on their end. I'll update this issue with the final disposition if the problem is resolved on my end.

[2015-11-04 23:48] wenlock commented on #2145
@nathanleclaire right, --debug works like a champ, and so do error messages.   It's the log.Info and Infof messages that don't get bubbled up to docker-machine to display.

BTW, as a side-effect, today i was testing with --debug, and ran into an issue where a Debug message that was too large , caused the driver to hang, wondering if thats another issue we should track... don't have a good reproduc

[2015-11-05 00:01] chanezon opened #2180 "Azure driver AZURE_SUBSCRIPTION_CERT and AZURE_SUBSCRIPTION_ID environment variables not taken into account"
https://docs.docker.com/machine/drivers/azure/
$echo $AZURE_SUBSCRIPTION_ID
12345...
$echo $AZURE_SUBSCRIPTION_CERT
/Users/pat/.ssh/docker-azure-cert.pem
$ docker-machine create -d azure pat-2
Error setting machine configuration from flags provided: Please specify azure subscription params using options: --azure-subscription-id and --azure-subscription-cert or --azure-publish-settings-file

if --a

[2015-11-05 00:07] adambiggs commented on #1460
[code]

[2015-11-05 00:34] dmp42 commented on #2180
cc @ahmetalpbalkan wdyt?

[2015-11-05 00:35] dmp42 commented on #2005
@nathanleclaire wdyt?

[2015-11-05 00:37] nathanleclaire commented on #2005
@jurosh Issue sounds different than the OP issue.  @jurosh can you please file a new issue and include a link to a https://gist.github.com of the output of `docker-machine --debug ls`?  Thanks

[2015-11-05 00:57] nathanleclaire commented on #2180
It certainly is possible that the flags are not getting propagated to the driver correctly with the new plugin model, so first steps is to ensure that they are actually getting across the wire correctly.

[2015-11-05 01:00] nathanleclaire commented on #2155
@charlesg3 Yes due to the weird behavior the error falsely believes you have reverted to an older config schema.  It should be fine to ignore it and let us know if you run into any issues.

[2015-11-05 01:04] nathanleclaire commented on #2145
@wenlock Definitely sounds like an issue I'd like to track if you can reproduce effectively.  I do recall thinking about long lines of output as an edge case to keep an eye on.

[2015-11-05 01:42] kunalkushwaha commented on #2136
Please find output of ``docker-machine --debug create -d virtualbox default``
https://gist.github.com/kunalkushwaha/de636308da3767511f6f

[2015-11-05 02:04] kgx commented on #1709
+2

[2015-11-05 02:23] gthiruva commented on #2153
Same problem here. One other thing to note: It seems `docker-machine` is somehow skipping the creation of the target VM in VirtualBox before it tries to inspect it with `VBoxManage`'s `showvminfo` command:

[code]

But Docker-machine thinks the new VM exists:
[code]

Definitely not there:
[code]

[2015-11-05 02:50] #2138 closed

[2015-11-05 02:54] nathanleclaire commented on #2136
@kunalkushwaha Please try clearing all host-only networks and attempting the 0.5.0 release when you get a chance.

[2015-11-05 03:15] blaggacao commented on #1954
I did stumble over this again on my rc, but after update to 5.0 everything seems to work. We could probably close this for now. Anyhow, As soon as I notice strange behavior I would reopen it.

[2015-11-05 04:26] kunalkushwaha commented on #2136
It is still reproducible.

Steps to reproduce this error.

1. Clean all host only network - Keep only default one.
2. Put Windows 7 machine on sleep.
3. Activate Windows machine .
4. ``docker-machine --debug create -d virtualbox default``
      - This creation process creates two more host-only networks in VirtualBox.

NOTE: If windows start with fresh boot, Until, windows dont go into sleep mode,

[2015-11-05 04:51] aidanbon commented on #2171
Encountered the same problem with 0.5.0 release. Specified with --amazonec2-private-address-only=true but the debug output shows "Using SSH client type: external"  and therefore failed with SSH cmd err.

In the AWS EC2 panel. noticed the corresponding EC2 instance did successfully created, but with a public IP which it should not.

A previous version (forgot the version #) of docker-machine works

[2015-11-05 06:08] dgageot commented on #1399
Hi @arun-gupta, I was also surprised with this behaviour. We do need the machine to be started. https://github.com/docker/machine/pull/2168 adds a log that explains what is done before stopping the machine.

-1 on storing information that can be found on the machine.

[2015-11-05 06:25] jeffellin commented on #2171
Glad to know it isn't just me.  I might try and dive into the source and see if I can figure it out.

[2015-11-05 06:54] leonardlabuneti commented on #1959
init-system-helpers (missing dependency) can be installed from backports repo.
Just add deb http://http.debian.net/debian wheezy-backports main at the end of /etc/apt/sources.list and run apt-get update && apt-get install init-system-helpers.

[2015-11-05 07:20] rahal commented on #2017
Hi, I'm using docker-machine version 0.4.1 (e2c88d6) .
I Will test with 0.5.0-rc4 and I'll get back to you.
Thank you

[2015-11-05 07:23] jeffellin commented on #2171
The AWS command to create the instance is sending

    "NetworkInterface.0.AssociatePublicIpAddress": [
    (test3) DBG |         "1"
    (test3) DBG |     ],

Not sure why the command line isn't being parsed properly.

[2015-11-05 07:29] gonzalocasas commented on #1491
+1

[2015-11-05 08:26] peco8 opened #2182 "machine does not exist error"
Whenever I hit `docker-macihne active`, following errors come out.

<img width="553" alt="screen shot 2015-11-05 at 17 24 20" src="https://cloud.githubusercontent.com/assets/4458427/10963252/417f3cb0-83e2-11e5-9477-914bddddbd61.png">

Can anyone please suggest what might be wrong? Has anyone run into this before?

[2015-11-05 08:41] jurosh commented on #2005
@nathanleclaire after removal of docker defualt machine and running kitematic it ends with:
https://gist.github.com/jurosh/59e01e1fd1e269e6aa06#file-docker-1-9-0-kitematic-no-vm-before

Then running: `docker-machine --debug ls` ends with:
[code]

After adding GIT ssh.exe to path it shows something different:
[code]
Full output: https://gist.github.com/jurosh/9cc05432fa1d9addd005#file-docker-docker

[2015-11-05 08:46] eyakcn opened #2183 "Can not connect to the docker machine without driver"
I created a docker machine by running:

$ docker-machine create --url tcp://xxx.xxxx:2376 serve

It was created before I upgrade docker-machine to 0.5.0.

But after I update to 0.5.0, it shows error message when I try to connect to it by:

$ eval "$(docker-machine env serve)"

Error message is following:

Error running connection boilerplate: serve is not running. Please start it in order to use t

[2015-11-05 08:50] dgageot commented on #2182
Hi @peco8, thanks for the report. Can you tell which version of `docker-machine` you are using. If it's not the latest 0.5.0, can you upgrade and test?
Can you provide the output of `docker-machine ls`?
Can you provide the output of `ls ~/.docker/machine/machines`?

[2015-11-05 09:53] melnikk commented on #2183
+1
I've got same issue after upgrading to docker-machine v0.5.0.

[2015-11-05 09:54] sjparkinson commented on #2175
Also experiencing this. I got it just after updating the toolbox, and also this morning after booting my computer.

Stopping and starting the vm doesn't cause the issue.

Running `docker-machine regenerate-certs <name>` does get you going again.

[2015-11-05 10:02] jeffellin commented on #2171
Some further info,   Seeing the folliowing in the logs.

    OUT | WARNING >>> Type assertion did not go smoothly to bool for key amazonec2-private-address-only

Looking at the code, it seems that the flag amazonec2-private-address-only is a string, and it should probably be a bool.  I am building the latest release now with this change to see if that fixes the problem.

[2015-11-05 10:27] jeffellin commented on #2171
I can confirm that the following fixes the issue.  I can do a PR,  this really should have an integration test which I can certainly do but I won't be able to get to it for a few days.

    --- a/drivers/amazonec2/amazonec2.go
    +++ b/drivers/amazonec2/amazonec2.go
    @@ -150,7 +150,7 @@ func (d *Driver) GetCreateFlags() []mcnflag.Flag {
    			Usage: "AWS spot instance bid price (in dollar)",

[2015-11-05 11:59] dracan commented on #2136
Sorry for the huge delay in getting you the output of my command. Below is the debug output. This is with the very latest 1.5.0 version.

This was run when I had no machines, I've deleted my `.docker` directory, and I've cleared all host only networks in VirtualBox.

One point to note is that the hostonly interface that gets created in virtualbox is called 'VirtualBox Host-Only Ethernet Adapter #3

[2015-11-05 11:59] dgageot commented on #2171
@jeffellin Thanks a lot for the investigation!
I'm going to shoot a PR with fix and test

[2015-11-05 12:04] dgageot commented on #2171
@docker/machine-maintainers PTAL

[2015-11-05 12:12] rawkode commented on #2136
@nathanleclaire Gist out debug output after upgrading to 0.5 and clearing all host only network interfaces

https://gist.github.com/rawkode/fecb665d3a2598fc3b09

[2015-11-05 12:21] dgageot commented on #2180
Hi @chanezon, I couldn't reproduce your issue.

[code]

Can you please check which version of `docker-machine` you are using?

[2015-11-05 14:04] delgurth opened #2186 "Docker machine fails to create a machine on timeout on getting the docker releases"
I'm trying to create a docker-machine, but it fails to do so when I do not have the boot2docker image stored in the cache (in ~/.docker/machine/cache):

[code]

Just getting it using wget worked, but it was slow on resolving the host. Unfortunately you do not see timings in the output. But perhaps this i/o timeout should be increased or in case it keeps failing you send a message to the user on ho

[2015-11-05 14:15] jeffellin commented on #2171
Thanks @dgageot for the quick fix.  Any idea when .5.1 will be ?

[2015-11-05 15:58] jpblair commented on #2153
+1 on Windows

[2015-11-05 17:00] dgageot commented on #2186
Same problem as https://github.com/docker/machine/issues/2167

[2015-11-05 17:15] tiborvass commented on #2098
@nathanleclaire @tianon I have a similar issue: `docker-machine upgrade` uses whatever `--boot2docker-url` was given at `create` time, and I can't override it. So for the RC, I used `file:///...` and when I want to upgrade to `1.9.0` it still looks for my `file:///...` one when I'd like it to fetch the latest.

Do you want me to open a new issue?

[2015-11-05 17:40] szechyjs commented on #2060
:+1:

[2015-11-05 17:57] nathanleclaire commented on #2153
I'll take a look.

[2015-11-05 18:01] geek commented on #1671
Still failing for me with docker 1.9 and vmware fusion 8.0.2

[2015-11-05 18:32] MartinsThiago opened #2188 "Docker volumes"
Since boot2docker we're having some problems for sharing folders between virtual machine and host

To be honest I'am really looking forward `docker-compose`, it's already doing really well cross-platform once I can run `docker-compose up` even on Windows, and sure... it does what we expect, but setting up shared folder manually is such a pain

*The same occurs with docker client it self... it's do

[2015-11-05 18:35] nathanleclaire commented on #2188
Currently `C:\Users\You` or `/Users` gets auto-mounted into the VM at `/c/users` and  `/Users` respectively.  I agree the workflow is not perfect, moving forward my preference would be to introduce some sort of `docker-machine share` command (https://github.com/docker/machine/issues/179) or first-class share/volume object which is created and manipulated by Docker Compose.

[2015-11-05 18:35] #2188 closed

[2015-11-05 18:36] #2171 closed

[2015-11-05 18:43] dgageot opened #2189 "Downloading boot2docker should happen in PreCreateCheck to avoid broken machines"
All the drivers that require boot2docker to be downloaded, do it in the `Create()` phase.
It should be done in `PreCreateCheck()` so that if the download fails, no broken machine is created.

[2015-11-05 18:50] dmp42 commented on #2183
@nathanleclaire wdyt?

[2015-11-05 18:55] legal90 opened #2190 "Driver integration tests always exit with 1"
I've reproduced this with built-in `virtualbox` driver:

[code]

## Details
It is caused by this block in `run-bats.sh`: https://github.com/docker/machine/blob/d07d443466e2d4a00cbffa438335fc647f2e2d74/test/integration/run-bats.sh#L82-L87

Seems like it is expected that all `docker-machine*` processes will be terminated _before_ reaching this block. Otherwise, they will be killed by `pkill` and glo

[2015-11-05 18:58] dmp42 commented on #2017
@rahal 0.5.0 has been released. You can test with that instead of the RC.

[2015-11-05 19:07] InfoSec812 commented on #1891
+1 - Instead of putting the docker daemon options in /etc/defaults/docker, they need to be placed into /etc/systemd/system/multi-user.target.wants/docker.service as part of the Exec value as shown below:

[code]

[2015-11-05 19:12] ragavendra commented on #479
I had corrupt ~/.ssh/config . Once I corrected it, I was able to create machine like before. One way to check this is trying to ssh to some other server and see if works to make sure the docker-machine isn't failing due to ssh.

[2015-11-05 19:13] ragavendra commented on #1591
I had corrupt ~/.ssh/config . Once I corrected it, I was able to create machine like before. One way to check this is trying to ssh to some other server and see if it works to make sure the docker-machine isn't failing due to ssh.

[2015-11-05 19:13] ragavendra commented on #1433
I had corrupt ~/.ssh/config . Once I corrected it, I was able to create machine like before. One way to check this is trying to ssh to some other server and see if it works to make sure the docker-machine isn't failing due to ssh.

[2015-11-05 19:17] InfoSec812 commented on #1891
Or we could implement a wrapper script which reads the defaults file and runs docker with the defaults.

[2015-11-05 19:29] jwalton commented on #1709
My hacky-hack solution, which is definitely not for everyone: I'm running Cassandra in a docker machine, and I want to be able to get to it from the node.js app I'm developing.  Rather than use a fixed IP for the docker machine, I do:

    docker-machine stop dockervm
    VBoxManage modifyvm "dockervm" --natpf1 "tcp-port9160,tcp,,9160,,9160"
    VBoxManage modifyvm "dockervm" --natpf1 "tcp-port904

[2015-11-05 20:19] hcguersoy commented on #1447
Hi,

I've observed the same problems with the Ubuntu images.
Switching to latest Debian (Jessie) solved this for me on Digital Ocean.
The reason is that in 14.04.3 the kernel is too old and the network driver runs into an error then it tries to set up the vxlan. You can observe this then you do the steps manually in Ubuntu.

[2015-11-05 20:58] nathanleclaire commented on #479
This issue is very long and contains a lot of digressions.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of the misbehaving commands with the `--debug` flag
- the

[2015-11-05 20:58] #479 closed

[2015-11-05 20:59] nathanleclaire commented on #1645
This should be fixed now

[2015-11-05 20:59] #1645 closed

[2015-11-05 21:00] nathanleclaire commented on #1500
This issue is very long and contains a lot of digressions.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of the misbehaving commands with the `--debug` flag
- the

[2015-11-05 21:00] #1500 closed

[2015-11-05 21:00] FreakTheMighty commented on #1857
@nathanleclaire @ericandrewlewis @dancingshell the opposite was true for me.

Yes.

No.

[2015-11-05 21:02] nathanleclaire commented on #1819
@darrenhaken It has been a decision by the leadership of the team and is out of my control.  Tweeting @docker and asking for the release cycles to be faster might work.  We will be following up this release with a few planned minor versions for bug fixes.  After DockerCon Europe, I am going to try and start and start a discussion to increase the release cycles for features.

[2015-11-05 21:02] nathanleclaire commented on #1819
As for the issue, this issue is very long and contains a lot of digressions.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of the misbehaving commands with the `--

[2015-11-05 21:03] nathanleclaire commented on #1433
This issue is very long and contains a lot of digressions.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of the misbehaving commands with the `--debug` flag
- the

[2015-11-05 21:03] #1433 closed

[2015-11-05 21:03] nathanleclaire commented on #1880
Closing this, please re-open if you can provide a reproducible test case.  Thanks

[2015-11-05 21:03] #1880 closed

[2015-11-05 21:04] nathanleclaire commented on #721
This issue is very long and contains a lot of digressions.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of the misbehaving commands with the `--debug` flag
- the

[2015-11-05 21:04] #721 closed

[2015-11-05 21:04] #1819 closed

[2015-11-05 21:05] nathanleclaire commented on #1301
I think @schmunk42 suggestion is a workaround for now, but we have our eyes on trying to fix the known issues with clock skew in the boot2docker VM.

[2015-11-05 21:05] #1301 closed

[2015-11-05 21:05] nathanleclaire commented on #1801
This issue is very long and contains a lot of digressions.  Please retry the faulty commands with Machine 0.5.0.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of t

[2015-11-05 21:05] #1801 closed

[2015-11-05 21:06] nathanleclaire commented on #1572
This should work fine now due to the new added SSH options.

[2015-11-05 21:06] #1572 closed

[2015-11-05 21:06] nathanleclaire commented on #1785
All, please try again and file a new issue if it still persists with 0.5.0.  Thanks!

[2015-11-05 21:06] #1785 closed

[2015-11-05 21:07] nathanleclaire commented on #1678
@inkel Please re-try with 0.5.0 and open a new issue if you still have problems.  Thanks!

[2015-11-05 21:07] #1678 closed

[2015-11-05 21:10] nathanleclaire commented on #1776
cc @jeffdm @mchiang this type of issue is why I was hesitant to increase the default disk size.  VBox dynamically allocated drives do not seem to be a free lunch.

[2015-11-05 21:12] nathanleclaire commented on #1219
I'm not sure what more can be done about this one.  `Kill` in the VBox driver already calls `VBoxManage controlvm foo poweroff`.

[2015-11-05 21:12] #1219 closed

[2015-11-05 21:13] nathanleclaire commented on #1424
There is a timeout.  If Machine can't reach machine via SSH but should be able to, that should be filed as a new bug.  Otherwise SSH won't work for other reasons.

[2015-11-05 21:13] #1424 closed

[2015-11-05 21:14] nathanleclaire commented on #1755
Is this still an issue with 0.5.0?

[2015-11-05 21:15] nathanleclaire commented on #1393
This issue is slightly old now.  Please re-try with 0.5.0.  If someone continues to encounter similar ones please open a new one at https://github.com/docker/machine/issues/new with detailed information including:

- Which OS you are on
- Anything atypical in networking configuration (VPN, proxy, SSH configuration settings, etc.),
- Output of the misbehaving commands with the `--debug` flag
- the

[2015-11-05 21:15] #1393 closed

[2015-11-05 21:23] nathanleclaire commented on #1857
@ericandrewlewis @FreakTheMighty Can you make sure you try 0.5.0 to see if the problems persist?  Thanks.

[2015-11-05 21:24] nathanleclaire commented on #1241
We now have a PR merged into master for this.  All engine environment variables `--engine-env`, will be propagated to the Swarm containers as well.

[2015-11-05 21:24] #1241 closed

[2015-11-05 21:26] nathanleclaire commented on #2171
@jeffellin About a week and a half

[2015-11-05 21:28] nathanleclaire commented on #2183
I think it's generally presumed that instances created with `none` are guaranteed to be running, so maybe `GetState` for that driver should return `state.Running`.

[2015-11-05 21:29] jordscream opened #2192 "Shared volume performance"
Is there any solution for this?
https://github.com/boot2docker/boot2docker/issues/593

[2015-11-05 21:30] FreakTheMighty commented on #1857
@nathanleclaire I just installed today and doubled checked the version. I'm on on 0.5.0.

[2015-11-05 21:30] nathanleclaire commented on #1857
Thanks @FreakTheMighty I will look into it.

[2015-11-05 22:02] dgageot commented on #2160
@dmp42 Is it fixed?

[2015-11-05 22:40] darrenhaken commented on #1819
@nathanleclaire if docker begin to look at smaller release cycles please feel free to reach out to me to participate in discussions about it. I'd likely happily contribute too.

FYI I'm moving to SF in Jan which makes things easier

[2015-11-05 22:47] dmp42 commented on #2160
We may want to update some of our deps.
Wdyt?

[2015-11-05 22:50] dmp42 commented on #2160
@dgageot specifically worth investigating this `warning: code.google.com is shutting down; import path code.google.com/p/goauth2/compute/serviceaccount will stop working`

[2015-11-05 23:02] nathanleclaire commented on #2192
Not currently at the moment.  Looks like you're on Windows, your best choice there might be to use something like filesystem watching + rsync or, alternatively, Samba.

[2015-11-05 23:02] #2192 closed

[2015-11-05 23:09] immunda commented on #1931
Came across this too. I had also run out of disc space.

[2015-11-05 23:13] charliedrage commented on #1569
__For people coming here in relation to docker multi-networking blog post__

The only temporary fix is to let your user explicitly allow sudo to be used without a password.

edit /etc/sudoers and add `YOURUSERNAME   ALL=(ALL) NOPASSWD:ALL`

[2015-11-05 23:20] skalfyfan opened #2194 "`docker-machine ssh` won't exit if ports are forwarded and accessed"
Not quite sure if this an issue as I just upgraded to docker-machine 0.5.0 and I'm happy to see that ssh port-forwarding is working now through:

[code]
One thing I've noticed though is that when I *exit* out it is taking an incredibly long amount of time to exit my ssh connection to the vm machine. Is this an issue or am I missing something?

<img width="603" alt="docker-machine050-port-forward-e

[2015-11-05 23:24] nathanleclaire commented on #2136
Thanks for following up @dracan @rawkode will take a look.

[2015-11-05 23:31] dave-tucker opened #2195 "Upgrade doesn't work for machines where `--virtualbox-boot2docker-url` was used in create"
To recreate:

[code]

I'd expect that machine to be upgraded to the latest version of Docker

[2015-11-05 23:32] dave-tucker commented on #2195
/cc @tiborvass per https://github.com/docker/machine/issues/2098#issuecomment-154126476

[2015-11-05 23:38] nathanleclaire commented on #2194
Looks like it's normal behavior of `ssh` binary: http://serverfault.com/questions/20713/why-does-logging-out-of-an-ssh-session-hang-when-using-port-forwarding

That issue indicates you need to terminate connections forwarded over SSH before the SSH process will exit.  I'll usually just hit CTRL+C though.

[2015-11-05 23:38] #2194 closed

[2015-11-05 23:44] jviide opened #2196 "Add a vmwarefusion driver flag to disable the mounting of the /Users directory"
It would be great to be able to disable the automatic mounting of the /Users directory inside the VMWare Fusion VM.

Maybe this could be done along the lines of pull request #1622 that adds the flag --virtualbox-no-share. The Parallels driver also has a similar --parallels-no-share (see https://github.com/Parallels/docker-machine-parallels/pull/1). Therefore it would make sense to name the flag --

[2015-11-05 23:55] dmp42 commented on #2195
cc @nathanleclaire

[2015-11-06 00:03] nathanleclaire commented on #2195
It's difficult to say what the right behavior should be, since there are certainly users who would expect a custom-used ISO to never be overwritten.

[2015-11-06 00:04] jviide commented on #2196
Opened pull request #2197 to have a go at implementing this.

[2015-11-06 00:10] nathanleclaire commented on #2183
I'll submit a PR for that.

[2015-11-06 00:40] peco8 commented on #2182
hi @dgageot, sorry for the late reply.

I use `docker-machine` : version 0.4.1(e2c88d6)

The output of `docker-machine ls` is
<img width="596" alt="screen shot 2015-11-06 at 09 36 18" src="https://cloud.githubusercontent.com/assets/4458427/10986057/f10c5f00-8469-11e5-97a5-98472f2c5a46.png">

The output of `ls ~/.docker/machine/machines` outputs
<img width="532" alt="screen shot 2015-11-06 at 09 39

[2015-11-06 01:05] adambiggs commented on #1455
+1

[2015-11-06 01:13] skalfyfan commented on #2194
@nathanleclaire thanks for the direct explanation link. I suspected it had something to do with existing ports being accessed and still being open.

[2015-11-06 01:21] dave-tucker commented on #2195
I would recommend two distinct behaviours

`docker-machine update`
- Gets the latest version of the ISO at the provided URL
- This is useful for folks using custom ISOs

`docker-machine upgrade`
- Get the latest boot2docker ISO and upgrades the machine
- Perhaps we allow for a version to be specified, if present, upgrade to that one
- Also, we could allow pre-release versions, and if enabled, upgr

[2015-11-06 01:23] tiborvass commented on #2195
I don't like having both `update` and `upgrade`.

Tibor Vass

On Thu, Nov 5, 2015 at 8:22 PM, Dave Tucker <notifications@github.com>
wrote:

[2015-11-06 01:40] eyakcn commented on #2183
@nathanleclaire Great! Thank you!

[2015-11-06 03:54] dave-tucker opened #2200 "Some Integration Tests Always Pass on OSX"
I was struggling to figure out why https://github.com/docker/machine/blob/master/test/integration/drivers/virtualbox/upgrade.bats was passing when I had reported #2195

Turns out it was because of https://github.com/sstephenson/bats/issues/49

On OSX (or any Bash < 4.1)
[code]

Reading that ticket I see two possible fixes:
- use `[` in place of `[[` where possible
- append ` || false` to those lin

[2015-11-06 05:53] olalonde opened #2201 "Can't mount volume on OS X host"
[code]

I can't seem to mount volumes from OS X but it used to work with boot2docker. Is there still a way to mount local volumes?

[2015-11-06 05:58] olalonde commented on #2201
Ah, seems I need to use the absolute path:

[code]

[2015-11-06 05:58] #2201 closed

[2015-11-06 06:59] #2183 closed

[2015-11-06 07:46] zuBux commented on #1518
Same problem here. I'm trying to preserve the swarm across machine restarts, I regenerate all TLS certs but no luck. I have to destroy and create new nodes every time i shut down the swarm.

[2015-11-06 08:07] newPOPE commented on #1755
@nathanleclaire for me it is still an issue with 0.5.0.

[2015-11-06 09:15] jonaskello opened #2204 "docker-machine 0.5.0 env -u fails"
I get this when I try to unset the selected machine:

$ docker-machine -D env -u
Docker Machine Version: 0.5.0 (04cfa58)
Error trying to get host "": Loading host from store failed: open    /home/xxx/.docker/machine/machines/config.json: no such file or directory

Tried to create an empty config.json file at that location but that does not work either. Is there a work around for this problem?

[2015-11-06 09:35] dgageot commented on #2204
@jonaskello That's a bug! And I don't think there's a workaround.
Shceduling the fix for 0.5.1

[2015-11-06 09:58] rfc1459 opened #2205 "docker-machine 0.5.0 env -u emits wrong unset commands for Bash"
Trying to use env -u results in a wrong sequence of unset commands for Bash:
[code]

This causes Bash to complain loudly about some of the arguments to `unset` ("not a valid identifier") because it treats values as variable names.
As a (nasty) side-effect, if your machine name happens to match an environment var name, it would be unset.

[2015-11-06 10:02] dgageot commented on #2205
Closing. Duplicate of #2204
`docker-machine env -u` is utterly broken. It should reject the machine name parameter

[2015-11-06 10:02] #2205 closed

[2015-11-06 10:03] dgageot commented on #2204
`docker-machine env -u` fails and it shouldn't
`docker-machine env -u machine_name` should fail and it isn't

[2015-11-06 10:04] dgageot commented on #2204
@jeanlaurent I let you take a look. There should really be at least an integration test on this one

[2015-11-06 10:23] NeilW opened #2206 "CLI can't seem to handle expired/revoked credentials"
The CLI seems to expect credentials stored at create to work forever and doesn't seem to offer a way of updating them other than by manually hacking the JSON file.

The Brightbox auth system uses Oauth2 tokens with a single use refresh token to save you storing the passwords in databases. Of course that means when it has been used to retrieve another access token the token needs replacing in the d

[2015-11-06 12:23] dgageot commented on #1725
Let's assume it's a VirtualBox bug. Closing this issue. Feel free to reopen if you feel like it.

[2015-11-06 12:23] #1725 closed

[2015-11-06 12:27] dgageot commented on #1723
Closing. This was fixed in VBox 5.0.4

[2015-11-06 12:27] #1723 closed

[2015-11-06 12:28] dgageot commented on #1149
Hi @arun-gupta Can I close this ticket?

[2015-11-06 12:50] define-null commented on #1709
@luislavena thank you!

[2015-11-06 14:21] kopiczko commented on #1801
0.5.0 works for me. Thanks!

[2015-11-06 14:25] dave-tucker commented on #2195
I guess I was trying to say, instead of having one command doing 2 things for 2 different users, it might make sense to split the command in two.
`update` could be renamed `recreate` or `create --recreate` or similar if that makes it more palletable

Without splitting the behaviours, the other approach I can think of would be as follows:
- add some logic that looks at the b2d iso and see's if it's

[2015-11-06 16:00] blazarecki commented on #1709
+1

[2015-11-06 16:30] arun-gupta commented on #1149
@dgageot cannot reproduce, so closing is fine. Will file if it happens again.

[2015-11-06 16:30] #1149 closed

[2015-11-06 17:25] mailjainrahul commented on #1491
+1

[2015-11-06 19:40] nathanleclaire opened #2209 "Use samalba/dockerclient instead of templating docker run commands for Swarm"
See: https://github.com/docker/machine/pull/2202#issuecomment-154512024

We used a template which was pretty effective for getting started to run Swarm containers but, as noted in the linked issue, it is not compiler-safe and also is slightly hacky.  Using Sam's Docker client library would be preferable.

[2015-11-06 19:43] nathanleclaire commented on #2206
We do do saves after many actions we perform including `regenerate-certs`, `start`, `stop`, `restart`, `kill`, `upgrade`, and `ip`, so while it might not cover every single use case you should be able to modify the struct parameters in the driver and have them persisted correctly after all of those operations as well.  If there are additional places where it is not saving but should be we can look

[2015-11-06 19:45] nathanleclaire commented on #2206
See: https://github.com/docker/machine/blob/master/commands/commands.go#L465

Granted, looks like it might not save if there are errors, but we could potentially fix that.

[2015-11-06 20:27] nathanleclaire commented on #2183
@eyakcn Please try master if you can and make sure to verify that it solves your issues.  Thanks!

[2015-11-06 20:29] nathanleclaire commented on #1518
I think a `docker-machine provision` command (https://github.com/docker/machine/pull/2121) might help to re-bootstrap swarms after  restarting the hosts they are located on.

[2015-11-06 20:46] mjpizz commented on #179
+1 to this. Has any thought been given to a bidirectional tool like [unison](https://www.cis.upenn.edu/~bcpierce/unison/)?

[2015-11-06 21:25] dave-tucker commented on #2200
.. I have a patch in progress for this

[2015-11-06 21:42] NeilW commented on #2206
We need to save the driver details after every action that uses the driver - even the viewing ones. Any one of the main actions could call out with an expired auth token, which would trigger the use, and therefore the revocation and replacement, of the refresh token.

Once the refresh sequence is lost, you have re-auth to recover.

And of course it could be some considerable time between docker-ma

[2015-11-06 21:53] ljrittle commented on #1518
I think this feature: https://github.com/docker/docker/pull/17364 propagated through swarm may be a better idea to handle machine re-IPing than making someone manually invoking `docker-machine provision` to re-bootstrap after a machine restart.

[2015-11-06 22:49] nathanleclaire commented on #1518
Hm, I see.  So the issue is around the TLS certificates becoming invalid because the IP addresses change?

[2015-11-06 23:54] ain opened #2211 "Machine creation hangs"
[code]
hangs indefinitely.

[code]

[2015-11-07 00:00] ain commented on #2211
`docker-machine create -d virtualbox ruby` works, but takes way longer than in `1.8.3` for instance.

[2015-11-07 00:00] #2211 closed

[2015-11-07 00:06] nathanleclaire commented on #2211
@ain Feel free to post the `docker-machine --debug create` logs so we can take a look at what might be causing the slowness.

[2015-11-07 00:20] ain commented on #2211
Right now it feels like a broadband problem. Will retry on office connection on Monday.

[2015-11-07 00:42] nathanleclaire commented on #2211
The boot2docker ISO, most likely.

[2015-11-07 01:14] yyyc514 commented on #788
Any news on this?  Just tried with VMWare Fusion 8 and this behavior is super annoying.

[2015-11-07 01:36] yyyc514 commented on #788
vmrun:

[code]

I was just about to suggest looking into this, but it only seems to work short-term... so perhaps that's what docker-machine is using already... you can fire up a machine WHILE VmWare is running and it's hidden but if you re-launch VmWare then it becomes visible and the GUI is prone to mess with it.

[2015-11-07 01:43] nathanleclaire opened #2213 "Proposal: Run core integration tests in CI using dind driver"
<img width="752" alt="screen shot 2015-11-06 at 5 34 15 pm" src="https://cloud.githubusercontent.com/assets/1476820/11012710/009a4d4a-84ad-11e5-9c1c-a3e126e7bc2f.png">

I have https://github.com/nathanleclaire/docker-machine-driver-dind project which is a Docker-in-Docker driver for Docker Machine.  It runs (although some tests fail due to some hack / provisioning shortcomings we current have) the

[2015-11-07 01:47] nathanleclaire commented on #2190
Really we should probably just take that block out.  It was a decent effort, but I think our current cleanup model (self-destruct if a server hasn't heard from clients past a given heartbeat interval) is pretty safe.  That said, I'm open to ideas on how to test to make sure we don't accidentally start leaking processes at some point in the future.

[2015-11-07 02:08] nathanleclaire commented on #2182
Please try with 0.5.0 and let us know if the problem persists.  Please ensure that `default` is a machine existing in the VirtualBox GUI.  If it isn't, trying `docker-machine rm`ing it and re-creating it.

[2015-11-07 02:08] #2182 closed

[2015-11-07 02:16] #2167 closed

[2015-11-07 02:23] nathanleclaire opened #2217 "Exits from program sometimes cut off plugin output"
I'm not sure the exact solution since the concurrency around this is sort of tricky, but I notice that sometimes if the drivers exit with an error the scanners for STDOUT and STDERR don't have a chance to catch up.  So, if the plugin forces the main program to exit through an error etc., the logs will not be complete.  It's not a brutal bug but it's pretty annoying and I don't want to lose any inf

[2015-11-07 04:33] ljrittle commented on #1518
@nathanleclaire Another issue is that `docker-machine` (because there was no better way until recently) hard-codes the dotted IP address of the host in the swarm container setups.  I can't speak for all setups but using the boot2docker.iso (1.7.1 - 1.9 and likely before) with `--swarm` upon vsphere with DHCP IP assignment yields a broken swarm after a power cycle.  I have found that one does not n

[2015-11-07 07:29] jurosh commented on #1031
Thanks for advice to clear VirtualBox network interfaces. It helps me to fix long lasting issue with Docker on Windows10.
There was existing NetworkAdapter which was holding IP adress or something, so without removing it manually from virtualbox docker always fails.
- this should be definitely written in documentation, or fixed as it's really quite big issue...

[2015-11-07 07:32] jurosh commented on #2005
Seems like it was issue with Network Interfaces in virtualbox - created by docker before. It was blocking new instance to be created properly - I found this advice in this thread https://github.com/docker/machine/issues/1031.
This probably should be in Documentation of Docker as seems like it's pretty common issue happening to peaple using Windows and also Mac.

[2015-11-07 15:13] #2153 closed

[2015-11-07 15:43] dgageot commented on #2186
closed this in 1f0de8f

[2015-11-07 15:43] #2186 closed

[2015-11-07 15:45] dgageot commented on #1399
A log was added in 1f0de8f. It makes it clearer that the machine has to be started before it's stopped

[2015-11-07 15:45] #1399 closed

[2015-11-07 20:42] arun-gupta opened #2218 "Node discovery for Docker Machine"
`docker daemon --help | grep cluster` allows host to set the cluster store information for Docker daemon to Consul or something else.

In order to achieve similar behavior using Docker Machine, do I need to use the following command?

`docker-machine create -d=virtualbox --engine-opt --cluster-advertise=value --engine-opt --cluster-store=value test`

Is that the correct behavior or there is a bett

[2015-11-07 21:48] narqo opened #2219 "Error "tcp: too many colons in address <IPv6 addr of created machine>:2376" when executing env command"
I've successfully created a machine using `openstack` driver, but when I execute `docker-machine env <my-machine>` I get an error:

[code]

My machine is running inside IPv6-only network and looks like the only way to manage it with docker-machine is to specify `$DOCKER_HOST` env variable manualy using machine's fqdn.

At the same time I can ssh to machine with `docker-machine ssh <my-machine>` as

[2015-11-07 22:00] #2145 closed

[2015-11-07 22:01] narqo commented on #1312
Definitely :+1: here! Was quite shocked when I've seen my password from my cloud-provider stored in a plaintext on the fs.

[2015-11-07 23:12] thomascooper commented on #1518
+1

i know there is a lot of talk about what the impact of this would be on production servers, but this is a huge pain. I am trying to maintain the same docker-compose for production and local osx dev, and everything works, but if you laptop hits low power, or you reboot for any reason, having to destroy and rebuild the swarm and swarm nodes then re-deploying makes the solution almost unusable.

[2015-11-08 02:58] bhurlow commented on #1328
gotta give this a `+1` as well

[2015-11-08 04:05] eyakcn commented on #2183
@nathanleclaire I tried the master branch, the commit hash is 93376828af9aa9bc7734fcf0440e2baedf3aca4f

And then I tried to build the binary by:

$ export USE_CONTAINER=true
$ TARGET_OS=darwin TARGET_ARCH="amd64" make cross

But the binary built in this way still cannot connect to the machine created without a driver.

[2015-11-08 17:03] outcoldman opened #2220 "Do not store digiral ocean access tokens in plain (base64) text"
Recently I have changed my access token in DO and after that I have found few issues:

1. Docker Machine stores access token in Plain Text (before it was a plain text, now it is in base64, which basically the same thing). You have zero mentions about that on docs http://docs.docker.com/machine/get-started-cloud/ or when you create a driver. My concern is - when I create machine on DO - I actually

[2015-11-08 18:47] bhurlow commented on #2155
Hi @nathanleclaire :+1: for this. I was attempting to write some import/export tooling for docker machines and got tripped up by this RawDriver struct. Why base64 encode that at all?

[2015-11-08 19:35] arun-gupta opened #2221 "None network with null driver"
The default set of networks created on Docker Machine are:

[code]

The "`none`" and "`null`" network seems wrong.

[2015-11-08 19:48] dmp42 commented on #2221
@nathanleclaire wdyt?

[2015-11-08 22:58] cboettig commented on #606
Just a comment that I often get the same error:

[code]

even when `docker-machine ls` shows no machines (and thus `docker-machine rm -f ` doesn't do anything), and sometimes even after deleting the `~/.docker/machine/certs` directory where those certifications exist.  I'm seeing this using the amazonec2 driver, and still experiencing this on docker-machine v0.5.0.  I'd love guidance on how to rec

[2015-11-09 00:00] sjrocks commented on #1706
Please share the workaround if any. I am facing similar issue with Docker Toolbox 1.9.0b.

Lost almost a day on doing this but with no positive results

[2015-11-09 00:14] mrsheepuk commented on #1706
@sjrocks I've found that, on Windows 10 at least, ensuring that I always run docker-machine in an administrator command prompt or powershell session, and if it doesn't work after resuming or rebooting my machine, I do `docker-machine start dev` to ensure it's running, then `docker-machine ssh dev` to SSH onto the machine, then `sudo shutdown -r now` on the resulting SSH session to restart the dock

[2015-11-09 01:18] sjrocks commented on #1706
Thanks @mrsheepuk !!!

[2015-11-09 01:31] hsingh23 opened #2222 "aws driver ssh exits with 255 (v5)"
Docker Machine v5, (aws ec2), default ami, us-west-2 region
When i run the create command - I get the following:

Getting to WaitForSSH function...
(aws01) Calling RpcServerDriver.GetSSHHostname
(aws01) DBG | Making AWS API call with values:
(aws01) DBG | {
(aws01) DBG |     "Action": [
(aws01) DBG |         "DescribeInstances"
(aws01) DBG |     ],
(aws01) DBG |     "InstanceId.1": [
(aws01) DBG |

[2015-11-09 10:25] gijzelaerr opened #2223 "docker-machine env gives 'read: connection reset by peer'"
I'm trying to connect docker-machine to a fresh new remote docker host running Ubuntu 14.04, but running `env` keeps giving me 'connection reset by peer'. The docker client on the machine itself just works. The port is not blocked by a firewall or iptables.

[code]

[code]

[2015-11-09 10:40] MilindAtGithub commented on #1591
Same issue and nothing worked .
For me only the work around solution is to add --native-ssh for each machine.

My Env Details:
OS: OS X El Capitan Version 10.11
docker-machine version 0.5.0 (04cfa58)
VBoxManage --version
5.0.8r103449

[2015-11-09 11:55] sqpdln commented on #2175
rebooting the host os (osx in my case) worked for me.

[2015-11-09 14:44] juliengarcia commented on #1709
+1, I will try the script with the automatic update of hosts file, but definitely I want this feature!

[2015-11-09 15:46] wenlock commented on #2145
@nathanleclaire woot, thanks for getting this coded & merged so quickly, looks great!

[2015-11-09 15:49] Crispy1975 opened #2226 "OS X Outgoing Networking from Containers"
This is something of a sporadic issue over different laptops and machines. We can run Docker Machine on one laptop and have it run our multi-container environment no problem, then on another there is no outgoing network connectivity from containers at all. The OS is the same (El Capitan) and as are versions of Docker Machine and Virtualbox. We have tried removing unused ethernet interfaces, killin

[2015-11-09 15:51] derhuerst opened #2227 "create command fails, using homebrew-installed vmware fusion"
I use VMWare Fusion, installed by `brew cask install vmware-fusion`. The `vmrun` CLI tool is in my path.

The `docker-machine create …` script silently fails, because `/Applications/VMware Fusion.app/Contents/Library/vmrun` does not exist.

Please adjust the script to accept a homebrew-installed VMWare Fusion. #1434 might be related.

[2015-11-09 16:50] derhuerst commented on #2227
This works as a temporary fix for me:

[code]

[2015-11-09 17:36] mboz1212 commented on #2047
I have tried to stop McAfee with the latest Toolbox release 1.9.0b to see if this would chase the "buggy anti-virus software" message away from startup, but it will not even launch to the cmd prompt at this point:

Machine default already exists in VirtualBox.
Starting machine default...
exit status 1
Looks like something went wrong... Press any key to continue...

Upon a fresh install, I do not k

[2015-11-09 18:05] nathanleclaire commented on #2221
I think it's intended behavior of libnetwork.  That's what I get out of the box creating with Machine on an Ubuntu server and we haven't done any funny business setting up the network. @dave-tucker @mavenugo @mrjana let me know if you can confirm/deny this is expected behavior.  Thanks.

[2015-11-09 18:05] #2221 closed

[2015-11-09 18:08] nathanleclaire commented on #606
@cboettig Sometimes there can be a situation where there is a keypair created in AWS, but Machine did not clean it up properly.  If you remove it in their admin panel, it should work fine.

[2015-11-09 18:16] arun-gupta commented on #2221
Not sure if we reached closure on this issue :)

The "`none`" and "`null`" seems wrong independent of the operating system. How should a user interpret them and what are they for?

[2015-11-09 18:21] cboettig commented on #606
@nathanleclaire yup, that was it.  Thanks much!

[2015-11-09 19:04] dmlyons opened #2228 "Machine requires VM to be running to upgrade, then immediately stops it"
When running `docker-machine upgrade` it will require the machine to be running to upgrade, and the first thing it does is stop the machine.  Why can't it perform the upgrade without the machine running?  Shouldn't it do the upgrade without throwing the error?

[code]

[2015-11-09 19:39] jessefoster commented on #2047
I got the exact same errors as @puggie-wuggie in Git Bash and VBox.log on Windows 7 64-bit.  Specifically the key error is *VERR_INTNET_FLT_IF_NOT_FOUND* inside VBox.log.  After struggling with these errors the past several days I found a [thread](https://forums.virtualbox.org/viewtopic.php?f=6&t=70199) on the VirtualBox forums which mentions how the latest NDIS driver has a lot of issues on Windo

[2015-11-09 19:41] mavenugo commented on #2221
@arun-gupta the `none` network is required to provide backward compatibility.... same as we do for `host` and `bridge` network.
this is equivalent to the `--net=none` option that the user is familiar with when running a container using `docker run`.

The reason the driver is called `null` is because, it is a null driver which doesnt do anything (as intended by the user).... the only thing it does

[2015-11-09 19:45] nathanleclaire commented on #2221
Thanks @mavenugo !

[2015-11-09 19:56] nathanleclaire commented on #2155
@bhurlow It's just how `[]byte` gets `json.Marshal`ed by Golang.  It's kind of an implementation detail of the plugins' first iteration that, as mentioned, I'd like to get rid now that it's apparent it's not really needed.

[2015-11-09 20:00] #2154 closed

[2015-11-09 20:27] dcoraboeuf opened #2229 "Copying Docker machine definitions from one platform to the other"
Hi, here is my use case:

* I have created a Digital Ocean Docker Machine from my MacOS, and its definition is stored in `.docker/machine/machines/my-machine`
* I copy this `.docker/machine/machines/my-machine` folder onto a Ubuntu machine
* both environments have Docker Machine 0.5.0
* the copied Docker Machine appears correctly in the list
* but I cannot connect to it because of certificate issu

[2015-11-09 20:47] dsifford opened #2230 "Windows + Bash: Issue with `docker-machine env --shell bash xxx`"
I apologize if this issue has already been created (I looked briefly for it).

### My setup
- Windows 10 Pro, Beta (fast build)
- Docker Toolbox (latest)
- Shell: bash

### Here's what's happening:

[code]

### The issue
Running `eval` on a filename containing spaces will not work unless properly formatted.

[code]

### The solution
Format the above bash `eval` script like this...

[code]
1. Conve

[2015-11-09 20:56] nathanleclaire commented on #2228
It's a known issue (https://github.com/docker/machine/issues/1399)

Machine needs the machine to be up in order to ask them which OS they are so it can know how to proceed with the upgrade.

We might store the computed OS information in the future since it's unlikely to change much.

[2015-11-09 20:59] nathanleclaire commented on #2220
Duplicate of: https://github.com/docker/machine/issues/1312

This, I am happy to accept proposals for how to do, and is something I want to address in Machine in the future.

It's because it needs to look up the VM's IP address from the DigitalOcean API.  We could store it locally, but then there's yet another stateful bit to keep track of, so I don't plan on covering it soon.

[2015-11-09 20:59] #2220 closed

[2015-11-09 21:00] nathanleclaire opened #2231 "Duplicate host only interfaces not detected"
Through some debugging with @mavenugo we saw a condition where VirtualBox VMs were being created successfully, but the the IP address was not reachable.  There was no VPN or proxy issue involved.

We noticed eventually that the issue seemed to be that there was a host only interface with a duplicate IP address as another host only interface, so attempting to connect to them after creation was bugg

[2015-11-09 21:51] natemcmaster opened #2232 "[hyper-v] create fails if not run as admin"
Creating a docker-machine fails inexplicably when not running from an administrator shell.
Running `PS> docker-machine create -d hyperv default` fails on the Resize-VHD step due to "General access denied".

This error is hidden unless running in debug mode. It would be more helpful to catch this error and show a message explaining the workaround. (In this case, just "Run as Adminstrator").

[2015-11-09 21:55] natemcmaster commented on #2219
I got this same issue when trying to create a machine on Hyper-V

[code]

[2015-11-09 22:25] nathanleclaire commented on #2145
@wenlock :+1:

[2015-11-09 22:29] bhurlow commented on #2155
ah! that makes sense thanks

[2015-11-09 22:35] nathanleclaire commented on #2183
@eyakcn Did you copy the compiled binaries to your `PATH`?  Does `docker-machine ls` report `none` machine state as `Running` after creating e.g. `docker-machine create --driver none --url foo.bar foobar`?  If that is true and it still isn't working, please let us know your latest symptoms.

[2015-11-09 22:53] bmoo opened #2234 "Need way to specify host DNS"
I'm using a custom registry that is hosted on my company's intranet. In order to connect to the intranet (and the registry) I use Cisco AnyConnect on my Mac. When I use docker-machine to provision VMs, I can specify the DNS settings to use inside containers but I can't specify any DNS settings on the host. For the "docker pull" command to pull containers from my registry, I must have intranet DNS

[2015-11-09 22:55] dmlyons commented on #2228
Ah, thanks, my search-fu failed me, didn't mean to open a duplicate.

[2015-11-10 01:23] dxh commented on #1684
@crioux good job!

[2015-11-10 01:55] hsingh23 commented on #2222
Using SSH client type: external
&{/usr/bin/ssh [/usr/bin/ssh -o PasswordAuthentication=no -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o ControlPath=no harsingh@54.172.80.238 -i /home/harsingh/.docker/machine/machines/aws/id_rsa -p 22] []  <nil> <nil> <nil> [] <nil> <nil> <nil>

[2015-11-10 03:46] zymplsi commented on #13
+1

[2015-11-10 04:22] squillace commented on #2161
@hsingh23 Go ahead and use CoreOS or Ubuntu images, or any one of the other images that have docker preinstalled. Pricing for Cloud Services are located [here](https://azure.microsoft.com/en-us/pricing/details/cloud-services/). "Cloud Services" are the basic networking infrastructure to host your VM (storage, networking, subdomain, lb if you want more VMs inside it) and that's it. Everyone gives y

[2015-11-10 04:49] squillace opened #2236 "Azure Driver: cannot create vm; fails with isavailable internal error (yosemite/ubuntu 14.04 LTS)"
I've tried to figure this out, but I've had bad luck on two machines now, so filing the issue to make sure I'm doing something incorrectly.

On mac, Docker Tools installation fresh. d-m verison 0.5.0 (04cfa58) on both machines.
- `docker-machine create --driver virtualbox` works perfectly.
- `docker-machine create --driver azure` fails with an internal error on both the mac and the ubuntu.

Mac:

[2015-11-10 04:52] squillace commented on #2236
@ahmetalpbalkan I'm wondering whether the first call fails due to some auth issue, but I've imported the publishsettings file and uploaded the .cer file, so... not clear how. in any case, if that's the issue, we aren't getting any error message help here.

[2015-11-10 05:38] htmldrum commented on #2147
:+1:  for `docker-machine upgrade`

[2015-11-10 07:43] rahal commented on #2017
Hi, I'm using docker-machine version 0.5.0 (04cfa58)  and it seems to be working good so far.
I'll keep testing this week and I'll update this issue.
Thank you.

[2015-11-10 07:50] keklabs commented on #1754
I have same issue.  I uninstall old software, like Virtualbox, docker, etc.    Than I install new Docker-Toolbox 1.9.0b with default options - virtualbox and other options was installed from Tollbox installation.

When I open Virtualbox, there is Version 5.0.8 r103449.

When I try:
[code]

In VirtualBox logfile I found:
[code]

[2015-11-10 08:31] squillace commented on #2236
Update: if I get rid of the certs and simply pass the publishsettings file, directly (not using the environment variables) it works. Go figure.

[2015-11-10 08:42] jeanlaurent opened #2237 "Setup per-GOOS testing"
We have some functions which are hidden with build file suffixes `_windows.go` for instance. This concern only the virtualbox driver, for now, for VTX detection & virtualbox installation path detection.

If we want to test them we have to extend the way we test by allowing multiple run to test with each `GOOS`. And write a couple of test for each `GOOS`.

[2015-11-10 09:02] #1737 closed

[2015-11-10 09:07] Ducatel commented on #2204
I can also reproduce this issue. [I have created a thread about it in the docker forum](https://forums.docker.com/t/impossible-to-go-back-on-local-host/4259)

[2015-11-10 10:24] zlwu opened #2238 "[hyperv] docker-machine create with --engine-env does not work"
docker-machine -d hyperv --engine-env HTTP_PROXY=http://example.com:8080 does not set the proxy correctly. The environment variable does not set correctly. docker-machine is version 0.5.0, tested under windows 10.

[2015-11-10 13:15] juliengarcia commented on #1709
Based on @cookandy & @ianlintner-wf script, I've created mine.

You can configure it with a map between docker-machine-name and host name.

It will update your hosts by removing older docker machine ips and a new ones

https://gist.github.com/juliengarcia/9a208ca5cf6590b25150

[2015-11-10 13:26] mafrosis commented on #2227
Same here - manually adding a symlink fixed it:

   ln -s /opt/homebrew-cask/Caskroom/vmware-fusion6/6.0.5-2209127/VMware\ Fusion.app /Applications

[2015-11-10 14:11] dcunited08 opened #2240 "No IP on Docker-Machine Quickstart"
I ran the quickstart and had the following output:

[code]

[2015-11-10 14:17] dcunited08 commented on #2240
Versions:

dcook:~/ $ docker-machine -v                                                                                                                                    [9:16:29]
docker-machine version 0.5.0 (04cfa58)
dcook:~/ $ docker -v                                                                                                                                            [9:16:38]
Docker ver

[2015-11-10 15:00] tinchou commented on #1788
I tried updating to docker-toolbox 1.9, and everything just stopped
working. Reinstalling didn't work. I switched to my Linux dual-boot for
now, so I won't be able to test this anytime soon.

On Wed, Nov 4, 2015 at 12:19 PM David Gageot <notifications@github.com>
wrote:

[2015-11-10 18:35] hsingh23 commented on #1491
+1

[2015-11-10 18:55] nguymin4 opened #2243 "Option --store-path doesn't work properly"
I create a machine with `--storage-path` option. There is no error warnings but `docker-machine ls` shows no machines.
![with-s](https://cloud.githubusercontent.com/assets/6953273/11072341/0ca5e452-87ee-11e5-8f6b-264bfb842aef.png)
I try the machine name with other docker-machine commands but only error message: `Host "dev" does not exist`.
But when I open Virtualbox then there is a machine up and

[2015-11-10 19:30] miqui opened #2244 "make fails if you clone using https instead of ssh(i.e. git)"
make fails if you clone using https instead of ssh(i.e. git)
Looking at Makefile.inc,

# Github infos
GITHUB_INFO := $(shell git config --get remote.origin.url | sed -e 's/.*:\(.*\).git/\1/')

assumes cloning with ssh.. is worth fixing/changing for both https and git?

[2015-11-10 19:37] jeanlaurent commented on #2244
Thx @miqui to point this out.

Current code link is : https://github.com/docker/machine/blob/master/Makefile.inc#L4

As a side note, the build can't work offline.

[2015-11-10 19:42] montytorr commented on #1805
I had exactly the same problem. turns out my AWS_SSH_USER was the wrong one. Could that be it ?

[2015-11-10 19:43] dmp42 commented on #2244
That part is only used for release management.
Let's just `2>&1 > /dev/null` it and be happy.

[2015-11-10 19:43] dmp42 commented on #2244
The same thing has been done here: https://github.com/docker/machine/blob/34f818527debef02f5a3102f198e44fb911433ae/mk/main.mk#L2

[2015-11-10 20:11] jceloria commented on #1671
I am getting the same error as @MSch

-(~)$-> sw_vers && docker -v && docker-machine -v && "/Applications/VMware Fusion.app/Contents/Library/vmware-vmx" -v
ProductName:	Mac OS X
ProductVersion:	10.11.1
BuildVersion:	15B42
Docker version 1.9.0, build 76d6bc9
docker-machine version 0.5.0 (HEAD)

VMware Fusion Information:
VMware Fusion 8.0.2 build-3164312 Release

[2015-11-10 20:25] nathanleclaire opened #2246 "Docker Machine should label created engines with machine name"
Created Docker Engines currently get a few `--label` tags for things like provider, but it would be good for Swarm to get also the node name (and maybe a few additional parameters like OS?) so that scheduling to a particular node can be done by name:

e.g., pointed at a Swarm master:

[code]

cc @docker/machine-maintainers

[2015-11-10 21:37] dmp42 commented on #2180
Monsieur @chanezon and his bug are awaited by Monsieur Gageot at the bug fixing booth :-)

[2015-11-10 21:38] dmp42 commented on #2240
cc @nathanleclaire

[2015-11-10 21:45] nathanleclaire commented on #2240
@dcunited08 Does `docker-machine rm default` and re-trying opening the Quickstart fix it?

[2015-11-10 21:46] nathanleclaire commented on #2240
Also, please post the output of `VBoxManage list hostonlyifs` command if you get a chance.

[2015-11-10 21:58] dmp42 commented on #2226
cc @docker/machine-maintainers

[2015-11-10 22:28] nathanleclaire commented on #2226
Hm very odd behavior.  Please post the output of `docker-machine --debug create -d virtualbox foo` and the VirtualBox logs from that instance when you get a chance.  Is it all network connectivity or just things that go through DNS?  Does restarting the VM fix it?

[2015-11-10 22:29] nathanleclaire commented on #2244
Why are we even doing that parsing at all?  As noted here, it seems to be brittle.  Why not just hardcode `docker` and `machine` for the repo information?

[2015-11-10 22:31] nathanleclaire commented on #2243
If it's custom, you have to specify the `--storage-path` option for every `docker-machine` invocation.  So, `docker-machine --storage-path /custompath ls` should work.  You can set also the `MACHINE_STORAGE_PATH` environment variable to avoid typing the flag each time.

[2015-11-10 22:31] #2243 closed

[2015-11-10 22:35] nguymin4 commented on #2243
Ah I see. Thanks

[2015-11-10 22:40] nathanleclaire commented on #2180
I also can't seem to dupe this class of issues.  The environment variables have been working OK for me, at least on DigitalOcean and VirtualBox.  It is possible that there is a conversion miss on some of the flags for some drivers which is causing this issue.

[2015-11-10 22:51] nathanleclaire opened #2247 "Docker Machine should support trusting DTR instances and custom CAs at create time"
@metcalfc pointed out to me that hack scripts like this: https://gist.github.com/metcalfc/50060709ee9d22ec620e are being used to trust company's custom self-signed certs in boot2docker so that they can pull from their internal registry.

@nicokabar has a similar issue of wanting to automatically trust a given [Docker Trusted Registry](https://www.docker.com/docker-trusted-registry) at create time.

[2015-11-10 23:02] dmp42 commented on #2244
@nathanleclaire portability, and ability to test on a fork more easily come to mind.
Doesn't look like the fix is specially complex (and it does only matter for publication).

[2015-11-10 23:04] nathanleclaire commented on #2247
cc @nicolaka

[2015-11-10 23:10] nathanleclaire commented on #2244
@dmp42 What kind of portability are you referring to?  As for ability to test on a fork, editing two variables by hand seems a pretty reasonable tradeoff to me to get our Makefile simpler.

[2015-11-10 23:29] dmp42 commented on #2244
Portability of the makefile.

About "simplification", it's doubtful that replacing these by consts is going to make the makefile significantly simpler (what would make it simpler is extracting the in-container build, but that would come at a price too).

Nevertheless, we certainly have more important stuff to fix right now :)

[2015-11-11 00:47] bergtwvd commented on #1911
Sorry to take so long to get back.
In installed Docker 1.9.0 (Virtual Box on Windows), and upgrade docker-machine to 0.5.0 (Windows 7).

I do the following below and run into an issue (described at the end here under).

====================
C:\Users\bergtwvd\bin> .\docker-machine.exe create -d virtualbox --swarm --swarm-image="swarm" --swarm-master --swarm
-discovery="consul://$(docker-machine ip

[2015-11-11 00:47] guiantunes opened #2248 "docker-machine upgrade downgraded my vm"
Hi, Just upgraded to version 1.9.0b was using 1.8.0 before, but my mac still had files from older boot2docker and Kitematic. Everything was working fine but when I upgrade to 1.9 I needed to upgrade the VM. I ran docker-machine upgrade dev and it took an old version of a boot2docker.iso from this path:
/Applications/Kitematic (Beta).app/Contents/Resources/resources/boot2docker.iso which was versio

[2015-11-11 01:17] Crispy1975 commented on #2226
Will post logs tomorrow as it's late here now...

The VM has full external connectivity, can ping hosts, download Docker images no problem. But when building an image that requires a download - apt-get for example - the operation fails on certain machines.

[2015-11-11 02:34] nathanleclaire commented on #2226
So it's just containers which lack network connectivity, eh?  Please make sure to include the daemon logs (`/var/log/docker.log` in the VM) and configuration `/var/lib/boot2docker/profile`).

Please also check if `ping` works inside containers and when pointed directly at an IP, e.g.:

[code]

If hitting IP addresses directly works, I suspect our old friend DNS resolution.  In that case, try chang

[2015-11-11 02:44] nathanleclaire commented on #1911
I think I have seen an issue like this and the problem was that there were duplicate host only interfaces as mentioned in https://github.com/docker/machine/issues/2231.  @bergtwvd when you get a chance can you please paste the (verbose) output of a Docker Machine create with the `docker-machine --debug` flag set?  In particular I'm interested to see which host only interfaces exist on your machine

[2015-11-11 03:20] marciol commented on #1518
+1

[2015-11-11 04:18] EpocSquadron commented on #13
+1 This is the only thing holding me back from rolling toolbox out as a development environment solution for our developers. I have a hacked-together setup similar to docker toolbox that utilizes nfs specifically because vboxfs gives permissions and performance issues.

[2015-11-11 06:51] chhaj5236 commented on #1709
+1

[2015-11-11 08:21] jeanlaurent commented on #2244
This is super tiny, it does not change the world, this is only affecting release management BUT it prevent some user from easily building docker-machine and thus probably affect the # of contribution we could get.

Note that, I did this with @dgageot in pairing and that we couldn't fully run the `make release` since it does a `git tag` + `git push`on master and we couldn't spot a "dryRun" flag or

[2015-11-11 08:23] ahmetalpbalkan commented on #2236
Sounds a lot like #2180 (azure driver and environment variables)...

[2015-11-11 08:30] squillace commented on #2236
Yeah,  except that Monsieur @pchanezon didn't post the error trace. If it said "internal error" I'd be convinced.  :-)

That said,  at very least I'd love it if the error message could do a bit better... :-)

[2015-11-11 09:52] ain commented on #2149
We're having the same issue so `net/http: request canceled while waiting for connection` comes on v2 when falling back to v1 which eventually fails to pull with `Error: image testimage:latest not found`.

On another machine that is also running `1.8.3`, the same thing succeeds on v2.

[2015-11-11 10:29] Diaoul commented on #2143
I'm affected by this too

    $ cat /etc/redhat-release
    Red Hat Enterprise Linux Server release 6.6 (Santiago)

[2015-11-11 11:01] vecernik commented on #1303
docker-1.9@ubuntu14 / docker-machine-0.5@osx is broken now, but used to work with previous versions.
user@osx$ ping dockerhost; ssh dockerhost; telnet dockerhost 2376 - OK

user@osx$ docker-machine -D create -d none --url=tcp://dockerhost:2376 dockerhost
Docker Machine Version: 0.5.0 (HEAD)
Found binary path at /usr/local/bin/docker-machine-driver-none
Launching plugin server for driver none
Plugi

[2015-11-11 11:12] benzid-wael opened #2252 "Panic running docker-machine ls"
I'm running on OSX EL Capitain, after starting my virtual dev machine with `docker-machine` command, I wan't able to configure my shell and below the error:

[code]

When I run `docker-machine ls`, I got:

[code]

[2015-11-11 11:16] fesor commented on #13
@EpocSquadron you can try https://github.com/codekitchen/dinghy

[2015-11-11 11:45] Oliboy50 commented on #1303
I think it has been replaced by `generic` driver
https://docs.docker.com/machine/drivers/generic/

[2015-11-11 12:27] eyakcn commented on #2183
@nathanleclaire It's really strange, after I updated the master branch, and run

$ TARGET_OS=darwin TARGET_ARCH="amd64" make cross

I can not find the build output of bin/

[2015-11-11 13:04] yonah-codefresh commented on #1702
+1

[2015-11-11 13:40] jeanlaurent commented on #2252
@benzid-wael can you give more detail about the 1st command with `docker-machine` you typed ?

I mean before doing the `docker-machine ls`

[2015-11-11 14:44] dcunited08 commented on #2240
Cleanup and VBoxManage settings:

[code]

Rerunning Quickstart Script:

[code]

[2015-11-11 14:52] outcoldman commented on #2046
@nathanleclaire do you think that it can be useful if docker-machine will do all of these steps automatically? Download the latest docker and make it work in the same way as virtualenv works for python?

[2015-11-11 14:59] benzid-wael commented on #2252
Bellow the commands that I executed juster after opening a shell window:
[code]
and you have already the output of the second and third commands.

After restarting the dev machine, I was able to configure my shell

[2015-11-11 15:08] tabr0201 commented on #2147
+1 for docker-machine upgrade - assuming the only thing being upgraded is docker-related ;)

[2015-11-11 15:38] andreasrosdal opened #2253 "Shared volume hardcoded to c:\\Users on Windows, please make it configurable"
I have trouble mounting a shared volume with Docker on Windows, because the shared volume path is hardcoded to c:\\Users on Windows. The relevant code can be seen here:
https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L368

Since this is the directory I want to refer to from the docker container, I get problems with the space and 'ø' character:   C:\Users\Andreas Røsd

[2015-11-11 16:20] selimekizoglu commented on #1395
Any update on this?

[2015-11-11 16:31] frapposelli commented on #1671
To all the folks still having the problem, can you please file a service request with VMware support and post the SR number so I can track? I want to nail this down but so far I was not able to reproduce it at all.

[2015-11-11 16:33] frapposelli commented on #788
@yyyc514 the `nogui` option is what the driver uses to spin up the VM, but if you launch the Fusion app you'll see the VM console regardless, there is currently no workaround for this on the `docker-machine` side.

[2015-11-11 16:40] frapposelli commented on #2176
@ThatsNinja did you sort this out?

[2015-11-11 16:45] frapposelli commented on #2142
There is no support for suspend/resume in docker-machine, hence no support for it, theoretically, a VM in a suspended state can be powered on without issues, but it's not tested as part of the driver.

[2015-11-11 16:46] ThatsNinja commented on #2176
@frapposelli Somewhat, yes. Put simply, the error being reported was correct inasmuch as our DNS configuration was bad, and I was being directed to the wrong IP.

Still, I initially thought this might be a driver issue because the output in the error didn't match my input parameters. Fixing the error output to properly display could help prevent confusion for others in the future.

[2015-11-11 16:49] frapposelli commented on #2176
@ThatsNinja well, `connection refused` is a pretty straightforward message, also the error message is being rewritten in a more succinct way with the driver rewrite.

[2015-11-11 16:52] ThatsNinja commented on #2176
Yes, the `connection refused` error was correct. As for the output I was referring to, please see:

[2015-11-11 16:53] frapposelli commented on #2176
yes, the error you see is what `govc` reports, in the vsphere driver rewrite we're using govmomi directly so we can manipulate the message in a better way.

[2015-11-11 17:05] geek commented on #1671
@frapposelli have a link and anyone we need to tag in the issue?

[2015-11-11 17:06] frapposelli commented on #1460
@adambiggs I cannot reproduce the corruption problem anymore, can you please provide me some repro steps?

[2015-11-11 17:08] frapposelli commented on #1671
@geek use this link as a starting point: https://www.vmware.com/support/file-sr/ and feel free to mention me directly in the SR.

[2015-11-11 17:59] geek commented on #1671
@frapposelli can you help direct me to a support number to call, I can't seem to get anywhere on the site.

At this point I just want a refund.  I am not a fan of Oracle, so I went with VMWare to avoid using virtualbox.  VMWare advertised that it works with docker.  The docker site even makes this claim and links to your driver @frapposelli.  Definitely is not working as advertised and at this poi

[2015-11-11 18:31] PavelVanecek commented on #2252
I have noticed the very same error. I installed docker toolbox and then executed:

    docker-machine
    docker-machine ls

That gave me the panic and stack trace. Then I launched the quickstart terminal and `ls` works now.

- docker-machine version 0.5.0 (04cfa58)
- OSX 10.10.5

[2015-11-11 18:56] frapposelli commented on #2227
This should've been fixed in the latest `0.5.0` version, are you guys using the latest released version of `docker-machine` ?

[2015-11-11 18:58] frapposelli commented on #1671
@geek numbers are listed here https://www.vmware.com/support/file-sr/file-sr-phone.html:

U.S. and Canada: 1-877-4-VMWARE (1-877-486-9273) or 1-650-475-5345.

for international numbers: https://www.vmware.com/support/contacts/us_support.html

[2015-11-11 19:02] dmp42 commented on #2244
Agreed about fixing this :)

[2015-11-11 19:07] dmp42 commented on #2183
@eyakcn I believe Monsieur @dgageot broke the build here :) https://github.com/docker/machine/pull/2239/files#diff-47b96c240fe19eb8a0c14dc47e9f4c38R33

[2015-11-11 19:09] dmp42 opened #2255 "`make cross` no longer copy binaries into the host"
https://github.com/docker/machine/pull/2239/files#diff-47b96c240fe19eb8a0c14dc47e9f4c38R33

[2015-11-11 19:10] mafrosis commented on #2227
docker-machine version 0.5.0 (HEAD)

[2015-11-11 19:25] nathanleclaire commented on #2046
@outcoldman If you think about it Docker Machine already kind of does this.  You could pretty easily create a few different VMs with different versions and `ssh` into them to use different versions of Docker.  However, the latest version of Docker is almost ubiquitously the best, so I'm not really sure why you'd feel the need to do so.

[2015-11-11 19:28] smerrill commented on #1857
I am still getting this on a Mac with docker-machine 0.4.1 running 1.8.1 in a VM and it appears to be related to /etc/resolv.conf.

I started a docker-machine at home where my DNS gateway is 192.168.0.1. When I head into the office, that is no longer the proper DNS gateway, but /etc/resolv.conf in the VM still points to 192.168.0.1.

In my case, changing /etc/resolv.conf to point at 8.8.8.8 made `

[2015-11-11 19:33] GiantEnemyCrab opened #2256 "Error creating machine: Error in driver during machine creation: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory"
I run a command like:

[code]

I get
[code]

Here is my environment
[code]

Would be great if anybody could point me to resolve this.

Here is the --debug output: https://gist.github.com/GiantEnemyCrab/633c6c7e9f8fd929d348
And here is the VBox.log: https://gist.github.com/GiantEnemyCrab/43f3f9990af26deec4c8

[2015-11-11 19:53] eyakcn commented on #2183
@dmp42 Thank you :)
I will try again after it's fixed

[2015-11-11 20:02] dmp42 commented on #2256
Hi @GiantEnemyCrab

I believe the error message tells you what's wrong and what to do:

`This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory`

You need to go into your laptop BIOS and enable VT-X/AMD-v.

[2015-11-11 20:05] GiantEnemyCrab commented on #2256
Thanks for the response! Actually, I am on vmware and it's one of the VMs, headless. I am not the admin of the machine, but I suppose it is still possible to configure it?

[2015-11-11 20:06] dmp42 commented on #2256
So, you are *inside* a VMWare VM and trying to start virtualbox inside it?

[2015-11-11 20:08] GiantEnemyCrab commented on #2256
yes, I am on the VM server (not physical) and trying to create docker machine with the virtualbox docker inside that VM.

[2015-11-11 20:10] dancingshell commented on #1857
I had the same problem and changing /etc/resolv.conf to `8.8.8.8` works.

However, it seems that that file resets to default ip and then the machine can no longer connect to the internet. Any info on how this file gets set?

[2015-11-11 20:26] nathanleclaire commented on #2256
I do have VirtualBox inside of VMware Fusion working on a VM on my laptop, you have to toggle a setting in the Preferences menu for the VM to get nested virtualization to work though.

[2015-11-11 20:26] GiantEnemyCrab commented on #2256
Ok thanks for the feedback about virtualization inside virtualization!

[2015-11-11 20:28] nathanleclaire commented on #2256
@GiantEnemyCrab If our VTX check is preventing you from being able to make a VM when you otherwise could (e.g. with older versions of Machine), then we should fix it, but check to make sure creating any VM at all works please.

[2015-11-11 20:29] GiantEnemyCrab commented on #2256
Thanks for the feedback so far to both of you.

The older versions, I could try 0.4.1 or 0.4.0 and come back here with results.

[2015-11-11 20:34] FrenchBen commented on #2142
The issue is that a VM in a suspended state will not come back to life via the start/stop issued by docker-machine. Does the driver not allow for this to happen?

[2015-11-11 21:18] GiantEnemyCrab commented on #2256
hi @nathanleclaire

I am back here with some results. It looks like the machine itself is created in 0.4.1, I think.....
It is having a problem doing ssh into the virtualbox though. And it keeps being in the loop of attempting the ssh quite a number of times. It could be another issue?

Anyway, I will paste the debug log here.

VBox.log file: https://gist.github.com/GiantEnemyCrab/42187e86f4867028

[2015-11-11 21:27] dgageot commented on #2256
Hi @GiantEnemyCrab, before version 0.5.0, the vm was looping attempting ssh connection because the vm could in fact not be started. With version 0.5.0, the exact error is now displayed.

[2015-11-11 21:33] GiantEnemyCrab commented on #2256
ok, I somehow switched the version of virtualbox to 4.3 default, let me try with 5.0.8 again, sorry about this, and will be back with some results.

[2015-11-11 21:34] dgageot commented on #2256
To make sure that there's really a problem with the created vm, you can capture its screen with `VBoxManage controlvm vm_name screenshot.png screen.png`

[2015-11-11 22:01] ThatsNinja commented on #2176
Cheers! Thanks, @frapposelli!

[2015-11-11 22:01] #2176 closed

[2015-11-11 22:11] outcoldman commented on #2046
@nathanleclaire simple example - you have a dev, staging and production. You don't want to restart/reboot production on every docker upgrade, just when it is only necessary, because of security issues or maybe because you need new docker features. But at the same time for the staging and production you are always using the latest docker client/daemon.

[2015-11-11 22:27] nathanleclaire commented on #2046
@outcoldman I don't understand.  Either you stick to an older client binary (since older clients will talk to newer daemons just fine), or just `ssh` in to run `docker` commands on the respective servers (therefore you will always have the correct client version).  Or, you can just have client binaries locally named `docker1.9`, `docker1.8`, etc.  Either way, using `docker-machine` to manage Docke

[2015-11-11 22:30] outcoldman commented on #2046
this is a fair argument, my question was basically if you think that it can be possible that docker-machine could save right docker client into `~/.docker/machine/machinename/bin` and kind of manage it in the same way as `virtualenv`

[2015-11-11 22:38] ntfrnzn commented on #1431
It seems that this is still a live issue, I've run into it because docker networking as of v1.9 requires kernel >= 3.16. Upgrading the Digital Ocean image to Ubuntu 15 looks like the easy way to get there, except ...

[2015-11-11 22:39] nathanleclaire commented on #1431
@ntfrnzn Yes, it's quite high on the priority list.

[2015-11-11 22:48] bergtwvd commented on #1911
Just to let you know that I have re-installed Docker-Toolbox 1.9.0b to have a clean baseline.
Before I get further on the above issue, I ran into another issue (seen before, but ignored it so far), I submit that as a new issue.

[2015-11-11 22:48] GiantEnemyCrab commented on #2256
![screen](https://cloud.githubusercontent.com/assets/1326079/11105225/8933d8be-889b-11e5-98ec-77e97fbc2945.png)

Thanks @dgageot, I got the screenshot. And there is a message before the docker whale ascii art saying:

[code]

In this case, at least, VM is created using 0.4.1?

But weird, the CPU is indeed x86_64.

[code]

Hmmmm, how can I move forward?

[2015-11-11 22:56] bergtwvd opened #2257 "Docker machine tlsverify flag misses value"
On Windows 7 I installed Docker Toolbox 1.9.0b and ran through the multi-host networking example.

Step 1:
docker-machine create -d virtualbox mh-keystore
OK

Step 2:
docker $(docker-machine config mh-keystore) run -d -p "8500:8500" -h "consul" progrium/consul -server -bootstrap

docker client complains about --tlsverify flag:

PS C:\Users\bergtwvd> docker $(docker-machine config mh-keystore) run

[2015-11-11 23:12] mrwilby commented on #1872
+1. Docker-machine is a nightmare to use with a private docker repo. Restarting the VM appears to require the reinstallation of the cert via SCP and SSH (see earlier workaround). Can we have a fix for this? How are people working around this?

[2015-11-11 23:14] mrwilby commented on #1872
Also, when using docker-machine inspect <envname> I see a lot of AuthOptions configuration bindings. Does anybody know where these are documented? Can these be magic runes be configured in some way such that with a public certificate that resides on my host (i.e MacOS in my case) the docker instances running inside the vm will be able to leverage the cert and successfully authenticate with the pri

[2015-11-11 23:20] nathanleclaire commented on #2247
See also: https://github.com/docker/machine/issues/1872

[2015-11-11 23:25] nathanleclaire commented on #2046
Ah yeah, that's just not really in the scope of the project, sorry.

[2015-11-11 23:26] nathanleclaire commented on #2257
Hm, sounds like a Docker client issue.  @ahmetalpbalkan are you aware of any issue like this with the Windows client?

[2015-11-11 23:29] nVitius commented on #1872
In the meantime, you can create your docker-machine with the `--engine-insecure-registry` flag.
Note that you have to add the flag before you specify the name of your machine. i.e. `docker-machine create -d virtualbox --engine-insecure-registry myregistry:5000 dev`

[2015-11-12 00:02] nathanleclaire commented on #1872
Here's one example of a script to trust custom CAs in the created VM for reference: https://gist.github.com/metcalfc/50060709ee9d22ec620e

I do want to support this first-class eventually with something like https://github.com/docker/machine/issues/2247

[2015-11-12 00:46] sjwoodard commented on #2101
@dmp42, can you provide a description on this issue? Thanks.

[2015-11-12 01:06] ahmetalpbalkan commented on #2257
Hmm I can repro and it's totally weird, I wonder why nobody has noticed this before.

Looks like as @bergtwvd said if I do `--tlsverify=true` or move `--tlsverify` all the way to the end, it works. I can confirm this is the case only on Windows as well. Same command runs fine on Linux/Mac. My first guess is there's something wrong with docker/pkg/mflag on Windows and we should investigate it on do

[2015-11-12 01:10] dmp42 commented on #2101
@sjwoodard @nathanleclaire mentioned several people were having issues with VPN clients, specifically Cisco AnyConnect.

Right now, the guess is that such softwares are messing up with the host routing, and the first step would be to reproduce such an environment to test.

[2015-11-12 01:12] nathanleclaire commented on #2257
Thanks for looking into it @ahmetalpbalkan .

[2015-11-12 01:12] #2257 closed

[2015-11-12 01:39] sjwoodard opened #2258 "Connection Issues on VPN (Cisco AnyConnect)"
This issue stems from #1500

I'm using Docker 1.9.0 and Virtual Box 5.0.10 on Windows 7 (x64). Everything works fine in the office and at home without VPN, but after I connect to Cisco AnyConnect v 4.1.0 everything stops working. If I restart the VM while connected to the VPN, I can successfully run `docker-machine ssh default`, but using the Docker client throws this connection error:

`An error

[2015-11-12 02:15] hidekuro opened #2259 "[Feature Request] Specify virtualbox synced_folder mount_options."
I wish synced_folder options.

In Vagrantfile like `config.vm.synced_folder ".", "/vagrant", :mount_options => ['dmode=775', 'fmode=664']` to docker-machine options as `--virtualbox-share-dmode=755 --virtualbox-share-fmode=644`.

In my case, it is necessary for Inventry file of Ansible. (must not executable it.)

[2015-11-12 03:00] metasim commented on #1362
@mickours +1 on this idea.

I've just upgraded to 0.5.0, and the `--driver=none` no longer works for me (running `env` gives me a `Error running connection boilerplate: [host] is not running` error).

I like the simplicity of the `--driver=generic` approach, where it handles the credentials headache, but leaves the installation and configuration of docker daemon to me.

[2015-11-12 03:06] metasim opened #2260 "Is `--driver=none` deprecated?"
It's not clear whether the `none` driver is still supported. It's disappeared from the docs, and functionality that worked in 0.3.x no longer works in 0.5.0, yet it still exists. I see comments about `--driver=generic` replacing `none`, but it doesn't quite fulfill all the "just add it to the inventory" nature of `none`.

Clarification on driver status would be helpful.

[2015-11-12 03:38] nathanleclaire commented on #2260
It's still supported, just broken.  If you post an issue with the symptoms you are seeing, we can help fix it.

[2015-11-12 05:36] dobesv commented on #1532
$ docker-machine --version
    docker-machine version 0.4.0 (9d0dc7a)
    $ docker-machine create localhost -d none --url unix:///var/run/docker.sock --engine-tlsverify=false
    .. prints usage, does nothing ...

[2015-11-12 05:37] dobesv commented on #1532
See also https://github.com/docker/machine/issues/1435

[2015-11-12 07:54] dgageot commented on #1532
Hi @dobesv, the problem you are having is that before 0.5.0, trailing options (after the machine name) would be ignored without a warning. Please try `docker-machine create -d none --url unix:///var/run/docker.sock --engine-tlsverify=false` localhost`. Even better, upgrade to 0.5.0

[2015-11-12 07:55] dgageot commented on #1532
@mikedougherty any update on this issue? Did you try 0.5.0?

[2015-11-12 08:00] gotcha commented on #1716
I upgraded to VB 5.0.8. I started to see the same issue. I tried 5.0.4 and 5.0.10 and it still fails.
I downgraded to VB 4.3.34 and docker-machine works properly.

I think this issue should be kept opened.

[2015-11-12 08:00] dgageot commented on #2256
Hi @GiantEnemyCrab The thing is you are running VirtualBox *inside* VMWare VM. So even if the host is a x86-64 with hardware virtualization enabled, there's a good chance that Virtualbox isn't able to use those VT-X instructions.
@nathanleclaire How did you make it work?

[2015-11-12 08:07] dgageot commented on #2142
Hi @FrenchBen, it is not supported by the driver.

The driver uses `vmrun` and `vmrun` has couple of flaws:
+ It cannot detect that a vm is paused/suspended, it is assumed to have two states: `stopped`, `everything else`.
+ Calling `vmrun start` on a paused/suspended machine somehow tries to take it out of paused state but fails at really starting it.

[2015-11-12 08:14] dgageot opened #2262 "CI should build for all targets"
The CI that runs on Travis currently builds and tests only the linux version of `docker-machine`. When a target specific file fails to compile, the build is still green. Cf https://github.com/docker/machine/pull/2261

We should really be building and testing for all platforms on TravisCI

[2015-11-12 08:23] johnraz opened #2263 "Dynamic ip with generic driver"
Here is my use case:

I'm using a barebone computer (running ubuntu 15.04) next to my laptop (running MacOsX 10.11.1) for everything related to docker.

The barebone computer is following me as I move and hence is not always having the same ip. The ip change depending on the location (different subnets/dhcp lease), so static ip is not really an option.

I'm using avahi on the barebone to go around

[2015-11-12 09:25] jeanlaurent commented on #2262
If we find a way to build *quickly* for each OSes. This will enable per-OS unit/integration tests as hinted in  #2237

[2015-11-12 10:43] schmunk42 opened #2266 "create --swarm-opt(s) only used for master, not for nodes"
I create swarm nodes with the following command

[code]

I'd expect see this container and command running on my node

    swarm join --heartbeat 7s --ttl 121s --advertise IP:2376 token://TOKEN

But the options are not applied:

    swarm join --advertise IP:2376 token://TOKEN

AFAIK the master can use heartbeat as an option as described in the docs.

[2015-11-12 10:43] schmunk42 commented on #1395
Same question here.

As @nadiasvertex mentioned, by default your swarm-master is also a node, which may create problems during deployment, eg. if constraints are not properly set some containers will go to the master and consume resources.

Possibly related issue: https://github.com/docker/swarm/issues/1405

Current workaround for me is to manually stop the `swarm-agent` on the master.

[2015-11-12 11:21] dgageot commented on #2262
Fixed with https://github.com/docker/machine/pull/2265

[2015-11-12 11:21] #2262 closed

[2015-11-12 11:55] tiangolo commented on #2253
@andreasrosdal I made a script to make Docker Toolbox work with Babun and it sets up shared folders and volumes, you may want to try: https://github.com/tiangolo/babun-docker

Or maybe you may want to read how volumes work with VirtualBox / Toolbox and Windows, that could help you track down / solve your problem: https://github.com/tiangolo/babun-docker/wiki/Docker-Volumes-with-Babun

[2015-11-12 12:10] metasim commented on #1233
@ehazlett  I think this should be reopened because it's no longer possible to use `none` to add an already existing server along with its (manually created) certs.

[2015-11-12 12:24] jamesmeen opened #2267 "Hyperv/Windows10 - Error creating machine: Error in driver during machine creation: exit status 1"
On Windows 10 with Hyper V driver, I receive "Error creating machine: Error in driver during machine creation: exit status 1" most of the time.  Occasionally, it succeeds but I can find nothing reliable to make it succeed every time.

The new VM fails to start when instructed by the Docker Hyper V driver.  I can always start it manually successfully but then the certificates are invalid in docker